Repository hazelcast/hazelcast, pull requests merged in 2018-06, with the labels that each got.

#13213 Cleanup of leftover test files
  .gitignore
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFile.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/AbstractDiagnosticsPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsLogTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsTest.java
Labels: Type: Cleanup

#13231 Fix ManagementCenterServiceIntegrationTest.testTimedMemberStateNotNull
  hazelcast/src/test/java/com/hazelcast/internal/management/ManagementCenterServiceIntegrationTest.java
Labels: Team: Integration, Type: Test-Failure

#13240 Fixing time sensitive stastics test
  hazelcast-client/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
Labels: Backport, Cause: Test - Timing, Team: Client, Type: Test-Failure

#13232 Added detailed failure message and increased timeout
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/ExpirationManager.java
  hazelcast/src/test/java/com/hazelcast/map/BackupExpirationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/BackupExpirationBouncingMemberTest.java
Labels: Team: Core

#13239 Fixing time sensitive stastics test
  hazelcast-client/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
Labels: Cause: Test - Timing, Team: Client, Type: Test-Failure

#13228 Reset Cache.cacheManager to null when Cache is closed
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientCacheProxyBase.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientInternalCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheProxyBase.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractHazelcastCacheManager.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractInternalCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheInternal.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheCreationTest.java
Labels: Interface: ICache, Team: Core, Type: Defect

#13236 [BACKPORT] Reset Cache.cacheManager to null when Cache is closed
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientCacheProxyBase.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientInternalCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheProxyBase.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractHazelcastCacheManager.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractInternalCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheInternal.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheCreationTest.java
Labels: Backport, Interface: ICache, Team: Core, Type: Defect

#13187 Send end-of-sequence-event to query-cache if local promotion happened
  hazelcast/src/main/java/com/hazelcast/map/EventLostEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/AccumulatorInfoSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/DefaultAccumulatorInfoSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/AccumulatorSweeper.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberAccumulator.java
  hazelcast/src/main/java/com/hazelcast/map/listener/EventLostListener.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheCreateDestroyTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheDataSyncWithMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheNoEventLossTest.java
Labels: Team: Core

#13181 Added EntryLoadedListener
  hazelcast/src/main/java/com/hazelcast/core/EntryEventType.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapListenerAdaptors.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ContainsKeyOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/GetAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/GetOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutFromLoadAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutIfAbsentOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberAccumulatorHandler.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnLockAndGetOperation.java
  hazelcast/src/main/java/com/hazelcast/map/listener/EntryLoadedListener.java
  hazelcast/src/main/java/com/hazelcast/map/listener/MapListener.java
  hazelcast/src/test/java/com/hazelcast/map/BackupExpirationTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryLoadedListenerTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/LoadAllTest.java
  hazelcast/src/test/java/com/hazelcast/test/backup/TestBackupUtils.java
Labels: Interface: IMap, Team: Core, Type: Enhancement

#13206 Fix test failure in MemberMapReconciliationTest
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapReconciliationTest.java
Labels: Interface: IMap, Team: Core, Type: Test-Failure

#13207 [BACKPORT] Fix test failure in MemberMapReconciliationTest
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapReconciliationTest.java
Labels: Backport, Interface: IMap, Team: Core, Type: Test-Failure

#13246 Fix client cacheManager.getCache(null) behaviour
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCacheManager.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheBasicAbstractTest.java
Labels: Interface: ICache, Team: Client, Type: Defect

#13247 Fix client cacheManager.getCache(null) behaviour
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCacheManager.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheBasicAbstractTest.java
Labels: Backport, Interface: ICache, Team: Client, Type: Defect

#13242 Adds support for using GreaterLessPredicate in compatibility tests
  hazelcast/src/test/java/com/hazelcast/test/starter/GreaterLessPredicateConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastProxyFactory.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/GreaterLessPredicateConstructorTest.java
Labels: Team: Core, Type: Test-Failure

#13251 HazelcastStarter shouldn't fail when attempting to recreate working dir
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastStarterTest.java
Labels: Team: Core, Type: Test-Failure

#13227 Reset local metadata of partition upon run of clear-all operation.
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheInvalidationMemberAddRemoveTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapInvalidationMemberAddRemoveTest.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheEventHandler.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheClearOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/Invalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/MetaDataGenerator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
Labels: Team: Core, Type: Defect

#13241 [BACKPORT] Reset local metadata of partition upon run of clear-all operation.
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/InvalidationMemberAddRemoveTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/invalidation/InvalidationMemberAddRemoveTest.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheEventHandler.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheClearOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/Invalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/MetaDataGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/RepairingTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
Labels: Team: Core, Type: Defect

#13252 Cleanup of Javadoc suppressions for CheckStyle
  checkstyle/suppressions.xml
Labels: Type: Cleanup

#13219 Add stop state to WAN publisher
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.9.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/WANQueueFullBehavior.java
  hazelcast/src/main/java/com/hazelcast/config/WanPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanPublisherState.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalWanPublisherStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/LocalWanPublisherStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/main/resources/hazelcast-config-3.9.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
Labels: Module: WAN, Team: Core, Type: Enhancement

#13257 Wait for Map loader changes propagation after calling loadAll
  hazelcast/src/test/java/com/hazelcast/internal/adapter/IMapDataStructureAdapterTest.java
Labels: Team: Core, Type: Test-Failure

#13217 Separate WAN event diagnostics per publisher
  hazelcast/src/main/java/com/hazelcast/map/impl/MapReplicationSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationRemove.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationUpdate.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalWanPublisherStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/LocalWanPublisherStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/util/MapUtil.java
  hazelcast/src/main/java/com/hazelcast/wan/ReplicationEventObject.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/DistributedServiceWanEventCounters.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanEventCounterContainer.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanEventCounters.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
Labels: Module: WAN, Team: Core, Type: Enhancement

#13218 Add ability to WAN sync only entries updated in a certain time frame
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
Labels: Module: WAN, Team: Core, Type: Enhancement

#13256 add descriptive null checks when accessing a data structure on client
  hazelcast-client/src/main/java/com/hazelcast/client/impl/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceImpl.java
Labels: Team: Client, Type: Enhancement

#13255 add descriptive null checks when accessing a data structure on client
  hazelcast-client/src/main/java/com/hazelcast/client/impl/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceImpl.java
Labels: Team: Client, Type: Enhancement

#13267 Fix client copy message logic
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageTest.java
Labels: Backport, Team: Client, Type: Defect, Type: Test-Failure

#13262 deprecate setLicenseKey method on ClientConfig
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
Labels: Team: Client, Type: Enhancement

#13263 deprecate setLicenseKey method on ClientConfig
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
Labels: Team: Client, Type: Enhancement

#13274 Make use of backup specific WAN publishing methods
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheBackupEntryProcessorOperation.java
Labels: Team: Core, Type: Defect

#13282 [BACKPORT] Decrease amount of resources used for parrallel tests
  hazelcast/src/main/java/com/hazelcast/internal/util/RuntimeAvailableProcessors.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastParallelClassRunner.java
  pom.xml
Labels: Backport, Team: Core

#13283 [FORWARDPORT] Clarify inner classes behavior for DataSerializable
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DataSerializableSerializer.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/DataSerializable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_invokeOnPartitionsTest.java
Labels: Team: Core, Type: Test-Failure

#13276 Send disconnected event after destroy
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointManagerImpl.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#13277 Send disconnected event after destroy
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointManagerImpl.java
Labels: Backport, Team: Client, Type: Defect, Type: Test-Failure

#13264 Fix MigrationInvocationsSafetyTest
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
Labels: Team: Core, Type: Test-Failure

#13265 Fix MigrationInvocationsSafetyTest
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
Labels: Backport, Team: Core, Type: Test-Failure

#12073 Searching map config by name should prepend wildcard search
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/search/ConfigSearch.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/search/ConfigSupplier.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/search/DynamicFirstSearcher.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/search/Searcher.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/search/StaticFirstSearcher.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/search/package-info.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/ConfigSearchTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigSearchOrderTest.java
Labels: Module: Config, Source: Community, Team: Core, Type: Enhancement

#13253 Added missing JavaDoc in core package
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/core/AsyncAtomicReference.java
  hazelcast/src/main/java/com/hazelcast/core/ClientType.java
  hazelcast/src/main/java/com/hazelcast/core/DistributedObjectEvent.java
  hazelcast/src/main/java/com/hazelcast/core/EntryEvent.java
  hazelcast/src/main/java/com/hazelcast/core/EntryEventType.java
  hazelcast/src/main/java/com/hazelcast/core/IAtomicLong.java
  hazelcast/src/main/java/com/hazelcast/core/IAtomicReference.java
  hazelcast/src/main/java/com/hazelcast/core/IBiFunction.java
  hazelcast/src/main/java/com/hazelcast/core/IFunction.java
  hazelcast/src/main/java/com/hazelcast/core/ISet.java
  hazelcast/src/main/java/com/hazelcast/core/ITopic.java
  hazelcast/src/main/java/com/hazelcast/core/ItemEvent.java
  hazelcast/src/main/java/com/hazelcast/core/ItemEventType.java
  hazelcast/src/main/java/com/hazelcast/core/LifecycleEvent.java
  hazelcast/src/main/java/com/hazelcast/core/MapLoader.java
  hazelcast/src/main/java/com/hazelcast/core/MapStore.java
  hazelcast/src/main/java/com/hazelcast/core/MapStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/core/MemberAttributeEvent.java
  hazelcast/src/main/java/com/hazelcast/core/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/core/QueueStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/core/RingbufferStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/core/TransactionalList.java
  hazelcast/src/main/java/com/hazelcast/core/TransactionalMap.java
  hazelcast/src/main/java/com/hazelcast/core/TransactionalMultiMap.java
  hazelcast/src/main/java/com/hazelcast/core/TransactionalQueue.java
  hazelcast/src/main/java/com/hazelcast/core/TransactionalSet.java
Labels: Type: Enhancement

#13254 Added missing JavaDoc in monitor package
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/monitor/HotRestartState.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalCacheStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalExecutorStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalFlakeIdGeneratorStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalGCStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalInstanceStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalMapStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalMemoryStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalMultiMapStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalOperationStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalPNCounterStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalQueueStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalRecordStoreStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalTopicStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalWanPublisherStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalWanStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/MemberPartitionState.java
  hazelcast/src/main/java/com/hazelcast/monitor/MemberState.java
  hazelcast/src/main/java/com/hazelcast/monitor/NearCacheStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/NodeState.java
  hazelcast/src/main/java/com/hazelcast/monitor/TimedMemberState.java
  hazelcast/src/main/java/com/hazelcast/monitor/WanSyncState.java
Labels: Type: Enhancement

#12935 Fix HazelcastProperties javadoc #12820
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperty.java
Labels: Team: Core, Team: Documentation, Type: Enhancement

#13275 Add field for stopping WAN replication to ChangeWanStateRequest
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeWanStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/ChangeWanStateRequest.java
  hazelcast/src/main/java/com/hazelcast/version/MemberVersion.java
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterUpgradeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ChangeWanStateRequestTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/LocalWanPublisherStatsTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/LocalWanStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/NodeStateImplTest.java
  hazelcast/src/test/java/com/hazelcast/version/MemberVersionTest.java
Labels: Type: Enhancement

#13297 Simple Checkstyle fixes for test code
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigImportVariableReplacementTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheUpdateTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientTransactionalMultiMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/serialization/ClientDeserializationProtectionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/topic/Issue9766Test.java
  hazelcast/src/test/java/classloading/domain/PersonCacheLoaderFactory.java
  hazelcast/src/test/java/com/hazelcast/cache/jsr/AbstractCacheListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/MapMessageEncodeDecodeTest.java
  hazelcast/src/test/java/com/hazelcast/concurrent/semaphore/SemaphoreBasicTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/replacer/EncryptionReplacerTest.java
  hazelcast/src/test/java/com/hazelcast/mapreduce/helpers/Employee.java
  hazelcast/src/test/java/com/hazelcast/nio/SerializationClassNameFilterTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/PortableVersionTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/durableexecutor/DurableExecutorQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/executor/ExecutorQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/impl/DiscoveryServicePropertiesUtilTest.java
  hazelcast/src/test/java/com/hazelcast/test/backup/BackupAccessor.java
  hazelcast/src/test/java/example/serialization/TestDeserialized.java
Labels: Type: Cleanup

#13294 Small cleanup of DynamicConfigurationAwareConfig
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
Labels: Team: Core, Type: Cleanup

#13295 Cleanup of HazelcastTestSupport
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Team: Core, Type: Cleanup

#13308 Moved TimedMemberState to com.hz.internal.management
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberState.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ManagementCenterServiceIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/MancenterServlet.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
Labels: Team: Integration, Type: Cleanup

#13315 Delete com.hz.monitor.TimedMemberState
  hazelcast/src/main/java/com/hazelcast/monitor/TimedMemberState.java
Labels: Type: Cleanup

#13299 Fixed CheckStyle errors in new config search tests
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/ConfigSearchTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigSearchOrderTest.java
Labels: Type: Cleanup

#13280 Introduce a test rule that can change logging configuration only for …
  hazelcast/src/main/java/com/hazelcast/logging/Log4j2Factory.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggerFactorySupport.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/test/ChangeLoggingRule.java
  hazelcast/src/test/java/com/hazelcast/test/TestLoggerFactory.java
Labels: Team: Core, Type: Enhancement

#13306 Call primary or backup map wan publisher from MapEventPublisherImpl#publishWanEvent
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
Labels: Module: WAN, Type: Defect, Type: Test-Failure

#13339 TestLoggerFactory fixes
  hazelcast/src/test/java/com/hazelcast/test/TestLoggerFactory.java
Labels: Team: Core, Type: Test-Failure

#13334 add getPositiveMillisOrDefault
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/HeartbeatManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Team: Client, Team: Core, Type: Cleanup

#13323 Cleanup of FirewallingConnectionManager
  hazelcast/src/test/java/com/hazelcast/nio/tcp/FirewallingConnectionManager.java
Labels: Team: Core, Type: Cleanup

#13189 discovery via hazelcast.cloud is implemented for client
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientCloudConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientNetworkConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientConfigBuilder.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientConnectionManagerFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/DefaultClientConnectionManagerFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudAddressTranslator.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/properties/ClientProperty.java
  hazelcast-client/src/main/java/com/hazelcast/client/util/AddressHelper.java
  hazelcast-client/src/main/resources/hazelcast-client-config-3.11.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientConnectionManagerTranslateTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/ConflictingConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudTranslatorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.11.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
Labels: Team: Client, Type: Enhancement

#13191 discovery via hazelcast.cloud is implemented for client
  hazelcast-client/src/main/java/com/hazelcast/client/impl/ClientConnectionManagerFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/DefaultClientConnectionManagerFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudAddressTranslator.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/properties/ClientProperty.java
  hazelcast-client/src/main/java/com/hazelcast/client/util/AddressHelper.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientConnectionManagerTranslateTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/ConflictingConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudTranslatorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
Labels: Backport, Team: Client, Type: Enhancement

#13203 Split up MigrationPlanner::planMigrations to mitigate C2 compiler bug
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationPlanner.java
Labels: Team: Core, Type: Cleanup, Type: Defect

#13344 The MemoryStats are now available as metrics
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/memory/MemoryStats.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/instance/TestNodeContext.java
Labels: Team: Integration, Type: Enhancement

#13330 Fix handling of local Node ID overflow
  hazelcast-client/src/test/java/com/hazelcast/client/flakeidgen/impl/FlakeIdGenerator_NodeIdOverflowIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorProxy.java
  hazelcast/src/test/java/com/hazelcast/flakeidgen/impl/FlakeIdGenerator_NodeIdOverflowIntegrationTest.java
Labels: Team: Core, Type: Defect

#13331 Fix handling of local Node ID overflow [backport of #13330]
  hazelcast-client/src/test/java/com/hazelcast/client/flakeidgen/impl/FlakeIdGenerator_NodeIdOverflowIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorProxy.java
  hazelcast/src/test/java/com/hazelcast/flakeidgen/impl/FlakeIdGenerator_NodeIdOverflowIntegrationTest.java
Labels: Team: Core, Type: Defect

#13337 MapSetTTLBackupTest timing issue fix
  hazelcast/src/test/java/com/hazelcast/map/MapSetTTLBackupTest.java
Labels: Cause: Test - Timing, Interface: IMap, Type: Test-Failure

#13325 Adds missing IMap#setTTL permission
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetTTLMessageTask.java
Labels: Team: Core, Type: Defect

#13332 Increase call timeout for long operation test
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTest.java
Labels: Cause: Implementation - Timing, Cause: Test - Timing, Team: Core, Type: Test-Failure

#13340 Map interceptor doesn't receive old value in afterRemove call.
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/BaseRemoveOperation.java
Labels: Interface: IMap, Source: Community, Team: Core, Type: Defect

#13346 Removed finals from local vars QueueContainer
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
Labels: Type: Cleanup

#13348 Clean for data-structure specific metrics.
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/StatisticsAwareMetricsSet.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/util/StringUtilTest.java
Labels: Team: Core, Team: Integration, Type: Cleanup

#13356 [BACKPORT] TestLoggerFactory fixes
  hazelcast/src/test/java/com/hazelcast/test/TestLoggerFactory.java
Labels: Backport, Team: Core, Type: Test-Failure

#13311 Make `unit` mandatory in ProbeBuilder
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ManagementService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalSubscribeOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationparker/OperationParker.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionManagerServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImplTest.java
Labels: Team: Core, Type: Enhancement

#13355 Added test to check number of entries stayed on owner and backup part…
  hazelcast/src/test/java/com/hazelcast/map/MapRemoveAllTest.java
Labels: Team: Core

#13364 [BACKPORT]Added test to check number of entries stayed on owner and backup part…
  hazelcast/src/test/java/com/hazelcast/map/MapRemoveAllTest.java
Labels: Team: Core

#13362 Refactors MapSetTTLBackupTest to use TestBackupUtils
  hazelcast/src/test/java/com/hazelcast/map/MapSetTTLBackupTest.java
Labels: Interface: IMap, Team: Core, Type: Cleanup

#13354 Refactored invalidation metadatafetchers
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheInvalidationMetaDataFetcher.java
  hazelcast-client/src/main/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapInvalidationMetaDataFetcher.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientContext.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheInvalidationMetaDataFetcherTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapInvalidationMetaDataFetcherTest.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/InvalidationMetaDataFetcher.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/MetaDataFetcher.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/RepairingTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/nearcache/MapNearCacheManager.java
  hazelcast/src/main/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapInvalidationMetaDataFetcher.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/impl/invalidation/RepairingTaskTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapInvalidationMetaDataFetcherTest.java
Labels: Team: Client, Team: Core, Type: Defect

#13366 [BACKPORT] Added stacktrace to log
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheMetaDataFetcher.java
  hazelcast-client/src/main/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapMetaDataFetcher.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/MetaDataFetcher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapMetaDataFetcher.java
Labels: Team: Core

#13367 Use relocated JSON packages in client jar
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscovery.java
Labels: Team: Client, Type: Test-Failure

#13368 [BACKPORT 3.10.x] Use relocated JSON packages in client jar
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscovery.java
Labels: Team: Client, Type: Test-Failure

#13335 Fix exceptions thrown to the user
  hazelcast/src/main/java/com/hazelcast/config/InvalidConfigurationException.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
Labels: Team: Core, Type: Enhancement, Type: Test-Failure

#13369 Increase call timeout in a test
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_timeoutSlowTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_timeoutTest.java
Labels: Cause: Test - Timing, Team: Core, Type: Defect, Type: Test-Failure

#13279 Filter out load events for WAN
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryViews.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutFromLoadAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutFromLoadAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetTTLBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetTTLOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Module: WAN, Team: Core, Type: Enhancement

#13360 Make `unit` mandatory in ProbeBuilder (forward-port of #13311)
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ManagementService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalSubscribeOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationparker/OperationParker.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionManagerServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImplTest.java
Labels: Backport

#13321 Fixed backup test utils for HazelcastStarter
  hazelcast/src/test/java/com/hazelcast/cardinality/CardinalityEstimatorSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cardinality/CardinalityEstimatorTestUtil.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/CollectionTestUtil.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/ListSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/set/SetSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/concurrent/ConcurrencyTestUtil.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/RingbufferSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/RingbufferTestUtil.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Team: Core, Type: Enhancement

#13292 Allow HashSlotArray to work with unsigned memory addresses
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/Long2LongMapHsa.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/LongSetHsa.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/HashSlotArray12byteKey.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/HashSlotArray16byteKey.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/HashSlotArray8byteKey.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/SlotAssignmentResult.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray12byteKeyImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray16byteKeyImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray16byteKeyNoValue.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray8byteKeyImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArrayBase.java
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/SlotAssignmentResultImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray12byteKeyImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray16byteKeyImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray16byteKeyNoValueTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray8byteKeyImplTest.java
Labels: Team: Core, Type: Test-Failure

#13365 Protocol event handling syntactic improvements
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientInternalCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/querycache/subscriber/ClientQueryCacheEventService.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientListProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMultiMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientQueueProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientReplicatedMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientSetProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientTopicProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/NearCachedClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/PartitionServiceProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ProxyManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheInvalidationListener.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/BinaryCompatibilityFileGenerator.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/BinaryCompatibilityNullFileGenerator.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/EncodeDecodeCompatibilityNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/EncodeDecodeCompatibilityTest.java
  pom.xml
Labels: Team: Client, Type: Enhancement

#13363 Fixed close problems in NioOutboundPipeline
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Type: Defect

#13376 Provide WAN replication publisher state through JMX
  hazelcast/src/main/java/com/hazelcast/internal/jmx/InstanceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/WanPublisherMBean.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MBeanDataHolder.java
Labels: Module: WAN, Team: Core, Type: Enhancement

#13377 Refactored some CheckStyle suppressions to annotation based style
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/mapreduce/aggregation/Aggregations.java
  hazelcast/src/main/java/com/hazelcast/nio/Bits.java
  hazelcast/src/main/java/com/hazelcast/spi/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/SpiPortableHook.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
Labels: Type: Cleanup

#13378 Remove leftover messages logged to System.out in ClientMessageSplitter
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageSplitter.java
Labels: Team: Core, Type: Cleanup

#13381 [BACKPORT] Update Maven surefire plugin version to 2.21.0 and remove the patched one
  pom.xml
Labels: Backport, Team: Core, Type: Enhancement
