Repository hazelcast/hazelcast, pull requests merged in 2018-12, with the labels that each got.

#14205 Returned http 404 response code when there is no matching request uri
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
Labels: Team: Core, Team: Integration, Type: Test-Failure

#14099 [BACKPORT] Add ClientConfigXmlGenerator
  checkstyle/suppressions.xml
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
Labels: Backport, Module: Config, Source: Internal, Source: Jet, Team: Client, Type: Enhancement

#14098 Add ClientConfigXmlGenerator
  checkstyle/suppressions.xml
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
Labels: Module: Config, Source: Internal, Source: Jet, Team: Client, Type: Enhancement

#14207 Improve attribute value extraction failure messages
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractMultiValueGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/FieldGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/MethodGetter.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Enhancement

#14154 Adds test files for ssl with unique key for each member
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientNetworkConfig.java
  hazelcast/src/test/java/com/hazelcast/nio/ssl/BasicSSLContextFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ssl/TestKeyStoreUtil.java
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast.cer
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast2.cer
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast2.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcastTwoCerts.truststore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/readme
Labels: Team: Client, Team: Core, Type: Enhancement

#14208 [BACKPORT] Improve attribute value extraction failure messages
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractMultiValueGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/FieldGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/MethodGetter.java
Labels: Backport, Module: IMap, Module: Query, Team: Core, Type: Enhancement

#14209 MultiMap Remove Fix
  hazelcast/src/main/java/com/hazelcast/multimap/impl/operations/RemoveBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/operations/RemoveOperation.java
Labels: Module: MultiMap, Team: Core, Type: Perf. Defect

#14173 Support for Java 9+ in all surefire maven profiles
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JavaVersionTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/HazelcastOSGiIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/PaxExamTestRunner.java
  pom.xml
Labels: Team: QuSP, Type: Cleanup

#14166 WAN test refactoring
  hazelcast/src/main/java/com/hazelcast/config/AliasedDiscoveryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanConsumerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanReplicationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanSyncConfig.java
  hazelcast/src/test/java/com/hazelcast/wan/WanRESTTest.java
  hazelcast/src/test/java/com/hazelcast/wan/WanServiceMockingNodeContext.java
  hazelcast/src/test/java/com/hazelcast/wan/WanServiceMockingNodeExtension.java
Labels: Module: WAN, Team: Core, Type: Enhancement

#14223 Prevented unneeded key&value deserialization of server side event pub…
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapListenerTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/AbstractReplicatedMapAddEntryListenerMessageTask.java
Labels: Module: ReplicatedMap, Team: Client, Team: Core, Type: Defect

#14224 [FORWARD PORT] Prevented unneeded key&value deserialization of server side event pub…
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapListenerTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/AbstractReplicatedMapAddEntryListenerMessageTask.java
Labels: Module: ReplicatedMap, Team: Client, Team: Core, Type: Defect

#14227 Swallow exception on MemcachedClient shutdown and typo fix
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
Labels: Type: Test-Failure

#14186 Fixed wrong nextSeq when minimum read size is zero
  hazelcast/src/main/java/com/hazelcast/internal/journal/EventJournalReadOperation.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
Labels: Source: Jet, Team: Core, Type: Defect

#14187 [BACKPORT]Fixed wrong nextSeq when minimum read size is zero
  hazelcast/src/main/java/com/hazelcast/internal/journal/EventJournalReadOperation.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
Labels: Source: Jet, Team: Core, Type: Defect

#14228 [BACKPORT] Swallow exception on MemcachedClient.shutdown() and typo fix
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
Labels: Backport, Type: Test-Failure

#14221 Improve MC script execution error reporting
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ScriptExecutorOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/ExecuteScriptRequest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ExecuteScriptRequestTest.java
Labels: Team: Management Center, Type: Enhancement

#14234 Use one instance of Extractor while indexing
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#14233 Use one instance of Extractor while indexing
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#14225 Rewrite time sensitive expiration test by using expire-times
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#14251 [FORWARD PORT] Improve MC script execution error reporting (#14221)
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ScriptExecutorOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/ExecuteScriptRequest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ExecuteScriptRequestTest.java
Labels: Team: Management Center, Type: Enhancement

#14250 client protocol 1.7.0 final version
  pom.xml
Labels: Team: Client

#14245 Cleanup. AddressProvider list is removed.
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientConnectionManagerFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/DefaultClientConnectionManagerFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/DefaultAddressProvider.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientConnectionManagerTranslateTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
Labels: Team: Client, Type: Cleanup

#14248 [FORWARD PORT] Removed size() calls on result sets. First size method calls
  hazelcast/src/main/java/com/hazelcast/map/impl/query/ParallelAccumulationExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AndResultSet.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AndPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PredicateUtils.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#14238 Removed unneeded deserialization and made key&value deserialization l…
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapTest.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ReplicatedMapEntryView.java
Labels: Module: ReplicatedMap, Team: Client, Team: Core, Type: Defect

#14239 [FORWARD PORT]Removed unneeded deserialization and made key&value deserialization l…
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapTest.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ReplicatedMapEntryView.java
Labels: Module: ReplicatedMap, Team: Client, Team: Core, Type: Defect

#14206 [Backport] Channel.close closes socket immediately
  hazelcast/src/main/java/com/hazelcast/internal/networking/AbstractChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/Channel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/ChannelHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
Labels: Module: Network I/O, Team: Client, Team: Core

#14246 Use one instance of Extractors for all query-cache operations
  hazelcast-client/src/main/java/com/hazelcast/client/impl/querycache/subscriber/ClientQueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/QueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEventFilter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/QueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/EventPublisherHelper.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/InternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NodeQueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NullQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberAccumulator.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#14247 Use one instance of Extractors for all query-cache operations
  hazelcast-client/src/main/java/com/hazelcast/client/impl/querycache/subscriber/ClientQueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/QueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEventFilter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/QueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/EventPublisherHelper.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/InternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NodeQueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NullQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberAccumulator.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#14219 Fix permit acquire/release mismatch in partition anti-entropy mechanism
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/AntiEntropyCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateCheckerTest.java
Labels: Team: Core, Type: Defect

#14236 Fixes user code deployment provider sending wrong nested class defini…
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassSource.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/ClassDataProviderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentBasicTest.java
  hazelcast/src/test/java/usercodedeployment/ClassWithTwoInnerClasses.java
Labels: Team: Core, Type: Defect

#14258 Additional information in case of thread local leak test failure
  hazelcast/src/test/java/classloading/ThreadLocalLeakTestUtils.java
Labels: Team: Core, Type: Test-Failure

#14265 Handle empty partition correctly list on OperastionService.invokeOnPartitions
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvokeOnPartitionsAsync.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_invokeOnPartitionsTest.java
Labels: Backport, Team: Client, Team: Core, Type: Defect

#14266 Handle empty partition correctly list on OperastionService.invokeOnPartitions
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvokeOnPartitionsAsync.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_invokeOnPartitionsTest.java
Labels: Backport, Team: Client, Team: Core, Type: Defect

#14264 Handle empty partition correctly list on OperastionService.invokeOnPartitions
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvokeOnPartitionsAsync.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_invokeOnPartitionsTest.java
Labels: Team: Client, Team: Core, Type: Defect

#14270 [BACKPORT] Rewrite time sensitive expiration test by using expiration-times
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Type: Test-Failure

#14274 Minor AuthenticationBaseMessageTask cleanup
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Team: Client, Type: Cleanup

#14281 Refactor RepairingTask
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/RepairingTask.java
Labels: Module: Near Cache, Team: Core, Type: Cleanup

#14277 Rewrite time sensitive backup entry expiration test
  hazelcast/src/test/java/com/hazelcast/map/BackupExpirationTest.java
Labels: Type: Test-Failure

#14278 [BACKPORT] Rewrite time sensitive backup entry expiration test
  hazelcast/src/test/java/com/hazelcast/map/BackupExpirationTest.java
Labels: Type: Test-Failure

#14286 Removed InternalSerializationService casts in client
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/querycache/ClientQueryCacheContext.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/querycache/subscriber/ClientQueryCacheEventService.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientContext.java
Labels: Team: Client, Type: Cleanup

#14287 Removed cast to ClientConnectionManagerImpl
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Type: Cleanup

#14288 Authentication cleanup in ClientConnectionManager
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Type: Cleanup

#14273 add log for termination of reliable topic in case of data loss.
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/MessageRunner.java
Labels: Team: Client, Team: Core, Type: Defect

#14272 add log for termination of reliable topic in case of data loss.
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/MessageRunner.java
Labels: Backport, Module: ITopic, Team: Client, Team: Core, Type: Defect

#14289 Tiny ClientConnectionManagerImpl fields cleanup
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Type: Cleanup

#14290 Tiny ClusterConnector layout cleanup
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
Labels: Team: Client, Type: Cleanup

#14196 name and attributes via Client interface on the server
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientAttributeTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientNameTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEvent.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/core/Client.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientEndPointDTO.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/BinaryCompatibilityFileGenerator.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/BinaryCompatibilityNullFileGenerator.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/EncodeDecodeCompatibilityNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/EncodeDecodeCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
  pom.xml
Labels: Team: Client, Type: Enhancement

#14039 Move the TLS/SSL related classes from Community to Enterprise repository
  hazelcast-client/src/test/java/com/hazelcast/client/io/SSLWithoutEnterpriseTest.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientNetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/nio/ssl/BasicSSLContextFactory.java
  hazelcast/src/main/java/com/hazelcast/nio/ssl/SSLEngineFactory.java
  hazelcast/src/main/java/com/hazelcast/nio/ssl/SSLEngineFactorySupport.java
  hazelcast/src/test/java/com/hazelcast/nio/ssl/BasicSSLContextFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ssl/SSLWithoutEnterpriseTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ssl/TestKeyStoreUtil.java
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/anonymous_client1_knows_server1/client1.truststore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client1.cer
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client1.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client1_knows_noone/client1.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client1_knows_server1/client1.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client1_knows_server1/client1.truststore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client1_knows_server2/client1.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client1_knows_server2/client1.truststore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client2.cer
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client2.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client2_knows_server1/client2.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/client2_knows_server1/client2.truststore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/readme
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/server1.cer
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/server1.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/server1_knows_client1/server1.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/server1_knows_client1/server1.truststore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/server1_knows_noone/server1.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/server2.cer
  hazelcast/src/test/resources/com/hazelcast/nio/ssl-mutual-auth/server2.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast-privkey.pem
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast.crt
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast.truststore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast_malformed.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast_wrong.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/readme
Labels: Team: Client, Team: Core, in progress

#14293 Remove TLS/SSL leftovers (after moving the code to EE repository)
  hazelcast/src/main/java/com/hazelcast/nio/ssl/SSLEngineFactorySupport.java
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast.cer
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast2.cer
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcast2.keystore
  hazelcast/src/test/resources/com/hazelcast/nio/ssl/hazelcastTwoCerts.truststore
Labels: Team: Core, Type: Cleanup

#14284 Removed Extractors.empty method, introduced Extractors builder
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientPagingPredicateTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/AbstractFilteringStrategy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/DefaultEntryEventFilteringStrategy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/QueryCacheNaturalFilteringStrategy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/mapreduce/aggregation/impl/DistinctValuesAggregation.java
  hazelcast/src/main/java/com/hazelcast/mapreduce/aggregation/impl/SimpleEntry.java
  hazelcast/src/main/java/com/hazelcast/mapreduce/aggregation/impl/SupplierConsumingMapper.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/Extractors.java
  hazelcast/src/test/java/com/hazelcast/aggregation/AvgAggregationTest.java
  hazelcast/src/test/java/com/hazelcast/aggregation/CountAggregationTest.java
  hazelcast/src/test/java/com/hazelcast/aggregation/DistinctAggregationTest.java
  hazelcast/src/test/java/com/hazelcast/aggregation/MaxAggregationTest.java
  hazelcast/src/test/java/com/hazelcast/aggregation/MinAggregationTest.java
  hazelcast/src/test/java/com/hazelcast/aggregation/SumAggregationTest.java
  hazelcast/src/test/java/com/hazelcast/aggregation/TestSamples.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorLockTest.java
  hazelcast/src/test/java/com/hazelcast/query/PortablePredicatesTest.java
  hazelcast/src/test/java/com/hazelcast/query/SqlPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/CachedQueryEntryTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexImplTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/QueryEntryTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/ExtractorsTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/PredicateTestUtils.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/PredicatesTest.java
Labels: Module: Query, Team: Core, Type: Cleanup

#14296 Adds declerative config for instance name and attributes of client
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientXmlElements.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientConfigBuilder.java
  hazelcast-client/src/main/resources/hazelcast-client-config-3.12.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
Labels: Team: Client, Type: Enhancement

#14291 Cleaned up ClientConnecionManager connectToCluster
  hazelcast-client/src/main/java/com/hazelcast/client/connection/ClientConnectionManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/ClientConnectionStrategy.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/DefaultClientConnectionStrategy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientContext.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientConnectionManagerTranslateTest.java
Labels: Team: Client, Type: Cleanup

#14257 Test CloudDiscovery with a simple http server
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscoveryTest.java
Labels: Team: Client

#14148 Removing unused timeout field from xsd.
  hazelcast-client/src/main/resources/hazelcast-client-config-3.12.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
Labels: Module: Config, Team: Client, Type: Cleanup

#14300 Inlined ClientConnectionManagerImpl.onAuthenticationFailed
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Type: Cleanup

#14299 Reduced visibility of ClientConnectionManagerImpl.getClusterConnector
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Type: Cleanup

#14304 add xml config for client discovery config
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
Labels: Team: Client, Type: Enhancement

#14249 Speed up client connecting to cluster
  hazelcast-client/src/main/java/com/hazelcast/client/connection/AddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/Addresses.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/DefaultAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/DiscoveryAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/util/AddressHelper.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientConnectionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientConnectionManagerTranslateTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/DefaultAddressProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast-client/src/test/java/com/hazelcast/client/txn/ClientTxnOwnerDisconnectedTest.java
Labels: Team: Client, Type: Perf. Defect

#14301 Renamed ClusterConnector.onConnectToCluster
  hazelcast-client/src/main/java/com/hazelcast/client/connection/ClientConnectionStrategy.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/DefaultClientConnectionStrategy.java
Labels: Team: Client, Type: Cleanup

#14311 Removes EOFException stacktrace from log when connection closed
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpConnection.java
Labels: Team: Client, Team: Core, Type: Defect

#14312 Removes EOFException stacktrace from log when connection closed
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpConnection.java
Labels: Team: Client, Team: Core, Type: Defect

#13984 Track indexed partitions to avoid unnecessary reindexing
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientIndexStatsTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientPartitionIndexingTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
  hazelcast/src/test/java/com/hazelcast/map/IndexStatsChangingNumberOfMembersTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Enhancement

#14310 Adds missing client permission types to config XSDs
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
Labels: Team: Core, Type: Defect

#14084 Add config option to automatically remove stale Hot Restart data
  hazelcast/src/main/java/com/hazelcast/config/HotRestartPersistenceConfig.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateManager.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: Module: Hot Restart, Team: Core, Type: Enhancement

#14295 Drop sync InvokeOnPartitions, use IOPAsync.get()
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractAllPartitionsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/OperationService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvokeOnPartitions.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvokeOnPartitionsAsync.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_invokeOnPartitionsTest.java
Labels: Team: Core, Type: Enhancement

#14317 Allow custom NodeContext in TestAwareInstanceFactory
  hazelcast/src/test/java/com/hazelcast/test/TestAwareInstanceFactory.java
Labels: Team: Core, Type: Enhancement

#14269 Replace abstract method with concrete one in AbstractNearCacheStore
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/NearCacheDataRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/NearCacheObjectRecordStore.java
Labels: Module: Near Cache, Team: Core, Type: Cleanup
