Repository hazelcast/hazelcast, pull requests merged in 2018-05, with the labels that each got.

#13014 Fix XSD version in XML configuration builders tests
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
Labels: Team: Core, Type: Test-Failure

#12861 Added missing @RunWith and @Category annotations to tests
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/ClientCacheConfigPropagationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/impl/ClientDynamicConfigRollingUpgradeTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterBasicIntegrationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterConsistencyLostTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterNoDataMemberTest.java
  hazelcast/src/test/java/com/hazelcast/config/GlobalSerializerConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/HotRestartPersistenceConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/IcmpFailureDetectorConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/InterfacesConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/MemberGroupConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/MergePolicyConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/MergePolicyReadOnlyConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/MulticastConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/NativeMemoryConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/PartitionGroupConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/SerializerConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ServicesConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/SocketInterceptorConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/TcpIpConfigTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/AbstractCRDTPropertyTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/pncounter/AbstractPNCounterBasicIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/pncounter/AbstractPNCounterConsistencyLostTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/pncounter/AbstractPNCounterNoDataMemberTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/pncounter/PNCounterBasicIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/pncounter/PNCounterConsistencyLostTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/pncounter/PNCounterImplPropertyTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/pncounter/PNCounterNoDataMemberTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigVersionTest.java
  hazelcast/src/test/java/com/hazelcast/memory/MemorySizeTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/impl/RecentlyActiveQuorumFunctionTest.java
Labels: Type: Test-Failure

#13019 Remove MapLoader from MapIndexLifecycleTest
  hazelcast/src/test/java/com/hazelcast/map/MapIndexLifecycleTest.java
Labels: Interface: IMap, Team: Core, Type: Test-Failure

#13020 [BACKPORT] Remove MapLoader from MapIndexLifecycleTest
  hazelcast/src/test/java/com/hazelcast/map/MapIndexLifecycleTest.java
Labels: Backport, Interface: IMap, Team: Core, Type: Test-Failure

#13024 Simplify & fix MembershipUpdateTest member connection tests
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Team: Core, Type: Test-Failure

#13026 Fixes uninitialized partition in LossToleranceTest
  hazelcast/src/test/java/com/hazelcast/topic/impl/reliable/LossToleranceTest.java
Labels: Backport, Type: Test-Failure

#13025 Simplify & fix MembershipUpdateTest member connection tests
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Backport, Team: Core, Type: Test-Failure

#12976 Only increment cache eviction stats on primary record store
  hazelcast-client/src/test/java/com/hazelcast/client/cache/stats/ClientCacheStatsTest.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTestSupport.java
  hazelcast/src/test/java/com/hazelcast/cache/stats/CacheStatsTest.java
Labels: Interface: ICache, Team: Core, Type: Defect

#12977 [BACKPORT] Only increment cache eviction stats on primary record store
  hazelcast-client/src/test/java/com/hazelcast/client/cache/stats/ClientCacheStatsTest.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTestSupport.java
  hazelcast/src/test/java/com/hazelcast/cache/stats/CacheStatsTest.java
Labels: Backport, Interface: ICache, Team: Core, Type: Defect

#13022 Fix MigrationInvocationsSafetyTest by dropping packets at specific points
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalMigrationListener.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
Labels: Team: Core, Type: Test-Failure

#13023 Fix MigrationInvocationsSafetyTest by dropping packets at specific points
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalMigrationListener.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
Labels: Backport, Team: Core, Type: Test-Failure

#13027 ClientMessage has connection field just like Packet
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientChannelInitializer.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnection.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientResponseHandler.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageHandler.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageSplitAndBuildTest.java
Labels: Team: Client, Type: Cleanup

#13030 Assume BIG_ENDIAN for tests that use existing preloader test files
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/AbstractNearCachePreloaderTest.java
Labels: Team: Core, Type: Test-Failure

#13033 [BACKPORT] Assume BIG_ENDIAN for tests that use existing preloader test files
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/AbstractNearCachePreloaderTest.java
Labels: Backport, Team: Core, Type: Test-Failure

#13037 Make EntryProcessorOffloadableTest#testHeartBeatsComingWhenEntryPropcessorOffloaded more resilient against hiccups
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
Labels: Team: Core, Type: Test-Failure

#13038 [BACKPORT] Make EntryProcessorOffloadableTest#testHeartBeatsComingWhenEntryPropcessorOffloaded more resilient against hiccups
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
Labels: Team: Core, Type: Test-Failure

#13036 Disable caching of HazelcastAPIDelegatingClassLoaders with custom parent
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
Labels: Team: Core, Type: Test-Failure

#13001 Converted operationBatch from int[] to BitSet
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/OperationExecutor.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/TaskBatch.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/InternalOperationService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/operations/PartitionIteratingOperation.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl_ExecuteBatchTest.java
Labels: Estimation: S, Team: Core, Type: Cleanup

#12992 Fix partition table lazy init bug
  hazelcast/src/main/java/com/hazelcast/internal/partition/InternalPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AssignPartitions.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_InitInvocationTargetTest.java
Labels: Priority: Low, Team: Core, Type: Defect

#13044 code coverage increase, minor code clean up and implemented todos
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/mapreduce/impl/task/MapCombineTask.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
Labels: Team: Core, Type: Cleanup

#13046 Use MetricsRegistry argument
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationparker/impl/OperationParkerImpl.java
Labels: Team: Core, Team: Integration, Type: Cleanup

#13056 Cleanup of CacheContextTest
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheContextTest.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheContextTest.java
Labels: Type: Cleanup

#13057 code coverage increase iteration 3
  hazelcast/src/test/java/com/hazelcast/util/AddressUtilTest.java
Labels: Team: Core, Type: Cleanup

#13055 Cleanup of TestUtil
  hazelcast-client/src/test/java/com/hazelcast/client/ConnectedClientOperationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapIssueTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientInvocationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTestSupport.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/InternalCacheRecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/cache/recordstore/CacheRecordStoreTestSupport.java
  hazelcast/src/test/java/com/hazelcast/client/test/DistortInvalidationMetadataEntryProcessor.java
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterInfoTest.java
  hazelcast/src/test/java/com/hazelcast/config/CacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectTest.java
  hazelcast/src/test/java/com/hazelcast/instance/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/DiscoveryJoinerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/EvictionStrategyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/TestPartitionUtils.java
  hazelcast/src/test/java/com/hazelcast/map/MapRemoveFailingBackupTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreWriteThroughTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/DiscoverySpiTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_timeoutTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Cleanup

#12765 Close connections when heartbeat timeout
  hazelcast-client/src/main/java/com/hazelcast/client/connection/ClientConnectionManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/ClientConnectionStrategy.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnection.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientICMPManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/DefaultClientConnectionStrategy.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/HeartbeatManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientInvocation.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ConnectionHeartbeatListener.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/SmartClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/heartbeat/ClientHeartbeatTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientHeartbeatMonitor.java
Labels: Team: Client, Type: Defect

#12523 Replaced FindBugs with SpotBugs
  CONTRIBUTING.md
  README.md
  findbugs/findbugs-exclude.xml
  hazelcast-all/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-client/pom.xml
  hazelcast-spring/pom.xml
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/util/PhoneHome.java
  pom.xml
Labels: Team: Core, Type: Enhancement

#13067 [BACKPORT] Replaced FindBugs with SpotBugs
  CONTRIBUTING.md
  README.md
  findbugs/findbugs-exclude.xml
  hazelcast-all/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-client/pom.xml
  hazelcast-spring/pom.xml
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/util/PhoneHome.java
  pom.xml
Labels: Backport, Team: Core, Type: Enhancement

#13066 Fix compile error in TestUtil with JDK 6
  hazelcast/src/test/java/com/hazelcast/instance/TestUtil.java
Labels: Type: Defect

#13064 make client RingBuffer.readManyAsync consistent with members
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientRingbufferProxy.java
  hazelcast/src/test/java/com/hazelcast/quorum/ringbuffer/RingbufferQuorumReadTest.java
Labels: Team: Client, Type: Defect

#13065 make client RingBuffer.readManyAsync consistent with members
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientRingbufferProxy.java
  hazelcast/src/test/java/com/hazelcast/quorum/ringbuffer/RingbufferQuorumReadTest.java
Labels: Backport, Team: Client, Type: Defect

#13081 add messages to tests in testClientListenerDisconnected
  hazelcast-client/src/test/java/com/hazelcast/client/ClientServiceTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Team: Client, Type: Test-Failure

#13082 add messages to tests in testClientListenerDisconnected
  hazelcast-client/src/test/java/com/hazelcast/client/ClientServiceTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Backport, Team: Client, Type: Test-Failure

#13083 Shutdown previous members before retry in QueryCacheMapWideEventsTest
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheMapWideEventsTest.java
Labels: Team: Core, Type: Test-Failure

#13088 Fix for MapStableReadStressTest.testChangingCluster
  hazelcast-client/src/test/java/com/hazelcast/client/stress/MapStableReadStressTest.java
Labels: Cause: Test - Timing, Team: Client, Type: Test-Failure

#13089 Fix for MapStableReadStressTest.testChangingCluster
  hazelcast-client/src/test/java/com/hazelcast/client/stress/MapStableReadStressTest.java
Labels: Backport, Cause: Test - Timing, Team: Client, Type: Test-Failure

#13077 Fix max count check against capacity in rb.readManyAsync
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientRingbufferProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/topic/Issue7317Test.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferProxy.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferAbstractTest.java
Labels: Team: Client, Team: Core, Type: Defect

#13078 Fix max count check against capacity in rb.readManyAsync
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientRingbufferProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/topic/Issue7317Test.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferProxy.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferAbstractTest.java
Labels: Backport, Team: Client, Team: Core, Type: Defect

#12993 [BACKPORT] Fix partition table lazy init bug
  hazelcast/src/main/java/com/hazelcast/internal/partition/InternalPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AssignPartitions.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_InitInvocationTargetTest.java
Labels: Backport, Priority: Medium, Team: Core, Type: Defect

#12230 Add basic protection against untrusted deserialization by introducing blacklisting/whitelisting capabilities
  hazelcast-client/src/main/resources/hazelcast-client-config-3.11.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.11.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ClassFilter.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/JavaSerializationFilterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SerializationConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DefaultSerializationServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/nio/ClassNameFilter.java
  hazelcast/src/main/java/com/hazelcast/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/nio/SerializationClassNameFilter.java
  hazelcast/src/main/resources/hazelcast-config-3.11.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/nio/SerializationClassNameFilterTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/SerializationTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
Labels: Team: Client, Team: Core

#13095 Remove assumption that IO thread can have only 1 dead pipeline
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerStressTest.java
Labels: Team: Core, Type: Test-Failure

#13099 Fixed possible NPE in client quorum tests
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/cache/ClientCacheQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/cache/ClientCacheQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/cardinality/ClientCardinalityEstimatorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/cardinality/ClientCardinalityEstimatorQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/countdownlatch/ClientCountDownLatchQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/countdownlatch/ClientCountDownLatchQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/durableexecutor/ClientDurableExecutorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/durableexecutor/ClientDurableExecutorQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/executor/ClientExecutorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/executor/ClientExecutorQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/list/ClientListQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/list/ClientListQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/list/ClientTransactionalListQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/list/ClientTransactionalListQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/lock/ClientLockQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/lock/ClientLockQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/map/ClientMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/map/ClientMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/map/ClientTransactionalMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/map/ClientTransactionalMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientMultiMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientMultiMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientTransactionalMultiMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientTransactionalMultiMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/pncounter/ClientPNCounterQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/pncounter/ClientPNCounterQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/queue/ClientQueueQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/queue/ClientQueueQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/queue/ClientTransactionalQueueQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/queue/ClientTransactionalQueueQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/replicatedmap/ClientReplicatedMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/replicatedmap/ClientReplicatedMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/ringbuffer/ClientRingbufferQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/ringbuffer/ClientRingbufferQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/scheduledexecutor/ClientScheduledExecutorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/scheduledexecutor/ClientScheduledExecutorQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/semaphore/ClientSemaphoreQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/semaphore/ClientSemaphoreQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/set/ClientSetQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/set/ClientSetQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/set/ClientTransactionalSetQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/set/ClientTransactionalSetQuorumWriteTest.java
Labels: Team: Core, Type: Test-Failure

#11894 Operation continuation offload abstraction
  hazelcast/src/main/java/com/hazelcast/executor/impl/DistributedExecutorService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/operations/AbstractCallableTaskOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/CallStatus.java
  hazelcast/src/main/java/com/hazelcast/spi/Offload.java
  hazelcast/src/main/java/com/hazelcast/spi/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/operations/PartitionIteratingOperation.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_OffloadedTest.java
Labels: Team: Core, Team: QuSP

#13103 Fix MulticastDeserializationTest for Java6
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
Labels: Team: Core

#13102 Fix MulticastDeserializationTest for Java6
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
Labels: Team: Core

#13104 fix for ClientTxnOwnerDisconnectedTest
  hazelcast-client/src/test/java/com/hazelcast/client/txn/ClientTxnOwnerDisconnectedTest.java
Labels: Cause: Test - Timing, Team: Client, Type: Test-Failure

#13072 Race on client message buffer on retries
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/BufferBuilder.java
Labels: Cause: Implementation - Race Condition, Team: Client, Type: Defect, Type: Test-Failure

#13073 Race on client message buffer on retries
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/BufferBuilder.java
Labels: Backport, Cause: Implementation - Race Condition, Team: Client, Type: Defect, Type: Test-Failure

#13108 [BACKPORT] Add QueueUtil utility class
  hazelcast/src/main/java/com/hazelcast/util/QueueUtil.java
  hazelcast/src/test/java/com/hazelcast/util/QueueUtilTest.java
Labels: Team: Core, Type: Enhancement

#13105 fix for ClientTxnOwnerDisconnectedTest
  hazelcast-client/src/test/java/com/hazelcast/client/txn/ClientTxnOwnerDisconnectedTest.java
Labels: Backport, Cause: Test - Timing, Team: Client, Type: Test-Failure

#13109 [BACKPORT] Fixed possible NPE in client quorum tests
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/cache/ClientCacheQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/cache/ClientCacheQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/cardinality/ClientCardinalityEstimatorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/cardinality/ClientCardinalityEstimatorQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/countdownlatch/ClientCountDownLatchQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/countdownlatch/ClientCountDownLatchQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/durableexecutor/ClientDurableExecutorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/durableexecutor/ClientDurableExecutorQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/executor/ClientExecutorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/executor/ClientExecutorQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/list/ClientListQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/list/ClientListQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/list/ClientTransactionalListQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/list/ClientTransactionalListQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/lock/ClientLockQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/lock/ClientLockQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/map/ClientMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/map/ClientMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/map/ClientTransactionalMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/map/ClientTransactionalMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientMultiMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientMultiMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientTransactionalMultiMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientTransactionalMultiMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/pncounter/ClientPNCounterQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/pncounter/ClientPNCounterQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/queue/ClientQueueQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/queue/ClientQueueQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/queue/ClientTransactionalQueueQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/queue/ClientTransactionalQueueQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/replicatedmap/ClientReplicatedMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/replicatedmap/ClientReplicatedMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/ringbuffer/ClientRingbufferQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/ringbuffer/ClientRingbufferQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/scheduledexecutor/ClientScheduledExecutorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/scheduledexecutor/ClientScheduledExecutorQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/semaphore/ClientSemaphoreQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/semaphore/ClientSemaphoreQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/set/ClientSetQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/set/ClientSetQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/set/ClientTransactionalSetQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/set/ClientTransactionalSetQuorumWriteTest.java
Labels: Backport, Team: Core, Type: Test-Failure

#13048 Cleanup of HazelcastStarter package
  hazelcast-client/src/test/java/com/hazelcast/client/starter/HazelcastClientStarter.java
  hazelcast-client/src/test/java/com/hazelcast/client/starter/HazelcastClientStarterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/VersionedInCurrentVersionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBounceTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/AbstractStarterObjectConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/AddressConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/ConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/DataAwareEntryEventConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/EnumConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/GuardianException.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastProxyFactory.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarterUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/IgnoreCompatibilityTestsWithSinceRule.java
  hazelcast/src/test/java/com/hazelcast/test/starter/LifecycleEventConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/MapEventConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/ProxyInvocationHandler.java
  hazelcast/src/test/java/com/hazelcast/test/starter/Utils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/VersionConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/AddressConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/ConfigConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/DataAwareEntryEventConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/EnumConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastProxyFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastStarterTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/LifecycleEventConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/MapEventConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/ReflectionUtilsTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/VersionConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/package-info.java
Labels: Module: Rolling Upgrade, Team: Core, Type: Cleanup

#13112 Use less resource for client near cache test
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTestSupport.java
Labels: Team: Client, Type: Test-Failure

#13111 Makes serialization service oblivious to big/little endian compat tests
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/BigEndianSerializationServieBuilder.java
Labels: Team: Client, Type: Test-Failure

#13115 [BACKPORT]Makes serialization service oblivious to big/little endian …
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/BigEndianSerializationServieBuilder.java
Labels: Type: Test-Failure

#13121 Diagnostics classes javadoc 80 chars cleanup
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogWriterImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/EventQueuePlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/InvocationPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/MemberHeartbeatPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/MetricsPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/NetworkingImbalancePlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/OperationDescriptors.java
Labels: Type: Cleanup

#13094 Cache configs on smaller brain and re-store missing ones after join
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergeRunnable.java
Labels: Team: Core, Type: Test-Failure

#13123 [BACKPORT]Cache configs on smaller brain and re-store missing ones after join
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergeRunnable.java
Labels: Team: Core, Type: Test-Failure

#13125 [BACKPORT]Cache configs on smaller brain and re-store missing ones after join
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergeRunnable.java
Labels: Team: Core, Type: Test-Failure

#13113 Handle rejectedExecutionExc on deregisterListener method
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/ListenerTests.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#13114 Handle rejectedExecutionExc on deregisterListener method
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/NonSmartClientListenerService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/SmartClientListenerService.java
Labels: Backport, Team: Client, Type: Defect, Type: Test-Failure

#13122 NioPipeline Owner id not set on complete migration
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
Labels: Type: Defect

#13129 Removed duplicate Near Cache getAll() tests
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/GetAllTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/GetAllTest.java
Labels: Team: Core, Type: Cleanup

#13124 Fixed minor problems in NioOutboundPipeline
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/OverloadedConnectionsPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Type: Cleanup, Type: Defect

#13134 Added ClientMessage to NioOutboundPipeline bytes pending
  hazelcast/src/main/java/com/hazelcast/internal/ascii/AbstractTextCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/OutboundFrame.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/nio/Packet.java
Labels: Type: Defect, Type: Enhancement

#13130 Removed duplicate ClientCacheNearCacheSmokeTest
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheNearCacheSmokeTest.java
Labels: Team: Core, Type: Cleanup

#13128 Avoid npe exception on ClientEngineImpl bind
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
Labels: Backport, Team: Client, Type: Defect

#13127 Avoid npe exception on ClientEngineImpl bind
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
Labels: Team: Client, Type: Defect

#13136 [BACKPORT] Increase error range for lower precision in rnd test
  hazelcast/src/test/java/com/hazelcast/cardinality/impl/hyperloglog/impl/HyperLogLogImplTest.java
Labels: Team: Core, Type: Test-Failure

#13139 Add additional logging of packet write/read in MockIOService
  hazelcast/src/test/java/com/hazelcast/nio/tcp/MockIOService.java
Labels: Team: Core, Type: Test-Failure

#13140 [FORWARD-PORT] Add additional logging of packet write/read in MockIOService
  hazelcast/src/test/java/com/hazelcast/nio/tcp/MockIOService.java
Labels: Team: Core, Type: Test-Failure

#13142 Added more logging to TcpIpConnector to allow proper identifying of NullPointerExceptions
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpConnector.java
Labels: Team: Core, Type: Test-Failure

#13149 code coverage increase iteration-6
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/DiscoveryJoinerTest.java
Labels: Team: Core, Type: Cleanup

#13156 Lower heartbeat interval/timeout for quorum tests
  hazelcast/src/test/java/com/hazelcast/quorum/PartitionedCluster.java
Labels: Cause: Test - Timing, Team: Core, Type: Test-Failure

#13144 Fixing NPE issues when accessing endpoint on message task
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractAllPartitionsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractInvocationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddMembershipListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ClientStatisticsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddNearCacheInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/Pre38CacheAddInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/list/ListAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/multimap/AbstractMultiMapAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/queue/QueueAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/set/SetAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/topic/TopicAddMessageListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transaction/XAClearRemoteTransactionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transaction/XATransactionCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapContainsKeyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapDeleteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapGetForUpdateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapIsEmptyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapKeySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapKeySetWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapPutIfAbsentMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapPutMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapRemoveIfSameMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapRemoveMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapReplaceIfSameMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapReplaceMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapValuesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapValuesWithPredicateMessageTask.java
Labels: Team: Client, Type: Defect

#13166 Added client invocation probe for number of invoked invocations
  hazelcast-client/src/main/java/com/hazelcast/client/impl/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientInvocation.java
Labels: Team: Client, Type: Cleanup, Type: Enhancement

#13165 Minor nio error handling rename cleanup
  hazelcast/src/main/java/com/hazelcast/internal/networking/ChannelErrorHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioThread.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NioThreadAbstractTest.java
Labels: Type: Cleanup

#13096 Optimized toArray(new Object[]) calls
  hazelcast-client/src/main/java/com/hazelcast/client/util/AbstractLoadBalancer.java
  hazelcast-client/src/test/java/com/hazelcast/client/queue/ClientQueueTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapLoadGivenKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberSelectingCollection.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateGeneratorImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/filter/ClassNameFilterParser.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/DefaultWriteBehindProcessor.java
  hazelcast/src/main/java/com/hazelcast/mapreduce/impl/task/MappingPhase.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/LazyCollection.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/LazySet.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XAResourceImpl.java
  hazelcast/src/main/java/com/hazelcast/util/AddressUtil.java
  hazelcast/src/main/java/com/hazelcast/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTest.java
  hazelcast/src/test/java/com/hazelcast/executor/SmallClusterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/concurrent/AbstractConcurrentArrayQueueTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/ExpirationManagerStressTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindWithEntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryBasicTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryIndexTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/TestBundleContext.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/NestedPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/NestedPredicateVersionedPortablesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/NestedPredicateWithExtractorTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/list/ListQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/set/SetQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/test/SplitBrainTestSupport.java
  hazelcast/src/test/java/com/hazelcast/util/FutureUtilTest.java
  hazelcast/src/test/java/com/hazelcast/util/collection/IntHashSetTest.java
  hazelcast/src/test/java/com/hazelcast/util/collection/LongHashSetTest.java
Labels: Team: Core, Type: Perf. Defect

#13168 [BACKPORT] Lower heartbeat interval/timeout for quorum tests
  hazelcast/src/test/java/com/hazelcast/quorum/PartitionedCluster.java
Labels: Backport, Cause: Test - Timing, Team: Core, Type: Test-Failure

#13169 Avoid full scans induced by paging predicate
  hazelcast/src/main/java/com/hazelcast/query/PagingPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateTest.java
Labels: Interface: IMap, Team: Core, Type: Perf. Defect

#13145 Fixing NPE issues when accessing endpoint on message task
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractAllPartitionsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractInvocationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddMembershipListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ClientStatisticsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddNearCacheInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/Pre38CacheAddInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/list/ListAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/multimap/AbstractMultiMapAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/queue/QueueAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/set/SetAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/topic/TopicAddMessageListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transaction/XAClearRemoteTransactionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transaction/XATransactionCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapContainsKeyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapDeleteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapGetForUpdateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapIsEmptyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapKeySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapKeySetWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapPutIfAbsentMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapPutMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapRemoveIfSameMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapRemoveMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapReplaceIfSameMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapReplaceMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapValuesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transactionalmap/TransactionalMapValuesWithPredicateMessageTask.java
Labels: Backport, Team: Client, Type: Defect

#13171 [BACKPORT] Avoid full scans induced by paging predicate
  hazelcast/src/main/java/com/hazelcast/query/PagingPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateTest.java
Labels: Backport, Interface: IMap, Team: Core, Type: Perf. Defect

#13132 Use a ThreadLocal field to store target address in TargetAware ops
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PostJoinMapOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/TargetAware.java
Labels: Team: Core, Type: Defect

#13153 Add ProbeBuilder to MetricsRegistry
  hazelcast-client/src/main/java/com/hazelcast/client/impl/statistics/Statistics.java
  hazelcast-client/src/main/java/com/hazelcast/client/util/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/Probe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeUnit.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/DoubleGaugeImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/FieldProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LockStripe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LongGaugeImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MethodProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/SourceMetadata.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/SelectorOptimizer.java
  hazelcast/src/main/java/com/hazelcast/nio/Bits.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/ArrayRingbuffer.java
  hazelcast/src/main/java/com/hazelcast/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/MetricsUtilTest.java
Labels: Team: Core, Type: Enhancement

#13173 Hazelcast XML fixes
  hazelcast-client/src/main/resources/hazelcast-client-default.xml
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/resources/hazelcast-cache-entrylistener-test.xml
  hazelcast-client/src/test/resources/hazelcast-client-querycache-xml-config-wildcard-test.xml
  hazelcast-client/src/test/resources/test-hazelcast-jcache.xml
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/resources/com/hazelcast/config/hazelcast-mapstore-config.xml
  src/test/resources/test-hazelcast-discovery-spi-metadata.xml
Labels: Module: Config, Type: Cleanup, Type: Defect

#13179 [#1720] Fix HDMapLoaderTest.testNullKey_loadAll random railure
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderTest.java
Labels: Team: Core, Type: Test-Failure

#13167 Adds prefix support to java-serialization-filter lists
  hazelcast-client/src/main/resources/hazelcast-client-config-3.11.xsd
  hazelcast-client/src/test/java/com/hazelcast/client/serialization/ClientDeserializationProtectionTest.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.11.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ClassFilter.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/JavaSerializationFilterConfig.java
  hazelcast/src/main/java/com/hazelcast/nio/SerializationClassNameFilter.java
  hazelcast/src/main/resources/hazelcast-config-3.11.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/nio/SerializationClassNameFilterTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/DeserializationProtectionTest.java
  hazelcast/src/test/java/example/serialization/TestDeserialized.java
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
Labels: Team: Core, Type: Enhancement

#13185 Fixed NoClassDefFoundError in Windows test runs
  pom.xml
Labels: Team: Core, Type: Test-Failure

#13176 [BACKPORT] Add ProbeBuilder to MetricsRegistry (#13153)
  hazelcast-client/src/main/java/com/hazelcast/client/impl/statistics/Statistics.java
  hazelcast-client/src/main/java/com/hazelcast/client/util/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/Probe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeUnit.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/DoubleGaugeImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/FieldProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LockStripe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LongGaugeImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MethodProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/SourceMetadata.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/SelectorOptimizer.java
  hazelcast/src/main/java/com/hazelcast/nio/Bits.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/ArrayRingbuffer.java
  hazelcast/src/main/java/com/hazelcast/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/MetricsUtilTest.java
Labels: Backport, Team: Core, Type: Enhancement

#13155 Improve MigrationRequestOperation to use new Offload mechanism
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
Labels: Team: Core, Type: Enhancement

#13197 Fixed OperatingSystemMetricSetTest for Windows
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/OperatingSystemMetricSet.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/OperatingSystemMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Team: Core, Type: Test-Failure

#13195 Fixed ConfigXmlGeneratorTest for Windows
  hazelcast/src/main/java/com/hazelcast/config/HotRestartPersistenceConfig.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
Labels: Team: Core, Type: Test-Failure

#13192 Fixed IOUtilTest
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Cleanup, Type: Test-Failure

#13200 Need more log information for issue #8254
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
Labels: Type: Test-Failure

#13204 Backport #13200 - Need more log information for issue #8254
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
Labels: Team: Client, Type: Test-Failure

#13199 Fixed IllegalAccessException in AbstractInvalidatorTest implementations
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/AbstractInvalidatorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/BatchInvalidatorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/NonStopInvalidatorTest.java
Labels: Team: Core, Type: Test-Failure

#13214 Remove detailed packet handling logic in MockIOService
  hazelcast/src/test/java/com/hazelcast/nio/tcp/MockIOService.java
Labels: Team: Core

#13220 Native address null check should be done using `address != 0`
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArrayBase.java
  hazelcast/src/test/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray12byteKeyImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray16byteKeyImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArray8byteKeyImplTest.java
Labels: Type: Defect

#13212 [BACKPORT] Update Maven surefire plugin version to 2.21.0 and remove the patched…
  pom.xml
Labels: Backport

#13221 remove pending packet count from client connection
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnection.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientServiceTest.java
Labels: Team: Client, Type: Enhancement
