Repository hazelcast/hazelcast, pull requests merged in 2019-06, with the labels that each got.

#15121 Migrated ringbuffer classes to ringbuffer package
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyRingbufferStore.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyRingbufferStoreFactory.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/RingbufferStoreConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/Ringbuffer.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/RingbufferStore.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/RingbufferStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/LatencyTrackingRingbufferStore.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferStoreWrapper.java
  hazelcast/src/test/java/com/hazelcast/config/RingbufferStoreConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/RingbufferSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/LatencyTrackingRingbufferStoreTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferStoreFailureConsistencyTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferStoreTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/StoreLatencyPluginRingbufferIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractConfigConstructor.java
Labels: Module: Ringbuffer, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15126 [FORWARDPORT] Make AddIndexOperation BackupAwareOperation
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRule.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Critical, Type: Defect

#15098 Simplify class-hierarchy of client-side Cache
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientCacheProxyBase.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientInternalCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupportUtil.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySyncListenerCompleter.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheSyncListenerCompleter.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySyncListenerCompleter.java
Labels: Module: ICache, Source: Internal, Team: Core, Type: Cleanup

#15130 Fixes AddIndexBackupOperation's getId method
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexBackupOperation.java
Labels: Team: Core, Type: Defect

#15053 Run raft callbacks on partition threads
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/RaftQueryOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/RaftReplicateOp.java
Labels: Module: CP Subsystem, Team: Core, Type: Enhancement

#15139 Respect multi-value attributes in range optimizer
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/RangeVisitor.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/RangeVisitorTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Defect

#15132 Unifies InvalidConfigurationException and ConfigurationException
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/AbstractClientConfigImportVariableReplacementTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/LegacyMatchingPointConfigPatternMatcherTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/MatchingPointConfigPatternMatcherTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigImportVariableReplacementTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigImportVariableReplacementTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractDomVariableReplacer.java
  hazelcast/src/main/java/com/hazelcast/config/CRDTReplicationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigurationException.java
  hazelcast/src/main/java/com/hazelcast/config/IcmpFailureDetectorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/InvalidConfigurationException.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/PNCounterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/matcher/LegacyMatchingPointConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/config/matcher/LegacyWildcardConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/config/matcher/MatchingPointConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/config/matcher/RegexConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/config/matcher/WildcardConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/instance/DelegatingAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFile.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/quorum/impl/QuorumServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/CacheServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/LegacyConfigPatternMatcherTest.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/MatchingPointConfigPatternMatcherTest.java
  hazelcast/src/test/java/com/hazelcast/config/WildcardConfigPatternMatcherTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/crdt/pncounter/PNCounterImplConfigTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ascii/TextProtocolsConfigTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/QuorumTest.java
  hazelcast/src/test/java/com/hazelcast/spi/memberAddressProvider/MemberAddressProviderTest.java
Labels: Module: Config, Team: Client, Team: Core, Type: Cleanup

#15128 Makes EventRegistration extend IdentifiedDataSerializable
  hazelcast/src/main/java/com/hazelcast/spi/EventRegistration.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/SpiDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/Registration.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/RegistrationOperation.java
Labels: Internal breaking change, Team: Core, Type: Cleanup

#15123 Moved multimap to com.hz.multimap
  hazelcast-client/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMultiMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/MultiMapEntryListenerOnReconnectTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/multimap/ClientMultiMapListenerStressTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/multimap/ClientMultiMapListenersTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/multimap/ClientMultiMapLockTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/multimap/ClientMultiMapReturnedCollectionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/multimap/ClientMultiMapTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientMultiMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/multimap/ClientMultiMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/txn/ClientTxnMultiMapTest.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/MultiMapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/console/ConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/core/DistributedObject.java
  hazelcast/src/main/java/com/hazelcast/core/HazelcastInstance.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/MBeans.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/MultiMapMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/suppliers/LocalMultiMapStatsSupplier.java
  hazelcast/src/main/java/com/hazelcast/multimap/BaseMultiMap.java
  hazelcast/src/main/java/com/hazelcast/multimap/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapMergeContainer.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/ObjectMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/multimap/package-info.java
  hazelcast/src/main/java/com/hazelcast/osgi/impl/HazelcastOSGiInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergeTypes.java
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionalMultiMap.java
  hazelcast/src/main/java/com/hazelcast/util/collection/InternalListMultiMap.java
  hazelcast/src/main/java/com/hazelcast/util/collection/InternalSetMultimap.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MBeanDestroyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MBeanTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MultiMapMBeanTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsMultipleNodeTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapBackupTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapContainerStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapLockTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapReturnedCollectionTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapTestUtil.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapTransactionStressTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/TxnMultiMapTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/standalone/SimpleMultiMapTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/HazelcastOSGiInstanceTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/AbstractQuorumTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/multimap/MultiMapQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/multimap/MultiMapQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/test/AnswerTest.java
Labels: Module: MultiMap, Public API/SPI breaking change, Type: Cleanup

#14955 Return result of interceptor remove call
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/SimpleClientMapInterceptorTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddInterceptorMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemoveInterceptorMessageTask.java
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/InterceptorRegistry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextInterceptorSupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddInterceptorOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddInterceptorOperationSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/RemoveInterceptorOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/RemoveInterceptorOperationSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/InterceptorTest.java
Labels: Module: IMap, Public API/SPI breaking change, Team: Core

#14982 Avoid deserialization when merging entries received via WAN
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryViews.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyNullEntryView.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Module: WAN, Team: Core, Type: Enhancement

#15147 HazelcastJSonValue simplification
  hazelcast/src/main/java/com/hazelcast/core/HazelcastJsonValue.java
Labels: Team: Core, Type: Enhancement

#14946 Support Java 8 optionals in queries
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractMultiValueGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/FieldGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/GetterFactory.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/MethodGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PredicateUtils.java
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregatorsSpecTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/OptionalsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryBasicTest.java
  hazelcast/src/test/java/com/hazelcast/projection/impl/MultiAttributeProjectionTest.java
  hazelcast/src/test/java/com/hazelcast/projection/impl/SingleAttributeProjectionTest.java
  hazelcast/src/test/java/com/hazelcast/query/SampleTestObjects.java
Labels: Module: Query, Team: Core, Type: Defect

#15003 Add Nullable and Notnull annotations to IMap
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/NearCachedClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapNullTest.java
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/unsafe/lock/LockProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/AbstractMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/map/MemberMapNullTest.java
Labels: Module: IMap, Public API/SPI breaking change, Team: Core, Type: Enhancement

#15146 Moved ReplicatedMap to com.hz.repmap
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientReplicatedMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/ReplicatedMapEntryListenerOnReconnectTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/replicatedmap/ClientReplicatedMapQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/replicatedmap/ClientReplicatedMapQuorumWriteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapListenerTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapLiteMemberTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapPutSerializationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapStatisticsTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/DummyClientReplicatedMapTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheLeakTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheSerializationCountTest.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfig.java
  hazelcast/src/main/java/com/hazelcast/core/HazelcastInstance.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/adapter/ReplicatedMapDataStructureAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ReplicatedMapMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/suppliers/LocalReplicatedMapStatsSupplier.java
  hazelcast/src/main/java/com/hazelcast/osgi/impl/HazelcastOSGiInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/ReplicatedMap.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/merge/package-info.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergeTypes.java
  hazelcast/src/test/java/com/hazelcast/internal/adapter/ReplicatedMapDataStructureAdapterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MBeanDestroyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MBeanTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/ReplicatedMapMBeanTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/HazelcastOSGiInstanceTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/AbstractQuorumTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/replicatedmap/ReplicatedMapQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/replicatedmap/ReplicatedMapQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapAntiEntropyTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapHitsAndLastAccessTimeTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapLoadingTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapMergePolicyTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapPutSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapReadYourWritesTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapTtlTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapWriteOrderTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/merge/LegacyReplicatedMapSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/merge/ReplicatedMapSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/standalone/SimpleReplicatedMapTest.java
Labels: Module: ReplicatedMap, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15145 Moved QueueStore to com.hz.collection
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyQueueStore.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyQueueStoreFactory.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/QueueStoreConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/collection/QueueStore.java
  hazelcast/src/main/java/com/hazelcast/collection/QueueStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/LatencyTrackingQueueStore.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueStoreWrapper.java
  hazelcast/src/main/java/com/hazelcast/config/QueueStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueueStoreConfigReadOnly.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/LatencyTrackingQueueStoreTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueStoreTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/StoreLatencyPlugin_QueueIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractConfigConstructor.java
Labels: Module: IQueue, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15097 Clean-up JAAS authentication
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientSecurityConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/CandidateClusterContext.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/statistics/Statistics.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/SmartClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientAuthenticationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientConnectionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientReconnectTest.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/JoinRequest.java
  hazelcast/src/main/java/com/hazelcast/security/AbstractCredentials.java
  hazelcast/src/main/java/com/hazelcast/security/PasswordCredentials.java
  hazelcast/src/main/java/com/hazelcast/security/SecurityContext.java
  hazelcast/src/main/java/com/hazelcast/security/SimpleTokenCredentials.java
  hazelcast/src/main/java/com/hazelcast/security/TokenCredentials.java
  hazelcast/src/main/java/com/hazelcast/security/UsernamePasswordCredentials.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/SpiPortableHook.java
Labels: Module: Security, Public API/SPI breaking change, Team: Client, Team: Core

#14692 Changed CP tests to use parallel unit test runner
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/CPSubsystemImplTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/atomiclong/RaftAtomicLongClientBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/atomicref/RaftAtomicRefClientBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/countdownlatch/RaftCountDownLatchClientBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/countdownlatch/RaftCountDownLatchLongAwaitClientTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/lock/BoundedReentrantFencedLockClientTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/lock/FencedLockClientBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/lock/NonReentrantFencedLockClientTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/RaftSessionAwareSemaphoreClientBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/RaftSessionlessSemaphoreClientBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/session/ClientSessionManagerTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAutoRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPSubsystemImplTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/RaftInvocationManagerQueryTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/RaftInvocationManagerTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomiclong/RaftAtomicLongBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomiclong/RaftAtomicLongSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomiclong/RaftAtomicLongSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomicref/RaftAtomicRefBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomicref/RaftAtomicRefSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomicref/RaftAtomicRefSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchLongAwaitTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/BoundedReentrantFencedLockTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockLongAwaitTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/NonReentrantFencedLockTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreLongAwaitTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSessionAwareSemaphoreBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSessionAwareSemaphoreFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSessionlessSemaphoreBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSessionlessSemaphoreFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/DestroyRaftGroupTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalQueryTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalRaftTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/MembershipChangeTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/RaftSessionServiceTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/SessionManagerServiceTest.java
Labels: Module: CP Subsystem, Type: Cleanup

#15154 Disable PatchLevelCompatibilityTest
  hazelcast/src/test/java/com/hazelcast/test/starter/test/PatchLevelCompatibilityTest.java
Labels: Team: Core, Type: Test-Failure

#14954 Publish only expired events in case of eviction
  hazelcast-client/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/MapPreconditionsTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/listener/ClientExpirationListenerTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheEventHandlingTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapListenerTest.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyEntryListener.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/AbstractReplicatedMapAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/EntryListenerConfig.java
  hazelcast/src/main/java/com/hazelcast/console/ConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/core/EntryAdapter.java
  hazelcast/src/main/java/com/hazelcast/core/EntryListener.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/QueryCacheEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddInterceptorOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/RemoveInterceptorOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberAccumulatorHandler.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/map/AsyncTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationListenerTest.java
  hazelcast/src/test/java/com/hazelcast/map/ListenerTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/map/TestEntryListener.java
  hazelcast/src/test/java/com/hazelcast/map/impl/EntryListenerAdaptorsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTestSupport.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapListenerTest.java
Labels: Module: IMap, Public API/SPI breaking change, Team: Core

#15106 Support for X509 certificate authentication
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/CommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/nio/Connection.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/DroppingConnection.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockConnection.java
Labels: Module: Security, Team: Client, Team: Core, Type: Enhancement

#15148 Do not extend MapOperation for query operations which run on generic threads
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapQueryMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/DefaultMapOperationProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperationProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/PublisherCreateOperation.java
Labels: Module: IMap, Team: Core, Type: Defect

#15163 [FORWARDPORT] Respect multi-value attributes in range optimizer
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/RangeVisitor.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/RangeVisitorTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Defect

#15164 Use expiry listener in expiration tests
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#15159 Ensure client membership event has been processed before assertions
  hazelcast-client/src/test/java/com/hazelcast/client/io/AdvancedNetworkClientIntegrationTest.java
Labels: Team: Core, Type: Test-Failure

#15170 Added assertClusterSize() to the eviction stress tests
  hazelcast/src/test/java/com/hazelcast/internal/eviction/CacheExpirationStressTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/MapExpirationStressTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#15165 Use small instance config
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapTest.java
Labels: Module: ReplicatedMap, Team: Core, Type: Test-Failure

#15174 Subclass fof EndpointManager @privateapi
  hazelcast/src/main/java/com/hazelcast/nio/AggregateEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/nio/DefaultAggregateEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/nio/UnifiedAggregateEndpointManager.java
Labels: Module: Network I/O, Team: Core, Type: Enhancement

#15182 Fixed FencedLockFailureTest NPE
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockFailureTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#15168 Execute Operation.call() while running operations directly
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncResponse.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/txn/TxnCommitBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/txn/TxnCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/OperationRunner.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/operations/Backup.java
Labels: Team: Core, Type: Defect

#15166 Remove deprecated c.h.core.Member
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientScheduledExecutorProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorGetAllScheduledMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/core/Member.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  pom.xml
Labels: Internal breaking change, Module: Cluster, Team: Core, Type: Cleanup

#15183 Remove deprecated TransactionType.LOCAL
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionOptions.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
Labels: Module: Transactions, Team: Core, Type: Cleanup

#15190 Return correct TransactionType from getById
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transaction/TransactionCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionOptions.java
  hazelcast/src/test/java/com/hazelcast/transaction/impl/TransactionTypeTest.java
Labels: Module: Transactions, Team: Core, Type: Defect

#15197 Added missing SimpleTokenCredentials class handling into SpiPortableHook.
  hazelcast/src/main/java/com/hazelcast/spi/impl/SpiPortableHook.java
  hazelcast/src/test/java/com/hazelcast/security/SecurityWithoutEnterpriseTest.java
Labels: Module: Security, Team: Core

#15192 NoopTenantControl now implements IdentifiedDataSerializable
  hazelcast/src/main/java/com/hazelcast/spi/impl/SpiDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/tenantcontrol/NoopTenantControl.java
Labels: Internal breaking change, Source: Internal, Team: Core, Type: Enhancement

#15198 Remove unused version from MapTransactionLogRecord constructor.
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
Labels: Module: Transactions, Source: Internal, Team: Core, Type: Cleanup

#15200 Update javadoc Maven plugin version and clean-up the javaApiLinks configuration
  pom.xml
Labels: Team: Core, Type: Cleanup

#14959 Extend EntryExpiredListener for EntryListener interface
  hazelcast-client/src/test/java/com/hazelcast/client/map/MapPreconditionsTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapListenerTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/AbstractReplicatedMapAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/core/EntryEventType.java
  hazelcast/src/main/java/com/hazelcast/core/EntryListener.java
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryListenerAdaptors.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapListenerAdaptors.java
  hazelcast/src/main/java/com/hazelcast/map/listener/MapListener.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/EntryListenerAdaptorsTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapSplitBrainTest.java
Labels: Module: IMap, Public API/SPI breaking change, Source: Internal, Team: Core

#15201 Remove c.h.core.IBifunction and use j.u.function.Bifunction instead
  hazelcast/src/main/java/com/hazelcast/core/IBiFunction.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ToBackupSender.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/BaseHeapNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/util/ConcurrentReferenceHashMap.java
  hazelcast/src/main/java/com/hazelcast/util/IConcurrentMap.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
Labels: Public API/SPI breaking change, Team: Core, Type: Cleanup

#15202 Convert non-serializable usages of IFunction to j.u.f.Function
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/BatchInvalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/InvalidationUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/Invalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/NonStopInvalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapKeyLoader.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapKeyLoaderUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/nearcache/MapNearCacheManager.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/NodeQueryCacheContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/DefaultPublisherContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/PublisherContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/QueryCacheListenerRegistry.java
  hazelcast/src/main/java/com/hazelcast/util/ConcurrentReferenceHashMap.java
  hazelcast/src/main/java/com/hazelcast/util/IConcurrentMap.java
  hazelcast/src/main/java/com/hazelcast/util/IterableUtil.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/PausingMapLoader.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastProxyFactory.java
  hazelcast/src/test/java/com/hazelcast/util/IterableUtilTest.java
  hazelcast/src/test/java/com/hazelcast/util/SampleableConcurrentHashMapTest.java
Labels: Team: Core, Type: Cleanup

#15171 Moved ClassNameFilter to com.hz.nio.serialization
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DefaultSerializationServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/ClassNameFilter.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/SerializationClassNameFilter.java
  hazelcast/src/test/java/com/hazelcast/nio/SerializationClassNameFilterTest.java
Labels: Module: Serialization, Public API/SPI breaking change, Source: Internal, Team: Core

#15205 Delete unused method
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Cleanup

#15209 Fix copy/paste exception message
  hazelcast/src/main/java/com/hazelcast/security/UsernamePasswordCredentials.java
Labels: Team: Core

#15210 Fix package path in extension priority list
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
Labels: Team: Core, Type: Defect

#15167 Reduce resource usage for LockBasicDistributedTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/unsafe/lock/LockBasicTest.java
Labels: Module: ILock, Source: Internal, Team: Core, Type: Test-Failure

#15211 Removes DuplicateInstanceNameException
  hazelcast-client/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast-client/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/core/DuplicateInstanceNameException.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/core/HazelcastTest.java
Labels: Module: Config, Team: Client, Team: Core, Type: Cleanup

#15204 Make Projection a functional interface
  hazelcast-client/src/test/java/com/hazelcast/client/map/AbstractMapQueryPartitionIteratorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapProjectSerializationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientPartitionPredicateTest.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/projection/Projection.java
  hazelcast/src/main/java/com/hazelcast/projection/impl/IdentityProjection.java
  hazelcast/src/main/java/com/hazelcast/projection/impl/MultiAttributeProjection.java
  hazelcast/src/main/java/com/hazelcast/projection/impl/SingleAttributeProjection.java
  hazelcast/src/test/java/com/hazelcast/map/MapQueryPartitionIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/projection/MapProjectionTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/PredicateHzAwareTest.java
Labels: Module: IMap, Module: Query, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15136 IMap entries eviction support on the indexes level (#11748)
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/StoreAdapter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStoreAdapter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/DefaultIndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/ConverterResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/AttributeCanonicalizationTest.java
Labels: Module: IMap, Priority: Low, Source: Internal, Team: Core, Type: Defect

#15195 WAN publisher SPI cleanup, part 2
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/config/WanPublisherState.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/InstanceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/WanPublisherMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeWanStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ClearWanQueuesOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/WanCheckConsistencyOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapReplicationSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MerkleTreeNodeEntries.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationRemove.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationUpdate.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalWanPublisherStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/WanSyncState.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/LocalWanPublisherStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/WanSyncStateImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/wan/ConsistencyCheckResult.java
  hazelcast/src/main/java/com/hazelcast/wan/DistributedServiceWanEventCounters.java
  hazelcast/src/main/java/com/hazelcast/wan/ReplicationEventObject.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/AddWanConfigResult.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanEventCounters.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanSyncStatus.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/AbstractMerkleTreeView.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/ArrayMerkleTree.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/MerkleTree.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/MerkleTreeUtil.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/MerkleTreeView.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/RemoteMerkleTreeView.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/package-info.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/instance/TestNodeContext.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
  hazelcast/src/test/java/com/hazelcast/wan/WanRESTTest.java
  hazelcast/src/test/java/com/hazelcast/wan/WanServiceMockingNodeContext.java
  hazelcast/src/test/java/com/hazelcast/wan/WanServiceMockingNodeExtension.java
  hazelcast/src/test/java/com/hazelcast/wan/WanSyncStatusTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanReplicationTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/merkletree/ArrayMerkleTreeBenchmark.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/merkletree/ArrayMerkleTreeTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/merkletree/MerkleTreeUtilTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/merkletree/RemoteMerkleTreeViewTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: WAN, Public API/SPI breaking change, Source: Internal, Team: Core, Type: Cleanup

#15215 Set publisher-listener-id if query-cache has already one
  hazelcast/src/main/java/com/hazelcast/map/QueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractQueryCacheEndToEndConstructor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/InternalQueryCache.java
Labels: Module: IMap, Team: Core, Type: Defect

#15226 Protocol Cleanup - Remove unneeded partitionIds and use List<Xid> in XACollectTransactionsMessageTask
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientClusterWideIterator.java
  hazelcast-client/src/main/java/com/hazelcast/client/map/impl/ClientMapPartitionIterator.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/IExecutorDelegatingFuture.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/txn/xa/XAResourceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/transaction/XACollectTransactionsMessageTask.java
  pom.xml
Labels: Team: Client, Type: Enhancement
