Repository hazelcast/hazelcast, pull requests merged in 2019-01, with the labels that each got.

#14332 Ignore call timeout check for WAN operations
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
Labels: Module: WAN, Team: Core, Type: Defect

#14200 Replace System.out logging in HazelcastManifestTransformer with Logger
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
Labels: Type: Cleanup

#14243 Added note com.hz.client.con is private
  hazelcast-client/src/main/java/com/hazelcast/client/connection/package-info.java
Labels: Module: Network I/O, Team: Core, Team: Documentation, Type: Enhancement

#14058 Channel.close closes socket immediately
  hazelcast/src/main/java/com/hazelcast/internal/networking/AbstractChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/Channel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/ChannelHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
Labels: Module: Network I/O, Team: Core, Team: QuSP

#14256 Remove updating backup count config via MC
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdateMapConfigOperation.java
Labels: Module: IMap, Team: Core, Team: Management Center, Type: Cleanup

#14336 Fix partition service compatibility test
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/InternalPartitionImplConstructor.java
Labels: Team: Core, Type: Test-Failure

#14345 [BACKPORT] Ignore call timeout check for WAN operations (#14332)
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
Labels: Backport, Module: WAN, Team: Core, Type: Defect

#14352 [BACKPORT] Fix invalid class for Eureka Discovery Strategy (#14347)
  hazelcast/src/main/java/com/hazelcast/config/AliasedDiscoveryConfigUtils.java
Labels: Backport, Module: Discovery SPI, Team: Core, Team: Integration, Type: Defect

#14355 Fixes ambiguous method call in MapPredicateJsonTest
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Type: Test-Failure

#14356 Fixes ambigouos method call for Java6
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Type: Defect

#14237 YAML loader and YAML specific DOM builder
  hazelcast/src/main/java/com/hazelcast/internal/yaml/AbstractYamlNode.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlCollection.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlDomBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlException.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlMapping.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlMappingImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlNode.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlScalar.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlScalarImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlSequence.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlSequenceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/package-info.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlDomBuilderNegativeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlTest.java
  hazelcast/src/test/resources/yaml-test-invalid.yaml
  hazelcast/src/test/resources/yaml-test-root-map-extended.yaml
  hazelcast/src/test/resources/yaml-test-root-map.json
  hazelcast/src/test/resources/yaml-test-root-map.yaml
  hazelcast/src/test/resources/yaml-test-root-seq.yaml
  pom.xml
Labels: Team: Core, Type: Enhancement

#14263 ConfigLocators to extend common parent
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigLocator.java
Labels: Module: Config, Team: Core, Type: Enhancement

#14362 Revert YAML changes temporarily
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/AbstractYamlNode.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlCollection.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlDomBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlException.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlMapping.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlMappingImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlNode.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlScalar.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlScalarImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlSequence.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlSequenceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/package-info.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlDomBuilderNegativeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlTest.java
  hazelcast/src/test/resources/yaml-test-invalid.yaml
  hazelcast/src/test/resources/yaml-test-root-map-extended.yaml
  hazelcast/src/test/resources/yaml-test-root-map.json
  hazelcast/src/test/resources/yaml-test-root-map.yaml
  hazelcast/src/test/resources/yaml-test-root-seq.yaml
  pom.xml
Labels: Team: Core

#14262 Extract DOM processing from XML config classes
  checkstyle/suppressions.xml
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigSections.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/QueryCacheConfigBuilderHelper.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientConfigBuilder.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/CacheManagerBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastInstanceDefinitionParser.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/MyServiceConfigParser.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/config/DomConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/DomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/replacer/EncryptionReplacer.java
  hazelcast/src/test/java/com/hazelcast/config/IterableNodeListTest.java
  hazelcast/src/test/java/com/hazelcast/config/MyServiceConfigParser.java
Labels: Module: Config, Team: Core, Type: Enhancement

#14368 Make DomConfigHelper methods public
  hazelcast/src/main/java/com/hazelcast/config/DomConfigHelper.java
Labels: Team: Core

#14371 Redo "ConfigLocators to extend common parent"
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigLocator.java
Labels: Module: Config, Team: Core, Type: Enhancement

#14366 YAML loader and YAML specific DOM builder
  hazelcast/src/main/java/com/hazelcast/internal/yaml/AbstractYamlNode.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/ReflectiveYamlDocumentLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlCollection.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlDocumentLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlDomBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlException.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlMapping.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlMappingImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlNode.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlScalar.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlScalarImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlSequence.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlSequenceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/package-info.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlDomBuilderNegativeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/resources/yaml-test-invalid.yaml
  hazelcast/src/test/resources/yaml-test-root-map-extended.yaml
  hazelcast/src/test/resources/yaml-test-root-map.json
  hazelcast/src/test/resources/yaml-test-root-map.yaml
  hazelcast/src/test/resources/yaml-test-root-seq.yaml
  pom.xml
Labels: Module: Config, Team: Core, Type: Enhancement

#14373 Minor DefaultClientConnectionStrategy renaming
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/DefaultClientConnectionStrategy.java
Labels: Team: Client, Type: Cleanup

#14261 YAML to W3C DOM adapter
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/config/yaml/EmptyNamedNodeMap.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/EmptyNodeList.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/NamedNodeMapAdapter.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/NodeAdapter.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/NodeListMappingAdapter.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/NodeListSequenceAdapter.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/W3cDomUtil.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/YamlOrderedMapping.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/YamlOrderedMappingImpl.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/package-info.java
  hazelcast/src/test/java/com/hazelcast/config/yaml/W3cDomTest.java
Labels: Module: Config, Team: Core, Type: Enhancement

#14360 Minor cleanup in the ClientListenerService logic.
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/NonSmartClientListenerService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/SmartClientListenerService.java
Labels: Team: Client, Type: Cleanup

#14374 Reduced thread creation in MetricsRegistry
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/GarbageCollectionMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/StatisticsAwareMetricsSet.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Team: Client, Team: Core, Type: Perf. Defect

#14376 StripedExecutor has lazy thread creation option
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/EventQueuePlugin.java
  hazelcast/src/main/java/com/hazelcast/util/executor/StripedExecutor.java
Labels: Team: Client, Team: Core, Type: Perf. Defect

#14375 Do not produce thread dump when test expects an exception
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  hazelcast/src/test/java/org/junit/rules/ExpectedExceptionMatcherBuilderAccessor.java
Labels: Team: Core, Type: Defect

#14380 Diagnostics auto create output directory when does not exist
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFile.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/AbstractDiagnosticsPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFileTest.java
Labels: Module: Diagnostics, Team: Core, Type: Enhancement

#14381 Change message wording to avoid confusion
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
Labels: Team: Core, Team: Documentation, Type: Defect

#14282 New test for checking if ICache backup operations apply default expiry policy to backup entries
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
  hazelcast/src/test/java/com/hazelcast/test/backup/CacheBackupAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/backup/TestBackupUtils.java
Labels: Module: ICache, Team: Core

#14382 Change semantics and name of assumeThatJDK8
  hazelcast/src/test/java/com/hazelcast/config/yaml/W3cDomTest.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/util/AddressUtilTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#14388 Fixed typo to reflect only caller's near cache is cleared after remov…
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
Labels: Team: Documentation, Type: Defect

#14384 Client Executor Service Test Objects should be Hazelcast Serializable to be reused by native client tests
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientExecutorServiceProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceCancelTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceExecuteTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceInvokeTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceSubmitTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ExecutionDelayTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ExecutorServiceLiteMemberTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/durable/ClientDurableExecutorServiceSubmitTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/durable/ClientDurableExecutorServiceTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/tasks/CancellationAwareTask.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/tasks/NullCallable.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/tasks/SelectAllMembers.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/tasks/SelectNoMembers.java
  hazelcast-client/src/test/resources/hazelcast-client-test-executor.xml
  hazelcast-client/src/test/resources/hazelcast-test-executor.xml
  hazelcast/src/test/java/com/hazelcast/client/test/IdentifiedFactory.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/AppendCallable.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/CancellationAwareTask.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/FailingCallable.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/GetMemberUuidTask.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/MapPutPartitionAwareCallable.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/NullCallable.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/SelectAllMembers.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/SelectNoMembers.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/SerializedCounterCallable.java
  hazelcast/src/test/java/com/hazelcast/client/test/executor/tasks/TaskWithUnserializableResponse.java
Labels: Estimation: S, Module: IExecutor, Team: Client, Type: Enhancement

#14390 Remove andThenInternal from ClientDelegatingFuture
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientInternalCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/NearCachedClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/util/ClientDelegatingFuture.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientMaxAllowedInvocationTest.java
Labels: Team: Client, Type: Cleanup

#14386 Remove password checks in REST API calls
  hazelcast-client/src/main/resources/hazelcast-client-config-3.12.xsd
  hazelcast/src/main/java/com/hazelcast/config/GroupConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/UpdateManagementCenterUrlRequestTest.java
Labels: Team: Client, Team: Core, Team: Management Center

#14391 Fixing initial membership event when client start async
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/MembershipListenerTest.java
Labels: Team: Client, Type: Defect

#14392 Fixing initial membership event when client start async
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/MembershipListenerTest.java
Labels: Backport, Team: Client, Type: Defect

#14403 Removing HazelcastClientManager and HazelcastClientFactory
  hazelcast-client/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast-client/src/main/java/com/hazelcast/client/HazelcastClientFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/HazelcastClientManager.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheClearTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheContextTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheCreationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheEventJournalBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheIteratorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCachePartitionIteratorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCachePartitionLostListenerTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCachePutAllTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheReadWriteThroughTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCachingProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/txn/ClientTxnOwnerDisconnectedTest.java
Labels: Team: Client, Type: Cleanup, Type: Defect

#14400 Fix small issues with FlakeIdGenerator
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientFlakeIdGeneratorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/FlakeIdGeneratorConfig.java
  hazelcast/src/main/java/com/hazelcast/core/HazelcastInstance.java
  hazelcast/src/main/java/com/hazelcast/flakeidgen/FlakeIdGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/memory/impl/MemoryManagerBean.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/HsaHeapMemoryManager.java
  hazelcast/src/main/java/com/hazelcast/spi/exception/WrongTargetException.java
Labels: Module: FlakeIDGenerator, Source: Internal, Team: Core

#14389 Introduced dynamic response processing for client.
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/properties/ClientProperty.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplierTest.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/AbstractCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithoutBackpressure.java
Labels: Team: Client, Type: Perf. Defect

#14408 use available port instead of harcoded one on the HazelcastCloud test
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscoveryTest.java
Labels: Team: Client, Type: Test-Failure

#14413 Add javax.management.* to @PowerMockIgnore
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/VersionedInCurrentVersionTest.java
Labels: Team: Core, Type: Test-Failure

#14414 [BACKPORT] Add javax.management.* to @PowerMockIgnore
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/VersionedInCurrentVersionTest.java
Labels: Backport, Team: Core, Type: Test-Failure

#14407 Added missing https URLs for all xsds since 3.8 (pr for master branch)
  hazelcast-spring/src/main/resources/META-INF/spring.schemas
Labels: Module: Config, Source: Community, Team: Core, Team: Integration, Type: Defect

#14399 Added missing https URLs for all xsds since 3.8
  hazelcast-spring/src/main/resources/META-INF/spring.schemas
Labels: Module: Config, Source: Community, Team: Integration, Type: Defect

#14428 Use correct Locale in TypeConverterText.testSQLDateConverter_whenNumberPassed
  hazelcast/src/test/java/com/hazelcast/query/impl/TypeConverterTest.java
Labels: Team: Core, Type: Test-Failure

#14372 Optimize AbstractPredicate attribute extraction
  hazelcast/src/main/java/com/hazelcast/query/impl/Extractable.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AbstractPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BetweenPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/GreaterLessPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/InPredicate.java
  hazelcast/src/test/java/com/hazelcast/query/impl/AndResultSetTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/OrResultSetTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/NestedPredicateWithExtractorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/PredicatesTest.java
Labels: Source: Internal, Team: Core, Type: Perf. Defect

#14437 Made NioThread.selector timeout configurable
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioThread.java
Labels: Team: QuSP, Type: Perf. Defect

#14432 [Backport] Do not produce thread dump when test expects an exception
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  hazelcast/src/test/java/org/junit/rules/ExpectedExceptionMatcherBuilderAccessor.java
Labels: Backport, Team: Core, Type: Defect

#14323 Fix operation stats for map and replicatedMap
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapStatsTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapStatisticsTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapGetAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ContainsKeyOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/ClearOperation.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsMultipleNodeTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapStatsTest.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#14324 Fix operation stats for map and replicatedMap
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapStatsTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapStatisticsTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapGetAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ContainsKeyOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/ClearOperation.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsMultipleNodeTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapStatsTest.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect
