Repository hazelcast/hazelcast, pull requests merged in 2019-03, with the labels that each got.

#14614 Fix closed connection related REST tests for different environments
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterMultiendpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#14603 Remove password from the default Hazelcast configuration
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Team: Core, Type: Enhancement

#14616 Ignore failing method HazelcastStarterTest
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastStarterTest.java
Labels: Team: Core, Type: Test-Failure

#14606 Remove mapEntry from the signature of applyForSingleAttributeValue me…
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AbstractPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BetweenPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BoundedRangePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/GreaterLessPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/InPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/LikePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/RegexPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/AttributeCanonicalizationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/NestedPredicateWithExtractorTest.java
Labels: Team: Core, Type: Cleanup

#14609 Get record from correct lazy entry view. HD and other memory formats …
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/EvictorImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EvictBatchBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/EvictBatchBackupOperationTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#14605 Add 3.11 backward compatibility checks for CP Subsystem
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/ClientCPSubsystemRollingUpgrade_3_11_Test.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPSubsystemRollingUpgrade_3_11_Test.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNodeContext.java
Labels: Module: CP Subsystem, Module: Rolling Upgrade, Team: Core, Type: Defect

#14618 Fix leaking of shaded jackson and snakeyaml dependency
  pom.xml
Labels: Team: Core, Type: Defect

#14629 Fix RestCPSubsystemTest
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestCPSubsystemTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#14621 Remove unused method
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
Labels: Team: Core, Type: Cleanup

#14620 Re-enable blocking check from generic client threads
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/CreateRaftGroupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationFuture.java
Labels: Team: Client, Type: Defect

#14626 [BACKPORT] Get record from correct lazy entry view. HD and other memory formats …
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/EvictorImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EvictBatchBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/EvictBatchBackupOperationTest.java
Labels: Backport, Module: IMap, Team: Core, Type: Defect

#14623 Allow to disable test output redirects
  modulepath-tests/pom.xml
  pom.xml
Labels: Type: Enhancement

#14639 Add note for CP member shutdown
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystemManagementService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#14632 Use SimpleCompletableFuture from c.h.internal.util package
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/proxy/RaftAtomicLongProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/MembershipChangeTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/QueryTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/ReplicateTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/util/SimpleCompletableFuture.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/SimpleCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftIntegration.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/AbstractProxySessionManagerTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Cleanup

#14624 Fix failure due to timing in AbstractNearCacheBasicTest
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/AbstractNearCacheBasicTest.java
Labels: Cause: Implementation - Timing, Module: Near Cache, Team: Core, Type: Test-Failure

#14649 Assert cluster size in ClusterShutdownTest
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterShutdownTest.java
Labels: Backport, Team: Core, Type: Test-Failure

#14648 Assert cluster size in ClusterShutdownTest
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterShutdownTest.java
Labels: Team: Core, Type: Test-Failure

#14650 Apache HTTP client fail to use TLSv1.2 in some cases
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
Labels: Team: Core, Type: Test-Failure

#14630 Notify WAN invocations of closed connections
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/InternalOperationService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationMonitor.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockConnection.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNetworkingService.java
Labels: Module: WAN, Team: Core, Type: Test-Failure

#14627 Pipelining perf improvement
  hazelcast/src/main/java/com/hazelcast/core/Pipelining.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/util/ConcurrencyUtil.java
  hazelcast/src/test/java/com/hazelcast/core/PipeliningTest.java
Labels: Team: Core, Type: Perf. Defect

#14651 Skip full member list traversal for client->member address lookup
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
Labels: Module: Network I/O, Team: Core, Type: Perf. Defect

#14656 Fix relocation of META-INF/services in shaded JARs
  hazelcast/pom.xml
  pom.xml
Labels: Team: Core, Type: Test-Failure

#14657 Report waiting Raft operations via LiveOperationsTracker
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/countdownlatch/RaftCountDownLatchClientBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/countdownlatch/RaftCountDownLatchLongAwaitClientTest.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CallerAware.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/AwaitInvocationKey.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatch.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/operation/AwaitOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/LockInvocationKey.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/RaftLock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/RaftLockRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/RaftLockService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/operation/LockOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/operation/TryLockOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/AcquireInvocationKey.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/operation/AcquirePermitsOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/BlockingResource.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/ResourceRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/WaitKey.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/ChangeRaftGroupMembershipOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/DefaultRaftReplicateOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/DestroyRaftGroupOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/RaftReplicateOp.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchLongAwaitTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockLongAwaitTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreLongAwaitTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Enhancement

#14655 Fix ClientSelectors.ipSelector with 127.0.0.1
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/ClientSelectorsTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientSelectors.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ClientBwListConfigHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ManagementCenterServiceIntegrationTest.java
Labels: Team: Client, Type: Defect

#14601 Fix parsing of reuse-address in Spring
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestAdvancedNetworkApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Test-Failure

#14636 Implement async Raft group creation for client proxies
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/CreateRaftGroupMessageTask.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPSubsystemRollingUpgrade_3_11_Test.java
Labels: Module: CP Subsystem, Team: Client

#14665 Fix XmlYamlConfigBuilderEqualsTest on Windows
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#14666 Add Javadoc for CP Subsystem discovery
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
  hazelcast/src/main/java/com/hazelcast/cp/session/CPSessionManagementService.java
Labels: Module: CP Subsystem

#14619 Change EventJournal Projection to Function
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalFunctions.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalReadOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheEventJournalReadTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapEventJournalReadTask.java
  hazelcast/src/main/java/com/hazelcast/core/ICacheManager.java
  hazelcast/src/main/java/com/hazelcast/internal/journal/DeserializingEntry.java
  hazelcast/src/main/java/com/hazelcast/internal/journal/EventJournalDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/journal/EventJournalReader.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/DeserializingEventJournalMapEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalFunctions.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalReadOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/PacketDispatcher.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/EventJournalCacheDataStructureAdapter.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBounceTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalExpiringTest.java
  hazelcast/src/test/java/com/hazelcast/journal/IdentityFunction.java
  hazelcast/src/test/java/com/hazelcast/journal/NewValueIncrementingFunction.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/EventJournalMapDataStructureAdapter.java
Labels: Module: ICache, Module: IMap, Source: Jet, Team: Core, Type: Enhancement

#14635 Fix for NoDataMemberInClusterEx in ClientPartitionService
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientPartitionService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberSelectingCollection.java
Labels: Team: Client, Type: Defect

#14668 Suppress failure stacktraces while changing cluster state/version
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/CommitClusterStateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/LockClusterStateOp.java
Labels: Team: Core, Type: Cleanup

#14611 Changed oldValue type to Object
  hazelcast/src/main/java/com/hazelcast/map/impl/event/DefaultEntryEventFilteringStrategy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/FilteringStrategy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/QueryCacheNaturalFilteringStrategy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/BasePutOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/LegacyMergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutIfAbsentOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutTransientOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ReplaceIfSameOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ReplaceOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnSetOperation.java
  hazelcast/src/test/java/com/hazelcast/map/MapQueryEventFilterTest.java
Labels: Team: Core, Type: Defect

#14660 Test changes to support EE adaptation
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedMultiendpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
Labels: Source: Internal, Team: Core

#14658 Addresses leftovers of advanced network configuration
  hazelcast/src/main/java/com/hazelcast/instance/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/PartitionServiceMBean.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/PartitionServiceMBeanTest.java
Labels: Module: Network I/O, Team: Core, Type: Enhancement

#14664 Fix issue in MapStoreDataLoadingContinuesWhenNodeJoins test
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreDataLoadingContinuesWhenNodeJoins.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#14659 Fixes QueryBounceTest overloading
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
Labels: Module: Query, Team: Core, Type: Test-Failure

#14652 Fixes Json aggregation non-terminal field issue
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/AbstractAggregator.java
  hazelcast/src/test/java/com/hazelcast/json/MapAggregationJsonTest.java
Labels: Module: Query, Team: Core, Type: Defect

#14646 Send UUID & CP Member UUID to MC
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/monitor/MemberState.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/MemberStateImpl.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
Labels: Team: Management Center, Type: Enhancement

#14674 Prevent expiration operation creation if partition is migrating
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
Labels: Team: Core, Type: Enhancement

#14667 Reset follower back-off flag when only received response is accepted
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast/src/main/java/com/hazelcast/config/cp/RaftAlgorithmConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendFailureResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendSuccessResponseHandlerTask.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
Labels: Module: CP Subsystem, Team: Core, Type: Enhancement

#14669 Bypass Hazelcast's ProxyService for CP data structure proxies
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/CPSubsystemImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/atomiclong/RaftAtomicLongProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/atomiclong/RaftAtomicLongProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/atomicref/RaftAtomicRefProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/atomicref/RaftAtomicRefProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/countdownlatch/RaftCountDownLatchProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/countdownlatch/RaftCountDownLatchProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/lock/RaftFencedLockProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/lock/RaftFencedLockProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/proxy/ClientRaftProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/proxy/package-info.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/RaftSemaphoreProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/RaftSessionAwareSemaphoreProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/RaftSessionlessSemaphoreProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/package-info.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ProxyManager.java
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/RaftAtomicLongService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/proxy/RaftAtomicLongProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/RaftAtomicRefService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/proxy/RaftAtomicRefProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/proxy/RaftCountDownLatchProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/RaftLockService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/proxy/RaftFencedLockProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/RaftSessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/RaftSessionlessSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/RaftRemoteService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPSubsystemRollingUpgrade_3_11_Test.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomiclong/RaftAtomicLongBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomicref/RaftAtomicRefBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockBasicTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect, Type: Test-Failure

#14675 Add termination logic to ungraceful shutdown operations.
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
Labels: Team: Core, Type: Test-Failure

#14687 Remove event count assertion.
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#14685 Rewrite test thread to check stop flag in every iteration
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheInvalidationMemberAddRemoveTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapInvalidationMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapInvalidationMemberAddRemoveTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#14686 The ClientStatisticsTest.waitForFirstStatisticsCollection timeout may not be enough
  hazelcast-client/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
Labels: Team: Client, Type: Test-Failure

#14693 Change membership change order in the CP Subsystem
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftNodeLifecycleAwareService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/RaftAtomicLongService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/RaftAtomicRefService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNode.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeStatus.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendRequestHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/GetInitialRaftGroupMembersIfCurrentGroupMemberOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect, Type: Enhancement

#14691 Add api to await CP discovery process completion
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystemManagementService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/HazelcastRaftTestSupport.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/RaftSplitBrainTestSupport.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomiclong/RaftAtomicLongSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomicref/RaftAtomicRefSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestCPSubsystemTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Enhancement

#14676 Handle properly concurrent access to PermissionConfig fields
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
Labels: Team: Core, Type: Test-Failure

#14683 NioChannelWriter sleep/wakeUp support
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestAwareClientFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannelWriter.java
  hazelcast/src/main/java/com/hazelcast/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/TestAwareInstanceFactory.java
Labels: Team: Core, Type: Enhancement

#14688 Fix discoveryService.next/current behavior
  hazelcast-client/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientDiscoveryService.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/ClientClusterDiscoveryServiceTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/connection/nio/ConnectMemberListOrderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#14678 Fixes member connection detection and registration in BindHandler
  hazelcast/src/main/java/com/hazelcast/nio/tcp/BindHandler.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/BindHandlerTest.java
Labels: Team: Core, Type: Defect

#14698 Fix socket channel leak when networking is restarted after cluster merge
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NioChannelMemoryLeakTest.java
Labels: Module: Network I/O, Team: Core, Type: Defect

#14699 [Backport] Fix socket channel leak when networking is restarted after cluster merge
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NioChannelMemoryLeakTest.java
Labels: Backport, Module: Network I/O, Team: Core, Type: Defect

#14690 Adds more Json index tests & fixes issue with non terminal index values
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Defect

#14695 Change HazelcastJsonValue interface to a class
  hazelcast/src/main/java/com/hazelcast/core/HazelcastJsonValue.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/json/HazelcastJson.java
  hazelcast/src/main/java/com/hazelcast/json/HazelcastJsonImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/JsonMetadataInitializer.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/JsonGetter.java
  hazelcast/src/test/java/com/hazelcast/json/JsonValueSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapAggregationJsonTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonMixedTypeTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/AbstractJsonSchemaTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/DataInputJsonSchemaCreateTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonSchemaHelperMultiValueTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonSchemaHelperNullTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonSchemaHelperTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/JsonIndexIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/AbstractJsonGetterTest.java
Labels: Team: Core, Type: Defect

#14703 Fix compilation error missing HazelcastJson.fromString methods
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
Labels: Team: Core

#14702 Added additional GC names to prevent diagnostics for unknown.gc.count
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/GarbageCollectionMetricSet.java
Labels: Team: Core, Type: Enhancement

#14704 Refactor tests to wait for safe state before assertions
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapInvalidationMetaDataMigrationTest.java
Labels: Module: Near Cache, Team: Core, Type: Test-Failure

#14705 Partially revert membership change fix in the Raft core
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeStatus.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendRequestHandlerTask.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/MembershipChangeTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#14708 Add `comparator-class-name` to EvictionConfig object in xml and yaml configs
  hazelcast-client/src/main/java/com/hazelcast/client/config/AbstractQueryCacheConfigBuilderHelper.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/main/resources/hazelcast-client-config-3.12.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-client/src/main/resources/hazelcast-client-full.yaml
  hazelcast-client/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
Labels: Type: Enhancement

#14710 Reduce stale join prevention timeout to a lower value
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/FrozenPartitionTableTest.java
Labels: Module: Hot Restart, Team: Core, Type: Defect

#14490 Improving the code comment for HazelcastInstance interface.
  hazelcast/src/main/java/com/hazelcast/core/HazelcastInstance.java
Labels: Team: Core, Team: Documentation, Type: Enhancement

#14700 Introduce separate endpoint views for unified socket
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpNetworkingService.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpUnifiedEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TextViewUnifiedEndpointManager.java
Labels: Team: Core, Type: Enhancement

#14711 Added additional GC names to show GC stats in MC for RHEL
  hazelcast/src/main/java/com/hazelcast/memory/GCStatsSupport.java
Labels: Team: Core, Team: Integration, Type: Enhancement

#14715 All Members Send Their Member List to MC
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
Labels: Team: Management Center, Type: Enhancement

#14689 Don't ignore the items in the txMap while promoting from backup
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/txnqueue/TransactionQueueTest.java
Labels: Module: IQueue, Module: Transactions, Team: Core, Type: Critical, Type: Defect

#14714 [BACKPORT] Don't ignore the items in the txMap while promoting from backup
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/txnqueue/TransactionQueueTest.java
Labels: Backport, Module: IQueue, Module: Transactions, Team: Core, Type: Critical, Type: Defect

#14716 Improve hiccup resilience of ScheduledExecutorServiceBasicTest.ScheduledExecutorServiceBasicTest
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceBasicTest.java
Labels: Cause: Test - Timing, Module: IScheduledExecutor, Team: Core, Type: Test-Failure

#14119 Improve/fix multicast related tests to work on macOS
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/MulticastDiscoveryStrategy.java
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterJoinConfigCheckTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/LiteMemberJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastJoinTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/multicast/MemberToMemberDiscoveryTest.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
Labels: Source: Internal, Team: Core, Type: Cleanup

#14718 [FORWARD] Improve hiccup resilience of ScheduledExecutorServiceBasicTest.ScheduledExecutorServiceBasicTest
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceBasicTest.java
Labels: Cause: Test - Timing, Module: IScheduledExecutor, Team: Core, Type: Test-Failure

#14717 Skip processing empty partition table
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientPartitionListenerService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/GetPartitionsMessageTask.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#14647 Implement CP data structures' client security methods
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AddAndGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AlterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndAddMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ContainsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/SetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/AwaitMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/CountDownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetRoundMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/TrySetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/GetLockOwnershipStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/LockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/TryLockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/UnlockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AcquirePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AvailablePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ChangePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/DrainPermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/InitSemaphoreMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ReleasePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: CP Subsystem, Team: Client, Type: Enhancement

#14597 Support mixed-type numeric queries
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/AggregatorDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/CanonicalizingHashSet.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/DistinctValuesAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/DoubleAverageAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/DoubleSumAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/IntegerAverageAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/IntegerSumAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/LongAverageAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/LongSumAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/MaxAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/MaxByAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/MinAggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/MinByAggregator.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/DefaultMapAggregateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Comparables.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CompositeConverter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CompositeValue.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Numbers.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/TypeConverters.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ReflectionHelper.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BetweenPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BoundedRangePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/GreaterLessPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/InPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/RangeVisitor.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonMixedTypeTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MixedTypeQueriesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/ComparablesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/NumbersTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/TypeConverterTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/DistinctValuesAggregatorConstructor.java
Labels: Module: IMap, Module: Query, Team: Client, Team: Core, Type: Critical

#14723 getPartitionOwner should not block
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/partitionservice/ClientPartitionServiceLiteMemberTest.java
Labels: Team: Client, Type: Defect

#14719 Change cluster name on logs after client switched the cluster
  hazelcast-client/src/main/java/com/hazelcast/client/connection/ClientConnectionManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientLoggingService.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientClusterService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientPartitionService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClusterSwitchAwareService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
Labels: Team: Client, Type: Defect

#14728 When member cannot be found in members list, send empty partitions map
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientPartitionListenerService.java
Labels: Team: Client, Team: Core, Type: Defect

#14255 Add support for timing out tests only if no progress
  hazelcast/src/test/java/com/hazelcast/test/DefaultTaskProgress.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/ProgressCheckerTask.java
  hazelcast/src/test/java/com/hazelcast/test/TaskProgress.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#14730 Fetch partitions from owner only
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#14731 Fetch partitions from owner only
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
Labels: Backport, Team: Client, Type: Defect, Type: Test-Failure

#14743 Rename LockAcquireLimitExceededException to LockAcquireLimitReachedException
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodes.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/proxy/AbstractRaftFencedLockProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/lock/FencedLock.java
  hazelcast/src/main/java/com/hazelcast/cp/lock/exception/LockAcquireLimitReachedException.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/BoundedReentrantFencedLockTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/NonReentrantFencedLockTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Cleanup

#14735 Avoid converting composite values in-place
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CompositeConverter.java
  hazelcast/src/test/java/com/hazelcast/query/impl/CompositeConverterTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Test-Failure

#14742 Ignore YamlClientFailoverConfigBuilderTest on pre-jdk8
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#14744 Disable migrations while mastership claim is in progress
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/GracefulShutdownTest.java
Labels: Module: Cluster, Module: Partitioning, Team: Core, Type: Defect

#14745 Disable migrations while mastership claim is in progress
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/GracefulShutdownTest.java
Labels: Backport, Module: Cluster, Module: Partitioning, Team: Core, Type: Defect

#14752 Mastership-claim and graceful-shutdown tasks should use distinct executors
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterHeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MergeClustersOp.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/SingleProcessorMemberTest.java
Labels: Module: Cluster, Team: Core, Type: Defect

#14753 Mastership-claim and graceful-shutdown tasks should use distinct executors
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterHeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MergeClustersOp.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/SingleProcessorMemberTest.java
Labels: Backport, Module: Cluster, Team: Core, Type: Defect

#14758 Fix MemberToMemberDiscoveryTest
  hazelcast/src/test/java/com/hazelcast/spi/discovery/multicast/MemberToMemberDiscoveryTest.java
Labels: Module: Discovery SPI, Team: Core, Type: Test-Failure

#14756 Improve Javadoc of LockOwnershipLostException
  hazelcast/src/main/java/com/hazelcast/cp/lock/exception/LockOwnershipLostException.java
Labels: Module: CP Subsystem, Team: Core

#14747 Improve test progress tracker
  hazelcast/src/test/java/com/hazelcast/test/DefaultTaskProgress.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/TaskProgress.java
Labels: Team: Core, Type: Enhancement

#14726 Fixes operation stats for some map methods
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapStatsTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/DefaultMapQueryMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapContainsValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapEntrySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapIsEmptyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapKeySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapValuesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapValuesWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ContainsValueOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapIsEmptyOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapSizeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#14763 Overload close() in IOUtil
  hazelcast/src/main/java/com/hazelcast/nio/IOUtil.java
Labels: Team: Core, Type: Enhancement

#14765 [3.9.5] Fix Channel closing behavior in NioChannelWriter
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannelWriter.java
Labels: Type: Defect

#14760 Enable DOTALL flag to match line termination characters for LIKE pred…
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/ILikePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/LikePredicate.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/PredicatesTest.java
Labels: Module: Query, Team: Core, Type: Enhancement

#14720 Attempt to identify text protocol and fail-fast
  hazelcast-client/src/test/java/com/hazelcast/client/connection/nio/AdvancedNetworkingClientCommunicationIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/instance/ProtocolType.java
  hazelcast/src/main/java/com/hazelcast/nio/Protocols.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/TextChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TextHandshakeDecoder.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/InvalidEndpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestMultiendpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkingCommunicationIntegrationTest.java
Labels: Team: Core, Type: Enhancement, Type: Test-Failure

#14725 [Forward-port]Fixes operation stats for some map methods
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapStatsTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/DefaultMapQueryMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapContainsValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapEntrySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapIsEmptyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapKeySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapValuesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapValuesWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ContainsValueOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapIsEmptyOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapSizeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#14607 Increment partition state version up to the latest completed migration during master change
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionRuntimeState.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#14770 Fix possible NPE during lost partitions assignment
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitTest.java
Labels: Team: Core, Type: Defect

#14771 NioNetworking input and out threads visibility problem
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Team: Client, Team: Core, Type: Defect

#14773 Avoid division by zero on percentage calculation
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/NetworkingImbalancePlugin.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/NetworkingImbalancePluginTest.java
Labels: Team: Core, Type: Enhancement

#14772 Prevent registering a closed connection when processing bind response
  hazelcast/src/main/java/com/hazelcast/nio/tcp/BindHandler.java
Labels: Module: Network I/O, Team: Core, Type: Test-Failure

#14755 Adds probes for bytes/packets send/received
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Module: Diagnostics, Team: Core, Type: Enhancement

#14778 Fix LocalQueryTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalQueryTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/TestRaftMember.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#14775 Add comments for CP in full-example config
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Module: Config, Team: Core

#14727 Fail-fast if max-idle-seconds is set below 2 seconds
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/MapPreconditionsTest.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/util/Preconditions.java
  hazelcast/src/main/java/com/hazelcast/util/TimeUtil.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/util/PreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/util/TimeUtilTest.java
Labels: Module: IMap, Team: Core, Type: Enhancement

#14776 Clears lefotver durable executor containers after destroy
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DistributedDurableExecutorService.java
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DurableExecutorPartitionContainer.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableExecutorServiceTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/impl/DurableExecutorServiceHelper.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTestSupport.java
Labels: Team: Core, Type: Defect

#14780 Eclipse compiler problems fix
  hazelcast/src/test/java/com/hazelcast/query/impl/CompositeValueTest.java
Labels: Team: Core, Type: Enhancement

#14779 Adds a check on the send/receive buffer configuration
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannelOptions.java
Labels: Module: Network I/O, Type: Defect, Type: Enhancement, Type: Perf. Defect

#14757 Set socket connection timeout to 10s down from infinite
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannelOptions.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
Labels: Module: Network I/O, Team: Core, Type: Enhancement

#14777 Fix TCP window scale for Advanced Network
  hazelcast/src/main/java/com/hazelcast/instance/DefaultAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/DelegatingAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/ServerSocketHelper.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/TextChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/AbstractChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/ClientChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/MemberChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpNetworkingService.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpUnifiedEndpointManager.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Enhancement, Type: Test-Failure

#14789 Wait for safe state
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationTest.java
Labels: Team: Core, Type: Test-Failure

#14746 Fix for Client.applySelector race
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/ClientSelectorRaceTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Team: Client, Type: Defect

#14781 Explain why volatile field is updated not atomically
  hazelcast/src/main/java/com/hazelcast/map/impl/BinaryMapEntryCostEstimator.java
Labels: Team: Core, Type: Enhancement

#14790 Fix MapExpirationBouncingMemberTest
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/MapExpirationBouncingMemberTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#14783 Read and write 'name' field on the level where it's defined
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/KeyBasedMapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ReadonlyKeyBasedMapOperation.java
Labels: Module: Serialization, Team: Core, Type: Enhancement

#14762 Client initialization failure should not leave any orphan threads - avoid thread leakage
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/LifecycleServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ProxyManager.java
  hazelcast-client/src/test/java/classloading/ThreadLeakClientTest.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/test/java/classloading/AbstractThreadLeakTest.java
  hazelcast/src/test/java/classloading/ThreadLeakTest.java
Labels: Team: Client, Type: Enhancement

#14785 Maintain complete address map while resetting member
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
Labels: Module: Network I/O, Team: Client, Team: Core, Type: Defect

#14794 Rollback "Fail-fast if max-idle-seconds is set below 2 seconds"
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/MapPreconditionsTest.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/util/Preconditions.java
  hazelcast/src/main/java/com/hazelcast/util/TimeUtil.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/MapExpirationBouncingMemberTest.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/util/PreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/util/TimeUtilTest.java
Labels: Module: IMap, Team: Core, Type: Enhancement

#14792 Don't apply partition response coming from old connection
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
Labels: Team: Client, Type: Defect

#14793 Don't apply partition response coming from old connection
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
Labels: Backport, Team: Client, Type: Defect

#14795 Add comments for advanced network in full-example config
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Module: Config, Module: Network I/O, Team: Core
