Repository hazelcast/hazelcast, pull requests merged in 2019-09, with the labels that each got.

#15470 Reduces load in MembershipFailureTest
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipFailureTest.java
Labels: Team: Core, Type: Test-Failure

#15469 Reduces load in MembershipFailureTest
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipFailureTest.java
Labels: Team: Core, Type: Test-Failure

#15489 fix the fast forward to the endframe logic
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CodecUtil.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageTest.java
Labels: Team: Client, Type: Defect

#15505 Remove obsolete java doc
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/NearCachedClientMapProxy.java
Labels: Module: Near Cache, Team: Core, Type: Cleanup

#15510 Improve hiccup resilience of ScheduledExecutorServiceBasicTest
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceBasicTest.java
Labels: Cause: Test - Timing, Module: IScheduledExecutor, Team: Core, Type: Test-Failure

#15518 Disable persistent memory unit tests on non-Linux platforms
  hazelcast/src/main/java/com/hazelcast/util/OsHelper.java
Labels: Team: Core, Type: Enhancement

#15517 Assume execution on JDK<=11 for tests that use Whitebox.setInternalState
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTaskTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ObjectDataInputStreamFinalMethodsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ParallelPartitionScanExecutorTest.java
Labels: Team: Core, Type: Test-Failure

#15502 frames read always zero on client
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoder.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoderTest.java
Labels: Module: Network I/O, Priority: Low, Type: Defect

#15507 Rewrite test to count invalidations only generated by clear operations
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheInvalidationListener.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheInvalidationTest.java
Labels: Module: ICache, Module: Near Cache, Team: Core, Type: Test-Failure

#15484 override toString for client config and related config classes
  hazelcast/src/main/java/com/hazelcast/client/config/ClientCloudConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConnectionStrategyConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientIcmpPingConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientNetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientSecurityConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientUserCodeDeploymentConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ProxyFactoryConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/SocketOptions.java
  hazelcast/src/main/java/com/hazelcast/config/GroupConfig.java
  hazelcast/src/main/java/com/hazelcast/security/UsernamePasswordCredentials.java
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
Labels: Team: Client, Type: Enhancement

#15519 Improved disabling windows tests for persistent memory
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Priority: Low, Source: Internal, Team: Core, Type: Enhancement

#15524 #15523 Fix exposure of operationExecutorQueueSize JMX attribute
  hazelcast/src/main/java/com/hazelcast/internal/jmx/OperationServiceMBean.java
Labels: Team: Core, Type: Defect

#15414 Improve performance of SecondsBasedEntryTaskScheduler (and thus transaction commit)
  hazelcast/src/main/java/com/hazelcast/util/scheduler/CompositeKey.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/EntryTaskScheduler.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/EntryTaskSchedulerFactory.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/ScheduledEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskScheduler.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapTtlTest.java
  hazelcast/src/test/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskSchedulerStressTest.java
  hazelcast/src/test/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskSchedulerTest.java
Labels: Team: Core, Type: Enhancement

#15531 [FORWARD-PORT] Add public modifier to getOperationExecutorQueueSize to fix exposure of JMX attribute (#15523)
  hazelcast/src/main/java/com/hazelcast/internal/jmx/OperationServiceMBean.java
Labels: Forwardport, Team: Core, Type: Defect

#15529 Fix NPE NioNetworking shutdown
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Module: Network I/O, Team: Core, Type: Defect

#15530 Fix NPE NioNetworking
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Module: Network I/O, Team: Core, Type: Defect

#15516 Remove deprecated group properties
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterHeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/AbstractPingAwareSplitBrainProtectionFunction.java
  hazelcast/src/main/java/com/hazelcast/util/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/util/PhoneHomeTest.java
Labels: Public API/SPI breaking change, Team: Core, Type: Cleanup

#15545 Fixes HazelcastManifestTransformerTest interactions expected for JDK 13+
  hazelcast-build-utils/src/test/java/com/hazelcast/buildutils/HazelcastManifestTransformerTest.java
Labels: Team: Core, Type: Test-Failure

#15548 Renamed MapAttributeConfig and it's "extractor" field (#15547)
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/DynamicConfigAddMapConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/AttributeConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/AttributeConfig.java
  hazelcast/src/main/java/com/hazelcast/config/AttributeConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/query/extractor/ValueExtractor.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ExtractorHelper.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/Extractors.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/config/AttributeConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/AttributeConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ExtractorsAndIndexesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/QueryPerformanceBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/AbstractExtractionTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/predicates/CollectionAllPredicatesExtractorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/predicates/SingleValueAllPredicatesExtractorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/specification/ExtractionWithExtractorsSpecTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/ExtractorHelperTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/ExtractorsTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/NestedPredicateWithExtractorTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Config, Module: Query, Public API/SPI breaking change, Team: Core, Type: Enhancement

#15551 Cache config protocol encoder
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheHelper.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/CacheCreateConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/CacheGetConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CacheConfigHolderCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/MergePolicyConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/CacheConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
Labels: Internal breaking change, Team: Client, Type: Enhancement

#15111 Improve performance of TransactionLog.add()
  hazelcast/src/main/java/com/hazelcast/transaction/impl/AllowedDuringPassiveStateTransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLog.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/operations/ReplicateAllowedDuringPassiveStateTxBackupLogOperation.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/operations/ReplicateTxBackupLogOperation.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransaction.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransactionDTO.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/operations/PutRemoteTransactionOperation.java
  hazelcast/src/test/java/com/hazelcast/transaction/impl/TransactionLogTest.java
Labels: Module: Transactions, Source: Community, Team: Core, Type: Enhancement

#15433 Add missing configs to MapConfigDTO
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/EvictionConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MapConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MapStoreConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MergePolicyConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/NearCacheConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/NearCachePreloaderConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdateMapConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/MapConfigRequest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/internal/management/MapConfigRequestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/dto/MapConfigDTOTest.java
Labels: Module: IMap, Team: Core, Team: Management Center, Type: Defect

#15522 [Forward Port] - Executor service message task should not block the partition thread
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/AbstractExecutorServiceCancelMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
  hazelcast/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceCancelTest.java
Labels: Module: IExecutor, Priority: Medium, Team: Client, Type: Defect

#15566 Moving Tuple classes out from CP package
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatch.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/RaftCountDownLatchService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/RaftLock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/atomic/RaftAtomicValueService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/ResourceRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/operation/ExpireWaitKeysOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendSuccessResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/QueryState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/CompleteRaftGroupMembershipChangesOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/AbstractProxySessionManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/operation/ExpireSessionsOp.java
  hazelcast/src/main/java/com/hazelcast/internal/util/BiTuple.java
  hazelcast/src/main/java/com/hazelcast/internal/util/TriTuple.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/AbstractFencedLockFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/AbstractSemaphoreAdvancedTest.java
Labels: Team: Core, Type: Cleanup

#15527 Join WAN OS and EE SPI
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyWanReplication.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheOperation.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractWanPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CustomWanPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanBatchReplicationPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanPublisherState.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/InstanceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/WanPublisherMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/AbstractWanAntiEntropyEventBase.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/AbstractWanEventBase.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/AbstractWanSyncFinishedEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/WanConsistencyCheckFinishedEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/WanConsistencyCheckIgnoredEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/WanConsistencyCheckStartedEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/WanFullSyncFinishedEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/WanMerkleSyncFinishedEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/WanSyncIgnoredEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/WanSyncProgressUpdateEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/events/WanSyncStartedEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeWanStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ClearWanQueuesOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapReplicationSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationRemove.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationUpdate.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/LocalWanStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/wan/DistributedServiceWanEventCounters.java
  hazelcast/src/main/java/com/hazelcast/wan/WanAntiEntropyEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationEndpoint.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationPublisher.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/DelegatingWanReplicationScheme.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanReplicationEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanReplicationPublisher.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanEventCounters.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationPublisherDelegate.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/wan/impl/DummyWanReplication.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/FullQueueWanReplication.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanConfigurationTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanReplicationTest.java
Labels: Module: WAN, Public API/SPI breaking change, Team: Core, Type: Enhancement

#15571 Change WAN prefix with Wan
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/WanBatchReplicationPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanQueueFullBehavior.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/WanBatchReplicationPublisherConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationQueueFullException.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapWANExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/WanBatchReplicationPublisherConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/dto/WanBatchReplicationPublisherConfigDTOTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/FullQueueWanReplication.java
Labels: Module: WAN, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15573 Fix mock connection creation while remote node is being terminated
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNetworkingService.java
Labels: Team: Core, Type: Test-Failure

#15574 Instance/ClientNotActiveEx for rejected callbacks
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/client/ClientReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/AbstractInvocationFuture_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/AbstractInvocationFuture_ClosedExecutorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationFuture_AndThenTest.java
Labels: Team: Client, Team: Core, Type: Defect

#15443 Fix fluent API for config classes
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFlakeIdGeneratorConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientNetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/AdvancedNetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleEntryListenerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleEntryListenerConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/CollectionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryStrategyConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ListConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/MemberAttributeConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberAttributeConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/NetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/config/PredicateConfig.java
  hazelcast/src/main/java/com/hazelcast/config/PredicateConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/RestApiConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RestServerEndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SecurityConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SecurityInterceptorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ServerSocketEndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SetConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicSecurityConfig.java
Labels: Module: Config, Team: Core, Type: Enhancement

#15370 REST API: Support for updating the license (forward-port from 3.12)
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/HazelcastMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/SetLicenseOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JsonUtil.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/RestApiFilter.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
Labels: Team: Core, Type: Enhancement

#15425 Add missing support for nested JSON objects in arrays
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/JsonPathCursor.java
  hazelcast/src/test/java/com/hazelcast/json/MapAggregationJsonTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Team: Core, Type: Defect

#15500 Fix metrics non clientmode connection
  hazelcast/src/main/java/com/hazelcast/internal/networking/AbstractChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/Channel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
Labels: Module: Diagnostics, Module: Network I/O, Team: Core, Type: Defect

#15577 Set log level to finest for PartitionMigratingException
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheClearExpiredOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/MapClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapClearExpiredOperation.java
Labels: Team: Core, Type: Defect

#15578 Set log level to finest for PartitionMigratingException
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheClearExpiredOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/MapClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapClearExpiredOperation.java
Labels: Team: Core, Type: Defect

#15430 [BACKPORT] Add missing support for nested JSON objects in arrays
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/JsonPathCursor.java
  hazelcast/src/test/java/com/hazelcast/json/MapAggregationJsonTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Team: Core, Type: Defect

#15590 Retry used-memory when total-memory expands in-between calls
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/RuntimeMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JVMUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JVMUtilTest.java
Labels: Team: Core, Type: Defect, Type: Enhancement

#15587 Increase member IO threadcount when SSL enabled
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
Labels: Module: Network I/O, Type: Perf. Defect

#15564 Execute client graceful shutdown tasks before marking as inactive
  hazelcast/src/main/java/com/hazelcast/client/ClientOutOfMemoryHandler.java
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/session/ClientProxySessionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/LifecycleServiceImpl.java
Labels: Module: CP Subsystem, Team: Client, Type: Defect

#15565 Execute client graceful shutdown tasks before marking as inactive
  hazelcast-client/src/main/java/com/hazelcast/client/ClientOutOfMemoryHandler.java
  hazelcast-client/src/main/java/com/hazelcast/client/cp/internal/session/ClientProxySessionManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/LifecycleServiceImpl.java
Labels: Backport, Module: CP Subsystem, Team: Client, Type: Defect

#15567 CPSubsystem restart should cancel & wait running/scheduled discovery task
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15568 CPSubsystem restart should cancel & wait running/scheduled discovery task
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect

#15495 Added check for AbstractChannel.connect
  hazelcast/src/main/java/com/hazelcast/internal/networking/AbstractChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/Channel.java
Labels: Module: Network I/O, Team: Core, Type: Cleanup

#15596 Include in PR builder and fix ClientConfigXmlGeneratorTest
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: Config, Module: Near Cache, Team: Client, Type: Test-Failure

#15480 Make paging predicate visitable
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PagingPredicateImpl.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateOptimizationTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#15081 Smart clients default to 3+3 io threads
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
Labels: Estimation: S, Source: Internal, Team: Client, Team: QuSP, Type: Enhancement

#15591 Apply Raft fixes
  hazelcast/src/main/java/com/hazelcast/cp/exception/StaleAppendRequestException.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/RaftDataServiceDescriptorProvider.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/LockInvocationKey.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/RaftLock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/AcquireResult.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/ReleaseResult.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/Semaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/operation/AcquirePermitsOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/BlockingResource.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendFailureResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendSuccessResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/InstallSnapshotHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/FollowerState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/LeaderState.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/AbstractFencedLockFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockLongAwaitTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/AbstractSemaphoreFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LinearizableQueryTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalRaftTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect, Type: Enhancement

#15594 [BACKPORT] Apply Raft fixes
  hazelcast/src/main/java/com/hazelcast/cp/exception/StaleAppendRequestException.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/LockInvocationKey.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/RaftLock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/AcquireResult.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/ReleaseResult.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/operation/AcquirePermitsOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/BlockingResource.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendFailureResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendSuccessResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/InstallSnapshotHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/FollowerState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/LeaderState.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockLongAwaitTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalRaftTest.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect, Type: Enhancement

#15602 [BACKPORT] Make paging predicate visitable
  hazelcast/src/main/java/com/hazelcast/query/PagingPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateOptimizationTest.java
Labels: Backport, Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#15541 Protocol Specific Network Metrics - Iteration 2
  hazelcast/src/main/java/com/hazelcast/instance/ProtocolType.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/AdvancedNetworkStatsDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/Channel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/AdvancedNetworkStats.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/MemberStateImpl.java
  hazelcast/src/main/java/com/hazelcast/nio/AggregateEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/nio/DefaultAggregateEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/nio/NetworkingService.java
  hazelcast/src/main/java/com/hazelcast/nio/UnifiedAggregateEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpNetworkingService.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/AbstractChannelTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AbstractAdvancedNetworkIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkStatsIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkingCommunicationIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/FirewallingNetworkingService.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/TcpIpConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNetworkingService.java
Labels: Module: Diagnostics, Module: Network I/O, Team: Management Center

#15554 Rename SplitBrainProtection API method
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/SplitBrainProtection.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/SplitBrainProtectionImpl.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/PartitionedCluster.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionTest.java
Labels: Module: Cluster, Public API/SPI breaking change, Source: Internal, Team: Core, Type: Enhancement

#15598 Metrics protocol codec
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MetricsReadMetricsCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/MapLongByteArrayCodec.java
Labels: Team: Client, Team: Core

#15584 Include MaxIdle info in WAN replication
  hazelcast/src/main/java/com/hazelcast/core/EntryView.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyNullEntryView.java
  hazelcast/src/main/java/com/hazelcast/map/impl/SimpleEntryView.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/LazyEntryViewFromRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapEntryView.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ReplicatedMapEntryView.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapBasicTest.java
Labels: Module: WAN, Team: Core, Type: Defect

#15606 Use writeUTF/readUTF to serialize/deserialize host string
  hazelcast/src/main/java/com/hazelcast/nio/Address.java
Labels: Type: Cleanup

#15560 Publish metrics to MC and JMX
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/metrics/ReadMetricsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/MetricsConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/MetricsPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LiveOperationRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/JmxPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/MetricsMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ConcurrentArrayRingbuffer.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ManagementCenterPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/Metric.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/MetricsCompressor.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/MetricsDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/MetricsResultSet.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ReadMetricsOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/StatisticsAwareMetricsSet.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DataSerializableSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DefaultSerializationServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/MapUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/metrics/ReadMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/MetricsConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ConcurrentArrayRingbufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/LiveOperationRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ReadMetricsOperationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/managementcenter/MetricsDataSerializerHookTest.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Team: Core, Type: Enhancement

#15612 Fix imports in ClientConfig
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
Labels: Team: Core

#15611 Renamed groupName to clusterName in some internal methods
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationRemove.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationUpdate.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanReplicationEvent.java
Labels: Team: Core, Type: Enhancement

#15609 Handle exception while getting CP member UUID in TimedMemberStateFactory when RU is in progress
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/instance/TestNodeContext.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Priority: High, Team: Management Center, Type: Defect

#15621 Handle exception while getting CP member UUID in TimedMemberStateFactory when RU is in progress
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
Labels: Forwardport, Team: Management Center, Type: Defect

#15407 Implement WAN protocol
  hazelcast/src/main/java/com/hazelcast/internal/nio/BufferObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/BufferObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ArrayDataSerializableFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/VersionedObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/VersionedObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/internal/util/VersionAwareConstructorFunction.java
  hazelcast/src/main/java/com/hazelcast/nio/ObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/nio/ObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/nio/VersionAware.java
  hazelcast/src/main/java/com/hazelcast/nio/WanProtocolVersionAware.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/impl/VersionedDataSerializableFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ArrayDataSerializableFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableSerializationTest.java
Labels: Internal breaking change, Module: WAN, Team: Core

#15608 Added the missing cachePartitionLostListenerConfigs to CacheConfig serialization and client protocol
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CacheConfigHolderCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/CacheConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
Labels: Team: Client, Team: Core, Type: Enhancement

#15575 Fix possible Moby Name collision in case of race conditions
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/MobyNames.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/MobyNamesTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#15617 Fix isMaster() guards in migration system
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/DefaultPartitionReplicaInterceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PublishPartitionRuntimeStateTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AssignPartitions.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#15618 Fix isMaster() guards in migration system
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionListener.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PublishPartitionRuntimeStateTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AssignPartitions.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Defect

#15586 Improve performance of SecondsBasedEntryTaskScheduler in 3.x
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapTest.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/CompositeKey.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/EntryTaskScheduler.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/EntryTaskSchedulerFactory.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/ScheduledEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskScheduler.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapTtlTest.java
  hazelcast/src/test/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskSchedulerStressTest.java
  hazelcast/src/test/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskSchedulerTest.java
Labels: Team: Core, Type: Enhancement

#15435 Improve performance of TransactionLog.add() in 3.x
  hazelcast/src/main/java/com/hazelcast/transaction/impl/AllowedDuringPassiveStateTransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLog.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/operations/ReplicateAllowedDuringPassiveStateTxBackupLogOperation.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/operations/ReplicateTxBackupLogOperation.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransaction.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransactionDTO.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/operations/PutRemoteTransactionOperation.java
  hazelcast/src/test/java/com/hazelcast/transaction/impl/TransactionLogTest.java
Labels: Module: Transactions, Source: Community, Team: Core, Type: Enhancement

#15631 Fix JDK6 compatibility
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLog.java
  hazelcast/src/main/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskScheduler.java
  hazelcast/src/test/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskSchedulerStressTest.java
  hazelcast/src/test/java/com/hazelcast/util/scheduler/SecondsBasedEntryTaskSchedulerTest.java
Labels: Team: Core, Type: Defect

#15637 Fix advanced network stats calculation in TcpIpEndpointManager
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpEndpointManager.java
Labels: Module: Diagnostics, Priority: Medium, Team: Management Center, Type: Defect

#15603 Move hot restart private classes to internal package
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/hotrestart/InternalHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/internal/hotrestart/NoOpHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/internal/hotrestart/NoopInternalHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/TriggerPartialStartRequest.java
  hazelcast/src/test/java/com/hazelcast/hotrestart/NoopHotRestartServicesTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
  hazelcast/src/test/resources/log4j.properties
  hazelcast/src/test/resources/log4j2-debug-map.xml
  hazelcast/src/test/resources/log4j2-debug.xml
  hazelcast/src/test/resources/log4j2.xml
Labels: Module: Hot Restart, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15646 Rename cluster name in AbstractWanEventBase
  hazelcast/src/main/java/com/hazelcast/internal/management/events/AbstractWanEventBase.java
Labels: Module: WAN, Team: Core, Type: Enhancement

#15616 Move private classes to internal package
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/HazelcastInstanceCacheManager.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/HazelcastServerCacheManager.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalFunctions.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalReadOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/DeserializingEventJournalCacheEvent.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/EventJournalCacheEvent.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientFailoverConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientFailoverConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheEventJournalReadTask.java
  hazelcast/src/main/java/com/hazelcast/cluster/memberselector/MemberSelectors.java
  hazelcast/src/main/java/com/hazelcast/cluster/memberselector/impl/AndMemberSelector.java
  hazelcast/src/main/java/com/hazelcast/cluster/memberselector/impl/OrMemberSelector.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/config/DeclarativeConfigUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/GetCacheEntryRequest.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataRecordStoreMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Metadata.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/CacheEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/EventJournalCacheDataStructureAdapter.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/EventJournalCacheEventAdapter.java
  hazelcast/src/test/java/com/hazelcast/cache/instance/CacheThroughHazelcastInstanceTest.java
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientFailoverConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftIntegration.java
  hazelcast/src/test/java/com/hazelcast/instance/HazelcastInstanceFactoryConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MockIOService.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/TcpIpConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/HazelcastInstanceImplAnswer.java
Labels: Module: ICache, Module: Network I/O, Module: Security, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15580 Made elements with a default value optional
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
Labels: Module: Config, Source: Internal, Team: Core, Type: Cleanup

#15640 Fix NPE in MemberHazelcastInstanceInfoPlugin
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/MemberHazelcastInstanceInfoPlugin.java
Labels: Module: Diagnostics, Team: Core, Type: Defect
