Repository hazelcast/hazelcast, pull requests merged in 2019-08, with the labels that each got.

#15401 com.hz.spi classes/interface privateapi
  hazelcast/src/main/java/com/hazelcast/spi/AbstractDistributedObject.java
  hazelcast/src/main/java/com/hazelcast/spi/CanCancelOperations.java
  hazelcast/src/main/java/com/hazelcast/spi/ClientAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/ConfigurableService.java
  hazelcast/src/main/java/com/hazelcast/spi/DistributedObjectNamespace.java
  hazelcast/src/main/java/com/hazelcast/spi/EventFilter.java
  hazelcast/src/main/java/com/hazelcast/spi/EventPublishingService.java
  hazelcast/src/main/java/com/hazelcast/spi/EventRegistration.java
  hazelcast/src/main/java/com/hazelcast/spi/EventService.java
  hazelcast/src/main/java/com/hazelcast/spi/ExecutionService.java
  hazelcast/src/main/java/com/hazelcast/spi/GracefulShutdownAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/InitializingObject.java
  hazelcast/src/main/java/com/hazelcast/spi/InternalCompletableFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/ListenerWrapperEventFilter.java
  hazelcast/src/main/java/com/hazelcast/spi/LockInterceptorService.java
  hazelcast/src/main/java/com/hazelcast/spi/ManagedService.java
  hazelcast/src/main/java/com/hazelcast/spi/MemberAttributeServiceEvent.java
  hazelcast/src/main/java/com/hazelcast/spi/MembershipAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/MembershipServiceEvent.java
  hazelcast/src/main/java/com/hazelcast/spi/NodeAware.java
  hazelcast/src/main/java/com/hazelcast/spi/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/NotifiableEventListener.java
  hazelcast/src/main/java/com/hazelcast/spi/ObjectNamespace.java
  hazelcast/src/main/java/com/hazelcast/spi/PostJoinAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/PreJoinAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/ProxyService.java
  hazelcast/src/main/java/com/hazelcast/spi/QuorumAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/RemoteService.java
  hazelcast/src/main/java/com/hazelcast/spi/ReplicationSupportingService.java
  hazelcast/src/main/java/com/hazelcast/spi/ServiceConfigurationParser.java
  hazelcast/src/main/java/com/hazelcast/spi/ServiceNamespace.java
  hazelcast/src/main/java/com/hazelcast/spi/ServiceNamespaceAware.java
  hazelcast/src/main/java/com/hazelcast/spi/SplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/spi/StatisticsAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/TaskScheduler.java
  hazelcast/src/main/java/com/hazelcast/spi/TransactionalDistributedObject.java
  hazelcast/src/main/java/com/hazelcast/spi/TransactionalService.java
Labels: Public API/SPI breaking change, Team: Core

#15398 Coalesced WBQ: do not accidentally remove entries added while StoreWorker is running (#15060)
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/CoalescedWriteBehindQueue.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/CoalescedWriteBehindQueueTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/StoreWorkerConcurrentUpdateTest.java
Labels: Cause: Implementation - Race Condition, Module: IMap, Team: Core, Type: Defect

#15325 Dedicated IO threads
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperty.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Module: Invocation System, Module: Network I/O, Team: Core, Type: Enhancement

#15412 Remove ICache wan operation provider.
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheOperation.java
Labels: Module: ICache, Module: WAN, Team: Core, Type: Defect

#15416 Minor doc improvement @PrivateApi
  hazelcast/src/main/java/com/hazelcast/spi/annotation/PrivateApi.java
Labels: Team: Core, Type: Cleanup

#15417 Make remaining configs NamedConfig
  hazelcast/src/main/java/com/hazelcast/client/config/ClientReliableTopicConfig.java
  hazelcast/src/main/java/com/hazelcast/config/FlakeIdGeneratorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/FlakeIdGeneratorConfigReadOnly.java
Labels: Team: Client, Team: Core, Type: Cleanup

#15423 Fix hibernate module version in dependencies
  checkstyle/suppressions.xml
  hazelcast-all/pom.xml
  pom.xml
Labels: Team: Core

#14872 Networking restart cleanup
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/Networking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpNetworkingService.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Team: QuSP, Type: Enhancement

#15421 Send IP address & canonical host name of client to MC
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientEndPointDTO.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
Labels: Team: Management Center

#15429 [FORWARD PORT] Send IP address & canonical host name of client to MC
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientEndPointDTO.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
Labels: Team: Management Center

#15427 BindHandlerTest rewritten with real network
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpEndpointManager.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/DefaultAddressPickerInterfacesTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/NetworkInterfaceMockingOptions.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/BindHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestAwareInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/test/starter/ReflectionUtils.java
  pom.xml
Labels: Team: Core, Type: Test-Failure

#15432 Remove WanReplicationEvent wrapper for WAN events
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyWanReplication.java
  hazelcast/src/main/java/com/hazelcast/internal/services/ReplicationSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapReplicationSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationRemove.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationUpdate.java
  hazelcast/src/main/java/com/hazelcast/wan/ReplicationEventObject.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationPublisher.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanEventCounters.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationPublisherDelegate.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/DummyWanReplication.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/FullQueueWanReplication.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanDataSerializerHookTest.java
Labels: Module: WAN, Public API/SPI breaking change, Team: Core, Type: Enhancement

#15436 Increase spotbugs version
  pom.xml
Labels: Team: Core, Type: Enhancement

#15391 Fixes transfer of MapConfig fields when dynamically added from client
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
Labels: Module: Config, Team: Client, Team: Core, Type: Defect

#15431 ConfigurationException cleanup
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/DomVariableReplacer.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ConfigCheckMode.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ConfigurationService.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/CacheServiceTest.java
Labels: Team: Core, Type: Cleanup

#15389 Minor YAML config improvements
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientFailoverConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientFailoverConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlOnlyConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlOnlyConfigBuilderTest.java
Labels: Module: Config, Team: Core, Type: Enhancement

#15390 Remove partitionId from client executor submit
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ExecutorServiceSubmitToPartitionCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
Labels: Team: Client, Type: Cleanup

#15462 Removes unnecessary reflection from FilteringClassloader
  hazelcast/src/test/java/com/hazelcast/util/FilteringClassLoader.java
Labels: Team: Core, Type: Test-Failure

#15466 Disabled some 3.x compatibility tests for now (#15457)
  hazelcast/src/test/java/com/hazelcast/client/starter/HazelcastClientStarterTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastProxyFactoryTest.java
Labels: Public API/SPI breaking change, Source: Internal, Team: Core, Type: Test-Failure

#15456 fixing NPE with null callback in ClientExecutorService
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
Labels: Team: Client, Type: Defect

#15467 Maps are encoded as list of key value items
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/MapCodec.java
Labels: Team: Client

#15472 Fix MessageWriter when buffer space insufficient
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageWriter.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageWriterTest.java
Labels: Team: Client, Type: Defect

#15161 Fix quorum tests instance lifecycle and improve resource usage
  hazelcast/src/test/java/com/hazelcast/quorum/AbstractQuorumTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/atomic/AtomicLongQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/atomic/AtomicLongQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/atomic/AtomicReferenceQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/atomic/AtomicReferenceQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/cache/CacheQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/cache/CacheQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/cardinality/CardinalityEstimatorQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/cardinality/CardinalityEstimatorQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/countdownlatch/CountDownLatchQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/countdownlatch/CountDownLatchQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/durableexecutor/DurableExecutorQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/durableexecutor/DurableExecutorQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/executor/ExecutorQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/executor/ExecutorQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/list/ListQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/list/ListQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/list/TransactionalListQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/list/TransactionalListQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/lock/LockQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/lock/LockQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/map/MapQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/map/MapQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/map/TransactionalMapQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/map/TransactionalMapQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/multimap/MultiMapQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/multimap/MultiMapQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/multimap/TransactionalMultiMapQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/multimap/TransactionalMultiMapQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/pncounter/PNCounterQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/pncounter/PNCounterQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/queue/QueueQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/queue/QueueQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/queue/TransactionalQueueQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/queue/TransactionalQueueQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/replicatedmap/ReplicatedMapQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/replicatedmap/ReplicatedMapQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/ringbuffer/RingbufferQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/ringbuffer/RingbufferQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/scheduledexecutor/ScheduledExecutorQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/scheduledexecutor/ScheduledExecutorQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/semaphore/SemaphoreQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/semaphore/SemaphoreQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/set/SetQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/set/SetQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/set/TransactionalSetQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/set/TransactionalSetQuorumWriteTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#15404 Remove deprecated config parameters from replicated map + cleanup
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/replicatedmap/TestReplicatedMapApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/replicatedmap/replicatedMap-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/LocalReplicatedMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapEventPublishingService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/ReplicatedMapEntries.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/ReplicatedMapKeys.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/ReplicatedMapPortableHook.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/ReplicatedMapValueCollection.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/AbstractReplicatedMapOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/CheckReplicaVersionOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/EntrySetOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/KeySetOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/MergeOperationFactory.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/ReplicatedMapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/SyncReplicatedMapDataOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/ValuesOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractBaseReplicatedRecordStore.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/EntrySetIteratorFactory.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/InternalReplicatedMapStorage.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/LazyCollection.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/LazySet.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ReplicatedRecord.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/ReplicatedMapConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapWriteOrderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: ReplicatedMap, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15481 Simplify FutureUtil.waitForever
  hazelcast/src/main/java/com/hazelcast/util/FutureUtil.java
Labels: Type: Enhancement

#15380 [FORWARDPORT] Make comparators able to act on keys and values
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientPagingPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateTest.java
Labels: Forwardport, Module: IMap, Module: Query, Team: Core, Type: Defect

#15411 Don't override provided test class annotations with empty array
  hazelcast/src/test/java/com/hazelcast/test/AbstractParameterizedHazelcastClassRunner.java
Labels: Team: Core, Type: Defect

#15141 Issues/13540: Transaction Propagation feature implementation
  hazelcast-spring/src/main/java/com/hazelcast/spring/transaction/HazelcastTransactionManager.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/transaction/TransactionContextHolder.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/transaction/DummyObject.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/transaction/OtherServiceBeanWithTransactionalContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/transaction/ServiceBeanWithTransactionalContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/transaction/TestSpringManagedHazelcastTransaction.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/TransactionContextProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/xa/XATransactionContextProxy.java
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionContext.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/SuspendedTransaction.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionContextImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionWrapper.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransactionContextImpl.java
Labels: Contribution-Welcome, Module: Transactions, Source: Community, Team: Core, Type: Enhancement

#15337 Optane Non-volatile Memory integration
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/NativeMemoryConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/util/DirectoryLock.java
  hazelcast/src/main/java/com/hazelcast/util/JVMUtil.java
  hazelcast/src/main/resources/hazelcast-client-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/DirectoryLockTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Team: Core, Type: Enhancement

#15463 IMap.putAllAsync and performance improvement
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/NearCachedClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/core/HazelcastJsonValue.java
  hazelcast/src/main/java/com/hazelcast/internal/util/SimpleCompletedFuture.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/partition/PartitionLostListener.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/OperationService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/util/CollectionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/util/CollectionUtilTest.java
Labels: Module: IMap, Source: Jet, Team: Core, Type: Enhancement

#15438 Fixed EntryLoaderInitializationTest (#15376)
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderInitializationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/TestEntryLoader.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#15434 Add clients team as mandatory owner for clients related files changes
  .github/CODEOWNERS
Labels: Team: Client, Type: Enhancement

#15490 Remove the old client handling code from MapRemoveAllMessageTask
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemoveAllMessageTask.java
Labels: Team: Client, Type: Cleanup, Type: Enhancement
