Repository hazelcast/hazelcast, pull requests merged in 2019-11, with the labels that each got.

#15922 Ignoring ClientMessageProtectionTest to address it later
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageProtectionTest.java
Labels: Module: Security, Team: Client

#15913 [Backport] #13248 backport - Client Exponential Connection Retry
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConnectionStrategyConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientConfigBuilder.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/ClientConnectionStrategy.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/DefaultClientConnectionStrategy.java
  hazelcast-client/src/main/java/com/hazelcast/client/util/ClientStateListener.java
  hazelcast-client/src/main/resources/hazelcast-client-config-3.10.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/connection/nio/ClusterConnectionRetryTest.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.10.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
Labels: Team: Client, Type: Feature Request

#15705 Change IMap behavior for puts on expiry set entries
  hazelcast/src/main/java/com/hazelcast/map/impl/ExpirationTimeSetter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
Labels: Module: IMap, Public API/SPI breaking change, Team: Core, Type: Defect

#15889 Implement StatisticsAwareService for CacheService
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateTest.java
Labels: Module: ICache, Team: Core, Type: Enhancement

#15926 Include cache stats in the dynamically collected metrics
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalCacheStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/MapUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
Labels: Module: ICache, Module: Metrics, Team: Core, Type: Enhancement

#15925 Fix and unignore ClientMessageProtectionTest
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageProtectionTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#15928 Use smallInstanceConfig() for unit test
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/ListAbstractTest.java
Labels: Team: Core, Type: Test-Failure

#15938 Fixed flaky JoinStressTest
  hazelcast/src/test/java/com/hazelcast/cluster/JoinStressTest.java
Labels: Module: Cluster, Source: Internal, Type: Test-Failure

#15902 Fixed HDMapNoIndexLossAfterSplitBrainHealTest.testSplitBrain failure
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#15916 MC: Add member management operations to client
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetMapConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetMemberConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetSystemPropertiesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetThreadDumpCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCPromoteLiteMemberCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCRunGcCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCShutdownMemberCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCUpdateMapConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetMemberConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetSystemPropertiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetThreadDumpMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/PromoteLiteMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RunGcMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/PromoteLiteMemberOperation.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Team: Management Center

#15943 Fix MapWanSyncAPITest
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Module: IMap, Module: WAN, Team: Core, Type: Defect, Type: Test-Failure

#15933 Catch and log exceptions from dynamic metrics providers
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpNetworkingService.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/DynamicMetricsCollectionTest.java
Labels: Module: Metrics, Team: Core, Type: Defect

#15937 Fixes handling of cache statistics
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateTest.java
Labels: Module: ICache, Team: Core, Type: Defect

#15947 Remove preCandidateState when prevote timeouts or new leader is elected
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/RaftState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/PreVoteTimeoutTask.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15948 Remove preCandidateState when prevote timeouts or new leader is elected
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/RaftState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/PreVoteTimeoutTask.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect

#15949 MC: Add getTimedMemberState operation to client
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetTimedMemberStateCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetTimedMemberStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Team: Management Center, Type: Enhancement

#15955 Fixes expected number of packets in transfer stress tests
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/TcpIpConnection_AbstractTransferStressTest.java
Labels: Module: Network I/O, Team: Core, Type: Test-Failure

#15832 Send not evicted records to backup
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/DataRecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/ObjectRecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapEntryView.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/AbstractRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/DataRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/ObjectRecordFactoryTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#15909 Changing client protocol first bytes
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/instance/ProtocolType.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Protocols.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/UnifiedProtocolEncoder.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageProtectionTest.java
Labels: Team: Client, Type: Cleanup

#15934 Removed PID management from start/stop scripts
  hazelcast/src/main/resources/readme.html
  hazelcast/src/main/resources/start.bat
  hazelcast/src/main/resources/start.sh
  hazelcast/src/main/resources/stop-all.bat
  hazelcast/src/main/resources/stop-all.sh
  hazelcast/src/main/resources/stop.bat
  hazelcast/src/main/resources/stop.sh
Labels: Team: Integration, Type: Enhancement

#15895 EvictionTest: fixed flaky testMaxIdle index tests
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#15914 EntryProcessorOffloadableTest: made tests less susceptible to hiccups
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#15929 Move login modules from impl to loginimpl package
  hazelcast/src/main/java/com/hazelcast/config/security/LdapAuthenticationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/security/TlsAuthenticationConfig.java
Labels: Module: Security, Team: Core

#15682 Protocol changes for sending all client metrics to members
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientStatistics.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientStatisticsCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ClientStatisticsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/Statistics.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Module: Metrics, Team: Client, Team: Core, Type: Enhancement

#15589 Javadocs generation: fixed package exclusion
  pom.xml
Labels: Source: Internal, Team: Core, Type: Cleanup

#15962 Fixed leaking executor threads issue
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
Labels: Team: Core, Type: Test-Failure

#15971 Fixes a typo in client map store test xml string
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapStoreTest.java
Labels: Team: Client, Type: Test-Failure

#15959 Fixed HDEvictionTest.testTTL_prolongationAfterNonTTLUpdate test
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#15975 Remove Map Reduce related constants
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
Labels: Internal breaking change, Team: Core, Type: Cleanup

#15972 Make CacheConfig IdentifiedDataSerializable
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/PreJoinCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/main/java/com/hazelcast/cluster/Address.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CachePartitionLostListenerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanReplicationRef.java
  hazelcast/src/main/java/com/hazelcast/internal/config/CacheConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/CachePartitionLostListenerConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/config/EvictionConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/WanReplicationRefReadOnly.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
Labels: Module: ICache, Team: Client, Team: Core, Type: Enhancement

#15953 Shorten test run time
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
  hazelcast/src/test/java/com/hazelcast/map/BackupExpirationTest.java
Labels: Module: IMap, Team: Core

#15477 invalidate near client cache after execute on keys operation
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/NearCachedClientMapProxy.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/ExecuteOnKeyInvalidationTest.java
Labels: Module: Near Cache, Team: Client, Team: Core

#15977 Cleanup MBean server after test
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#15984 Removes public static factory method of HazelcastClientCachingProvider
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCachingProvider.java
Labels: Module: ICache, Team: Client, Team: Core, Type: Cleanup

#15987 Remove check for upper threshold for statistics test
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
Labels: Cause: Test - Timing, Team: Client, Type: Test-Failure

#15989 Fix issues in local Raft nodes cleanup task
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/persistence/RestoredRaftState.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15988 Metrics fixes and improvements
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptor.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricDescriptorImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/JmxPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/MetricsCompressor.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricDescriptorImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTest.java
Labels: Module: Metrics, Team: Core, Type: Enhancement

#15997 Clean up for client properties
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
Labels: Not Release Notes content, Team: Client, Type: Cleanup

#15990 Fix multiplier config to be set as double from xml
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast-client/src/test/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/resources/hazelcast-client-full.yaml
Labels: Add to Release Notes, Team: Client, Type: Defect

#15999 MC: Use mock network in tests
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Team: Client, Team: Management Center

#16003 [3.x] Make gathering multimap stats not to break last access merge policy
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapTestUtil.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/test/AnswerTest.java
Labels: Module: MultiMap, Team: Core, Type: Defect

#16004 [4.0] Make gathering multimap stats not to break last access merge policy
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapTestUtil.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/test/AnswerTest.java
Labels: Module: MultiMap, Team: Core, Type: Defect

#16008 MetricCompressor and MetricConsumer clean-up
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricConsumer.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsDictionary.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ManagementCenterPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/Metric.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsCompressorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsDictionaryTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ReadMetricsOperationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/managementcenter/ReadMetricsTest.java
Labels: Module: Metrics, Team: Core, Type: Enhancement

#15964 Check if appropriate max size policy per in memory format
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorEvictionConfigTest.java
Labels: Team: Core, Type: Enhancement

#16000 Fix RaftSessionServiceTest failure
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/RaftSessionServiceTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15998 Fix MetadataRaftGroupTest failure
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15966 Prevent concurrent migration finalization to cancel scheduled tasks
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DurableExecutorPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConstructorFunction.java
  hazelcast/src/main/java/com/hazelcast/partition/PartitionLostListener.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/AbstractScheduledExecutorContainerHolder.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/DistributedScheduledExecutorService.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorContainer.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorPartition.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cache/ClientCacheSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cache/ClientCacheSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cardinality/ClientCardinalityEstimatorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cardinality/ClientCardinalityEstimatorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/durableexecutor/ClientDurableExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/durableexecutor/ClientDurableExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/executor/ClientExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/executor/ClientExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientListSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientListSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientTransactionalListSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientTransactionalListSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientTransactionalMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientTransactionalMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientMultiMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientMultiMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientTransactionalMultiMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientTransactionalMultiMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/pncounter/ClientPNCounterSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/pncounter/ClientPNCounterSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientQueueSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientQueueSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientTransactionalQueueSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientTransactionalQueueSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/replicatedmap/ClientReplicatedMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/replicatedmap/ClientReplicatedMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/ringbuffer/ClientRingbufferSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/ringbuffer/ClientRingbufferSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/scheduledexecutor/ClientScheduledExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/scheduledexecutor/ClientScheduledExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientSetSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientSetSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientTransactionalSetSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientTransactionalSetSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/AbstractSplitBrainProtectionTest.java
Labels: Module: IScheduledExecutor, Team: Core, Type: Test-Failure

#15973 Rewrite test assertions
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCache.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/AbstractNearCacheBasicTest.java
Labels: Cause: Test - Timing, Module: Near Cache, Team: Core, Type: Test-Failure

#15944 Fix query operation for offloaded case
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/DestroyQueryCacheOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/MadePublishableOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/ReadAndResetAccumulatorOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/SetReadCursorOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheMapLoaderTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Defect

#16010 AliasedDiscoveryConfig for Xml Generator is Added
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientAliasedDiscoveryConfigUtils.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientDiscoveryServiceBuilder.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Backport, Team: Client, Type: Defect

#16007 Adapts configuration exceptions as required by JSR-107 spec
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorEvictionConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/MergePolicyValidatorCacheIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/MergePolicyValidatorCachingProviderIntegrationTest.java
Labels: Module: Config, Module: ICache, Team: Core, Type: Defect

#15334 Cleanup on client listener service
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/AbstractClientListenerService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientConnectionRegistration.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerRegistration.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheDestroyResourcesTest.java
Labels: Not Release Notes content, Team: Client, Type: Cleanup

#16017 initialize new proxies locally on getDistributedObjects
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ProxyManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/DistributedObjectListenerTest.java
Labels: Team: Client, Type: Defect

#16026 Skip max invocation count check for recreateCachesOnCluster
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheHelper.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxyFactory.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCacheManager.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheCreationTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/ClientCacheHelperTest.java
Labels: Team: Client, Type: Defect

#16015 Redo operation only for TargetDisconnectedException
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRedoEnabledTest.java
Labels: Team: Client, Type: Defect

#16019 Redo operation only for TargetDisconnectedException
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientInvocation.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientRedoEnabledTest.java
Labels: Backport, Team: Client, Type: Defect

#16002 Set non-null key to query cache event
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/event/LocalEntryEventData.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheListenerTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#15882 Remove unnecessary return.
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
Labels: Source: Community, Team: Core, Type: Enhancement

#16018 [BACKPORT] initialize new proxies locally on getDistributedObjects
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ProxyManager.java
  hazelcast-client/src/test/java/com/hazelcast/client/proxy/DistributedObjectListenerTest.java
Labels: Team: Client, Type: Defect

#16025 Rewrite test assertions
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/SelectWithSelectorFix_TcpIpConnection_BasicTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTestSupport.java
Labels: Team: Core, Type: Enhancement

#15995 CachingProvider no longer resolves URI as instance name
  hazelcast/src/main/java/com/hazelcast/cache/HazelcastCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractHazelcastCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/HazelcastServerCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCachingProvider.java
  hazelcast/src/test/java/com/hazelcast/cache/CachingProviderTest.java
Labels: Module: ICache, Public API/SPI breaking change, Team: Client, Team: Core, Type: Enhancement

#16029 Fix failing AnswerTest
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapTestUtil.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/test/AnswerTest.java
Labels: Module: MultiMap, Team: Core, Type: Test-Failure

#16033 Guard against null TestHazelcastInstanceFactory#registry
  hazelcast/src/test/java/com/hazelcast/test/TestHazelcastInstanceFactory.java
Labels: Team: Core, Type: Defect

#16014 Skip max invocation count check for recreateCachesOnCluster
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheHelper.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCacheManager.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheCreationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/ClientCacheHelperTest.java
Labels: Backport, Team: Client, Type: Defect

#15810 Config replacers scope clash with config import
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigBuilder.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/helpers/DeclarativeConfigFileHelper.java
  hazelcast/src/test/java/com/hazelcast/config/helpers/IOUtils.java
  hazelcast/src/test/java/com/hazelcast/config/test/builders/ConfigReplacerBuilder.java
  hazelcast/src/test/java/com/hazelcast/config/test/builders/MapXmlConfigBuilder.java
  hazelcast/src/test/java/com/hazelcast/config/test/builders/MapXmlStoreConfigBuilder.java
Labels: Module: Config, Team: Core, Type: Defect

#16038 Apply core Raft fixes
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Module: CP Subsystem, Type: Defect

#16042 Cleanup distributed objects after test execution
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#16032 Move JsonSerializable to private API
  hazelcast/src/main/java/com/hazelcast/instance/LocalInstanceStats.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberState.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/AdvancedNetworkStatsDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/AliasedDiscoveryConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientBwListDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientBwListEntryDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientEndPointDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClusterHotRestartStatusDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ConnectionManagerDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/CustomWanPublisherConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/DiscoveryConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/DiscoveryStrategyConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/EventServiceDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/EvictionConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MXBeansDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ManagedExecutorDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MapConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MapStoreConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MergePolicyConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/NearCacheConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/NearCachePreloaderConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/OperationServiceDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/PartitionServiceBeanDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/PermissionConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ProxyServiceDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/SlowOperationDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/SlowOperationInvocationDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/WanBatchReplicationPublisherConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/WanConsumerConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/WanReplicationConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/WanSyncConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/UpdatePermissionConfigRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/HotRestartState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/LocalWanPublisherStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/MemberPartitionState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/MemberState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/NodeState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/EmptyLocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalCacheStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalExecutorStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalFlakeIdGeneratorStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalGCStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalIndexStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMemoryStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalOperationStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalPNCounterStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalQueueStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalTopicStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalWanStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/MemberStateImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/NearCacheStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/WanSyncStateImpl.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSerializable.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/EmptyLocalReplicatedMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalWanStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetectorAbstractTest.java
Labels: Module: JSON, Team: Core, Team: Management Center, Type: Cleanup

#16050 Make XmlClientConfigImportVariableReplacementTest serial
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigImportVariableReplacementTest.java
Labels: Module: Config, Team: Client, Team: Core, Type: Test-Failure

#16046 Do not expose SerializationService in ObjectDataOutput
  hazelcast/src/main/java/com/hazelcast/cache/impl/PreJoinCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/BufferObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/EmptyObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ObjectDataOutputStream.java
  hazelcast/src/main/java/com/hazelcast/nio/ObjectDataOutput.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableImplementsVersionedTest.java
Labels: Public API/SPI breaking change, Team: Core

#16055 [Test-Failure] Make ClientCacheClearTest time insensitive
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheClearTest.java
Labels: Not Release Notes content, Team: Client, Type: Test-Failure

#16056 Increase timeout on failing test
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableExecutorServiceTest.java
Labels: Module: IExecutor, Team: Core, Type: Test-Failure

#16036 Check iterator.hasNext() to avoid NoSuchElementEx
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/NonSmartClientInvocationService.java
Labels: Not Release Notes content, Team: Client, Type: Defect, Type: Test-Failure

#16043 Remove or replace internal Portable classes with Identified counterparts
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapEntrySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapKeySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapPutAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapValuesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientRingbufferProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionPortableHook.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/map/impl/DataCollection.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapKeySet.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapValueCollection.java
  hazelcast/src/main/java/com/hazelcast/map/impl/client/MapPortableHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/AccumulatorInfo.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/ReplicatedMapEntries.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/ReplicatedMapKeys.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/ReplicatedMapPortableEntryEvent.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/ReplicatedMapPortableHook.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/client/package-info.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/EntrySetOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/KeySetOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/PutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/PutAllOperationFactory.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/operation/ValuesOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/ReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/client/PortableReadResultSet.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/client/RingbufferPortableHook.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.PortableHook
  hazelcast/src/test/java/com/hazelcast/client/ringbuffer/RingbufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/client/MapPortableHookTest.java
Labels: Not Release Notes content, Team: Client, Team: Core, Type: Cleanup

#16048 Use separate constants to distinguish compressed and not compressed oops
  hazelcast/src/test/java/com/hazelcast/map/impl/recordstore/LazyEvictableEntryViewTest.java
Labels: Module: IMap, Team: Core

#15981 made RestApiConfig not null value by default
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast/src/main/java/com/hazelcast/config/NetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/NodeIOService.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/config/AdvancedNetworkConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/NetworkConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerMemoryLeakTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/RestApiConfigTestBase.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/TextProtocolsConfigTest.java
  hazelcast/src/test/java/com/hazelcast/wan/WanRESTTest.java
Labels: Module: Config, Team: Core, Type: Enhancement

#16057 Fix XmlConfigImportVariableReplacementTest failing on Windows
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigImportVariableReplacementTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#16039 OSMBean.getFreePhysicalMemorySize supression option
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactoryHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/OperatingSystemMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/util/OperatingSystemMXBeanSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/util/OperatingSystemMXBeanSupport_FreePhysicalMemorySizeDisabledTest.java
Labels: Module: Diagnostics, Module: Metrics, Team: Core, Type: Enhancement

#16051 Remove unused listener config code
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/ListenerConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/config/EntryListenerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ListenerConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/config/EntryListenerConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/ObjectMultiMapProxy.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/ReplicatedMapMBeanTest.java
Labels: Module: Config, Public API/SPI breaking change, Team: Core

#16059 Fixed flaky HDMapPutAllWithBouncingMemberTest
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWithBouncingMemberTest.java
Labels: Module: IMap, Source: Internal, Type: Test-Failure

#16062 Fixed DynamicConfigBouncingTest
  hazelcast/src/main/java/com/hazelcast/cache/CacheEvictionPolicyComparator.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/impl/comparator/LFUEvictionPolicyComparator.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/impl/comparator/LRUEvictionPolicyComparator.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/impl/comparator/RandomEvictionPolicyComparator.java
  hazelcast/src/main/java/com/hazelcast/map/MapEvictionPolicyComparator.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#16067 Check for expiry only if a record's state is READ_PERMITTED
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/BaseHeapNearCacheRecordStore.java
Labels: Module: Near Cache, Team: Core, Type: Defect

#16058 Remove mention of temporary from discoveryProperties
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
Labels: Not Release Notes content, Team: Client, Team: Core, Team: Integration, Type: Cleanup

#16060 Attempted fix for WanRESTTest and MapWanSyncRESTTest
  hazelcast/src/test/java/com/hazelcast/wan/WanRESTTest.java
Labels: Module: WAN, Team: Core, Type: Test-Failure

#16030 allow free client type names.
  hazelcast/src/main/java/com/hazelcast/client/Client.java
  hazelcast/src/main/java/com/hazelcast/client/ClientType.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEvent.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientTypes.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/operations/GetConnectedClientsOperation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/Statistics.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/SystemLogPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Connection.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ConnectionType.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/BindHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/MemberProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpUnifiedEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/client/ConnectedClientOperationTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/ClientTypesTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/BindHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/DroppingConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/TcpIpEndpointManager_AbstractConnectMemberTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockConnection.java
Labels: Add to Release Notes, Public API/SPI breaking change, Team: Client, Team: Core, Type: Defect

#16045 Fix HDEvictionTest
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#16070 Collect missing metrics from TcpConnection
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpEndpointManager.java
Labels: Module: Metrics, Team: Core, Type: Enhancement

#15961 MC: Add cluster management operations
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/MCClusterMetadata.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodes.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCChangeClusterVersionCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetClusterMetadataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCShutdownClusterCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeClusterVersionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetClusterMetadataMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeClusterVersionOperation.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Team: Management Center, Type: Enhancement

#16072 Make method protected
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java
Labels: Module: IMap, Team: Core

#15931 Improvements to MapOperations
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AllEntriesForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionAllEntriesForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionRecordStoreForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryWithPredicateOperationFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/RecordStoreForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/WithForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Module: IMap, Team: Core, Type: Enhancement

#15923 Revising connection retry config
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClusterConnectorServiceImpl.java
  hazelcast/src/main/resources/hazelcast-client-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/test/java/classloading/ThreadLeakClientTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/client/MembershipListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheCreationTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheProxyTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/connectionstrategy/ConfiguredBehaviourTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/nio/ClusterConnectionRetryTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/DistributedObjectListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/ProxyManagerTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientDiscoverySpiTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapIssueTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/LocalMapStatsUnderOnGoingClientUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheCreateDestroyTest.java
  hazelcast/src/test/java/com/hazelcast/client/scheduledexecutor/ClientScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/standalone/ClientEntryListenerDisconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicOnClusterRestartTest.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicTest.java
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientTxnMapTest.java
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientTxnOwnerDisconnectedTest.java
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientTxnReconnectModeTest.java
  hazelcast/src/test/java/com/hazelcast/client/txn/serialization/TxnMapDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/client/util/ClientStateListenerTest.java
  hazelcast/src/test/resources/hazelcast-client-dummy-multicast-discovery-test.xml
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
Labels: Add to Release Notes, Team: Client, Type: Defect

#15963 Send client metrics to the member and merge them
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ClientStatisticsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatistics.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClusterConnectionMetricsProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/NearCacheMetricsProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsCollectionContext.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/CompositeMetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/PublisherMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientMetricsPropertiesTest.java
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/CompositeMetricsCollectorTest.java
Labels: Module: Metrics, Team: Client, Team: Core, Type: Enhancement

#16065 Fixes issue AIX and OSMBean getFreePhysicalMemorySize
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactoryHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/OperatingSystemMetricSet.java
  hazelcast/src/main/java/com/hazelcast/util/OperatingSystemMXBeanSupport.java
  hazelcast/src/test/java/com/hazelcast/util/OperatingSystemMXBeanSupport_FreePhysicalMemorySizeDisabledTest.java
Labels: Team: Core, Type: Enhancement

#16093 Metrics improvements and cleanups
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/CompositeMetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricDescriptorImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/PublisherMetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/JmxPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/MetricsMBean.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsCollectionBenchmark.java
Labels: Module: Metrics, Team: Core, Type: Enhancement

#16073 Enhance exception message and increase assertion timeout
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindEntryStoreQueueReplicationTest.java
Labels: Module: IMap, Team: Core

#15918 Remove key ref from Record object
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrentReferenceHashMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/StoreAdapter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/EvictorImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/BasePutOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EvictBatchBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutTransientBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutTransientOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/DataRecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/ObjectRecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordReaderWriter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/EventJournalWriterMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/LazyEvictableEntryView.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStoreAdapter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageSCHM.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnSetBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnSetOperation.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/MergingValueFactory.java
  hazelcast/src/test/java/com/hazelcast/map/EntryCostEstimatorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/ServerQueryCacheRecreationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/AbstractRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/AbstractRecordTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/DataRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/DataRecordWithStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/ObjectRecordWithStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/RecordReaderWriterTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/recordstore/LazyEvictableEntryViewTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#15824 Yml config replacers scope clash with config import
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/helpers/IOUtils.java
Labels: Module: Config, Team: Core, Type: Defect

#15792 Disables write-through and selection key wakeup with SELECT_WITH_FIX
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NioNetworkingConfigurationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/SelectWithSelectorFix_TcpIpConnection_BasicTest.java
Labels: Module: Network I/O, Team: Core, Type: Defect, Type: Test-Failure

#16088 Fixed missing EventService registrations after cluster members startup
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/EventRegistrationTest.java
Labels: Backport, Module: Cluster, Team: Core, Type: Defect

#16106 Fix updating MetricsMBean value
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/MetricsMBean.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTest.java
Labels: Module: Metrics, Team: Core, Type: Defect

#16085 Run forced eviction if map has eviction configured.
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrentReferenceHashMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/Evictor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/EvictorImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AllEntriesForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MultipleRecordStoreForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionAllEntriesForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionRecordStoreForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SingleRecordStoreForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/WithForcedEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageImpl.java
Labels: Module: IMap, Team: Core, Type: Defect, Type: Enhancement

#15986 Support for force-init and publish of uninitialized proxies
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
Labels: Module: Cluster, Team: Core, Type: Enhancement

#16020 Fixed missing EventService registrations after cluster members startup
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FinalizeJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/EventRegistrationTest.java
Labels: Module: Cluster, Team: Core, Type: Defect

#16094 Remove StatisticsAwareMetricsSet & add WAN metrics
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/DistributedExecutorService.java
  hazelcast/src/main/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorService.java
  hazelcast/src/main/java/com/hazelcast/internal/crdt/pncounter/PNCounterService.java
  hazelcast/src/main/java/com/hazelcast/internal/crdt/pncounter/operations/AddOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProviderHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/StatisticsAwareMetricsSet.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalWanPublisherStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicService.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicService.java
  hazelcast/src/main/java/com/hazelcast/wan/DistributedServiceWanEventCounters.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/ConsistencyCheckResult.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
Labels: Module: Metrics, Module: WAN, Team: Core, Type: Enhancement

#16119 Fixed NPE in OnJoinOp
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
Labels: Module: Cluster, Source: Internal, Team: Core

#16087 Align output format of REST API to return JSON
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JsonUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/RestApiConfigTestBase.java
  hazelcast/src/test/java/com/hazelcast/wan/WanRESTTest.java
Labels: Add to Release Notes, Module: REST, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15952 Minor cleanups of license headers and NOTICE file
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/util/HashUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/QuickMath.java
Labels: Team: Core, Type: Cleanup

#16122 Fixed NPE in OnJoinOp (#16119)
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
Labels: Forwardport, Module: Cluster, Not Release Notes content, Team: Core, Type: Defect

#16081 Remove compatibility codepaths
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapStoreWrapper.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/SpiDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/DistributedObjectEventPacket.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/operations/DistributedObjectDestroyOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/operations/PostJoinProxyOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/main/java/com/hazelcast/topic/MessageListener.java
  hazelcast/src/test/java/com/hazelcast/cache/stats/CacheStatsTest.java
Labels: Not Release Notes content, Team: Client, Team: Core, Type: Cleanup

#16123 Fix MigrationCommitTest.assignCompletelyLostPartitionsIsCalledNoExceptions
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitTest.java
Labels: Module: Partitioning, Type: Test-Failure

#15756 Fix ilike Predicate for cyrillic strings
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/ILikePredicate.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/LikePredicateTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Enhancement

#16105 Improve AbstractProxySessionManagerTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/AbstractProxySessionManagerTest.java
  hazelcast/src/test/resources/log4j2-debug-cp.xml
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#16127 Remove providing cache near cache metrics on member
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
Labels: Module: ICache, Module: Metrics, Team: Core, Type: Defect

#15992 EntryLoader: ignore entries with calculated TTL equal to 0
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#16091 Fixes issue AIX and OSMBean getFreePhysicalMemorySize
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactoryHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/OperatingSystemMetricSet.java
  hazelcast/src/main/java/com/hazelcast/util/OperatingSystemMXBeanSupport.java
  hazelcast/src/test/java/com/hazelcast/util/OperatingSystemMXBeanSupport_FreePhysicalMemorySizeDisabledTest.java
Labels: Module: Diagnostics, Module: Metrics, Team: Core, Type: Defect

#15951 Remove configuration for user-defined services SPI
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/hazelcast-sample-service.xsd
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigAccessor.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ServicesConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ProxyFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/ServiceConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ServicesConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigSchemaLocationTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlSchemaValidationTest.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/NoMigrationClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigSlowPreJoinBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationAwareServiceEventTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateCheckerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/servicemanager/impl/ServiceManagerImplTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapIndexLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionStressTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapTransactionStressTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
  hazelcast/src/test/java/com/hazelcast/spi/LockInterceptorServiceTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationOutOfOrderBackupTest.java
  hazelcast/src/test/resources/com/hazelcast/config/hazelcast-service.xml
  hazelcast/src/test/resources/com/hazelcast/config/hazelcast-service.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
  hazelcast/src/test/resources/hazelcast-sample-service.xsd
Labels: Module: Config, Public API/SPI breaking change, Team: Core, Type: Cleanup

#16131 Use smallInstanceConfig() in SlowOperationDetectorAbstractTest
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetectorAbstractTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#16137 Use small instance config
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapSetTtlBackupTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/AbstractMapStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindFlushTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
Labels: Type: Enhancement

#16086 Change BlockingMessageTasks to work asynchronously
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/DestroyProxyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDestroyCacheMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/operations/DistributedObjectDestroyOperation.java
Labels: Team: Client

#16139 Use lamda in DefaultMessageTaskFactoryProvider
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
Labels: Team: Client, Type: Cleanup

#16142 Increase timeout and sleep timer to avoid hiccups
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_invokeOnPartitionsTest.java
Labels: Cause: Test - Timing, Team: Core, Type: Test-Failure

#16140 Make StatisticsAwareServices self-registering as metrics providers
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/DistributedExecutorService.java
  hazelcast/src/main/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorService.java
  hazelcast/src/main/java/com/hazelcast/internal/crdt/pncounter/PNCounterService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicService.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/DynamicMetricsCollectionTest.java
Labels: Module: ICache, Module: Metrics, Module: WAN, Team: Core, Type: Critical, Type: Defect

#16117 Longer timeout value for initial memberlist event
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Backport, Not Release Notes content, Team: Client, Type: Defect

#16118 Longer timeout value for initial memberlist event
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddClusterViewListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterViewService.java
Labels: Not Release Notes content, Team: Client, Type: Defect

#16114 Fix for AbstractListenersOnReconnectTest
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
Labels: Cause: Test - Timing, Not Release Notes content, Team: Client

#16146 Prevent hitting max port count in mock tests
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
Labels: Team: Client, Type: Defect

#16116 Support for force-init and publish of uninitialized proxies
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
Labels: Module: Cluster, Team: Core, Type: Enhancement

#16150 Fixes NPE in /rest/cluster when no client endpoint is defined
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
Labels: Team: Core, Team: Management Center, Type: Defect

#16133 Ensure record store adapter runs in partition threads
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStoreAdapter.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Enhancement

#16135 Make test less time sensitive by using longer expiry times
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/ExpirationManagerTimeoutTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#16097 update SerializerConfig typeClass when typeClassName is set
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: Config, Module: Serialization, Team: Client, Team: Core, Type: Defect

#16098 update NearCacheManager API to use compound key to identify near cache instance
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCacheManager.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/NearCachedClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientContext.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/NearCacheMetricsProvider.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCachePreloaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheSerializationCountTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCachePreloaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheSerializationCountTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/NearCacheIsNotSharedTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheSerializationCountTest.java
Labels: Module: Near Cache, Team: Client, Team: Core, Type: Enhancement
