Repository hazelcast/hazelcast, pull requests merged in 2019-12, with the labels that each got.

#16061 Improve & fix CP group destruction handling
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftGroup.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftIntegration.java
Labels: Module: CP Subsystem, Team: Core

#16152 Fixes NPE in /rest/cluster when no client endpoint is defined
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
Labels: Team: Core, Team: Management Center, Type: Defect

#16104 Add metric exclusion rules
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ExcludedMetricTargets.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/Probe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/FieldProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LockStripe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MethodProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeAware.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/SourceMetadata.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioThread.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationThread.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/MetricTargetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/CapturingCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/FieldProbeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MethodProbeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsTargetExclusionTest.java
Labels: Module: Metrics, Team: Core, Type: Enhancement

#16144 Match Map.putAll with Map.put behavior upon map listener attribute type mismatch
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/test/java/com/hazelcast/map/ListenerTest.java
Labels: Module: IMap, Team: Core, Type: Enhancement

#16160 Move near cache managers to client context
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCacheManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientContext.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/NearCacheMetricsProvider.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCachePreloaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheSerializationCountTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCachePreloaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheSerializationCountTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheSerializationCountTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/NearCacheManagerTestSupport.java
Labels: Module: Near Cache, Team: Core, Type: Enhancement

#16128 Preparation for TLS host validation
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpConnector.java
Labels: Module: Security, Team: Core

#16149 Remove done futures from recordstore
  hazelcast/src/main/java/com/hazelcast/internal/util/FutureUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/IsPartitionLoadedOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderFuturesTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#16166 Collect client stats before sending response to server
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapPutMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapContainsKeyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDeleteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapGetAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemoveMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapGetMessageTask.java
Labels: Module: IMap, Team: Client, Team: Core, Type: Defect

#16169 Remove old-style properties configuration support
  hazelcast/src/main/java/com/hazelcast/internal/config/DomConfigHelper.java
Labels: Module: Config, Team: Core, Type: Cleanup

#16172 Remove done futures of loading tasks
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/IsPartitionLoadedOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderFuturesTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#16171 [BACKPORT] Remove done futures of loading tasks otherwise repetitive calls to IM…
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/IsPartitionLoadedOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderFuturesTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#16164 Exclude serialization compatibility test blob from tests artifact
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/BinaryCompatibilityTest.java
Labels: Team: Core, Type: Defect

#16173 Use a proper byteArray type instead of Data in ClientAuthenticationCustom message
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAuthenticationCustomCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Team: Core, Type: Defect

#16143 prevent multiple join config creation when discover strategy enabled
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestDiscoveryConfigApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/discoveryConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/JoinConfig.java
  hazelcast/src/test/java/com/hazelcast/config/JoinConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Backport, Module: Config, Team: Core, Team: Integration, Type: Defect

#16177 prevent multiple join config creation when discover strategy enabled
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestDiscoveryConfigApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/discoveryConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/JoinConfig.java
  hazelcast/src/test/java/com/hazelcast/config/JoinConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Module: Config, Team: Core, Team: Integration, Type: Defect

#16163 Remove assertion timeout for failing test
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapIssueTest.java
Labels: Cause: Test - Timing, Source: Internal, Team: Core, Type: Test-Failure

#16178 Fix cluster-name in examples and cover fully in tests
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Config, Team: Core, Type: Defect

#16158 Delete code not used
  hazelcast/src/main/java/com/hazelcast/map/impl/MapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindEntryStoreQueueReplicationTest.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#16193 Fix CPGroupRebalanceTest failure
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPGroupRebalanceTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#16179 Improve testListenersAfterClientDisconnected tests
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
Labels: Cause: Test - Timing, Not Release Notes content, Team: Client, Type: Test-Failure

#16180 Improve testListenersAfterClientDisconnected tests
  hazelcast-client/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
Labels: Backport, Cause: Test - Timing, Not Release Notes content, Team: Client, Type: Test-Failure

#16078 MC: WAN replication management client operations
  hazelcast/src/main/java/com/hazelcast/client/impl/management/MCWanBatchPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCAddWanBatchPublisherConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCChangeWanReplicationStateCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCCheckWanConsistencyCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCClearWanQueuesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCWanSyncMapCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/AddWanBatchPublisherConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeWanReplicationStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/CheckWanConsistencyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ClearWanQueuesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/WanSyncMapMessageTask.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanSyncType.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Team: Management Center, Type: Enhancement

#16167 Remove invalid deprecation suppressions
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryLoadedListenerTest.java
  hazelcast/src/test/java/com/hazelcast/map/ListenerTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/NodeEngineTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastParallelClassRunner.java
Labels: Team: Core, Type: Cleanup

#16168 disallow attribute changes after instance started
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyMembershipListener.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/MemberImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAddClusterViewListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddClusterViewListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterViewService.java
  hazelcast/src/main/java/com/hazelcast/client/util/AbstractLoadBalancer.java
  hazelcast/src/main/java/com/hazelcast/cluster/Member.java
  hazelcast/src/main/java/com/hazelcast/cluster/MemberAttributeEvent.java
  hazelcast/src/main/java/com/hazelcast/cluster/MemberAttributeOperationType.java
  hazelcast/src/main/java/com/hazelcast/cluster/MembershipAdapter.java
  hazelcast/src/main/java/com/hazelcast/cluster/MembershipEvent.java
  hazelcast/src/main/java/com/hazelcast/cluster/MembershipListener.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/MemberImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MemberAttributeChangedOp.java
  hazelcast/src/main/java/com/hazelcast/internal/crdt/CRDTReplicationMigrationService.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/LockSupportServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/internal/services/MemberAttributeServiceEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/services/MembershipAwareService.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/DistributedScheduledExecutorService.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/AbstractPingAwareSplitBrainProtectionFunction.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/SplitBrainProtectionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionManagerServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientMemberAttributeTest.java
  hazelcast/src/test/java/com/hazelcast/client/MembershipListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/MemberImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/io/AdvancedNetworkClientIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterMembershipListenerTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/MemberAttributeTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/SlowMulticastJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/SplitBrainHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/impl/MemberImplTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/instance/SimpleMemberImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/PromoteLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/map/MergePolicyTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionTest.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Team: Core, Type: Cleanup

#16191 Destroy near caches on shutdown
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/NearCachedClientMapProxy.java
Labels: Module: ICache, Module: ReplicatedMap, Team: Core, Type: Defect

#16201 Use small instance config
  hazelcast/src/test/java/com/hazelcast/internal/eviction/MapExpirationManagerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/NearCacheManagerTestSupport.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapIndexLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderCustomClockTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/EntryStoreWriteBehindCustomClockTest.java
Labels: Team: Core, Type: Enhancement

#16182 Fix shuffling of MobyNames arrays
  hazelcast/src/main/java/com/hazelcast/instance/impl/MobyNames.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/MobyNamesTest.java
Labels: Team: Core, Type: Enhancement

#16186 Fixed [Enterprise]ClientCacheCreationTest.recreateCacheOnRestartedCluster_whenMaxConcurrentInvocationLow
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheCreationTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#16181 Fixed QueueListenerTest.testItemListener_addedToQueueConfig_Issue366
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueListenerTest.java
Labels: Module: IQueue, Source: Internal, Team: Core, Type: Test-Failure

#16200 Fix RaftNode termination bug
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Module: CP Subsystem, Type: Defect, Type: Test-Failure

#16189 Prevent migration operations running before previous finalization completes v2
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/AbstractGracefulShutdownCorrectnessTest.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#16190 Prevent migration operations running before previous finalization completes v2
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/AbstractGracefulShutdownCorrectnessTest.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Defect

#14940 Replace readData/writeData with readObject/writeObject
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheNearCacheStateHolder.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/operations/CollectionReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/operations/ListReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/operations/QueueReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/set/operations/SetReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/LockStoreImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/operations/LockReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapNearCacheStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PostJoinMapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/WriteBehindStateHolder.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/Registration.java
Labels: Internal breaking change, Module: Serialization, Not Release Notes content, Source: Internal, Team: Core

#16211 Fix EE tests
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/config/WanBatchPublisherConfig.java
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: WAN, Team: Core, Type: Defect

#16207 Fix PartitionMigrationListenerTest failure
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Module: Partitioning, Team: Core, Type: Test-Failure

#16208 Copy native key to heap.
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CachedQueryEntry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/PartitionTaskFactory.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Defect

#16209 Fix MigrationInvocationsSafetyTest
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
Labels: Module: Partitioning, Team: Core, Type: Test-Failure

#16204 Fail fast if one of loaded key or value is null
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreTest.java
Labels: Add to Release Notes, Module: IMap, Public API/SPI breaking change, Team: Core

#16199 Add metrics test rule
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsPropertiesTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/TestHazelcastInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/test/metrics/MetricsRule.java
  hazelcast/src/test/java/com/hazelcast/test/metrics/TestMetricPublisher.java
Labels: Module: Metrics, Team: Core, Type: Enhancement

#16216 Copy native key to heap.
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CachedQueryEntry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/PartitionTaskFactory.java
Labels: Backport, Module: IMap, Module: Query, Team: Core, Type: Defect

#16220 Refurbish exception message
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationBackupHandler.java
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
  hazelcast/src/test/java/com/hazelcast/test/backup/AbstractBackupAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/backup/CacheBackupAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/backup/MapBackupAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/backup/TestBackupUtils.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#16222 Destroy near caches on shutdown
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/NearCachedClientMapProxy.java
Labels: Backport, Module: ICache, Module: ReplicatedMap, Not Release Notes content, Team: Core, Type: Defect

#16225 Fix initialCapacity=0 in PriorityQueue serializers
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractCollectionStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/PriorityBlockingQueueStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/PriorityQueueStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/partition/PartitionAware.java
Labels: Priority: High, Source: Jet, Team: Core

#16227 Additional logging in case of failure in NioChannelMemoryLeakTest.testNioChannelLeak_afterMultipleSplitBrainMerges
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NioChannelMemoryLeakTest.java
Labels: Team: Core, Type: Test-Failure

#16154 CompletionStage leftovers
  hazelcast/src/main/java/com/hazelcast/cache/ICache.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cardinality/CardinalityEstimator.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupportUtil.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractAsyncMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/list/ListAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/set/SetAddListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/NearCachedClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/cp/IAtomicLong.java
  hazelcast/src/main/java/com/hazelcast/cp/IAtomicReference.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/RaftQueryOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/RaftReplicateOp.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeClusterStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeClusterVersionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/PromoteLiteMemberOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/RunConsoleCommandOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/RunScriptOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ReadMetricsOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionEventManager.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/Ringbuffer.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DeserializingCompletableFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/InternalCompletableFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/InvocationBuilder.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicService.java
  hazelcast/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/SimpleCompletedFutureTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/AbstractInvocationFuture_MiscTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/CompletableFutureAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/executionservice/impl/BasicCompletableFutureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/InvocationBuilderTest.java
Labels: Team: Client, Team: Core, Type: Defect

#16229 Close client connection on exception when connect fails
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
Labels: Backport, Not Release Notes content, Team: Client, Type: Defect

#16223 Close client connection on exception when connect fails
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
Labels: Not Release Notes content, Team: Client, Type: Defect

#16195 Revert adding cluster view listener to all members
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAddClusterViewListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddClusterViewListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/AbstractClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterViewService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/test/java/com/hazelcast/client/ClientAuthenticationTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientBackupAckTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterServiceMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientNodeExtensionTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheDestroyResourcesTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheRecreationTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/test/ClientTestSupport.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Type: Defect

#16230 Use StringBuilder in MetricsRule
  hazelcast/src/test/java/com/hazelcast/test/metrics/MetricsRule.java
  hazelcast/src/test/java/com/hazelcast/test/metrics/TestMetricPublisher.java
Labels: Module: Metrics, Team: Core, Type: Enhancement

#16148 REST API cleanup, part 2
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpBadRequestException.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpForbiddenException.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterBadRequestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/RestApiConfigTestBase.java
Labels: Add to Release Notes, Module: REST, Team: Core, Type: Cleanup

#16234 Removes usages of Bits.readUtf8
  hazelcast/src/main/java/com/hazelcast/internal/memory/impl/EndiannessUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Bits.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DataInputNavigableJsonAdapter.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataInputNavigableJsonAdapterTest.java
  hazelcast/src/test/java/com/hazelcast/nio/BitsTest.java
Labels: Module: JSON, Module: Serialization, Not Release Notes content, Team: Core, Type: Enhancement

#16197 Avoid logs of *NotActive exceptions from InvalidationMeta fetcher
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/InvalidationMetaDataFetcher.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/RepairingTask.java
Labels: Module: ICache, Module: IMap, Team: Core, Type: Defect

#16247 Fixed flaky RepartitioningStressTest
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/RepartitioningStressTest.java
Labels: Team: Core, Type: Test-Failure

#16253 Use TestAwareInstanceFactory for RestClusterBadRequestTest
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterBadRequestTest.java
Labels: Team: Core, Type: Test-Failure

#16183 Increase call timeout for testHeartBeatsComingWhenEntryPropcessor
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
Labels: Cause: Test - Timing, Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#16244 Fix MembershipEvent's member list order on newly joining members
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterMembershipListenerTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/SplitMergeTest.java
Labels: Backport, Module: Cluster, Team: Core, Type: Defect

#16243 Fix MembershipEvent's member list order on newly joining members
  hazelcast/src/main/java/com/hazelcast/cluster/InitialMembershipEvent.java
  hazelcast/src/main/java/com/hazelcast/cluster/MembershipEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterMembershipListenerTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/SplitMergeTest.java
Labels: Module: Cluster, Team: Core, Type: Defect

#16250 Fixes RestClusterEnterprise by changing expected response codes
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
Labels: Module: REST, Team: Core, Type: Test-Failure

#16237 Change default fallback for unrecognised REST group text commands
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/RestEndpointGroup.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/RestApiFilter.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/RestApiTextDecoder.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterBadRequestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/RestApiConfigTestBase.java
Labels: Add to Release Notes, Module: REST, Source: Internal, Team: Core, Type: Enhancement

#16236 Unify IMDG OS and EE build info banners
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
Labels: Not Release Notes content, Team: Core, Type: Enhancement

#16258 printNodeInfo should not be final
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
Labels: Source: Jet, Team: Core, Type: Enhancement

#16219 Fix possible JMX metrics leak
  hazelcast-spring/src/test/java/com/hazelcast/spring/CustomSpringJUnit4ClassRunner.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientConfigAndSpringDefaults.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/cache/JCacheCacheManagerTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/LifecycleServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/cache/instance/ClientCacheThroughHazelcastInstanceTest.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/AbstractOutOfMemoryHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ScriptingProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/AddressUtilTest.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  hazelcast/src/test/java/com/hazelcast/test/JmxLeakHelper.java
  hazelcast/src/test/java/com/hazelcast/test/TestHazelcastInstanceFactory.java
Labels: Module: Metrics, Team: Core, Type: Test-Failure

#16257 Simplify CPGroupRebalanceTest
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPGroupRebalanceTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#16259 Fix README typos
  README.md
Labels: Team: Core, Type: Enhancement

#16264 Fix instance creation on one side of the brain in SplitBrainTestSupport
  hazelcast/src/test/java/com/hazelcast/test/SplitBrainTestSupport.java
Labels: Team: Core

#16261 Get rid of asData in TokenCredentials object as it uses Hazelcast private API
  hazelcast/src/main/java/com/hazelcast/security/TokenCredentials.java
Labels: Module: Security, Team: Core

#16256 Fixed ManagementCenterServiceTest.shutdownCluster
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
Labels: Source: Internal, Team: Client, Team: Management Center, Type: Test-Failure

#16238 Remove operations from map and replicated map MBeans
  hazelcast/src/main/java/com/hazelcast/internal/jmx/MapMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ReplicatedMapMBean.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MapMBeanTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/ReplicatedMapMBeanTest.java
Labels: Add to Release Notes, Module: IMap, Module: ReplicatedMap, Team: Core, Type: Cleanup

#16272 Ringbuffer: populate nextSequenceToReadFrom in ReadManyOperation
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperation.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperationTest.java
Labels: Module: Ringbuffer, Source: Internal, Team: Core, Type: Defect

#16270 Adds debug logging to MapLoaderFailoverTest
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderFailoverTest.java
Labels: Module: IMap, Not Release Notes content, Team: Core, Type: Test-Failure

#16248 Stop background preloader tasks on client shutdown
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientContext.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/NearCacheMetricsProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCacheManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloaderLock.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCachePreloaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCachePreloaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/NearCacheIsNotSharedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/AbstractNearCachePreloaderTest.java
Labels: Module: Near Cache, Not Release Notes content, Team: Client, Type: Defect

#16271 Reuse EventType in MC
  hazelcast/src/main/java/com/hazelcast/internal/management/events/EventMetadata.java
Labels: Team: Management Center, Type: Cleanup

#16268 Fix MC event polling bug
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ManagementCenterServiceIntegrationTest.java
Labels: Team: Management Center

#16233 Fixed QueryCacheMemoryLeakTest test failure
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#16273 Javadoc generation: do not exclude buildutils
  pom.xml
Labels: Source: Internal, Type: Defect

#16267 Rewrite client cluster discovery service
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/CandidateClusterContext.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/MutableInteger.java
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/ClientClusterDiscoveryServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/nio/ConnectMemberListTest.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#16274 Add bitmap index config sample
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Module: IMap, Module: Query, Team: Core, Type: Enhancement

#16275 Clean usages of license-key from client config samples and xsd
  hazelcast/src/main/resources/hazelcast-client-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
Labels: Not Release Notes content, Team: Client, Type: Cleanup

#16246 Fixed ClientClusterRestartEventTest.testMultiMemberRestart
  hazelcast/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#16276 Ignore failing MapLoaderTest
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#16240 Make CP group ids unique between multiple inits of CP Subsystem
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupId.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/CreateRaftGroupOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/GetActiveCPMembersOp.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#16249 [BACKPORT] Make CP group ids unique between multiple inits of CP Subsystem
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
Labels: Module: CP Subsystem, Type: Defect

#16282 Remove mancenter shortening from source code
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsProviderTest.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  pom.xml
Labels: Team: Management Center, Type: Cleanup

#16188 Remove client side sorting for PagingPredicate
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCPollMCEventsCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MapEntriesWithPagingPredicateCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MapKeySetWithPagingPredicateCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MapValuesWithPagingPredicateCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/DataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/AnchorDataListHolderCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/PagingPredicateHolderCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/AnchorDataListHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/PagingPredicateHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapQueryWithPagingPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapEntriesWithPagingPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapKeySetWithPagingPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapValuesWithPagingPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientListProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientSetProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/ClientTxnMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/ClientTxnMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/AbstractCollectionProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ResultSet.java
  hazelcast/src/main/java/com/hazelcast/internal/util/SortingUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PagingPredicateImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PredicateUtils.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/UnmodifiableLazyList.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/UnmodifiableLazySet.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/internal/util/UnmodifiableLazyListTest.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateTest.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Team: Core

#16281 Fix ClientEntryLoadedListenerTest
  hazelcast/src/test/java/com/hazelcast/client/map/ClientEntryLoadedListenerTest.java
Labels: Team: Client, Type: Test-Failure

#16192 Add an initial empty fragment to migrations to perform a ready-check
  hazelcast/src/main/java/com/hazelcast/internal/partition/InternalPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
Labels: Module: Partitioning, Team: Core, Type: Enhancement

#16285 Handle exception inside cluster discovery service
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#16280 Access to partition container map in DurableExecutor must be thread safe
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DurableExecutorPartitionContainer.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableExecutorServiceTest.java
Labels: Module: IExecutor, Team: Core, Type: Defect, Type: Test-Failure

#16291 Use CP RestEndpointGroup in RestCPSubsystemTest
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestCPSubsystemTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#16289 Simplified CallStatus
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/TransferLeadershipOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeRaftBackupOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeRaftQueryOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeRaftReplicateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/CallStatus.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Offload.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
Labels: Team: Core, Type: Cleanup, Type: Defect

#11983 Add method to easily identify when all replicas of a partition have been lost
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionLostEventImpl.java
  hazelcast/src/main/java/com/hazelcast/partition/PartitionLostEvent.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionLostListenerTest.java
Labels: Source: Community, Team: Core, Type: Enhancement, in progress

#15766 One less deserialization for Entry Processor
  hazelcast/src/main/java/com/hazelcast/internal/util/comparators/BinaryValueComparator.java
  hazelcast/src/main/java/com/hazelcast/internal/util/comparators/ObjectValueComparator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LockAwareLazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MultipleEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CachedQueryEntry.java
Labels: Team: Core, Type: Enhancement

#16293 Added new test to validate spring.schemas
  hazelcast-spring/pom.xml
  hazelcast-spring/src/main/resources/META-INF/spring.schemas
  hazelcast-spring/src/test/java/com/hazelcast/spring/config/SpringSchemasVadilityTest.java
Labels: Module: Config, Team: Core, Type: Defect

#16292 Eliminate mancenter abbreviation
  hazelcast/src/main/resources/readme.html
Labels: Team: Management Center, Type: Cleanup, Type: Enhancement

#16157 addressed configs equality issue
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/hotrestart/TestHotRestartEncryptionVaultApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/ProxyFactoryConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/MapStoreConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/QueueStoreConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/RingbufferStoreConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractWanPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryStrategyConfig.java
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ItemListenerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ListenerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberAddressProviderConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueueConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueueStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SSLConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SerializationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SerializerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SocketInterceptorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanBatchPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanConsumerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanCustomPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/CachePartitionLostListenerConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/DiscoveryConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/EntryListenerConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/EvictionConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ItemListenerConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ListenerConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MapPartitionLostListenerConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MapStoreConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/QueueStoreConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/RingbufferStoreConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/DiscoveryStrategyConfigDTO.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/adapter/IMapDataStructureAdapterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorEvictionConfigTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/MapNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: Config, Team: Core, Type: Defect

#16232 Move classes to private API
  hazelcast-build-utils/src/test/resources/manifest.mf
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CollectionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MultiMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueueConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ScheduledExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractBasicConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MergePolicyValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/InternalPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionStateGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateGeneratorImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/BackupSafeMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/ConfigMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/DefaultMemberGroup.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/HostAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/SPIAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/SingleMemberGroup.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/SingleMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/ZoneAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/package-info.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/SplitBrainMergeTypeProvider.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergeTypeProvider.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergeTypes.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/MemberGroup.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupStrategy.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionStateGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/DiscoverySpiTest.java
Labels: Module: Partitioning, Not Release Notes content, Team: Core, Type: Cleanup

#16296 Make proxy destroy timeout configurable and increase it for the failing test
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Cause: Test - Timing, Team: Core, Type: Test-Failure

#16294 Fix NPE in handling auth result when MC client connects to starting cluster
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetTimedMemberStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
Labels: Team: Client, Team: Management Center, Type: Defect

#16279 Changing the client connection test according to given guarantees
  hazelcast/src/test/java/com/hazelcast/client/ClientConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientServiceTest.java
Labels: Not Release Notes content, Team: Client, Type: Test-Failure

#16312 Close referencing files for Windows
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloaderLock.java
Labels: Module: Near Cache, Team: Core, Type: Defect

#16301 Revert Transaction Propagation support implementation
  hazelcast-spring/src/main/java/com/hazelcast/spring/transaction/HazelcastTransactionManager.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/transaction/TransactionContextHolder.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/transaction/DummyObject.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/transaction/OtherServiceBeanWithTransactionalContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/transaction/ServiceBeanWithTransactionalContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/transaction/TestSpringManagedHazelcastTransaction.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/TransactionContextProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/xa/XATransactionContextProxy.java
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionContext.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/SuspendedTransaction.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionContextImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionWrapper.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransactionContextImpl.java
Labels: Module: Transactions, Team: Core, Type: Defect

#16307 Fix ManagementCenterServiceTest
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
Labels: Type: Test-Failure

#16317 No need to set class name to null
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreDataLoadingContinuesWhenNodeJoins.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#16315 Relax excpected exception due to real network testing
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
Labels: Module: REST, Team: Core, Type: Test-Failure

#16321 Removes SplitBrainMergeTypeProvider
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MergePolicyValidator.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/SplitBrainMergeTypeProvider.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergeTypes.java
Labels: Team: Core, Type: Defect

#16295 Fixed [Enterprise]ClientCacheCreationTest
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheCreationTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#16320 Enhance exception message
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanPublisherMigrationTest.java
Labels: Module: WAN, Team: Core, Type: Test-Failure

#16304 make bulk client operations lazy
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReplicatedMapProxy.java
Labels: Team: Client, Type: Perf. Defect

#16309 Fix IOUtil.delete(symlinkFile)
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Team: Core, Type: Defect

#16323 Refactor test_backupOperationAppliesDefaultExpiryPolicy
  hazelcast/src/main/java/com/hazelcast/cache/HazelcastExpiryPolicy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/eviction/CacheClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheGetOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ExpirationManager.java
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/MapClearExpiredRecordsTask.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTestSupport.java
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
  hazelcast/src/test/java/com/hazelcast/cache/eviction/ExtendedCacheExpirationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/AbstractExpirationManagerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/CacheExpirationManagerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/MapExpirationManagerTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#15555 NearCache CacheOnUpdate eventual consistency fix
  hazelcast/src/main/java/com/hazelcast/cache/impl/record/CacheRecordHashMap.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupportUtil.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachingHook.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/adapter/DataStructureAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/adapter/ICacheDataStructureAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/adapter/MethodNotAvailable.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCache.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCacheRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCache.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCacheManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/record/AbstractNearCacheRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/BaseHeapNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/NearCacheDataRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrentReferenceHashMap.java
  hazelcast/src/main/java/com/hazelcast/internal/util/IConcurrentMap.java
  hazelcast/src/main/java/com/hazelcast/internal/util/executor/CachedExecutorServiceDelegate.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheRecordHashMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheEntryViewsTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheCacheOnUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheInvalidationMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheSerializationCountTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/AbstractNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/NearCacheTestSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/NearCacheTestUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/MapNearCacheRecordStateStressTest.java
Labels: Add to Release Notes, Module: ICache, Module: Near Cache, Team: Core, Type: Defect

#16327 Rewrite test
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloaderLock.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloaderLockTest.java
Labels: Team: Core

#16298 Fix client reconnect tests with common Listener
  hazelcast/src/test/java/com/hazelcast/client/ClientConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientServiceTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheProxyTest.java
  hazelcast/src/test/java/com/hazelcast/client/connectionstrategy/ConfiguredBehaviourTestXmlConfig.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/ClientTestSupport.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
Labels: Cause: Test - Timing, Not Release Notes content, Team: Client, Type: Test-Failure

#16306 Fix PartitionMigrationListenerTest
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Module: Partitioning, Team: Core, Type: Test-Failure

#16255 Make client triggers partition table lazily
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddClusterViewListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientPartitionService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/AbstractClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/NonSmartClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/SmartClientInvocationService.java
  hazelcast/src/test/java/com/hazelcast/client/heartbeat/ClientHeartbeatTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationTest.java
  hazelcast/src/test/java/com/hazelcast/client/partitionservice/ClientPartitionServiceLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/TestUtil.java
Labels: Not Release Notes content, Team: Client, Type: Defect

#16325 Dispose by removing disposable
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
Labels: Team: Client

#16330 Fix typo in new property for destroy timeout
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Team: Core, Type: Enhancement

#16329 Expect anti-entropy requests in WanPublisherMigrationTest assertions
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanPublisherMigrationTest.java
Labels: Module: WAN, Team: Core, Type: Test-Failure

#16333 Fix for missing client config xml/yaml in assembly
  hazelcast/pom.xml
  src/main/assembly/assembly.xml
Labels: Type: Cleanup

#16342 Additional helper methods for JmxLeakHelper
  hazelcast/src/test/java/com/hazelcast/test/JmxLeakHelper.java
Labels: Module: Metrics, Team: Core, Type: Test-Failure

#16310 Start preloader after registering invalidation listener
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/NearCachedClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCache.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCacheManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCache.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCacheManager.java
  hazelcast/src/main/java/com/hazelcast/map/impl/nearcache/MapNearCacheManager.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
Labels: Module: Near Cache, Team: Core, Type: Defect

#16341 Improve query cache test
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/utils/QueryCacheUtil.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheRecreationTest.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#16334 Fix invalid data-type for long field in offloadable hb test
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
Labels: Team: Core, Type: Test-Failure

#16348 Make sure that client receives members map before partition map (#16343)
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#16349 Destroy IMap statistics after container to avoid leak (#16252)
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Team: Core, Type: Test-Failure

#16350 Suppress ResponseAlreadySentException on unsafe CP mode
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
Labels: Module: CP Subsystem, Team: Core

#16359 Prevent concurrent modification exceptions in TestHazelcastFactory
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/TestNodeRegistry.java
Labels: Team: Client, Type: Defect

#16354 Simplify ClientConnectionManagerImpl
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/connectionstrategy/ConfiguredBehaviourTest.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#16365 Ensure near cache populated once putAsync completes
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientInterceptingDelegatingFuture.java
  hazelcast/src/test/java/com/hazelcast/client/cache/nearcache/ClientCacheNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/ClientInterceptingDelegatingFutureTest.java
Labels: Module: ICache, Module: Near Cache, Team: Core, Type: Defect

#16297 Complete exceptionally proxy future when destroyed during creation
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/DistributedObjectFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectTest.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceCreateDestroyTest.java
Labels: Team: Core, Type: Defect

#16356 use proper title for hazelcast cmd bar to fix stop.bat
  hazelcast/src/main/resources/start.bat
  hazelcast/src/main/resources/stop.bat
Labels: Team: Integration, Type: Defect

#16372 Refactor test to make it EE extendible
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheCacheOnUpdateTest.java
Labels: Module: ICache, Module: Near Cache, Team: Core

#16376 Differentiate the client `ProxyManager` internal `DistributedObjectListener` registration from user listener registration
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAddDistributedObjectListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddDistributedObjectListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ProxyManager.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client

#16228 Expose entry data on WAN events
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheEntryViews.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/wan/WanCacheEntryView.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/services/WanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryViews.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MerkleTreeNodeEntries.java
  hazelcast/src/main/java/com/hazelcast/map/impl/WanMapSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapAddOrUpdateEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapEntryView.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapRemoveEvent.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/MergingValueFactory.java
  hazelcast/src/main/java/com/hazelcast/wan/WanEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/WanEventType.java
  hazelcast/src/main/java/com/hazelcast/wan/WanPublisher.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/DelegatingWanScheme.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanPublisher.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanDataSerializerHook.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/wan/WanCacheEntryViewTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/wan/WanMapEntryViewTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/AbstractWanCustomPublisherMapTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanCustomPublisherMapTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanDataSerializerHookTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanDummyPublisher.java
Labels: Module: WAN, Not Release Notes content, Team: Core, Type: Enhancement

#16382 Fix NPE in WanCacheEntryView
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheEventContextUtil.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/wan/WanCacheEntryView.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/wan/WanCacheEntryViewTest.java
Labels: Module: WAN, Team: Core, Type: Defect

#16380 Remove unneeded one-time-run checker
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/NearCacheTestUtils.java
Labels: Module: Near Cache, Team: Core, Type: Enhancement

#16324 [BACK-PORT] Fixed HDMapNoIndexLossAfterSplitBrainHealTest.testSplitBrain failure
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
Labels: Module: Query, Team: Core

#16378 Recreate under mutex
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheEndToEndProvider.java
Labels: Team: Client, Team: Core, Type: Defect

#16383 Minor clean ups on the scheduled executor service tests
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceSlowTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceTestSupport.java
Labels: Module: IScheduledExecutor, Team: Core, Type: Test-Failure

#16375 Trigger partition arrangement from Client Partition API
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientTriggerPartitionAssignmentCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/TriggerPartitionAssignmentMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientPartitionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/io/AdvancedNetworkClientIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Type: Defect, Type: Test-Failure

#16385 Disabled JmxLeakHelper.checkJmxBeans until #16384 is fixed
  hazelcast/src/test/java/com/hazelcast/test/JmxLeakHelper.java
Labels: Team: Core, Type: Test-Failure
