Repository hazelcast/hazelcast, pull requests merged in 2019-05, with the labels that each got.

#14879 Upgraded com.hz.spi.impl.operationservice to Java 8
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InboundResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationMonitor.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationBackupHandler.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/operations/PartitionIteratingOperation.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulatorStressTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InboundResponseHandlerSupplierTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationFuture_CancelTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_BlockingTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_DetectHeartbeatTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_NestedLocalTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_NestedRemoteTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_OffloadedTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_OnBackupLeftTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_OnMemberLeftTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_TaskDoneTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_TimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImplTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_invokeOnTargetTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/RepartitioningStressTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/operations/PartitionAwareFactoryAccessorTest.java
Labels: Module: Invocation System, Team: Core, Team: QuSP, Type: Cleanup

#14947 Provide realistic partition count in QueryResultSizeLimiterTest
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryResultSizeLimiterTest.java
Labels: Module: Query, Team: Core, Type: Test-Failure

#14937 Cleanup AddressProvider AddressTranslator
  hazelcast-client/src/main/java/com/hazelcast/client/connection/AddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/AddressTranslator.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/CandidateClusterContext.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientDiscoveryServiceBuilder.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/DefaultAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/DefaultAddressTranslator.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/DiscoveryAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/DiscoveryAddressTranslator.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudAddressTranslator.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/RemoteAddressProvider.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/ClientClusterDiscoveryServiceTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientConnectionManagerTranslateTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/ClientDiscoverySpiTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/ConflictingConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudTranslatorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/RemoteAddressProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast-client/src/test/java/com/hazelcast/client/txn/ClientTxnOwnerDisconnectedTest.java
Labels: Team: Client, Type: Cleanup

#14972 Changes application/javascript to application/json in Rest
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
Labels: Public API/SPI breaking change, Team: Client, Team: Integration, Type: Cleanup

#14845 Avoid unnecessary ReplicatedMap's statistic collection
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapStatisticsTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ReplicatedMapMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/suppliers/LocalReplicatedMapStatsSupplier.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/EmptyLocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/LocalReplicatedMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractBaseReplicatedRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MBeanDataHolder.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/ReplicatedMapMBeanTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/EmptyLocalReplicatedMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/LocalReplicatedMapStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/impl/ReplicatedMapServiceTest.java
Labels: Module: Diagnostics, Module: ReplicatedMap, Source: Internal, Team: Core

#14921 Separate equal and not equal predicate impls
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/CompositeIndexVisitor.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/NotEqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PredicateUtils.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/RangeVisitor.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/NotEqualPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/PredicatesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/VisitorTestSupport.java
Labels: Internal breaking change, Module: IMap, Module: Query, Team: Core

#14812 Remove Wan specific map-operation-provider
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperationProviderDelegator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperationProviders.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/WANAwareOperationProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/MapOperationProviderDelegatorTest.java
Labels: Module: WAN, Team: Core, Type: Enhancement

#14992 Ignore new config resolution tests in pre-jdk8 builds
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientFailoverConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/instance/HazelcastInstanceFactoryConfigResolutionTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#14983 Remove the compatibility related server and client version checks in the code
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheHelper.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnection.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/statistics/Statistics.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/NearCachedClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientHeartbeatMonitor.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/DefaultMapAggregateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/config/LegacyCacheConfigTest.java
Labels: Team: Client, Type: Cleanup

#14994 Remove LegacyAsyncMap
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LegacyAsyncMap.java
Labels: Module: IMap, Public API/SPI breaking change, Team: Core, Type: Cleanup

#14998 Remove manual-remove-on-cancel workaround for Java 6 in LoggingScheduledExecutor
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientExecutionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/main/java/com/hazelcast/util/executor/LoggingScheduledExecutor.java
  hazelcast/src/test/java/com/hazelcast/util/executor/LoggingScheduledExecutorTest.java
Labels: Public API/SPI breaking change, Team: Core, Type: Cleanup

#14936 Remove RU code and Versioned interfaces
  hazelcast/src/main/java/com/hazelcast/cache/impl/PreJoinCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/merge/entry/DefaultCacheEntryView.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/record/CacheRecord.java
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/hyperloglog/HyperLogLog.java
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/hyperloglog/impl/HyperLogLogImpl.java
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/hyperloglog/impl/SparseHyperLogLogEncoder.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/LockStoreImpl.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/AbstractLockOperation.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/LockReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/config/CardinalityEstimatorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CollectionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CountDownLatchConfig.java
  hazelcast/src/main/java/com/hazelcast/config/DurableExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MultiMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueueConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ScheduledExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SemaphoreConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/RaftServicePreJoinOp.java
  hazelcast/src/main/java/com/hazelcast/instance/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ScriptExecutorOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/GetCacheEntryRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassData.java
  hazelcast/src/main/java/com/hazelcast/map/impl/SimpleEntryView.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/KeyBasedMapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PostJoinMapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordInfo.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/operations/RemoveBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/operations/RemoveOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ReplicatedMapEntryView.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/ReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferContainer.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledTaskStatisticsImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/AbstractRegistrationOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/MapMergingEntryImpl.java
Labels: Internal breaking change, Module: Rolling Upgrade, Team: Core, Type: Cleanup

#14986 Raft linearizable read optimization
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AddAndGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndAddMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/proxy/RaftAtomicLongProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ContainsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/proxy/RaftAtomicRefProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetRoundMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/proxy/RaftCountDownLatchProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/GetLockOwnershipStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AvailablePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/RaftSessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/RaftSessionlessSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/AppendRequest.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/AppendSuccessResponse.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/InstallSnapshot.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendFailureResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendRequestHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendSuccessResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/InstallSnapshotHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/PreVoteRequestHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/VoteRequestHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/VoteResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/LeaderState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/QueryState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/PreVoteTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/QueryTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/RaftNodeStatusAwareTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomiclong/RaftAtomicLongBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/RaftSemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LinearizableQueryTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalRaftTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/MembershipChangeTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/RaftUtil.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/state/RaftStateTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftGroup.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftIntegration.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/NopEntry.java
Labels: Module: CP Subsystem, Team: Core, Type: Enhancement

#14974 Simplifies member attributes
  hazelcast-client/src/test/java/com/hazelcast/client/ClientMemberAttributeTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/ClientDiscoverySpiTest.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyDiscoveryStrategy.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/beans-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/client-network-defaults-context.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-failover-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/withoutconfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/MemberImpl.java
  hazelcast/src/main/java/com/hazelcast/config/MemberAttributeConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberAttributeConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/UserCodeDeploymentConfig.java
  hazelcast/src/main/java/com/hazelcast/core/Member.java
  hazelcast/src/main/java/com/hazelcast/instance/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/instance/MemberImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/JoinRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MemberAttributeChangedOp.java
  hazelcast/src/main/java/com/hazelcast/partition/membergroup/ZoneAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/AbstractDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/DiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/SimpleDiscoveryNode.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DefaultDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/PredefinedDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/integration/DiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/MulticastDiscoveryStrategy.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/client/impl/MemberImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/cluster/MemberAttributeTest.java
  hazelcast/src/test/java/com/hazelcast/config/MemberAttributeConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlSchemaValidationTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/instance/MemberImplTest.java
  hazelcast/src/test/java/com/hazelcast/instance/SimpleMemberImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/ClusterDataSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/PromoteLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/MemberProviderFilterParserTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/partition/membergroup/MemberGroupFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/DiscoverySpiTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/impl/SimplePredefinedDiscoveryServiceTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
Labels: Public API/SPI breaking change, Team: Client, Team: Core, Type: Cleanup

#14997 Cleanup c.h.instance package
  hazelcast/src/main/java/com/hazelcast/core/Member.java
  hazelcast/src/main/java/com/hazelcast/instance/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/instance/AddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/AdvancedNetworkAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/DelegatingAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceImpl.java
  hazelcast/src/test/java/com/hazelcast/instance/DefaultAddressPickerHostnameTest.java
  hazelcast/src/test/java/com/hazelcast/instance/DelegatingAddressPickerTest.java
  hazelcast/src/test/java/com/hazelcast/instance/IpVersionPreferenceTest.java
  hazelcast/src/test/java/com/hazelcast/instance/SimpleMemberImpl.java
  hazelcast/src/test/java/com/hazelcast/instance/TestNodeContext.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/StaticAddressPicker.java
Labels: Internal breaking change, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15005 Fix for Client user code deployment regression
  hazelcast-client/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
Labels: Backport, Team: Client, Team: Core, Type: Defect

#15006 Fix for Client user code deployment regression
  hazelcast-client/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
Labels: Team: Client, Team: Core, Type: Defect

#15011 ClientExecutorService does not need to use RunnableAdapter
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientExecutorServiceProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceExecuteTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/DistributedExecutorService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/operations/AbstractCallableTaskOperation.java
  hazelcast/src/main/java/com/hazelcast/security/SecurityContext.java
Labels: Team: Client, Type: Cleanup

#15022 Ignore compatibility tests
  hazelcast-client/src/test/java/com/hazelcast/client/starter/HazelcastClientStarterTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/test/AnswerTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/PatchLevelCompatibilityTest.java
Labels: Team: Core, Type: Test-Failure

#14996 Converted MPSCQueue to Java 8
  hazelcast/src/main/java/com/hazelcast/internal/util/concurrent/MPSCQueue.java
Labels: Team: Core, Type: Cleanup

#14892 Fix Java 6 compilation error in DelegatingAddressPicker
  hazelcast/src/main/java/com/hazelcast/instance/DelegatingAddressPicker.java
Labels: Team: Core

#15015 Skip auth if it is already authenticated
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Backport, Team: Client, Type: Defect

#14957 [BACKPORT 3.12.z] Move Client authentication to blockingExecutor
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Module: Security, Team: Client, Team: Core, Type: Defect

#15030 Skip auth if it is already authenticated
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Team: Client, Type: Defect

#15032 OSS changes for automatically removal of stale Hot Restart data
  hazelcast-spring/src/main/resources/hazelcast-spring-3.11.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/HotRestartPersistenceConfig.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/resources/hazelcast-config-3.11.xsd
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/FrozenPartitionTableTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: Backport, Module: Hot Restart, Team: Core, Type: Enhancement

#15035 Skip auth if it is already authenticated
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Team: Client, Type: Defect

#15009 Bump JCache version to 1.1.1
  pom.xml
Labels: Module: ICache, Team: Core, Type: Enhancement

#14956 Move Client authentication to blockingExecutor
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Team: Client, Type: Defect

#15025 Removed deprecated diagnostics propery names
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
Labels: Public API/SPI breaking change, Team: Core, Team: QuSP, Type: Cleanup

#15017 Adds support for HazelcastJsonValue over Rest
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/InvalidEndpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestMultiendpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
Labels: Team: Client, Type: Enhancement

#15024 Do not phone home in tests
  hazelcast/src/main/java/com/hazelcast/util/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/util/PhoneHomeTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#15013 Make collection clones of IMap immutable (#12198)
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapBasicTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloader.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ResultSet.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/ImmutableInflatableSet.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/InflatableSet.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MerkleTreeNodeEntries.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryWithPredicateOperationFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultCollection.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/UnmodifiableLazyList.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/InflatableSetTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: IMap, Priority: Medium, Public API/SPI breaking change, Source: Community, Team: Core, Type: Defect

#15038 Fixes ClientScheduledExecutorQuorumWriteTest using member over client
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/scheduledexecutor/ClientScheduledExecutorQuorumReadTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/quorum/scheduledexecutor/ClientScheduledExecutorQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/AbstractQuorumTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/scheduledexecutor/ScheduledExecutorQuorumReadTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/scheduledexecutor/ScheduledExecutorQuorumWriteTest.java
Labels: Module: IScheduledExecutor, Team: Client

#15043 Add user code deployment section to config sent to MC
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
Labels: Team: Management Center, Type: Defect

#15044 [FORWARD PORT] Add user code deployment section to config sent to MC
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
Labels: Team: Management Center, Type: Defect

#15047 Adds logging in case of failure in NioChannelMemoryLeakTest.testNioChannelLeak_afterMultipleSplitBrainMerges
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NioChannelMemoryLeakTest.java
Labels: Team: Core, Type: Test-Failure

#15041 Fixes internal listener leak
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTestSmartRouting.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTestSupport.java
Labels: Team: Client, Type: Defect

#15042 Fixes internal listener leak
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTestSmartRouting.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTestSupport.java
Labels: Backport, Team: Client, Type: Defect

#15050 Adds trace logging for ScheduledExecutorQuorumWriteTest
  hazelcast/src/test/java/com/hazelcast/quorum/scheduledexecutor/ScheduledExecutorQuorumWriteTest.java
  hazelcast/src/test/resources/log4j2-debug-scheduledexecutor.xml
Labels: Module: IScheduledExecutor, Team: Core, Type: Test-Failure

#15045 Report error message/stack trace separately to MC
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/ChangeWanStateRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/ClearWanQueuesRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/WanCheckConsistencyRequest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ChangeWanStateRequestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ClearWanQueuesTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/WanCheckConsistencyRequestTest.java
Labels: Team: Management Center

#15052 [FORWARD PORT] Report error message/stack trace separately to MC
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/ChangeWanStateRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/ClearWanQueuesRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/WanCheckConsistencyRequest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ChangeWanStateRequestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ClearWanQueuesTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/WanCheckConsistencyRequestTest.java
Labels: Team: Management Center

#15058 Cleanup the helper code since initial problem is no more relevant
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpConnector.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#15059 Fixes internal listener leak
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTestSmartRouting.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTestSupport.java
Labels: Team: Client, Type: Defect

#15014 convert client message decoder usages to lambda
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientCacheProxyBase.java
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientInternalCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientMessageDecoder.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientAtomicLongProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientAtomicReferenceProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientDurableExecutorServiceProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientExecutorServiceProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/NearCachedClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/CallbackAwareClientDelegatingFutureTest.java
Labels: Team: Client, Type: Cleanup

#15029 [4.0] Close resources in config builders
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilder.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientFailoverConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilderConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderConfigResolutionTest.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/helpers/DeclarativeConfigFileHelper.java
  hazelcast/src/test/java/com/hazelcast/instance/HazelcastInstanceFactoryConfigResolutionTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#15048 Fix flaky ClientCacheNearCacheInvalidationTest test
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheInvalidationTest.java
Labels: Module: Near Cache, Source: Internal, Team: Core, Type: Test-Failure

#15027 [3.12.x] Close resources in config builders
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilder.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientFailoverConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilderConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderConfigResolutionTest.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/helpers/DeclarativeConfigFileHelper.java
  hazelcast/src/test/java/com/hazelcast/instance/HazelcastInstanceFactoryConfigResolutionTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#15037 Fix flaky SlowOperationDetector_purgeTest.testPurging_Invocation test
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetector.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetector_purgeTest.java
Labels: Module: Invocation System, Source: Internal, Team: Core, Type: Test-Failure

#15062 Improve the Raft snapshotting optimization
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
Labels: Module: CP Subsystem, Type: Enhancement

#14991 Naming cleanup diagnostics properties
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/EventQueuePlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/InvocationPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/MemberHazelcastInstanceInfoPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/MemberHeartbeatPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/MetricsPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/NetworkingImbalancePlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/OperationHeartbeatPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/OperationThreadSamplerPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/OverloadedConnectionsPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/PendingInvocationsPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/SlowOperationPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/StoreLatencyPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/SystemLogPlugin.java
Labels: Team: Core, Type: Cleanup

#14939 REST API: Support for updating the license
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/HazelcastMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/SetLicenseOperation.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/RestApiFilter.java
  hazelcast/src/main/java/com/hazelcast/util/JsonUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
Labels: Team: Core, Type: Enhancement

#15051 Refactor & cleanup internal partition/migration listeners
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionReplicaInterceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/DefaultPartitionReplicaInterceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalMigrationListener.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionListener.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationInterceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/NopPartitionReplicaInterceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaChangeEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/Data.java
  hazelcast/src/main/java/com/hazelcast/partition/strategy/DefaultPartitioningStrategy.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/GracefulShutdownTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/InternalPartitionImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationInterceptorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/InternalPartitionImplConstructor.java
Labels: Module: Partitioning, Team: Core, Type: Cleanup

#15068 [BACKPORT] Improve the Raft snapshotting optimization
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
Labels: Module: CP Subsystem

#15072 Fix RaftInvocationFailureTest failure
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocationFailureTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15073 Fix RaftInvocationFailureTest failure #15072
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocationFailureTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#14963 Move hd map config validator to OS
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapRemoteService.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorTest.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#14964 Remove backward compatible ADDED event from loadAll.
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/CacheEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryLoadedListenerCompatibleModeTest.java
  hazelcast/src/test/java/com/hazelcast/map/InterceptorTest.java
Labels: Module: IMap, Public API/SPI breaking change, Team: Core

#15087 Fixed java6 compatibility issues in SnapshotTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#15094 Remove eviction configuration and re-adjust expiry timeouts
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/ExpirationManagerTimeoutTest.java
Labels: Module: IMap, Team: Core

#15057 [3.12.x] Add client full example configuration files
  hazelcast-client/pom.xml
  hazelcast-client/src/main/resources/hazelcast-client-failover-config-3.12.xsd
  hazelcast-client/src/main/resources/hazelcast-client-failover-full-example.xml
  hazelcast-client/src/main/resources/hazelcast-client-failover-full-example.yaml
  hazelcast-client/src/main/resources/hazelcast-client-full-example.xml
  hazelcast-client/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlYamlClientConfigBuilderEqualsTest.java
  hazelcast-client/src/test/resources/hazelcast-client-failover-sample-with-variable.xml
  hazelcast-client/src/test/resources/hazelcast-client-failover-sample.xml
  hazelcast-client/src/test/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/helpers/DeclarativeConfigFileHelper.java
  src/main/assembly/assembly.xml
Labels: Module: Config, Team: Client, Team: Core, Type: Enhancement

#15056 [4.0] Add client full example configuration files
  hazelcast-client/pom.xml
  hazelcast-client/src/main/resources/hazelcast-client-failover-config-3.12.xsd
  hazelcast-client/src/main/resources/hazelcast-client-failover-config-4.0.xsd
  hazelcast-client/src/main/resources/hazelcast-client-failover-full-example.xml
  hazelcast-client/src/main/resources/hazelcast-client-failover-full-example.yaml
  hazelcast-client/src/main/resources/hazelcast-client-full-example.xml
  hazelcast-client/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlYamlClientConfigBuilderEqualsTest.java
  hazelcast-client/src/test/resources/hazelcast-client-failover-sample-with-variable.xml
  hazelcast-client/src/test/resources/hazelcast-client-failover-sample.xml
  hazelcast-client/src/test/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/helpers/DeclarativeConfigFileHelper.java
  src/main/assembly/assembly.xml
Labels: Module: Config, Team: Client, Team: Core, Type: Enhancement

#15089 Clarify default YAML config usage
  hazelcast-client/src/main/resources/hazelcast-client-default.yaml
  hazelcast/src/main/resources/hazelcast-default.yaml
Labels: Module: Config, Team: Core, Type: Enhancement

#15090 [BACKPORT] Clarify default YAML config usage
  hazelcast-client/src/main/resources/hazelcast-client-default.yaml
  hazelcast/src/main/resources/hazelcast-default.yaml
Labels: Module: Config, Team: Core, Type: Enhancement

#15083 Simplify class-hierarchy of member-side Cache
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheProxyBase.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractInternalCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxyLoadAllTask.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySyncListenerCompleter.java
Labels: Module: ICache, Source: Internal, Team: Core, Type: Cleanup

#15065 Remove deprecated cache eviction configs
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/CacheEvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheEvictionConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/LegacyCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/LegacyCacheEvictionConfig.java
  hazelcast/src/test/java/com/hazelcast/config/CacheEvictionConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/CacheEvictionConfigTest.java
Labels: Module: Config, Module: ICache, Public API/SPI breaking change, Source: Internal, Team: Core, Type: Cleanup

#15096 Replace Files.delete with java6 compatible deletion
  hazelcast/src/test/java/com/hazelcast/config/helpers/DeclarativeConfigFileHelper.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#15063 Remove support of special "setupRef" cache
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheCreationTest.java
Labels: Internal breaking change, Module: ICache, Source: Internal, Team: Core, Type: Cleanup

#15069 ExecutorServiceProxy serializes a submitted task once
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientExecutorServiceProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceSubmitTest.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTestSupport.java
  hazelcast/src/test/java/com/hazelcast/executor/SmallClusterTest.java
Labels: Team: Client, Team: Core, Type: Perf. Defect

#15070 [Backport] ExecutorServiceProxy serializes a submitted task once
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientExecutorServiceProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceSubmitTest.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTestSupport.java
  hazelcast/src/test/java/com/hazelcast/executor/SmallClusterTest.java
Labels: Backport, Team: Client, Team: Core, Type: Perf. Defect

#15102 Fixed java6 compatibility issues in ExecutorServiceProxy
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceSubmitTest.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
  hazelcast/src/test/java/com/hazelcast/executor/SmallClusterTest.java
Labels: Team: Core, Type: Test-Failure

#15105 Update java docs of expired record tasks
  hazelcast/src/main/java/com/hazelcast/cache/impl/eviction/CacheClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/MapClearExpiredRecordsTask.java
Labels: Team: Core, Type: Cleanup

#15110 Require java8 for XmlYamlClientConfigBuilderEqualsTest
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlYamlClientConfigBuilderEqualsTest.java
Labels: Module: Config, Team: Core

#15108 Improve Config's URL and File getter javadoc
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Module: Config, Team: Core

#15109 [BACKPORT] Improve Config's URL and File getter javadoc
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Module: Config, Team: Core

#15075 Make AddIndexOperation BackupAwareOperation
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRule.java
Labels: Module: Query, Team: Core, Type: Critical, Type: Defect

#15077 Lite members should not participate in CP groups
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystemManagementService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPLiteMemberTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15112 Fix ParallelTest annotation for CPLiteMemberTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPLiteMemberTest.java
Labels: Module: CP Subsystem, Team: Core

#15028 update client protocol version to 1.8.0
  pom.xml
Labels: Team: Client

#15088 Move partition spi classes to c.h.spi.partition package
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheService.java
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/CardinalityEstimatorService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/CollectionService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/set/SetService.java
  hazelcast/src/main/java/com/hazelcast/concurrent/atomiclong/AtomicLongService.java
  hazelcast/src/main/java/com/hazelcast/concurrent/atomicreference/AtomicReferenceService.java
  hazelcast/src/main/java/com/hazelcast/concurrent/countdownlatch/CountDownLatchService.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/LockServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/concurrent/semaphore/SemaphoreService.java
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DistributedDurableExecutorService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/NonFragmentedServiceNamespace.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionEventManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionLostListenerAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPartitionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BeforePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/AbstractMapServiceFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapPartitionAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapService.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/DistributedScheduledExecutorService.java
  hazelcast/src/main/java/com/hazelcast/spi/ServiceNamespaceAware.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/CountingMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationBackupHandler.java
  hazelcast/src/main/java/com/hazelcast/spi/partition/FragmentedMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/partition/MigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/partition/PartitionAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/partition/PartitionMigrationEvent.java
  hazelcast/src/main/java/com/hazelcast/spi/partition/PartitionReplicationEvent.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XAService.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/NoMigrationClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationAwareServiceEventTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/service/TestAbstractMigrationAwareService.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/service/TestMigrationAwareService.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/service/fragment/TestFragmentedMigrationAwareService.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferServiceTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/CountingMigrationAwareServiceTest.java
Labels: Module: Partitioning, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15091 Remove deprecated DefaultObjectNamespace
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/LockStoreImpl.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/ObjectNamespaceSerializationHelper.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/AbstractLockOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/DefaultObjectNamespace.java
  hazelcast/src/main/java/com/hazelcast/spi/DistributedObjectNamespace.java
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/ObjectNamespaceSerializationHelperTest.java
Labels: Team: Core, Type: Cleanup

#15064 Cleanup ClientProxyFactory
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/DefaultClientExtension.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientProxyFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ProxyManager.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientProxyFactoryWithContext.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/ProxyFactoryTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientProxyFactoryWithContextTest.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyProxyFactory.java
Labels: Team: Client, Type: Cleanup

#15118 [BACKPORT] Remove XML leftovers from YAML full configs
  hazelcast-client/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig.yaml
Labels: Module: Config, Team: Core, Type: Cleanup

#15117 Remove XML leftovers from YAML full configs
  hazelcast-client/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig.yaml
Labels: Module: Config, Team: Core, Type: Cleanup
