Repository hazelcast/hazelcast, pull requests merged in 2019-10, with the labels that each got.

#15227 Eventlog API
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/auditlog/AuditableEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/auditlog/AuditlogService.java
  hazelcast/src/main/java/com/hazelcast/internal/auditlog/EventBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/auditlog/Level.java
  hazelcast/src/main/java/com/hazelcast/internal/auditlog/impl/AuditlogTypeIds.java
  hazelcast/src/main/java/com/hazelcast/internal/auditlog/impl/NoOpAuditlogService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/NodeIOService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MockIOService.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: Team: Core

#15624 Fix RestCPSubsystemTest
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestCPSubsystemTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#15653 Recompile native ICMP library after package change
  hazelcast/src/main/resources/icmp_helper.c
  hazelcast/src/main/resources/icmp_helper.h
  hazelcast/src/main/resources/lib/linux-x86/libicmp_helper.so
  hazelcast/src/main/resources/lib/linux-x86_64/libicmp_helper.so
Labels: Type: Test-Failure

#15645 Fix NPE in eventual assertions in FencedLock and Semaphore tests
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/AbstractFencedLockFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/AbstractSemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/AbstractSessionlessSemaphoreBasicTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15396 Add Client protocol frame size limit
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientPlainChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageReader.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/exception/MaxMessageSizeExceeded.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/ClientChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageSplitAndBuildTest.java
Labels: Module: Security, Team: Client

#15607 4.0/mc metrics/consistent metric names
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/FileMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/StatisticsAwareMetricsSet.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationThread.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InboundResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ReadMetricsOperationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/FileMetricSetTest.java
Labels: Module: Diagnostics, Team: Core, Type: Enhancement

#15071 Refactor MigrationListener API
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/SystemLogPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/InternalPartition.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationStateImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionLostEventImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ReplicaMigrationEventImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationListenerAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionEventManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PublishPartitionRuntimeStateTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BeforePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/partition/MigrationEvent.java
  hazelcast/src/main/java/com/hazelcast/partition/MigrationListener.java
  hazelcast/src/main/java/com/hazelcast/partition/MigrationState.java
  hazelcast/src/main/java/com/hazelcast/partition/PartitionEvent.java
  hazelcast/src/main/java/com/hazelcast/partition/PartitionLostEvent.java
  hazelcast/src/main/java/com/hazelcast/partition/ReplicaMigrationEvent.java
  hazelcast/src/main/java/com/hazelcast/spi/partition/IPartitionLostEvent.java
  hazelcast/src/test/java/com/hazelcast/cache/CachePartitionLostListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCachePartitionLostListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapPartitionLostListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/partitionservice/ClientPartitionLostListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/partitionservice/PartitionServiceProxyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/SystemLogPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationInterceptorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationListenerAdapterTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPartitionLostListenerTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionLostListenerTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/topic/impl/reliable/SubscriptionMigrationTest.java
Labels: Module: Partitioning, Public API/SPI breaking change, Source: Internal, Team: Core, Type: Enhancement

#15657 [BACKPORT] Fix ManagementCenterService shutdown due to NPE in MultiMapService#getStats
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
Labels: Backport, Team: Management Center, Type: Defect

#15661 Clean up remaining mentions of ILock and ICondition
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/operation/package-info.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/package-info.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/proxy/package-info.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/LockStoreImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/operations/package-info.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/BlockingOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/WaitNotifyKey.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
Labels: Team: Core, Type: Cleanup

#15663 Fixed racy ClientMapTest.testAsyncPutAll test
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#15655 Add data types to data points serialized by MetricsCompressor
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/Metric.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/MetricConsumer.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/MetricsCompressor.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ReadMetricsOperationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/managementcenter/ReadMetricsTest.java
Labels: Module: Diagnostics, Team: Core, Type: Enhancement

#15668 Enabled write through (and response 'through') by default
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
Labels: Module: Network I/O

#15672 Fix PartitionMigrationListenerTest
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Module: Partitioning, Team: Core, Type: Test-Failure

#15674 Remove deprecated EvictionPolicyType
  hazelcast/src/main/java/com/hazelcast/internal/eviction/EvictionPolicyEvaluatorProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/EvictionPolicyType.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#15664 make boomerang optional with config
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/LoadBalancer.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigSections.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/SmartClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/SmartClientListenerService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/resources/hazelcast-client-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/ClientBackupAckTest.java
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
Labels: Team: Client, Type: Enhancement

#15660 [FORWARD-PORT] V4.0/enhancement/protocol specific network stats
  hazelcast/src/main/java/com/hazelcast/instance/ProtocolType.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/Channel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/NetworkStats.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/AggregateEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/DefaultAggregateEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/EndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/NetworkingService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/UnifiedAggregateEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/ClientViewUnifiedEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/MemberViewUnifiedEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpNetworkingService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TextViewUnifiedEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/AbstractOutOfMemoryHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/AbstractChannelTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AbstractAdvancedNetworkIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkStatsIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkingCommunicationIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/FirewallingNetworkingService.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_EndpointManagerTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNetworkingService.java
Labels: Forwardport, Module: Diagnostics, Module: Network I/O, Team: Management Center, Type: Enhancement

#15329 Hot Restart Encryption - OS part
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/hotrestart/TestHotRestartEncryptionKeyStoreApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/hotrestart/TestHotRestartEncryptionVaultApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/hotrestart/hot-restart-encryption-keystore-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/hotrestart/hot-restart-encryption-vault-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/AbstractSymmetricEncryptionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/DomConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/EncryptionAtRestConfig.java
  hazelcast/src/main/java/com/hazelcast/config/HotRestartPersistenceConfig.java
  hazelcast/src/main/java/com/hazelcast/config/JavaKeyStoreSecureStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/SecureStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SymmetricEncryptionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/VaultSecureStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/securestore/SecureStore.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/securestore/SecureStoreException.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/securestore/SecureStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/securestore/package-info.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Module: Hot Restart, Team: Core, Type: Enhancement

#15649 Minor fixes and improvements for WAN protocol
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/VersionedObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/VersionedObjectDataOutput.java
Labels: Module: WAN, Team: Core, Type: Defect

#15673 represent enums with integers in the protocol
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/CacheEventDataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/DurationConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/IndexConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/TimedExpiryPolicyFactoryConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfig.java
Labels: Team: Client, Type: Cleanup

#15667 Add support for excluding targets for Probes
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/MetricsPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/Probe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeAware.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/collectors/MetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/FieldProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MethodProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/JmxPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ManagementCenterPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/FileMetricSet.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/MetricsPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricTaggerImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/RenderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTest.java
Labels: Team: Core, Type: Enhancement

#15684 Initialize local CP member before initializing metadata group
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15685 Fixes exception handling from setLicense REST endpoint
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
Labels: Team: Core, Type: Defect

#15687 Fix LocalQueryTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalQueryTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#15702 Changes signature of AbstractInvocationFuture#defaultExecutor for JDK9+
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/AbstractInvocationFuture_AbstractTest.java
Labels: Module: Invocation System, Team: Core, Type: Defect

#15704 [BACKPORT] Changes signature of AbstractInvocationFuture#defaultExecutor for JDK9+
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/AbstractInvocationFuture_AbstractTest.java
Labels: Backport, Module: Invocation System, Team: Core, Type: Defect

#15690 Remove EnumSet litter from MetricsCollectionCycle
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/MetricTargetTest.java
Labels: Module: Diagnostics, Type: Enhancement

#15634 add binary compatibility tests
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Type: Enhancement

#15714 Revert "add binary compatibility tests"
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client

#15707 CP session state should be migrated/replicated in unsafe mode
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftServiceDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/UnsafeModePartitionState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/AbstractUnsafeRaftOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeRaftReplicateOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeStateReplicationOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/UnsafeFencedLockMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/UnsafeSessionMigrationTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15709 CP session state should be migrated/replicated in unsafe mode
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftServiceDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/UnsafeModePartitionState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/AbstractUnsafeRaftOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeRaftReplicateOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeStateReplicationOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/UnsafeFencedLockMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/UnsafeSessionMigrationTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15701 Remove deprecated ClientProxy.getId
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientProxy.java
Labels: Team: Client, Team: Core, Type: Cleanup

#15712 Fixes back pressure enabled due to write through
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulator.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulatorTest.java
Labels: Team: Core, Type: Defect

#15691 skip event queue for client backups
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientBackupService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddBackupListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/operations/Backup.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Team: Client, Type: Defect

#15692 skip event queue for client backups
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientBackupService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddBackupListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/operations/Backup.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
  hazelcast/src/test/java/com/hazelcast/client/SimpleMapTestFromClient.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Backport, Team: Client, wip

#15724 Use DONE_VOID_BACKUP in CP unsafe mode when op is blocked
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeRaftReplicateOp.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/CallStatus.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/UnsafeFencedLockMigrationTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15725 Use DONE_VOID_BACKUP in CP unsafe mode when op is blocked
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/UnsafeRaftReplicateOp.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/CallStatus.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/UnsafeFencedLockMigrationTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15713 Fail when CP persistence enabled in CP unsafe mode
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/test/java/com/hazelcast/cp/CPConfigCheckerTest.java
Labels: Module: CP Subsystem, Team: Core

#15737 Changes test Invocation_ExceptionTest to avoid usage of OOME
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ExceptionTest.java
Labels: Module: Invocation System, Team: Core, Type: Test-Failure

#15483 Remove PagingPredicateAccessor
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/util/SortingUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/ParallelPartitionScanExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/query/PagingPredicateAccessor.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Cleanup

#15678 Remove deprecated CacheCreateConfigOperation
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheCreateConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheGetConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheHelper.java
Labels: Module: ICache, Team: Core, Type: Cleanup

#15731 Hot Restart metadata persistence - OS part
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/HotRestartPersistenceConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecordWithStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Records.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Hot Restart, Team: Core, Type: Enhancement

#15740 Refactors ProxyService to distinguish local-only and cluster-wide proxy creation
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/CardinalityEstimatorService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/CollectionService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/set/SetService.java
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DistributedDurableExecutorService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/DistributedExecutorService.java
  hazelcast/src/main/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorService.java
  hazelcast/src/main/java/com/hazelcast/internal/crdt/pncounter/PNCounterService.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/LongRegisterService.java
  hazelcast/src/main/java/com/hazelcast/internal/services/RemoteService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapRemoteService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapService.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/DistributedScheduledExecutorService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/operations/PostJoinProxyOperation.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicService.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicService.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XAService.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ProxyFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionStressTest.java
  hazelcast/src/test/java/com/hazelcast/serviceprovider/TestRemoteService.java
Labels: Team: Core, Type: Defect

#15744 [BACKPORT] Refactors ProxyService to discern local-only and cluster proxy creation
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/CardinalityEstimatorService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/CollectionService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/set/SetService.java
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DistributedDurableExecutorService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/DistributedExecutorService.java
  hazelcast/src/main/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorService.java
  hazelcast/src/main/java/com/hazelcast/internal/crdt/pncounter/PNCounterService.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/LongRegisterService.java
  hazelcast/src/main/java/com/hazelcast/internal/services/RemoteService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapRemoteService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapService.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/DistributedScheduledExecutorService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/operations/PostJoinProxyOperation.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicService.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicService.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XAService.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ProxyFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionStressTest.java
  hazelcast/src/test/java/com/hazelcast/serviceprovider/TestRemoteService.java
Labels: Team: Core, Type: Defect

#15749 Fix file path comparisons in tests
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Team: Core, Type: Test-Failure

#15743 Undeprecate group properties useful for container configuration
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
Labels: Module: Config, Team: Core, Type: Cleanup

#15478 added support client PartitionLostListener configuration
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientPartitionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/partitionservice/ClientPartitionLostListenerTest.java
Labels: Module: Partitioning, Team: Client, Team: Core, Type: Enhancement

#15746 upgrade cloud plugin versions for 4.0 release
  hazelcast-all/pom.xml
Labels: Team: Integration

#15747 [FORWARD-PORT] upgrade cloud plugin versions
  hazelcast-all/pom.xml
Labels: Team: Integration

#15751 Fix RestCPSubsystemTest.test_removeCPMemberFromNonMaster
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestCPSubsystemTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15758 Remove deprecated AwsConfig properties
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientNetworkConfig.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/config/AwsConfig.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ConflictingConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/WanBatchReplicationPublisherConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/dto/WanBatchReplicationPublisherConfigDTOTest.java
Labels: Module: Config, Public API/SPI breaking change, Team: Core, Team: Integration, Type: Cleanup

#15680 Remove LoginModuleConfig.get/setImplementation
  hazelcast/src/main/java/com/hazelcast/config/LoginModuleConfig.java
Labels: Module: Config, Module: Security, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15662 Add MC Operations to IMDG Client
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/MCMapConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/UpdateMapConfigParameters.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCChangeClusterStateCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetMapConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCReadMetricsCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCUpdateMapConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeClusterStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/UpdateMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/metrics/ReadMetricsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cluster/ClusterState.java
  hazelcast/src/main/java/com/hazelcast/config/EvictionPolicy.java
  hazelcast/src/main/java/com/hazelcast/config/InMemoryFormat.java
  hazelcast/src/main/java/com/hazelcast/config/MaxSizeConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MapConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeClusterStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdateMapConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/MapConfigRequest.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/MapConfigRequestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/dto/MapConfigDTOTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/managementcenter/ReadMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
Labels: Team: Client, Team: Management Center, Type: Enhancement

#15764 Make Aggregator an interface
  hazelcast/src/main/java/com/hazelcast/aggregation/Aggregator.java
  hazelcast/src/main/java/com/hazelcast/aggregation/impl/AbstractAggregator.java
  hazelcast/src/test/java/com/hazelcast/aggregation/MapAggregateTest.java
  hazelcast/src/test/java/com/hazelcast/aggregation/MapWordCountAggregationBenchmark.java
Labels: Module: Query, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15742 Undeprecate GetCommandProcessor.handle
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/GetCommandProcessor.java
Labels: Team: Core, Type: Cleanup

#15729 Remove deprecated ServiceConfig.get/setServiceImpl
  hazelcast/src/main/java/com/hazelcast/config/ServiceConfig.java
Labels: Module: Config, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15721 Remove deprecated NodeEngine.isActive
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/OperationThreadSamplerPlugin.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
Labels: Team: Core, Type: Cleanup

#15720 Remove deprecated MultiMapConfig.get/setSyncBackupCount
  hazelcast/src/main/java/com/hazelcast/config/MultiMapConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MultiMapConfigReadOnly.java
  hazelcast/src/test/java/com/hazelcast/config/MultiMapConfigReadOnlyTest.java
Labels: Module: MultiMap, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15752 Move Client Statistics properties to the public ClientProperty class
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/Statistics.java
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
Labels: Team: Client

#15719 Remove deprecations in Minimal JSON
  hazelcast/src/main/java/com/hazelcast/internal/json/JsonArray.java
  hazelcast/src/main/java/com/hazelcast/internal/json/JsonObject.java
  hazelcast/src/main/java/com/hazelcast/internal/json/JsonValue.java
  hazelcast/src/main/java/com/hazelcast/internal/json/ParseException.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonArray_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonObject_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonValue_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/ParseException_Test.java
Labels: Team: Core, Type: Cleanup

#15679 Undeprecate (ByteArray)ObjectDataInput(Stream).readLine
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ObjectDataInputStream.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ObjectDataInputStreamFinalMethodsTest.java
Labels: Module: Serialization, Team: Core, Type: Cleanup

#15676 Remove deprecated LocalReplicatedMapStats.getReplicationEventCount
  hazelcast/src/main/java/com/hazelcast/monitor/LocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/EmptyLocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/EmptyLocalReplicatedMapStatsTest.java
Labels: Module: ReplicatedMap, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15763 EntryProcessorTest: fixed a flaky test (#15579)
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#15757 Handle WaitKeyCancelledException in Lock and Semaphore proxies
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionlessSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/IAtomicLong.java
  hazelcast/src/main/java/com/hazelcast/cp/ISemaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/CountDownLatch.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/Lock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/proxy/AbstractFencedLockProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/SessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/SessionlessSemaphoreProxy.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/AbstractFencedLockAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/AbstractFencedLockBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/AbstractFencedLockFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/AbstractSemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/AbstractSemaphoreFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/AbstractSessionAwareSemaphoreBasicTest.java
Labels: Module: CP Subsystem, Module: ISemaphore, Module: Lock, Type: Enhancement

#15753 Fix RestCPSubsystemTest.test_forceCloseValidCPSession_withInvalidCred…
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15754 Fix RestCPSubsystemTest.test_forceCloseValidCPSession_withInvalidCred…
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
Labels: Backport, Module: CP Subsystem, Type: Test-Failure

#13818 Rename StartServer => HazelcastMemberStarter
  hazelcast-build-utils/src/test/java/com/hazelcast/buildutils/HazelcastManifestTransformerTest.java
  hazelcast-build-utils/src/test/resources/manifest.mf
  hazelcast/src/main/java/com/hazelcast/core/server/HazelcastMemberStarter.java
  hazelcast/src/main/resources/start.bat
  hazelcast/src/main/resources/start.sh
  hazelcast/src/test/java/com/hazelcast/core/server/HazelcastMemberStarterTest.java
  pom.xml
Labels: Source: Internal, Team: Integration, Type: Enhancement

#15776 Fix SessionManagerServiceTest.sessionHeartbeatsAreSent_whenSessionInUse
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/AbstractProxySessionManagerTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15728 Remove deprecated TransactionContext.getXaResource
  hazelcast-spring/src/main/java/com/hazelcast/spring/transaction/TransactionContextHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/TransactionContextProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/xa/XATransactionContextProxy.java
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionContext.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionContextImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransactionContextImpl.java
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientXACompatibilityTest.java
Labels: Module: Transactions, Team: Core, Type: Cleanup

#15768 [Test Fix] Check backup listener number drops to 0 eventually.
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Team: Client, Type: Test-Failure

#15734 Fix config and property docs
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
Labels: Team: Core, Type: Cleanup

#15775 Apply CP Subsystem fixes
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/CPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/NopCPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Module: CP Subsystem, Type: Defect, Type: Test-Failure

#15750 Predicate fails on nested JSON objects in arrays
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/test/java/com/hazelcast/json/MapAggregationJsonTest.java
Labels: Team: Core, Type: Defect

#15783 Fix PersistenceTest: Prevent leader election while leader is restarting
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/VoteRequestHandlerTask.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/PersistenceTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftGroup.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#15641 Use deadline in assert*Eventually exit conditions
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Priority: Low, Team: Core, Type: Enhancement

#15789 Do not skip childs when getting multi-value for json nested objects
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/test/java/com/hazelcast/json/MapAggregationJsonTest.java
Labels: Module: Query, Team: Core, Type: Defect

#15787 Fix MembershipUpdateTest.memberListsConverge_whenExistingMemberMisses…
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Backport, Module: Cluster, Type: Test-Failure

#15786 Fix MembershipUpdateTest.memberListsConverge_whenExistingMemberMisses…
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Module: Cluster, Type: Test-Failure

#15791 Move WanPublisherState to wan package from config
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/WanBatchReplicationPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/WanBatchReplicationPublisherConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeWanStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/ChangeWanStateRequest.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalWanPublisherStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/LocalWanPublisherStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/wan/WanPublisherState.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/WanBatchReplicationPublisherConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ChangeWanStateRequestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/dto/WanBatchReplicationPublisherConfigDTOTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/LocalWanPublisherStatsTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/LocalWanStatsImplTest.java
Labels: Module: WAN, Team: Core, Type: Cleanup

#15795 Add member parameter to client MCService.get/updateMapConfig methods
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
Labels: Team: Management Center

#15780 Fix MetadataRaftGroupTest.when_metadataClusterNodeFallsFarBehind_then…
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15773 Remove deprecated DistributedObjectEvent.getObjectId
  hazelcast/src/main/java/com/hazelcast/core/DistributedObjectEvent.java
Labels: Public API/SPI breaking change, Team: Core, Type: Cleanup

#15800 Small improvements to metrics code
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTagger.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricTaggerImpl.java
Labels: Team: Core, Type: Enhancement

#15797 Only expose CompletionStage in public API
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystemManagementService.java
  hazelcast/src/main/java/com/hazelcast/cp/session/CPSessionManagementService.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/lock/FencedLockClientBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPGroupRebalanceTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/AbstractAtomicRegisterSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/CountDownLatchAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestCPSubsystemTest.java
Labels: Team: Core, Type: Defect

#15760 Re-adjust test expiry times and remove unneeded test
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/ExpirationManagerTimeoutTest.java
Labels: Team: Core, Type: Test-Failure

#15801 [Test ClientClusterRestartEventTest.testSingleMemberRestart] Make test client not shutdown due to max connection attempt
  hazelcast/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Team: Client, Type: Test-Failure

#15762 added support client PartitionLostListener configuration
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/partitionservice/ClientPartitionLostListenerTest.java
Labels: Module: Partitioning, Team: Client, Team: Core, Type: Enhancement

#15777 Fix possible metrics (de)registration livelock
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/resources/cluster.sh
Labels: Source: Jet, Team: Core, Type: Defect

#15804 Fix CountDownLatchAdvancedTest failure
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/CountDownLatchAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreAdvancedTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15803 Delay Raft node creation if local CP member is not initialized
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/NopCPMetadataStore.java
Labels: Module: CP Subsystem, Type: Defect

#15802 Move functional interfaces to com.hazelcast.function
  hazelcast/src/main/java/com/hazelcast/function/BiConsumerEx.java
  hazelcast/src/main/java/com/hazelcast/function/BiFunctionEx.java
  hazelcast/src/main/java/com/hazelcast/function/BiPredicateEx.java
  hazelcast/src/main/java/com/hazelcast/function/BinaryOperatorEx.java
  hazelcast/src/main/java/com/hazelcast/function/ComparatorEx.java
  hazelcast/src/main/java/com/hazelcast/function/ComparatorsEx.java
  hazelcast/src/main/java/com/hazelcast/function/ConsumerEx.java
  hazelcast/src/main/java/com/hazelcast/function/FunctionEx.java
  hazelcast/src/main/java/com/hazelcast/function/Functions.java
  hazelcast/src/main/java/com/hazelcast/function/PredicateEx.java
  hazelcast/src/main/java/com/hazelcast/function/SupplierEx.java
  hazelcast/src/main/java/com/hazelcast/function/ToDoubleFunctionEx.java
  hazelcast/src/main/java/com/hazelcast/function/ToIntFunctionEx.java
  hazelcast/src/main/java/com/hazelcast/function/ToLongFunctionEx.java
  hazelcast/src/main/java/com/hazelcast/function/package-info.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/PersistenceTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftGroup.java
  hazelcast/src/test/java/com/hazelcast/function/ComparatorExTest.java
  hazelcast/src/test/java/com/hazelcast/function/FunctionsTest.java
Labels: Public API/SPI breaking change, Source: Jet, Team: Core, Type: Cleanup

#15805 [Test failure fix] Fix test so that client partition update and connection established appropriately
  hazelcast/src/test/java/com/hazelcast/client/heartbeat/ClientHeartbeatTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/ClientTestSupport.java
Labels: Team: Client, Type: Test-Failure

#15798 Rename CPSubsystemManagementService.restart() to .reset()
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystemManagementService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftServiceDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/ResetCPMemberOp.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/resources/cp-subsystem.sh
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/lock/FencedLockClientBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestCPSubsystemTest.java
Labels: Module: CP Subsystem, Type: Enhancement

#15788 Add initial permit count config to Semaphore
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/cp/FencedLockConfig.java
  hazelcast/src/main/java/com/hazelcast/config/cp/SemaphoreConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/Semaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreService.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreInitialPermitsTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SessionAwareSemaphoreBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SessionlessSemaphoreBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/UnsafeSemaphoreAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/UnsafeSemaphoreFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/UnsafeSessionAwareSemaphoreBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/UnsafeSessionlessSemaphoreBasicTest.java
Labels: Module: CP Subsystem, Module: ISemaphore, Type: Enhancement

#15770 Fixed flaky HDMapSetTtlBackupTest
  hazelcast/src/test/java/com/hazelcast/map/MapSetTtlBackupTest.java
Labels: Module: IMap, Source: Internal, Type: Test-Failure

#15781 Remove deprecated IMap methods accepting EntryListener
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryListenerAdaptors.java
  hazelcast/src/main/java/com/hazelcast/map/impl/InternalEntryListenerAdapter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/ListenerAdapters.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/map/AbstractMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/EntryListenerAdaptorsTest.java
Labels: Module: IMap, Public API/SPI breaking change, Team: Client, Team: Core, Type: Cleanup

#15816 Add back MapConfigRequest for MC
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MapConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/MapConfigRequest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/MapConfigRequestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/dto/MapConfigDTOTest.java
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
Labels: Team: Management Center

#15826 Apply fixes on Raft node termination
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Module: CP Subsystem, Type: Defect, Type: Test-Failure

#15815 Fix thread safety issue in CP Subsystem management tests
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/HazelcastRaftTestSupport.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15830 Fixes HazelcastTestFactory thread-safety problem. If a new instance w…
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/ClientSelectorRaceTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Team: Client, Type: Test-Failure

#15817 Canonicalize "__key#" to "__key." in indexes and queries
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PredicateUtils.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryBasicTest.java
Labels: Module: Query, Team: Core

#15835 Backport https://github.com/hazelcast/hazelcast/pull/15830
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/ClientSelectorRaceTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Team: Client

#15836 Canonicalize "__key#" to "__key." in indexes and queries (#15817)
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PredicateUtils.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryBasicTest.java
Labels: Module: Query, Team: Core

#15827 Use unique unset value
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutIfAbsentMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutTransientMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/DefaultMapOperationProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutIfAbsentOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutTransientOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/TryPutOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecordWithStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnSetOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/AbstractRecordTest.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#15823 Fixed flaky ThreadLeakTest
  hazelcast/src/test/java/classloading/ThreadLeakTestUtils.java
Labels: Team: Core, Type: Test-Failure

#15814 Refactor mutation observers
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/EventJournalWriterMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MutationObserver.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#15825 removed refenreces to ICompletableFuture
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/RingbufferAddAllCodec.java
  hazelcast/src/main/java/com/hazelcast/core/Pipelining.java
  hazelcast/src/main/java/com/hazelcast/cp/IAtomicReference.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/ReadResultSet.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/Ringbuffer.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/OperationService.java
Labels: Team: Core, Type: Enhancement

#15442 Add Nonnull and Nullable annotations and minor behaviour fixes
  hazelcast/src/main/java/com/hazelcast/cardinality/CardinalityEstimator.java
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/CardinalityEstimatorProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientCardinalityEstimatorProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientDurableExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/TransactionContextProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/TransactionProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientPartitionService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientTransactionManagerService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ProxyManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientTransactionManagerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/cluster/MemberSelector.java
  hazelcast/src/main/java/com/hazelcast/core/HazelcastInstance.java
  hazelcast/src/main/java/com/hazelcast/core/IExecutorService.java
  hazelcast/src/main/java/com/hazelcast/durableexecutor/DurableExecutorService.java
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DurableExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/DistributedExecutorService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutionCallbackAdapterFactory.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/operations/AbstractCallableTaskOperation.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/operations/CallableTaskOperation.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/operations/MemberCallableTaskOperation.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/osgi/impl/HazelcastOSGiInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/InvocationBuilder.java
  hazelcast/src/main/java/com/hazelcast/spi/partition/IPartitionService.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionService.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/SplitBrainProtectionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionManagerService.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionContextImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionManagerServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/cardinality/AbstractCardinalityEstimatorNullTest.java
  hazelcast/src/test/java/com/hazelcast/cardinality/MemberCardinalityEstimatorNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientHazelcastInstanceNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/cardinality/ClientCardinalityEstimatorNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/executor/ClientExecutorNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceExecuteTest.java
  hazelcast/src/test/java/com/hazelcast/client/executor/durable/ClientDurableExecutorNullTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/AbstractDurableExecutorNullTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/MemberDurableExecutorNullTest.java
  hazelcast/src/test/java/com/hazelcast/executor/AbstractExecutorNullTest.java
  hazelcast/src/test/java/com/hazelcast/executor/MemberExecutorNullTest.java
  hazelcast/src/test/java/com/hazelcast/instance/AbstractHazelcastInstanceNullTest.java
  hazelcast/src/test/java/com/hazelcast/instance/MemberHazelcastInstanceNullTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/AbstractQuorumServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/MemberQuorumServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/AbstractScheduledExecutorNullTest.java
Labels: Module: CardinalityEstimator, Module: IExecutor, Team: Core, Type: Enhancement

#15838 Fixed ClientCacheNearCacheInvalidationTest (#3261)
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheInvalidationListener.java
Labels: Module: Near Cache, Source: Internal, Team: Core, Type: Test-Failure

#15843 Undeprecate deprecated OperationExecutor methods
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/OperationExecutor.java
Labels: Team: Core, Type: Cleanup

#15799 Refactored map-store test
  hazelcast/src/main/java/com/hazelcast/map/impl/SimpleEntryView.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorBouncingNodesTest.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/TestEntryStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindEntryStoreQueueReplicationTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#15842 Adds nullability checks and annotations to remaining services
  hazelcast/src/main/java/com/hazelcast/client/ClientService.java
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/proxy/ClientRaftProxyFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientLoggingService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/LifecycleServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/xa/XAResourceProxy.java
  hazelcast/src/main/java/com/hazelcast/core/LifecycleService.java
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceProxy.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/LifecycleServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/TerminatedLifecycleService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/logging/LogListener.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggingService.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/osgi/impl/HazelcastOSGiInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/partition/PartitionService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/Registration.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/ServiceManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/HazelcastXAResource.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XAResourceImpl.java
  hazelcast/src/test/java/com/hazelcast/AbstractLifecycleServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/MemberLifecycleServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/AbstractClientServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientLifecycleServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/MemberClientServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/cp/ClientCPSubsystemNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/logging/ClientLoggingServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/partitionservice/ClientPartitionServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/cp/AbstractCPSubsystemNullTest.java
  hazelcast/src/test/java/com/hazelcast/cp/MemberCPSubsystemNullTest.java
  hazelcast/src/test/java/com/hazelcast/logging/AbstractLoggingServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/logging/MemberLoggingServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/partition/AbstractPartitionServiceNullTest.java
  hazelcast/src/test/java/com/hazelcast/partition/MemberPartitionServiceNullTest.java
Labels: Public API/SPI breaking change, Team: Core, Type: Enhancement

#15846 Remove deprecated SimpleEntryView.evictionCriteriaNumber
  hazelcast/src/main/java/com/hazelcast/map/impl/SimpleEntryView.java
Labels: Team: Core, Type: Cleanup

#15821 add ConnectionRetryConfig to ClientConfigXmlGenerator
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
Labels: Team: Client, Type: Defect

#15841 Apply Raft node management fixes
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftNodeLifecycleAwareService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftServiceDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/atomic/RaftAtomicValueService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeStatus.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/MembershipChangeTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/QueryTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/ReplicateTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/TerminateRaftNodesOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/DestroyRaftGroupTest.java
Labels: Module: CP Subsystem, Type: Defect, Type: Test-Failure

#15845 Clarify EntryAdapter deprecation wording
  hazelcast/src/main/java/com/hazelcast/map/impl/MapListenerAdapter.java
Labels: Team: Core, Type: Cleanup

#15767 Remove Comparison.NOT_EQUAL in indexes
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Comparison.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexFirstComponentDecoratorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
Labels: Module: Query, Team: Core, Type: Cleanup

#15828 Persist and restore active CP members list
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/CPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/NopCPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocationContext.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/HazelcastRaftTestSupport.java
Labels: Module: CP Subsystem, Team: Core, Type: Enhancement

#15782 Add dynamic metric support for gauges
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/AbstractGauge.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/DoubleGaugeImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LongGaugeImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricValueCatcher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpNetworkingService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpUnifiedEndpointManager.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/DoubleGaugeImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/LongGaugeImplTest.java
Labels: Team: Core, Type: Defect, Type: Test-Failure

#15822 add binary compatibility tests
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Type: Enhancement

#15864 Revert clusterName->clientName in client statistics.
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/Statistics.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
Labels: Team: Client, Type: Defect

#15861 use the correct method to get client connection count on NetworkingServiceMBean
  hazelcast/src/main/java/com/hazelcast/internal/jmx/NetworkingServiceMBean.java
Labels: Team: Client, Type: Defect

#15862 [BACKPORT] use the correct method to get client connection count on NetworkingServiceMBean
  hazelcast/src/main/java/com/hazelcast/internal/jmx/NetworkingServiceMBean.java
Labels: Team: Client, Type: Defect

#15837 EntryLoaderSimpleTest enhancement (#15677)
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#15872 Allow checking security realm name presence
  hazelcast/src/main/java/com/hazelcast/config/SecurityConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicSecurityConfig.java
Labels: Module: Security, Team: Core, Type: Enhancement

#15874 Update & persist active CP members on each metadata init commit
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/CPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/InitMetadataRaftGroupOp.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocationContext.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitServiceTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#15873 Fix WAN queue migration for structures with backupCount>1
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheMergeOperation.java
  hazelcast/src/main/java/com/hazelcast/config/WanConsumerConfig.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationConsumer.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationPublisher.java
  hazelcast/src/main/java/com/hazelcast/wan/WanReplicationPublisherMigrationListener.java
Labels: Module: WAN, Team: Core, Type: Defect

#15881 Use per entry expiration times
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindEntryStoreQueueReplicationTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#15876 Downsizes instances and adds debug logging in ExecutorServiceTest
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTest.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTestSupport.java
  hazelcast/src/test/resources/log4j2-debug.xml
Labels: Module: IExecutor, Team: Core, Type: Test-Failure

#15871 Improve & simplify TcpIpJoiner
  hazelcast/src/main/java/com/hazelcast/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/JoinMastershipClaimOp.java
  hazelcast/src/test/java/com/hazelcast/cluster/JoinStressTest.java
Labels: Backport, Module: Cluster, Team: Core, Type: Defect

#15885 Collect tcp.connection metrics only once
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpUnifiedEndpointManager.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/TcpIpEndpointManagerMetricsTest.java
Labels: Module: Metrics, Team: Core, Type: Defect

#15850 EntryProcessor with Predicate should not touch non-matching entries
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapRemoveAllTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: IMap, Team: Core, Type: Defect

#15853 [BACKPORT] EntryProcessor with Predicate should not touch non-matching entries
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapRemoveAllTest.java
Labels: Backport, Module: IMap, Team: Core, Type: Defect

#15866 Adds test and fixes for ClientDelegatingFuture
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientInterceptingDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DelegatingCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientDelegatingFutureTest_CompletionStageTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationFuture_CompletionStageTest.java
Labels: Team: Client, Team: Core, Type: Defect, Type: Test-Failure

#15829 Add invalidationRequests to toString
  hazelcast/src/main/java/com/hazelcast/monitor/impl/NearCacheStatsImpl.java
Labels: Module: Near Cache, Team: Core, Type: Enhancement

#15774 Add AdvancedNetworkStatsDTO to TimedMemberState
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/AdvancedNetworkStatsDTO.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/MemberStateImpl.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNetworkingService.java
Labels: Forwardport, Team: Management Center, Type: Enhancement

#15893 Fixes compilation issue for EE where createNodeState is overriden
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
Labels: Team: Core, Type: Defect

#15894 Remove obsolete package-info in c.h.spi.partition
  hazelcast/src/main/java/com/hazelcast/spi/partition/package-info.java
Labels: Type: Cleanup

#15851 Remove abundant object creation on hot path
  hazelcast/src/main/java/com/hazelcast/internal/config/MapConfigReadOnly.java
Labels: Module: IMap, Team: Core, Type: Perf. Defect

#15867 Enhance Counters so that they can be reused in Jet
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/Counter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/MwCounter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/SwCounter.java
  hazelcast/src/test/java/com/hazelcast/internal/util/counters/MwCounterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/counters/SafeSwCounterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/counters/SwCounterTest.java
Labels: Team: Core, Type: Enhancement

#15899 Handle destroyed Raft group on Raft node init task
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
Labels: Module: CP Subsystem, Type: Defect

#15900 Move EventJournalCacheEvent and EventJournalMapEvent back to public API
  hazelcast/src/main/java/com/hazelcast/cache/EventJournalCacheEvent.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalFunctions.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalReadOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/CacheEventJournalReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/DeserializingEventJournalCacheEvent.java
  hazelcast/src/main/java/com/hazelcast/cache/journal/package-info.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheEventJournalReadTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapEventJournalReadTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/EventJournalMapEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/DeserializingEventJournalMapEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalFunctions.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalReadOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/MapEventJournalReadResultSetImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/journal/package-info.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/CacheEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/EventJournalCacheDataStructureAdapter.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/EventJournalCacheEventAdapter.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/EventJournalMapDataStructureAdapter.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/EventJournalMapEventAdapter.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/MapEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/MapEventJournalExpiringTest.java
Labels: Public API/SPI breaking change, Team: Core, Type: Cleanup

#15906 Offload the Raft node step down process from partition threads
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/RaftQueryOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/RaftReplicateOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/CompleteDestroyRaftGroupsOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/CompleteRaftGroupMembershipChangesOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/CreateRaftGroupOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/CreateRaftNodeOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/InitMetadataRaftGroupOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/PublishActiveCPMembersOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/RemoveCPMemberOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raftop/metadata/TerminateRaftNodesOp.java
Labels: Module: CP Subsystem, Type: Defect

#15869 xml doc update. Remove mention to already removed enabled option
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
Labels: Team: Client, Type: Cleanup

#15854 Move indexing to its mutation observer
  hazelcast/src/main/java/com/hazelcast/map/impl/MapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetTtlBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetTtlOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/EventJournalWriterMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#15907 [BACKPORT] [4.0-BETA-1] catch exception when method can't be make accessible
  hazelcast/src/main/java/com/hazelcast/internal/util/OperatingSystemMXBeanSupport.java
Labels: Module: Metrics, Team: Core, Type: Defect

#15879 Use nullable roleRecursionMaxDepth field in LDAP configuration
  hazelcast/src/main/java/com/hazelcast/config/security/LdapAuthenticationConfig.java
Labels: Module: Security, Team: Core

#15910 Fix overriding operation metrics
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
Labels: Module: Metrics, Team: Core, Type: Defect

#15908 Fix HazelcastRaftTestSupport.getLeaderInstance() NPE
  hazelcast/src/test/java/com/hazelcast/cp/internal/HazelcastRaftTestSupport.java
Labels: Module: CP Subsystem, Type: Test-Failure

#15911 Fix service value retrieval in PersistenceTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/PersistenceTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/dataservice/RaftDataService.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure
