Repository hazelcast/hazelcast, pull requests merged in 2019-02, with the labels that each got.

#14294 [Backport] Reset Hot Restart data while merging after network split is detected
  hazelcast/src/main/java/com/hazelcast/hotrestart/InternalHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/hotrestart/NoopInternalHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AbstractJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterMergeTask.java
  hazelcast/src/test/java/com/hazelcast/hotrestart/NoopHotRestartServicesTest.java
Labels: Backport, Module: Hot Restart, Source: Internal, Team: Core, Type: Defect

#14212 Reset Hot Restart data while merging after network split is detected
  hazelcast/src/main/java/com/hazelcast/hotrestart/InternalHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/hotrestart/NoopInternalHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AbstractJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterMergeTask.java
  hazelcast/src/test/java/com/hazelcast/hotrestart/NoopHotRestartServicesTest.java
Labels: Module: Hot Restart, Source: Internal, Team: Core, Type: Defect

#14449 Move update stats to proxies for clear and containsKey
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapClearMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapContainsKeyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ContainsKeyOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Team: Client, Team: Core, Type: Defect

#14450 Move update stats to proxies for clear and containsKey
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapClearMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapContainsKeyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ContainsKeyOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Backport, Team: Client, Team: Core, Type: Defect

#14448 Convert old value to data in SetOperation when natural event types en…
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetOperation.java
  hazelcast/src/test/java/com/hazelcast/map/MapQueryEventFilterTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#14370 Introduce filtering for text protocols - HTTP REST API and MEMCACHE
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/MemcacheProtocolConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RestApiConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RestEndpointGroup.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/nio/IOService.java
  hazelcast/src/main/java/com/hazelcast/nio/NodeIOService.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/AllowingTextProtocolFilter.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/MemcacheTextDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/RestApiFilter.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/RestApiTextDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/TextParsers.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/TextProtocolFilter.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/ProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/nio/NodeIOServiceTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ascii/AbstractTextProtocolsTestBase.java
  hazelcast/src/test/java/com/hazelcast/nio/ascii/HttpRestEndpointGroupsTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ascii/MemcacheProtocolFilterTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ascii/RestApiConfigTestBase.java
  hazelcast/src/test/java/com/hazelcast/nio/ascii/RestApiFilterTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ascii/TextProtocolClient.java
  hazelcast/src/test/java/com/hazelcast/nio/ascii/TextProtocolsConfigTest.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/MockIOService.java
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
Labels: Source: Internal, Team: Client, Team: Core, Team: Management Center

#14365 Add XML config for automatically removing stale Hot Restart data
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/HotRestartPersistenceConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
Labels: Module: Hot Restart, Source: Internal, Team: Core, Type: Enhancement

#14456 Fix LockAdvancedTest.testCleanupOperationIgnoresQuorum
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockAdvancedTest.java
Labels: Module: ILock, Team: Core, Type: Test-Failure

#14438 adding copy constructor to client config
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientAwsConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientCloudConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConnectionStrategyConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientIcmpPingConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientNetworkConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientReliableTopicConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientSecurityConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientUserCodeDeploymentConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ProxyFactoryConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/SocketOptions.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigTest.java
  hazelcast/src/main/java/com/hazelcast/config/AliasedDiscoveryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/AwsConfig.java
  hazelcast/src/main/java/com/hazelcast/config/AzureConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ClassFilter.java
  hazelcast/src/main/java/com/hazelcast/config/CredentialsFactoryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryStrategyConfig.java
  hazelcast/src/main/java/com/hazelcast/config/EurekaConfig.java
  hazelcast/src/main/java/com/hazelcast/config/GcpConfig.java
  hazelcast/src/main/java/com/hazelcast/config/GlobalSerializerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/GroupConfig.java
  hazelcast/src/main/java/com/hazelcast/config/JavaSerializationFilterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/KubernetesConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NativeMemoryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SSLConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SerializationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SerializerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SocketInterceptorConfig.java
Labels: Team: Client, Type: Enhancement

#14174 Introduced cluster version upgrade task
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#14443 Support for pipelining
  hazelcast/src/main/java/com/hazelcast/core/Pipeline.java
  hazelcast/src/test/java/com/hazelcast/core/PipelineTest.java
Labels: Module: Network I/O, Team: Core, Type: Enhancement

#14461 Ignore join request with an existing member's uuid, instead of failing
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Module: Hot Restart, Team: Core, Type: Enhancement

#14467 Fix custom instance creation in MembershipUpdateTest
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Type: Test-Failure

#14152 Added health ready check to rest
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#14343 Improve & simplify TcpIpJoiner
  hazelcast/src/main/java/com/hazelcast/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/JoinMastershipClaimOp.java
  hazelcast/src/test/java/com/hazelcast/cluster/JoinStressTest.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#14100 Support PartitionPredicate in IMap.removeAll
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientPartitionPredicateTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemoveAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/PartitionPredicateTest.java
Labels: Module: IMap, Module: Query, Source: Internal, Team: Core, Type: Enhancement

#14104 Make client work when addresses configured via different interface than members
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemoveAllMessageTask.java
Labels: Source: Internal, Team: Client

#14458 [BACKPORT 3.11.z] Add OnJoinPermissionOperation support to member configuration
  hazelcast/src/main/java/com/hazelcast/config/OnJoinPermissionOperationName.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
Labels: Team: Client, Team: Core

#14457 Introduce query cache recreate method, a query cache can recreate its…
  hazelcast-client/src/main/java/com/hazelcast/client/impl/querycache/subscriber/ClientQueryCacheEndToEndConstructor.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/querycache/subscriber/ClientSubscriberContext.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheRecreationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheUpdateTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/querycache/subscriber/TestClientSubscriberContext.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/QueryCacheEventPublisher.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/AbstractAccumulator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/AccumulatorHandler.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/AccumulatorInfo.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/AccumulatorProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/BasicAccumulator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/event/sequence/DefaultSubscriberSequencerProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/event/sequence/SubscriberSequencerProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/CoalescingPublisherAccumulator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/PartitionAccumulatorRegistry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/PublisherAccumulatorHandler.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractQueryCacheEndToEndConstructor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/InternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NodeQueryCacheEndToEndConstructor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NodeSubscriberContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NullQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheEndToEndProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberAccumulator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberAccumulatorHandler.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/SubscriberListener.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/PublisherCreateOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/ServerQueryCacheRecreationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/subscriber/TestSubscriberContext.java
Labels: Team: Client, Team: Core, Type: Enhancement

#14401 Adds Map preprocessing configuration
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/PreprocessingPolicy.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#14473 fixes ambigious array call
  hazelcast/src/test/java/com/hazelcast/json/internal/AbstractJsonSchemaCreateTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonSchemaHelperNullTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/TestJsonValues.java
Labels: Priority: High, Source: Internal

#14444 Add the missing test for IMap.set with max idle parameter
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapTest.java
Labels: Team: Client, Type: Enhancement

#14477 Fix broken predicate in test
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionRegressionTest.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#14446 Speed up client connecting to cluster
  hazelcast-client/src/main/java/com/hazelcast/client/connection/AddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/Addresses.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/DefaultAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/DiscoveryAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudAddressProvider.java
  hazelcast-client/src/main/java/com/hazelcast/client/util/AddressHelper.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientConnectionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientConnectionManagerTranslateTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/DefaultAddressProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudProviderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast-client/src/test/java/com/hazelcast/client/txn/ClientTxnOwnerDisconnectedTest.java
Labels: Team: Client, Type: Perf. Defect

#14385 Require java 8 as minimum version for building & running Hazelcast
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/internal/PlatformSpecific.java
  hazelcast/src/main/java/com/hazelcast/internal/RequiresJdk8.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionServiceProxy.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/scheduledexecutor/ScheduledExecutorQuorumWriteTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/test/AnswerTest.java
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#14482 Continue to use remote address to keep track connections
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Type: Defect

#14485 Call super's reset
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/BasicAccumulator.java
Labels: Team: Core, Type: Defect

#14410 Refactor XMLConfigBuilderTest
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlOnlyConfigBuilderTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Enhancement

#14504 Fix YAML test issues on JDK6 and 7
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlUtil.java
  hazelcast/src/test/java/com/hazelcast/config/ServiceConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigWithSystemPropertyTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlOnlyConfigBuilderTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#14507 Remove deprecated prop from test config
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestMultiendpointTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#14464 Implement client labels
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigSections.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/main/resources/hazelcast-client-config-3.12.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/java/com/hazelcast/client/ClientLabelTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEvent.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/core/Client.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientEndPointDTO.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/BinaryCompatibilityFileGenerator.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/BinaryCompatibilityNullFileGenerator.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/EncodeDecodeCompatibilityNullTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/EncodeDecodeCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityNullTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ServerCompatibilityTest_1_6.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/MemberStateImplTest.java
  pom.xml
Labels: Team: Client, Type: Enhancement

#14506 Stop client connect mechanism upon lazy config error
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#14502 Load client config from YAML
  checkstyle/suppressions.xml
  hazelcast-client/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/AbstractQueryCacheConfigBuilderHelper.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/QueryCacheConfigBuilderHelper.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/QueryCacheXmlConfigBuilderHelper.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/QueryCacheYamlConfigBuilderHelper.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/XmlClientConfigBuilder.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/YamlClientConfigBuilder.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/YamlClientDomConfigProcessor.java
  hazelcast-client/src/main/resources/hazelcast-client-default.yaml
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-client/src/main/resources/hazelcast-client-full.yaml
  hazelcast-client/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/AbstractClientConfigImportVariableReplacementTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigImportVariableReplacementTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigImportVariableReplacementTest.java
  hazelcast-client/src/test/resources/hazelcast-client-c1.yaml
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/test/resources/test-hazelcast-client.yaml
Labels: Module: Config, Team: Client, Team: Core, Type: Enhancement

#14455 Add OnJoinPermissionOperation support to member security configuration.
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/OnJoinPermissionOperationName.java
  hazelcast/src/main/java/com/hazelcast/config/SecurityConfig.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicSecurityConfig.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
  hazelcast/src/test/resources/hazelcast-fullconfig.yaml
Labels: Team: Client, Team: Core

#13688 Amend Ringbuffer, ReliableTopic and IQueue documentation
  hazelcast-spring/src/main/resources/hazelcast-spring-3.11.xsd
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConsistencyCheckStrategy.java
  hazelcast/src/main/java/com/hazelcast/config/ListenerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReliableTopicConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WANQueueFullBehavior.java
  hazelcast/src/main/java/com/hazelcast/config/WanAcknowledgeType.java
  hazelcast/src/main/java/com/hazelcast/core/HazelcastInstance.java
  hazelcast/src/main/java/com/hazelcast/core/IQueue.java
  hazelcast/src/main/java/com/hazelcast/core/ITopic.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/OverflowPolicy.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/Ringbuffer.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferContainer.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
  hazelcast/src/main/java/com/hazelcast/topic/ReliableMessageListener.java
  hazelcast/src/main/java/com/hazelcast/topic/TopicOverloadPolicy.java
  hazelcast/src/main/java/com/hazelcast/util/IterationType.java
  hazelcast/src/main/resources/hazelcast-config-3.11.xsd
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
Labels: Module: IQueue, Module: ITopic, Module: Ringbuffer, Source: Internal, Team: Core, Team: Documentation, Type: Enhancement

#14431 Adds dynamic config support for map#preprocessing-policy
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MetadataPolicy.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
Labels: Team: Core, Type: Enhancement

#14495 Remove @Beta annotations from mature structures
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientUserCodeDeploymentConfig.java
  hazelcast/src/main/java/com/hazelcast/cardinality/CardinalityEstimator.java
  hazelcast/src/main/java/com/hazelcast/config/CRDTReplicationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/EventJournalConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MerkleTreeConfig.java
  hazelcast/src/main/java/com/hazelcast/config/PNCounterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReliableTopicConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferConfig.java
  hazelcast/src/main/java/com/hazelcast/config/UserCodeDeploymentConfig.java
  hazelcast/src/main/java/com/hazelcast/core/AsyncAtomicLong.java
  hazelcast/src/main/java/com/hazelcast/core/AsyncAtomicReference.java
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/QueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/spi/MemberAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/spi/StatisticsAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/MutatingOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/QuorumCheckAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/DiscardMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/ExpirationTimeMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/HigherHitsMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/HyperLogLogMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/LatestAccessMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/LatestUpdateMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingCosts.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingCreationTime.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingEntry.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingExpirationTime.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingHits.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingLastAccessTime.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingLastStoredTime.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingLastUpdateTime.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingMaxIdle.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingTTL.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingValue.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingVersion.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/PassThroughMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/PutIfAbsentMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/RingbufferMergeData.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/RingbufferMergeDataReadOnlyIterator.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergePolicy.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergePolicyProvider.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergeTypeProvider.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergeTypes.java
Labels: Team: Core, Type: Defect

#14510 Fix JsonGetterContextCacheTest.testCacheSizeIsLimited
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/JsonGetterContextCacheTest.java
Labels: Team: Core, Type: Test-Failure

#14505 B/W list clients filtering support for MC-IMDG communication
  hazelcast/src/main/java/com/hazelcast/internal/management/ClientBwListConfigHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientBwListDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientBwListEntryDTO.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ClientBwListConfigHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ManagementCenterServiceIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/MancenterMock.java
Labels: Priority: High, Source: Internal, Team: Management Center, Type: Enhancement

#14520 Kill connections upon detecting illegal protocol (multi-endpoint)
  hazelcast/src/main/java/com/hazelcast/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/SingleProtocolDecoder.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkIntegrationTest.java
Labels: Module: Network I/O, Source: Internal, Team: Core

#14518 Fix multi-endpoint text decoder when on root mode
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/MemcacheTextDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/RestApiTextDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/TextChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedMultiendpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterMultiendpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestMultiendpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#14530 Fix race in the client partition service
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
Labels: Team: Client, Type: Defect

#14522 Moves Json metadata initialization to RecordStoreMutationObserver
  hazelcast/src/main/java/com/hazelcast/map/impl/JsonMetadataInitializer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/NoMetadataInitializer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/DataRecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/ObjectRecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataRecordStoreMutationObserver.java
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/AbstractRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/DataRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/ObjectRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/recordstore/LazyEntryViewFromRecordTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Team: Core, Type: Enhancement

#14531 Update default value in CPSubsystemConfig
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast/src/main/java/com/hazelcast/config/cp/CPSubsystemConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicCPSubsystemConfig.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
Labels: Team: Core

#14537 Ignore sendPartitionRuntimeState calls if node is not running
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
Labels: Team: Core, Type: Defect

#14542 Renamed Pipeline to Pipelining
  hazelcast/src/main/java/com/hazelcast/core/Pipelining.java
  hazelcast/src/test/java/com/hazelcast/core/PipeliningTest.java
Labels: Estimation: S, Team: Core

#14555 [3.11] Ignore EXTENDED_BIND messages in 3.11.x series
  hazelcast/src/main/java/com/hazelcast/nio/Packet.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/PacketDispatcher.java
Labels: Team: Core, Type: Enhancement

#14558 Add hazelcast-full-example.yaml
  hazelcast/pom.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
Labels: Module: Config, Team: Core

#14536 Make XMLConfigBuilder.setProperties() public again
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
Labels: Module: Config, Team: Core

#14559 Make XMLConfigBuilder.setProperties() public again
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
Labels: Module: Config, Team: Core

#14463 disabled test_backupOperationAppliesDefaultExpiryPolicy
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
Labels: Team: Core, Type: Test-Failure

#14569 Fix JSON query test failure
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonMixedTypeTest.java
Labels: Module: Query, Team: Core, Type: Test-Failure

#14539 Add Map.delete to remove statistic on client
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDeleteMessageTask.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Team: Client, Type: Defect

#14538 Add Map.delete to remove statistic on client
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDeleteMessageTask.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Backport, Team: Client, Type: Defect

#14570 update schema location versions to 3.12
  hazelcast-client/src/main/resources/hazelcast-client-default.xml
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
Labels: Team: Client, Team: Core, Type: Defect

#14529 Update maven bundle plugin to 2.4.0 and remove leftover snakeyaml dependency
  pom.xml
Labels: Team: Core

#13513 Fix query runner empty/failure results inconsistency
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Result.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#14549 Change RingbufferTest filter to be IdentifiedDataSerializable to be used by non-Java client tests
  hazelcast-client/src/test/java/com/hazelcast/client/ringbuffer/RingbufferTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/IdentifiedDataSerializableFactory.java
  hazelcast/src/test/java/com/hazelcast/client/test/ringbuffer/filter/StartsWithStringFilter.java
Labels: Team: Client, Type: Enhancement

#14526 Strict version checking while applying completed migrations
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PublishCompletedMigrationsOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/AbstractPartitionAssignmentsCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
Labels: Team: Core, Type: Defect

#14575 Check for nulls in YAML configs and report the path
  hazelcast-client/src/main/java/com/hazelcast/client/config/YamlClientConfigBuilder.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/YamlDomChecker.java
  hazelcast/src/main/java/com/hazelcast/config/yaml/YamlOrderedMappingImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/AbstractYamlNode.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlNode.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlUtil.java
  hazelcast/src/test/java/com/hazelcast/config/YamlOnlyConfigBuilderTest.java
Labels: Team: Core

#14582 Fix migration finalization while applying completed migrations
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
Labels: Team: Core, Type: Defect

#14557 Add hazelcast-full-example.yaml
  hazelcast/pom.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
Labels: Module: Config, Team: Core

#14534 CP Subsystem test fixes
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/AbstractProxySessionManager.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockAdvancedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/AbstractProxySessionManagerTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect, Type: Test-Failure

#14579 Allow empty password in cluster.sh and fix it's handling on the REST API side
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/resources/cluster.sh
  hazelcast/src/main/resources/healthcheck.sh
Labels: Team: Core, Type: Defect

#14580 Require jdk8 for yaml test
  hazelcast/src/test/java/com/hazelcast/config/ServiceConfigTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#14578 Apply multiple fixes on CP subsystem
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/MembershipChangeTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect, Type: Test-Failure

#14576 Proper initialization of channel initializer provider
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestAwareClientFactory.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/DefaultChannelInitializerProvider.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/MemberProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpUnifiedEndpointManager.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/TestAwareInstanceFactory.java
Labels: Module: Network I/O, Team: Core, Type: Test-Failure

#14583 Explain better what is returned from Message.getPublishTime
  hazelcast/src/main/java/com/hazelcast/core/Message.java
Labels: Team: Client, Team: Documentation

#14588 Fix serialization of PublishCompletedMigrationsOperation
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PublishCompletedMigrationsOperation.java
Labels: Team: Core, Type: Defect

#14533 Added integration tests for AdvancedNetworkConfig
  hazelcast-client/src/test/java/com/hazelcast/client/connection/nio/AdvancedNetworkingClientCommunicationIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AbstractAdvancedNetworkIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkingCommunicationIntegrationTest.java
Labels: Team: Core

#14581 Clarifies backup behavior of invokeOnPartitions & variants in javadoc
  hazelcast/src/main/java/com/hazelcast/spi/OperationService.java
Labels: Team: Core, Type: Enhancement

#14589 Fixes rendering of ASCII art in FencedLock javadoc
  hazelcast/src/main/java/com/hazelcast/cp/lock/FencedLock.java
Labels: Team: Core

#14593 Improve NOOP endpoint-manager invocation test
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_EndpointManagerTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#14585 Fix invalid json strings causing exceptions
  hazelcast/src/main/java/com/hazelcast/map/impl/JsonMetadataInitializer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataRecordStoreMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Team: Core, Type: Defect

#14592 Fix CP Subsystem discovery assertions
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestCPSubsystemTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#14545 Improve CP Subsystem Javadocs
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast/src/main/java/com/hazelcast/config/cp/CPSemaphoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/cp/CPSubsystemConfig.java
  hazelcast/src/main/java/com/hazelcast/config/cp/RaftAlgorithmConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystemManagementService.java
  hazelcast/src/main/java/com/hazelcast/cp/lock/FencedLock.java
  hazelcast/src/main/java/com/hazelcast/cp/session/CPSession.java
  hazelcast/src/main/java/com/hazelcast/cp/session/CPSessionManagementService.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
Labels: Module: CP Subsystem

#14503 Fix empty and null collection indexing
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ReflectionHelper.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
Labels: Module: IMap, Module: Query, Priority: High, Type: Defect

#14594 Fix file URL in the XML&YAML import tests
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigImportVariableReplacementTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#14596 Raft follower truncates AppendRequestRPC entries to fit its log capacity
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendRequestHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/log/RaftLog.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalRaftTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#14584 Check if exist for new fields on authentication response
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#14598 Improve hiccup resilience of LockMBean remaining lease time test
  hazelcast/src/test/java/com/hazelcast/internal/jmx/LockMBeanTest.java
Labels: Cause: Test - Timing, Module: ILock, Team: Core, Type: Test-Failure

#14604 Fix RaftInvocationManagerQueryTest assertions
  hazelcast/src/test/java/com/hazelcast/cp/internal/RaftInvocationManagerQueryTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure
