Repository hazelcast/hazelcast, pull requests merged in 2019-07, with the labels that each got.

#15219 MapServiceContext cleanup
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/PartitioningStrategyFactoryTest.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#15235 Remove unused constructors
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutBackupOperation.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#15233 Initialize managed context for NamedDecorated tasks
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/NamedTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceProxy.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceTestSupport.java
Labels: Backport, Module: IScheduledExecutor, Team: Core, Type: Defect

#15033 Bump JCache version to 1.1.1
  pom.xml
Labels: Module: ICache, Source: Internal, Team: Core, Type: Enhancement

#15246 Ensure client membership event has been processed before assertions
  hazelcast-client/src/test/java/com/hazelcast/client/io/AdvancedNetworkClientIntegrationTest.java
Labels: Backport, Team: Core, Type: Test-Failure

#15180 Move MerkleTreeConfig inside MapConfig
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/hazelcast-default.properties
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMerkleTreeConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/HotRestartConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/MerkleTreeConfig.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/EmptyConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/MerkleTreeConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Config, Public API/SPI breaking change, Source: Internal, Team: Core, Type: Enhancement

#15012 removing deprecated client config methods
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientAliasedDiscoveryConfigUtils.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientAwsConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigSections.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientNetworkConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientDiscoveryServiceBuilder.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/stress/MapStableReadStressTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/stress/MapUpdateStressTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientConfigAndSpringDefaults.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
Labels: Public API/SPI breaking change, Source: Internal, Team: Client, Type: Cleanup

#15224 Do not store map store instance in MapStoreConfig
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/BasicMapStoreContext.java
  hazelcast/src/test/java/classloading/domain/IntMapLoader.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigAdvancedTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#15236 Add txn specific backup operations
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/BasePutOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/BaseRemoveOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/LegacyMergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/RemoveBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnDeleteBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnDeleteOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnSetBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnSetOperation.java
Labels: Module: IMap, Team: Core, Type: Cleanup

#15253 Fixed flaky entry eviction test (#514)
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#15225 [BACKPORT] Do not store map store instance in MapStoreConfig
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/BasicMapStoreContext.java
  hazelcast/src/test/java/classloading/domain/IntMapLoader.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigAdvancedTest.java
Labels: Backport, Module: IMap, Team: Core

#15156 Add Nullable and Nonnull annotations to IQueue and fix some on IMap
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientListProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientQueueProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientSetProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/txn/ClientTxnQueueProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientListenerService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/SmartClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/queue/ClientQueueNullTest.java
  hazelcast/src/main/java/com/hazelcast/collection/BaseQueue.java
  hazelcast/src/main/java/com/hazelcast/collection/ICollection.java
  hazelcast/src/main/java/com/hazelcast/collection/IQueue.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/AbstractCollectionProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueProxySupport.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/txnqueue/TransactionalQueueProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/EventService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionalQueue.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/AbstractQueueNullTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/MemberQueueNullTest.java
  hazelcast/src/test/java/com/hazelcast/listeners/AddListenerWithNullParameterTests.java
  hazelcast/src/test/java/com/hazelcast/map/AbstractMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/MockIOService.java
Labels: Module: IQueue, Source: Internal, Team: Core, Type: Enhancement

#15185 Move EventJournalConfig inside MapConfig and CacheConfig
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/hazelcast-default.properties
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/journal/RingbufferCacheEventJournalImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddEventJournalConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/EventJournalConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/EmptyConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/journal/RingbufferMapEventJournalImpl.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/AdvancedCacheJournalTest.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/CacheEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/journal/CacheEventJournalBounceTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/EventJournalConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalExpiringTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/AdvancedMapJournalTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/MapEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/MapEventJournalBounceTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Config, Public API/SPI breaking change, Source: Internal, Team: Core, Type: Cleanup

#15283 Remove unused newTransaction method
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionManagerServiceImpl.java
Labels: Team: Core, Type: Cleanup

#15272 Fix compilation on JDK11
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/AbstractQueueNullTest.java
Labels: Team: Core

#15288 Use config from parent for LockBasicTest subclasses
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/unsafe/lock/LockBasicDistributedTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/unsafe/lock/LockBasicLocalTest.java
Labels: Team: Core, Type: Test-Failure

#15260 [BACKPORT 3.12.z] Add HTTPs support to cluster.sh, cp-subsystem.sh and healthcheck.sh bash scripts
  hazelcast/src/main/resources/cluster.sh
  hazelcast/src/main/resources/cp-subsystem.sh
  hazelcast/src/main/resources/healthcheck.sh
Labels: Team: Core

#15240 Add HTTPs support to cluster.sh, healthcheck.sh and cp-subsystem.sh
  hazelcast/src/main/resources/cluster.sh
  hazelcast/src/main/resources/cp-subsystem.sh
  hazelcast/src/main/resources/healthcheck.sh
Labels: Team: Core

#15293 [Backport] Use small instance for LockBasic tests
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockBasicDistributedTest.java
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockBasicLocalTest.java
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockBasicTest.java
Labels: Team: Core, Type: Test-Failure

#15294 Adds invalidation events log to client cache near cache test
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheInvalidationListener.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheInvalidationTest.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/InvalidationMetaDataFetcher.java
Labels: Module: Near Cache, Type: Test-Failure

#15285 Remove deprecated optimizeQueries map config parameter
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: IMap, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15290 Fixes ClientMapStoreTest to obtain MapStore instance from MapContainer
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapStoreTest.java
Labels: Team: Core, Type: Test-Failure

#15300 Makes EntryStore & Loader tests less timing sensitive
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
Labels: Cause: Test - Timing, Module: IMap, Team: Core, Type: Test-Failure

#15289 Fixes ClientMapStoreTest to obtain MapStore instance from MapContainer
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapStoreTest.java
Labels: Team: Core, Type: Test-Failure

#15306 Made ClientMapTest less sensitive to hiccups
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapTest.java
Labels: Cause: Test - Timing, Module: IMap, Team: Client, Team: Core, Type: Test-Failure

#15305 MapEventJournalExpiringTest: fixed map config (#15295)
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalExpiringTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/MapEventJournalExpiringTest.java
Labels: Module: Config, Team: Core, Type: Test-Failure

#15287 Remove deprecated eviction configs
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapStoreTest.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastInstanceDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MapConfigDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdateMapConfigOperation.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/InvalidConfigurationTest.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/map/EventPublishOrderWithEvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionMaxSizePolicyTest.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreEvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreWriteThroughTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexIntegrationTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: IMap, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15333 Move util.function package tests from Jet repository
  hazelcast/src/test/java/com/hazelcast/util/function/ComparatorExTest.java
  hazelcast/src/test/java/com/hazelcast/util/function/FunctionsTestS.java
Labels: Source: Jet

#15220 Add null checks and annotations to IList, ISet, ITopic and MultiMap
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientListProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMultiMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientReliableTopicProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientSetProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientTopicProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/collections/ClientListNullTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/collections/ClientSetNullTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/multimap/ClientMultiMapListenersTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/multimap/ClientMultiMapNullTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/topic/ClientTopicNullTest.java
  hazelcast/src/main/java/com/hazelcast/collection/IList.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/AbstractCollectionProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/multimap/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/ObjectMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/spi/EventService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceSegment.java
  hazelcast/src/main/java/com/hazelcast/topic/ITopic.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicProxy.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicProxySupport.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicService.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TotalOrderedTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicProxy.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/AbstractListNullTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/MemberListNullTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/set/AbstractSetNullTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/set/MemberSetNullTest.java
  hazelcast/src/test/java/com/hazelcast/listeners/AddListenerWithNullParameterTests.java
  hazelcast/src/test/java/com/hazelcast/multimap/AbstractMultiMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MemberMultiMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/MockIOService.java
  hazelcast/src/test/java/com/hazelcast/topic/AbstractTopicNullTest.java
  hazelcast/src/test/java/com/hazelcast/topic/MemberTopicNullTest.java
Labels: Module: IList, Module: ISet, Module: ITopic, Module: MultiMap, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15310 [BACKPORT] Expire IMap key before locking
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/AbstractLockOperation.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/LockBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/LockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/spi/LockInterceptorService.java
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/ExpirationManagerTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/spi/LockInterceptorServiceTest.java
Labels: Backport, Module: IMap, Team: Core

#15308 LockedEntryCount to include locks on non-existing keys
  hazelcast-client/src/test/java/com/hazelcast/client/multimap/ClientMultiMapStatsTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalMapStats.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/LocalMultiMapStatsTest.java
Labels: Module: IMap, Module: MultiMap, Team: Core, Type: Defect

#15324 Make comparators able to act on keys and values
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientPagingPredicateTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Defect

#15342 Optimize shutdown for on-heap indexes
  hazelcast/src/main/java/com/hazelcast/map/impl/MapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#15355 Fixed ambiguous toArray call for JDK11
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/AbstractListNullTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/set/AbstractSetNullTest.java
Labels: Team: Core

#15216 Convert custom query attribute abstract classes to functional interfaces
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DefaultPortableReader.java
  hazelcast/src/main/java/com/hazelcast/query/extractor/ArgumentParser.java
  hazelcast/src/main/java/com/hazelcast/query/extractor/ValueCallback.java
  hazelcast/src/main/java/com/hazelcast/query/extractor/ValueCollector.java
  hazelcast/src/main/java/com/hazelcast/query/extractor/ValueExtractor.java
  hazelcast/src/main/java/com/hazelcast/query/extractor/ValueReader.java
  hazelcast/src/main/java/com/hazelcast/query/impl/DefaultArgumentParser.java
  hazelcast/src/main/java/com/hazelcast/query/impl/DefaultValueCollector.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ExtractorsAndIndexesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/QueryPerformanceBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/predicates/CollectionAllPredicatesExtractorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/predicates/SingleValueAllPredicatesExtractorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/specification/ExtractionWithExtractorsSpecTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/ExtractorHelperTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/ExtractorsTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/NestedPredicateWithExtractorTest.java
  hazelcast/src/test/java/usercodedeployment/CapitalizatingFirstnameExtractor.java
Labels: Module: IMap, Module: Query, Public API/SPI breaking change, Team: Core, Type: Cleanup

#15352 [FORWARD-PORT] Initialize managed context for NamedDecorated tasks (#15233)
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/NamedTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceProxy.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceTestSupport.java
Labels: Module: IScheduledExecutor, Team: Core, Type: Defect

#15354 Make JavaVersion supporting JDK13 & JDK14
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JavaVersionTest.java
Labels: Team: Core, Type: Defect

#15231 Change the `MemberAttributeEvent` to include the list of existing members
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddMembershipListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cluster/MemberAttributeEvent.java
  hazelcast/src/main/java/com/hazelcast/cluster/MembershipEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/MemberAttributeServiceEvent.java
  pom.xml
Labels: Team: Client, Team: Core, Type: Enhancement

#15313 Remove deprecated config parameters from near cache config
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/NearCachedClientCacheProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/main/resources/hazelcast-client-config-4.0.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full-example.xml
  hazelcast-client/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/ClientCacheClearTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/ClientCacheProxyTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheInvalidationTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/InvalidConfigurationClientTest.java
  hazelcast-client/src/test/resources/hazelcast-client-full.xml
  hazelcast-client/src/test/resources/hazelcast-client-full.yaml
  hazelcast-client/src/test/resources/hazelcast-client-test.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/EvictionConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/EvictionChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/EvictionConfiguration.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/BaseHeapNearCacheRecordStore.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/cache/CacheCreationTest.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/CacheCreateUseDestroyTest.java
  hazelcast/src/test/java/com/hazelcast/cache/stats/CacheStatsTest.java
  hazelcast/src/test/java/com/hazelcast/config/CacheSimpleConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/EvictionConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/NearCacheConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/NearCacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/QueryCacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/helpers/CacheConfigHelper.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/EvictionPolicyEvaluatorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTestSupport.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
Labels: Module: Near Cache, Public API/SPI breaking change, Team: Client, Team: Core, Type: Cleanup

#15335 Make Joiner internal
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/Joiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AbstractJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/DiscoveryJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/NodeMulticastListener.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/SplitBrainHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/JoinMastershipClaimOp.java
  hazelcast/src/test/java/com/hazelcast/instance/StaticMemberNodeContext.java
  hazelcast/src/test/java/com/hazelcast/instance/TestNodeContext.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNodeContext.java
Labels: Public API/SPI breaking change, Team: Core, Type: Enhancement

#15361 Ignore HazelcastStarterTest
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/MergePolicyProviderConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastStarterTest.java
Labels: Team: Core, Type: Test-Failure

#15359 [BACKPORT 3.12.z] Fix deserialization filtering for Externalizables and Deadlock in Map index
  hazelcast-client/src/test/java/com/hazelcast/client/serialization/ExternalizableDeserializationProtectionTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Records.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/example/serialization/TestExternalizableDeserialized.java
Labels: Module: Serialization, Team: Core, Type: Defect

#15362 Handle UNKNOWN current runtime version in JavaVersion.isAtLeast
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JavaVersionTest.java
Labels: Team: Core, Type: Defect

#15345 Fix possible NPE during remove-if-same operation
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/RemoveIfSameOperationTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#15344 Fix possible NPE during remove-if-same operation
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStoreMutationObserver.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/RemoveIfSameOperationTest.java
Labels: Module: IMap, Team: Core, Type: Defect

#15291 Add efficient UuidSerializer to the list of ConstantSerializers
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ConstantSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/SerializationTest.java
Labels: Team: Client, Team: Core

#15372 Rewrite JavaVersion
  hazelcast/src/main/java/com/hazelcast/internal/PlatformSpecific.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassloadingMutexProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaMajorVersion.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JavaVersionTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/PaxExamTestRunner.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
Labels: Team: Core, Type: Enhancement

#15153 Improve generics for API with Projection, Predicate and EntryListener
  hazelcast-client/src/main/java/com/hazelcast/client/map/impl/ClientMapQueryPartitionIterator.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/NearCachedClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientPagingPredicateTest.java
  hazelcast/src/main/java/com/hazelcast/map/BaseMap.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/QueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/iterator/AbstractMapQueryPartitionIterator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/iterator/MapQueryPartitionIterator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/query/Predicates.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/ReplicatedMap.java
  hazelcast/src/main/java/com/hazelcast/transaction/TransactionalMap.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryIndexMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryNullIndexingTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheMethodsWithPredicateTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#15330 Remove UnsafeHelper
  hazelcast-spring/pom.xml
  hazelcast/src/main/java/com/hazelcast/nio/UnsafeHelper.java
  hazelcast/src/test/java/com/hazelcast/nio/UnsafeHelperTest.java
Labels: Team: Core, Type: Cleanup

#15379 [FORWARDPORT] Optimize shutdown for on-heap indexes
  hazelcast/src/main/java/com/hazelcast/map/impl/MapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Forwardport, Module: IMap, Module: Query, Team: Core, Type: Perf. Defect

#15387 Fix for ClientCachingProviderTest
  hazelcast/src/test/java/com/hazelcast/cache/CachingProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCachingProviderTest.java
Labels: Team: Client, Type: Test-Failure

#15385 Make multicast tests more robust
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/instance/MulticastLoopbackModeTest.java
Labels: Type: Test-Failure

#15378 Do not acquire lock when registering metrics on the happy path
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
Labels: Source: Jet, Team: Core, Type: Perf. Defect

#15351 Add null checks to Cluster, Ringbuffer, ReplicatedMap
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapNullTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/ringbuffer/ClientRingbufferNullTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientRingbufferProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/cluster/Cluster.java
  hazelcast/src/main/java/com/hazelcast/core/HazelcastInstance.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateManager.java
  hazelcast/src/main/java/com/hazelcast/multimap/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/ObjectMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/ReplicatedMap.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapEventPublishingService.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/Ringbuffer.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferProxy.java
  hazelcast/src/main/java/com/hazelcast/spi/EventService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/topic/ITopic.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicProxy.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/util/executor/StripedExecutor.java
  hazelcast/src/test/java/com/hazelcast/cluster/AbstractClusterNullTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/MemberClusterNullTest.java
  hazelcast/src/test/java/com/hazelcast/listeners/AddListenerWithNullParameterTests.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/MockIOService.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/AbstractReplicatedMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/MemberReplicatedMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/AbstractRingbufferNullTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/MemberRingbufferNullTest.java
Labels: Public API/SPI breaking change, Team: Core, Type: Enhancement

#15191 Coalesced WBQ: do not accidentally remove entries added while StoreWorker is running (#15060)
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/CoalescedWriteBehindQueue.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/CoalescedWriteBehindQueueTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/StoreWorkerConcurrentUpdateTest.java
Labels: Cause: Implementation - Race Condition, Module: IMap, Source: Internal, Team: Core, Type: Defect

#14970 Write through optimization
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/AbstractClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/InboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/OutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipelineTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyDetection.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulator.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/AbstractCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithoutBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplierTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulatorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequenceTest.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Enhancement

#14934 Introduce basis for WAN protocol
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/AuthorizationOp.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/wan/CustomNodeExtensionTestInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/wan/WanRESTTest.java
  hazelcast/src/test/java/com/hazelcast/wan/WanServiceMockingDefaultNodeExtension.java
  hazelcast/src/test/java/com/hazelcast/wan/WanServiceMockingNodeContext.java
Labels: Internal breaking change, Module: WAN, Source: Internal, Team: Core, Type: Enhancement

#15400 Fix NPE in WanConsistencyCheckIgnoredEvent
  hazelcast/src/main/java/com/hazelcast/internal/management/events/AbstractWanAntiEntropyEventBase.java
Labels: Module: WAN, Team: Core, Type: Defect

#15397 Remove deprecated ClearNearCacheOperation
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapClearNearCacheMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearNearCacheOperation.java
Labels: Module: IMap, Team: Core, Type: Cleanup
