Repository hazelcast/hazelcast, pull requests merged in 2019-04, with the labels that each got.

#14806 RestClusterTest hardening
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
Labels: Team: Core, Type: Test-Failure

#14804 Ensure migrations resumed during cluster merge
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Defect

#14803 Ensure migrations resumed during cluster merge
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#14802 Fixes misinterpreting failover request failure
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/FailoverTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/NoSuchMessageTask.java
Labels: Team: Client, Type: Defect

#14810 Fix MembershipUpdateTest.OperationExecuted_beforePreJoinOpIsDone
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Module: Cluster, Team: Core, Type: Test-Failure

#14801 Allow multiple WAN server sockets to be configured with YAML
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-advanced-network-config.yaml
Labels: Module: Config, Team: Core, Type: Defect

#14815 Ignore all Exception types in PhoneHomes (Workaround for Weblogic 12.1 NPE)
  hazelcast/src/main/java/com/hazelcast/util/PhoneHome.java
Labels: Source: Community, Team: Core

#14819 Set owner connection address null when post actions fail
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
Labels: Team: Client, Type: Defect

#14820 Set owner connection address null when post actions fail
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnector.java
Labels: Backport, Team: Client, Type: Defect

#14813 Update Spring dependency to newer 4.3 version
  hazelcast-spring/pom.xml
Labels: Team: Core

#14816 Fix for partition table update on the client
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
Labels: Team: Client, Type: Defect

#14696 Write through optimization
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/properties/ClientProperty.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplierTest.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipelineTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyDetection.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulator.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/AbstractCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithoutBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulatorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequenceTest.java
Labels: Module: Network I/O, Team: Client, Team: Core, Type: Enhancement

#14817 Fix for partition table update on the client
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientPartitionServiceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/partitionservice/ClientPartitionServiceLiteMemberTest.java
Labels: Backport, Team: Client, Type: Defect

#14825 Bump version, fix missing XSDs
  hazelcast-client/src/main/resources/hazelcast-client-failover-config-3.13.xsd
  hazelcast-spring/src/main/resources/META-INF/spring.schemas
  hazelcast/src/main/java/com/hazelcast/internal/cluster/Versions.java
Labels: Team: Client, Team: Core, Type: Enhancement

#14798 Log a warning for illegal reflective access operation in Java9+ OpenJ9
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVm.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ModularJavaUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JavaVmTest.java
Labels: Team: Core, Type: Enhancement

#14823 MetricsRegistry unregister fix.
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Module: Diagnostics, Team: Core, Type: Defect

#14836 Log a warning for illegal reflective access operation in Java9+ OpenJ9
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVm.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ModularJavaUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JavaVmTest.java
Labels: Team: Core, Type: Enhancement

#14837 MetricsRegistry unregister fix.
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Team: Core, Type: Enhancement

#14832 Prevent migration operations running before previous finalization completes
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BeforePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockBasicTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/StaleReadDuringMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/InvocationUtilTest.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#14833 Prevent migration operations running before previous finalization completes
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BeforePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockBasicTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/StaleReadDuringMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/InvocationUtilTest.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Defect

#14834 Prevent migration operations running before previous finalization completes
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BeforePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockBasicTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/StaleReadDuringMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/InvocationUtilTest.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Defect

#14831 Fixed wakeup bug in NioOutboundPipeline
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Module: Network I/O, Team: Core, Type: Critical, Type: Defect

#14840 Fixed wakeup bug in NioOutboundPipeline
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Backport, Module: Network I/O, Team: Core, Type: Defect

#14841 Fixed wakeup bug in NioOutboundPipeline
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Backport, Module: Network I/O, Team: Core, Type: Defect

#14811 Separate statistic for IMap.set(K, V) and IMap.put(K, V) operations
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetWithMaxIdleMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/MapMBean.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/monitor/LocalMapStats.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/LocalMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MapMBeanTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsMultipleNodeTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/LocalMapStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/LocalMultiMapStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/monitor/impl/LocalReplicatedMapStatsImplTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#14842 Let Client handle restarted members with same uuid different address
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Team: Client, Type: Defect

#14843 Let Client handle restarted members with same uuid different address
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Team: Client, Type: Defect

#14844 Let Client handle restarted members with same uuid different address
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Backport, Team: Client, Type: Defect

#14846 Revert write through
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/properties/ClientProperty.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplierTest.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipelineTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyDetection.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulator.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/AbstractCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithoutBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulatorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequenceTest.java
Labels: Module: Network I/O, Team: Core

#14848 Revert write through
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/properties/ClientProperty.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplierTest.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipelineTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyDetection.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulator.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/AbstractCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithoutBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulatorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequenceTest.java
Labels: Backport, Module: Network I/O, Team: Core

#14849 Revert write through
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/ClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/properties/ClientProperty.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientResponseHandlerSupplierTest.java
  hazelcast/src/main/java/com/hazelcast/instance/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipelineTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyDetection.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulator.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/AbstractCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithoutBackpressure.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulatorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/sequence/FailFastCallIdSequenceTest.java
Labels: Module: Network I/O, Team: Core

#14797 Fixes IMap#replace not loading from MapLoader
  hazelcast/src/main/java/com/hazelcast/core/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreTest.java
Labels: Module: IMap, Team: Core, Type: Enhancement

#14822 Update hazelcast-wm dependency to 3.8.3
  hazelcast-all/pom.xml
Labels: Team: Core, Team: Integration, Type: Enhancement

#14828 [BACKPORT-3.12.z] Update hazelcast-wm dependency
  hazelcast-all/pom.xml
Labels: Team: Core, Type: Enhancement

#14850 Cleanup of Maven repositories in root POM file
  pom.xml
Labels: Team: Core, Type: Cleanup

#14782 Fixes issue with OperatingSystemMBeanSupport throwing exception
  hazelcast/src/main/java/com/hazelcast/util/OperatingSystemMXBeanSupport.java
Labels: Priority: Low, Team: Core, Type: Defect

#14857 Updated the config schema references to 3.13
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/main/resources/hazelcast-client-default.xml
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
Labels: Module: Config, Source: Internal, Team: Client, Team: Core

#14858 Sonatype Snapshot Repo should only be used for requesting snapshots
  pom.xml
Labels: Team: Core, Type: Cleanup

#14862 Adds PartitionReplica constructor for HazelcastStarter
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/InternalPartitionImplConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/MemberImplConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/PartitionReplicaConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/PartitionReplicaConstructorTest.java
Labels: Team: Core, Type: Test-Failure

#14821 Ensure cache configuration is fully completed before returning
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/CacheServiceTest.java
Labels: Module: ICache, Team: Core, Type: Defect

#14869 Upgraded metrics to Java 8
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/ClassLoadingMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/FileMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/OperatingSystemMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/RuntimeMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/ThreadMetricSet.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/DoubleGaugeImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/LongGaugeImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ProbeBuilderImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ProbeLevelTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/RenderTest.java
Labels: Team: Core, Team: QuSP, Type: Cleanup

#14870 Upgraded diagnostics module to java 8
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/StoreLatencyPlugin.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFileTest.java
Labels: Team: Core, Team: QuSP, Type: Cleanup

#14876 Upgrade YAML codebase to default java8
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigImportVariableReplacementTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderTest.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/ReflectiveYamlDocumentLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlDocumentLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlUtil.java
  hazelcast/src/test/java/com/hazelcast/config/ServiceConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigWithSystemPropertyTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlOnlyConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/yaml/W3cDomTest.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlTest.java
Labels: Module: Config, Team: Core, Type: Cleanup

#14873 Restored NioNetworking metrics.
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Team: Core, Team: QuSP, Type: Defect

#14884 [BACKPORT] Added getter method for yaml config builder properties
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
Labels: Module: Config, Source: Internal, Source: Jet, Team: Core, Type: Enhancement

#14885 Added getter method for yaml config builder properties
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
Labels: Module: Config, Source: Internal, Source: Jet, Team: Core, Type: Enhancement

#14887 Upgrade java version to 8 in pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-client/pom.xml
  hazelcast-spring/pom.xml
  hazelcast/pom.xml
  pom.xml
Labels: Team: Core, Type: Cleanup, Type: Enhancement

#14880 Bumped version number to 4.0 #14876
  hazelcast-all/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-client/pom.xml
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/main/resources/hazelcast-client-config-4.0.xsd
  hazelcast-client/src/main/resources/hazelcast-client-default.xml
  hazelcast-client/src/main/resources/hazelcast-client-failover-config-4.0.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full.xml
  hazelcast-spring/pom.xml
  hazelcast-spring/src/main/resources/META-INF/spring.schemas
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/Versions.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/java/com/hazelcast/instance/DefaultNodeExtensionTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/CheckDependenciesIT.java
  modulepath-tests/pom.xml
  pom.xml
Labels: Team: Core, Type: Enhancement

#14890 Disable compatibility tests if minor version is 0 (#14876)
  hazelcast/src/test/java/com/hazelcast/test/TestEnvironment.java
Labels: Team: Core, Type: Enhancement

#14877 spi EventService package upgraded to java 8
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceSegment.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/RegistrationOperation.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceTest.java
Labels: Team: Core, Team: QuSP, Type: Cleanup

#14878 Upgraded OperationExecutor to Java 8
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetector.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationLog.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/executionservice/impl/BasicCompletableFutureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/executionservice/impl/DelegateAndSkipOnConcurrentExecutionDecoratorTest.java
Labels: Module: Invocation System, Team: Core, Type: Cleanup, Type: Enhancement

#14899 Update hazelcast-kubernetes dependency to 1.5
  hazelcast-all/pom.xml
Labels: Team: Core, Type: Enhancement

#14898 Update hazelcast-kubernetes dependency to 1.5
  hazelcast-all/pom.xml
Labels: Team: Core, Type: Enhancement

#14874 [BACKPORT] Restored NioNetworking metrics
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
Labels: Team: Core, Team: QuSP, Type: Defect

#14889 Updated partition package to Java 8 and removed 3.11 RU paths
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/ClassLoadingMetricSet.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/NonFragmentedServiceNamespace.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionReplica.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionRuntimeState.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ReplicaFragmentMigrationState.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationPlanner.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationQueue.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaVersions.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateGeneratorImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PublishPartitionRuntimeStateTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPartitionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BeforePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizePromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/HasOngoingMigration.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionBackupReplicaAntiEntropyOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncResponse.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRetryResponse.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PublishCompletedMigrationsOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitServiceTest.java
Labels: Breaking change, Module: Partitioning, Team: Core, Type: Cleanup

#14905 Restart members in parallel and do cluster.shutdown() for hotrestart
  hazelcast-client/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Team: Client, Type: Test-Failure

#14906 Restart members in parallel and do cluster.shutdown() for hotrestart
  hazelcast-client/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Backport, Team: Client, Type: Test-Failure

#13278 test for https://github.com/hazelcast/hazelcast/issues/13272
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/ExpirationManagerTimeoutTest.java
Labels: Module: IMap, Source: Community, Team: Core

#14894 Updated cluster package to Java 8 and removed 3.11 RU paths
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/fd/DeadlineClusterFailureDetector.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/fd/PhiAccrualClusterFailureDetector.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/fd/PhiAccrualFailureDetector.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/fd/PingFailureDetector.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AbstractJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/BindMessage.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterHeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterMergeTask.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ConfigCheck.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/DiscoveryJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ExtendedBindMessage.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/JoinMessage.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/JoinRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberMap.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberSelectingCollection.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembersView.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/NodeMulticastListener.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/SplitBrainJoinMessage.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/CommitClusterStateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FinalizeJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/HeartbeatOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/JoinRequestOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/LockClusterStateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MasterResponseOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MembersUpdateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MergeClustersOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/RollbackClusterStateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/ShutdownNodeOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/SplitBrainMergeValidationOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/WhoisMasterOp.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
  hazelcast/src/test/java/com/hazelcast/cluster/ConfigCheckTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_NetworkSplitTest.java
Labels: Internal breaking change, Module: Cluster, Team: Core, Type: Cleanup

#14910 Remove Versioned tag from classes in cluster/partition packages
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembersView.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/SplitBrainJoinMessage.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FinalizeJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/HeartbeatOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/LockClusterStateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MembersUpdateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionRuntimeState.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionBackupReplicaAntiEntropyOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncResponse.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRetryResponse.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PublishCompletedMigrationsOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
Labels: Internal breaking change, Module: Cluster, Module: Partitioning, Team: Core, Type: Cleanup

#14897 Removed 3.11 RU compatibility guards in CP subsystem
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/ClientCPSubsystemRollingUpgrade_3_11_Test.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPSubsystemRollingUpgrade_3_11_Test.java
Labels: Module: CP Subsystem, Team: Core, Type: Cleanup

#14915 Restores public visibility of INITIAL_METADATA_GROUP_ID
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
Labels: Team: Core, Type: Defect

#14908 Removes RU code paths from cache package
  hazelcast/src/main/java/com/hazelcast/cache/BuiltInCacheMergePolicies.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractHazelcastCacheManager.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/PreJoinCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/eviction/CacheClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/merge/entry/DefaultCacheEntryView.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheMergeOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CachePutAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CachePutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/record/AbstractCacheRecord.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/record/CacheDataRecord.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/record/CacheObjectRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/internal/management/request/GetCacheEntryRequest.java
Labels: Internal breaking change, Module: ICache, Team: Core, Type: Cleanup

#14911 Update WAN to JDK8, remove RU code and improve serialization
  hazelcast/src/main/java/com/hazelcast/config/WanConsumerConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanReplicationConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/AddWanConfigLegacyOperation.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanDataSerializerHook.java
Labels: Internal breaking change, Module: WAN, Team: Core, Type: Cleanup

#14867 Expire IMap key before locking
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/AbstractLockOperation.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/LockBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/operations/LockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/spi/LockInterceptorService.java
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/ExpirationManagerTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/spi/LockInterceptorServiceTest.java
Labels: Module: IMap, Team: Core

#14922 Optimise WAN objects serialized format and remove compatibility hacks
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/DeleteOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/RemoveOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationRemove.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapReplicationUpdate.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapEntryView.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanDataSerializerHook.java
Labels: Internal breaking change, Module: WAN, Team: Core, Type: Enhancement

#14917 Remove Base64 class imported from Xerces and use JDK builtin class
  hazelcast/src/main/java/com/hazelcast/config/replacer/AbstractPbeReplacer.java
  hazelcast/src/main/java/com/hazelcast/config/replacer/EncryptionReplacer.java
  hazelcast/src/main/java/com/hazelcast/util/Base64.java
Labels: Team: Core, Type: Cleanup

#14886 Remove ListenerRegistrationHelper, cacheId is sufficient as a unique …
  hazelcast-client/src/main/java/com/hazelcast/client/impl/querycache/subscriber/ClientQueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/ListenerRegistrationHelper.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/EventPublisherAccumulatorProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NodeQueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheEndToEndProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/DestroyQueryCacheOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/ListenerRegistrationHelperTest.java
Labels: Internal breaking change, Team: Core, Type: Cleanup

#14929 Remove deprecated SharedService
  hazelcast/src/main/java/com/hazelcast/concurrent/lock/LockService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapManagedService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapContainer.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/spi/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/SharedService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/ServiceManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
  hazelcast/src/test/java/com/hazelcast/spi/LockInterceptorServiceTest.java
  hazelcast/src/test/java/com/hazelcast/spi/NodeEngineTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImplTest.java
Labels: Team: Core, Type: Cleanup

#14923 Make AssertTask an interface
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/ScheduledExecutorServiceTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/AssertTask.java
Labels: Team: Core, Type: Enhancement

#14928 Include complete commitId in BuildInfo
  hazelcast/src/main/java/com/hazelcast/instance/BuildInfo.java
  hazelcast/src/main/java/com/hazelcast/instance/BuildInfoProvider.java
  hazelcast/src/main/template/com/hazelcast/instance/GeneratedBuildProperties.java
  hazelcast/src/test/java/com/hazelcast/instance/BuildInfoProviderTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl_AbstractTest.java
Labels: Team: Core, Type: Test-Failure

#14925 Introduces PartitionIdSet a special purpose set for partition IDs
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheProxyBase.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapQueryMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteOnKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/AccumulationExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/AggregationResult.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/AggregationResultProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/CallerRunsAccumulationExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/ParallelAccumulationExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/ParallelPartitionScanExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResult.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultSizeLimiter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Result.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/ResultProcessor.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/util/BitSetUtils.java
  hazelcast/src/main/java/com/hazelcast/util/SetUtil.java
  hazelcast/src/main/java/com/hazelcast/util/collection/ImmutablePartitionIdSet.java
  hazelcast/src/main/java/com/hazelcast/util/collection/PartitionIdSet.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ParallelPartitionScanExecutorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryResultSizeLimiterTest.java
  hazelcast/src/test/java/com/hazelcast/util/BitSetUtilsTest.java
  hazelcast/src/test/java/com/hazelcast/util/collection/ImmutablePartitionIdSetTest.java
  hazelcast/src/test/java/com/hazelcast/util/collection/PartitionIdSetTest.java
Labels: Team: Core, Type: Enhancement

#14927 Remove obsolete RU controls from map package
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AbstractMultipleEntryBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/BaseRemoveOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/DeleteOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/KeyBasedMapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordInfo.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Module: IMap, Team: Core, Type: Cleanup, Type: Enhancement

#14938 Fix query result partition set combining
  hazelcast/src/main/java/com/hazelcast/map/impl/query/AggregationResult.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResult.java
Labels: Team: Core, Type: Test-Failure

#14942 Increased assert timeout for lock lease test
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockBasicTest.java
Labels: Module: ILock, Team: Core, Type: Test-Failure

#14943 [Backport] Increased assert timeout for lock lease test
  hazelcast/src/test/java/com/hazelcast/concurrent/lock/LockBasicTest.java
Labels: Module: ILock, Team: Core, Type: Test-Failure

#14944 Config format: better support for whitespace in enumerations
  hazelcast-client/src/main/resources/hazelcast-client-config-4.0.xsd
  hazelcast-client/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/InvalidConfigurationClientTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlOnlyConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Module: Config, Public API/SPI breaking change, Team: Core, Type: Defect

#14951 Shutdown memcached client to prevent reconnect
  hazelcast/src/test/java/com/hazelcast/internal/ascii/InvalidEndpointTest.java
Labels: Team: Core, Type: Test-Failure

#14952 [Backport] Shutdown memcached client to prevent reconnect
  hazelcast/src/test/java/com/hazelcast/internal/ascii/InvalidEndpointTest.java
Labels: Team: Core, Type: Test-Failure
