Repository hazelcast/hazelcast, pull requests merged in 2020-04, with the labels that each got.

#16831 Fix class definitions registration with same class id
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ExplicitClassDefinitionRegistrationTest.java
Labels: Team: Client, Team: Core, Type: Defect

#16833 Fix class definitions registration with same class id
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ExplicitClassDefinitionRegistrationTest.java
Labels: Backport, Team: Client, Team: Core, Type: Defect

#16832 Fix class definitions registration with same class id
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ExplicitClassDefinitionRegistrationTest.java
Labels: Backport, Team: Client, Team: Core, Type: Defect

#16840 TcpIpAcceptor make connection logic cleanup
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpAcceptor.java
Labels: Module: Network I/O, Type: Cleanup

#16842 Don't retry member based invocations if TargetNotMember
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterTest.java
Labels: Team: Client, Type: Defect

#16841 Don't retry member based invocations if TargetNotMember
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterTest.java
Labels: Backport, Team: Client, Type: Defect

#16843 Don't retry member based invocations if TargetNotMember
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterTest.java
Labels: Backport, Team: Client, Type: Defect

#16815 Update README.md
  README.md
Labels: Type: Enhancement

#16856 Fixed MapPutAllMessageTask long line checkstyle problem
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutAllMessageTask.java
Labels: Type: Cleanup

#16777 Added the "Connection.writeOrdered" method
  hazelcast/src/main/java/com/hazelcast/internal/nio/Connection.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Enhancement

#16853 Add missing probes required for removal of PartitionServiceBeanDTO
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
Labels: Module: Diagnostics, Module: Metrics, Source: Internal, Team: Management Center, Type: Enhancement

#16858 [BACKPORT] Add missing probes required for removal of PartitionServiceBeanDTO
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
Labels: Backport, Module: Diagnostics, Module: Metrics, Source: Internal, Team: Management Center, Type: Enhancement

#16865 Open trace level logging
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/services/DistributedObjectNamespace.java
  hazelcast/src/test/java/com/hazelcast/map/merge/MapSplitBrainStressTest.java
  hazelcast/src/test/resources/log4j2-trace.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#16862 Add intended usage note to deleteAll()
  hazelcast/src/main/java/com/hazelcast/map/MapStore.java
Labels: Source: Community, Team: Core, Team: Documentation, Type: Enhancement

#16861 add reference to reliable topic listener to javadoc
  hazelcast/src/main/java/com/hazelcast/topic/ITopic.java
Labels: Source: Community, Team: Core, Team: Documentation, Type: Enhancement

#16867 Fix Sonar build
  pom.xml
Labels: Source: Internal, Type: Defect

#16873 Don't exclude buildutils JavaDoc in release profile
  pom.xml
Labels: wip

#16872 Remove assert and log instead
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/test/java/com/hazelcast/map/merge/MapSplitBrainStressTest.java
  hazelcast/src/test/resources/log4j2-trace-map-split-brain-stress.xml
Labels: Module: Partitioning, Team: Core

#16871 Remove assert and log instead
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/services/DistributedObjectNamespace.java
  hazelcast/src/main/java/com/hazelcast/map/MapStore.java
  hazelcast/src/test/java/com/hazelcast/map/merge/MapSplitBrainStressTest.java
  hazelcast/src/test/resources/log4j2-trace-map-split-brain-stress.xml
Labels: Module: IMap, Module: Partitioning, Team: Core

#16880 Shutdown executor in finally
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheCacheOnUpdateTest.java
Labels: Module: ICache, Module: Near Cache, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#16878 Shutdown executor in finally
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheCacheOnUpdateTest.java
Labels: Module: ICache, Module: Near Cache, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#16851 Avoid round-tripping URLs through URI instances
  hazelcast/src/main/java/com/hazelcast/internal/util/ServiceLoader.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
Labels: Source: Community, Team: Core, Type: Enhancement

#16886 Ensure ClientConfigs in ClientFailoverConfig has non-OFF ReconnectMode
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientFailoverConfigTest.java
Labels: Team: Client, Type: Enhancement

#16882 Further networking cleanup
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/Networking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/AbstractChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/server/AggregateServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/NetworkStats.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/ClientViewUnifiedEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/DefaultAggregateConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberViewUnifiedServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/ServerSocketRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TextViewUnifiedServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedAggregateConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/instance/FirewallingNodeContext.java
  hazelcast/src/test/java/com/hazelcast/instance/StaticMemberNodeContext.java
  hazelcast/src/test/java/com/hazelcast/instance/TestNodeContext.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/AbstractOutOfMemoryHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/AbstractChannelTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkStatsIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/FirewallingServer.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ServerConnectionManagerTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNodeContext.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServer.java
  hazelcast/src/test/java/com/hazelcast/wan/WanServiceMockingNodeContext.java
Labels: Module: Network I/O, Source: Internal, Type: Cleanup

#16885 Removed ChannelInitializerProvider
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/ChannelInitializerProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/DefaultChannelInitializerProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedServerConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#16889 Renamed IOService to ServerContext
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/ServerSocketHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/RestApiTextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/Server.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/AbstractChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/ClientChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/DefaultChannelInitializerProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SendMemberHandshakeTask.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionErrorHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnector.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedServerConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/AbstractOutOfMemoryHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/SelectNow_NioNetworkingFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/SelectWithSelectorFix_NioNetworkingFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/Select_NioNetworkingFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/server/FirewallingServer.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/internal/server/NetworkingFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager_AbstractConnectMemberTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager_TransmitTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractBasicTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerContextTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNodeContext.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServer.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#16892 Fixes test failures caused by ClientFailoverConfig changes
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientFailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/helpers/DeclarativeConfigFileHelper.java
  hazelcast/src/test/resources/hazelcast-client-c1.xml
  hazelcast/src/test/resources/hazelcast-client-c1.yaml
Labels: Team: Client, Type: Defect

#16794 Do attribute canonicalization in QueryContext.getIndex
  hazelcast/src/main/java/com/hazelcast/query/impl/Index.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryContext.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryBasicTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/AttributeCanonicalizationTest.java
Labels: Module: IMap, Module: Query, Source: Internal, Team: Core

#16877 Added support for Map.forEach() #14913
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/KeyValueConsumingEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/testsubjects/StaticSerializableBiConsumer.java
Labels: Module: IMap, Source: Community, Team: Core, Type: Enhancement

#16874 [FORWARD PORT] Don't exclude buildutils JavaDoc in release profile
  pom.xml
Labels: Forwardport, Source: Internal, Type: Defect

#16897 Map/Cache/MultiMap should return Int.MAX when size overflows int32
  hazelcast/src/main/java/com/hazelcast/cache/ICache.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/multimap/MultiMapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/core/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/util/MapUtil.java
  hazelcast/src/test/java/com/hazelcast/util/MapUtilTest.java
Labels: Backport, Module: ICache, Module: IMap, Module: MultiMap, Team: Core, Type: Defect

#16864 Add public API to load configuration files
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientFailoverConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastInstanceFactoryTest.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Enhancement

#16900 Backport of #16864
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigResolutionTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientFailoverConfigResolutionTest.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/instance/HazelcastInstanceFactoryTest.java
Labels: Backport, Module: Config, Source: Internal, Team: Client, Team: Core, Type: Enhancement

#16875 [BACKPORT] Don't exclude buildutils JavaDoc in release profile
  pom.xml
Labels: Backport, Source: Internal, Type: Defect

#16903 Backport of #16864
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientFailoverConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastInstanceFactoryTest.java
Labels: Backport, Module: Config, Source: Internal, Team: Client, Team: Core, Type: Enhancement

#16888 Utilize existing StandardCharsets.UTF-8 instead of hardcoded values or home-made constants
  hazelcast/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/StringCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast/src/main/java/com/hazelcast/config/replacer/AbstractPbeReplacer.java
  hazelcast/src/main/java/com/hazelcast/config/replacer/EncryptionReplacer.java
  hazelcast/src/main/java/com/hazelcast/console/DefaultLineReader.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFile.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Bits.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DataInputNavigableJsonAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ObjectDataInputStream.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ObjectDataOutputStream.java
  hazelcast/src/main/java/com/hazelcast/internal/util/MD5Util.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ServiceLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/main/java/com/hazelcast/osgi/impl/OSGiScriptEngineManager.java
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleAppTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/console/ConsoleAppTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataInputNavigableJsonAdapterTest.java
Labels: Source: Internal, Team: Core, Type: Cleanup

#16901 Allow proper config file resolution in demo Console Apps
  hazelcast/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/console/ConsoleApp.java
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleTest.java
  hazelcast/src/test/java/com/hazelcast/console/ConsoleTest.java
Labels: Team: Core, Type: Cleanup

#16908 Remove DTOs for JMX beans from TimedMemberState
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactoryHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ConnectionManagerDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/EventServiceDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/MXBeansDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ManagedExecutorDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/OperationServiceDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/PartitionServiceBeanDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ProxyServiceDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/MemberState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/MemberStateImpl.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/PartitionServiceBeanDTOTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/MemberStateImplTest.java
Labels: Team: Management Center, Type: Cleanup

#16869 Allow longer metric words, fail-fast if exceeded
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LongWordException.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsDictionary.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ManagementCenterPublisher.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsCompressorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsDictionaryTest.java
Labels: Module: Metrics, Source: Internal, Source: Jet, Team: Core, Type: Defect

#16884 Compatibility test framework updates
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/CompatibilityTestUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastProxyFactory.java
  hazelcast/src/test/java/com/hazelcast/test/starter/ProxyInvocationHandler.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/AbstractAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/DelegatingAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/NodeAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/NodeEngineAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/RaftInvocationManagerAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/ServerAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/ServiceAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractStarterObjectConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/DelegatingCompletableFutureConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/DelegatingObjectConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/EndpointQualifierConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/HazelcastJsonValueConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/RaftGroupIdConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/DelegatingCompletableFutureConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/HazelcastJsonValueConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/RaftGroupIdConstructorTest.java
  pom.xml
Labels: Module: Rolling Upgrade, Source: Internal, Team: Core, Type: Defect

#16914 Remove hazelcast-aws test dependency
  hazelcast/pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#16916 Fix leaking client in ClientConsoleTest
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleTest.java
Labels: Team: Core, Type: Test-Failure

#16698 Initial commit to add MultiMap bulk put feature request (#9079)
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MultiMapPutAllCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListDataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/multimap/MultiMapPutAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/util/Preconditions.java
  hazelcast/src/main/java/com/hazelcast/multimap/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/operations/MultiMapPutAllOperationFactory.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/operations/PutAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/operations/PutAllOperation.java
  hazelcast/src/test/java/com/hazelcast/client/multimap/ClientMultiMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/client/multimap/ClientMultiMapTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/multimap/LocalMultiMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapBackupTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapContainerStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapTest.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
Labels: Module: MultiMap, Source: Community, Team: Core, Type: Enhancement

#16894 SQL project and filter operators
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/AbstractFilterExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/FilterExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/ProjectExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ColumnExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/Expression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContext.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/FilterPlanNode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/PlanNodeVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/ProjectPlanNode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/worker/QueryFragmentContext.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/AbstractExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/FilterExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/ProjectExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/root/RootExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/ColumnExpressionTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/ConstantPredicateExpression.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/FunctionalPredicateExpression.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/SimpleExpressionEvalContext.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/FilterPlanNodeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/ProjectPlanNodeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/TestPlanNodeVisitorAdapter.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#16913 Fixes around SQL temporal conversions
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractTemporalConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/CalendarConverter.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/test/java/usercodedeployment/CapitalizingFirstNameExtractor.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Defect

#16917 Do not assume resolved cache config in pre-join op
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTypesConfigTest.java
Labels: Module: ICache, Source: Internal, Team: Core, Type: Defect

#16918 [BACKPORT] Do not assume resolved cache config in pre-join op
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTypesConfigTest.java
Labels: Backport, Module: ICache, Source: Internal, Team: Core, Type: Defect

#16923 Fix max latency probe names for ReplicatedMap
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImpl.java
Labels: Module: Metrics, Module: ReplicatedMap, Source: Internal, Type: Defect

#16907 SQL IMap scan operator
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlErrorCode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/NodeServiceProvider.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/NodeServiceProviderImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryException.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/AbstractMapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanRow.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/AbstractGenericExtractor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericFieldExtractor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericQueryTarget.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericQueryTargetDescriptor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericTargetAccessor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericTargetExtractor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryExtractor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryPath.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryTarget.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryTargetDescriptor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryOperationHandlerImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/AbstractMapScanPlanNode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/MapScanPlanNode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/PlanNodeVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataType.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/MapScanExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/extract/GenericQueryTargetTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/extract/QueryPathTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationChannelTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/MapScanPlanNodeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/TestPlanNodeVisitorAdapter.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#16921 SQL module
  hazelcast-all/pom.xml
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/resources/com.hazelcast.org.codehaus.commons.compiler.properties
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/OptimizerInstantiationTest.java
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/NoOpSqlOptimizer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/SqlOptimizer.java
  hazelcast/src/main/resources/readme.html
  pom.xml
  src/main/assembly/assembly.xml
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#16919 [BACKPORT] Do not assume resolved cache config in pre-join op
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTypesConfigTest.java
Labels: Backport, Module: ICache, Source: Internal, Team: Core, Type: Defect

#16926 Fixed SQL conversions for java.util.Date and java.time.Instant
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractTemporalConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/DateConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/InstantConverter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/converter/ConvertersTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#16910 Adv netw addressmap clientside
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/EndpointQualifierCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/MemberInfoCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/ProtocolTypeCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/MemberImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/ProtocolType.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
  hazelcast/src/test/java/com/hazelcast/client/io/AdvancedNetworkClientIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
Labels: Module: Cluster, Source: Internal, Team: Client, Type: Defect
