Repository hazelcast/hazelcast, pull requests merged in 2020-10, with the labels that each got.

#17647 Fixes race in AbstractInvocationFuture#exceptionally
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DelegatingCompletableFuture.java
Labels: Team: Core, Type: Defect, Type: Test-Failure

#17638 Calculate the new partition state stamp after applying partition table update
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/ClusterVersionInitTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/NoMigrationClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/PromoteLiteMemberTest.java
Labels: Module: Partitioning, Source: Internal, Team: Core, Type: Defect

#17657 [BACKPORT] Fixes race in AbstractInvocationFuture#exceptionally
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DelegatingCompletableFuture.java
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#17628 Outbound responses are spread over connections
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundResponseHandler.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OutboundResponseHandlerTest.java
Labels: Module: Invocation System, Source: Internal, Team: Core, Type: Perf. Defect

#17656 Backport multiple fixes to visa branch
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/CPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/NopCPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/RaftState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/PreVoteTimeoutTask.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect

#17667 Release notes
  hazelcast/src/main/resources/release_notes.txt
Labels: Source: Internal, Team: Documentation, Type: Enhancement

#17668 Release notes
  hazelcast/src/main/resources/release_notes.txt
Labels: Source: Internal, Team: Documentation, Type: Enhancement

#17663 Fix ClientReliableTopicOnClusterRestartTest
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicOnClusterRestartTest.java
Labels: Module: ITopic, Module: Ringbuffer, Source: Internal, Team: Client, Type: Test-Failure

#17646 Refactoring client deregister listener behaviour
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Team: Client, Type: Defect

#17648 Refactoring client deregister listener behaviour
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/listener/AbstractClientListenerService.java
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Team: Client, Type: Defect

#17649 Refactoring client deregister listener behaviour
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Team: Client, Type: Defect

#17659 SQL scan operator design document
  docs/design/sql/10-distributed-scan.md
Labels: Module: SQL, Source: Internal, Team: Core, Type: Documentation

#17615 Try load custom exceptions via class loader on client
  hazelcast/src/main/java/com/hazelcast/client/UndefinedErrorCodeException.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodesTest.java
  hazelcast/src/test/java/usercodedeployment/CustomExceptions.java
Labels: Source: Internal, Team: Client, Type: Defect

#17632 Reset missing members map during split-brain merge
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#17641 Support update on cleared bitmap indexes
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/bitmap/BitmapAlgorithms.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/SingleValueBitmapIndexTest.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Defect

#17634 Reset missing members map during split-brain merge
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect

#17633 Reset missing members map during split-brain merge
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect

#17559 State tracking for configuration overrides
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/AbstractQueryCacheConfigBuilderHelper.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ConfigNode.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ConfigNodeStateTracker.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ConfigOverrideElementAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ExternalConfigurationOverride.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ConfigNodeStateTrackerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/PropertiesToNodeConverterTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Enhancement

#17619 Try load custom exceptions via class loader on client
  hazelcast-client/src/main/java/com/hazelcast/client/UndefinedErrorCodeException.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/atomiclong/ClientAtomicLongTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodesTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodes.java
  hazelcast/src/main/java/com/hazelcast/util/ExceptionUtil.java
  hazelcast/src/test/java/custom/CustomRuntimeException.java
  hazelcast/src/test/java/usercodedeployment/CustomExceptions.java
Labels: Source: Internal, Team: Client, Type: Defect

#17629 Update TTL with offloadable EP
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LockAwareLazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#17671 Fix race in NodeId innitialization in FlakeId proxy
  hazelcast/src/main/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorProxy.java
  hazelcast/src/test/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorProxyTest.java
Labels: Even Jaromir can do that, Module: FlakeIDGenerator, Source: Internal, Team: Core, Type: Defect

#17679 Update partition stamp after manually incrementing partition version
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#17686 Updating generated codecs
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/TopicPublishAllCodec.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
Labels: Team: Client, Type: Defect

#17556 Try load custom exceptions via class loader on client
  hazelcast/src/main/java/com/hazelcast/client/UndefinedErrorCodeException.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodesTest.java
  hazelcast/src/test/java/testsubjects/CustomExceptions.java
Labels: Source: Internal, Team: Client, Type: Defect

#17664 Caller Stack Trace for OperationTimeout and Cancellation Excep
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#17660 Caller Stack Trace for OperationTimeout and CancellationException
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#17687 Use shutdownAll instead of terminate in CacheStatsTest
  hazelcast/src/test/java/com/hazelcast/cache/stats/CacheStatsTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#17676 Send -1 instead Long.Max for leasetime by default
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapLockTest.java
Labels: Source: Internal, Team: Client, Type: Defect

#17677 Send -1 instead Long.Max for leasetime by default
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapLockTest.java
Labels: Source: Internal, Team: Client, Type: Defect

#17680 Send -1 instead Long.Max for leasetime by default
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/ClientMapLockTest.java
Labels: Source: Internal, Team: Client, Type: Defect

#17639 Correctly decrement the permits in the session during `drainPermits` call
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreProxy.java
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreClientBasicTest.java
Labels: Module: CP Subsystem, Source: Internal, Team: Client, Team: Core, Type: Defect

#17674 [Backport] https://github.com/hazelcast/hazelcast/pull/17639 Correctly decrement the permits in the session during `drainPermits` call
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreProxy.java
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreClientBasicTest.java
Labels: Source: Internal, Type: Defect

#17688 Make IndexStatsChangingNumberOfMembersTest more reliable
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/test/java/com/hazelcast/map/IndexStatsChangingNumberOfMembersTest.java
Labels: Module: Query, Module: SQL, Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#17630 Fix shade warnings
  hazelcast-all/pom.xml
  hazelcast-sql/pom.xml
  hazelcast/pom.xml
Labels: Source: Internal, Type: Enhancement

#17682 Check duplicate fields when building class definition
  hazelcast/src/main/java/com/hazelcast/nio/serialization/ClassDefinitionBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/ClassAndFieldDefinitionTest.java
Labels: Module: Serialization, Source: Internal, Source: Jet, Team: Client, Team: Core, Type: Enhancement

#17683 Check duplicate fields when building class definition
  hazelcast/src/main/java/com/hazelcast/nio/serialization/ClassDefinitionBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ClassAndFieldDefinitionTest.java
Labels: Module: Serialization, Source: Internal, Source: Jet, Team: Client, Team: Core, Type: Enhancement

#17684 Check duplicate fields when building class definition
  hazelcast/src/main/java/com/hazelcast/nio/serialization/ClassDefinitionBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ClassAndFieldDefinitionTest.java
Labels: Module: Serialization, Source: Internal, Source: Jet, Team: Client, Team: Core, Type: Enhancement

#17640 Add expressions design document
  docs/design/sql/08-expressions.md
Labels: Module: SQL, Source: Internal, Team: Core, Type: Documentation

#17651 SQL optimizer design document
  docs/design/sql/09-optimizer.md
Labels: Module: SQL, Source: Internal, Team: Core, Type: Documentation

#17689 Get rid of the SLF4J warnings when running SQL queries
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/org/slf4j/impl/StaticLoggerBinder.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17694 Fix NPE in the SQL client when null column value is passed
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlBasicTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecuteCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlFetchCodec.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17669 Derive sum & avg result types
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeSystem.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeSystemTest.java
Labels: Module: SQL, Source: Internal, Source: Jet, Team: Core, Type: Enhancement

#17697 Release acquired FencedLock sessions before throwing
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/proxy/AbstractFencedLockProxy.java
Labels: Module: CP Subsystem, Module: Lock, Source: Internal, Team: Client, Team: Core, Type: Defect

#17665 Improve robustness of Diagnostics log writer and some plugins.
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFile.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogWriterImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogger.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsStdout.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/OperationThreadSamplerPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/StoreLatencyPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/SystemLogPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ItemCounter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/concurrent/ConcurrentItemCounter.java
Labels: Module: Diagnostics, Source: Internal, Team: Core, Type: Enhancement

#17699 Add getAndDecrement method to IAtomicLong
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/atomiclong/AtomicLongProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/IAtomicLong.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/proxy/AtomicLongProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/LongRegisterProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/ClientLongRegisterProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/codec/LongRegisterAddAndGetCodec.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/codec/LongRegisterDecrementAndGetCodec.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/codec/LongRegisterGetAndAddCodec.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/codec/LongRegisterGetAndIncrementCodec.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/codec/LongRegisterGetAndSetCodec.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/codec/LongRegisterGetCodec.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/codec/LongRegisterIncrementAndGetCodec.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/codec/LongRegisterSetCodec.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/task/LongRegisterDecrementAndGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/task/LongRegisterGetAndIncrementMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/task/LongRegisterGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/longregister/client/task/LongRegisterIncrementAndGetMessageTask.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomiclong/AbstractAtomicLongBasicTest.java
  hazelcast/src/test/java/com/hazelcast/internal/longregister/LongRegisterAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/internal/longregister/client/ClientLongRegisterTest.java
Labels: Module: CP Subsystem, Module: IAtomicLong, Source: Internal, Team: Client, Team: Core, Type: Enhancement

#17700 [BACKPORT-4.0.z] - Release acquired FencedLock sessions before throwing
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/proxy/AbstractFencedLockProxy.java
Labels: Backport, Module: CP Subsystem, Module: Lock, Source: Internal, Team: Client, Team: Core, Type: Defect

#17701 [BACKPORT-3.12.z] - Release acquired FencedLock sessions before throwing
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/proxy/AbstractRaftFencedLockProxy.java
Labels: Backport, Module: CP Subsystem, Module: Lock, Source: Internal, Team: Client, Team: Core, Type: Defect

#17644 Fixed a data loss issue on lite member promotion
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/PromoteLiteMemberTest.java
Labels: Estimation: S, Module: Cluster, Priority: Medium, Source: Internal, Team: Core, Type: Defect

#17662 Fix LinearizableQueryTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LinearizableQueryTest.java
Labels: Backport, Module: CP Subsystem, Source: Internal, Team: Core, Type: Test-Failure

#17661 Fix LinearizableQueryTest
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LinearizableQueryTest.java
Labels: Module: CP Subsystem, Source: Internal, Team: Core, Type: Test-Failure

#17642 Add support for JAAS logout on member side
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
Labels: Module: Security, Source: Internal, Team: Core

#17691 Merge ClientExceptions and ClientExceptionFactory
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodesTest.java
Labels: Team: Client, Type: Defect

#17712 SQL: Do not clear query handles during split brain recovery
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlInternalService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryOperationHandlerImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateRegistry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateRegistryUpdater.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationChannelTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/state/QueryStateRegistryTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17720 Stamp assertion guarded by a cluster version
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
Labels: Even Jaromir can do that, Module: Partitioning, Source: Internal, Team: Core, Type: Defect

#17696 Introduce mode for persistent-memory configuration
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/PersistentMemoryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/PersistentMemoryMode.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-client-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Config, Module: HD, Source: Internal, Team: Core

#17544 Detail contribution guidelines
  CONTRIBUTING.md
Labels: Source: Internal, Type: Enhancement

#17722 Improve the XML transforming code - add protection against XXE.
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
Labels: Module: Security, Team: Client, Team: Core

#17719 SQL: Fix memory leak in the client handler
  hazelcast-sql/src/test/java/com/hazelcast/sql/misc/SqlClientCursorCleanupTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17729 Fixed NPE in SqlErrorAbstractTest (#17727)
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorAbstractTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#17723 SQL: Cancel local queries on member shutdown
  hazelcast-sql/src/test/java/com/hazelcast/sql/misc/SqlCancelOnShutdownTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/misc/SqlSecurityCallbackTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlInternalService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/BlockingRootResultConsumer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryOperationHandlerImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateCallback.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateRegistry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/worker/QueryFragmentExecutable.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlTestSupport.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/AbstractExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/worker/QueryFragmentContextTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/worker/QueryFragmentExecutableTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17731 Fix racy test cases in ScheduledExecutorServiceBasicTest
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceBasicTest.java
Labels: Module: IScheduledExecutor, Source: Internal, Team: Core, Type: Test-Failure

#17717 Slow Operation Test Fixes: Do not validate operations before executing.
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetectorAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetectorBasicTest.java
Labels: Even Jaromir can do that, Module: Invocation System, Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#17733 Fix assertion of QueryDataType.OBJECT
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Defect

#17736 Insert empty schemas into SqlCatalog
  hazelcast-sql/src/main/java/org/apache/calcite/jdbc/HazelcastRootCalciteSchema.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/JetSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/SqlCatalog.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/TableResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/SqlCatalogTest.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Defect

#17737 Fix for IMDG SQL tests when run from Jet
  hazelcast-sql/pom.xml
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlTestInstanceFactory.java
Labels: Module: SQL, Source: Internal, Source: Jet, Team: Core, Type: Test-Failure

#17710 Changed should to must in exception messages
  hazelcast-spring/src/main/java/com/hazelcast/spring/cache/HazelcastCacheManager.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/QueryCacheYamlConfigBuilderHelper.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientFailoverDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/config/MapStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/BulkGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/json/NonTerminalJsonValue.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ClassLoaderUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/CheckPartitionReplicaVersionTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/util/Preconditions.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/MapStoreContextFactory.java
  hazelcast/src/main/java/com/hazelcast/query/impl/ConverterCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PagingPredicateImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/SqlPredicate.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationBackupHandler.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/DistributedObjectFuture.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlStatement.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/NullConverter.java
Labels: Source: Community, Team: Client, Team: Core, Type: Documentation, Type: Enhancement

#17728 Upgrade the Surefire plugin to resolve Java 11 parallel test runs with modulepath
  modulepath-tests/pom.xml
  modulepath-tests/src/test/java/com/hazelcast/test/modulepath/ModulePathTest.java
  modulepath-tests/src/test/java/com/hazelcast/test/modulepath/SmokeModulePathTest.java
  pom.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#17745 [BACKPORT-4.0.3-migration] Camelcase eureka properties must be configurable via XML/YAML
  hazelcast/src/main/java/com/hazelcast/internal/config/DomConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Backport, Module: Config, Team: Core, Team: Integration, Type: Defect

#17738 Fixed PartitionIndexingTest
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
Labels: Module: IMap, Module: Partitioning, Source: Internal, Team: Core, Type: Test-Failure

#17501 Made diagnostics rendering more robust
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFile.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogWriterImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogger.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsStdout.java
Labels: Module: Diagnostics, Source: Internal, Team: Core, Type: Defect

#17756 [FORWARD-PORT] Introduce major version packet flags
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/PacketTest.java
Labels: Forwardport, Module: Network I/O, Source: Internal, Team: Core, Type: Enhancement

#17708 Merge ClientExceptions and ClientExceptionFactory
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptions.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodesTest.java
Labels: Backport, Internal breaking change, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#17744 [BACKPORT-4.0.z] Camelcase eureka properties must be configurable via XML/YAML
  hazelcast/src/main/java/com/hazelcast/internal/config/DomConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Backport, Module: Config, Team: Core, Team: Integration, Type: Defect

#17754 [BACKPORT 3.12.z] Improve the XML transforming code - add protection against XXE
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/util/StringUtilTest.java
Labels: Backport, Module: Security, Source: Internal, Team: Client, Team: Core

#17755 [BACKPORT-3.11.z] Improve the XML transforming code - add protection against XXE
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/util/StringUtilTest.java
Labels: Backport, Module: Security, Source: Internal, Team: Client, Team: Core

#17765 Fixes for 4.2 iteration
  hazelcast-spring/src/main/resources/META-INF/spring.schemas
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/Versions.java
  hazelcast/src/main/resources/hazelcast-client-default.xml
  hazelcast/src/main/resources/hazelcast-client-failover-config-4.2.xsd
  hazelcast/src/main/resources/hazelcast-client-failover-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/resources/hazelcast-client-failover-sample.xml
Labels: Module: Config, Team: Client, Team: Core, Type: Defect

#17767 Disable verbose output on some tests
  hazelcast/src/test/java/com/hazelcast/internal/partition/GracefulShutdownCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionAssignmentsCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentBasicTest.java
  hazelcast/src/test/resources/log4j2-no-stacktrace.xml
Labels: Source: Internal, Team: Core, Type: Cleanup

#17766 Downgrade surefire plugin to resolve OOM issues in 3.0.0-M4
  modulepath-tests/pom.xml
  pom.xml
Labels: Source: Internal, Team: Core

#17770 Exclude HZ_CP_MOUNT from environment variables config parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/override/EnvVariablesConfigParser.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Enhancement

#17753 [BACKPORT-4.0.z] Improve the XML transforming code - add protection against XXE
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
Labels: Backport, Module: Security, Source: Internal, Team: Client, Team: Core

#17781 Extract FieldsUtil from sample resolver
  hazelcast/src/main/java/com/hazelcast/sql/impl/FieldsUtil.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryPath.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/TableField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolverTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolverTest.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Enhancement

#17782 Extract FieldsUtil from sample resolver (forward-port of #17781)
  hazelcast/src/main/java/com/hazelcast/sql/impl/FieldsUtil.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryPath.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/TableField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolverTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolverTest.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Enhancement

#17764 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Source: Community, Type: Enhancement

#17768 Remove extra space from message to log
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
Labels: Source: Internal

#17760 Fixes for compatibility tests
  hazelcast-build-utils/pom.xml
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/FinalRemovalAgent.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheBasicAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheFromDifferentNodesTest.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
Labels: Module: Rolling Upgrade, Source: Internal, Team: Core, Type: Test-Failure

#17762 Mark the most timeconsuming tests as SlowTests
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/AdvancedClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipFailureTest.java
Labels: Source: Internal, Team: Core, Type: Cleanup, Type: Enhancement

#17787 [BACKPORT 4.0.z] Update JUnit version
  pom.xml
Labels: Backport, Source: Internal, Team: Core, dependencies

#17741 Added StandardCharsets.UTF_8 instead of Charset.forName("UTF-8")
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/JsonPathCursor.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/StringSerializationTest.java
Labels: Source: Community, Team: Client, Type: Cleanup

#17789 Migrate unsecure random provider to ThreadLocalRandom
  hazelcast/src/main/java/com/hazelcast/internal/util/ThreadLocalRandomProvider.java
Labels: Source: Internal, Team: Core, Type: Cleanup, Type: Perf. Defect

#17774 Fixes NPE in /node-state REST calls when the Node is not fully activated
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeState.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestNodeStateTest.java
Labels: Module: REST, Source: Internal, Team: Core, Type: Defect

#17798 [BACKPORT 4.1] Fixes NPE in /node-state REST calls when the Node is not fully activated
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeState.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestNodeStateTest.java
Labels: Backport, Module: REST, Team: Core, Type: Defect

#17801 Remove assert for unlisted exceptions in the protocol
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect

#17799 Remove assert for unlisted exceptions in the protocol
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
Labels: Source: Internal, Team: Client, Type: Defect

#17800 Remove assert for unlisted exceptions in the protocol
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect

#17802 Remove assert for unlisted exceptions in the protocol
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect
