Repository hazelcast/hazelcast, pull requests merged in 2020-03, with the labels that each got.

#16683 Create less objects during metrics scan
  hazelcast/src/main/java/com/hazelcast/cache/impl/CachePartitionSegment.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/LockStoreContainer.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/LockSupportServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaVersions.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheSerializationTest.java
Labels: Module: Metrics, Source: Internal, Team: Core, Type: Enhancement

#16699 Added badges on README.md
  README.md
Labels: Team: Documentation, Type: Enhancement

#16701 Expose BufferObjectDataInput creation based on byte[] and offset
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InternalSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayInputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/UnsafeInputOutputFactory.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingSerializationService.java
Labels: Module: Serialization, Team: Core, Type: Enhancement

#16716 Expose BufferObjectDataInput creation based on byte[] and offset
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InternalSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayInputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/UnsafeInputOutputFactory.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingSerializationService.java
Labels: Backport, Module: Serialization, Team: Core, Type: Enhancement

#16723 Replace WanReplicationConsumer/Publisher references with WanConsumer/Publisher
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Module: Config, Module: WAN, Team: Core, Type: Enhancement

#16684 Improve logging when wrong class implemented
  hazelcast/src/main/java/com/hazelcast/internal/nio/ClassLoaderUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ServiceLoader.java
Labels: Module: Serialization, Source: Internal, Team: Core, Type: Enhancement

#16734 Enhance Serializer javadoc
  hazelcast/src/main/java/com/hazelcast/nio/serialization/Serializer.java
Labels: Module: Serialization, Team: Documentation

#16730 Init containers on service create
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
Labels: Module: MultiMap, Type: Defect

#16712 initial commit for #12298
  hazelcast/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/console/ConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ConsoleCommandHandler.java
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleAppTest.java
  hazelcast/src/test/java/com/hazelcast/console/ConsoleAppTest.java
Labels: Source: Community, Team: Client, Type: Enhancement

#16735 Add Serializer unique type id javadoc
  hazelcast/src/main/java/com/hazelcast/nio/serialization/Serializer.java
Labels: Backport, Module: Serialization, Team: Documentation

#16721 Allow AbstractSerializationService.serializerFor() to be overridden
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializerAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/StreamSerializerAdapter.java
Labels: Backport, Module: Serialization, Team: Core, Type: Enhancement

#16733 Add default Serializer.destroy().
  hazelcast-spring/src/test/java/com/hazelcast/spring/serialization/DummySerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractCollectionStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractMapStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ArrayStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ConstantSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/Serializer.java
  hazelcast/src/test/java/com/hazelcast/cardinality/CardinalityEstimatorAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/client/cardinality/ClientCardinalityEstimatorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/BaseCustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/Derived1CustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/Derived2CustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/PersonSerializer.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/AbstractSerializationServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/TestSerializerHook.java
  hazelcast/src/test/java/com/hazelcast/map/IssuesTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/CustomSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/SerializationTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/CustomByteArraySerializer.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/CustomStreamSerializer.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapAntiEntropyTest.java
Labels: Backport, Module: Serialization, Source: Internal, Team: Core, Type: Cleanup

#16666 Add default Serializer.destroy().
  hazelcast-spring/src/test/java/com/hazelcast/spring/serialization/DummySerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractCollectionStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractMapStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ArrayStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ConstantSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/Serializer.java
  hazelcast/src/test/java/com/hazelcast/cardinality/CardinalityEstimatorAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/client/cardinality/ClientCardinalityEstimatorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/BaseCustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/Derived1CustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/Derived2CustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/PersonSerializer.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/AbstractSerializationServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/TestSerializerHook.java
  hazelcast/src/test/java/com/hazelcast/map/IssuesTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/CustomSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/SerializationTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/CustomByteArraySerializer.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/CustomStreamSerializer.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapAntiEntropyTest.java
Labels: Module: Serialization, Source: Internal, Team: Core, Type: Cleanup

#16722 Allow AbstractSerializationService.serializerFor() to be overridden
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializerAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/StreamSerializerAdapter.java
Labels: Module: Serialization, Source: Jet, Team: Core, Type: Enhancement

#16644 Fix ClientReliableTopicOnClusterRestartTest
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/MessageRunner.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicOnClusterRestartTest.java
Labels: Module: Ringbuffer, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#16655 Remove TransactionLogRecordKey
  hazelcast/src/main/java/com/hazelcast/collection/impl/txncollection/TransactionLogRecordKey.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/txnqueue/TransactionLogRecordKey.java
Labels: Module: Transactions, Source: Internal, Team: Core, Type: Cleanup

#16674 Update config.yml for "New Issue"
  .github/ISSUE_TEMPLATE/config.yml
Labels: Source: Internal, Type: Enhancement

#16728 Remove client side code related to MC operations
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/MCClusterMetadata.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/MCMapConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/MCWanBatchPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/UpdateMapConfigParameters.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeWanReplicationStateMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/impl/management/MCMessageTasksTest.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceCPOperationsTest.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ScriptingProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/managementcenter/ReadMetricsTest.java
Labels: Team: Client, Team: Management Center

#16718 add codec versioning support
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
Labels: Team: Client, Type: Enhancement

#16719 [BACKPORT] add codec versioning support
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
Labels: Team: Client, Type: Enhancement

#16738 SQL type system (#15241)
  docs/design/sql/01-type-system.md
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/sql/HazelcastSqlException.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlErrorCode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataType.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeFamily.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractDecimalConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractObjectConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractStringConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractTemporalConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractTimestampWithTimezoneConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/BigDecimalConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/BigIntegerConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/BooleanConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/ByteConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/CalendarConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/CharacterConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converters.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/DateConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/DoubleConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/FloatConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/InstantConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/IntegerConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/LateConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/LocalDateConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/LocalDateTimeConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/LocalTimeConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/LongConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/NotConvertible.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/ObjectConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/OffsetDateTimeConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/ShortConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/StringConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/ZonedDateTimeConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/package-info.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/QueryDataTypeFamilyTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/QueryDataTypeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/converter/ConvertersTest.java
Labels: Module: SQL, Team: Core, Type: Enhancement

#16740 Remove dependency to InternalSerializationService from StreamSerializerAdapter
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/StreamSerializerAdapter.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/StreamSerializerAdapterTest.java
Labels: Module: Serialization, Source: Internal, Team: Core, Type: Cleanup

#16764 Remove dependency to InternalSerializationService from StreamSerializerAdapter
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/StreamSerializerAdapter.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/StreamSerializerAdapterTest.java
Labels: Backport, Module: Serialization, Source: Internal, Team: Core, Type: Cleanup

#16581 Add nearcaching hook to map-transaction-log-record
  hazelcast/src/main/java/com/hazelcast/collection/impl/txncollection/CollectionTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCachingHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/txn/MultiMapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLog.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransaction.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionStressTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/TxnMapNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/transaction/impl/MockTransactionLogRecord.java
Labels: Backport, Module: IMap, Module: Near Cache, Module: Transactions, Source: Internal, Team: Core, Type: Defect

#16717 add test for ClientNonStopNearCache scenario
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientNonStopNearCacheTest.java
Labels: Source: Internal, Team: Client, Type: Enhancement

#16744 Add class loading related exceptions to client factory
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodes.java
Labels: Source: Internal, Team: Client, Type: Defect

#16745 Add class loading related exceptions to client factory
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodes.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect

#16756 Improve failed client authentication message
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
Labels: Source: Internal, Team: Client, Type: Enhancement

#16765 Improve failed client authentication message
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
Labels: Backport, Source: Internal, Team: Client, Type: Enhancement

#16747 Add type information to the Metrics MBeans
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/JmxPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/MetricsMBean.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTestHelper.java
Labels: Module: Metrics, Source: Internal, Team: Core, Type: Defect

#16748 [BACKPORT] Add type information to the Metrics MBeans
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/JmxPublisher.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/MetricsMBean.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTestHelper.java
Labels: Module: Metrics, Source: Internal, Team: Core, Type: Defect

#16766 Improve failed client authentication message
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
Labels: Backport, Source: Internal, Team: Client, Type: Enhancement

#16755 Fix reliable topic and ring buffer client permissions
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ReliableTopicPermission.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Security, Source: Internal, Team: Client, Type: Defect

#16752 Partially reverts commit 088f3680
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractCollectionStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractMapStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ArrayStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ConstantSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/JavaDefaultSerializers.java
Labels: Module: Rolling Upgrade, Source: Internal, Team: Core, Type: Test-Failure

#16774 exposed executor creation time metric
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ExecutorServiceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalExecutorStatsImpl.java
Labels: Module: Metrics, Team: Management Center, Type: Enhancement

#16772 Fix reliable topic and ring buffer client permissions
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ReliableTopicPermission.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Backport, Source: Internal, Team: Client, Type: Defect

#16775 exposed executor creation time metric
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ExecutorServiceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalExecutorStatsImpl.java
Labels: Forwardport, Module: Metrics, Team: Management Center, Type: Enhancement

#16773 Fix reliable topic and ring buffer client permissions
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ReliableTopicPermission.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Backport, Source: Internal, Team: Client, Type: Defect

#16743 Add ability to disallow on random target for ClientInvocations
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientTransactionManagerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/NonSmartClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/SmartClientInvocationService.java
  hazelcast/src/test/java/com/hazelcast/client/ClientBackpressureBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientBackupAckTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplierTest.java
Labels: Source: Internal, Team: Client, Type: Enhancement

#16771 Promote IMap.putAllAsync and IMap.submitToKeys to public API
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
Labels: Backport, Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#16736 Disable COR on certain IMap operations
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchEntriesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/Immutable.java
  hazelcast/src/main/java/com/hazelcast/map/impl/iterator/MapEntriesWithCursor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/GetOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageImpl.java
  hazelcast/src/test/java/com/hazelcast/map/MapPartitionIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapDisableCopyOnReadTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/TestEntity.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/TestEntityImmutable.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#16759 Allow to protect management operations on client protocol
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/AddWanBatchPublisherConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ApplyMCConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeClusterStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeClusterVersionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeWanReplicationStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/CheckWanConsistencyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ClearWanQueuesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetCPMembersMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetClusterMetadataMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetMemberConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetSystemPropertiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetThreadDumpMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetTimedMemberStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartInterruptBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerForceStartMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerPartialStartMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/MatchMCConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/PollMCEventsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/PromoteLiteMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/PromoteToCPMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RemoveCPMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ResetCPSubsystemMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RunConsoleCommandMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RunGcMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RunScriptMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/UpdateMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/WanSyncMapMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/metrics/ReadMetricsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/ManagementCenterConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/AddressChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AddressCheckerImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/security/ICredentialsFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterTrustedInterfacesTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/AddressCheckerImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/JoinMessageTrustCheckerTest.java
Labels: Module: Security, Source: Internal, Team: Client, Team: Core, Team: Management Center

#16783 Log dangling Metrics MBeans
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTestHelper.java
Labels: Module: Metrics, Team: Core, Type: Test-Failure

#16742 Add ability to disallow on random target for ClientInvocations
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientTransactionManagerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/NonSmartClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/SmartClientInvocationService.java
  hazelcast/src/test/java/com/hazelcast/client/ClientBackpressureBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientBackupAckTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplierTest.java
Labels: Backport, Source: Internal, Team: Client, Type: Enhancement

#16786 Shutdown clients in ClientConsoleAppTest
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleAppTest.java
Labels: Module: Metrics, Team: Core, Type: Test-Failure

#16757 Add missing onCommitSuccess/onCommitFailure to XATransaction
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransaction.java
  hazelcast/src/test/java/com/hazelcast/xa/NearCacheXATest.java
Labels: Module: Near Cache, Module: Transactions, Source: Internal, Team: Core, Type: Defect

#16758 Add missing onCommitSuccess/onCommitFailure to XATransaction
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransaction.java
  hazelcast/src/test/java/com/hazelcast/xa/NearCacheXATest.java
Labels: Module: Near Cache, Module: Transactions, Source: Internal, Team: Core, Type: Defect

#16793 [3.11.z] Fix POM
  modulepath-tests/pom.xml
Labels: Type: Defect

#16636 Added support for ConcurrentMap.computeIfPresent #11958
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/BiFunctionExecutingEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientComputeConditionallyTests.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/ComputeConditionallyTests.java
  hazelcast/src/test/java/testsubjects/ClientOnlyStaticSerializableBiFunction.java
  hazelcast/src/test/java/testsubjects/NonStaticFunctionFactory.java
  hazelcast/src/test/java/testsubjects/StaticNonSerializableBiFunction.java
  hazelcast/src/test/java/testsubjects/StaticSerializableBiFunction.java
Labels: Module: IMap, Source: Community, Team: Core, Type: Enhancement

#16791 Create separate buffer pool for each SerializationService
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/AbstractSerializationServiceTest.java
Labels: Module: Serialization, Source: Jet, Team: Core

#16763 SQL: Base executor and row interfaces (#16762)
  docs/design/sql/01-type-system.md
  docs/design/sql/02-operator-interface.md
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryId.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/AbstractExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/AbstractUpstreamAwareExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/EmptyExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/Exec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/IterationResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/UpstreamState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/fragment/QueryFragmentContext.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/EmptyRowBatch.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/HeapRow.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/JoinRow.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/ListRowBatch.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/Row.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/RowBatch.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converters.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/QueryIdTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlCustomClass.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/AbstractExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/AbstractUpstreamAwareExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/EmptyExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/UpstreamStateTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/fragment/QueryFragmentContextTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/row/EmptyRowBatchTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/row/HeapRowTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/row/JoinRowTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/row/ListRowBatchTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/QueryDataTypeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/converter/ConvertersTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#16797 Disallow random target invocation for certain MC operations
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/managementcenter/ReadMetricsTest.java
Labels: Team: Management Center, Type: Defect

#16782 Expose dataIterator()/dataSubList() on List proxies
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientListProxy.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/BasicListTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/ClientListTest.java
Labels: Module: IList, Source: Jet, Team: Client, Team: Core

#16789 Reverts commit 088f3680 (part 2)
  hazelcast-spring/src/test/java/com/hazelcast/spring/serialization/DummySerializer.java
  hazelcast/src/test/java/com/hazelcast/cardinality/CardinalityEstimatorAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/client/cardinality/ClientCardinalityEstimatorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/BaseCustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/Derived1CustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/Derived2CustomSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/test/PersonSerializer.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/AbstractSerializationServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/TestSerializerHook.java
  hazelcast/src/test/java/com/hazelcast/map/IssuesTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/CustomSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/SerializationTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/CustomByteArraySerializer.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/CustomStreamSerializer.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapAntiEntropyTest.java
Labels: Module: Rolling Upgrade, Module: Serialization, Team: Core, Type: Test-Failure

#16804 Create separate buffer pool for each SerializationService
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/AbstractSerializationServiceTest.java
Labels: Backport, Module: Serialization, Source: Jet, Team: Core

#16798 Create separate buffer pool for each SerializationService
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/AbstractSerializationServiceTest.java
Labels: Backport, Module: Serialization, Source: Jet, Team: Core

#16803 Expose dataIterator()/dataSubList() on List proxies
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientListProxy.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/BasicListTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/ClientListTest.java
Labels: Backport, Module: IList, Source: Jet, Team: Client, Team: Core

#16802 Expose dataIterator()/dataSubList() on List proxies
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientListProxy.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/BasicListTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/ClientListTest.java
Labels: Backport, Module: IList, Source: Jet, Team: Client, Team: Core

#16800 SQL network protocol (#16799)
  docs/design/sql/01-type-system.md
  docs/design/sql/03-network-protocol.md
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryAbstractCheckOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryAbstractExchangeOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryAbstractIdAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryBatchExchangeOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryCancelOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryCheckOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryCheckResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryExecuteOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryExecuteOperationFragment.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryFlowControlExchangeOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/physical/FieldTypeProvider.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/physical/PhysicalNode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/physical/PhysicalNodeSchema.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryExecuteOperationFragmentTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationsTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/physical/MockPhysicalNode.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/physical/PhysicalNodeSchemaTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#16724 Performed cleanup on codecs
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageWriter.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ByteArrayCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/DataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListIntegerIntegerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListIntegerLongCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListIntegerUUIDCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListUUIDLongCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListUUIDUUIDCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListIntegerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListLongCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/StringCodec.java
Labels: Source: Internal, Team: Client, Type: Cleanup

#16725 [BACKPORT] Performed cleanup on codecs
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageWriter.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ByteArrayCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/DataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListIntegerIntegerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListIntegerLongCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListIntegerUUIDCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListUUIDLongCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListUUIDUUIDCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListIntegerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListLongCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/StringCodec.java
Labels: Source: Internal, Team: Client, Type: Cleanup

#16665 Define metrics for ISet and IList collections (#3823)
  hazelcast/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientListProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientSetProxy.java
  hazelcast/src/main/java/com/hazelcast/collection/IList.java
  hazelcast/src/main/java/com/hazelcast/collection/ISet.java
  hazelcast/src/main/java/com/hazelcast/collection/LocalCollectionStats.java
  hazelcast/src/main/java/com/hazelcast/collection/LocalListStats.java
  hazelcast/src/main/java/com/hazelcast/collection/LocalSetStats.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/AbstractCollectionProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/CollectionService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/operations/CollectionAddAllOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/operations/CollectionAddOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/operations/CollectionClearOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/operations/CollectionCompareAndRemoveOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/operations/CollectionOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/operations/CollectionRemoveOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/ListService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/list/operations/ListSetOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/set/SetProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/set/SetService.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/suppliers/LocalListStatsSupplier.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/suppliers/LocalSetStatsSupplier.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/AbstractLocalCollectionStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalListStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalSetStatsImpl.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/AbstractCollectionStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/list/ListStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/set/SetStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DistributedDatastructuresMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalListStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalSetStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/MemberStateImplTest.java
Labels: Module: Metrics, Source: Community, Team: Core, Type: Enhancement

#16784 fix NullPointerException in IndexCopyBehavior.NEVER mode
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
Labels: Module: IMap, Module: Query, Source: Community, Team: Core, Type: Defect

#16807 Fix charset, missing FROM and add serialization
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastTypeFactory.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/Expression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataType.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converter.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#16825 Minor lambda replacement in NodeIOService
  hazelcast/src/main/java/com/hazelcast/internal/nio/NodeIOService.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#16817 TcpIpAcceptor identation fix in the constructor
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpAcceptor.java
Labels: Source: Internal, Team: Core, Type: Cleanup

#16823 Bind properties cleanup in TcpIpAcceptor.
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/NodeIOService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpConnector.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MockIOService.java
Labels: Module: Network I/O, Type: Cleanup

#16816 Minor TcpIpEndpointManager cleanup
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/BindHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpEndpointManager.java
Labels: Type: Cleanup

#16826 Removed IOService.getSSLConfig
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/NodeIOService.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MockIOService.java
Labels: Module: Network I/O, Type: Cleanup

#16806 SQL thread pools (#16805)
  docs/design/sql/02-operator-interface.md
  docs/design/sql/04-mulitthreaded-execution.md
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/fragment/QueryFragmentContext.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/mailbox/InboundBatch.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/mailbox/InboundHandler.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/mailbox/OutboundHandler.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryAbstractIdAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryOperationDeserializationException.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryOperationHandler.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateCallback.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/worker/QueryFragmentExecutable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/worker/QueryFragmentScheduleCallback.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/worker/QueryFragmentWorkerPool.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/worker/QueryOperationExecutable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/worker/QueryOperationWorker.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/worker/QueryOperationWorkerPool.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/AbstractExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/AbstractUpstreamAwareExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/UpstreamStateTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/fragment/QueryFragmentContextTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/mailbox/InboundBatchTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/worker/QueryFragmentExecutableTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/worker/QueryOperationExecutableTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/worker/QueryOperationWorkerPoolTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#16821 Add JVM name with PID to the client metrics in tests
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientJmxMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Module: Metrics, Team: Client, Team: Core, Type: Test-Failure

#16818 Removed useless PacketDecoder throws clause
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/PacketDecoder.java
Labels: Source: Internal, Team: Core, Type: Cleanup

#16828 Restore throws clause
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/PacketDecoder.java
Labels: Source: Internal, Team: Core, Type: Defect

#16795 fix: measure ReplicatedMap operations latency in nanoseconds and report in milliseconds
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/TimeUtil.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/MemberStateImplTest.java
Labels: Module: Metrics, Team: Core, Type: Cleanup

#16814 Renamed cluster Bind to MemberHandshake
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberHandshake.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/EndpointManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/MemberHandshakeHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/SendMemberHandshakeTask.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpConnector.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/PacketDispatcher.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MemberHandshakeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MemberHandshakeHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MockIOService.java
Labels: Module: Cluster, Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#16808 Added support for IMap.computeIfAbsent() #14913
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/ComputeIfAbsentEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/ComputeIfPresentEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientComputeConditionallyTests.java
  hazelcast/src/test/java/com/hazelcast/map/ComputeConditionallyTests.java
  hazelcast/src/test/java/testsubjects/NonStaticFunctionFactory.java
  hazelcast/src/test/java/testsubjects/StaticNonSerializableFunction.java
  hazelcast/src/test/java/testsubjects/StaticSerializableFunction.java
Labels: Module: IMap, Source: Community, Team: Core, Type: Enhancement
