Repository hazelcast/hazelcast, pull requests merged in 2020-05, with the labels that each got.

#16924 Connection count and getActiveConnections cleanup
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/Server.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/AbstractChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/ChannelInitializerFunction.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionErrorHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnector.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/AbstractOutOfMemoryHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerStressTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/FirewallingServer.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/MemberHandshakeHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ServerConnectionManagerTest.java
  hazelcast/src/test/java/com/hazelcast/test/Accessors.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServer.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#16937 Improve client partition table update push mechanism
  hazelcast-client/src/test/java/com/hazelcast/client/heartbeat/ClientHeartbeatTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientPartitionListenerService.java
Labels: Module: Partitioning, Source: Internal, Team: Client, Type: Defect

#16938 Improve client partition table update push mechanism
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
Labels: Module: Partitioning, Team: Client, Type: Enhancement

#16939 Improve client partition table update push mechanism
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
Labels: Module: Partitioning, Source: Internal, Team: Client, Type: Enhancement

#16951 Fixed typo TcpServerConnectionChannelErrorHandler
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionChannelErrorHandler.java
Labels: Type: Cleanup

#16949 TcpServer name fixes.
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServer.java
Labels: Module: Network I/O, Source: Internal, Type: Cleanup

#16948 Simplified TcpServerAcceptor selector close
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#16950 SendMemberHandshakeTask simplification
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SendMemberHandshakeTask.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#16931 Do not nullify containers upon shutdown
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
Labels: Module: MultiMap, Source: Internal, Team: Core, Type: Defect

#16959 Correct default value of smartRouting on xsd
  hazelcast/src/main/resources/hazelcast-client-config-4.1.xsd
Labels: Team: Client, Type: Defect

#16928 Add SASL authentication support to LdapAuthenticationConfig
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/security/LdapAuthenticationConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Security, Source: Internal, Team: Client, Team: Core

#16967 Updating README.HTML for IMDG 4.0.z
  hazelcast/src/main/resources/changelog.txt
  hazelcast/src/main/resources/readme.html
Labels: Source: Internal, Type: Documentation, Type: Enhancement

#16966 Updating the README.HTML and changelog.txt
  hazelcast/src/main/resources/changelog.txt
  hazelcast/src/main/resources/readme.html
Labels: Source: Internal, Type: Documentation, Type: Enhancement

#16965 MultiMap.putAll since version corrected as 2.1 on protocol
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Type: Defect

#14331 ReplicatedMapProxy - refactored check and retry initialization logic ...
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapProxy.java
Labels: Module: ReplicatedMap, Source: Community, Team: Core, Type: Enhancement

#16989 Update hazlecast-aws to 3.2
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration, Type: Enhancement

#16990 [Backport] Update hazlecast-aws to 3.2
  hazelcast-all/pom.xml
Labels: Backport, Source: Internal, Team: Integration, Type: Enhancement

#16980 SQL: Initial integration with Apache Calcite
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastTypeFactory.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/QueryPlanner.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/metadata/HazelcastRelMdRowCount.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/CasingConfiguration.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParseResult.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/HazelcastCalciteCatalogReader.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/HazelcastSchema.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/HazelcastSchemaUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/HazelcastTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/MapTableStatistic.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlConformance.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/org/apache/calcite/jdbc/HazelcastRootCalciteSchema.java
  hazelcast-sql/src/main/java/org/apache/calcite/jdbc/package-info.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/HazelcastRelOptCluster.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/package-info.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestMapTable.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestTableResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/schema/HazelcastSchemaUtilsTest.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlErrorCode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/DisabledSqlOptimizer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/AbstractMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/ConstantTableStatistics.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/Table.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/TableField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/TableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/TableStatistics.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataType.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeFamily.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractObjectConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractStringConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractTimestampWithTimezoneConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/BooleanConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/MapScanExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/ConstantPredicateExpression.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/FunctionalPredicateExpression.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/QueryDataTypeFamilyTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/QueryDataTypeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/converter/ConvertersTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#16971 Introduction of CPU thread affinity
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioThread.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ThreadAffinity.java
  hazelcast/src/main/java/com/hazelcast/internal/util/executor/HazelcastManagedThread.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationThread.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InboundResponseHandlerSupplier.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ThreadAffinityTest.java
Labels: Source: Internal, Team: Client, Team: Core, Team: Performance, Type: Enhancement

#16997 Fix NPE in MultiMapService.getStats
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
Labels: Cause: Implementation - Timing, Estimation: S, Module: MultiMap, Source: Internal, Team: Core

#16992 [BACKPORT] Introduce major version packet flags
  hazelcast/src/main/java/com/hazelcast/nio/Packet.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/PacketTest.java
Labels: Backport, Module: Network I/O, Team: Core, Type: Enhancement

#16993 Introduce major version packet flags
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/PacketTest.java
Labels: Module: Network I/O, Team: Core, Type: Enhancement

#16982 Added hazelcast-azure to hazelcast-all
  hazelcast-all/pom.xml
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestClientNetworkConfig.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-advanced-network-config.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-advanced-network-config.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
  hazelcast/src/test/resources/hazelcast-fullconfig.yaml
Labels: Source: Internal, Team: Core, Team: Integration, Type: Enhancement

#17004 ProtocolType enum is removed from protocol custom types.
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/EndpointQualifierCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/ProtocolTypeCodec.java
  hazelcast/src/main/java/com/hazelcast/instance/ProtocolType.java
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
Labels: Source: Internal, Team: Client

#16995 IMap table metadata resolution (#16984)
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/HazelcastTable.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/AbstractMapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanRow.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryPath.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/AbstractMapScanPlanNode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/MapScanPlanNode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/TableField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadata.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlTestSupport.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/MapScanExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/extract/QueryPathTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/MapScanPlanNodeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/MapSchemaTestSupport.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolverTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolverTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17003 [BACKPORT] Fixing client-view of Member#getAddressMap()
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/EndpointQualifierCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/MemberInfoCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/MemberImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/ProtocolType.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
  hazelcast/src/test/java/com/hazelcast/client/io/AdvancedNetworkClientIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.0.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.1.protocol.compatibility.null.binary
Labels: Backport, Module: Cluster, Source: Internal, Team: Client

#17017 Minor javadoc fixes from various reviews
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/LinkedHashMapStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/TreeSetStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
Labels: Source: Internal, Team: Core, Type: Documentation, Type: Enhancement

#16681 Decrease preallocated partition container sizes
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/DistributedExecutorService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
Labels: Source: Internal, Team: Core, Type: Enhancement
