Repository hazelcast/hazelcast, pull requests merged in 2020-01, with the labels that each got.

#16391 Don't presize arrays when passing them to toArray() calls
  hazelcast/src/main/java/com/hazelcast/config/security/JaasAuthenticationConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
Labels: Team: Core, Type: Enhancement

#16373 Log actual XML schema location if incorrent
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
Labels: Module: Config, Team: Core

#15875 IO threadcount for smart client only when enough cpu's
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
Labels: Team: Client, Type: Enhancement

#16392 Add toString
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCache.java
Labels: Module: Near Cache, Team: Core, Type: Enhancement

#16379 Remove the test unrelated bug in test `DistributedObjectListenerTest.testDestroyEventReceived_WhenDestroyedByServer`
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/ClientDistributedObjectListenerTest.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectListenerTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#16390 Use bulk operations instead of manual sizing and iterating over ArrayList
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapEntriesWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapEntrySetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/multimap/MultiMapEntrySetMessageTask.java
Labels: Team: Client, Type: Enhancement

#16344 Fix METADATA group snapshot issues
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPGroupInfo.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MembershipChangeSchedule.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupSnapshot.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftOp.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Defect

#16326 Add UUID field to the BindMessage
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/BindMessage.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/NodeIOService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/BindRequest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/BindMessageTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/BindHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MockIOService.java
Labels: Module: Network I/O, Team: Core, Type: Enhancement

#16401 Adds convenience constructor for SpringManagedContext
  hazelcast-spring/src/main/java/com/hazelcast/spring/context/SpringManagedContext.java
Labels: Team: Integration, Type: Enhancement

#16399 Expect a miss count greater than zero
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxyFactory.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupportUtil.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachingHook.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/DefaultClientExtension.java
  hazelcast/src/main/java/com/hazelcast/client/map/impl/nearcache/NearCachedClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheInvalidationListener.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheBasicSlowTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheCacheOnUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCachePreloaderSlowTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCachePreloaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheRecordStateStressTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheSerializationCountTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheStaleReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheInvalidationMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheMetaDataGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheReconciliationTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheRecordStateStressTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheStaleReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheStalenessTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/NearCacheStatsStressTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapInvalidationMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapReconciliationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTestSupport.java
Labels: Module: Near Cache, Team: Client, Team: Core, Type: Test-Failure

#16393 Remove redundant IsFailoverSupportedMessage
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAuthenticationCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAuthenticationCustomCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientLocalBackupListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientTriggerPartitionAssignmentCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/IsFailoverSupportedMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Type: Defect

#16407 Handle closed client connection after registration
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
Labels: Team: Client, Type: Defect

#16362 add getOrCreate method to HazelcastClient
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientTest.java
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Team: Client, Type: Enhancement

#15703 ClientMessage.toString fix to make it work correctly for fragmented messages
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageSplitAndBuildTest.java
Labels: Team: Client, Type: Enhancement

#16363 [BACKPORT] add getOrCreate method to HazelcastClient
  hazelcast-client/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast-client/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast/src/main/java/com/hazelcast/instance/HazelcastInstanceFactory.java
Labels: Team: Client, Type: Enhancement

#16415 Fix heartbeat timeout issue in MigrationInvocationsSafetyTest
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
Labels: Module: Partitioning, Team: Core, Type: Test-Failure

#16416 Fix heartbeat timeout issue in MigrationInvocationsSafetyTest
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Test-Failure

#16418 Make the test `testDestroyEventReceived_WhenDestroyedByServer` wait for the proxy creation
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/ClientDistributedObjectListenerTest.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectListenerTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#16303 Make Ringbuffer not throw StaleSequenceException on read-many operation
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableMessageRunner.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/Ringbuffer.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferContainer.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperation.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/MessageRunner.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableMessageRunner.java
  hazelcast/src/test/java/com/hazelcast/client/ringbuffer/RingbufferTest.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicOnClusterRestartTest.java
  hazelcast/src/test/java/com/hazelcast/client/topic/Issue7317Test.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperationTest.java
Labels: Add to Release Notes, Module: Ringbuffer, Team: Core, Type: Enhancement

#16422 Remove the usage of listener createdCount check from the DistributedObjectListenerTest
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/ClientDistributedObjectListenerTest.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectListenerTest.java
Labels: Type: Test-Failure

#16420 Adding more client related files to Code Owners
  .github/CODEOWNERS
Labels: Team: Client

#16424 Rename WAN MBean
  hazelcast/src/main/java/com/hazelcast/internal/jmx/WanPublisherMBean.java
Labels: Module: WAN, Team: Core, Type: Cleanup

#16377 Issue 16205
  .gitignore
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientFailoverConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractConfigLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlConfigLocator.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderConfigResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/config/helpers/DeclarativeConfigFileHelper.java
Labels: Module: Config, Team: Client, Team: Core, Type: Enhancement

#16428 Adding finest ClientListenerService logs
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerRegistration.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/test/resources/log4j2.xml
Labels: Team: Client

#16403 Rename WanReplicationRef.setMergePolicy to setMergePolicyClassName
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/WanReplicationRefCodec.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/WanReplicationRef.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/WanReplicationRefReadOnly.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapWANExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/config/CacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/WanReplicationRefReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/WanReplicationRefTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanCustomPublisherMapTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanPublisherMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanReplicationConfigurationTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
  hazelcast/src/test/resources/test-hazelcast-jcache.xml
Labels: Module: Config, Module: WAN, Team: Core, Type: Enhancement

#16409 [BACKPORT 3.12.z] Fix firing backup operations
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/xa/HazelcastXACompatibilityTest.java
Labels: Backport, Team: Core, Type: Defect

#16413 ScheduledExecutor task size logging
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/DistributedScheduledExecutorService.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorPartition.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
Labels: Module: Diagnostics, Module: IScheduledExecutor, Module: Metrics, Team: Core, Type: Enhancement

#16437 Fixed EvictionMaxSizePolicyTest unit test
  hazelcast/src/test/java/com/hazelcast/map/EvictionMaxSizePolicyTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#16436 Remove @Repeat from tests
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/JsonGetterContextCacheTest.java
  hazelcast/src/test/java/com/hazelcast/topic/TopicTest.java
Labels: Team: Core, Type: Cleanup

#16410 Fix a typo in AmbiguousInstantiationException
  hazelcast/src/main/java/com/hazelcast/internal/util/AmbiguousInstantiationException.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InstantiationUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/util/InstantiationUtilsTest.java
Labels: Team: Core, Type: Cleanup

#16435 Refactor test to use a new map loader per node
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/CountingMapLoader.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderFailoverTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#16439 Control instance creation of singleton serializable comparators
  hazelcast/src/main/java/com/hazelcast/function/ComparatorsEx.java
  hazelcast/src/test/java/com/hazelcast/function/ComparatorExTest.java
Labels: Team: Core, Type: Defect

#16366 Use explicit port on CloudDiscovery for private address
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/discovery/HazelcastCloudProviderTest.java
Labels: Team: Client, Type: Enhancement

#16441 Remove redundant logging from ManagementCenterService
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
Labels: Team: Management Center, Type: Cleanup

#16371 Use explicit port on CloudDiscovery for private address
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/HazelcastCloudDiscoveryTest.java
Labels: Team: Client, Type: Enhancement

#16367 Avoid using on-heap indexes while indexing is in progress
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PartitionQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PredicateBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryContext.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AbstractIndexAwarePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AndPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BetweenPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BoundedRangePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/CompositeEqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/CompositeRangePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/FalsePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/GreaterLessPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/InPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/IndexAwarePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/OrPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PagingPredicateImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/SqlPredicate.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientEntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/TestPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/impl/RecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/PostJoinMapOperationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/CompositeIndexQueriesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/AbstractIndexConcurrencyTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/FalsePredicateTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexConcurrencyTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/PredicatesTest.java
Labels: Module: Query, Team: Core, Type: Defect

#16446 Fix MetadataRaftGroupTest snapshotting test
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocationContext.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Test-Failure

#16443 Added memberbin to the statistics of scheduledexecutor logging
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/DistributedScheduledExecutorService.java
Labels: Module: Diagnostics, Module: IScheduledExecutor, Team: Core, Type: Enhancement

#16440 Fix LossToleranceTest
  hazelcast/src/test/java/com/hazelcast/query/impl/AbstractIndexConcurrencyTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexConcurrencyTest.java
  hazelcast/src/test/java/com/hazelcast/topic/impl/reliable/LossToleranceTest.java
Labels: Module: Ringbuffer, Team: Core, Type: Test-Failure

#16425 Remove duplicate MBeans
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ClientEngineMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/EventServiceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/InstanceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/NetworkingServiceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/OperationServiceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/ProxyServiceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ConnectionManagerDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/EventServiceDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/OperationServiceDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ProxyServiceDTO.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MBeanTest.java
Labels: Add to Release Notes, Team: Core, Type: Cleanup

#16451 Fail MigrationOperation when TargetNotMemberException is thrown
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#16448 Operation supplier should create new operation
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
Labels: Module: Config, Team: Core, Type: Defect, Type: Test-Failure

#16455 Fail MigrationOperation when TargetNotMemberException is thrown
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Defect

#16459 Fix WanCustomPublisherMapTest.mapPutTransientTest
  hazelcast/src/test/java/com/hazelcast/wan/impl/AbstractWanCustomPublisherMapTest.java
Labels: Module: WAN, Team: Core, Type: Test-Failure

#16456 Fix DiagnosticsLogTest.testLogFileContent
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsLogTest.java
Labels: Module: Diagnostics, Team: Core, Type: Test-Failure

#16452 Fix client listener registry leaks
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Team: Client, Type: Defect

#16460 Improve naming in LocalQueueStats
  hazelcast/src/main/java/com/hazelcast/collection/LocalQueueStats.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/QueueMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalQueueStatsImpl.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalQueueStatsImplTest.java
Labels: Team: Documentation, Team: Management Center, Type: Cleanup

#16453 Fix client listener registry leaks
  checkstyle/suppressions.xml
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientPartitionListenerService.java
Labels: Backport, Team: Client, Type: Defect

#16454 cleanup acquiresResource on ClientMessage
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageTest.java
Labels: Team: Client, Type: Cleanup

#16464 Small improvements on map and cache iterators
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/record/CacheRecordMap.java
  hazelcast/src/main/java/com/hazelcast/internal/iteration/IterationPointer.java
  hazelcast/src/main/java/com/hazelcast/internal/util/SampleableConcurrentHashMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/test/java/com/hazelcast/map/MapPartitionIteratorTest.java
Labels: Not Release Notes content, Team: Core, Type: Enhancement

#16474 remove enum type from custom codecs
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/CacheEventDataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/ClientBwListEntryCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/DurationConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/IndexConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/TimedExpiryPolicyFactoryConfigCodec.java
Labels: Team: Client, Type: Cleanup

#16477 Refactor testQueryWithTTL to keep it safe from jitter
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryAdvancedTest.java
Labels: Team: Core, Type: Test-Failure

#16468 Remove obsolete hazelcast.diagnostics.metric.level sys prop from tests
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFileTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkStatsIntegrationTest.java
Labels: Type: Cleanup

#16476 Use server time for CP session creation-time
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/CPSessionInfo.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/ProxySessionManagerService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/CreateSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/operation/CreateSessionOp.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/RaftSessionServiceTest.java
Labels: Backport, Module: CP Subsystem, Team: Core

#16475 Use server time for CP session creation-time
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/CPSessionInfo.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/ProxySessionManagerService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/CreateSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/operation/CreateSessionOp.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/RaftSessionServiceTest.java
Labels: Module: CP Subsystem, Team: Core, Type: Enhancement

#16481 Process list if it is not empty
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
Labels: Module: IMap, Team: Core, Type: Defect

#16479 Use assertTrueEventually for MultiMap test
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapContainerStatisticsTest.java
Labels: Module: MultiMap, Team: Core, Type: Test-Failure

#16478 Use small instance for known flaky test
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheNoEventLossTest.java
Labels: Team: Core, Type: Test-Failure

#16473 Refactoring and javaDoc updates
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCache.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/BaseHeapNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
Labels: Module: Near Cache, Team: Core, Type: Cleanup

#16462 Take serializeKeys into account in containsKey at ClientMapProxy
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReplicatedMapProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCache.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheSerializationCountTest.java
Labels: Team: Client, Type: Defect

#16463 Take serializeKeys into account in containsKey at ClientMapProxy
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientReplicatedMapProxy.java
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/NearCachedClientMapProxy.java
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheBasicTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheLeakTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/replicatedmap/nearcache/ClientReplicatedMapNearCacheSerializationCountTest.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/DefaultNearCache.java
Labels: Backport, Team: Client, Type: Defect

#16483 Disable metrics collection for LocalIndexStatsTest
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#16497 Use byte for member version fields in client protocol
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/MemberVersionCodec.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client, Type: Defect

#16501 remove unused error codes
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientProtocolErrorCodes.java
Labels: Team: Client, Type: Cleanup

#16461 [BACKPORT] Avoid using on-heap indexes while indexing is in progress
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/ConverterCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextProviderWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PartitionQueryContextProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PartitionQueryContextProviderWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PartitionQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryContext.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryContextProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AndPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BetweenPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BoundedRangePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/CompositeEqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/CompositeRangePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EvaluatePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EvaluateVisitor.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/GreaterLessPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/OrPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/RecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/AbstractIndexConcurrencyTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexConcurrencyTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/EvaluateVisitorTest.java
Labels: Backport, Module: IMap, Module: Query, Team: Core, Type: Defect

#16510 Do not check split-brain-protected presence when not enabled in config
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/SplitBrainProtectionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionTest.java
Labels: Team: Core, Type: Defect

#16511 Do not check quorum presence when quorum is not enabled
  hazelcast/src/main/java/com/hazelcast/quorum/impl/QuorumServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/quorum/QuorumTest.java
Labels: Backport, Team: Core, Type: Defect

#16515 Fix listener leak test when client destroyed
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Cause: Implementation - Timing, Not Release Notes content, Team: Client, Type: Test-Failure

#16516 Fix listener leak test when client destroyed
  hazelcast-client/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Backport, Cause: Test - Timing, Not Release Notes content, Team: Client, Type: Defect, Type: Test-Failure

#16500 Handle login exception when logging out
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
Labels: Team: Client, Type: Defect

#16518 Javadoc fixes
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastFailoverClientBeanDefinitionParser.java
  hazelcast/src/main/java/com/hazelcast/cache/HazelcastCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/config/BaseMetricsConfig.java
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MetricsJmxConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MetricsManagementCenterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/UserCodeDeploymentConfig.java
  hazelcast/src/main/java/com/hazelcast/core/Offloadable.java
  hazelcast/src/main/java/com/hazelcast/core/ReadOnly.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Priority: Low, Team: Core, Type: Enhancement

#16520 Avoid NPE on not-yet-built indexes
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextProviderWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PartitionQueryContextProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PartitionQueryContextProviderWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PartitionQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PredicateBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryContext.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryContextProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AbstractIndexAwarePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AndPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BetweenPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/BoundedRangePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/CompositeEqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/CompositeRangePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EqualPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EvaluatePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EvaluateVisitor.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/FalsePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/GreaterLessPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/InPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/IndexAwarePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/OrPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PagingPredicateImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/SqlPredicate.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientEntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/TestPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/PostJoinMapOperationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/CompositeIndexQueriesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/AbstractIndexConcurrencyTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/FalsePredicateTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexConcurrencyTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/EvaluateVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/PredicatesTest.java
Labels: Module: IMap, Module: Query, Team: Core, Type: Defect

#16508 Indicate eviction works by returning a boolean result)
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/impl/NearCacheTestSupport.java
Labels: Module: IMap, Module: Near Cache, Type: Test-Failure

#16522 Handle login exception when logging out
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
Labels: Backport, Team: Client, Type: Defect

#16521 Make member metrics JMX exposure to respect JMX sysprop
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/MemberJmxMetricsTest.java
Labels: Module: Metrics, Team: Core, Type: Cleanup

#16411 Remove references to a no-longer-existing InstanceListener interface
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Team: Client, Type: Cleanup

#16528 Updated hazelcast-aws with the latest version
  hazelcast-all/pom.xml
  hazelcast/pom.xml
Labels: Team: Core, Type: Enhancement

#16345 Fix METADATA group snapshot issues
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPGroupInfo.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MembershipChangeSchedule.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupSnapshot.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect

#16533 Fix WAN metric constant name
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Module: Metrics, Module: WAN, Team: Core, Type: Defect

#16502 Correct forgotten places for client invoke on UUID
  hazelcast/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAuthenticationCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAuthenticationCustomCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/SmartClientInvocationService.java
  hazelcast/src/test/java/com/hazelcast/client/ClientConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/client/connectionstrategy/ConfiguredBehaviourTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerTranslateTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/nio/ConnectMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
Labels: Team: Client, Type: Defect, Type: Perf. Defect

#16535 Revert "Make member metrics JMX exposure to respect JMX sysprop (#16521)
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/MemberJmxMetricsTest.java
Labels: Module: Metrics, Team: Core, Type: Cleanup

#16531 Proper full scan fallback for evaluate-only indexes
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Index.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EvaluatePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EvaluateVisitor.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/UnsupportedBitmapIndexPredicatesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/AttributeIndexRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/EvaluateVisitorTest.java
Labels: Module: Query, Team: Core, Type: Defect

#16538 Fix ChangeClusterStateOperation for clusters in passive state
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/ChangeClusterStateOperation.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
Labels: Source: Internal, Team: Management Center, Type: Defect

#16537 Revert protocol changes in MC client getCPMembers operation
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ManagementCenterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetCPMembersCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/EntryListUUIDUUIDCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetCPMembersMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/CPMemberDTO.java
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceCPOperationsTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Source: Internal, Team: Client, Team: Management Center, Type: Defect

#16545 Fixes client opening redundant connections
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerTranslateTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/nio/ConnectMemberListTest.java
Labels: Team: Client, Type: Defect

#16547 Increase test timeout and enhance failure message
  hazelcast/src/test/java/com/hazelcast/test/TestClusterUpgradeUtils.java
Labels: Module: Cluster, Team: Core, Type: Test-Failure

#16541 Make sure that the client is connected to all members before listener registrations
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ProxyManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientPartitionServiceImpl.java
Labels: Team: Client, Type: Defect, Type: Test-Failure

#16539 Disables scripting in default config
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/config/ManagementCenterConfig.java
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
  hazelcast/src/test/java/com/hazelcast/config/ManagementCenterConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ScriptingProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateIntegrationTest.java
Labels: Module: Config, Module: Security, Public API/SPI breaking change, Team: Core, Team: Management Center, Type: Enhancement

#16546 [BACKPORT] Proper full scan fallback for evaluate-only indexes
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Index.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EvaluatePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/EvaluateVisitor.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/UnsupportedBitmapIndexPredicatesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/EvaluateVisitorTest.java
Labels: Backport, Module: Query, Team: Core, Type: Defect

#16542 Fixed ClientClusterRestartEventTest.testMultiMemberRestart
  hazelcast-client/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#16524 Do not serialize optimize-queries option in MapConfig
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigTest.java
Labels: Module: Config, Team: Core, Type: Defect

#16554 Made [Single|Multi]ValueBitmapIndexTest reliable
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MultiValueBitmapIndexTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/SingleValueBitmapIndexTest.java
Labels: Module: Metrics, Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#16550 Prevent unneeded map container creation
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
Labels: Module: IMap, Team: Core, Type: Defect

#16557 Leftovers for changing license of hazelcast-spring
  hazelcast-spring/pom.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/beans-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/cache/cacheManager-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/cache/jCacheCacheManager-applicationContext-DI.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/cache/jCacheCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/cache/jCacheClientCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/cache/no-readtimeout-config.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/cache/readtimeout-config-prop-file.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/cache/readtimeout-config.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/cache/simple-config.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/client-network-defaults-context.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/context/managedContext-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/context/test-application-context.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/context/test-issue-2676-application-context.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/context/test-jcache-application-context.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/context/test-lite-member-application-context.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/discoveryConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/hibernate/hibernate-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/hotrestart/hot-restart-encryption-keystore-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/hotrestart/hot-restart-encryption-vault-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-failover-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/replicatedmap/replicatedMap-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/security/secure-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/springaware/springAware-disabled-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/springaware/springAware-enabled-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/transaction/transaction-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/withoutconfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/test/resources/hazelcast-default.properties
  hazelcast-spring/src/test/resources/log4j.properties
  hazelcast-spring/src/test/resources/log4j2-info.xml
  hazelcast-spring/src/test/resources/log4j2.xml
  hazelcast-spring/src/test/resources/test-issue-2676.properties
Labels: Team: Core

#16558 Fix clusterViewListener Leak
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
Labels: Team: Client, Team: Core, Type: Defect

#16559 [Revert] Make the Client ProxyManager not listen to the distributed object events
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAddDistributedObjectListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddDistributedObjectListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ProxyManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/ClientDistributedObjectListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/core/DistributedObjectListenerTest.java
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
Labels: Team: Client

#16563 Fix flaky ManagementCenterServiceIntegrationTest
  hazelcast/src/test/java/com/hazelcast/internal/management/ManagementCenterServiceIntegrationTest.java
Labels: Team: Management Center, Type: Test-Failure

#16564 Fixes NPE when completing exceptionally in ExecutorService
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
Labels: Module: IExecutor, Team: Core, Type: Defect

#16568 Null support for InPredicate
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/InPredicate.java
  hazelcast/src/test/java/com/hazelcast/query/impl/InPredicateNullsTest.java
Labels: Module: Query, Team: Core

#16578 [BACKPORT] Null support for InPredicate
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/InPredicate.java
  hazelcast/src/test/java/com/hazelcast/query/impl/InPredicateNullsTest.java
Labels: Backport, Module: Query, Team: Core

#16589 Update Hazelcast Kubernetes to 1.5.3
  hazelcast-all/pom.xml
Labels: Team: Integration, Type: Defect

#16591 Update Hazelcast Kubernetes plugin to 2.0.1
  hazelcast-all/pom.xml
Labels: Team: Integration, Type: Defect

#16590 Update Hazelcast Kubernetes plugin to 2.0.1
  hazelcast-all/pom.xml
Labels: Team: Integration, Type: Defect

#16592 Update Hazelcast Kubernetes plugin to 2.0.1
  hazelcast-all/pom.xml
Labels: Team: Integration, Type: Defect

#16561 clean up DefaultMessageTaskFactoryProvider
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
Labels: Source: Community, Team: Client, Type: Cleanup
