Repository hazelcast/hazelcast, pull requests merged in 2020-02, with the labels that each got.

#16600 Wait for cluster to form in bitmap index tests
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MultiValueBitmapIndexTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/SingleValueBitmapIndexTest.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#16597 Wait for cluster to form in bitmap index tests
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MultiValueBitmapIndexTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/SingleValueBitmapIndexTest.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#16585 Fix default class loader for client user code deployment service
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientUserCodeDeploymentService.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentConfigTest.java
Labels: Team: Client, Type: Defect

#16587 Fix default class loader for client user code deployment service
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientUserCodeDeploymentService.java
  hazelcast-client/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentConfigTest.java
Labels: Backport, Team: Client, Type: Defect

#16584 Fix default class loader for client user code deployment service
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientUserCodeDeploymentService.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentConfigTest.java
Labels: Backport, Team: Client, Type: Defect

#16570 Set longer heartbeat timeout for test
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipFailureTest.java
Labels: Team: Core, Type: Test-Failure

#16606 Don't exclude buildutils JavaDoc in release profile
  pom.xml
Labels: Team: Core, Team: Documentation

#16614 Allow blocking Raft invocations to op-timeout after wait timeout
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/ResourceRegistry.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockLongAwaitTest.java
Labels: Module: CP Subsystem, Module: Lock, Type: Defect

#16615 [BACKPORT] Allow blocking Raft invocations to op-timeout after wait timeout
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/ResourceRegistry.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockLongAwaitTest.java
Labels: Module: CP Subsystem, Module: Lock, Team: Core, Type: Defect

#16616 [BACKPORT] Allow blocking Raft invocations to op-timeout after wait timeout
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/ResourceRegistry.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockLongAwaitTest.java
Labels: Module: CP Subsystem, Module: Lock, Team: Core, Type: Defect

#16607 remove unnecessary null check from Frame#getSize
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
Labels: Team: Client, Type: Cleanup

#16608 [BACKPORT] remove unnecessary null check from Frame#getSize
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
Labels: Team: Client, Type: Cleanup

#16594 Map/Cache/MultiMap should return Int.MAX when size overflows int32
  hazelcast/src/main/java/com/hazelcast/cache/ICache.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/multimap/MultiMapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/MapUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/internal/util/MapUtilTest.java
Labels: Module: ICache, Module: IMap, Module: MultiMap, Team: Core, Type: Defect

#16595 Map/Cache/MultiMap should return Int.MAX when size overflows int32
  hazelcast/src/main/java/com/hazelcast/cache/ICache.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/multimap/MultiMapSizeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/MapUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/internal/util/MapUtilTest.java
Labels: Backport, Module: ICache, Module: IMap, Module: MultiMap, Team: Core, Type: Defect

#16602 Cleanup: Remove the look up to member list on client invocation
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/SmartClientInvocationService.java
  hazelcast/src/test/java/com/hazelcast/client/heartbeat/ClientHeartbeatTest.java
Labels: Team: Client, Type: Cleanup

#16603 Cleanup: Remove the look up to member list on client invocation
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/SmartClientInvocationService.java
  hazelcast/src/test/java/com/hazelcast/client/heartbeat/ClientHeartbeatTest.java
Labels: Backport, Team: Client, Type: Cleanup

#16631 Wait for cluster to form in bitmap index tests
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MultiValueBitmapIndexTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/SingleValueBitmapIndexTest.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#16617 Fix txn near cache
  hazelcast/src/main/java/com/hazelcast/collection/impl/txncollection/CollectionTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCachingHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/txn/MultiMapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLog.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransaction.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionStressTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/TxnMapNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/transaction/impl/MockTransactionLogRecord.java
Labels: Backport, Module: IMap, Module: Near Cache, Module: Transactions, Team: Core, Type: Defect

#16618 Fix txn near cache
  hazelcast/src/main/java/com/hazelcast/collection/impl/txncollection/CollectionTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCachingHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/txn/MultiMapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLog.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XATransaction.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionStressTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/TxnMapNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/transaction/impl/MockTransactionLogRecord.java
Labels: Backport, Module: IMap, Module: Near Cache, Module: Transactions, Team: Core, Type: Defect

#16598 Ensure cache is created in test
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheCreationTest.java
Labels: Team: Client, Type: Test-Failure

#16599 Ensure cache is created in test
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheCreationTest.java
Labels: Backport, Team: Client, Type: Test-Failure

#16633 Fix typo in GC unknownCount metric descriptor constant
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/ClassLoadingMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/FileMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/GarbageCollectionMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/OperatingSystemMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/RuntimeMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/ThreadMetricSetTest.java
Labels: Module: Metrics, Team: Core, Type: Test-Failure

#16635 [BACKPORT] Fix typo in GC unknownCount metric descriptor constant
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/ClassLoadingMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/FileMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/GarbageCollectionMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/OperatingSystemMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/RuntimeMetricSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/metricsets/ThreadMetricSetTest.java
Labels: Module: Metrics, Team: Core, Type: Test-Failure

#16582 Fixed an old incorrect merge in EntryProcessorTest
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#16610 Fixes order problem in client user code deployment
  hazelcast-client/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast-client/src/test/resources/ChildParent.jar
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/UserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassSource.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/operation/DeployClassesOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/ClassDataProviderTest.java
  hazelcast/src/test/java/usercodedeployment/SampleBaseClass.java
  hazelcast/src/test/java/usercodedeployment/SampleSubClass.java
Labels: Add to Release Notes, Backport, Team: Client, Type: Defect

#16613 Align test code with 4.0.z branch
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
  hazelcast/src/test/java/com/hazelcast/cache/eviction/ExtendedCacheExpirationTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#16632 migrate ClientExceptionFactory to java 8
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
Labels: Not Release Notes content, Team: Client, Type: Cleanup

#16611 Fixes order problem in client user code deployment
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientUserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/UserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassSource.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/operation/DeployClassesOperation.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/ClassDataProviderTest.java
  hazelcast/src/test/java/usercodedeployment/SampleBaseClass.java
  hazelcast/src/test/java/usercodedeployment/SampleSubClass.java
  hazelcast/src/test/resources/ChildParent.jar
Labels: Add to Release Notes, Backport, Team: Client, Type: Defect

#16612 Fixes order problem in client user code deployment
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientUserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/UserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassSource.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/operation/DeployClassesOperation.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/ClassDataProviderTest.java
  hazelcast/src/test/java/usercodedeployment/SampleBaseClass.java
  hazelcast/src/test/java/usercodedeployment/SampleSubClass.java
  hazelcast/src/test/resources/ChildParent.jar
Labels: Add to Release Notes, Team: Client, Type: Defect

#16639 Compatibility test related fixes and improvements
  hazelcast/src/main/java/com/hazelcast/internal/cluster/Versions.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/VersionsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableImplementsVersionedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/VersionedObjectDataInputAndOutputTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/DeleteOperationWanFlagSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/CompatibilityTestUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/PartitionContainerAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/test/AnswerTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastProxyFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
  hazelcast/src/test/java/com/hazelcast/version/MemberVersionTest.java
  pom.xml
Labels: Module: Rolling Upgrade, Team: Core, Type: Defect, Type: Test-Failure

#16627 Several migration fixes
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/UnsafeModePartitionState.java
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DurableExecutorPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FetchPartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorPartition.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#16628 Several migration fixes
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/UnsafeModePartitionState.java
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/DurableExecutorPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FetchPartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorPartition.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Defect

#16629 Several migration fixes
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FetchPartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
Labels: Backport, Module: Partitioning, Team: Core, Type: Defect

#16645 [BACKPORT] Preserve vote when Raft leader demotes to the follower role
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/RaftState.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalRaftTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/RaftUtil.java
Labels: Module: CP Subsystem, Type: Defect

#16643 Preserve vote when Raft leader demotes to the follower role
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/RaftState.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/LocalRaftTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/RaftUtil.java
Labels: Module: CP Subsystem, Type: Defect

#16637 Renamed MultiMap proxy implementation to follow established naming convention
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
Labels: Module: MultiMap, Source: Community, Team: Core, Type: Enhancement

#16622 Make logging of version, cluster name and ip optional
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientLoggingService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientExecutionServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftIntegration.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MockIOService.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/TcpIpConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl_AbstractTest.java
Labels: Source: Jet, Type: Enhancement

#16652 Disable management for CacheTypesConfigTest
  hazelcast/src/test/java/com/hazelcast/cache/CacheTypesConfigTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#16649 Make assertion eventually in MapLoaderFailoverTest#testLoadsAll_whenInitialLoaderNodeRemovedWhileLoading
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderFailoverTest.java
Labels: Module: IMap, Team: Core, Type: Test-Failure

#16654 Upgrade log4j2 version to 2.13.0
  pom.xml
Labels: Type: Enhancement

#16648 Client UserCodeDeployment Test without mock
  hazelcast-client/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentConfigTest.java
Labels: Team: Client, Type: Test-Failure

#16647 Client UserCodeDeployment Test without mock
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentConfigTest.java
Labels: Team: Client, Type: Test-Failure

#16646 Client UserCodeDeployment Test without mock
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentConfigTest.java
Labels: Team: Client, Type: Test-Failure

#16642 Made ScheduledExecutorServiceBasicTest more reliable
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceSlowTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceTestSupport.java
Labels: Module: IScheduledExecutor, Source: Internal, Team: Core, Type: Test-Failure

#16660 Wait test result in eventual assertion
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryAdvancedTest.java
Labels: Module: Query, Team: Core, Type: Test-Failure

#16657 Fix DurableExecutorServiceTest
  hazelcast/src/main/java/com/hazelcast/durableexecutor/impl/TaskRingBuffer.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableExecutorServiceTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableLongRunningTaskTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableRetrieveResultTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableSingleNodeTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableSmallClusterTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableSpecificSetupTest.java
  hazelcast/src/test/java/com/hazelcast/durableexecutor/MemberDurableExecutorNullTest.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceCancelTest.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTest.java
  hazelcast/src/test/java/com/hazelcast/executor/ExecutorServiceTestSupport.java
  hazelcast/src/test/java/com/hazelcast/executor/SingleNodeTest.java
  hazelcast/src/test/java/com/hazelcast/executor/SmallClusterTest.java
  hazelcast/src/test/java/com/hazelcast/executor/SpecificSetupTest.java
Labels: Module: IExecutor, Team: Core, Type: Test-Failure

#16659 Increase test timeouts
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/impl/AbstractNearCachePreloaderTest.java
Labels: Module: IMap, Module: Near Cache, Team: Core, Type: Test-Failure

#16685 Update checkstyle to 8.29
  checkstyle/checkstyle.xml
  pom.xml
Labels: Module: Security, Type: Cleanup

#16630 Make logging of version, cluster name and ip optional
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientLoggingService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientExecutionServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftIntegration.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/MockIOService.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/TcpIpConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl_AbstractTest.java
Labels: Source: Jet, Type: Enhancement

#16680 Handle network disconnections between slave nodes
  NOTICE
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterHeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/PartialDisconnectionHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/HeartbeatOp.java
  hazelcast/src/main/java/com/hazelcast/internal/util/graph/BronKerboschCliqueFinder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/graph/Graph.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/fd/ClusterFailureDetectorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/fd/PhiAccrualFailureDetectorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/fd/PingFailureDetectorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/AdvancedClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/BasicClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/BindMessageTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/ClusterRollingRestartTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/ClusterStateManagerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/ClusterVersionInitTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/DiscoveryJoinerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/EventRegistrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MemberListJoinVersionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MemberSelectingCollectionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MemberSelectingIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembersViewMetadataTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembersViewTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipFailureTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/NoMigrationClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/PromoteLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/SingleProcessorMemberTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/graph/BronKerboschCliqueFinderTest.java
Labels: Add to Release Notes, Module: Cluster, Source: Internal, Team: Core, Type: Enhancement
