Repository hazelcast/hazelcast, pull requests merged in 2020-11, with the labels that each got.

#17807 TableResolver: propagate @Nonnull to impl methods
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTableResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/SqlCatalogTest.java
Labels: Module: SQL, Type: Defect

#17806 Use Consumer<T> instead of <Function<T, Void>
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Cleanup

#17812 [BACKPORT-4.1] The replicationmap-permission support added to configuration persistance handlers
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Backport, Module: Security, Team: Core, Type: Defect

#17811 [BACKPORT 4.1.z] Fixes NPE in /node-state REST calls when the Node is not fully activated
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeState.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestNodeStateTest.java
Labels: Backport, Module: REST, Team: Core, Type: Defect

#17810 The replicationmap-permission support added to configuration persistance handlers
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast-spring/src/main/resources/hazelcast-spring-4.2.xsd
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-config-4.2.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Security, Team: Core, Type: Defect

#17813 [BACKPORT-4.1.z] The replicationmap-permission support added to configuration persistance handlers
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Backport, Module: Security, Team: Core, Type: Defect

#17815 Build original sql jar without included dependencies.
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Source: Jet, Team: Core

#17820 Build original sql jar without included dependencies.
  hazelcast-sql/pom.xml
Labels: Backport, Module: SQL, Source: Internal, Source: Jet, Team: Core

#17823 Semaphore.release javadoc fix
  hazelcast/src/main/java/com/hazelcast/cp/ISemaphore.java
Labels: Module: CP Subsystem, Type: Defect, Type: Documentation

#17831 Fixed shade plugin configuration in the SQL module
  hazelcast-sql/pom.xml
Labels: Module: SQL, Team: Core

#17832 Fixed shade plugin configuration in the SQL module
  hazelcast-sql/pom.xml
Labels: Backport, Module: SQL, Team: Core

#17828 Session aware semaphore is not bound to the thread but HazelcastInstance
  hazelcast/src/main/java/com/hazelcast/core/ISemaphore.java
Labels: Module: CP Subsystem, Type: Defect, Type: Documentation

#17827 Semaphore.release javadoc fix
  hazelcast/src/main/java/com/hazelcast/cp/ISemaphore.java
Labels: Module: CP Subsystem, Type: Defect, Type: Documentation

#17713 Add migration listener on client
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAddMigrationListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientRemoveMigrationListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/MigrationStateCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddMigrationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/RemoveMigrationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/IPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationStateImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationListenerAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionEventManager.java
  hazelcast/src/test/java/com/hazelcast/client/partitionservice/ClientMigrationListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/partitionservice/PartitionServiceProxyTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationListenerAdapterTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
  hazelcast/src/test/resources/2.2.protocol.compatibility.binary
  hazelcast/src/test/resources/2.2.protocol.compatibility.null.binary
Labels: Module: Partitioning, Source: Community, Team: Client, Type: Enhancement

#17780 Additional SQL expression tests
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/HazelcastDoubleFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastInferTypes.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/schema/HazelcastTableStatisticTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlConformanceTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastInferTypesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/types/InferTypesTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/types/ReplaceUnknownOperandTypeInferenceTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/AbsFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/CeilFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DoubleFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/FloorFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RandFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RoundFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/SignFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/TruncateFunctionIntegrationTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17814 Moves top slowest serial tests to SlowTest category
  hazelcast/src/test/java/classloading/ThreadLeakClientTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/ConnectMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientDiscoverySpiTest.java
  hazelcast/src/test/java/com/hazelcast/client/io/AdvancedNetworkClientIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientTxnOwnerDisconnectedTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/AutoDetectionJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/LiteMemberJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpJoinTest.java
  hazelcast/src/test/java/com/hazelcast/config/CacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastInstanceFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NioChannelMemoryLeakTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/HttpRestEndpointGroupsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager_MemoryLeakTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindUponMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/multicast/MemberToMemberDiscoveryTest.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Enhancement

#17779 Small instance config for quick PartitionCorrectnessTestSupport tests
  hazelcast/src/test/java/com/hazelcast/internal/partition/AntiEntropyCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/DirtyBackupTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/GracefulShutdownCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionAssignmentsCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#17854 AliasedDiscoveryConfig should use ConfigUtils#matches to compare config entries
  hazelcast/src/main/java/com/hazelcast/config/AliasedDiscoveryConfig.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17861 [FORWARD PORT] Fixes for compatibility tests
  hazelcast-build-utils/pom.xml
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/FinalRemovalAgent.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheBasicAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheFromDifferentNodesTest.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
Labels: Module: Rolling Upgrade, Team: Core, Type: Test-Failure

#17842 Allow disabling XXE protection
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/XmlUtilTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Enhancement

#17868 [BACKPORT 4.1.z] Allow ignoring XXE protection configuration failures
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/XmlUtilTest.java
Labels: Backport

#17869 [BACKPORT 4.0.z] Allow ignoring XXE protection configuration failures
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/XmlUtilTest.java
Labels: Backport

#17870 [BACKPORT 3.12.z] Allow ignoring XXE protection configuration failures
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
  hazelcast/src/main/java/com/hazelcast/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/XmlUtilTest.java
  hazelcast/src/test/java/com/hazelcast/util/StringUtilTest.java
Labels: Backport

#17871 [BACKPORT 3.11.z] Allow ignoring XXE protection configuration failures
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
  hazelcast/src/main/java/com/hazelcast/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/XmlUtilTest.java
  hazelcast/src/test/java/com/hazelcast/util/StringUtilTest.java
Labels: Backport

#17742 Fix metric units (#16796)
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeUnit.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalCacheStatsImpl.java
Labels: Module: Metrics, Source: Community, Team: Core, Type: Defect, hacktoberfest-accepted

#17875 Ensure that RestApiConfig configuration parsing doesn't overwrite existing values
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17878 Ensure that advanced network configuration parsing doesn't overwrite existing values
  hazelcast/src/main/java/com/hazelcast/config/ServerSocketEndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17864 Exclude StaticLoggerBinder from sql jar
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Source: Jet, Team: Core

#17866 Exclude StaticLoggerBinder from sql jar
  hazelcast-sql/pom.xml
Labels: Backport, Module: SQL, Source: Internal, Source: Jet, Team: Core

#17819 Fix shade warnings during SQL module build
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17890 [BACKPORT] Bump guava from 24.1.1-jre to 30.0-jre
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Team: Core, dependencies

#17844 Prevent client ending up with two addresses to same node when node is behind a private network
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/ConnectMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
Labels: Source: Internal, Team: Client, Type: Defect

#17888 Prevent client ending up with two addresses to same node when node is behind a private network
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/ConnectMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect

#17885 Ensure that HotRestartPersistence/UserCodeDeployment configs are not overwritten during parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17891 Don't promote transitive dependencies in shaded hazelcast-all
  hazelcast-all/pom.xml
  hazelcast-all/src/test/java/com/hazelcast/it/DependencyReducedPomAllIT.java
  hazelcast-sql/pom.xml
  hazelcast-sql/src/test/java/com/hazelcast/it/DependencyReducedPomSqlIT.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/replacer/EncryptionReplacer.java
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
  hazelcast/src/test/java/com/hazelcast/config/IterableNodeListTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigSchemaLocationTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlOnlyConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/XmlUtilTest.java
  hazelcast/src/test/java/com/hazelcast/it/DependencyReducedPomIT.java
  hazelcast/src/test/resources/hazelcast-client-multicast-plugin.xml
Labels: Team: Core, Type: Defect

#17905 Fix cp-subsystem.sh parameters
  hazelcast/src/main/resources/cp-subsystem.sh
Labels: Module: CP Subsystem, Source: Internal, Type: Defect
