Repository hazelcast/hazelcast, pull requests merged in 2020-12, with the labels that each got.

#17584 Try context classloader even the classname starts with 'com.hazelcast'
  hazelcast/src/main/java/com/hazelcast/internal/nio/ClassLoaderUtil.java
Labels: Module: Serialization, Source: Internal, Source: Jet, Team: Core, Type: Defect

#17899 [BACKPORT 4.1.z] Fix violations from zero-dependency policy and add regression tests
  hazelcast-all/pom.xml
  hazelcast-all/src/test/java/com/hazelcast/it/DependencyReducedPomAllIT.java
  hazelcast-sql/pom.xml
  hazelcast-sql/src/test/java/com/hazelcast/it/DependencyReducedPomSqlIT.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientFailoverConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/replacer/EncryptionReplacer.java
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
  hazelcast/src/test/java/com/hazelcast/config/IterableNodeListTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigSchemaLocationTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlOnlyConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/XmlUtilTest.java
  hazelcast/src/test/java/com/hazelcast/it/DependencyReducedPomIT.java
  hazelcast/src/test/resources/hazelcast-client-multicast-plugin.xml
Labels: Backport, Team: Core, Type: Defect

#17857 Fix failing runScript test on JDK 15
  hazelcast/src/test/java/com/hazelcast/client/management/ManagementCenterServiceTest.java
Labels: Type: Test-Failure

#17907 Fix cp-subsystem.sh parameters
  hazelcast/src/main/resources/cp-subsystem.sh
Labels: Module: CP Subsystem, Source: Internal, Type: Defect

#17239 Remove InetSockedAddressCache From Client
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
Labels: Source: Internal, Team: Client, Type: Defect

#17757 Fixed a data loss issue on lite member promotion (#17644)
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/PromoteLiteMemberTest.java
Labels: Backport, Module: Cluster, Priority: Medium, Source: Internal, Team: Core, Type: Defect

#17911 Remove InetSockedAddressCache From Client
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
Labels: Team: Client, Type: Defect

#17889 Introduce NODE_AWARE partitioning group type
  hazelcast/src/main/java/com/hazelcast/config/PartitionGroupConfig.java
  hazelcast/src/main/java/com/hazelcast/partition/membergroup/MemberGroupFactoryFactory.java
  hazelcast/src/main/java/com/hazelcast/partition/membergroup/NodeAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/DiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/integration/DiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupMetaData.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupStrategy.java
  hazelcast/src/main/resources/hazelcast-config-3.12.xsd
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/partition/membergroup/MemberGroupFactoryTest.java
Labels: Module: Discovery SPI, Source: Internal, Team: Core, Team: Integration, Type: Enhancement

#17912 [FORWARD-PORT 4.1.z] Introduce NODE_AWARE partitioning group type
  hazelcast/src/main/java/com/hazelcast/config/PartitionGroupConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/NodeAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/ZoneAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/DiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupMetaData.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupStrategy.java
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryTest.java
Labels: Module: Discovery SPI, Source: Internal, Team: Core, Team: Integration, Type: Enhancement

#17913 [FORWARD-PORT 4.0.z] Introduce NODE_AWARE partitioning group type
  hazelcast/src/main/java/com/hazelcast/config/PartitionGroupConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/NodeAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/ZoneAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/DiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupMetaData.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupStrategy.java
  hazelcast/src/main/resources/hazelcast-config-4.0.xsd
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryTest.java
Labels: Module: Discovery SPI, Source: Internal, Team: Core, Team: Integration, Type: Enhancement

#17914 [FORWARD-PORT] Introduce NODE_AWARE partitioning group type
  hazelcast/src/main/java/com/hazelcast/config/PartitionGroupConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/NodeAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/ZoneAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/DiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupMetaData.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupStrategy.java
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-config-4.2.xsd
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryTest.java
Labels: Module: Discovery SPI, Source: Internal, Team: Core, Team: Integration, Type: Enhancement

#17758 [BACKPORT] Fixed a data loss issue on lite member promotion (#17644)
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/PromoteLiteMemberTest.java
Labels: Backport, Estimation: S, Module: Cluster, Priority: Medium, Source: Internal, Team: Core, Type: Defect

#17918 Initialize SplitBrainProtectionConfig with valid values
  hazelcast/src/main/java/com/hazelcast/config/SplitBrainProtectionConfig.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17920 Relax testClientConnectionEvents event expectation
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
Labels: Team: Client, Type: Test-Failure

#17926 Upgrade kubernetes plugin version to 1.5.5
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration

#17927 Upgrade kubernetes plugin version to 1.5.5
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration

#17929 Upgrade kubernetes plugin version to 2.2.1
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration

#17928 Upgrade kubernetes plugin version to 2.2.1
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration

#17897 Remove StoreAdapter
  hazelcast/src/main/java/com/hazelcast/internal/util/IterableUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/StoreAdapter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/AccumulationExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/AggregationResultProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/CallerRunsAccumulationExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/ParallelAccumulationExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/ResultProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStoreAdapter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/DefaultIndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/internal/util/IterableUtilTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/ConverterResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/AttributeCanonicalizationTest.java
Labels: Module: IMap, Module: Query, Source: Internal, Team: Core, Type: Enhancement

#17925 Relax testClientConnectionEvents event expectation
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
Labels: Backport, Team: Client, Type: Test-Failure

#17910 Add remove logger method to LoggingService and LoggerFactory interfaces
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientLoggingService.java
  hazelcast/src/main/java/com/hazelcast/logging/Logger.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggerFactory.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggerFactorySupport.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggingService.java
  hazelcast/src/main/java/com/hazelcast/logging/NoLogFactory.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/logging/CustomLoggerFactorySingularityTest.java
  hazelcast/src/test/java/com/hazelcast/logging/LoggerStressTest.java
  hazelcast/src/test/java/com/hazelcast/logging/RemoveLoggerTest.java
Labels: Public API/SPI breaking change, Source: Internal, Source: Jet, Team: Core, Type: Enhancement

#17915 Try context classloader even the classname starts with 'com.hazelcast'
  hazelcast/src/main/java/com/hazelcast/internal/nio/ClassLoaderUtil.java
Labels: Backport, Source: Internal, Source: Jet, Team: Core, Type: Defect

#17908 Try context classloader even the classname starts with 'com.hazelcast'
  hazelcast/src/main/java/com/hazelcast/internal/nio/ClassLoaderUtil.java
Labels: Backport, Source: Internal, Source: Jet, Team: Core, Type: Defect

#17909 Method removal and unifications
  hazelcast/src/main/java/com/hazelcast/map/impl/ExpirationTimeSetter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapMergePolicyQuickTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapMergePolicySerializationTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Cleanup

#17886 Implement IMap.entrySet() on a PartitionIdSet
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/PagingPredicateHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteOnKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/PartitionIdSet.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/AggregationResult.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Result.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Target.java
  hazelcast/src/main/java/com/hazelcast/query/PagingPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/PartitionPredicate.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetector.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/responses/NormalResponse.java
  hazelcast/src/test/java/com/hazelcast/client/projection/ClientMapProjectionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/PartitionIdSetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/LocalKeySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapEntrySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapKeySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapValuesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngineImplTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngine_DispatchTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/TargetTest.java
  hazelcast/src/test/java/com/hazelcast/projection/MapProjectionTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: IMap, Source: Internal, Source: Jet, Team: Core, Type: Enhancement

#17917 Ensure that SplitBrainProtection configs are not overwritten during parsing
  hazelcast/src/main/java/com/hazelcast/config/SplitBrainProtectionConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17924 Ensure that cardinality estimator configs are not overwritten during parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17923 Ensure that executor configs are not overwritten during parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/DomConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17916 [BACKPORT] Add remove logger method to LoggingService and LoggerFactory interfaces
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientLoggingService.java
  hazelcast/src/main/java/com/hazelcast/logging/Logger.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggerFactory.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggerFactorySupport.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggingService.java
  hazelcast/src/main/java/com/hazelcast/logging/NoLogFactory.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/logging/CustomLoggerFactorySingularityTest.java
  hazelcast/src/test/java/com/hazelcast/logging/LoggerStressTest.java
  hazelcast/src/test/java/com/hazelcast/logging/RemoveLoggerTest.java
Labels: Backport, Source: Internal, Team: Core, Type: Enhancement

#17941 Upgrade kubernetes plugin version to 2.2.1
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration

#17940 Ensure PNCounter/FlakeIdGenerator configs are not overwritten when parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17943 [BACKPORT 4.1.z] Downgrade surefire plugin to resolve OOM issues in 3.0.0-M4
  modulepath-tests/pom.xml
  pom.xml
Labels: Type: Defect

#17898 Compress metric units defensively
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeUnit.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/ProbeUnitTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsCompressorTest.java
Labels: Module: Metrics, Source: Internal, Type: Defect

#17945 Ensure MemcacheProtocol config is not overwritten when parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17949 Fix broken sources produced by the "shade" plugin
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Team: Core

#17937 Implement IMap.entrySet() on a PartitionIdSet (forward-port of #17886)
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/PagingPredicateHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteOnKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/PartitionIdSet.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/AggregationResult.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Result.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Target.java
  hazelcast/src/main/java/com/hazelcast/query/PagingPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/PartitionPredicate.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetector.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/responses/NormalResponse.java
  hazelcast/src/test/java/com/hazelcast/client/projection/ClientMapProjectionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/PartitionIdSetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/LocalKeySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapEntrySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapKeySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapValuesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngineImplTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngine_DispatchTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/TargetTest.java
  hazelcast/src/test/java/com/hazelcast/projection/MapProjectionTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: IMap, Source: Jet, Team: Core, Type: Enhancement

#17946 Ensure List/Set/Map/MultiMap/ReplicatedMap/Queue configs are not overwritten when parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17963 Improve ClientFailoverConfig documentation
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
Labels: Team: Client, Type: Documentation, Type: Enhancement

#17964 Fixes serialization of PreJoinCacheConfig
  hazelcast/src/main/java/com/hazelcast/cache/impl/PreJoinCacheConfig.java
Labels: Module: ICache, Module: Rolling Upgrade, Team: Core, Type: Defect

#17966 Improve ClientNotAllowedInClusterException javadoc
  hazelcast/src/main/java/com/hazelcast/client/ClientNotAllowedInClusterException.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
Labels: Source: Internal, Team: Client, Type: Documentation

#17968 [BACKPORT] Improve ClientFailoverConfig documentation
  hazelcast/src/main/java/com/hazelcast/client/ClientNotAllowedInClusterException.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
Labels: Backport, Source: Internal, Team: Client, Type: Documentation, Type: Enhancement

#17967 [BACKPORT] Improve ClientFailoverConfig documentation
  hazelcast/src/main/java/com/hazelcast/client/ClientNotAllowedInClusterException.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
Labels: Backport, Source: Internal, Team: Client, Type: Documentation, Type: Enhancement

#17972 Ensure AuditLog config is not overwritten during parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17969 Ensure Map's MerkleTree/EventJournal configs are not overwritten during parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17948 Cleanup rolling-upgrade support code
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/topic/TopicPublishAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/DurableExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueueConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ScheduledExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/IPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionRuntimeState.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionTableView.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/DefaultPartitionReplicaInterceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationThread.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionStateCheckOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PublishCompletedMigrationsOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TotalOrderedTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicProxy.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionTableViewTest.java
Labels: Module: Rolling Upgrade, Team: Core, Type: Enhancement

#17987 [4.1.1 BACKPORT] Fix broken sources produced by the "shade" plugin
  hazelcast-sql/pom.xml
Labels: Backport, Module: SQL, Source: Internal, Team: Core, Type: Defect

#17988 [4.1.z BACKPORT] Fix broken sources produced by the "shade" plugin
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17991 Workaround for missing hazelcast-sql-javadoc.jar
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/javadoc/.gitkeep
Labels: Module: SQL, Source: Internal, Team: Core

#17992 [BACKPORT-4.1.1] Workaround for missing hazelcast-sql-javadoc.jar
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/javadoc/.gitkeep
Labels: Backport, Module: SQL, Source: Internal, Team: Core

#17994 Remove duplicate StaticLoggerBinder from "hazelcast-sql-core" module.
  hazelcast-sql-core/src/main/java/org/slf4j/impl/StaticLoggerBinder.java
Labels: Source: Internal, Team: Core, Type: Defect

#17953 Schema support for the SQL public API
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlErrorClientTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlSchemaPropagationTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecute2Codec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/NoSuchMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlStatement.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/sql/SqlStatementTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlTestSupport.java
  hazelcast/src/test/resources/2.2.protocol.compatibility.binary
  hazelcast/src/test/resources/2.2.protocol.compatibility.null.binary
Labels: Module: SQL, Priority: Medium, Source: Internal, Team: Core

#17984 [BACKPORT] catch exception when method can't be make accessible
  hazelcast/src/main/java/com/hazelcast/util/OperatingSystemMXBeanSupport.java
Labels: Backport

#17906 Bring back two-argument signature of ReflectionHelper.createGetter()
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ReflectionHelper.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#17759 [BACPORT] Fixed PartitionIndexingTest (#17738)
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
Labels: Backport, Estimation: S, Module: Cluster, Priority: Medium, Source: Internal, Team: Core

#18000 Fixes read of generic record
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/GenericRecordBuilderTest.java
Labels: Module: Serialization, Source: Internal, Type: Defect

#18001 Fixes read of generic record
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/GenericRecordBuilderTest.java
Labels: Backport, Module: Serialization, Source: Internal, Type: Defect

#17976 Added quotation mark
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
Labels: Source: Community, Team: Core, Type: Enhancement

#17995 [BACKPORT 4.1.z] Workaround for missing hazelcast-sql-javadoc.jar
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/javadoc/.gitkeep
Labels: Backport, Module: SQL, Source: Internal, Team: Core

#18012 Stabilized and fixed Tenant Control tests - were failing intermittently
  hazelcast/src/test/java/com/hazelcast/spi/tenantcontrol/TenantControlTest.java
Labels: Source: Community, Team: Core, Type: Test-Failure

#18015 Describe ttl and maxIdle in IMap operations
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
Labels: Module: IMap, Source: Internal, Team: Client, Team: Core, Type: Documentation
