Repository hazelcast/hazelcast, pull requests merged in 2020-07, with the labels that each got.

#17157 Delete unused xsd content
  hazelcast/src/main/resources/hazelcast-client-config-4.0.xsd
Labels: Backport, Not Release Notes content, Team: Client, Type: Defect

#17156 Delete unused xsd content
  hazelcast/src/main/resources/hazelcast-client-config-4.0.xsd
  hazelcast/src/main/resources/hazelcast-client-config-4.1.xsd
Labels: Not Release Notes content, Team: Client, Type: Defect

#17161 Don't exclude com.hazelcast.collection from JavaDoc
  pom.xml
Labels: Team: Documentation

#17145 Speed up off-heap memory release when Metrics compressor is reset
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#17163 Speed up off-heap memory release when Metrics compressor is reset
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java
Labels: Module: Metrics, Team: Core, Type: Defect

#17152 Log terminate in finest when the client is closing
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/ClientReliableMessageRunner.java
Labels: Backport, Team: Client, Type: Defect

#17153 Log terminate in finest when the client is closing
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableMessageRunner.java
Labels: Team: Client, Type: Defect

#17154 Log terminate in finest when the client is closing
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableMessageRunner.java
Labels: Backport, Team: Client, Type: Defect

#17151 Logging for Node creation failures
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
Labels: Team: Core, Type: Enhancement

#16941 Send all the Diagnostics logs to the stdout, instead of local files
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLog.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogFile.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsStdout.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsLogTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsStdoutTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsTest.java
Labels: Module: Diagnostics, Source: Community, Team: Core, Type: Enhancement

#17166 [BACKPORT 3.12.z] Log Node creation failures to the logger defined for Hazelcast
  hazelcast/src/main/java/com/hazelcast/instance/Node.java
Labels: Backport, Team: Core

#17165 [BACKPORT 4.0.z] Log Node creation failures to the logger defined for Hazelcast
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
Labels: Backport, Team: Core

#17147 Handle membership in the client on split brain
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/test/java/com/hazelcast/client/heartbeat/ClientHeartbeatTest.java
Labels: Team: Client, Type: Defect

#17148 Handle membership in the client on split brain
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/test/java/com/hazelcast/client/heartbeat/ClientHeartbeatTest.java
Labels: Team: Client, Type: Defect

#17134 create ExtendedMapEntry in order to create a mechanism for setting Ttls in EntryProcessors
  hazelcast/src/main/java/com/hazelcast/map/ExtendedMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Backport, Source: Community, Team: Core, Type: Enhancement

#17132 Add metrics for WAN throttling acknowledger
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Module: Metrics, Module: WAN, Source: Internal, Team: Core, Type: Enhancement

#17077 Simplified the SwCounter.
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/SwCounter.java
Labels: Module: Metrics, Source: Internal, Team: Core, Type: Cleanup

#17179 Support non-statically typed fields
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/connector/LocalPartitionedMapConnector.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericFieldExtractor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericQueryTarget.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericQueryTargetDescriptor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/inject/JsonUpsertTarget.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/options/JavaMapOptionsMetadataResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/options/JsonMapOptionsMetadataResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/options/PortableMapOptionsMetadataResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataType.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/MapScanExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/extract/GenericQueryTargetTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/MapScanPlanNodeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/MapSchemaTestSupport.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolverTest.java
Labels: Source: Internal

#17128 Add support for delivering of results of Jet queries to the client
  hazelcast/src/main/java/com/hazelcast/sql/impl/AbstractSqlResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/QueryClientState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/QueryClientStateRegistry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/BlockingRootResultConsumer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/RootExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/RootResultConsumer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/ScheduleCallback.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/root/BlockingRootResultConsumerTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/root/RootExecTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Source: Internal

#17176 Allow diagnostics to log to logger
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/Diagnostics.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLog.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogger.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsOutputType.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsLoggerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsStdoutTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/DiagnosticsTest.java
Labels: Module: Diagnostics, Source: Internal, Team: Core, Type: Enhancement

#17133 Integrate concurrent off-heap B+tree index into the old engine
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/HDGlobalIndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/HDGlobalIndexesStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/HDGlobalPerIndexStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseSingleValueIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/DefaultIndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapIndexLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/ConverterResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/AttributeCanonicalizationTest.java
Labels: Estimation: M, Module: Query, Priority: High, Source: Internal, Team: Core, Type: Enhancement

#17186 Update guava version
  hazelcast-sql/pom.xml
Labels: Team: Core

#17143 Count of number of caches along with wan replication
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CacheInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Module: Metrics, Source: Community, Team: Core, Team: Integration

#17195 Add release notes for 3.12.8-migration
  hazelcast/src/main/resources/release_notes.txt
Labels: Source: Internal, Type: Documentation, Type: Enhancement

#17196 Add additional note about WAN throttling mechanism to release notes
  hazelcast/src/main/resources/release_notes.txt
Labels: Source: Internal, Type: Documentation, Type: Enhancement

#17170 Fix attempt for reliableTopicTest
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicOnClusterRestartTest.java
Labels: Cause: Test - Timing, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#17171 Fix attempt for reliableTopicTest
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicOnClusterRestartTest.java
Labels: Backport, Cause: Test - Timing, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#17181 Added labels to ClientEndpoint#toString() method
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
Labels: Source: Community, Team: Client, Type: Enhancement

#17199 Fix exception wrapping for member/client comm
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/ClientTransactionUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#17198 Fix exception wrapping for member/client comm
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/ClientTransactionUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
Labels: Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#17203 Fix exception wrapping for member/client comm
  hazelcast-client/src/main/java/com/hazelcast/client/proxy/txn/ClientTransactionUtil.java
  hazelcast-client/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceExceptionTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/util/ExceptionUtilTest.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#17210 Resolved performance problem with PagingPredicate JDK8
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResult.java
Labels: Module: Query, Team: Performance, Type: Perf. Defect

#17214 Count of various distributed objects
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community, Team: Integration, Type: Enhancement

#16925 Multiple TCP connections between members
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberHandshake.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/AbstractChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SendMemberHandshakeTask.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnector.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundOperationHandler.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/AbstractOutOfMemoryHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MemberHandshakeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/FirewallingServer.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/MemberHandshakeHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager_AbstractConnectMemberTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager_TransmitTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ServerConnectionManagerTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServer.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Enhancement

#17240 MemberHandshake Options
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberHandshake.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SendMemberHandshakeTask.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MemberHandshakeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/MemberHandshakeHandlerTest.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Enhancement

#17219 [Backport] Resolved performance problem with PagingPredicate JDK8
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResult.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Perf. Defect

#17225 [Backport] Resolved performance problem with PagingPredicate JDK8
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResult.java
Labels: Module: Query, Team: Core, Type: Enhancement, Type: Perf. Defect

#17237 Integrate global HD index into SQL engine
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/MapScanPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/PlanCreateVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestMapTable.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/index/PhysicalIndexScanTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestBase.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/index/SqlIndexTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/connector/LocalPartitionedMapConnector.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Enhancement

#17250 Cleaned up MemberHandshake logic.
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/AbstractChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SendMemberHandshakeTask.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerControl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/PacketDispatcher.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/MemberHandshakeHandlerTest.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Cleanup

#17213 [Backport] Resolved performance problem with PagingPredicate JDK8
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResult.java
Labels: Module: Query, Team: Performance, Type: Perf. Defect

#17142 Check replicas by dividing partitions into smaller batches
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/PartitionIdSet.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/AntiEntropyCorrectnessTest.java
Labels: Module: Partitioning, Source: Internal, Team: Core, Type: Enhancement

#17212 Add caller stacktrace to rethrown RuntimeException
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClientOfflineException.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/StaleSequenceException.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/proxyservice/impl/DistributedObjectFutureTest.java
Labels: Team: Client, Team: Core, Type: Defect

#17249 Add caller stacktrace to rethrown RuntimeException
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClientOfflineException.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/StaleSequenceException.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/proxyservice/impl/DistributedObjectFutureTest.java
Labels: Team: Client, Team: Core, Type: Defect

#17215 Introduce auto-disposable tasks for ScheduledExecutor
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ScheduledExecutorSubmitToMemberCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ScheduledExecutorSubmitToPartitionCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientScheduledExecutorProxy.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/AutoDisposableTask.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/TaskUtils.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/AbstractTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/AutoDisposableTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/NamedTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorContainer.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/TaskDefinition.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/TaskRunner.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceTestSupport.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/TaskUtilsTest.java
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
Labels: Module: IScheduledExecutor, Source: Community, Team: Core, Type: Enhancement

#17272 Enable animal-sniffer for test classes too
  hazelcast-build-utils/pom.xml
  hazelcast-spring/pom.xml
  hazelcast/pom.xml
Labels: Team: Core

#17271 Fix HD leak for EP that run on Map keys
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteOnKeysMessageTask.java
Labels: Module: HD, Module: IMap, Team: Core, Type: Defect, Type: Enhancement

#17274 [FOREWORDPORT] Fix HD leak for EP that run on Map keys (#17271)
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteOnKeysMessageTask.java
Labels: Forwardport, Module: HD, Module: IMap, Team: Core, Type: Defect, Type: Enhancement

#17275 [BACKPORT] Fix HD leak for EP that run on Map keys (#17271)
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteOnKeysMessageTask.java
Labels: Backport, Module: HD, Module: IMap, Team: Core, Type: Defect, Type: Enhancement

#17276 [FOREWORDPORT] Fix HD leak for EP that run on Map keys (#17271)
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteOnKeysMessageTask.java
Labels: Forwardport, Module: HD, Module: IMap, Team: Core, Type: Defect, Type: Enhancement

#17280 Version guard serialization of new fields in ScheduledExecutor
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/NamedTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/TaskDefinition.java
Labels: Module: IScheduledExecutor, Source: Internal, Team: Core, Type: Test-Failure

#17279 Fix RingBufferPermission.ALL action mask
  hazelcast/src/main/java/com/hazelcast/security/permission/RingBufferPermission.java
Labels: Module: Security, Team: Client, Team: Core
