Repository hazelcast/hazelcast, pull requests merged in 2020-08, with the labels that each got.

#17286 Fix race in (JCache) cache creation
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheCreationTest.java
Labels: Module: ICache, Source: Community, Team: Core, Type: Defect

#17175 ExtendedMapEntry extends Map.Entry
  hazelcast/src/main/java/com/hazelcast/map/EntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/ExtendedMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Backport, Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#17288 Add a constructor with a name into CacheSimpleConfig
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfig.java
  hazelcast/src/test/java/com/hazelcast/config/CacheSimpleConfigTest.java
Labels: Team: Core

#17293 Fix race in (JCache) cache creation
  hazelcast-client/src/main/java/com/hazelcast/client/cache/impl/AbstractClientInternalCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractInternalCacheProxy.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheCreationTest.java
Labels: Backport, Module: ICache, Team: Client, Team: Core, Type: Defect

#17292 [BACKPORT] Fix race in (JCache) cache creation
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheCreationTest.java
Labels: Backport, Module: ICache, Team: Core, Type: Defect

#17285 Clarify contract of ItemListener
  hazelcast/src/main/java/com/hazelcast/collection/ICollection.java
Labels: Module: IQueue, Source: Community, Team: Core, Team: Documentation, Type: Documentation

#17243 Reduce initial log messages
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BackpressureRegulator.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#17295 Provide nicer error message for unsupported LIMIT clause
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17281 Update SQL public API to include update count
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecuteCodec.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteResponse.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlResultImplTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/client/SqlClientResultTest.java
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
Labels: Module: SQL, Priority: Medium, Source: Jet, Team: Core, Type: Enhancement

#17299 Fix leaking thread from ClientConsoleTest
  hazelcast/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleTest.java
Labels: Type: Test-Failure

#17297 Improve start scripts for modular Java (9+)
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
  hazelcast/src/main/resources/start.bat
  hazelcast/src/main/resources/start.sh
  hazelcast/src/main/resources/stop-all.bat
Labels: Team: Core, Type: Enhancement

#16682 Remove OAHashSet from merkle trees
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/ArrayMerkleTree.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/MerkleTree.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/MerkleTreeUtil.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/merkletree/ArrayMerkleTreeTest.java
Labels: Module: WAN, Source: Internal, Team: Core, Type: Enhancement

#17309 Test stabilization - Ignore failures in n.s.m.MemcachedClient.shutdown()
  hazelcast/src/test/java/com/hazelcast/internal/ascii/InvalidEndpointTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkingCommunicationIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/test/MemcacheTestUtil.java
Labels: Team: Core, Type: Test-Failure

#17317 ClientConsoleTest stabilization
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleTest.java
Labels: Type: Test-Failure

#17259 Value of Average Get and Put Latency of Map as a Metric
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/AttributeExtractor.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/DelayMapStore.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community, Type: Enhancement

#17320 Public classes for member/client CachingProviders
  hazelcast/src/main/java/com/hazelcast/cache/HazelcastCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/cache/HazelcastMemberCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/client/cache/HazelcastClientCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/client/cache/package-info.java
  hazelcast/src/test/java/com/hazelcast/cache/HazelcastServerCachingProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/HazelcastClientCachingProviderTest.java
Labels: Add to Release Notes, Module: ICache, Source: Internal, Team: Client, Team: Core, Type: Defect

#17318 Default implementation of a backup EP is nop for readonly EPs
  hazelcast/src/main/java/com/hazelcast/map/EntryProcessor.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Add to Release Notes, Module: IMap, Priority: Low, Source: Internal, Team: Core, Type: Enhancement

#17323 Added a enum class for the metrics
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CacheInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClusterInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/OSInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeParameterCreator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Module: Metrics, Source: Community, Team: Core, Team: Integration, Type: Enhancement

#17269 Force BouncingMembers to set driver type explicitly
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregationMemberBounceTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientBackpressureBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientPutAllRemoveBounceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBounceTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableBouncingNodesTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWithBouncingMemberTest.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRule.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRuleStalenessTest.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRuleTest.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#17270 Force BouncingMembers to set driver type explicitly
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregationMemberBounceTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientBackpressureBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientPutAllRemoveBounceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBounceTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableBouncingNodesTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWithBouncingMemberTest.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRule.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRuleStalenessTest.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRuleTest.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#17331 Fix WanAddConfigTest#testConfigAddingWithLiteMembersAdded
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanEventContainerReplicationOperation.java
Labels: Module: WAN, Source: Internal, Team: Core, Type: Test-Failure

#17013 Add new assertion to have better info about test failure
  hazelcast/src/main/java/com/hazelcast/client/config/ClientReliableTopicConfig.java
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionlessSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/config/DurableExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/IcmpFailureDetectorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MergePolicyConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NativeMemoryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NearCachePreloaderConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueryCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReliableTopicConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ScheduledExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/cp/RaftAlgorithmConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/SessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/SessionlessSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/fd/PhiAccrualFailureDetector.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ExpirationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/Invalidation.java
  hazelcast/src/main/java/com/hazelcast/internal/util/HashUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/LockGuard.java
  hazelcast/src/main/java/com/hazelcast/internal/util/Preconditions.java
  hazelcast/src/main/java/com/hazelcast/internal/util/executor/StripedExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/ConsumeAccumulatorOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/DefaultCyclicBuffer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/SetReadCursorOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/AbstractCallIdSequence.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressure.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/AbstractExpirationManagerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/FirewallingServer.java
  hazelcast/src/test/java/com/hazelcast/internal/util/PreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/accumulator/DefaultCyclicBufferTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/accumulator/ReadOnlyIteratorTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#17328 WAN counter fixes and cleanup
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/MemberState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/WanSyncState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/MemberStateImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/WanSyncStateImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/MemberStateImplTest.java
Labels: Module: WAN, Source: Internal, Team: Core, Type: Test-Failure

#17327 Added Benchmark for the phonehome process
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeBenchmark.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
Labels: Source: Community

#17343 Ensure members are started before test completes
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/atomicref/AtomicRefIsolatedServersTest.java
Labels: Module: CP Subsystem, Type: Test-Failure

#17344 Ensure members are started before test completes
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/atomicref/AtomicRefIsolatedServersTest.java
Labels: Backport, Module: CP Subsystem, Type: Test-Failure

#17338 Fixed dangling pointers in global indexes
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
Labels: Estimation: S, Module: HD, Module: Query, Team: Core, Type: Defect

#17346 Don't use complex objects in auditable events.
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
Labels: Team: Core, Type: Cleanup

#17310 Create HazelcastSqlBackend
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/SqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParseResult.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestBase.java
Labels: Source: Internal

#17341 [FORWARD-PORT] WAN counter fixes and cleanup
  hazelcast/src/main/java/com/hazelcast/internal/monitor/WanSyncState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/WanSyncStateImpl.java
Labels: Forwardport, Module: WAN, Source: Internal, Team: Core, Type: Test-Failure

#17336 [FORWARD-PORT] Fix WanAddConfigTest#testConfigAddingWithLiteMembersAdded
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanEventContainerReplicationOperation.java
Labels: Forwardport, Module: WAN, Source: Internal, Team: Core, Type: Test-Failure

#17340 SQL math expressions (#17339)
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/HazelcastDoubleFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/HazelcastSqlFloorFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastInferTypes.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/ReplaceUnknownOperandTypeInference.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/SqlExpressionIntegrationTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/AbsFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/AbsFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/CeilFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DoubleFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DoubleFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/FloorCeilFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/FloorFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RandFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RandFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RoundFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RoundTruncateFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/SignFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/SignFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/TruncateFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionBiValue.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionPredicates.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionType.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionTypes.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionValue.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/AbsFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/DoubleFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/FloorCeilFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/MathFunctionUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/RandFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/RoundTruncateFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/SignFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/DoubleConverter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/FloatConverter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlTestSupport.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17361 Fixed failures in SqlErrorAbstractTest.testMapMigration (#17347)
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorAbstractTest.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlErrorCode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/AbstractMapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/MapScanExecTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#17366 Reduce client results latency
  hazelcast/src/main/java/com/hazelcast/sql/impl/AbstractSqlResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryResultProducer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/ResultIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlInternalService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/BlockingRootResultConsumer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/root/BlockingRootResultConsumerTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/root/RootExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/state/QueryInitiatorStateTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/state/QueryStateRegistryTest.java
Labels: Module: SQL, Source: Jet, Type: Enhancement

#17373 Remove typos in ConfigUtils methods
  hazelcast/src/main/java/com/hazelcast/config/matcher/MatchingPointConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/config/matcher/RegexConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/config/matcher/WildcardConfigPatternMatcher.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigUtils.java
Labels: Module: Config, Priority: Low, Source: Internal, Team: Client, Team: Core, Type: Cleanup, Type: Defect

#17217 Use hazelcast-hibernate53 instead hazelcast-hibernate in hazelcast-all
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration, dependencies

#17375 Update README and GH issue template to prefer slack over gitter
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Labels: Source: Internal, Type: Enhancement

#17282 Support for multiple pmem directories in config
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/NativeMemoryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/PersistentMemoryConfig.java
  hazelcast/src/main/java/com/hazelcast/config/PersistentMemoryDirectoryConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-client-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/NativeMemoryConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Config, Module: HD, Source: Internal, Team: Core

#17380 Extend reflective extractors with the possibility to return null for non existing properties
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/Extractors.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ReflectionHelper.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericFieldExtractor.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/ExtractorsTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/ReflectionHelperTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/extract/GenericQueryTargetTest.java
Labels: Module: SQL, Priority: High, Source: Jet, Team: Core, Type: Enhancement

#17357 SQL: disallow execution of SQL queries on topology with different member versions
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/PlanCreateVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCacheChecker.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/QueryUtilsTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17385 Low latency mode for SQL client
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestMapTable.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestBase.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/AbstractSqlResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryResultProducer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/ResultIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/BlockingRootResultConsumer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/Expression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataType.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/root/BlockingRootResultConsumerTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/root/RootExecTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Enhancement

#17379 Introduce SQL string functions (#17378)
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/HazelcastSqlLikeOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/HazelcastSqlStringFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/HazelcastSqlSubstringFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/ReplaceUnknownOperandTypeInference.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/AsciiFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/AsciiFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/CharLengthFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/CharLengthFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/ConcatFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/ConcatFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/InitcapFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/InitcapFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/LikeFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/LikeFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/LowerFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/LowerFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/SubstringFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/SubstringFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/UpperFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/UpperFunctionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/TriExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/AsciiFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/CharLengthFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/ConcatFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/InitcapFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/LikeFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/LowerFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/StringFunctionUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/SubstringFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/UpperFunction.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17386 Copy Partial Member Disconnection Resolution Design Doc
  docs/design/cluster/02-partial-member-disconnection-resolution.md
  docs/design/cluster/resources/02/fully-connected.png
  docs/design/cluster/resources/02/n1-full-split.png
  docs/design/cluster/resources/02/n1-n2-split.png
  docs/design/cluster/resources/02/n2-full-split.png
  docs/design/cluster/resources/02/n2-partial-split.png
Labels: Module: Cluster, Source: Internal, Team: Core, Type: Documentation

#17396 Use hazelcast-hibernate53:2.1.1
  hazelcast-all/pom.xml
Labels: Source: Internal, dependencies

#17376 Optimize backup timeout checks in CleanResourcesTask
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BaseInvocation.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Cleanup

#17369 Publish CP Subsystem and CP datastructure stats via Metrics
  docs/design/cpsubsystem/03-metrics.md
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftNodeMetrics.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/AtomicLong.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/AtomicLongService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/AtomicRefService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/CountDownLatch.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/CountDownLatchRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/CountDownLatchService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/Lock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/LockRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/LockService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/Semaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/atomic/RaftAtomicValueService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/WaitKey.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Module: CP Subsystem, Source: Internal, Team: Core, Type: Enhancement

#17397 Mention Jet SQL backend in SqlService
  hazelcast/src/main/java/com/hazelcast/sql/SqlService.java
Labels: Module: SQL, Source: Jet, Team: Core, Team: Documentation, Type: Documentation

#17388 Expose upsert/inject information for SQL tables
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestMapTable.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestBase.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/JetSqlService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/JetMapMetadataResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadata.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolverTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolverTest.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Enhancement

#17105 GenericRecord / GenericRecord.Builder
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InternalSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DefaultSerializationServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/GenericRecordQueryReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/InternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableContextImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableNavigatorContext.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortablePathCursor.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortablePosition.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortablePositionFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortablePositionNavigator.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableUtils.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/ClassDefinition.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldDefinition.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldType.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/HazelcastSerializationException.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/Portable.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/PortableFactory.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/PortableReader.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/PortableWriter.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/SerializerHook.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/VersionedPortable.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/package-info.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractMultiValueGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ExtractorGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ExtractorHelper.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/PortableGetter.java
  hazelcast/src/test/java/com/hazelcast/client/genericrecord/ClientGenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/AbstractGenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/GenericRecordBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/InnerPortable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/MainPortable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/NamedPortable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/NamedPortableV2.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/PortableClassVersionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/PortablePathCursorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/PortablePositionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/PortableTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/PortableUtilsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/portablereader/DefaultPortableReaderBenchmark.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/portablereader/DefaultPortableReaderQuickTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/portablereader/DefaultPortableReaderSpecTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/portablereader/DefaultPortableReaderTestStructure.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/APortableFactory.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/AnInnerPortable.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/specification/ExtractionInPortableSpecTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingSerializationService.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Enhancement

#17394 SQL TRIM function
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/HazelcastSqlTrimFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeSystem.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/TrimFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/TrimFunctionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/SymbolExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/TrimFunction.java
Labels: Estimation: S, Module: SQL, Priority: High, Source: Internal, Team: Core, Type: Enhancement

#17400 Summary of the new naming:
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/CalciteSqlOptimizer.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/JetSqlTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/JetSqlCoreBackend.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlInternalService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Enhancement

#17364 Add metric to check cloud used for deployment
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CacheInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CloudInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClusterInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/OSInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community, Team: Integration, Type: Enhancement

#17405 Generate test JAR for hazelcast-sql
  hazelcast-sql/pom.xml
Labels: Priority: High, Source: Internal, Team: Core, Type: Enhancement

#17401 Fix using correct map name in SQL
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/PlanCreateVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/TestMapTable.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/index/SqlIndexResolutionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/SqlCatalog.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/Table.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTable.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolverTest.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Defect

#17407 Speed up SQL tests
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestBase.java
Labels: Module: SQL, Team: Core, Type: Enhancement

#17410 Remove duplicate end-to-end tests
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestBase.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/MultiplyTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/AndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/ComparisonPredicateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsFalseTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsNotFalseTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsNotNullTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsNotTrueTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsNullTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsTrueTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/NotTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/OrTest.java
Labels: Module: SQL, Team: Core, Type: Enhancement

#17395 Support temporal columns in SQL
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/HazelcastCalciteCatalogReader.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastObjectType.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTemporalType.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeCoercion.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeFactory.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeSystem.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlBasicTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeSystemTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/CastEndToEndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ColumnEndToEndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionEndToEndTestBase.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/SqlExpressionIntegrationTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/AbsFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/CeilFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DivideEndToEndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DoubleFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/FloorFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/MinusEndToEndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/MultiplyEndToEndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/PlusEndToEndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RandFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RoundFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/SignFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/TruncateFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/UnaryMinusEndToEndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/UnaryPlusEndToEndTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/AndPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/ComparisonPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsNullPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsTrueFalsePredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/NotPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/OrPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/AsciiFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/CharLengthFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/ConcatFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/InitcapFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/LowerFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/SubstringFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/UpperFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionBiValue.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionType.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionTypes.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionValue.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/LocalDateTimeConverter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/converter/ConvertersTest.java
Labels: Estimation: S, Module: SQL, Priority: High, Source: Internal, Team: Core, Type: Enhancement

#17406 Throw descriptive Exception when field is missing
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/GenericRecordBuilderTest.java
Labels: Module: Serialization, Type: Defect

#17414 Do not read HD entries from SQL schema resolver
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/PlanCreateVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17411 Adds Nullable and Nonnull annotations to GenericRecord
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ThreadAffinityTest.java
Labels: Module: Serialization, Type: Defect

#17409 Prepare SQL tests for running them from Jet
  hazelcast-sql/pom.xml
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlBasicTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorClientTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlIntegrationTestSuite.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlTestInstanceFactory.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/CastIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ColumnIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionIntegrationTestBase.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/LiteralIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ParameterIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/SqlExpressionIntegrationTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DivideIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/MinusIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/MultiplyIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/PlusIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/UnaryMinusIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/UnaryPlusIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/plan/cache/PlanCacheIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlTestSupport.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Enhancement

#17416 Instance tracking leftovers
  hazelcast/src/main/java/com/hazelcast/config/InstanceTrackingConfig.java
  hazelcast/src/test/java/com/hazelcast/instance/InstanceTrackingInfoTest.java
  hazelcast/src/test/java/com/hazelcast/instance/InstanceTrackingServerModeTest.java
  hazelcast/src/test/resources/hazelcast-instance-tracking-test.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#17419 Added support for Map merge operation #14913
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MergeEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientComputeConditionallyTests.java
  hazelcast/src/test/java/com/hazelcast/map/ComputeConditionallyTests.java
Labels: Module: IMap, Source: Community, Team: Client, Team: Core, Type: Enhancement

#17037 Add CPSubsystem membership and group-availability listeners
  checkstyle/suppressions.xml
  docs/design/cpsubsystem/01-membership-listener.md
  docs/design/cpsubsystem/02-group-availability-listener.md
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/CPSubsystemAddGroupAvailabilityListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/CPSubsystemAddMembershipListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/CPSubsystemRemoveGroupAvailabilityListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/CPSubsystemRemoveMembershipListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/CPMemberCodec.java
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
  hazelcast/src/main/java/com/hazelcast/cp/event/CPGroupAvailabilityEvent.java
  hazelcast/src/main/java/com/hazelcast/cp/event/CPGroupAvailabilityListener.java
  hazelcast/src/main/java/com/hazelcast/cp/event/CPMembershipEvent.java
  hazelcast/src/main/java/com/hazelcast/cp/event/CPMembershipListener.java
  hazelcast/src/main/java/com/hazelcast/cp/event/impl/CPGroupAvailabilityEventImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/event/impl/CPMembershipEventImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/event/impl/CpEventDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cp/event/impl/package-info.java
  hazelcast/src/main/java/com/hazelcast/cp/event/package-info.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPGroupAvailabilityEventKey.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPMemberInfo.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/AddCPGroupAvailabilityListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/AddCPMembershipListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/RemoveCPGroupAvailabilityListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/RemoveCPMembershipListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast/src/test/java/com/hazelcast/client/cp/ClientCPGroupAvailabilityListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/cp/ClientCPMembershipListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/cp/CPGroupAvailabilityListenerTest.java
  hazelcast/src/test/java/com/hazelcast/cp/CPMembershipListenerTest.java
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
Labels: Module: CP Subsystem, Source: Internal, Team: Core, Type: Enhancement

#17155 Nullify owned partitions instead of reloading
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
Labels: Module: Partitioning, Source: Internal, Team: Core, Type: Enhancement

#17403 Update hazelcast-all SPI discovery plugin dependencies
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration, Type: Enhancement

#17424 Corrected null checks in merge() to include all args #14913
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
Labels: Module: IMap, Source: Community, Team: Client, Type: Enhancement

#17408 Add design document for the instance tracking feature
  docs/design/instance-tracking/instance-tracking.md
Labels: Source: Internal, Team: Core, Type: Documentation

#14984 Basic Invocation profiler
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/InvocationProfilerPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/InvocationSamplePlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/OperationProfilerPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/StoreLatencyPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/util/LatencyDistribution.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerFactoryImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/InvocationPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/StoreLatencyPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/LatencyDistributionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InboundResponseHandlerSupplierTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImplTest.java
Labels: Estimation: S, Source: Internal, Team: Core, Type: Enhancement
