Repository hazelcast/hazelcast, pull requests merged in 2020-09, with the labels that each got.

#17443 Check for leftover JCache MBeans
  hazelcast/src/test/java/com/hazelcast/cache/jsr/CacheManagerManagementTest.java
  hazelcast/src/test/java/com/hazelcast/cache/jsr/JsrTestUtil.java
  hazelcast/src/test/java/com/hazelcast/client/cache/jsr/JsrClientTestUtil.java
  hazelcast/src/test/java/com/hazelcast/test/JmxLeakHelper.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#17434 Removed static members from SqlIndexResolutionTest (#17429)
  hazelcast-sql/src/test/java/com/hazelcast/sql/index/SqlIndexResolutionTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#17445 Fix MigrationCommitTest.shouldCommitMigrationWhenSourceFailsDuringCommit
  hazelcast/src/test/java/com/hazelcast/internal/partition/AntiEntropyCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitTest.java
Labels: Module: Partitioning, Team: Core, Type: Test-Failure

#17432 [BACKPORT] Update full-example configs for AWS, Azure and GCP
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Module: Config, Team: Integration, Type: Defect

#17438 Recover exceptions wrapped in same class correctly
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
Labels: Team: Client, Type: Defect

#17437 Recover exceptions wrapped in same class correctly
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
Labels: Team: Client, Type: Defect

#17448 Increase algorithm timeout for test
  hazelcast/src/test/java/com/hazelcast/internal/util/graph/BronKerboschCliqueFinderTest.java
Labels: Type: Test-Failure

#17447 Build ZIP assembly during Maven package phase
  distribution/pom.xml
  pom.xml
Labels: Team: Core

#17431 Update full-example config examples
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Module: Config, Team: Integration, Type: Defect

#17451 Use parallelism=1 in MigrationCommitTest
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitTest.java
Labels: Module: Partitioning, Source: Internal, Team: Core, Type: Test-Failure

#17439 Rewrite getBackupQueue test utility method as read-only fashion
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/CollectionTestUtil.java
Labels: Source: Internal

#17402 Remove misleading default config entries from 'hazelcast-default' files
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
Labels: Module: Config, Source: Internal, Team: Core, Team: Integration, Type: Cleanup

#17452 Align <durable-executor-service> configuration in YAML and XML default config files
  hazelcast/src/main/resources/hazelcast-default.xml
Labels: Module: Config, Source: Internal, Team: Core

#17348 Environment variables/system properties config override mechanism
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/XmlClientConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/AbstractQueryCacheConfigBuilderHelper.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientConfigSections.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientFailoverDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/QueryCacheXmlConfigBuilderHelper.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/QueryCacheYamlConfigBuilderHelper.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientFailoverDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/config/DomConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlDomVariableReplacer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ConfigNode.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ConfigOverrideElementAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ConfigOverrideValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ConfigProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/EnvConfigProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/EnvVariablesConfigParser.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ExternalConfigurationOverride.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/PropertiesToNodeConverter.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/SystemPropertiesConfigParser.java
  hazelcast/src/main/java/com/hazelcast/internal/config/override/SystemPropertiesConfigProvider.java
  hazelcast/src/main/java/com/hazelcast/internal/config/yaml/EmptyNamedNodeMap.java
  hazelcast/src/main/java/com/hazelcast/internal/config/yaml/EmptyNodeList.java
  hazelcast/src/main/java/com/hazelcast/internal/config/yaml/W3cDomUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/config/yaml/YamlElementAdapter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexUtils.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DiscoveryServicePropertiesUtil.java
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/EnvVariablesClientConfigParserTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/EnvVariablesMemberConfigParserTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalClientConfigurationOverrideTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalConfigTestUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideSystemPropertiesTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/PropertiesToNodeConverterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/SystemPropertiesClientConfigParserTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/SystemPropertiesConfigProviderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/SystemPropertiesMemberConfigParserTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/impl/DiscoveryServicePropertiesUtilTest.java
Labels: Module: Config, Source: Internal, Team: Core

#17464 Example YAML file should use kebab case
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Module: Config, Source: Internal, Team: Core

#17478 Ignore HZ_PHONE_HOME_ENABLED when parsing env variables
  hazelcast/src/main/java/com/hazelcast/internal/config/override/EnvVariablesConfigParser.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/EnvVariablesMemberConfigParserTest.java
Labels: Module: Config, Source: Internal, Team: Core

#17479 Clone active migrations set while creating PartitionRuntimeState
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationCorrectnessTest.java
Labels: Module: Partitioning, Team: Core, Type: Defect

#17440 Rewrite anti-entropy task sending in unblocking fashion
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
Labels: Module: Partitioning, Source: Internal, Team: Core, Type: Defect, Type: Enhancement

#17415 custom load balancer declarative configuration
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/InvalidApplicationContextTest.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestCustomLoadBalancerContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/customLoadBalancer-applicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/customLoadBalancer-invalidApplicationContext.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/resources/hazelcast-client-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigLoadBalancerTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/CustomLoadBalancer.java
Labels: Module: Config, Source: Community, Team: Client, Type: Defect

#17467 Cleanup cache tests with statistics
  hazelcast/src/test/java/com/hazelcast/cache/merge/CacheEventListenerSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/cache/stats/CacheStatsTest.java
Labels: Module: ICache, Team: Core, Type: Test-Failure

#17480 Add the IdentifiedDataSerializable test class implementing `IFunction` to be used by non-java native tests
  hazelcast/src/test/java/com/hazelcast/client/test/IdentifiedFactory.java
  hazelcast/src/test/java/com/hazelcast/client/test/ifunction/Multiplication.java
Labels: Team: Client, Type: Enhancement

#17455 Remove potential NPExceptions for clusterService.getMember(uuid)
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheFetchNearCacheInvalidationMetadataTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheListenerRegistrationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheManagementConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchNearCacheInvalidationMetadataTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToTargetMessageTask.java
Labels: Source: Internal, Team: Client, Type: Defect

#17459 Remove dependency to one specific port in a client test
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientDiscoverySpiTest.java
Labels: Source: Internal, Team: Client, Type: Test-Failure

#17454 Remove potential NPExceptions for clusterService.getMember(uuid)
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheFetchNearCacheInvalidationMetadataTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheListenerRegistrationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheManagementConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchNearCacheInvalidationMetadataTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToTargetMessageTask.java
Labels: Source: Internal, Team: Client, Type: Defect

#17458 Remove dependency to one specific port in a client test
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientDiscoverySpiTest.java
Labels: Source: Internal, Team: Client, Type: Test-Failure

#17493 Ignore TransactionQueueTest#testIssue859And863_WhenInQueueOnSecondIns…
  hazelcast/src/test/java/com/hazelcast/collection/impl/txnqueue/TransactionQueueTest.java
Labels: Type: Test-Failure

#17486 follow up to #17415
  hazelcast-spring/src/main/resources/hazelcast-spring-4.0.xsd
  hazelcast/src/main/resources/hazelcast-client-config-4.0.xsd
Labels: Source: Internal, Type: Defect

#17485 custom load balancer declarative configuration
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/ClientDomConfigProcessor.java
  hazelcast-client/src/main/java/com/hazelcast/client/config/YamlClientDomConfigProcessor.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast-client/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast-client/src/main/resources/hazelcast-client-config-3.12.xsd
  hazelcast-client/src/main/resources/hazelcast-client-full-example.xml
  hazelcast-client/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast-client/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigLoadBalancerTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/CustomLoadBalancer.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast-client/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-3.12.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/DummyLoadBalancer.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/InvalidApplicationContextTest.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestCustomLoadBalancerContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/customLoadBalancer-applicationContext.xml
  hazelcast-spring/src/test/resources/com/hazelcast/spring/customLoadBalancer-invalidApplicationContext.xml
Labels: Backport, Source: Internal, Team: Client, Type: Defect

#17449 Improve SQL index consistency checks
  hazelcast-sql/src/test/java/com/hazelcast/sql/index/SqlIndexConverterMismatchTest.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/PartitionIdSet.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/DefaultIndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalIndexPartitionTracker.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlErrorCode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/AbstractMapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecIterator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/PartitionIdSetTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/GlobalIndexPartitionTrackerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexFirstComponentDecoratorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexImplTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17362 Throw HazelcastInstanceNotActiveException when session manager is shu…
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/AbstractProxySessionManager.java
Labels: Add to Release Notes, Module: CP Subsystem, Source: Internal, Team: Core, Type: Enhancement

#17494 Remove the hazelcast-sql JAR from the ZIP distribution lib folder
  src/main/assembly/assembly.xml
Labels: Source: Internal, Team: Core

#17435 Ease up setting affinity on linux x86_64
  hazelcast/src/main/java/com/hazelcast/internal/util/ThreadAffinity.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ThreadAffinityHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/executor/HazelcastManagedThread.java
  hazelcast/src/main/resources/affinity_helper.c
  hazelcast/src/main/resources/affinity_helper.h
  hazelcast/src/main/resources/affinity_helper.md
  hazelcast/src/main/resources/icmp_helper.md
  hazelcast/src/main/resources/lib/linux-x86_64/libaffinity_helper.so
Labels: Source: Internal, Team: Core, Type: Enhancement

#17496 Fix releaseSession calls in SessionAwareSemaphoreProxy
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionlessSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/SessionAwareSemaphoreProxy.java
Labels: Module: CP Subsystem, Source: Internal, Team: Client, Team: Core, Type: Defect

#17483 Add the test class `AppendString` as an `IFunction` object to be used for native client tests
  hazelcast/src/test/java/com/hazelcast/client/test/IdentifiedFactory.java
  hazelcast/src/test/java/com/hazelcast/client/test/ifunction/AppendString.java
Labels: Source: Internal, Team: Client, Type: Enhancement

#17495 [BACKPORT 4.1-BETA-1] Remove the hazelcast-sql JAR from the ZIP distribution lib folder
  src/main/assembly/assembly.xml
Labels: Source: Internal, Team: Core

#17446 Upgrade SnakeYAML to v2.1
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlLoader.java
  pom.xml
Labels: Module: Config, Source: Community, Team: Core, Type: Defect

#17508 Concurrent HD data structure Technical Design Document
  docs/design/sql/07-concurrent-hd-datastructure.md
Labels: Estimation: S, Module: HD, Module: SQL, Team: Core

#17169 Put node wide map loader limit
  hazelcast/src/main/java/com/hazelcast/map/impl/MapKeyLoader.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapKeyLoaderUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/test/java/com/hazelcast/map/impl/MapKeyLoaderUtilTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#17484 Updated to Jackson version to address a Twistlock-reported issue: CVE…
  pom.xml
Labels: Module: Config, Source: Community, Team: Core, Type: Defect

#17509 Ignore queue transaction test
  hazelcast/src/test/java/com/hazelcast/collection/impl/txnqueue/TransactionQueueTest.java
Labels: Module: IQueue, Source: Internal, Team: Core, Type: Test-Failure

#17510 Fixes vulnerabilities on 4.0.z
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlLoader.java
  pom.xml
Labels: Backport, Source: Internal, Team: Core, Type: Defect, dependencies

#17507 [BACKPORT] Fix releaseSession calls in SessionAwareSemaphoreProxy
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionlessSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/SessionAwareSemaphoreProxy.java
Labels: Backport, Module: CP Subsystem, Source: Internal, Team: Client, Team: Core, Type: Defect

#17511 Fixes vulnerabilities on 3.12.z
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/ReflectiveYamlDocumentLoader.java
  pom.xml
Labels: Backport, Source: Internal, Team: Core, Type: Defect, dependencies

#17500 Made Diagnostics rendering more robust
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogWriterImpl.java
Labels: Backport, Module: Diagnostics, Source: Internal, Team: Core, Type: Defect

#17502 Made diagnostics rendering more robust
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogWriterImpl.java
Labels: Backport, Module: Diagnostics, Source: Internal, Team: Core, Type: Defect

#17503 Made diagnostics rendering more robust
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/DiagnosticsLogWriterImpl.java
Labels: Backport, Module: Diagnostics, Source: Internal, Team: Core, Type: Defect

#17512 Remove warnings for old client stats format
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
Labels: Module: Metrics, Source: Internal, Team: Client, Team: Core, Type: Defect

#17513 [BACKPORT] Remove warnings for old client stats format
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
Labels: Module: Metrics, Source: Internal, Team: Client, Team: Core, Type: Defect

#17514 Ensures FrozenPartitionTableTest waits for partitions update
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/FrozenPartitionTableTest.java
Labels: Module: Partitioning, Team: Core, Type: Test-Failure

#17487 Improve thread finishing
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/test/TwoWayBlockableExecutor.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TemporaryBlockerEntryStore.java
  hazelcast/src/test/java/com/hazelcast/test/jitter/JitterThread.java
Labels: Source: Internal, Team: Core, Type: Enhancement, Type: Test-Failure

#17517 Assert that no leftover MBeans in JsrTestUtil.cleanup
  hazelcast/src/test/java/com/hazelcast/cache/jsr/JsrTestUtil.java
Labels: Team: Core, Type: Enhancement

#17520 Fixes AbstractInvocationFuture#thenApply
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/CompletableFutureAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFuture_WrappingInternalCompletableFutureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFuture_WrappingInvocationFutureTest.java
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#17525 Fixed split-brain healing procedure for indexes
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Estimation: S, Priority: Medium, Source: Internal, Team: Core, Type: Defect

#17527 Check map's nullity inside functor
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
Labels: Type: Defect

#17518 Fixes AbstractInvocationFuture#thenApply
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/CompletableFutureAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFuture_WrappingInternalCompletableFutureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFuture_WrappingInvocationFutureTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#17528 Add local checks for count argument of CountDownLatch#trySetCount
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/countdownlatch/CountDownLatchProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/ICountDownLatch.java
  hazelcast/src/main/java/com/hazelcast/cp/ISemaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/CountDownLatch.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/proxy/CountDownLatchProxy.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/AbstractCountDownLatchBasicTest.java
Labels: Module: CP Subsystem, Team: Client, Team: Core, Type: Enhancement

#17523 Revert "Add caller stacktrace to rethrown RuntimeException (#17249)"
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClientOfflineException.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/StaleSequenceException.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/proxyservice/impl/DistributedObjectFutureTest.java
Labels: Module: Invocation System, Source: Internal, Team: Client, Type: Defect

#17531 Fix wrong codec in AtomicRefProxy client impl
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/atomicref/AtomicRefProxy.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomicref/AbstractAtomicRefBasicTest.java
Labels: Module: CP Subsystem, Team: Client, Type: Cleanup

#17491 Locate config files using a thread's context classloader
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractConfigLocator.java
Labels: Module: Config, Source: Internal, Team: Core

#17534 Revert "Add caller stacktrace to rethrown RuntimeException"
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClientOfflineException.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/StaleSequenceException.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/ClientExceptionFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/proxyservice/impl/DistributedObjectFutureTest.java
Labels: Forwardport, Module: Invocation System, Source: Internal, Team: Client, Type: Defect

#17530 QueryUtils.createPartitionMap may throw NPE if a partition is not assigned
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlBackend.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlErrorCode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/AbstractMapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCacheChecker.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/QueryUtilsTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/MapScanExecTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17539 Fix failures in PhysicalIndexDataTypeTest
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/index/PhysicalIndexDataTypeTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#17532 Fix ClientReliableTopicOnClusterRestartTest
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicOnClusterRestartTest.java
Labels: Module: ITopic, Module: Ringbuffer, Source: Internal, Team: Client, Type: Test-Failure

#17538 [BACKPORT]Locate user-provided config files using a thread's context classloader (#17491)
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractConfigLocator.java
Labels: Backport, Module: Config, Source: Internal, Team: Core, Type: Enhancement

#17536 Upgrade maven plugin dependencies
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement, dependencies

#17535 Upgrade maven plugin dependencies
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement, dependencies

#17542 Fixed LocalMultiMapStatsTest
  hazelcast/src/test/java/com/hazelcast/multimap/LocalMultiMapStatsTest.java
Labels: Estimation: S, Priority: Low, Team: Core, Type: Test-Failure

#17543 Fix HDEntryProcessorTest.testReadOnlyEntryProcessorDoesNotCreateBackup
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#17548 Improve performance of PartitionIdSet.equals
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/PartitionIdSet.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#17549 Do not create an exception object when closing the SQL result
  hazelcast/src/main/java/com/hazelcast/sql/impl/AbstractSqlResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateCallback.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#17526 SQL: Don't wait forever for the first page
  hazelcast/src/main/java/com/hazelcast/sql/impl/ResultIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/BlockingRootResultConsumer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Defect

#17540 Remove redundant session id check from session-aware Semaphores
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/SessionAwareSemaphoreProxy.java
Labels: Module: CP Subsystem, Source: Internal, Team: Client, Team: Core, Type: Cleanup

#17553 Use "smallInstanceConfig" in SqlErrorAbstractTest
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorAbstractTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#17541 Use "default" when nearcache name is empty on client xml
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-client-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
Labels: Team: Client, Type: Defect

#17560 [BACK-PORT] fix sonar build
  pom.xml
Labels: Source: Internal, Team: Core, Type: Defect

#17018 Add validations to connection retry config and fix sleep time calcula…
  hazelcast/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/WaitStrategy.java
Labels: Source: Internal, Team: Client, Type: Defect

#17569 [BACKPORT] Add validations to connection retry config and fix sleep time calcula…
  hazelcast/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/WaitStrategy.java
Labels: Source: Internal, Team: Client, Type: Defect

#17570 [BACKPORT-3.12.z]Add validations to connection retry config and fix sleep time calcula…
  hazelcast-client/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClusterConnectorServiceImpl.java
Labels: Source: Internal, Team: Client, Type: Defect

#17561 Adds support for statistics for IBM, OpenJ9, ZGC and Shenandoah
  hazelcast/src/main/java/com/hazelcast/internal/memory/GCStatsSupport.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/GarbageCollectionMetricSet.java
Labels: Module: Diagnostics, Module: Metrics, Source: Internal, Team: Core, Type: Enhancement

#17578 Improve connection close logic in HeartbeatManager
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/HeartbeatManager.java
Labels: Source: Internal, Team: Client, Type: Cleanup

#17550 Simplify SqlResult
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecuteCodec.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteResponse.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryExecuteOperation.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlResultImplTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/client/SqlClientResultTest.java
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
Labels: Module: SQL, Source: Jet, Team: Core, Type: Enhancement

#17568 Clean up ClusterProperty
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Source: Internal, Team: Core, Type: Documentation, Type: Enhancement

#17580 Fix SqlIntegrationTestSuite
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlIntegrationTestSuite.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlTestInstanceFactory.java
Labels: Module: SQL, Source: Jet, Type: Enhancement

#17555 SQL: avoid NPE in the VolcanoOptimizer for certain queries (#17554)
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/CalciteConfiguration.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/misc/SqlMaterializationBugTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17590 Fixes InternalPartitionImplConstructor for 4.0
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/InternalPartitionImplConstructor.java
Labels: Module: Rolling Upgrade, Source: Internal, Team: Core, Type: Test-Failure

#17572 Fixes race during connection establishment
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager_MemoryLeakTest.java
Labels: Module: Network I/O, Team: Core, Type: Defect

#17558 Increase pending counter for repetitive running tasks
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorContainer.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/TaskRunner.java
  hazelcast/src/test/java/com/hazelcast/client/scheduledexecutor/ClientScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceBasicTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceTestSupport.java
Labels: Module: IScheduledExecutor, Source: Internal, Team: Core, Type: Defect

#17595 SqlErrorAbstractTest should wait for partition assignment
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorClientTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#17589 Improve exception message when CP is enabled but unsafe operation is received
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/AbstractUnsafeRaftOp.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Enhancement

#17588 Improve exception message when CP is enabled but unsafe operation is received
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/unsafe/AbstractUnsafeRaftOp.java
Labels: Module: CP Subsystem, Team: Core, Type: Enhancement

#17575 Fix UserCodeDeployment to work with inner classes
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/operation/DeployClassesOperation.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentBasicTest.java
  hazelcast/src/test/java/usercodedeployment/DomainClassWithInnerClass.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#17576 Fix UserCodeDeployment to work with inner classes
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/operation/DeployClassesOperation.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentBasicTest.java
  hazelcast/src/test/java/usercodedeployment/DomainClassWithInnerClass.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#17579 Fix UserCodeDeployment to work with inner classes
  hazelcast-client/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
  hazelcast/src/test/java/com/hazelcast/internal/usercodedeployment/impl/filter/UserCodeDeploymentAbstractTest.java
  hazelcast/src/test/java/usercodedeployment/DomainClassWithInnerClass.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#17564 Fixes for issues in partitioning/migration system
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionMigrationEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaFragmentVersions.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaVersions.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionBackupReplicaAntiEntropyOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/service/TestAbstractMigrationAwareService.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferServiceTest.java
Labels: Module: Partitioning, Source: Internal, Team: Core, Type: Defect

#17565 Fixes for issues in partitioning/migration system
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionMigrationEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaFragmentVersions.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaVersions.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPromotionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionBackupReplicaAntiEntropyOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/service/TestAbstractMigrationAwareService.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferServiceTest.java
Labels: Backport, Module: Partitioning, Source: Internal, Team: Core, Type: Defect

#17547 Add missing NPE check into ScheduledFutureProxy#invoke
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledFutureProxy.java
Labels: Module: IScheduledExecutor, Source: Internal, Team: Core, Type: Cleanup

#17604 Adds test for exception as normal IAtomicReference value
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomicref/AbstractAtomicRefBasicTest.java
Labels: Module: IAtomicReference, Team: Core, Type: Enhancement

#17600 Added support for IMap.replaceAll() #14913
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapEntryReplacingEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
Labels: Module: IMap, Source: Community, Team: Core, Type: Enhancement

#17620 Minor fixes for compatibility tests
  hazelcast/src/test/java/com/hazelcast/client/starter/HazelcastClientStarterTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/ProxyInvocationHandler.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/RaftInvocationManagerAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/ServiceAnswer.java
Labels: Module: Rolling Upgrade, Team: Client, Team: Core, Type: Test-Failure

#17622 Ignore static fields in MapSampleMetadataResolver
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolverTest.java
Labels: Module: SQL, Source: Internal, Source: Jet, Type: Defect

#17623 Fix ClassDefinition.getFieldNames
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/ClassDefinitionImpl.java
Labels: Module: Serialization, Source: Internal, Source: Jet, Type: Enhancement

#17626 Disabled QueryOperationHandlerTest
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationHandlerTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#17625 Support DEFAULT in expressions
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
Labels: Module: SQL, Source: Internal, Source: Jet, Type: Enhancement

#17545 Extract value from MetadataAwareValue
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#17631 Extract value from MetadataAwareValue
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
Labels: Backport, Module: IMap, Source: Internal, Team: Core, Type: Defect

#17521 Add logging for test: testPostJoinMapOperation_mapWithIndex
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultSizeLimiter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/RecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/PostJoinMapOperationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryResultSizeLimiterTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/JsonIndexIntegrationTest.java
  hazelcast/src/test/resources/log4j2-debug-map.xml
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#17562 Make backupMap volatile to make it visible to user thread
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
Labels: Module: IQueue, Source: Internal, Team: Core, Type: Test-Failure

#17605 Add new JAAS Callback to access HazelcastInstance (member only)
  hazelcast/src/main/java/com/hazelcast/security/HazelcastInstanceCallback.java
Labels: Module: Security, Source: Internal, Team: Core, Type: Enhancement

#17636 Improve IndexStatsChangingNumberOfMembersTest to avoid test failures
  hazelcast/src/test/java/com/hazelcast/map/IndexStatsChangingNumberOfMembersTest.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#17618 Fix exit condition in client CleanResourcesTask
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImplTest.java
Labels: Source: Internal, Team: Client, Type: Cleanup

#17635 [BACKPORT] Fix exit condition in client CleanResourcesTask
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImplTest.java
Labels: Backport, Source: Internal, Team: Client, Type: Cleanup

#17392 mancenter task connection connect timeout and read timeout values
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
Labels: Source: Internal, Team: Management Center, Type: Defect

#17573 Allow simplified Kerberos authentication configuration in basic scenarios
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/LoginModuleConfig.java
  hazelcast/src/main/java/com/hazelcast/config/security/KerberosAuthenticationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/security/KerberosIdentityConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-client-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Security, Source: Internal, Team: Core

#17643 Replace System Rules with System Lambda
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalClientConfigurationOverrideTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Source: Community, Team: Core, Type: Enhancement

#17645 Backport multiple fixes to visa branch
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/NodeEngineRaftIntegration.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/CPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/persistence/NopCPMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/RaftState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/PreVoteTimeoutTask.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect
