Repository hazelcast/hazelcast, pull requests merged in 2020-06, with the labels that each got.

#17024 ConnectionManager.getOrConnect() errors should be reported by default
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
Labels: Module: Network I/O, Team: Core, Type: Defect

#16954 Minor Invocation rename
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
Labels: Module: Invocation System, Source: Internal, Team: Core, Type: Cleanup

#17031 Fix javadoc escaping & add info to Predicates.sql()
  hazelcast/src/main/java/com/hazelcast/query/Predicates.java
Labels: Source: Internal, Team: Core, Type: Documentation

#17033 Add doPrivileged block into ClassLocator#tryToGetClassFromRemote
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
Labels: Module: Security, Team: Core, Type: Defect

#17034 [Backport 4.0.z] Add doPrivileged block into ClassLocator#tryToGetClassFromRemote
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
Labels: Module: Security, Team: Core, Type: Defect

#17035 [Backport 3.12.z] Add doPrivileged block into ClassLocator#tryToGetClassFromRemote
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassLocator.java
Labels: Module: Security, Team: Core, Type: Defect

#17041 Revert "[BACKPORT] Introduce major version packet flags (#16992)"
  hazelcast/src/main/java/com/hazelcast/nio/Packet.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/PacketTest.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#17043 Remove FLAG_3_12
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#17040 Remove FLAG_3_12
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/nio/tcp/CompatibilityBindRequest.java
  hazelcast/src/main/java/com/hazelcast/nio/Packet.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/PacketTest.java
Labels: Module: WAN, Source: Internal, Team: Core, Type: Enhancement

#17025 Change compatibility matching rule
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/nio/tcp/CompatibilityBindRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpEndpointManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
Labels: Module: WAN, Source: Internal, Team: Core, Type: Enhancement

#17036 Clean up TimedMemberState - remove all metric related fields
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactoryHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/AdvancedNetworkStatsDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientEndPointDTO.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/LocalGCStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/LocalMemoryStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/MemberPartitionState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/MemberState.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/AbstractLocalCollectionStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/EmptyLocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalCacheStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalExecutorStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalFlakeIdGeneratorStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalGCStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalIndexStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalListStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMemoryStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalOperationStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalPNCounterStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalQueueStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalSetStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalTopicStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalWanPublisherStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalWanStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/MemberPartitionStateImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/MemberStateImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/NearCacheStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/WanSyncStateImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/management/TimedMemberStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/EmptyLocalReplicatedMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalCacheStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalExecutorStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalGCStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalIndexStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalListStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalMemoryStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalMultiMapStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalQueueStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalSetStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalTopicStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalWanPublisherStatsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalWanStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/MemberPartitionStateImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/MemberStateImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/NearCacheStatsImplTest.java
Labels: Source: Internal, Team: Management Center, Type: Cleanup

#17028 Allow operations while node is shutting down
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeState.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AllowedDuringPassiveState.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/NodeStateTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
Labels: Module: Invocation System, Source: Internal, Team: Core, Type: Enhancement

#17029 Allow operations while node is shutting down
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeState.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AllowedDuringPassiveState.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/NodeStateTest.java
Labels: Backport, Module: Invocation System, Source: Internal, Team: Core, Type: Enhancement

#17049 Map integration test for phonehome
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeParameterCreatorTest.java
Labels: Source: Community

#17053 Count of map metric with backup read enabled
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeDifferentConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community

#17071 Map count with atleast one query cache
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community

#17073 Map Count with HotRestart enabled and atleast one index
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community

#17064 Add Kerberos helper options
  hazelcast-spring/src/main/resources/hazelcast-spring-4.1.xsd
  hazelcast-spring/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/security/KerberosAuthenticationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/security/KerberosIdentityConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-client-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-config-4.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Security, Team: Client, Team: Core

#16780 use Timer to measure elapsed time
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheEntryProcessorEntry.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/LatencyTrackingCacheLoader.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/LatencyTrackingCacheWriter.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/CacheStatsHandler.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapPutMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDeleteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapGetAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemoveMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/ReplicatedMapGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/LatencyTrackingQueueStore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/GlobalPerIndexStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/PartitionPerIndexStats.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloader.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/util/Timer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LatencyTrackingMapLoader.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LatencyTrackingMapStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/txn/TxnPutOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/txn/TxnRemoveAllOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/txn/TxnRemoveOperation.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/LatencyTrackingRingbufferStore.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledTaskStatisticsImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/sequence/CallIdSequenceWithBackpressure.java
  hazelcast/src/test/java/com/hazelcast/cache/stats/CacheStatsTest.java
  hazelcast/src/test/java/com/hazelcast/flakeidgen/impl/FlakeIdGenerator_AbstractBackpressureTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestLoggerFactory.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRuleStalenessTest.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/ProgressMonitor.java
  hazelcast/src/test/java/com/hazelcast/test/jitter/JitterThread.java
Labels: Module: ReplicatedMap, Source: Internal, Team: Core, Type: Enhancement

#17074 Don't fire quorum events until quorum is met for the first time
  hazelcast/src/main/java/com/hazelcast/quorum/QuorumListener.java
  hazelcast/src/main/java/com/hazelcast/quorum/impl/QuorumImpl.java
  hazelcast/src/main/java/com/hazelcast/quorum/impl/QuorumServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/quorum/AbstractQuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/QuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/QuorumTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/cache/CacheQuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/lock/LockQuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/map/MapQuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/queue/QueueQuorumListenerTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#17081 Count of maps with wan replication configured
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community

#17075 CP Client message tasks should not deserialize responses
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/atomicref/AtomicRefIsolatedServersTest.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/AbstractCPMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AddAndGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AlterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndAddMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ContainsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/SetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/AwaitMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/CountDownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetRoundMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/TrySetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/GetLockOwnershipStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/LockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/TryLockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/UnlockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AcquirePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AvailablePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ChangePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/DrainPermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/InitSemaphoreMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ReleasePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/CloseSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/CreateSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/GenerateThreadIdMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/HeartbeatSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocation.java
Labels: Backport, Module: CP Subsystem, Module: IAtomicReference, Team: Client, Type: Defect

#17048 [BACKPORT] Fixes interoperability issues with CompletableFuture
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DelegatingCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationFutureTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFutureTest.java
Labels: Backport, Team: Core, Type: Defect

#17055 CP Client message tasks should not deserialize responses
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/AbstractCPMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AddAndGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AlterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndAddMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ContainsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/SetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/AwaitMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/CountDownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetRoundMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/TrySetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/GetLockOwnershipStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/LockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/TryLockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/UnlockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AcquirePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AvailablePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ChangePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/DrainPermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/InitSemaphoreMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ReleasePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/AbstractSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/atomicref/AtomicRefIsolatedServersTest.java
Labels: Backport, Module: CP Subsystem, Module: IAtomicReference, Team: Client, Type: Defect

#17054 CP Client message tasks should not deserialize responses
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/AbstractCPMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AddAndGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AlterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndAddMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ContainsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/SetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/AwaitMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/CountDownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetRoundMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/TrySetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/GetLockOwnershipStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/LockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/TryLockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/UnlockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AcquirePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AvailablePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ChangePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/DrainPermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/InitSemaphoreMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ReleasePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/AbstractSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/atomicref/AtomicRefIsolatedServersTest.java
Labels: Module: CP Subsystem, Module: IAtomicReference, Team: Client, Type: Defect

#17056 CP Client message tasks should not deserialize responses
  hazelcast-client/src/test/java/com/hazelcast/client/cp/internal/datastructures/atomicref/AtomicRefIsolatedServersTest.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/AbstractCPMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AddAndGetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/AlterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndAddMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ApplyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/CompareAndSetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/ContainsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/GetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomicref/client/SetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/AwaitMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/CountDownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/GetRoundMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/countdownlatch/client/TrySetCountMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/GetLockOwnershipStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/LockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/TryLockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/client/UnlockMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AcquirePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/AvailablePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ChangePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/DrainPermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/InitSemaphoreMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/ReleasePermitsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/CloseSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/CreateSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/GenerateThreadIdMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/client/HeartbeatSessionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocation.java
Labels: Backport, Module: CP Subsystem, Module: IAtomicReference, Team: Client, Type: Defect

#17082 Don't fire quorum events until quorum is met for the first time
  hazelcast/src/main/java/com/hazelcast/quorum/QuorumListener.java
  hazelcast/src/main/java/com/hazelcast/quorum/impl/QuorumImpl.java
  hazelcast/src/main/java/com/hazelcast/quorum/impl/QuorumServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/quorum/AbstractQuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/QuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/QuorumTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/cache/CacheQuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/lock/LockQuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/map/MapQuorumListenerTest.java
  hazelcast/src/test/java/com/hazelcast/quorum/queue/QueueQuorumListenerTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#17090 Don't fire SBP events until min cluster is met for the first time
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionListener.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/SplitBrainProtectionImpl.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/SplitBrainProtectionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/AbstractSplitBrainProtectionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/cache/CacheSplitBrainProtectionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/map/MapSplitBrainProtectionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/queue/QueueSplitBrainProtectionListenerTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#17089 Don't fire SBP events until min cluster is met for the first time
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionListener.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/SplitBrainProtectionImpl.java
  hazelcast/src/main/java/com/hazelcast/splitbrainprotection/impl/SplitBrainProtectionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/AbstractSplitBrainProtectionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/SplitBrainProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/cache/CacheSplitBrainProtectionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/map/MapSplitBrainProtectionListenerTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/queue/QueueSplitBrainProtectionListenerTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#17084 Fix fragmented message handling
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoder.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageSplitterTest.java
Labels: Team: Client, Type: Defect

#17085 [BACKPORT] Fix fragmented message handling
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoder.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageSplitterTest.java
Labels: Backport, Team: Client, Type: Defect

#17094 Count of map with atleast one custom attribute
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community

#17092 [FORWARD-PORT] Fine-tuning cluster properties for EE WAN throttling
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Forwardport, Module: WAN, Source: Internal, Team: Core, Type: Enhancement

#17102 Fixes HazelcastStarter test and compatibility tests
  hazelcast/src/test/java/com/hazelcast/test/TestLoggerFactory.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#17093 [BACKPORT] Add ConfigRecognizer API
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientFailoverXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientFailoverYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigStream.java
  hazelcast/src/main/java/com/hazelcast/config/MemberConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigRecognizerTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigStreamTest.java
Labels: Backport, Module: Config, Source: Internal, Team: Core, Type: Enhancement

#17103 Allow longer metric words, fail-fast if exceeded (backport of #16869)
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/LongWordException.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsDictionary.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ManagementCenterPublisher.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsCompressorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsDictionaryTest.java
Labels: Backport, Module: Metrics, Source: Internal, Source: Jet, Team: Core

#17101 [BACKPORT] Fixes ClientInvocationFutureTests
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationFutureTest.java
Labels: Backport, Source: Internal, Team: Core, Type: Test-Failure

#17100 Fixes ClientInvocationFutureTests
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationFutureTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#17116 Fixed shade plugin configuration in the SQL module (#16960)
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#17119 Add earlier partitioning & cluster TDDs to OSS repo
  docs/design/cluster/01-clusterservice-consistency-improvements.md
  docs/design/partitioning/01-avoid-data-loss-on-migration.md
  docs/design/partitioning/02-graceful-shutdown-improvements.md
  docs/design/partitioning/03-fine-grained-anti-entropy-mechanism.md
  docs/design/partitioning/04-gigantic-cache-migration-enhancements.md
  docs/design/partitioning/05-speed-up-partition-migrations.md
  docs/design/partitioning/06-refactor-migrationlistener-api.md
  docs/design/partitioning/resources/01/2369225310.png
  docs/design/partitioning/resources/01/2369225313.png
  docs/design/partitioning/resources/01/2369225316.png
  docs/design/partitioning/resources/01/2369225319.png
  docs/design/partitioning/resources/01/2369225322.png
  docs/design/partitioning/resources/01/2369225325.png
  docs/design/partitioning/resources/01/2369225328.png
  docs/design/partitioning/resources/01/2369225331.png
  docs/design/partitioning/resources/01/2369225334.png
  docs/design/partitioning/resources/01/2369225337.png
  docs/design/partitioning/resources/01/2369225340.png
  docs/design/partitioning/resources/01/2369225343.png
  docs/design/partitioning/resources/01/2369225346.png
  docs/design/partitioning/resources/01/2369225349.jpg
  docs/design/partitioning/resources/01/2369225352.png
  docs/design/partitioning/resources/01/2369225355.png
  docs/design/partitioning/resources/01/2369225358.png
  docs/design/partitioning/resources/01/2369225361.png
  docs/design/partitioning/resources/05/2372173931.png
  docs/design/partitioning/resources/05/2372173934.png
  docs/design/partitioning/resources/05/2372173937.png
Labels: Module: Cluster, Module: Partitioning, Source: Internal, Type: Documentation, Type: Enhancement

#17111 [4.0.2-migration] Fine-tuning cluster properties for EE WAN throttling (#17092)
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Forwardport, Module: WAN, Source: Internal, Team: Core, Type: Defect

#17109 [3.12.8-migration] Fine-tuning group properties for EE WAN throttling (#17088)
  hazelcast/src/main/java/com/hazelcast/spi/properties/GroupProperty.java
Labels: Module: WAN, Source: Internal, Team: Core, Type: Defect

#17095 Fixes test failure in event journal test
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
Labels: Module: IMap, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#17096 [BACKPORT] Fixes test failure in event journal test
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
Labels: Backport, Module: IMap, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#17097 Make client not wait for next connection attempt on shutdown
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientExecutionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
Labels: Source: Internal, Team: Client, Type: Defect

#17098 Make client not wait for next connection attempt on shutdown
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientExecutionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect

#17113 [4.1] Fine-tuning cluster properties for EE WAN throttling (#17092)
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperty.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Module: WAN, Source: Internal, Team: Core, Type: Defect

#17121 TenantControl - creating cache records must use tenant
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTenantControlTest.java
Labels: Source: Community

#17117 Count of Set as a metric
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community

#17122 Tenant cache create fix master
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTenantControlTest.java
Labels: Source: Community

#17063 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Source: Internal, Type: Documentation, Type: Enhancement

#17127 Tenant control cache create fix 4.0 branch
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/test/java/com/hazelcast/cache/CacheTenantControlTest.java
Labels: Module: ICache, Source: Community, Team: Core, Type: Defect

#16991 create ExtendedMapEntry in order to create a mechanism for setting Ttls in EntryProcessors
  hazelcast/src/main/java/com/hazelcast/map/ExtendedMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Module: IMap, Source: Community, Team: Core, Type: Enhancement

#16958 Add ConfigRecognizer API
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientFailoverXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientFailoverYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigStream.java
  hazelcast/src/main/java/com/hazelcast/config/MemberConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractConfigRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberYamlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigRecognizerTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigStreamTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Enhancement

#17131 ExtendedMapEntry extends Map.Entry
  hazelcast/src/main/java/com/hazelcast/map/EntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/ExtendedMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#17030 Added support for Map.compute() #14913
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/ComputeEntryProcessor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientComputeConditionallyTests.java
  hazelcast/src/test/java/com/hazelcast/map/ComputeConditionallyTests.java
Labels: Module: IMap, Source: Community, Team: Core, Type: Enhancement

#16902 Use returned object from ManagedContext#initialize
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheEventListenerAdaptor.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxy.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxyLoadAllTask.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/CardinalityEstimatorContainer.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/operations/CollectionMergeOperation.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/operations/QueueMergeOperation.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/operations/AbstractCallableTaskOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MultipleEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapContainer.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/NamedTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorContainer.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledRunnableAdapter.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/clientside/HazelcastClientManagedContextTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastManagedContextTest.java
Labels: Source: Community, Team: Client, Team: Core, Type: Enhancement

#17141 Remove some javadoc noise
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
Labels: Type: Documentation, Type: Enhancement
