Repository hazelcast/hazelcast, pull requests merged in 2021-06, with the labels that each got.

#18811 Read, filter & project Kafka records in a single processor
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SimpleExpressionEvalContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvProcessors.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByPrimitiveKeyProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtil.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPrimitiveTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#18791 Add partitionAssignment to processor context
  hazelcast/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorContext.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorSupplierContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/PartitionArrangement.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/jet/TestContextSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/test/TestProcessorContextTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/PartitionArrangementTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#18817 Add DML plan caching tests
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPlanCacheTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPlanCacheTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#18818 [PLAT-346] List the ConcurrentReferenceHashMap in the NOTICE file
  NOTICE
Labels: Source: Internal, Type: Cleanup

#18802 Update hazelcast.yaml in distribution
  distribution/src/root/config/hazelcast.yaml
Labels: Module: Config, Source: Internal, Team: Core

#18819 [PLAT-347 BACKPORT-4.0.z] List the ConcurrentReferenceHashMap in the NOTICE file
  NOTICE
Labels: Backport, Source: Internal, Type: Cleanup

#18820 [PLAT-347 BACKPORT-4.1.z] List the ConcurrentReferenceHashMap in the NOTICE file
  NOTICE
Labels: Backport, Source: Internal, Type: Cleanup

#18821 [PLAT-347 BACKPORT-4.2.z] List the ConcurrentReferenceHashMap in the NOTICE file
  NOTICE
Labels: Backport, Source: Internal, Type: Cleanup

#18757 Member start should fail on SSL errors
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
Labels: Module: Cluster, Module: Security, Source: Internal, Team: Core, Type: Defect

#18809 Ignore some CDC tests on JDK 16 too (not just 15)
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
Labels: Not Release Notes content, Type: Test-Failure

#18826 Add check to forbid org.jetbrains annotations
  checkstyle/checkstyle.xml
  hazelcast/src/main/java/com/hazelcast/client/map/impl/iterator/ClientMapQueryIterable.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightJobProxy.java
Labels: Source: Internal, Team: Core

#18810 Shut down all used instances in tests
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/CdcSinksTest.java
Labels: Not Release Notes content, Type: Test-Failure

#18823 Move the hazelcast.multicast.group system property to ClusterProperty class
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/instance/MulticastLoopbackModeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MulticastServiceTest.java
Labels: Source: Internal, Type: Cleanup

#18813 Fix copy constructor of EvictionConfig
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheEvictionTest.java
  hazelcast/src/test/java/com/hazelcast/config/EvictionConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/MapNearCacheEvictionTest.java
Labels: Module: IMap, Module: Near Cache, Type: Defect

#18775 Remove deprecated api from cli
  distribution/pom.xml
  distribution/src/bin-filemode-755/hazelcast
  distribution/src/bin-regular/jet.bat
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
  hazelcast/src/main/java/com/hazelcast/client/console/package-info.java
  hazelcast/src/main/java/com/hazelcast/jet/server/package-info.java
  hazelcast/src/test/java/com/hazelcast/client/console/HazelcastCommandLineTest.java
  hazelcast/src/test/resources/com/hazelcast/client/console/hazelcast-client-template.yaml
  hazelcast/src/test/resources/com/hazelcast/client/console/hazelcast-client-test.xml
  hazelcast/src/test/resources/com/hazelcast/client/console/hazelcast-client-test.yaml
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-hz-bootstrap.jar
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-hz-bootstrap/pom.xml
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-hz-bootstrap/src/main/java/com/hazelcast/jet/testjob/TestJob.java
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-jet-bootstrap.jar
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-jet-bootstrap/pom.xml
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-jet-bootstrap/src/main/java/com/hazelcast/jet/testjob/TestJob.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Cleanup

#18825 Light jet job management
  hazelcast-jet-core/src/main/resources/client-protocol-definition/Jet.yaml
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/SinkTypeCoercionTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractAsyncMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMultiTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/jet/JetService.java
  hazelcast/src/main/java/com/hazelcast/jet/Job.java
  hazelcast/src/main/java/com/hazelcast/jet/LightJob.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientLightJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsByNameCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSubmissionTimeCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetJoinSubmittedJobCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobIdsByNameMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobIdsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSubmissionTimeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetJoinSubmittedJobMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobIdsByNameOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobIdsOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobMetricsOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobSubmissionTimeOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/JoinSubmittedJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpMemberConnectionLossTest.java
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycle_RestartableExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCachePTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/LikePredicateTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#18835 Fix copy constructor of EvictionConfig
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheEvictionTest.java
  hazelcast/src/test/java/com/hazelcast/config/EvictionConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/MapNearCacheEvictionTest.java
Labels: Module: IMap, Module: Near Cache, Type: Defect

#18834 Fix copy constructor of EvictionConfig
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheEvictionTest.java
  hazelcast/src/test/java/com/hazelcast/config/EvictionConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/MapNearCacheEvictionTest.java
Labels: Module: IMap, Module: Near Cache, Type: Defect

#18851 Implement IdentifiedDataSerializable for SQL schema objects
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/Mapping.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingField.java
Labels: Module: SQL, Source: Internal, Team: Core

#18842 [HZ-393] Add support for DATE without leading zeroes
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/CastFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestSupport.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractStringConverter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/converter/ConvertersTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18867 Test for implicit casts of decimals to integer
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/SinkTypeCoercionTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18870 Fix c.h.jet.core.GracefulShutdownTest
  hazelcast/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
Labels: Estimation: S, Source: Internal, Team: Core, Type: Test-Failure

#18833 Update to the new Hazelcast logo
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#18874 Remove nullability from Jet SQL backend in QueryParser
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/QueryParserTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18883 Clear metrics before test start
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientJmxMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTestHelper.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/MemberJmxMetricsTest.java
Labels: Type: Test-Failure

#18865 [HZ-413] Introduce migration-tolerant IMap scan for Jet SQL engine
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/OnHeapMapScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/OnHeapMapScanPTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/MapScanMetadata.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18888 Fix Kinesis tests
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/AbstractKinesisTest.java
Labels: Type: Test-Failure

#18882 Remove c.h.jet.MulticastDiscoveryTest
  hazelcast/src/test/java/com/hazelcast/jet/MulticastDiscoveryTest.java
Labels: Estimation: S, Module: Jet, Source: Internal, Type: Test-Failure

#18886 SQL DML cleanups + tests
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/InsertLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DeletePhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DeletePhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/InsertPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlDeleteTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnsupportedFeaturesTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#18879 Fix getJob(long) after new master takes over
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#18780 Cleanup of deprecated Rack and Host metadata from Zone Aware group
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/ZoneAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/DiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/integration/DiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupMetaData.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupStrategy.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryTest.java
Labels: Add to Release Notes, Module: Discovery SPI, Public API/SPI breaking change, Source: Internal, Team: Integration, Type: Cleanup

#18881 [HZ-393] Standardize TIME and TIMESTAMP temporal formats
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/CastFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestSupport.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractStringConverter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/converter/ConvertersTest.java
Labels: Add to Release Notes, Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18872 Use light jobs for SQL statements
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/JetPlanExecutorTest.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/jet/JetService.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/JoinSubmittedJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SubmitJobOperation.java
  hazelcast/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18890 Fix job restart before StartExecutionOp
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#18907 Re-add accidentally removed network metric update
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
Labels: Estimation: S, Module: Metrics, Module: Network I/O, Source: Internal, Type: Test-Failure

#18624 Fix LRU comparison algorithm
  hazelcast/src/main/java/com/hazelcast/internal/eviction/impl/comparator/LRUEvictionPolicyComparator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/EvictionPolicyEvaluatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/impl/comparator/LRUEvictionPolicyComparatorTest.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18897 Fix test failing due to `shutdown` replaced by `terminate`
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastInstanceFactoryTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18857 [HZ-317] Add ClientConsole entrypoint into HazelcastCommandLine
  hazelcast/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
  hazelcast/src/main/java/com/hazelcast/client/console/SqlConsole.java
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleAppTest.java
  hazelcast/src/test/java/com/hazelcast/client/console/ClientConsoleTest.java
Labels: Estimation: S, Source: Internal, Team: Core, Type: Enhancement

#18909 Fix LRU comparison algorithm
  hazelcast/src/main/java/com/hazelcast/internal/eviction/impl/comparator/LRUEvictionPolicyComparator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/EvictionPolicyEvaluatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/impl/comparator/LRUEvictionPolicyComparatorTest.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
Labels: Forwardport, Module: IMap, Source: Internal, Team: Core, Type: Defect

#18884 Use test instance factory in MemberReconnectionStressTest
  hazelcast/src/test/java/com/hazelcast/jet/core/MemberReconnectionStressTest.java
Labels: Estimation: S, Module: Jet, Source: Internal, Type: Test-Failure

#18852 Fix misprinted log at node startup
  hazelcast/src/main/java/com/hazelcast/instance/impl/JetExtension.java
Labels: Estimation: S, Module: Jet, Source: Internal, Type: Defect

#18914 Get rid of TransientReference from JoinByPrimitiveKeyProcessorSupplier
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByPrimitiveKeyProcessorSupplier.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#18632 Fix LRU comparison by adding creation time
  hazelcast/src/main/java/com/hazelcast/internal/eviction/impl/comparator/LRUEvictionPolicyComparator.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/EvictionPolicyEvaluatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/impl/comparator/LRUEvictionPolicyComparatorTest.java
Labels: Backport, Module: IMap, Source: Internal, Team: Core, Type: Defect

#18919 Exclude non-mandatory dependencies of json-schema validator lib
  hazelcast/pom.xml
Labels: Module: JSON, Source: Internal, Team: Core, Type: Enhancement

#18918 Remove changelog.txt files
  distribution/src/root/changelog.txt
  hazelcast/src/main/resources/changelog.txt
Labels: Source: Internal, Team: Core, Type: Cleanup

#18856 HZ-397 - TO_TIMESTAMP_TZ SQL function
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/datetime/HazelcastToTimestampTzFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/datetime/ToTimestampTzIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/ToTimestampTzFunction.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18871 Fix size based eviction when cluster scaled down
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/BackupListenerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheEvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionMaxSizePolicyTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/MapNearCacheEvictionTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/AbstractReplicatedMapListenerTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18923 Fix failures related to not cleaning HazelcastBootstrap
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastBootstrapTest.java
Labels: Module: Jet, Source: Internal, Type: Test-Failure

#18875 Fail fast at startup for invalid WAN merge policy
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergePolicyProvider.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/MergePolicyValidatorMapIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/MergePolicyValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/merge/SplitBrainMergePolicyProviderTest.java
Labels: Module: IMap, Module: WAN, Source: Internal, Team: Core, Type: Enhancement

#18924 [BACKPORT] initialize sequence before adding to queue
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/entry/AddedDelayedEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/entry/DeletedDelayedEntry.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindStoreTest.java
Labels: Backport, Module: IMap, Source: Community, Team: Core, Type: Defect

#18686 initialize sequence before adding to queue
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/entry/AddedDelayedEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/entry/DeletedDelayedEntry.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindStoreTest.java
Labels: Module: IMap, Source: Community, Team: Core, Type: Defect

#18913 Provide custom logger for logo
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#18929 [BACKPORT] initialize sequence before adding to queue
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/entry/AddedDelayedEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/entry/DeletedDelayedEntry.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/WriteBehindStoreTest.java
Labels: Backport, Module: IMap, Source: Community, Team: Core, Type: Defect

#18925 Revert PR18267 because it introduces bugs
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnector.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/FrozenPartitionTableTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockJoiner.java
Labels: Module: Cluster, Source: Internal, Team: Core, Type: Defect

#18889 Include missing dependencies for the JSON validation feature.
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/osgi/HazelcastOSGiIT.java
Labels: Module: JSON, Source: Internal, Team: Core, Type: Test-Failure

#18928 [FORWARD PORT] Fail fast at startup for invalid WAN merge policy (#18875)
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergePolicyProvider.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/MergePolicyValidatorMapIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/MergePolicyValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/merge/SplitBrainMergePolicyProviderTest.java
Labels: Forwardport, Module: IMap, Module: WAN, Source: Internal, Team: Core, Type: Enhancement

#18402 [FORWARD PORT]Increase write delay seconds
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
Labels: Module: IMap, Module: Transactions, Source: Internal, Team: Core, Type: Test-Failure

#18903 Fix problematic reflection usage
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapReorderedReplicationTest.java
Labels: Module: ReplicatedMap, Source: Internal, Team: Core, Type: Test-Failure

#18936 Increase timeout in test
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#18937 Increase timeout in test
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Type: Test-Failure

#18895 Enable resource upload for PythonInitCleanupTest
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonInitCleanupTest.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonServiceTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18935 Update hazelcast-kubernetes dependency version
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration, Type: Enhancement

#18934 Update hazelcast-kubernetes version
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration, Type: Enhancement

#18722 Add UTC zone to formatter
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
Labels: Module: Jet, Not Release Notes content, Source: Internal, Source: Jet, Team: Core, Type: Defect

#18942 Fix test compile error caused by merging stale feature branch
  hazelcast-all/pom.xml
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
  pom.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18922 Add support for returning nested fields without deserializing them
  hazelcast-sql/src/test/java/com/hazelcast/sql/PortableQueryTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/AbstractPredicate.java
Labels: Internal breaking change, Module: SQL, Module: Serialization, Source: Internal, Team: Client

#18900 HZ-433 - TO_EPOCH_MILLIS SQL function
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/TypedOperandChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/datetime/HazelcastToEpochMillisFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/datetime/ToEpochMillisIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/ToEpochMillisFunction.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18573 [PLAT-382] Include META-INF/NOTICE and META-INF/LICENSE in JARs
  distribution/pom.xml
  distribution/src/NOTICE.ftl
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  extensions/assembly-descriptor-module.xml
  extensions/avro/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/assembly-descriptor.xml
  extensions/cdc-postgres/pom.xml
  extensions/cdc-postgres/src/assembly-descriptor.xml
  extensions/csv/pom.xml
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  extensions/hadoop-dist/files-azure/pom.xml
  extensions/hadoop-dist/files-gcs/pom.xml
  extensions/hadoop-dist/files-s3/pom.xml
  extensions/hadoop-dist/hadoop-all/pom.xml
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/kafka/pom.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-all/pom.xml
  hazelcast-all/src/test/java/com/hazelcast/it/CheckAllNoticeFileIT.java
  hazelcast-build-utils/pom.xml
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastLicenseResourceTransformer.java
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  hazelcast-build-utils/src/main/resources/LICENSE
  hazelcast-build-utils/src/main/resources/hazelcast-thirdparty-template.ftl
  hazelcast-spring/pom.xml
  hazelcast-spring/src/test/java/com/hazelcast/it/CheckSpringNoticeFileIT.java
  hazelcast-sql/pom.xml
  hazelcast-sql/src/test/java/com/hazelcast/it/CheckSqlNoticeFileIT.java
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/it/CheckNoticeFileIT.java
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#18949 Don't assume a default value for Portable primitive fields
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTarget.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/model/PersonId.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTargetTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#18954 Enable disabled row coercion tests
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/RowAssignmentTypeCoercionTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#18952 Cleanup DML rules and rels
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/InsertLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/InsertLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UpdateLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UpdateLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DeletePhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DeletePhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/InsertPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/InsertPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/UpdatePhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/UpdatePhysicalRule.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#18915 Set last-access-time for only LRU records
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18916 Set last-access-time for only LRU records
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18964 Fix JobTest failure
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18956 [BACKPORT] Fix problematic reflection usage (#18903)
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapReorderedReplicationTest.java
Labels: Module: ReplicatedMap, Source: Internal, Team: Core, Type: Test-Failure

#18965 Specify explicitly commons-codec dependency version
  pom.xml
Labels: Module: SQL, Module: Security, Source: Internal, Team: Core

#18955 Decrease logging level when no strategy is auto-discovered
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DefaultDiscoveryService.java
Labels: Even Jaromir can do that, Module: Discovery SPI, Source: Internal, Team: Integration, Type: Enhancement

#18967 Organize imports for SQL
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesGeneratorTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/MapIndexScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/TypedOperandChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/math/HazelcastAbsFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/math/HazelcastFloorCeilFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/math/HazelcastRandFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/math/HazelcastRoundTruncateFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/math/HazelcastSignFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/misc/HazelcastCaseOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/misc/HazelcastUnaryOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastAndOrPredicate.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastComparisonPredicate.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastIsTrueFalseNullPredicate.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastNotPredicate.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/string/HazelcastConcatOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/string/HazelcastStringFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/string/HazelcastSubstringFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/string/HazelcastTrimFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/it/DependencyReducedPomSqlIT.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlNullableColumnTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/index/SqlIndexConverterMismatchTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/AbstractExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/Exec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/UpstreamState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/AbstractMapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ColumnExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/AbsFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/DivideFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/ExpressionMath.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/MinusFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/MultiplyFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/UnaryMinusFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/Plan.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCacheChecker.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryInitiatorState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converter.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18951 Fix free metadata memory report of health monitor
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/HealthMonitor.java
Labels: Type: Defect

#18953 Fix free meta memory report of health monitor
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/HealthMonitor.java
Labels: Type: Defect

#18873 Fix size-based eviction when cluster scaled down
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionMaxSizePolicyTest.java
Labels: Forwardport, Module: IMap, Source: Internal, Team: Core, Type: Defect

#18927 Fix size based eviction when cluster scaled down
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionMaxSizePolicyTest.java
Labels: Forwardport, Module: IMap, Source: Internal, Team: Core, Type: Defect

#18974 [FORWARDPORT] Update the Apache commons-codec version
  pom.xml
Labels: Forwardport, Module: SQL, Module: Security, Source: Internal, Team: Core

#18946 [HZ-333] Add support for server side IMap.putIfAbsentAsync
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/core/standalone/AllTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationTest.java
  hazelcast/src/test/java/com/hazelcast/map/AbstractMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/map/AsyncTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/MemberMapNullTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/AbstractMapNearCacheLocalInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/map/MapSplitBrainProtectionWriteTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#18969 [BACKPORT] Fix on-heap index memory cost tracking
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/GlobalIndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/HDGlobalIndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/IndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/PartitionIndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseSingleValueIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/bitmap/Bitmap.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Backport, Module: IMap, Module: Query, Not Release Notes content, Source: Internal, Team: Core

#18958 Call operations for backup partitions in async manner
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ToBackupSender.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/OperationService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
Labels: Module: ICache, Module: IMap, Source: Internal, Type: Defect

#18971 Call operations for backup partitions in async manner
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ToBackupSender.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/OperationService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
Labels: Module: ICache, Module: IMap, Source: Internal, Team: Core, Type: Defect

#18976 Support trailing semicolon in SQL
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/QueryParserTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18963 Exclude log4j-api dependency from the elastic fat jars
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
Labels: Module: Jet, Source: Internal, Team: Core, Type: Cleanup

#18894 checkstyle/checkstyle: make lineSeparator platform independent
  .gitattributes
Labels: Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#18893 config/config: add instantiation helper methods from jet
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Enhancement

#18972 Remove JetBuildInfo
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientLoggingService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/MCClusterMetadata.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetClusterMetadataMessageTask.java
  hazelcast/src/main/java/com/hazelcast/instance/BuildInfo.java
  hazelcast/src/main/java/com/hazelcast/instance/BuildInfoProvider.java
  hazelcast/src/main/java/com/hazelcast/instance/JetBuildInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/BuildInfoPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/main/resources/jet-runtime.properties
  hazelcast/src/test/java/com/hazelcast/client/impl/management/MCMessageTasksTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Module: Jet, Source: Internal, Team: Client, Team: Core, Type: Cleanup

#18981 Fix Python service test failures
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonInitCleanupTest.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonServiceTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18983 API-564 Add default serializers for LocalDate, LocalTime, LocalDateTime, OffsetDatetime
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/PortableUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/1.serialization.compatibility.binary
Labels: Add to Release Notes, Module: Serialization, Source: Internal, Team: Client, Team: Core, Type: Enhancement

#18984 API-566 Change year in SQL client protocol to be int
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
Labels: Add to Release Notes, Module: Serialization, Source: Internal, Team: Client, Team: Core, Type: Enhancement

#18892 [HZ-340] Migration-aware MapFetchIndexOperation
  hazelcast/src/main/java/com/hazelcast/internal/iteration/IndexIterationPointer.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionStampUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionTableView.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/util/AbstractCompositeIterator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/DefaultMapOperationProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperationProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalIndexPartitionTracker.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Index.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexKeyEntries.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExec.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionTableViewTest.java
  hazelcast/src/test/java/com/hazelcast/map/IndexStatsChangingNumberOfMembersTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/MapFetchIndexOperationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/GlobalIndexPartitionTrackerTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecTest.java
Labels: Module: IMap, Module: SQL, Not Release Notes content, Source: Internal, Team: Core, Type: Enhancement

#18994 Fix SQL serialization class ids.
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#18973 [HZ-456] Change old license in pom.xml file
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18921 SQLStatement.setTimeout support for Jet SQL jobs
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlCoreBackendImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/JetPlanExecutorTest.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTimeoutClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTimeoutTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18993 Unify maven-resources-plugin executions into a single plugin definition
  hazelcast/pom.xml
Labels: Source: Internal, Team: Core, Type: Cleanup
