Repository hazelcast/hazelcast, pull requests merged in 2021-04, with the labels that each got.

#18437 Handle family-less Calcite SQL types while converting to HZ SQL types
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeUtils.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#18449 Ignore frequently failing tests
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/HazelcastCacheReadTimeoutTest.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/transaction/TestSpringManagedHazelcastTransaction.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18443 Replace concrete class with ClientEngine interface
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetService.java
Labels: Source: Internal, Team: Core, Type: Defect

#18452 Ignore frequently failing tests
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/HazelcastCacheReadTimeoutTestWithJavaConfig.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/HazelcastCacheReadTimeoutTestWithPropFile.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18362 MC-414 changing Event tracking in ManagementCenterService to support multiple connected MCs.
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/PollMCEventsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementCenterService.java
  hazelcast/src/test/java/com/hazelcast/internal/management/MCEventStoreTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ManagementCenterServiceIntegrationTest.java
Labels: Source: Internal, Team: Management Center

#18467 Incorporate smallInstanceConfig to spring tests
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/CustomSpringJUnit4ClassRunner.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestClientNetworkConfig.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestEmptyApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/HazelcastCacheReadTimeoutTest.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/HazelcastCacheReadTimeoutTestWithJavaConfig.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/HazelcastCacheReadTimeoutTestWithPropFile.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/TestCacheManager.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/hotrestart/TestHotRestartEncryptionKeyStoreApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/hotrestart/TestHotRestartEncryptionVaultApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/security/SecureApplicationContextTest.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/transaction/TestSpringManagedHazelcastTransaction.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/beans-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/cacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheCacheManager-applicationContext-DI.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheClientCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/no-readtimeout-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/readtimeout-config-prop-file.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/readtimeout-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/simple-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/client-network-defaults-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/managedContext-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-issue-2676-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-jcache-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-lite-member-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/customLoadBalancer-applicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/discoveryConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/hibernate/hibernate-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/hotrestart/hot-restart-encryption-keystore-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/hotrestart/hot-restart-encryption-vault-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/jet/application-context-jet-service.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-failover-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/replicatedmap/replicatedMap-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/springaware/springAware-disabled-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/springaware/springAware-enabled-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/transaction/transaction-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/hazelcast-default.properties
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18438 Increase AsyncSnapshotWriterImplTest timeout
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18468 Increase thread-count for multipleJVM tests
  hazelcast/src/test/java/com/hazelcast/test/HazelcastParallelClassRunner.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18464 Adds quick build profile
  README.md
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#18450 [PLAT-202] POWER/SQUARE/SQRT/CBRT functions implemented
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/math/DoubleBiFunctionIntegrationTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/math/DoubleFunctionIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/DoubleBiFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/DoubleFunction.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18472 Remove SQL core tests re-run from Jet SQL module
  hazelcast-jet-sql/pom.xml
  hazelcast-sql-core/pom.xml
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlBasicTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlClientExecuteCloseRaceTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlClientResultTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlErrorAbstractTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlIntegrationTestSuite.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlNullableColumnTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlParameterTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlQueryResultTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlTestInstanceFactory.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestSupport.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/plan/cache/PlanCacheIntegrationTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlCancelOnShutdownTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlClientCursorCleanupTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlNoDeserializationTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlNoSerializationTest.java
  pom.xml
Labels: Module: SQL, Source: Internal, Team: Core

#18477 Implement default timeout for CustomSpringJUnit4ClassRunner
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/CustomSpringJUnit4ClassRunner.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#18474 Adjust Jet extension related test
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
  extensions/pom.xml
  hazelcast-jet-core/pom.xml
  hazelcast-jet-sql/pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement, Type: Test-Failure

#18491 Enable debug logs in Jet tests running in IDE
  hazelcast/src/test/resources/log4j2.xml
Labels: Source: Jet, Type: Enhancement

#18444 Enable usage of ExpressionEvalContext while evaluating VALUES
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/ExpressionValues.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UnionLogicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UnionLogicalRule.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/ValuesLogicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/ValuesLogicalRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/ValuesReduceRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/ValuesPhysicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/ValuesPhysicalRule.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptUtilsTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#18500 [FORWARDPORT] Exclude log4j (1.2.x) from hadoop module dependencies
  distribution/src/root/NOTICE
  extensions/hadoop-dist/files-azure/src/root/NOTICE
  extensions/hadoop-dist/files-gcs/src/root/NOTICE
  extensions/hadoop-dist/files-s3/src/root/NOTICE
  extensions/hadoop-dist/hadoop-all/src/root/NOTICE
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
Labels: Source: Internal, Source: Jet, Team: Core, Type: Defect

#18494 Cleanup
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetJoinInfo.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/DistinctSqlAggregation.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PojoUpsertTargetDescriptor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullScanLogicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/ProjectLogicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/ProjectPhysicalRel.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#18495 Cleanup
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/SortPhysicalRel.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlParameterTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/JetSqlTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/index/PhysicalIndexScanTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/parse/QueryParserTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestSupport.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/predicate/AndOrPredicateIntegrationTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlNoDeserializationTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlNoSerializationTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/support/expressions/ExpressionValue.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#18445 Enable usage of ExpressionEvalContext while evaluating table function arguments
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesGeneratorTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamGeneratorTableFunction.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullFunctionScanLogicalRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetSpecificTableFunction.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlSeriesGeneratorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlStreamGeneratorTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#18481 Lazily create jet internal maps
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/BasicClusterStateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/PendingInvocationsPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/MapStatisticsAwareServiceTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapTest.java
  hazelcast/src/test/java/com/hazelcast/spi/tenantcontrol/TenantControlTest.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#18462 Use smallInstanceConfig() in Jet tests
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/CdcSinksTest.java
  extensions/protobuf/src/test/java/com/hazelcast/jet/protobuf/JobSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ClusterStateChangeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/GracefulShutdown_LiteMasterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobRestartWithSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/Job_SeparateClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/Job_StaleInstanceTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ManagedContextTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/MemberReconnectionTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/OperationTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ScaleUpTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/SuspendResumeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TopologyChangeDuringJobSubmissionTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobExecutionMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_NonSharedClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobSnapshotMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegration_NonSharedClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP_ConsistencyTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalPTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_TerminalSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceBatchP_IntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceP_IntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/OrderedProcessingMergingStagesTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/OrderedProcessingMultipleMemberTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SourceBuilder_TopologyChangeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#18493 Tidy up the DefaultNodeEntension and JetExtension
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/JetExtension.java
  hazelcast/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
Labels: Source: Internal, Type: Cleanup, Type: Enhancement

#18446 Cache 'Jet' SQL plans
  docs/design/sql/06-plan-caching.md
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/AvroMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/CsvMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/JsonMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/Metadata.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/MetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/ParquetMetadataResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/ProcessorMetaSupplierProvider.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingColumnsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataNullResolver.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/AvroQueryTargetDescriptor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/JsonQueryTargetDescriptor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/AvroUpsertTargetDescriptor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/HazelcastJsonUpsertTargetDescriptor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/JsonUpsertTargetDescriptor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PojoUpsertTargetDescriptor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTargetDescriptor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetTable.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetPlanExecutorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetSqlBackendTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlPlanCacheTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlSeriesGeneratorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlStreamGeneratorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPlanCacheTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPlanCacheTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestStreamSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/SqlExtendedInsertTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/CacheablePlan.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCheckContext.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanObjectKey.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18498 [FORWARDPORT] Prevent cancellation exception printing when user cancels the job
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
Labels: Forwardport, Module: SQL, Source: Internal, Source: Jet, Team: Core

#18488 Update and unify Guava dependencies
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  hazelcast-sql-core/pom.xml
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#18492 Update netty version
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#18475 [FORWARDPORT] Fix queue size display in Dot representation when default is changed
  distribution/src/root/release_notes.txt
  hazelcast/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/test/java/com/hazelcast/jet/core/DotTest.java
Labels: Forwardport, Source: Jet, Type: Defect, Type: Enhancement

#18501 Re-enable MemberJmxMetricsTest
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/MemberJmxMetricsTest.java
Labels: Module: Metrics, Source: Internal, Team: Core, Type: Test-Failure

#18509 Remove snapshot repository declaration from hazelcast-all pom.xml
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#18497 Add more logging to the HazelcastConnector_RestartTest
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnector_RestartTest.java
  hazelcast/src/test/resources/log4j2-trace-hazelcast-connector-restart-test.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18515 Remove redundant JetSqlTest
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/JetSqlTest.java
Labels: Module: SQL, Source: Internal, Type: Test-Failure

#18513 Remove jacoco from parallelTest profile
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement

#18504 Refactor cacheable SQL plans
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingColumnsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/JetPlanExecutorTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestStreamSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/SqlExtendedInsertTest.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlBackend.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/PlanCreateVisitor.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlQueryResultTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/TestMapTable.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/optimizer/PlanKeyTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/plan/cache/PlanCacheTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/plan/cache/PlanCacheTestSupport.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/PlanCheckContext.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/PlanKey.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/PlanObjectKey.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/SqlPlan.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/Plan.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/CachedPlanInvalidationCallback.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PartitionedMapPlanObjectKey.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCache.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCacheChecker.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanObjectKey.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/Table.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/PlanTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/SqlCatalogTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapPlanObjectKeyTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#18419 Respect `migrating` flag while computing member state
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
Labels: Backport, Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#18420 Respect `migrating` flag while computing member state
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
Labels: Backport, Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#18518 Update moby names
  hazelcast/src/main/java/com/hazelcast/instance/impl/MobyNames.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/MobyNamesTest.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#18480 Control temporary allocations for background expiry task
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/management/MCEventStoreTest.java
Labels: Module: IMap, Source: Community, Type: Defect

#18496 Update dependency versions from Jet 4.5 made after the merge
  distribution/pom.xml
  modulepath-tests/pom.xml
  pom.xml
Labels: Source: Internal, Team: Core

#18502 Use ConfigFactory to create the default config instances.
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/CustomSpringJUnit4ClassRunner.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/TestCacheManager.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/config/ConfigFactoryAccessor.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/beans-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/cacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheCacheManager-applicationContext-DI.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheClientCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/no-readtimeout-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/readtimeout-config-prop-file.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/readtimeout-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/simple-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/client-network-defaults-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/managedContext-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-issue-2676-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-jcache-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-lite-member-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/customLoadBalancer-applicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/discoveryConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/hibernate/hibernate-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/jet/application-context-jet-service.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-failover-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/replicatedmap/replicatedMap-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/springaware/springAware-disabled-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/springaware/springAware-enabled-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/transaction/transaction-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastFailoverClientBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/config/ConfigFactory.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/config/package-info.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18519 Implement equals() & hashCode() for FileFormats
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingColumnsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaTable.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/FileTableTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaTableTest.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/AvroFileFormat.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/CsvFileFormat.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/JsonFileFormat.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/LinesTextFileFormat.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/ParquetFileFormat.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/RawBytesFileFormat.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/TextFileFormat.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#18516 Fix NoMandatoryDependencyDeclared tests failing on EE
  hazelcast/src/test/java/com/hazelcast/osgi/CheckDependenciesIT.java
Labels: Estimation: S, Source: Internal, Type: Test-Failure

#18526 Fix PhoneHomeClientsTest failure
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeClientsTest.java
Labels: Source: Internal, Team: Management Center, Type: Test-Failure

#18529 Assert cache size with QueryCache#tryRecover
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/ServerQueryCacheRecreationTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18533 Fix ExecutionLifecycleTest failures
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18534 Create test-jar for hazelcast-sql-core
  hazelcast-sql-core/pom.xml
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#18524 Fix HazelcastConnector_RestartTest failure
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnector_RestartTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18532 Add more detailed logs from testcontainers to test output
  extensions/cdc-debezium/src/test/resources/log4j2.xml
  extensions/cdc-mysql/src/test/resources/log4j2.xml
  extensions/cdc-postgres/src/test/resources/log4j2.xml
  extensions/elasticsearch/elasticsearch-5/src/test/resources/log4j2.xml
  extensions/elasticsearch/elasticsearch-6/src/test/resources/log4j2.xml
  extensions/elasticsearch/elasticsearch-7/src/test/resources/log4j2.xml
  extensions/s3/src/test/resources/log4j2.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18536 Fix SqlNoDeserializationTest client test
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlNoDeserializationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Module: Jet, Team: Core, Type: Test-Failure

#18527 Some tests take too much time to be part of the PR build process
  hazelcast/src/test/java/com/hazelcast/cardinality/CardinalityEstimatorSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicBlockTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationInvocationsSafetyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeClientsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast/src/test/java/com/hazelcast/map/merge/MapSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_TimeoutTest.java
Labels: Source: Internal, Team: Core, Type: Cleanup

#18543 Do not exclude shade plugin in hazelcast-sql module
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Type: Test-Failure

#18535 Downgrade Testcontainers version for CDC extensions
  extensions/cdc-debezium/pom.xml
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-postgres/pom.xml
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/kinesis/pom.xml
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
  extensions/s3/pom.xml
  hazelcast-jet-core/pom.xml
  hazelcast/pom.xml
  pom.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18537 Fix failures in SplitBrainTest
  hazelcast/src/test/java/com/hazelcast/jet/core/JetSplitBrainTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnector_RestartTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/IOUtilTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18479 Add LIMIT clause support
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/JetQueryResultProducer.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SortLogicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SortLogicalRule.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalRules.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRel.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRule.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlLimitTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18528 Clear JMX metrics when starting tests looking at them
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientJmxMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTestHelper.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/MemberJmxMetricsTest.java
Labels: Module: Metrics, Source: Internal, Team: Core, Type: Test-Failure

#18544 Simplify HazelcastConnector_RestartTest by removing the MigrationBlockingService
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnector_RestartTest.java
  hazelcast/src/test/resources/log4j2-trace-hazelcast-connector-restart-test.xml
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18530 Fix race in phase2 coordination
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorState.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/SnapshotContext.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Snapshots.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/SnapshotContextSimpleTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#18554 Fix Kafka test for added partitions
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18550 Skip checking whitelisted classes for serializability convensions
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
Labels: Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#18558 Update snakeyaml to 1.26
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement, dependencies

#18553 Fix SINK INTO coercion issues
  hazelcast-jet-sql/pom.xml
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlAggregateTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/SqlLimitTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/SinkTypeCoercionTest.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeCoercion.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/support/expressions/ExpressionValue.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#18391 Increase wait time for MapLockTest.testLockMigration
  hazelcast/src/test/java/com/hazelcast/map/MapLockTest.java
Labels: Module: Lock, Source: Internal, Team: Core, Type: Test-Failure

#18510 [PLAT-198] Implementation of SQL POSITION function
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/string/HazelcastPositionFunction.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/string/PositionFunctionIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/PositionFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/StringFunctionUtils.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18377 Fix ClientInvocation Retry
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/AbstractClientInvocationService.java
  hazelcast-client/src/test/java/com/hazelcast/client/spi/impl/ClientInvocationServiceImplTest.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18575 Remove hazelcast-jet-distribution module
  hazelcast-jet-distribution/pom.xml
  hazelcast-jet-distribution/src/NOTICE.ftl
Labels: Source: Internal, Team: Core, Type: Cleanup

#18560 Add address info on connection failure messages
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/AbstractChannel.java
Labels: Module: Network I/O, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Defect

#18564 Add address info on connection failure messages
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/AbstractChannel.java
Labels: Backport, Module: Network I/O, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Defect

#18565 Add address info on connection failure messages
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/AbstractChannel.java
Labels: Backport, Module: Network I/O, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Defect

#18566 Add address info on connection failure messages
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/AbstractChannel.java
Labels: Backport, Module: Network I/O, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Defect

#18499 [FORWARDPORT] Limit the number of parallel partition reads for map/cache.
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
Labels: Forwardport, Source: Internal, Team: Core, Type: Enhancement

#18577 Convert IOUtilTest back to serial-class-runner
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/IOUtilTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18520 Fix full distribution packaging (missing picocli and jline)
  distribution/src/assembly/assembly-descriptor.xml
  pom.xml
Labels: Source: Internal, Team: Core, Type: Defect, dependencies

#18542 Re-enable Jet class/jar deployment tests
  hazelcast/src/test/class/com/sample/lambda/Worker$InnerWorker.class
  hazelcast/src/test/class/com/sample/lambda/Worker.class
  hazelcast/src/test/class/com/sample/pojo/person/Person$Appereance.class
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ClientDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ClientDeployment_StandaloneClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/DeploymentTest.java
  hazelcast/src/test/resources/zip-resources/person-car-jar.zip
  hazelcast/src/test/resources/zip-resources/person-jar.zip
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18557 Reenable CheckAllDependenciesIT
  hazelcast-all/src/test/java/com/hazelcast/it/CheckAllDependenciesIT.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18556 Invalidate cached SQL plans on mapping changes
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingCatalog.java
  hazelcast-jet-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/MappingStorage.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlPlanCacheTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlPlanCacheTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPlanCacheTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPlanCacheTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/MappingCatalogTest.java
  hazelcast-jet-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/MappingStorageTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/TestTableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCacheChecker.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/TableResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/SqlCatalogTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18576 Update distribution zip contents
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
Labels: Source: Internal, Team: Core, Type: Enhancement, dependencies

#18587 Exclude generated sources from checkstyle checks
  checkstyle/suppressions.xml
Labels: Module: SQL, Source: Internal, Team: Core

#18561 Add toString method to IndexImpl
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalIndexPartitionTracker.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/test/java/com/hazelcast/map/IndexStatsChangingNumberOfMembersTest.java
Labels: Module: IMap, Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#18483 [PLAT-167] SQL : imlement BETWEEN operator support
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastRexBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/BetweenOperatorOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/common/HazelcastInfixOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastBetweenOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeFactory.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/BetweenOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionType.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18589 Fix Jet client protocol files generator
  generate_jet_client_protocol.sh
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExistsDistributedObjectCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetExportSnapshotCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsByNameCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobIdsCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobMetricsCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobStatusCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSubmissionTimeCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSummaryListCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetJoinSubmittedJobCodec.java
Labels: Module: Jet, Type: Defect

#18422 [PLAT-166] Implement basic IN operator support
  NOTICE
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/common/HazelcastOperandTypeCheckerAware.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastInOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeCoercion.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/SinkTypeCoercionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/InOperatorIntegrationTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18594 Rename params to arguments or "param values"
  hazelcast/src/main/java/com/hazelcast/sql/SqlService.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlStatement.java
  hazelcast/src/test/java/com/hazelcast/sql/SqlStatementTest.java
Labels: Module: SQL, Type: Enhancement

#18601 Cleanup SQL test output
  hazelcast-sql/pom.xml
Labels: Module: SQL, Source: Internal, Team: Core

#18600 Add null check to client exception factory in JetService initialization
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetService.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#18585 Compatibility fixes for 4.2/5.0 rolling upgrade
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateManager.java
Labels: Module: Rolling Upgrade, Source: Internal, Team: Core, Type: Enhancement

#18603 Fix named arguments + dynamic parameters type mismatch handling
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/AbstractOperandChecker.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlSeriesGeneratorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlStreamGeneratorTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18602 Make file table functions implement HazelcastFunction
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesGeneratorTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamGeneratorTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullFunctionScanLogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetDynamicTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetSpecificTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetSqlUserDefinedTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetTableFunctionParameter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/HazelcastOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastCallBinding.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/TypedOperandChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/common/HazelcastOperandTypeCheckerAware.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeCoercion.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlCsvTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlSeriesGeneratorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/generator/SqlStreamGeneratorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTableTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataType.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeFamily.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converters.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/MapConverter.java
Labels: Module: SQL, Source: Internal, Team: Core

#18599 Share cluster in ExpressionTestSupport
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/CastFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ColumnIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/AbsFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DivideOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DoubleBiFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/DoubleFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/FloorCeilFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/MinusOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/MultiplyOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/PlusOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RandFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RemainderOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/RoundFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/SignFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/TruncateFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/UnaryMinusIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/math/UnaryPlusIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/AndOrPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/BetweenOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/ComparisonPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/InOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsNullPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/IsTrueFalsePredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/NotPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/AsciiFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/CharLengthFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/ConcatFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/InitcapFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/LikeFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/LowerFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/PositionFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/ReplaceFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/StringFunctionIntegrationTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/SubstringFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/TrimFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/TrimSimpleFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/UpperFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql_slow/ComparisonPredicateIntegrationSlowTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
Labels: Module: SQL, Type: Enhancement

#18067 Add support for CASE operator
  NOTICE
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastResources.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/BinaryOperatorOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/HazelcastSqlCase.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastCaseOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastComparisonPredicateUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeCoercion.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/CaseOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/ComparisonPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/support/expressions/ExpressionTypes.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/CaseExpression.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18568 Remove printing the license key while starting instance with overriding config
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ExternalConfigurationOverride.java
Labels: Module: Config, Source: Internal, Team: Core, Team: Integration, Type: Defect

#18571 [BACKPORT] Remove printing the license key while starting instance with overriding config
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ExternalConfigurationOverride.java
Labels: Backport, Module: Config, Source: Internal, Team: Core, Team: Integration, Type: Defect

#18572 [BACKPORT] Remove printing the license key while starting instance with overriding config
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ExternalConfigurationOverride.java
Labels: Backport, Module: Config, Source: Internal, Team: Core, Team: Integration, Type: Defect
