Repository hazelcast/hazelcast, pull requests merged in 2021-08, with the labels that each got.

#19238 Fix PartitionDistributionTest
  hazelcast/src/test/java/com/hazelcast/partition/PartitionDistributionTest.java
Labels: Estimation: S, Module: Partitioning, Source: Internal, Team: Core, Type: Test-Failure

#19230 Fix possible incorrect coordinator info on client
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetSubmitJobCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetSubmitJobMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/resources/2.3.protocol.compatibility.binary
  hazelcast/src/test/resources/2.3.protocol.compatibility.null.binary
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19233 Deprecate STATISTICS properties (#19219)
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/config/BaseMetricsConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsConfigHelper.java
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientMetricsPropertiesTest.java
Labels: Backport, Module: Config, Source: Internal, Team: Client, Type: Defect

#19234 Deprecate STATISTICS properties (#19219)
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/config/BaseMetricsConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsConfigHelper.java
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientMetricsPropertiesTest.java
Labels: Backport, Module: Config, Source: Internal, Team: Client, Type: Defect

#19235 Deprecate STATISTICS properties (#19219)
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/config/BaseMetricsConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsConfigHelper.java
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientMetricsPropertiesTest.java
Labels: Backport, Module: Config, Source: Internal, Team: Client, Type: Defect

#19005 Remove the concept of tombstones from ReplicatedMap Record
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/EntrySetIteratorFactory.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/InternalReplicatedMapStorage.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/KeySetIteratorFactory.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ReplicatedRecord.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ValuesIteratorFactory.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/impl/record/LazyIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/impl/record/ReplicatedRecordTest.java
Labels: Even Jaromir can do that, Module: ReplicatedMap, Source: Internal, Team: Core, Type: Enhancement

#19212 Don't let CancelledKeyException escape to the user
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Module: Network I/O, Source: Internal, Team: Client, Team: Core, Type: Defect, Type: Test-Failure

#18987 Enhance Jet cleanup logic
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetExistsDistributedObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/ProxyService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#19246 Don't let CancelledKeyException escape to the user
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Backport, Module: Network I/O, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Defect, Type: Test-Failure

#19247 Don't let CancelledKeyException escape to the user
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Backport, Module: Network I/O, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Defect, Type: Test-Failure

#19248 Don't let CancelledKeyException escape to the user
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Backport, Module: Network I/O, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Defect, Type: Test-Failure

#19244 Do not (re)create MapContainer on validating cached SQL plans
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#19222 Add compatibility tests for the enums used in the protocol
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlClientExecuteCloseRaceTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/misc/SqlNoDeserializationTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddMigrationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/ListenerConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/PartitionServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlExpectedResultType.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/EnumCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.0.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.1.protocol.compatibility.null.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.binary
  hazelcast/src/test/resources/2.0.protocol.compatibility.null.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.binary
  hazelcast/src/test/resources/2.1.protocol.compatibility.null.binary
  hazelcast/src/test/resources/2.2.protocol.compatibility.binary
  hazelcast/src/test/resources/2.2.protocol.compatibility.null.binary
  hazelcast/src/test/resources/2.3.protocol.compatibility.binary
  hazelcast/src/test/resources/2.3.protocol.compatibility.null.binary
Labels: Not Release Notes content, Source: Internal, Team: Client, Type: Cleanup, Type: Enhancement

#19254 Create empty directory for both slim and full distribution
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
Labels: Source: Internal, Team: Core, Type: Cleanup

#19255 Fix JobRepositoryTest.test_maxNumberOfJobResults()
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#19105 [HZ-266] Fix conditions for detection of rejoining members
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionTableView.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionBackupReplicaAntiEntropyOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionTableViewTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationManagerTest.java
Labels: Module: Cluster, Module: Hot Restart, Module: Partitioning, Source: Internal, Team: Core, Type: Defect

#19146 Merge JetProperties into ClusterProperty
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  hazelcast/src/main/java/com/hazelcast/jet/core/JetProperties.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Enhancement

#19245 Prevent null near-cache name
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/config/NearCacheConfigTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#19094 Add CONCAT_WS function
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/string/HazelcastConcatWSOperator.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/ConcatWSFunctionIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/ConcatWSFunction.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19229 Delete isNullOrEmpty method from default portable reader
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableReader.java
Labels: Estimation: S, Module: Serialization, Source: Internal, Team: Client, Type: Cleanup

#19041 Prevent making an on-heap copy of the off-heap data for client calls
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/GetOperation.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#19249 Security missing in fileReaderFn
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/FileSourceBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
Labels: Module: Jet, Module: Security, Source: Internal, Team: Core, Type: Defect

#19125 MC-850 supporting mixed yaml configuration
  hazelcast/src/main/java/com/hazelcast/config/AbstractConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/config/SchemaViolationConfigurationException.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlConfigSchemaValidator.java
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/test/java/com/hazelcast/config/YamlRootAdditionalPropertiesTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/common/serialization/multiple-failures.json
Labels: Module: Config, Not Release Notes content, Source: Internal, Team: Management Center, Type: Enhancement

#19112 Fix limit-offset extraction for sorts with projections
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlLimitTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#19259 Add JetDisabledException and print more useful error messages
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/exception/JetDisabledException.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AbstractJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/CheckLightJobsOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Cleanup

#19265 Refactor IMap replication stats
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/EmptyLocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicationStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/map/LocalMapStats.java
  hazelcast/src/main/java/com/hazelcast/map/LocalReplicationStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#19228 Fix NPE and AIOB exceptions while getting address aliases
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/util/AddressUtil.java
Labels: Estimation: S, Module: Network I/O, Source: Internal, Team: Core, Type: Test-Failure

#19251 Change the MulticastConfig.DEFAULT_LOOPBACK_MODE_ENABLED value to false
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MulticastConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/internal/util/OsHelper.java
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/test/java/com/hazelcast/cache/CachingProviderTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MulticastServiceTest.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Enhancement

#19227 [HZ-332] Introduce migration-tolerant HD index scan support
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/cost/CostUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexCastTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/MapSortedIndexScanIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql_slow/MapIndexScanPMigrationStressTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
Labels: Add to Release Notes, Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19264 Fix JetClassLoader not set as context classloader
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/JetClassLoaderTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Jet

#19275 MC-957: add isLightJob flag to JobSummary
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobSummary.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Not Release Notes content, Module: Jet

#19250 Enable instance tracking by default for NLC builds
  hazelcast/src/main/java/com/hazelcast/config/ConfigAccessor.java
  hazelcast/src/main/java/com/hazelcast/config/InstanceTrackingConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal

#19283 Fix handling exceptions in ClientConsole
  hazelcast/src/main/java/com/hazelcast/client/console/ClientConsoleApp.java
Labels: Type: Defect, Team: Core, Source: Internal, Estimation: S

#19260 Deprecate support of raw NULLs in IN operator
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastInOperator.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/InOperatorIntegrationTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19278 [4.2.2 BACKPORT] Enable instance tracking by default for NLC builds
  hazelcast/src/main/java/com/hazelcast/config/ConfigAccessor.java
  hazelcast/src/main/java/com/hazelcast/config/InstanceTrackingConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
Labels: Type: Enhancement, Team: Core, Backport, Source: Internal

#19279 [5.0 FORWARD-PORT] Enable instance tracking by default for NLC builds
  hazelcast/src/main/java/com/hazelcast/config/ConfigAccessor.java
  hazelcast/src/main/java/com/hazelcast/config/InstanceTrackingConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Forwardport

#19284 Fix JavaDoc formatting in PartitionTableView
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionTableView.java
Labels: Source: Internal, Type: Documentation

#19277 Create less garbage in TimedMemberStateFactory
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/MetricsMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/util/IterationType.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Team: Management Center, Module: Metrics

#19280 Create less garbage in TimedMemberStateFactory
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/MetricsMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/util/IterationType.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Team: Management Center, Forwardport, Module: Metrics

#19293 MC-577: sending cluster size to phonehome server as exact number
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClusterInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19299 min seconds value fix for to-timestamp-tz function test
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/datetime/ToTimestampTzIntegrationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: SQL

#19290 Lazy SQL OBJECT deserialization
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlResultImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorClientTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/AbstractSqlResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/LazyDeserializer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlRowImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/codec/builtin/SqlPageCodecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/SqlMetadataTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL, All Languages Should Check

#19237 Improve hostname handling in some operations
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/server/Server.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerControl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Network I/O

#19300 [BACKPORT] Fix composite index tests and improve query engine error reporting
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/CompositeIndexQueriesTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: IMap, Module: Query, Not Release Notes content, Module: HD

#19295 Cache byte array used to calculate partition stamps
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionStamp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Partitioning

#19311 [4.2.z FORWARD-PORT] Cache byte array used to calculate partition stamps
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionStamp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Partitioning, Forwardport

#19312 [5.0 FORWARD-PORT] Cache byte array used to calculate partition stamps
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionStampUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Partitioning, Forwardport

#19316 Improve empty IMap SQL schema resolution error message
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolverTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19289 Remove listeners sync with the calling thread
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
Labels: Type: Defect, Team: Client, Source: Internal, All Languages Should Check

#19308 [HZ-489] Removing IMDG engine sources : Part 1
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/cost/Cost.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/cost/CostFactory.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/cost/CostUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexComponentCandidate.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexComponentFilter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexRexVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/JetIndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/RelCollationComparator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/AbstractFilterRel.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/AbstractMapScanRel.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/AbstractProjectRel.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/MapIndexScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/MapScanPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/exchange/RootExchangePhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/PlanCreateVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/HazelcastTable.java
  hazelcast-sql/src/test/java/com/hazelcast/it/CheckSqlNoticeFileIT.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/cost/CostTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/PlanRow.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19330 Remove enabled checks on read for Compact
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
Labels: Type: Enhancement, Team: Client, Team: Core, Source: Internal, Module: Serialization

#19333 Remove listeners sync with the calling thread
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#19332 Remove listeners sync with the calling thread
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#19331 Remove listeners sync with the calling thread
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#19329 Ditch IMDG SQL Plan execution
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlInternalService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationParallelismTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19334 Move jet-is-disabled check from SQL parser to service
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19328 [HZ-490] SQL: Allow to read HD data via normal scan
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTableResolver.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL, Add to Release Notes

#19336 Unify IMDG & Jet conformance, validator and converter.
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/LogicalTableInsert.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/LogicalTableSink.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastJetSqlConformance.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlConformance.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlConformanceTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19344 Check cluster name of connecting client when security is enabled
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Security

#19346 Simplify JetSqlBackend and limit its usage.
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastRexBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/SqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParseResult.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/JetSqlBackendTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/QueryParserTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19349 Fix config name in hz-cli help message
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
Labels: Type: Defect, Team: Core, Source: Internal

#19348 Unify IMDG & Jet operator tables
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastInOperator.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19350 MC-971 trimming classpath in phonehome data
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/ClassPathFormattingTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Not Release Notes content

#19352 Try to fix PhoneHomeIntegrationTest.testMapLatenciesWithMapStore
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/DelayMapStore.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Team: Management Center, Not Release Notes content

#19276 Add support for declarative compact serialization configuration
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/CompactSerializationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CompactSerializationConfigAccessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/test/java/com/hazelcast/config/CompactSerializationConfigConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/example/serialization/EmployeeDTOSerializer.java
  hazelcast/src/test/java/example/serialization/ExternalizableEmployeeDTO.java
Labels: Type: Enhancement, Team: Client, Team: Core, Type: Cleanup, Source: Internal, Module: Serialization

#19351 Remove JetSqlCoreBackend
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlCoreBackendImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/SqlBackend.java
  hazelcast-sql/src/test/java/com/hazelcast/it/CheckSqlNoticeFileIT.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/JetSqlBackendTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexCastTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlSchemaPropagationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/OptimizerInstantiationTest.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/JetExtension.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/JetSqlCoreBackend.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlInternalService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/DisabledSqlOptimizer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/PlanKey.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/SqlOptimizer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/SqlPlan.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/Plan.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryResultRegistry.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19182 Fix processor classloader related issues
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/deployment/ChildFirstClassLoader.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ChildFirstClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/JetClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderCleanupTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19358 Facilitate JetSqlSlowIndexTest and MapIndexScanPMigrationStressTest
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql_slow/MapIndexScanPMigrationStressTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: SQL

#19365 Remove SQL packet type
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/PacketDispatcher.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlInternalService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryOperationHandlerImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateRegistryUpdater.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/packetdispatcher/impl/PacketDispatcherTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationHandlerTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19369 Remove IMDG SQL engine execs
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/AbstractFilterExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/AbstractUpstreamAwareExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorCallback.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/EmptyExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/FilterExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/ProjectExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/UpstreamState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/fetch/FetchExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/io/AbstractSendExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/io/ReceiveExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/io/ReceiveSortMergeExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/io/SendExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/root/RootExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/AbstractMapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExec.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/AbstractExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/AbstractUpstreamAwareExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/BlockingExec.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitorTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/EmptyExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/FaultyExec.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/FilterExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/ProjectExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/UpstreamStateTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/io/ReceiveExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/io/SendExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/root/RootExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/MapScanExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/sort/SortExecTest.java
Labels: Type: Cleanup, Source: Internal, Module: SQL, Add to Release Notes

#19376 Try to fix PhoneHomeIntegrationTest.testMapLatenciesWithMapStore
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/DelayMapStore.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Team: Management Center, Not Release Notes content

#19372 Simplify SqlResultImpl
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlResultImplTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19366 Remove executor pool size from SqlConfig
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/SqlConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/main/resources/hazelcast-default-assembly.xml
  hazelcast/src/main/resources/hazelcast-default-assembly.yaml
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/SqlConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/sql/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/sql/success.json
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19310 Fix SQL SUM & AVG aggregations
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/AvgSqlAggregations.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/SumSqlAggregations.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/function/HazelcastAvgAggFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/function/HazelcastSumAggFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeSystem.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlAggregateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlSortTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/AvgSqlAggregationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SumSqlAggregationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeSystemTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: SQL

#19347 Use the proper client config file in the hz-cli
  distribution/src/bin-filemode-755/hz-cli
Labels: Type: Defect, Team: Core, Source: Internal, Module: Scripts

#19361 Guard against NPE in SQL message tasks exception encoding
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlFetchMessageTask.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: SQL

#19393 Make InstanceTrackingConfig#enabled not effectively static
  hazelcast/src/main/java/com/hazelcast/config/InstanceTrackingConfig.java
Labels: Team: Core, Type: Test-Failure, Source: Internal

#19403 [BACKPORT] Make InstanceTrackingConfig#enabled not effectively static (#19393)
  hazelcast/src/main/java/com/hazelcast/config/InstanceTrackingConfig.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal

#19399 Return full page for batch SQL queries
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetQueryResultProducer.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/JetQueryResultProducerTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19359 Silence MissingPartitionException
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
Labels: Team: Core, Source: Internal, Module: SQL

#19412 SQL : increase timeout for the longest tests
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/predicate/ComparisonPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/MapIndexScanPMigrationStressTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19419 Enhance exception message
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueAdvancedTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IQueue

#19431 Add WAN queue fill percent metric
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: WAN

#19436 Rename SqlResultImpl to UpdateSqlResultImpl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlAlterJob.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/predicate/HazelcastBetweenOperator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/UpdateSqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlCloseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlFetchMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexInFilter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/CaseExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/SymbolExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericQueryTargetDescriptor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryPath.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/EmptyRow.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/security/NoOpSqlSecurityContext.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/BooleanConverter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/UpdateSqlResultImplTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19391 Makes GenericRecord to string more readable
  hazelcast/src/main/java/com/hazelcast/internal/json/JsonEscape.java
  hazelcast/src/main/java/com/hazelcast/internal/json/JsonWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FieldOperations.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FieldTypeBasedOperations.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/AbstractGenericRecord.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/AbstractGenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonEscape_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/example/serialization/InnerDTO.java
  hazelcast/src/test/java/example/serialization/MainDTO.java
  hazelcast/src/test/java/example/serialization/NamedDTO.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: Serialization
