Repository hazelcast/hazelcast, pull requests merged in 2021-10, with the labels that each got.

#19659 Update Jetty to 9.4.43 and Update commons-io to 2.7
  pom.xml
Labels: Team: Core, Source: Internal, security

#19667 Ignore JobNotFoundException in ditchJob
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19274 Make Compact format little endian
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InternalSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayInputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/UnsafeInputOutputFactory.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingSerializationService.java
Labels: Type: Enhancement, Team: Client, Team: Core, Source: Internal, Module: Serialization

#19586 [FORWARD-PORT] Security Vulnerability Fixes
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, Forwardport, Not Release Notes content, Module: Jet, security

#19653 Fix number interpretation for memcache protocol implementation
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/MemcacheCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedRawTcpTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Add to Release Notes

#19671 Fix Hz 3 jar URI on Windows
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19676 [BACKPORT] Fix number interpretation for memcache protocol implementation
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/MemcacheCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedRawTcpTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Add to Release Notes

#19673 MC-971 backport to 4.2.z
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/ClassPathFormattingTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Type: Enhancement, Backport, Source: Internal, Team: Management Center, Not Release Notes content

#19674 [BACKPORT] Change the default cluster-name as it interferes with other tests
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SourcesTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Spring

#19670 Release resources in ChildFirstClassLoaderTest correctly
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ChildFirstClassLoaderTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19680 [BACKPORT] Fix number interpretation for memcache protocol implementation
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/MemcacheCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedRawTcpTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Add to Release Notes

#19681 [BACKPORT] Fix number interpretation for memcache protocol implementation
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/MemcacheCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedRawTcpTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Add to Release Notes

#19630 Fix recreated objects after parked operations
  hazelcast/src/main/java/com/hazelcast/jet/impl/observer/ObservableImpl.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperation.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ObservableRingbufferContainerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/test/Accessors.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Ringbuffer, Not Release Notes content

#19710 [BACKPORT] Add auto-remove-stale-data to json schema - (hot-restart) …
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Persistence

#19713 Fix duplicate commons-io dependency
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content

#19715 Fix closing resources in NearCachePreloaderLock (#19693)
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloaderLock.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Near Cache, Not Release Notes content

#19625 MC-635 operation for resetting age-related queue metrics
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCResetQueueAgeStatisticsCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/QueueResetAgeStatisticsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalQueueStatsImpl.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/queue/QueueResetAgeStatisticsTest.java
  hazelcast/src/test/resources/2.4.protocol.compatibility.binary
  hazelcast/src/test/resources/2.4.protocol.compatibility.null.binary
Labels: Type: Enhancement, Source: Community, Module: IQueue, Team: Management Center, Not Release Notes content
