Repository hazelcast/hazelcast, pull requests merged in 2021-03, with the labels that each got.

#18304 Fix binary packages pick hazelcast.xml from launch cwd instead of bin/hazelcast.xml
  hazelcast/src/main/resources/start.sh
Labels: Source: Internal, Team: Core, Type: Defect

#18264 Add RBAC support for MC executed actions
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-4.2.xsd
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/AddWanBatchPublisherConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ApplyClientFilteringConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeClusterStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeClusterVersionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ChangeWanReplicationStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/CheckWanConsistencyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ClearWanQueuesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetCPMembersMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetClusterMetadataMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetMemberConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetSystemPropertiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetThreadDumpMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetTimedMemberStateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartInterruptBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerForceStartMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerPartialStartMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/MatchClientFilteringConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/PollMCEventsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/PromoteLiteMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/PromoteToCPMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RemoveCPMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ResetCPSubsystemMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RunConsoleCommandMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RunGcMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/RunScriptMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownMemberMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/UpdateMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/WanSyncMapMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/metrics/ReadMetricsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ManagementPermission.java
  hazelcast/src/main/resources/hazelcast-config-4.2.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Security, Source: Internal, Team: Client, Team: Core, Team: Management Center

#18297 Add logging for QueueMigrationTest
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueMigrationTest.java
  hazelcast/src/test/resources/log4j2-debug-queue.xml
Labels: Module: IQueue, Source: Internal, Team: Core, Type: Test-Failure

#18292 Remove Invocation.remote flag
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundOperationHandler.java
Labels: Backport, Module: CP Subsystem, Module: Invocation System, Source: Internal, Team: Core, Type: Cleanup, Type: Test-Failure

#18293 Remove Invocation.remote flag
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundOperationHandler.java
Labels: Backport, Module: CP Subsystem, Module: Invocation System, Source: Internal, Type: Cleanup, Type: Test-Failure

#18305 Fix transaction timeout does not throw TransactionTimeOutException issue
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/TransactionProxy.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionImpl.java
Labels: Estimation: S, Module: Transactions, Source: Internal, Team: Core, Type: Enhancement

#18271 Fire membership events when persistence enabled
  hazelcast-client/src/main/java/com/hazelcast/client/connection/nio/ClientConnectionManagerImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientClusterServiceImpl.java
  hazelcast-client/src/main/java/com/hazelcast/client/spi/impl/ClientMembershipListener.java
  hazelcast-client/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
Labels: Backport, Module: Cluster, Module: Hot Restart, Source: Internal, Team: Client, Team: Core, Type: Defect

#18300 Skip ID's for JsonSchema serialization
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaNameValue.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaStructNode.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaTerminalNode.java
Labels: Module: JSON, Source: Internal, Team: Core, Type: Enhancement

#18181 Fix test name report
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientDurableExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DeserializingCompletableFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/InternalCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  hazelcast/src/test/java/com/hazelcast/test/TestLoggingUtils.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#18315 Fix test name report
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientDurableExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DeserializingCompletableFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/InternalCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  hazelcast/src/test/java/com/hazelcast/test/TestLoggingUtils.java
Labels: Backport, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#18316 Fix test name report
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientDurableExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DeserializingCompletableFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/InternalCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
  hazelcast/src/test/java/com/hazelcast/test/TestLoggingUtils.java
Labels: Backport, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#18302 Remove Invocation.remote flag
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundOperationHandler.java
Labels: Backport, Module: CP Subsystem, Module: Invocation System, Source: Internal, Team: Core, Type: Cleanup, Type: Test-Failure

#18283 Fix queries on subset of partitions
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapQueryMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/SampleableConcurrentHashMap.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/ImmutablePartitionIdSet.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/PartitionIdSet.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/UtilCollectionSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/ParallelPartitionScanExecutor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Query.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResult.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/ClassDefinition.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolver.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast/src/test/java/com/hazelcast/map/impl/query/CompositeIndexQueriesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ExtractorsAndIndexesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/LocalKeySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapEntrySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapKeySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapValuesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MixedTypeQueriesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MultiValueBitmapIndexTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryBasicTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngineImplTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngineImpl_queryLocalPartition_resultSizeLimitTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngineImpl_queryLocalPartitions_resultSizeLimitTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngineImpl_queryLocalPartitions_resultSizeNoLimitTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEngine_DispatchTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryIndexTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryIndexingTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryNullIndexingTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/SingleValueBitmapIndexTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/UnsupportedBitmapIndexPredicatesTest.java
Labels: Module: Query, Source: Internal, Source: Jet, Team: Core, Type: Defect

#18303 Rewrite ringbuffer tests to use less resource by sharing single cluster
  hazelcast/src/test/java/com/hazelcast/client/ringbuffer/RingbufferBasicClientTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferBasicDistributedTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferBasicLocalTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferFailoverTest.java
Labels: Module: Ringbuffer, Source: Internal, Team: Core, Type: Test-Failure

#18314 Update hazelcast-kubernetes version: 2.2.1 -> 2.2.2
  hazelcast-all/pom.xml
Labels: Source: Internal, Team: Integration, Type: Enhancement, dependencies

#18331 Update hazelcast-kubernetes version: 2.2.1 -> 2.2.2
  hazelcast-all/pom.xml
Labels: Backport, Source: Internal, Team: Integration, Type: Enhancement, dependencies

#18330 Update hazelcast-kubernetes version: 2.2.1 -> 2.2.2
  hazelcast-all/pom.xml
Labels: Backport, Source: Internal, Team: Integration, Type: Enhancement, dependencies

#18324 Change confusing SQL message when client is disconnected
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlErrorClientTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Module: SQL, Source: Internal, Team: Client, Team: Core, Type: Enhancement

#18296 Update the javadocs of PartitionLostEvent and PartitionLostListener
  hazelcast/src/main/java/com/hazelcast/partition/PartitionLostEvent.java
  hazelcast/src/main/java/com/hazelcast/partition/PartitionLostListener.java
Labels: Module: Partitioning, Source: Internal, Team: Core, Type: Defect, Type: Documentation

#18317 Fix GC metrics not getting updates issue
  hazelcast/src/main/java/com/hazelcast/internal/metrics/metricsets/GarbageCollectionMetricSet.java
Labels: Module: Diagnostics, Source: Internal, Team: Core, Type: Defect

#18289 Make LIKE predicate index aware
  hazelcast/src/main/java/com/hazelcast/query/impl/Comparables.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/ILikePredicate.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/LikePredicate.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryBasicTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/LikePredicateTest.java
Labels: Module: IMap, Module: Query, Source: Internal, Team: Core, Type: Enhancement

#18327 Update the sql error message when the cluster topology changed
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryException.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18307 Add total number of created proxies per service to phone home data
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/ProxyService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Internal, Team: Core, Team: Management Center, Type: Enhancement

#18344 [BACKPORT] Fixes vulnerabilities on 3.12.z
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/ReflectiveYamlDocumentLoader.java
  pom.xml
Labels: Backport, Source: Internal, Team: Core, Type: Defect, dependencies

#18312 Convert given key to appropriate nearCacheKey
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientTxnMapNearCacheTest.java
Labels: Module: IMap, Module: Near Cache, Module: Transactions, Source: Internal, Team: Client, Team: Core, Type: Defect

#18313 Convert given key to appropriate nearCacheKey
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientTxnMapNearCacheTest.java
Labels: Backport, Module: IMap, Module: Near Cache, Module: Transactions, Source: Internal, Team: Client, Team: Core, Type: Defect

#18321 Convert given key to appropriate nearCacheKey
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientTxnMapNearCacheTest.java
Labels: Type: Defect

#18322 Convert given key to appropriate nearCacheKey
  hazelcast-client/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientTxnMapNearCacheTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
Labels: Type: Defect

#18340 Don't exclude public util packages from javadoc
  pom.xml
Labels: Team: Client, Team: Core, Type: Defect

#18345 Unit test fix: wait for safe state
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecTest.java
Labels: Estimation: S, Module: SQL, Priority: Medium, Team: Core, Type: Defect

#18341 Fixed an issue in ORDER BY clause
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/index/IndexResolver.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
Labels: Estimation: S

#18326 Enhance the client phone home metrics
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatistics.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsSnapshot.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEndpointStatisticsManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/Counter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/MwCounter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/SwCounter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollectorHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/test/java/com/hazelcast/client/ConnectedClientOperationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeClientsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeWithDifferentClientTypesTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/TestUtil.java
Labels: Source: Internal, Team: Client, Team: Management Center, Type: Enhancement

#18349 Make PortableGenericRecords queryable when the InMemoryFormat is OBJECT
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/Extractors.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/PortableGetter.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/query/PortableGenericRecordQueryTest.java
Labels: Module: Query, Module: Serialization, Source: Internal, Team: Client, Team: Core, Type: Defect

#18332 Move connection close back to member event handling
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
Labels: Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18182 [IMDG-196] Update SQL client protocol design document
  docs/design/sql/05-client-support.md
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18355 Move connectioClose back to member event handling
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
Labels: Source: Internal, Team: Client, Type: Defect

#18337 Report Java classpath in phone homes
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Internal, Team: Management Center, Type: Enhancement

#18353 Update javadoc
  hazelcast/src/main/java/com/hazelcast/cp/CPSubsystem.java
Labels: Source: Community, Team: Core, Type: Documentation

#18309 Fix ClientInvocation Retry
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/IExecutorDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BaseInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImplTest.java
Labels: All Languages Should Check, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18328 Support named parameters in SQL HazelcastFunction
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/AbstractOperandChecker.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/NumericOperandChecker.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/common/HazelcastFunction.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeCoercion.java
Labels: Module: SQL, Source: Internal, Source: Jet, Team: Core

#18334 Don't shift expiry time for index scan
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapQueryMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/CachedSimpleRecordWithLFUEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/CachedSimpleRecordWithLRUEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordReaderWriter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/SimpleRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/SimpleRecordWithLFUEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/SimpleRecordWithLRUEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpiryMetadataImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/test/java/com/hazelcast/internal/eviction/MapExpirationStressTest.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18359 Move connectioClose back to member event handling
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18358 Move connectioClose back to member event handling
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#17826 Release acquired sessions on failure for SessionAwareSemaphore
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/proxy/SessionAwareSemaphoreProxy.java
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreReleaseAcquiredSessionsOnFailureTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SessionAwareSemaphoreReleaseAcquiredSessionsOnFailureTest.java
Labels: All Languages Should Check, Module: CP Subsystem, Module: ISemaphore, Source: Internal, Team: Client, Team: Core, Type: Defect

#18364 [BACKPORT 4.1.2] Add selectionKey null check in NioOutboundPipeline.executePipeline
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Backport, Source: Internal, Team: Core

#18363 [BACKPORT 4.1.z] Add selectionKey null check in NioOutboundPipeline.executePipeline
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Backport, Source: Internal, Team: Core

#18365 Follow up to ClientInvocationRetry
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
Labels: Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18238 Make CachedQueryEntry to implement IDS
  hazelcast/src/main/java/com/hazelcast/query/impl/CachedQueryEntry.java
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregationMemberBounceTest.java
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregatorsSpecTest.java
  hazelcast/src/test/java/com/hazelcast/client/aggregation/ClientAggregatorsSpecTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/CachedQueryEntryTest.java
Labels: Module: Query, Module: Serialization, Source: Internal, Team: Client, Team: Core

#18366 Extend wait time for test
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Module: HD, Module: IMap, Source: Internal, Team: Core, Type: Test-Failure

#18369 Fix NPE when a null parameter is passed from the client
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlParameterTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecuteCodec.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#18376 Skip ID's for JsonSchema serialization
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaNameValue.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaStructNode.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaTerminalNode.java
Labels: Module: JSON, Source: Internal, Team: Core, Type: Enhancement

#18343 Improve deserialization in indexes
  hazelcast/src/main/java/com/hazelcast/client/map/impl/querycache/subscriber/ClientQueryCacheEndToEndConstructor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/InternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NodeQueryCacheEndToEndConstructor.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NodeQueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NullQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseSingleValueIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CachedQueryEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Index.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/query/impl/CachedQueryEntryTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexFirstComponentDecoratorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexImplTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexUpdateBenchmark.java
Labels: Module: IMap, Module: Query, Module: SQL, Source: Internal, Team: Core, Type: Defect

#18378 Fixes CPMemberAddRemoveTest concurrent shutdown test
  hazelcast/src/main/java/com/hazelcast/cp/internal/exception/CannotRemoveCPMemberException.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocation_ExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ExceptionTest.java
Labels: Module: CP Subsystem, Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#18374 Fix ClientInvocation Retry
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/IExecutorDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BaseInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImplTest.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18375 Fix ClientInvocation Retry
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/IExecutorDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientInvocationService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientResponseHandlerSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BaseInvocation.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImplTest.java
Labels: Backport, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18383 Backport #18233 to 4.0.z
  hazelcast/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheRecreationTest.java
Labels: Backport, Module: IMap, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#18386 Make locked keys reachable over index even if they have expired
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/eviction/ExpiryAndLockTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18379 Add missing config check for merge policy
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MergePolicyValidator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/test/java/com/hazelcast/internal/config/AbstractMergePolicyValidatorIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/MergePolicyValidatorMapIntegrationTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18385 Fixes CPMemberAddRemoveTest concurrent shutdown
  hazelcast/src/main/java/com/hazelcast/cp/internal/exception/CannotRemoveCPMemberException.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocation_ExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ExceptionTest.java
Labels: Backport, Module: CP Subsystem, Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#18384 Fixes CPMemberAddRemoveTest concurrent shutdown
  hazelcast/src/main/java/com/hazelcast/cp/internal/exception/CannotRemoveCPMemberException.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocation_ExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ExceptionTest.java
Labels: Backport, Module: CP Subsystem, Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#18368 Deprecate symmetric encryption
  hazelcast/src/main/java/com/hazelcast/config/EndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/config/JavaKeyStoreSecureStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SymmetricEncryptionConfig.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractConfigConstructor.java
Labels: Add to Release Notes, Module: Hot Restart, Module: Security, Source: Internal, Team: Core, Type: Defect

#18393 Propagate interrupts to test statements
  hazelcast/src/test/java/com/hazelcast/test/FailOnTimeoutStatement.java
Labels: Source: Internal, Source: Jet, Team: Client, Team: Core, Type: Enhancement, Type: Test-Failure

#18407 Listed files originating from Apache Calcite in the NOTICE file
  NOTICE
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18347 Don't shift expiry time when scanning over index
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStoreAdapter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Backport, Module: IMap, Source: Internal, Team: Core, Type: Defect

#18346 Don't shift expiry time when scanning over index
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStoreAdapter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
Labels: Backport, Module: IMap, Source: Internal, Team: Core, Type: Defect

#18406 Documentation: Fix comments regarding a client's disconnection from cluster
  hazelcast/src/main/java/com/hazelcast/client/util/ClientStateListener.java
  hazelcast/src/main/java/com/hazelcast/core/LifecycleEvent.java
Labels: Estimation: S, Priority: Low, Source: Internal, Team: Client, Type: Documentation

#18397 Improve logging of MigrationCorrectnessTest
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/resources/log4j2-trace-migrations.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18418 [4.1.z] Github workflow - Build Hazelcast snapshot docker images
  .github/workflows/docker_snapshot.yml
Labels: Source: Internal, Team: Core

#18401 Increase write delay seconds for test
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
Labels: Module: IMap, Module: Transactions, Source: Internal, Team: Core, Type: Test-Failure

#18423 Github workflow - Build Hazelcast snapshot docker images
  .github/workflows/docker_snapshot.yml
Labels: Forwardport, Source: Internal

#18417 PLAT-163 SQL engine merge TDD
  docs/design/sql/11-engine-merge.md
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/io/Outbox.java
Labels: Module: SQL, Type: Documentation

#18389 Fixed an issue of choosing an incomplete index for HD map
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
Labels: Estimation: S, Module: HD, Module: Query, Module: SQL, Priority: Medium, Source: Internal, Team: Core, Type: Defect

#18429 Made the current Java version retrievable from JavaVersion enum
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaMajorVersion.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
Labels: Source: Internal

#18430 Add table name & upsert descriptors to map PlanObjectKey
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/plan/cache/MapPlanObjectKeyTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PartitionedMapPlanObjectKey.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanObjectKey.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
Labels: Module: SQL, Source: Internal, Source: Jet, Team: Core, Type: Enhancement

#18432 Fix handling of user-provided default schema (backport of #18431)
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlSchemaPropagationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCheckContext.java
Labels: Backport, Module: SQL, Type: Defect

#18431 Fix handling of user-provided default schema
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlSchemaPropagationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCheckContext.java
Labels: Module: SQL, Type: Defect
