Repository hazelcast/hazelcast, pull requests merged in 2021-01, with the labels that each got.

#18024 Fix testOperationsContinueWhenClientDisconnected
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/ClientTestSupport.java
Labels: Not Release Notes content, Source: Internal, Team: Client, Type: Test-Failure

#18021 Ensure MapStore configs are not overwritten when parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#17993 Copy constructors should copy mutable MergePolicyConfig objects and not share them
  hazelcast/src/main/java/com/hazelcast/config/CardinalityEstimatorConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CollectionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MultiMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueueConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RingbufferConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ScheduledExecutorConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractBasicConfig.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#18029 Fix testOperationsContinueWhenClientDisconnected
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/ClientTestSupport.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Test-Failure

#18020 deprecate PARTITION_GROUP_RACK and PARTITION_GROUP_HOST
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupMetaData.java
Labels: Module: Discovery SPI, Source: Internal, Team: Integration

#18031 Make double-rendering assertion error verbose in JMXPublisher
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/JmxPublisher.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTest.java
Labels: Module: Metrics, Source: Internal, Team: Core, Type: Enhancement

#18022 Fixes Client EndpointQualifier Resolution
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast/src/main/java/com/hazelcast/config/EndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/instance/EndpointQualifier.java
  hazelcast/src/test/java/com/hazelcast/client/ClientServiceTest.java
Labels: Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Defect

#18034 Ensure NearCache configuration is not overwritten while parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#18036 Ensure SimpleCacheConfig configuration is not overwritten while parsing XML config
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#18017 Collection of javadoc fixes
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/WaitStrategy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/iterator/AbstractMapPartitionIterator.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/ReplicatedMap.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/NamedOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BaseInvocation.java
  hazelcast/src/main/java/com/hazelcast/topic/MessageListener.java
Labels: Team: Core, Type: Documentation

#17996 SQL: support "NOT LIKE" expression
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/string/HazelcastLikeOperator.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/string/LikeFunctionIntegrationTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/string/LikeFunctionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/LikeFunction.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18048 Add PLACEMENT_AWARE partition group strategy.
  hazelcast/src/main/java/com/hazelcast/config/PartitionGroupConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/PlacementAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/partitiongroup/PartitionGroupMetaData.java
  hazelcast/src/main/resources/hazelcast-config-4.2.xsd
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/membergroup/MemberGroupFactoryTest.java
Labels: Source: Internal, Team: Core, Team: Integration, Type: Enhancement

#18025 compare temporal types
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastComparisonPredicateUtils.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/predicate/ComparisonPredicateIntegrationTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18051 Add test to CPMemberAddRemoveTest and increase log level of cp classes
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/resources/log4j2.xml
Labels: Module: CP Subsystem, Source: Internal, Team: Core, Type: Test-Failure

#18065 Add test to CPMemberAddRemoveTest and increase log level of cp classes
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/resources/log4j2.xml
Labels: Backport, Module: CP Subsystem, Source: Internal, Team: Core, Type: Test-Failure

#18019 Increase default cluster timeout to 2 minutes
  hazelcast/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
Labels: Add to Release Notes, Source: Internal, Team: Client, Type: Enhancement

#17997 SQL remainder operation
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/misc/HazelcastArithmeticOperator.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/misc/HazelcastArithmeticOperatorUtils.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeUtils.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/math/RemainderOperatorIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/math/RemainderFunction.java
Labels: Module: SQL, Source: Internal, Team: Core

#18016 Support OBJECT type in comparison operators
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastComparisonPredicateUtils.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/predicate/ComparisonPredicateIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/predicate/ComparisonPredicate.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18066 Add metrics binary generator
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCompressor.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsCompatibilityFileGenerator.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/BinaryCompatibilityFileGenerator.java
Labels: Module: Metrics, Source: Internal, Team: Client, Type: Enhancement

#18047 Improve SQL query cancellation on the client
  checkstyle/suppressions.xml
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlClientExecuteCloseRaceTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlClientResultTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlErrorClientTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlQueryResultTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/JetSqlTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecuteCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecute_reservedCodec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/AbstractSqlResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/JetSqlCoreBackend.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlInternalService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlResultImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlFetchMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlFetchResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateRegistry.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlResultImplTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/client/SqlClientResultTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/state/QueryStateRegistryTest.java
  hazelcast/src/test/resources/2.2.protocol.compatibility.binary
  hazelcast/src/test/resources/2.2.protocol.compatibility.null.binary
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18055 Design document for dynamic security scanning
  docs/design/security/01_dynamic_security_scanning.md
Labels: Module: Security, Source: Internal, Team: Core, Type: Documentation

#18082 Adding test for handling error on query
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ErrorThrowingPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryAdvancedTest.java
Labels: Module: Query, Team: Core, Type: Defect

#17958 17954 allow override of default serializers
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/resources/hazelcast-spring-4.2.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/YamlClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/SerializationConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DefaultSerializationServiceBuilder.java
  hazelcast/src/main/resources/hazelcast-client-config-4.2.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-config-4.2.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/CustomSerializationOverrideDefaultTest.java
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Module: Serialization, Source: Community, Team: Client, Type: Enhancement

#18078 Fix the HazelcastManifestTransformer configuration
  hazelcast-all/pom.xml
  hazelcast-all/src/test/java/com/hazelcast/it/CheckAllDependenciesIT.java
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  hazelcast-build-utils/src/test/java/com/hazelcast/buildutils/HazelcastManifestTransformerTest.java
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/osgi/CheckDependenciesIT.java
Labels: Type: Defect

#18080 [BACKPORT 3.12.z] Fix the HazelcastManifestTransformer configuration
  hazelcast-all/pom.xml
  hazelcast-all/src/test/java/com/hazelcast/it/CheckAllDependenciesIT.java
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  hazelcast-build-utils/src/test/java/com/hazelcast/buildutils/HazelcastManifestTransformerTest.java
  hazelcast-client/pom.xml
  hazelcast-client/src/test/java/com/hazelcast/client/osgi/ClientCheckDependenciesIT.java
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/osgi/CheckDependenciesIT.java
Labels: Type: Defect

#17892 Improved telemetry 4.2
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/util/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CacheInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CloudInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClusterInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/OSInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeParameterCreator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/PhoneHomeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/AttributeExtractor.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/DelayMapStore.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeBenchmark.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeDifferentConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeParameterCreatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Source: Community, Team: Core, Team: Management Center, Type: Enhancement

#18097 [BACKPORT 4.1.z] Fix the HazelcastManifestTransformer configuration (#18078)
  hazelcast-all/pom.xml
  hazelcast-all/src/test/java/com/hazelcast/it/CheckAllDependenciesIT.java
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  hazelcast-build-utils/src/test/java/com/hazelcast/buildutils/HazelcastManifestTransformerTest.java
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/osgi/CheckDependenciesIT.java
Labels: Backport, Source: Internal

#18096 [BACKPORT 4.0.z] Fix the HazelcastManifestTransformer configuration (#18078)
  hazelcast-all/pom.xml
  hazelcast-all/src/test/java/com/hazelcast/it/CheckAllDependenciesIT.java
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  hazelcast-build-utils/src/test/java/com/hazelcast/buildutils/HazelcastManifestTransformerTest.java
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/osgi/CheckDependenciesIT.java
Labels: Backport, Source: Internal

#18094 Set cluster connect timeout to infinite by default
  hazelcast-spring/src/main/resources/hazelcast-spring-4.2.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ConnectionRetryConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/WaitStrategy.java
  hazelcast/src/main/resources/hazelcast-client-config-4.2.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
Labels: Add to Release Notes, All Languages Should Check, Module: Config, Source: Internal, Team: Client

#18084 Handle error on query for HD path correctly
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ErrorThrowingPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryAdvancedTest.java
Labels: Backport, Module: HD, Module: IMap, Module: Query, Type: Defect

#18081 Handle error on query for HD path correctly
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ErrorThrowingPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryAdvancedTest.java
Labels: Backport, Module: HD, Module: Query, Team: Core, Type: Defect

#18110 Handle error on query for HD path correctly
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ErrorThrowingPredicate.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryAdvancedTest.java
Labels: Backport, Module: HD, Module: IMap, Module: Query, Type: Defect

#17257 New Types Support On Portable For Sql
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/GenericRecordQueryReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/InternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/ClassDefinitionWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/MorphingPortableReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/ClassDefinitionBuilder.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldType.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/PortableReader.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/PortableWriter.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/AbstractGenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/FieldTypeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/InnerPortable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/MainPortable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/PortableClassVersionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/PortableTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/portablereader/DefaultPortableReaderTestStructure.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Module: SQL, Source: Internal, Team: Client, Team: Core, Type: Enhancement

#18014 Remove size check for record-store stats
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18103 Fix URLDefinition#equals
  hazelcast/src/main/java/com/hazelcast/internal/util/ServiceLoader.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
  pom.xml
Labels: Team: Core, Type: Defect

#18120 [BACKPORT] Fixes URLDefinition#equals
  hazelcast/src/main/java/com/hazelcast/util/ServiceLoader.java
  hazelcast/src/test/java/com/hazelcast/util/ServiceLoaderTest.java
  pom.xml
Labels: Backport, Team: Core, Type: Defect

#18091 SQL: Initial fetch/offset implementation [IMDG-130, IMDG-131, IMDG-132]
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/logical/SortLogicalRel.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/logical/SortLogicalRule.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/SortPhysicalRel.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/SortPhysicalRule.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/exchange/SortMergeExchangePhysicalRel.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/EdgeCollectorPlanNodeVisitor.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/PlanCreateVisitor.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/opt/logical/LogicalSortTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/PhysicalSortTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/index/PhysicalSortIndexPreferenceTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/index/PhysicalSortIndexTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/CreateExecPlanNodeVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/fetch/Fetch.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/fetch/FetchExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/fetch/FetchRow.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/io/ReceiveSortMergeExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/sort/MergeSort.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/FetchOffsetPlanNodeFieldTypeProvider.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/FetchPlanNode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/PlanNodeVisitor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/io/ReceiveSortMergePlanNode.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/sort/SortExecTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/AbstractPlanNodesTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/TestPlanNodeVisitorAdapter.java
Labels: Estimation: M, Module: SQL, Priority: High, Source: Internal, Team: Core, Type: Enhancement

#18122 Fix assert, error handling in SqlClientService
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Defect
