Repository hazelcast/hazelcast, pull requests merged in 2021-07, with the labels that each got.

#18948 [HZ-463] SimpleAuthentication configuration added
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/security/RealmConfig.java
  hazelcast/src/main/java/com/hazelcast/config/security/SimpleAuthenticationConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/security/SimpleAuthenticationConfigTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Add to Release Notes, Module: Config, Module: Security, Source: Internal, Team: Core, Type: Enhancement

#19010 Light job fixes
  hazelcast-jet-core/src/main/resources/client-protocol-definition/Jet.yaml
  hazelcast/src/main/java/com/hazelcast/client/config/ClientNetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/client/util/AbstractLoadBalancer.java
  hazelcast/src/main/java/com/hazelcast/client/util/RandomLB.java
  hazelcast/src/main/java/com/hazelcast/client/util/RoundRobinLB.java
  hazelcast/src/main/java/com/hazelcast/client/util/StaticLB.java
  hazelcast/src/main/java/com/hazelcast/cluster/Cluster.java
  hazelcast/src/main/java/com/hazelcast/cluster/InitialMembershipListener.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/jet/JetService.java
  hazelcast/src/main/java/com/hazelcast/jet/Job.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetGetJobSubmissionTimeCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetJoinSubmittedJobCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetTerminateJobCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/AbstractJetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSubmissionTimeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetJoinSubmittedJobMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetSubmitJobMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetTerminateJobMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SubmitJobOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryBatchExchangeOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryCancelOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryCheckOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryCheckResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryExecuteOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryExecuteOperationFragment.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryFlowControlExchangeOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/operation/package-info.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHookTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryExecuteOperationFragmentTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/operation/QueryOperationsTest.java
  site/docs/design-docs/020-light-jobs.md
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#18975 migrationCommitServiceTest: shall wait until all nodes receive their …
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitServiceTest.java
Labels: Module: Partitioning, Source: Internal, Team: Core, Type: Test-Failure

#19021 MC-855 setting map memory cost metrics to -1 if in-memory-format is OBJECT
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Module: IMap, Not Release Notes content, Source: Internal, Team: Management Center

#18794 Partition Group API now takes members as method argument
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/SPIAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/AbstractDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/DiscoveryStrategy.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/DiscoverySpiTest.java
  hazelcast/src/test/resources/META-INF/services/com.hazelcast.spi.discovery.DiscoveryStrategyFactory
Labels: Module: Discovery SPI, Source: Community, Team: Core, Team: Integration, Type: Enhancement

#19018 Remove comparison operator parameter widening
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/BetweenOperatorOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/ComparisonOperatorOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastComparisonPredicate.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/index/PhysicalIndexConditionPreferenceTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/index/PhysicalIndexExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/CaseOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/BetweenOperatorIntegrationTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#19023 Fix NPE on FULL JOIN
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeFactory.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnsupportedFeaturesTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#19007 Optimize single key IMap DELETEs
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteByKeyMapLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteByKeyMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullFunctionScanLogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DeleteByKeyMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DeleteByKeyMapPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlDeleteTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/model/PersonId.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalDeleteTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryRemovingProcessor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/PlanNodeFieldTypeProvider.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/Table.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19026 Run SQL on larger same-version group
  hazelcast-sql/src/test/java/com/hazelcast/jet/LightJob_StandaloneClusterTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlRollingUpgradeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlClientExecuteCloseRaceTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlErrorClientTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/misc/SqlNoDeserializationTest.java
  hazelcast/src/main/java/com/hazelcast/client/LoadBalancer.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/cluster/impl/AbstractMember.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/DetermineLocalParallelismTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/QueryUtilsTest.java
  site/docs/design-docs/021-sql-rolling-upgrade.md
Labels: Module: Jet, Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19031 Remove NULLS FIRST and NULLS LAST support from SQL
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/ExpressionUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/misc/HazelcastDescOperator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlSortTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#19000 [HZ-432] Change security defaults in the Hazelcast JAR
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastBootstrapTest.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
  hazelcast/src/test/java/com/hazelcast/jet/config/JetConfigTest.java
  hazelcast/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/SnapshotFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ClientDeployment_StandaloneClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/DetermineLocalParallelismTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/ImdgUtilTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/OrderedBatchProcessingTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/StreamSourceStageTestBase.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/TestHazelcastInstanceFactory.java
Labels: Module: Config, Module: Security, Source: Internal, Team: Core

#19048 [HZ-432] Reenable Jet in some tests
  hazelcast/src/test/java/com/hazelcast/jet/core/JobRestartStressTestBase.java
  hazelcast/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#19037 Consolidate configs
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  distribution/src/assembly/assembly.xml
  distribution/src/root/config/hazelcast-client.yaml
  distribution/src/root/config/hazelcast.yaml
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/resources/hazelcast-client-default.xml
  hazelcast/src/main/resources/hazelcast-client-default.yaml
  hazelcast/src/main/resources/hazelcast-client-failover-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-failover-full-example.yaml
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
Labels: Module: Config, Source: Internal, Team: Core, Type: Cleanup

#18991 [HZ-399] Add compatibility serialization service
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/serialization/impl/CompatibilitySerializationConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/memory/impl/EndiannessUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Bits.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/SerializationServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayInputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DefaultSerializationServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/UnsafeInputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/UnsafeObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/ArrayListStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/LinkedListStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/CompatibilitySerializationServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/TestObject.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
  hazelcast/src/test/resources/testHz3Object
Labels: Module: Serialization, Source: Internal, Team: Core, Type: Enhancement

#19053 Fix default yaml config leftover from hz-cli
  distribution/src/bin-filemode-755/hz-cli
Labels: Estimation: S, Source: Internal, Team: Core, Type: Defect

#19049 [CN-118] change order of classpath folder list for docker's image custom jar setup
  distribution/src/bin-regular/common.sh
Labels: Source: Internal, Team: Integration, Type: Defect

#19013 [HZ-264 HZ-265 HZ-188 HZ-204] Enhancements/5.0/persistence
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FinalizeJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MembersUpdateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/hotrestart/InternalHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/internal/hotrestart/NoopInternalHotRestartService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/EmptyLocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/InternalPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/OffloadedReplicationPreparation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/PartitionReplicationEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPartitionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/UrgentPartitionRunnable.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ThreadUtil.java
  hazelcast/src/main/java/com/hazelcast/map/LocalMapStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/CountingMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/merkletree/MerkleTreeUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionRebalanceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/TestPartitionUtils.java
  hazelcast/src/test/java/com/hazelcast/test/Accessors.java
Labels: Module: Cluster, Module: Hot Restart, Module: Partitioning, Source: Internal, Team: Core, Type: Enhancement

#19050 Fix jet disabled log
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
Labels: Estimation: S, Source: Internal, Team: Core, Type: Cleanup

#19015 [HZ-399] Add option to specify processor specific classpath
  docs/design/processor-classloader/processor-classloader.md
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/core/JetProperties.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Vertex.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ProcessorClassLoaderTLHolder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/deployment/ChildFirstClassLoader.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/transform/AbstractTransform.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/transform/BatchSourceTransform.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/transform/StreamSourceTransform.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/childfirstclassloader/TestProcessor.java
  hazelcast/src/test/java/com/hazelcast/client/starter/HazelcastClientStarter.java
  hazelcast/src/test/java/com/hazelcast/jet/TestContextSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/config/JobConfigTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ChildFirstClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderCleanupTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorMetaSupplierUsingClassloader.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/SourceWithClassLoader.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
  hazelcast/src/test/java/com/hazelcast/test/JarUtil.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Starter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3StarterTest.java
  hazelcast/src/test/java/org/example/jet/impl/deployment/ResourceCollector.java
  hazelcast/src/test/resources/childfirstclassloader/resource_test.txt
  hazelcast/src/test/resources/childfirstclassloader/resource_test_only.txt
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#19016 [HZ-399] Add Hazelcast 3 Map source, sink and enrichment
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor.xml
  distribution/src/bin-filemode-755/hz-start
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/ArrayMap.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sources.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Util.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/ReadMapOrCacheP.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/WriteMapP.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/package-info.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3EnrichmentTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SinksTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SourcesTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/AsyncMapImpl.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/Hz3ImplUtil.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/MapAdapterImpl.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/MapReader.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/MigrationWatcher.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/test/java/com/hazelcast/TestSerialization.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/test/java/com/hazelcast/internal/serialization/impl/TestObject.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/src/main/java/com/hazelcast/connector/map/AsyncMap.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/src/main/java/com/hazelcast/connector/map/Hz3MapAdapter.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/src/main/java/com/hazelcast/connector/map/Reader.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/src/main/java/com/hazelcast/connector/map/package-info.java
  extensions/hazelcast-3-connector/pom.xml
  extensions/pom.xml
  hazelcast/src/main/java/com/hazelcast/jet/core/JetProperties.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  pom.xml
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#19029 Optimize IMap VALUES SINKs
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteByKeyMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SinkLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SinkMapLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SinkMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SinkMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SinkMapPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalDeleteTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalSinkTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19060 Fix setting subject field in JobRecord
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRecord.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Critical, Type: Defect

#19059 [FORWARD-PORT] Fix setting subject field in JobRecord
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRecord.java
Labels: Module: Jet, Source: Internal, Type: Critical, Type: Defect

#19063 Enables jet for ZIP/TAR packaging
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  hazelcast/src/main/resources/hazelcast-default-assembly.xml
  hazelcast/src/main/resources/hazelcast-default-assembly.yaml
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19065 [FORWARD-PORT] Add check for JetConfig#enabled to operations
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AbstractJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/CheckLightJobsOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetLocalJobMetricsOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/ResumeJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SnapshotPhase1Operation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SnapshotPhase2Operation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/TerminateExecutionOperation.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#19066 Add check for JetConfig#enabled to operations
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AbstractJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/CheckLightJobsOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetLocalJobMetricsOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/ResumeJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SnapshotPhase1Operation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SnapshotPhase2Operation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/TerminateExecutionOperation.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#19068 [FORWARD-PORT] Enables jet for ZIP/TAR packaging
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/resources/hazelcast-default-assembly.xml
  hazelcast/src/main/resources/hazelcast-default-assembly.yaml
Labels: Forwardport, Source: Internal, Team: Core, Type: Defect

#19051 Add one more case for sort elimination in DAG
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRel.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#19067 Fix getJobSummaryList when Jet is disabled
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19075 Add empty javadoc jars
  extensions/csv/pom.xml
  extensions/csv/src/main/javadoc/.gitkeep
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/hadoop/src/main/javadoc/.gitkeep
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/javadoc/.gitkeep
Labels: Source: Internal, Team: Core, Type: Enhancement

#19069 [FORWARD-PORT] Fix getJobSummaryList when Jet is disabled
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19014 [HZ-340] IndexKeyEntries will use iterator instead of collection
  hazelcast/src/main/java/com/hazelcast/internal/iteration/IndexIterationPointer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/DefaultMapOperationProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperationProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexKeyEntries.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/MapFetchIndexOperationTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19076 [FORWARD-PORT] Add empty javadoc jars
  extensions/csv/pom.xml
  extensions/csv/src/main/javadoc/.gitkeep
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/hadoop/src/main/javadoc/.gitkeep
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/javadoc/.gitkeep
Labels: Forwardport, Source: Internal, Team: Core, Type: Enhancement

#19073 Don't use processor classloaders for light jobs
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderCleanupTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19074 SPI integration tests [CN-113]
  .github/terraform/aws/hazelcast-client.yaml
  .github/terraform/aws/hazelcast.yaml
  .github/terraform/aws/main.tf
  .github/terraform/aws/scripts/start_aws_hazelcast_management_center.sh
  .github/terraform/aws/scripts/start_aws_hazelcast_member.sh
  .github/terraform/aws/scripts/verify_mancenter.sh
  .github/terraform/aws/scripts/verify_member_count.sh
  .github/terraform/aws/terraform.tfvars
  .github/terraform/aws/variables.tf
  .github/terraform/azure/hazelcast-client.yaml
  .github/terraform/azure/hazelcast.yaml
  .github/terraform/azure/main.tf
  .github/terraform/azure/scripts/start_azure_hazelcast_management_center.sh
  .github/terraform/azure/scripts/start_azure_hazelcast_member.sh
  .github/terraform/azure/scripts/verify_mancenter.sh
  .github/terraform/azure/scripts/verify_member_count.sh
  .github/terraform/azure/terraform.tfvars
  .github/terraform/azure/variables.tf
  .github/terraform/gcp/hazelcast-client.yaml
  .github/terraform/gcp/hazelcast.yaml
  .github/terraform/gcp/main.tf
  .github/terraform/gcp/scripts/start_gcp_hazelcast_management_center.sh
  .github/terraform/gcp/scripts/start_gcp_hazelcast_member.sh
  .github/terraform/gcp/scripts/verify_mancenter.sh
  .github/terraform/gcp/scripts/verify_member_count.sh
  .github/terraform/gcp/terraform.tfvars
  .github/terraform/gcp/variables.tf
  .github/workflows/aws-terraform-integration-tests.yml
  .github/workflows/azure-terraform-integration-tests.yml
  .github/workflows/gcp-terraform-integration-tests.yml
Labels: Module: Discovery SPI, Not Release Notes content, Source: Internal, Team: Integration, Type: Enhancement

#19030 FROM-less selects support
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastJetSqlConformance.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlConformance.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SelectWithoutFromStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/QueryParserTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19091 Simplify optimizer tests
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalDeleteTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalInsertTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalSinkTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalUpdateTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#19088 TopologyChangeTest.when_nodeIsNotJobParticipant_then_initFails fix
  hazelcast/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#19089 Fix race condition in StreamKafkaPTest
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Module: Jet, Source: Jet, Team: Core, Type: Test-Failure

#19081 Add missing Test annotation
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
Labels: Module: SQL, Source: Community, Team: Core, Type: Enhancement

#19078 Fix IMap CREATE JOB FROM VALUES
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteByKeyMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/InsertMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SinkMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UpdateByKeyMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/HazelcastRelOptCluster.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalDeleteTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalInsertTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalSinkTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalUpdateTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#19093 add rbac.yaml file
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
  kubernetes-rbac.yaml
Labels: Add to Release Notes, Module: Discovery SPI, Source: Internal, Team: Integration, Type: Enhancement

#19098 Fix SQL optimization tests
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalDeleteTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalInsertTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalSinkTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalUpdateTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#18591 Fix hostname related issues (HZ-222)
  docs/design/cluster/03-member-identity.md
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/ClusterService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AbstractJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterHeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberMap.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/ClusterMismatchOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/ExplicitSuspicionOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FetchMembersViewOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FinalizeJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/JoinMastershipClaimOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MasterResponseOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MembersUpdateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MergeClustersOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/PromoteLiteMemberOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/TriggerExplicitSuspicionOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/TriggerMemberListPublishOp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FetchPartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionBackupReplicaAntiEntropyOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerControl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/AddressUtil.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/operations/SyncStateOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpHostnameJoinTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/MemberHandshakeHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpMetricValuesTest.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Defect

#19046 Fix SqlRollingUpgradeTest
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlRollingUpgradeTest.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19101 Move KotlinReflectionUtilsTest to hazelcast module
  hazelcast/pom.xml
  hazelcast/src/test/kotlin/com/hazelcast/jet/impl/util/KotlinReflectionUtilsTest.kt
Labels: Source: Internal, Team: Core, Type: Cleanup

#19099 Remove use of maven.multiModuleProjectDirectory property in build
  distribution/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hazelcast-3-connector/pom.xml
  extensions/pom.xml
Labels: Source: Internal, Team: Core, Type: Defect

#19100 Skip modules using protoc for Solaris
  extensions/pom.xml
Labels: Source: Internal, Team: Core, Type: Defect

#19061 New Readme for Hazelcast 5
  README.md
  images/replication.png
Labels: Source: Internal, Team: Core, Type: Enhancement

#19095 Fix serialization and inconsistencies in MapFetchIndexOperation
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
Labels: Module: IMap, Module: SQL, Source: Internal, Team: Core, Type: Defect

#19090 Enabled ClientStateListener to be used on FailoverClient
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/util/ClientStateListener.java
Labels: Add to Release Notes, All Languages Should Check, Source: Internal, Team: Client, Type: Defect

#19121 Change doc link on SQL console
  hazelcast/src/main/java/com/hazelcast/client/console/SqlConsole.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19115 Enabled ClientStateListener to be used on FailoverClient
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/util/ClientStateListener.java
Labels: Add to Release Notes, Backport, Source: Internal, Team: Client, Type: Defect

#19116 Enabled ClientStateListener to be used on FailoverClient
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/util/ClientStateListener.java
Labels: Add to Release Notes, Backport, Source: Internal, Team: Client, Type: Defect

#19117 Enabled ClientStateListener to be used on FailoverClient
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/util/ClientStateListener.java
Labels: Add to Release Notes, Backport, Source: Internal, Team: Client, Type: Defect

#19123 Fix client leaks in ClientAutoDetectionDiscoveryTest
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientAutoDetectionDiscoveryTest.java
Labels: Estimation: S, Source: Internal, Type: Defect

#19109 Enable jet in nightly tests
  hazelcast/src/test/java/com/hazelcast/jet/benchmark/BackpressureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/benchmark/WordCountTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/MemberReconnectionStressTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StressTest.java
  hazelcast/src/test/java/com/hazelcast/jet/job/JobSubmissionSlownessRegressionTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/StatefulMappingStressTest.java
Labels: Estimation: S, Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18843 [HZ-432] Add a sample hardened Hazelcast configuration file to the distribution
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  distribution/src/bin-filemode-755/hz-start
  distribution/src/bin-regular/hz-start.bat
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/main/resources/hazelcast-security-hardened.yaml
Labels: Source: Internal, Team: Core, Type: Enhancement

#19124 fixing MC-838 by using lenient scalar/primitive validation
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlConfigSchemaValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlToJsonConverter.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigImportVariableReplacementTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigSchemaValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/yaml/YamlToJsonConverterTest.java
  hazelcast/src/test/resources/com/hazelcast/config/lenient-primitives.yaml
Labels: Module: Config, Not Release Notes content, Source: Internal, Team: Core, Team: Management Center, Type: Defect

#19133 Ensure correct build order for hazelcast-3 connector modules
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#19122 Fix JobLifecycleMetricsTest.executionRelatedMetrics
  hazelcast/src/main/java/com/hazelcast/jet/core/metrics/MetricNames.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#19139 Add a new httpsClient for HTTPS connection to ElasticSearch
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/ElasticClients.java
Labels: Add to Release Notes, Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#19145 Cluster version check for SQL execution
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlClusterVersionCheckTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19150 remove time dependent flaky test
  hazelcast/src/test/java/com/hazelcast/spi/utils/RetryUtilsTest.java
Labels: Module: Discovery SPI, Not Release Notes content, Source: Internal, Team: Cloud Native, Type: Test-Failure

#19147 Guard against null JetSqlBackend
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#19106 Remove hazelcast-all module
  .github/workflows/docker_snapshot.yml
  hazelcast-all/pom.xml
  hazelcast-all/src/main/assemble/src.xml
  hazelcast-all/src/main/java/com/hazelcast/PlaceHolder.java
  hazelcast-all/src/main/java/com/hazelcast/package-info.java
  hazelcast-all/src/test/java/com/hazelcast/it/CheckAllDependenciesIT.java
  hazelcast-all/src/test/java/com/hazelcast/it/CheckAllNoticeFileIT.java
  hazelcast-all/src/test/java/com/hazelcast/it/DependencyReducedPomAllIT.java
  hazelcast-build-utils/src/main/java/com/hazelcast/buildutils/HazelcastManifestTransformer.java
  pom.xml
Labels: Source: Internal, Team: Core, Type: Cleanup

#19140 Close client for remoteReliableTopic sink
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#18968 [HZ-331] Introduce migration-tolerant index scan in Jet SQL engine
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/ExpressionUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnectorUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/JetIndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/index/RelCollationComparator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanPMigrationStressTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanPTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPlanCacheTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexCastTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlBasicTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/internal/iteration/IndexIterationPointer.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/PartitionIdSet.java
  hazelcast/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/AbstractIndexReader.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/TransformP.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapIndexScanMetadata.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexRangeFilter.java
  hazelcast/src/test/java/com/hazelcast/aggregation/TestSamples.java
Labels: Add to Release Notes, Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19159 Remove reference to discovery plugins from assembly
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
Labels: Source: Internal, Team: Core, Type: Cleanup

#19149 Remove hz.home system property from scripts
  distribution/src/bin-filemode-755/hz-start
  distribution/src/bin-regular/common.sh
  distribution/src/bin-regular/hz-start.bat
  distribution/src/root/config/log4j2.properties
Labels: Source: Internal, Team: Core, Type: Cleanup

#19163 Fix ExecutionLifecycleTest
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#19160 Clean up leftover SPI plugins config
  .github/terraform/aws/scripts/start_aws_hazelcast_member.sh
  .github/terraform/azure/scripts/start_azure_hazelcast_member.sh
  .github/terraform/gcp/scripts/start_gcp_hazelcast_member.sh
Labels: Module: Discovery SPI, Not Release Notes content, Source: Internal, Team: Cloud Native, Type: Cleanup

#19161 Fix around midnight RowAssignmentTypeCoercionTest failures
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/RowAssignmentTypeCoercionTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#19148 Follow symlinks to discover SCRIPT_DIR
  distribution/src/bin-filemode-755/hz-cli
  distribution/src/bin-filemode-755/hz-start
  distribution/src/bin-regular/common.sh
Labels: Source: Internal, Team: Core, Type: Defect

#18931 Fix on-heap index memory cost tracking
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/GlobalIndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/HDGlobalIndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/IndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/PartitionIndexOperationStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BaseSingleValueIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/bitmap/Bitmap.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Module: IMap, Module: Query, Not Release Notes content, Source: Internal, Team: Core, Type: Defect

#19155 Simplify MockedTcpClientConnection
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#18985 ReplicatedMap read-your-writes fix
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapReadYourWritesTest.java
Labels: Module: ReplicatedMap, Source: Internal, Team: Core, Type: Test-Failure

#19157 Change hazelcast-client.xml in zip
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  hazelcast/src/main/resources/hazelcast-client-default-assembly.xml
  hazelcast/src/main/resources/hazelcast-client-default-assembly.yaml
  hazelcast/src/main/resources/hazelcast-default-assembly.yaml
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19158 Fix issues with light jobs
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobIdsMessageTask.java
  hazelcast/src/test/java/com/hazelcast/jet/LightJobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/LightJob_StandaloneClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19181 Map whole key/value if Portable class definition is empty
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJavaResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolvers.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJavaResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19170 Adjust error message when trying to query JSON without mapping created
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolver.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolverTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19180 Fixes SplitBrainTest start issues
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/AbstractSplitBrainProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/PartitionedCluster.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#19167 First draft to integrate TSTORE into Hazelcast
  hazelcast/src/main/java/com/hazelcast/config/InMemoryFormat.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/DataRecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/ObjectRecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/AbstractRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/recordstore/LazyEvictableEntryViewTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
Labels: Source: Internal, Team: Storage, Type: Enhancement

#19179 Fix TopologyChangeTest failure
  hazelcast/src/test/java/com/hazelcast/jet/core/TopologyChangeTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18701 Check for leftover HazelcastClient instances
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientAutoDetectionDiscoveryTest.java
  hazelcast/src/test/java/com/hazelcast/test/AbstractHazelcastClassRunner.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#19186 Make ClientInvocation_ExceptionTest use of separate client and member instances
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocation_ExceptionTest.java
Labels: Source: Internal, Team: Client, Type: Test-Failure

#19168 Cn 124 add external service label for Kubernetes
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesConfig.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesProperties.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
Labels: Add to Release Notes, Module: Kubernetes, Source: Internal, Team: Cloud Native, Type: Enhancement

#19070 Implement permission() for custom SQL processors
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByPrimitiveKeyProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinScanProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorSupplier.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#19080 Enable jet in HazelcastBootstrap standalone run setting
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastBootstrapTest.java
Labels: Estimation: S, Module: Jet, Source: Internal, Team: Core

#19189 Fixes SplitBrainTest start issues
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/AbstractSplitBrainProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/PartitionedCluster.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#19191 Fixes SplitBrainTest start issues
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/AbstractSplitBrainProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/PartitionedCluster.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#19190 Fixes SplitBrainTest start issues
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/AbstractSplitBrainProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/PartitionedCluster.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#19055 Handle correctly merkleTreeConfig existence for compatibility
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/CacheConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/CacheConfigPropagationTest.java
  hazelcast/src/test/java/com/hazelcast/config/CacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/CacheSimpleConfigTest.java
Labels: Module: ICache, Source: Internal, Team: Core, Type: Defect

#19197 Make ClientInvocation_ExceptionTest use of separate client and member instances
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientInvocation_ExceptionTest.java
Labels: Backport, Source: Internal, Team: Client, Type: Test-Failure

#19195 Wait until client receives member shutdown in ClientCacheThroughHazelcastInstanceTest
  hazelcast/src/test/java/com/hazelcast/client/cache/instance/ClientCacheThroughHazelcastInstanceTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/ClientTestSupport.java
Labels: Backport, Source: Internal, Team: Client, Type: Test-Failure

#19198 [backport 4.2.z] don't use hazelcas-all in docker snaphost images
  .github/workflows/docker_snapshot.yml
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#19199 [backport 4.1.z] don't use hazelcas-all in docker snaphost images
  .github/workflows/docker_snapshot.yml
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#19200 [backport 4.0.z] don't use hazelcas-all in docker snaphost images
  .github/workflows/docker_snapshot.yml
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#19204 Restore current directory after findScriptDir is finished
  distribution/src/bin-filemode-755/hz-cli
  distribution/src/bin-filemode-755/hz-start
Labels: Source: Internal, Team: Core, Type: Defect

#19184 Fix race with Jet activation
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/JetExtension.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19205 Fix ConcurrentModificationExc at flow-control packet
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19208 Use CreateDagVisitor's localMemberAddress on root relation
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JetRootRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#19187 Fix composite index tests and improve query engine error reporting
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/CompositeIndexQueriesTest.java
Labels: Module: IMap, Module: Query, Not Release Notes content, Source: Internal, Team: Core, Type: Test-Failure

#19214 Ensure SqlClientService.getQueryConnection() exceptions are wrapped in HazelcastSqlException
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Module: SQL, Source: Internal, Team: Core

#19215 Disable information_schema queries plan caching
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaTable.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#19213 Rename 'mappings' to 'tables' in information_schema.mappings
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#19216 Isolate WAN clusters in tests
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockJoiner.java
Labels: Module: WAN, Source: Internal, Team: Core, Type: Test-Failure

#19128 fixing-npe-when-config-havent-root
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlConfigSchemaValidator.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigSchemaValidatorTest.java
  hazelcast/src/test/resources/com/hazelcast/config/without-root-object.yaml
Labels: Module: Config, Source: Community, Team: Core, Type: Defect

#19219 Deprecate STATISTICS properties
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/config/BaseMetricsConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsConfigHelper.java
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientMetricsPropertiesTest.java
Labels: Add to Release Notes, All Languages Should Check, Module: Config, Source: Internal, Team: Client, Type: Defect

#19231 Report client name in logs
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Not Release Notes content, Source: Internal, Team: Client, Type: Enhancement

#19236 Fix submissionTime for light jobs
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#19194 Fix retrying for CallerNotMemberException
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/TerminateExecutionOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/exception/RetryableHazelcastException.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect
