Repository hazelcast/hazelcast, pull requests merged in 2021-02, with the labels that each got.

#18121 Support the new client SqlPage serialization protocol for Short, Float, Double, LocalDate, LocalTime, LocalDateTime, OffsetDateTime and BigDecimal types
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/BigDecimalCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListCNDoubleCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListCNFloatCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListCNLocalDateCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListCNLocalDateTimeCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListCNLocalTimeCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListCNOffsetDateTimeCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListCNShortCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/SqlPageCodec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlPage.java
Labels: Module: SQL, Priority: High, Source: Internal, Team: Core, Type: Enhancement

#18112 Remove size check for record-store stats (#18014)
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
Labels: Backport, Module: IMap, Source: Internal, Team: Core, Type: Defect

#18100 [IMDG-136] GenericRecord and Serialization API Improvements
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/GenericRecordQueryReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/InternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ObjectDataInputStream.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ObjectDataOutputStream.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/ConstantSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/ClassDefinitionWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/EmptyObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/MorphingPortableReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/main/java/com/hazelcast/nio/ObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/nio/ObjectDataOutput.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/ClassDefinitionBuilder.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/PortableReader.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/PortableWriter.java
  hazelcast/src/main/java/com/hazelcast/projection/impl/MultiAttributeProjection.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/AbstractGenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/GenericRecordBuilderTest.java
Labels: All Languages Should Check, Module: Serialization, Source: Internal, Type: Enhancement

#18070 Fixes DelegatingCompletableFuture
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DelegatingCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/client/impl/ClientDelegatingFuture_SerializationExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFutureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFuture_SerializationExceptionTest.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Defect

#18119 [BACKPORT] Fixes URLDefinition#equals
  hazelcast/src/main/java/com/hazelcast/util/ServiceLoader.java
  hazelcast/src/test/java/com/hazelcast/util/ServiceLoaderTest.java
  pom.xml
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#18116 [BACKPORT] Fix URLDefinition#equals
  hazelcast/src/main/java/com/hazelcast/internal/util/ServiceLoader.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
  pom.xml
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#18117 [BACKPORT] Fix URLDefinition#equals
  hazelcast/src/main/java/com/hazelcast/internal/util/ServiceLoader.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
  pom.xml
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#18114 SQL : add support for non-nullable columns (#17471)
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/RootPhysicalRel.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/PlanCreateVisitor.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlBasicTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlNullableColumnTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/SqlColumnMetadataCodec.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlColumnMetadata.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/codec/builtin/SqlPageCodecTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/sql/SqlMetadataTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlResultImplTest.java
  hazelcast/src/test/resources/2.2.protocol.compatibility.binary
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18137 Fix headers in tests
  hazelcast/src/test/java/com/hazelcast/client/impl/ClientDelegatingFuture_SerializationExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFuture_SerializationExceptionTest.java
Labels: Team: Client, Team: Core, Type: Defect

#18133 [BACKPORT] Fixed user-lib path from start.sh/bat scripts
  hazelcast/src/main/resources/start.bat
  hazelcast/src/main/resources/start.sh
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#18134 [BACKPORT] Fixed user-lib path from start.sh/bat scripts
  hazelcast/src/main/resources/start.bat
  hazelcast/src/main/resources/start.sh
Labels: Backport, Source: Internal, Team: Core, Type: Defect

#17855 Verify if client is active in TcpClientConnectionManager once
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
Labels: Module: Network I/O, Source: Internal, Team: Client, Type: Enhancement

#18138 [BACKPORT] Fixes DelegatingCompletableFuture
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DelegatingCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/client/impl/ClientDelegatingFuture_SerializationExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFutureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFuture_SerializationExceptionTest.java
Labels: Backport, Source: Internal, Team: Client, Team: Core, Type: Defect

#18128 SQL client fixes
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlClientExecuteCloseRaceTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientState.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryClientStateRegistry.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#18140 [BACKPORT] Fixes DelegatingCompletableFuture
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DelegatingCompletableFuture.java
  hazelcast/src/test/java/com/hazelcast/client/impl/ClientDelegatingFuture_SerializationExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFutureTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/DelegatingCompletableFuture_SerializationExceptionTest.java
Labels: Backport, Source: Internal, Team: Client, Team: Core, Type: Defect

#18143 Check whether or not client is active only if no addresses are tried …
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
Labels: Source: Internal, Team: Client, Type: Defect

#18148 Changed version to 4.1.1-migration
  distribution/pom.xml
  hazelcast-all/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast-sql-core/pom.xml
  hazelcast-sql/pom.xml
  hazelcast/pom.xml
  modulepath-tests/pom.xml
  pom.xml
Labels: Source: Internal

#18139 Update last-update-time on remove and on clear
  hazelcast/src/main/java/com/hazelcast/internal/monitor/LocalRecordStoreStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalRecordStoreStatsImplTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18145 Semaphore.release javadoc fix
  hazelcast/src/main/java/com/hazelcast/cp/ISemaphore.java
Labels: Backport, Module: CP Subsystem, Source: Internal, Type: Documentation

#17973 Implement ManagedBlocker for DistributedObjectFuture
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ProxyManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/DistributedObjectFuture.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ClientHazelcastRunningInForkJoinPoolTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/HazelcastRunningInForkJoinPoolTest.java
Labels: Source: Internal, Team: Core, Type: Enhancement

#18149 Fix cp-subsystem.sh parameters
  hazelcast/src/main/resources/cp-subsystem.sh
Labels: Backport, Module: CP Subsystem, Source: Internal, Type: Defect

#18141 Added tests for SQL LIMIT clause
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18150 Reorder boolean flag reset in MulticastDeserializationTest
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
Labels: Source: Community

#18144 Fixed an intermittent failure in SqlNoDeserializationTest (#18135)
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlNoDeserializationTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#17734 Remove Invocation.remote flag
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundOperationHandler.java
Labels: Module: Invocation System, Source: Internal, Team: Core, Type: Cleanup, Type: Test-Failure

#18153 finish cache eviction policy tests once CacheEvictionPolicyComparator was invoked
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPoolImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPoolThreadLocal.java
  hazelcast/src/test/java/com/hazelcast/cache/eviction/AbstractCacheEvictionPolicyComparatorTest.java
Labels: Module: HD, Module: ICache, Source: Internal, Team: Core, Type: Test-Failure

#18108 Simplify error message in the parser exception
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/parse/QueryParserTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18152 Make NearcacheConfig equal before and after it is used
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfigAccessor.java
  hazelcast/src/test/java/com/hazelcast/config/EvictionConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/NearCacheConfigAccessorTest.java
Labels: Module: Config, Module: Near Cache, Source: Internal, Team: Client, Type: Defect

#18159 Type coercion for query source
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastRexBuilder.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/misc/HazelcastCastFunction.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/predicate/HazelcastComparisonPredicateUtils.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeCoercion.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeSystem.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeUtils.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeSystemTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/AbstractTemporalConverter.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlTestSupport.java
Labels: Module: SQL, Source: Jet, Team: Core, Type: Enhancement

#18060 Prevent memory leak on queue backup.
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueAdvancedTest.java
Labels: Module: IQueue, Source: Internal, Team: Core, Type: Defect

#18058 Prevent memory leak on queue backup.
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueAdvancedTest.java
Labels: Module: IQueue, Source: Community, Team: Core, Type: Defect

#18156 Micro-optimization in the QueryDataType.normalize method
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataType.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18166 Make NearcacheConfig equal before and after it is used
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfigAccessor.java
  hazelcast/src/test/java/com/hazelcast/config/EvictionConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/NearCacheConfigAccessorTest.java
Labels: Backport, Module: Config, Module: Near Cache, Source: Internal, Team: Client, Type: Defect

#18167 Make NearcacheConfig equal before and after it is used
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfigAccessor.java
  hazelcast/src/test/java/com/hazelcast/config/EvictionConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/NearCacheConfigAccessorTest.java
Labels: Backport, Module: Config, Module: Near Cache, Source: Internal, Team: Client, Type: Defect

#18168 Make NearcacheConfig equal before and after it is used
  hazelcast/src/main/java/com/hazelcast/config/EvictionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfigAccessor.java
  hazelcast/src/test/java/com/hazelcast/config/EvictionConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/NearCacheConfigAccessorTest.java
Labels: Backport, Module: Config, Module: Near Cache, Source: Internal, Team: Client, Type: Defect

#18162 Fix wrong Deprecated annotation on PortableWriter
  hazelcast/src/main/java/com/hazelcast/nio/serialization/PortableWriter.java
Labels: Module: Serialization, Source: Internal, Team: Client, Type: Defect

#18127 Dynamic log level support
  docs/design/logging/01-dynamic-log-level.md
  hazelcast/src/main/java/com/hazelcast/auditlog/AuditlogTypeIds.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/InstanceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/jmx/LoggingServiceMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/RestApiFilter.java
  hazelcast/src/main/java/com/hazelcast/logging/Log4j2Factory.java
  hazelcast/src/main/java/com/hazelcast/logging/Log4jFactory.java
  hazelcast/src/main/java/com/hazelcast/logging/LoggerFactorySupport.java
  hazelcast/src/main/java/com/hazelcast/logging/NoLogFactory.java
  hazelcast/src/main/java/com/hazelcast/logging/StandardLoggerFactory.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/InternalLogger.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/InternalLoggerFactory.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftIntegration.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestLogLevelTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/LoggingServiceMBeanTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/logging/JdkLoggerLevelChangeTest.java
  hazelcast/src/test/java/com/hazelcast/logging/Log4j2LoggerLevelChangeTest.java
  hazelcast/src/test/java/com/hazelcast/logging/Log4jLoggerLevelChangeTest.java
  hazelcast/src/test/java/com/hazelcast/logging/NoLoggerLevelChangeTest.java
  hazelcast/src/test/java/com/hazelcast/logging/Slf4jLoggerLevelChangeTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestLoggerFactory.java
Labels: Module: REST, Source: Internal, Team: Core

#18157 Deprecated HOT_RESTART_FREE_NATIVE_MEMORY_PERCENTAGE property
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapRemoteService.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorTest.java
Labels: Module: Hot Restart, Source: Internal, Team: Core, Type: Cleanup

#18165 Use the correct config on AbstractClientMapTest
  hazelcast/src/test/java/com/hazelcast/client/map/AbstractClientMapTest.java
Labels: Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18136 improve timestamp check in ReplicatedMapMBeanTest
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MapMBeanTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/MultiMapMBeanTest.java
  hazelcast/src/test/java/com/hazelcast/internal/jmx/ReplicatedMapMBeanTest.java
Labels: Module: ReplicatedMap, Source: Internal, Team: Core, Type: Test-Failure

#18169 Add isInfiniteRows to QueryParseResult
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/index/IndexRexVisitor.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParseResult.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ColumnExpression.java
Labels: Module: SQL, Source: Internal, Source: Jet, Team: Core, Type: Enhancement

#17769 Fix natural filtering strategy for map events
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddEntryListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddEntryListenerToKeyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddEntryListenerToKeyWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddEntryListenerWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryEventFilter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextEventListenerSupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/QueryCacheNaturalFilteringStrategy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEventFilter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/publisher/PartitionAccumulatorRegistry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractQueryCacheConfigurator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/test/java/com/hazelcast/map/LocalListenerTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryEventFilterTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Enhancement

#18176 Workaround Calcite issues in CAST
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/literal/Literal.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/literal/LiteralUtils.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/literal/NumericLiteral.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/literal/TypedLiteral.java
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeUtils.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/CastFunctionIntegrationTest.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/impl/expression/LiteralTypeResolutionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converters.java
Labels: Module: SQL, Team: Core, Type: Defect

#18172 Use cached deserialized values in SQL when possible
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/misc/SqlNoSerializationTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CachedQueryEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/AbstractMapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/KeyValueIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanRow.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericQueryTarget.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryTarget.java
  hazelcast/src/test/java/com/hazelcast/aggregation/TestSamples.java
  hazelcast/src/test/java/com/hazelcast/query/impl/AndResultSetTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/ConverterResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexFirstComponentDecoratorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/OrResultSetTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/PredicatesTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/extract/GenericQueryTargetTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18188 Fix compilation error in HD caused by #18172
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#18189 Fix UserCodeDeployment schema definition
  hazelcast/src/main/resources/hazelcast-config-4.2.xsd
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#18175 Add NIO alternatives to IOUtil.rename() method
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Source: Internal, Team: Core, Type: Enhancement, Type: Test-Failure

#18192 Fix NPE in MapIndexScanExecIterator
  hazelcast/src/main/java/com/hazelcast/query/impl/CachedQueryEntry.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#18191 Optimize CopyOnWriteArrayList/Set serializers
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/AbstractCollectionStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/CopyOnWriteArrayListStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/CopyOnWriteArraySetStreamSerializer.java
Labels: Module: Serialization, Source: Internal, Team: Client, Type: Enhancement

#18200 Remove unneeded partition ownership check
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
Labels: Module: IMap, Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#18174 Fix endpoint group configuration parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideSystemPropertiesTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#18197 [4.1.z] Optimize CopyOnWriteArrayList/Set serializers
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/AbstractCollectionStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/CopyOnWriteArrayListStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/CopyOnWriteArraySetStreamSerializer.java
Labels: Backport, Module: Serialization, Source: Internal, Team: Client, Type: Enhancement

#18198 [4.0.z] - Optimize CopyOnWriteArrayList/Set serializers
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractCollectionStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/CopyOnWriteArrayListStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/CopyOnWriteArraySetStreamSerializer.java
Labels: Backport, Module: Serialization, Source: Internal, Team: Client, Type: Enhancement

#18071 Add Nonnull annotations to StreamSerializer.
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/ConstantSerializers.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/StreamSerializer.java
Labels: Module: Serialization, Source: Community, Team: Client, Type: Enhancement

#18205 Cleanup XML schema definitions
  hazelcast-spring/src/main/resources/hazelcast-spring-4.2.xsd
  hazelcast/src/main/resources/hazelcast-client-config-4.2.xsd
  hazelcast/src/main/resources/hazelcast-client-failover-config-4.2.xsd
  hazelcast/src/main/resources/hazelcast-config-4.2.xsd
Labels: Module: Config, Source: Internal, Team: Client, Team: Core, Type: Cleanup

#18212 [backport] Fix endpoint group configuration parsing
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideSystemPropertiesTest.java
Labels: Backport, Module: Config, Source: Internal, Team: Core, Type: Defect

#18217 Enable map store config unless its disabled explicitly
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Module: Config, Source: Internal, Team: Core, Type: Defect

#18224 Fixed another stability issue with Tenant Control tests, and fixed typo in API comments
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/tenantcontrol/TenantControl.java
  hazelcast/src/test/java/com/hazelcast/spi/tenantcontrol/TenantControlTest.java
Labels: Source: Community, Team: Core, Type: Test-Failure

#18211 Set the logging level to TRACE for GracefulShutdownCorrectnessTest
  hazelcast/src/test/java/com/hazelcast/internal/partition/GracefulShutdownCorrectnessTest.java
  hazelcast/src/test/resources/log4j2-trace-graceful-shutdown-correctness.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18213 Add logs for queue size and information
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/AbstractSplitBrainProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/queue/QueueSplitBrainProtectionReadTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18225 Improve MulticastService initialization
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastJoinTest.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Defect

#18222 Set expirationTime default value to -1 for 4.1 clusters
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Records.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/SimpleRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpiryMetadataImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/AbstractRecordTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18210 Compare value hash codes before deleting backup entry
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheExpireBatchBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ExpiredKey.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EvictBatchBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18230 Fix HazelcastStarter for versions without InternalLogger
  hazelcast/src/test/java/com/hazelcast/test/TestLoggerFactory.java
Labels: Team: Core, Type: Defect

#18220 Propagate bitmap index statistics
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/bitmap/Bitmap.java
  hazelcast/src/test/java/com/hazelcast/map/LocalBitmapIndexStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/SingleValueBitmapIndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/bitmap/BitmapTest.java
Labels: Module: Query, Source: Internal, Team: Core, Type: Enhancement

#18118 Fail fast when using IndexType#BITMAP on HD
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapAddIndexMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
Labels: Module: IMap, Module: Query, Source: Internal, Team: Core, Type: Enhancement

#18218 Make sure files are closed before deleting
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Module: CP Subsystem, Source: Internal, Team: Core, Type: Defect

#18235 Make sure files are closed before deleting
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Backport, Module: CP Subsystem, Source: Internal, Team: Core, Type: Defect

#18236 Make sure files are closed before deleting
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Backport, Module: CP Subsystem, Team: Core, Type: Defect

#18229 Make concurrent shutdown test finish sooner
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
Labels: Module: CP Subsystem, Source: Internal, Team: Core, Type: Test-Failure

#18237 Remove warning in PhoneHome because of CloudInfoCollector
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CloudInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
Labels: Source: Internal, Team: Management Center, Type: Defect

#18232 Remove expiry listeners from test
  hazelcast/src/test/java/com/hazelcast/cache/eviction/CacheExpirationTest.java
Labels: Module: ICache, Source: Internal, Team: Core, Type: Test-Failure

#18204 Set log level trace for MigrationCorrectnessTest
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationCorrectnessTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionCorrectnessTestSupport.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/service/TestMigrationAwareService.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/service/fragment/TestFragmentedMigrationAwareService.java
  hazelcast/src/test/resources/log4j2-trace-migrations.xml
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18207 Improve MapIndexScanExecTest (#18030)
  hazelcast/src/test/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18113 Add negative numbers support to sql ORDER_BY tests
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18255 Fix loopback mode for the MulticastService.
  hazelcast/src/main/java/com/hazelcast/config/MulticastConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#18258 Replace org.jetbrains.annotations.NotNull with javax.annotation.Nonnull
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlPage.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/TranslateToPublicAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientTopicTest.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/AbstractGenericRecordTest.java
Labels: Even Jaromir can do that

#18246 Set client connection timeout to prevent test timeouts
  hazelcast/src/test/java/classloading/ThreadLeakClientTest.java
Labels: Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#18260 Make FieldDefinitionImpl & ClassDefinitionImpl serializable
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/ClassDefinitionImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/FieldDefinitionImpl.java
Labels: Module: Serialization, Source: Internal, Source: Jet, Team: Client, Team: Core, Type: Enhancement

#18247 Bunch of grammar fixes
  hazelcast-spring/src/main/resources/hazelcast-spring-4.2.xsd
  hazelcast/src/main/java/com/hazelcast/config/SqlConfig.java
  hazelcast/src/main/java/com/hazelcast/core/TypeConverter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeType.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/QueryOptimizer.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlStatement.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/io/AbstractInbox.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/io/Outbox.java
  hazelcast/src/main/resources/hazelcast-config-4.2.xsd
Labels: Source: Internal, Type: Cleanup, Type: Documentation, Type: Enhancement

#18263 Fixes mbean leak after test
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicBlockTest.java
Labels: Source: Internal, Team: Core, Type: Test-Failure

#17583 [ Refactor ] Split TcpServerConnectionManager into itself and TcpServerConnectionManagerBase
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionErrorHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
Labels: Module: Network I/O, Source: Community, Team: Core, Type: Enhancement

#18233 Fix for query_cache_recreates_itself_after_server_restart: Wait for cache size to be 100
  hazelcast/src/test/java/com/hazelcast/client/map/impl/querycache/ClientQueryCacheRecreationTest.java
Labels: Module: IMap, Source: Internal, Team: Client, Team: Core, Type: Test-Failure

#18256 Handle null value
  hazelcast/src/main/java/com/hazelcast/map/impl/eviction/EvictorImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#18245 Fire membership events when persistence enabled
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: All Languages Should Check, Module: Cluster, Module: Hot Restart, Source: Internal, Team: Client, Team: Core, Type: Defect

#18268 Fire membership events when persistence enabled
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Backport, Module: Cluster, Module: Hot Restart, Source: Internal, Team: Client, Team: Core, Type: Defect

#18269 Fire membership events when persistence enabled
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientClusterRestartEventTest.java
Labels: Backport, Module: Cluster, Module: Hot Restart, Source: Internal, Team: Client, Team: Core, Type: Defect

#18231 Respect `migrating` flag while computing member state
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
Labels: Module: IMap, Module: Query, Source: Internal, Team: Core, Type: Test-Failure

#18107 Delete flood control mechanism to prevent launching actions in sync
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
Labels: Source: Community, Team: Core, Type: Enhancement

#18276 Check memberlist snapshot before clearing it
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
Labels: Module: Cluster, Source: Internal, Team: Client, Type: Defect

#18279 Check memberlist snapshot before clearing it
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
Labels: Backport, Module: Cluster, Source: Internal, Team: Client, Type: Defect

#18180 Register class definitions and check compatibility of nested portable…
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableContext.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableContextImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/AbstractGenericRecordTest.java
Labels: All Languages Should Check, Module: Serialization, Source: Internal, Team: Client

#18272 Call shutdownNow while closing OperationParkerImpl
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationparker/impl/OperationParkerImpl.java
Labels: Module: Invocation System, Source: Internal, Team: Core, Type: Defect

#18287 Use HTTPS for phone home pings
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
Labels: Module: Security, Team: Management Center, Type: Enhancement

#18244 Provide temporal types support for indexes
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/SortPhysicalRel.java
  hazelcast-sql-core/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeType.java
  hazelcast/src/main/java/com/hazelcast/query/impl/TypeConverters.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ReflectionHelper.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18274 Implement type coercion for UDFs
  hazelcast-sql-core/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeCoercion.java
Labels: Module: SQL, Source: Internal, Source: Jet, Team: Core, Type: Enhancement

#18285 Fix racy CopyOnWrite data structure serialization write
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/CopyOnWriteArrayListStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/CopyOnWriteArraySetStreamSerializer.java
Labels: Module: Serialization, Source: Internal, Source: Jet, Team: Client, Team: Core, Type: Defect

#18186 Implementation of HD Metadata Store
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaNameValue.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaNode.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaStructNode.java
  hazelcast/src/main/java/com/hazelcast/json/internal/JsonSchemaTerminalNode.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataStoreImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MetadataStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/JsonMetadata.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Metadata.java
  hazelcast/src/main/java/com/hazelcast/query/impl/QueryableEntry.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/json/internal/JsonMetadataCreationTest.java
Labels: Estimation: M, Module: HD, Priority: High, Source: Internal, Team: Core, Type: Enhancement

#18288 Remove old JDK 1.6 related Javadoc
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
Labels: Module: IMap, Source: Internal, Team: Core, Team: Documentation, Type: Defect

#18291 Update the javadoc of EntryEvictedListener and EntryExpiredListener
  hazelcast/src/main/java/com/hazelcast/map/listener/EntryEvictedListener.java
  hazelcast/src/main/java/com/hazelcast/map/listener/EntryExpiredListener.java
Labels: Source: Internal, Team: Core, Type: Defect, Type: Documentation

#18284 Register class definitions and check compatibility of nested portable…
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableContext.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableContextImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/test/java/com/hazelcast/genericrecord/AbstractGenericRecordTest.java
Labels: Backport, Module: Serialization, Source: Internal, Team: Client

#18183 Do not deserialize HazelcastJsonValues when the InMemoryFormat is not OBJECT
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Records.java
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
Labels: Module: JSON, Module: Query, Source: Internal, Team: Core, Type: Defect

#17672 Add selectionKey null check in NioOutboundPipeline.executePipeline to prevent NPE
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Module: Network I/O, Source: Internal, Team: Core

#18295 Return right record per config
  hazelcast/src/main/java/com/hazelcast/map/impl/record/DataRecordFactory.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/AbstractRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/DataRecordFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/record/ObjectRecordFactoryTest.java
Labels: Module: IMap, Source: Internal, Team: Core, Type: Defect

#18299 [Backport 4.0.4] Fix racy CopyOnWrite data structure serialization write (#18285)
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/CopyOnWriteArrayListStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/CopyOnWriteArraySetStreamSerializer.java
Labels: Backport, Module: Serialization, Source: Internal, Source: Jet, Team: Client, Team: Core, Type: Defect

#18298 [Backport 4.1.z] Fix racy CopyOnWrite data structure serialization write (#18285)
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/CopyOnWriteArrayListStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/CopyOnWriteArraySetStreamSerializer.java
Labels: Backport, Module: Serialization, Source: Internal, Source: Jet, Team: Client, Team: Core, Type: Defect
