Repository hazelcast/hazelcast, pull requests merged in 2021-09, with the labels that each got.

#19438 Improve failoverConfig javadoc to remove ambiguity
  hazelcast/src/main/java/com/hazelcast/client/config/ClientFailoverConfig.java
Labels: Type: Defect, Team: Client, Source: Internal

#19417 Stop requiring Jet JobPermissions for SQL
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: SQL

#19437 Update the network configuration of TestManagedContext
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/managedContext-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/cache/HazelcastCache.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/hibernate/RegionFactoryBeanDefinitionParser.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Network I/O, Not Release Notes content

#19435 SQL tests cleanup
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/LightJobBench.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/OptimizerInstantiationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlPlanCacheTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/TestMapTable.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/TestTableResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanPTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPlanCacheTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexCastTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/JetSqlIndexTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexConverterMismatchTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/ExpressionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/math/RoundTruncateFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/predicate/ComparisonPredicateIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/predicate/ComparisonPredicateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/string/StringFunctionIntegrationTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexFilterIteratorTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexFilterTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/misc/SqlClientCursorCleanupTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/misc/SqlNoDeserializationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/misc/SqlNoSerializationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/misc/SqlSecurityCallbackTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/PlanRow.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/PlanRows.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/cost/CostTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/optimizer/PlanKeyTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/model/IdentifiedPerson.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/support/expressions/ExpressionTypes.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/SqlTestSupport.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/TestClockProvider.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/TestLocalMemberIdProvider.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/UpdateSqlResultImplTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/ConstantPredicateExpression.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/FunctionalPredicateExpression.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/MapSchemaTestSupport.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/MapTableConverterResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/converter/ConvertersTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19362 Sql support for Compact format [API-367]
  checkstyle/suppressions.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTargetDescriptor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientCompactQueryTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientPortableQueryTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlCompactTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DeserializedPortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/CompactGetter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/FieldsUtil.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericQueryTarget.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/CompactFormatIntegrationTest.java
  hazelcast/src/test/java/example/serialization/EmployerDTO.java
  hazelcast/src/test/java/example/serialization/NodeDTO.java
Labels: Team: Client, Team: Core, Source: Internal, Module: Serialization, Module: SQL, Add to Release Notes

#19407 Change SecuredFunction so that it returns a list of permissions
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroProcessors.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/CdcSinks.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/HadoopFileSourceFactory.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByPrimitiveKeyProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinScanProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/FileSourceBuilder.java
  hazelcast/src/main/java/com/hazelcast/security/PermissionsUtil.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunction.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ConnectorPermission.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Security, Add to Release Notes, Module: Jet

#19439 Change missing mapping error message
  hazelcast-sql/src/main/resources/org/apache/calcite/runtime/CalciteResource.properties
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19241 adding check for rolling upgrades to have a nicer exception
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/schema/MemberSchemaService.java
Labels: Team: Client, Source: Internal, Module: Rolling Upgrade, Module: Serialization

#19424 SQL index scan: fix exception during index rebuild
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19448 Align permissions for optimised DML plans
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19444 Refactor RowAssignmentTypeCoercionTest
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/RowAssignmentTypeCoercionTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19454 Ensure SQL symmetric between test verifies correct behaviour
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/predicate/BetweenOperatorIntegrationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: SQL

#19449 make gracefulShutdown test more robust
  hazelcast/src/test/java/com/hazelcast/internal/partition/AbstractGracefulShutdownCorrectnessTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster

#19339 Store snapshots for all members removed
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/InternalPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Hot Restart, Module: Cluster, Module: Partitioning

#19433 add logging on processing state of migrations
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#19450 make sizeAndData check assertion eventual
  hazelcast/src/test/java/com/hazelcast/internal/partition/AbstractGracefulShutdownCorrectnessTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#19447 Use higher number ports in TestManagedContext
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/managedContext-applicationContext-hazelcast.xml
Labels: Type: Defect, Type: Test-Failure, Module: Network I/O

#19445 Skip Testcontainer-dependent tests on platforms without Docker installed
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
  extensions/s3/src/test/java/com/hazelcast/jet/s3/S3MockTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/RoutingPolicyDistributedTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/test/TestProcessorContextTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTest_RabbitMQ.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/PartitionArrangementTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19451 Test portable array mapped as OBJECT in SQL
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/param/AnyToVarcharParameterConverter.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolverTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19304 Add SingleProtocolEncoder
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/ClientPlainChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Protocols.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/ClientChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/ProtocolException.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TextHandshakeDecoder.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/SingleEncoderDecoderTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#19453 Remove SQL Packet remains
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19446 Allow any to OBJECT dynamic parameter assignment
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operand/TypedOperandChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/predicate/HazelcastBetweenOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/param/AbstractParameterConverter.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/predicate/BetweenOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/RowAssignmentTypeCoercionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeFamily.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19434 Add more logging to QueuePriorityTest#queueConsistency
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueuePriorityTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/model/PriorityElement.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IQueue, Not Release Notes content

#19402 proxyservice/impl : add helper methods
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Hot Restart

#19459 Change test's assumption
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpHostnameJoinTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#19452 Make mutable index observer more tolerant to exceptions
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
Labels: Type: Defect, Team: Core, Priority: High, Source: Internal, Estimation: S, Module: HD

#19462 Optimize retainAndGetNamespaces()
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Module: Cluster

#19252 [HZ-432] Security alignments for distribution-default config files (ZIP/TGZ, Docker)
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  hazelcast/pom.xml
  hazelcast/src/main/config-template/hazelcast-assembly.xml
  hazelcast/src/main/config-template/hazelcast-assembly.yaml
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Module: Security

#19455 Filter non-hazelcast classes for DataSerializableConventionsTest
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
  hazelcast/src/test/java/com/hazelcast/test/ReflectionsHelper.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Serialization, Not Release Notes content

#19470 Cleanup QueryException
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/HazelcastJsonQueryTarget.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryException.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericFieldExtractor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericTargetExtractor.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: SQL

#19460 Fix NPE thrown in MasterJobContext#onStartExecutionComplete
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, Module: Jet

#19481 Fix TestSources to support extremely high rates
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/test/TestSources.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, Module: Jet

#19410 [HZ-394] ICache delta partition sync
  hazelcast/src/main/java/com/hazelcast/cache/CacheStatistics.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CachePartitionSegment.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheStatisticsImpl.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheNearCacheStateHolder.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/record/CacheRecordReaderWriter.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheStatisticsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/LocalCacheStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/EmptyLocalReplicatedMapStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicationStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/map/LocalMapStats.java
  hazelcast/src/main/java/com/hazelcast/partition/LocalReplicationStats.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalCacheStatsImplTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: ICache

#19471 Better exception when not connected to a participant
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Jet

#19476 [HZ-506] Implement permissions for CREATE / DROP MAPPING
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/hazelcast-default.properties
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/SqlPermission.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlService.java
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/security/client-permission-failures.json
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: SQL

#19491 Add missing Rest endpoint group into XML & Yaml examples
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Type: Defect, Team: Core, Module: Config, Module: REST, Even Jaromir can do that

#19468 Fix race condition related problem with SingleProtocolEncoder/Decoder
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolEncoder.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#19497 Improve REST/MEMCACHE error message experiences
  distribution/src/bin-filemode-755/hz-cluster-admin
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/RestApiFilter.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolDecoder.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: CP Subsystem, Module: REST, Type: Documentation

#19441 Fix loading from parent in ChildFirstClassLoader HZ-492
  hazelcast/src/main/java/com/hazelcast/jet/impl/deployment/ChildFirstClassLoader.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ChildFirstClassLoaderTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Jet

#18219 Ensure that ClientConnectionStrategyConfig is not overwritten while parsing
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalClientConfigurationOverrideTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Config

#19480 Add last-update-time to expiry metadata
  hazelcast/src/main/java/com/hazelcast/map/impl/ExpirationTimeSetter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/RecordReaderWriter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Records.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpiryMetadata.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpiryMetadataImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap, Forwardport

#19505 Delete duplicate build() of member builder in create snapshot of client's cluster service
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
Labels: Team: Client, Estimation: S, Module: Cluster, Not Release Notes content

#19443 Improve javadoc for Hazelcast 3 connector HZ-373
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sources.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
Labels: Team: Core, Source: Internal, Type: Documentation, Module: Jet

#19512 Warn if a job jar contains core Hazelcast classes (#19426)
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/JarScanner.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/EnumerationUtil.java
  hazelcast/src/test/java/com/hazelcast/client/console/HazelcastCommandLineTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/JarScannerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/EnumerationUtilTest.java
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-hazelcast-codebase.jar
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-hazelcast-codebase/pom.xml
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-hazelcast-codebase/src/main/java/com/hazelcast/jet/testjob/HazelcastBootstrap.java
  hazelcast/src/test/resources/com/hazelcast/client/console/testjob-with-hazelcast-codebase/src/main/java/com/hazelcast/jet/testjob/TestJob.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Add to Release Notes, Module: Jet

#19514 Add ringbuffer and connector permission configs to hazelcast-full-example
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Module: Security, Not Release Notes content

#19513 HZ-432 Log info about instance security-related configuration
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/main/resources/hazelcast-security-hardened.xml
  hazelcast/src/main/resources/hazelcast-security-hardened.yaml
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/hot-restart/keystore-store-missing-props.json
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config

#19519 [4.2.z Backport] Do not check for tombstones in ReplicatedMap (#19005)
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/AbstractReplicatedRecordStore.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/EntrySetIteratorFactory.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/InternalReplicatedMapStorage.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/KeySetIteratorFactory.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ReplicatedRecord.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/record/ValuesIteratorFactory.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/impl/record/LazyIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/impl/record/ReplicatedRecordTest.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Internal, Module: ReplicatedMap, Even Jaromir can do that

#19423 Handle undefined cleanup order for PS and PMS
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobClassLoaderService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ClusterStateChangeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ManualRestartTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/Processors_slidingWindowingIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderCleanupTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19510 assert after the event is procesed - AdvancedNetworkClientIntegration…
  hazelcast/src/test/java/com/hazelcast/client/io/AdvancedNetworkClientIntegrationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#19525 Add null check to PermissionUtil#checkPermission
  hazelcast/src/main/java/com/hazelcast/security/PermissionsUtil.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Security, Module: Jet

#19530 Fix classloaders cleanup for AccessControlException
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19511 Throw unsupported operation exception if perEntryStatsEnabled is false
  hazelcast/src/main/java/com/hazelcast/map/impl/ExpirationTimeSetter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap, Forwardport

#19364 wildcardConfigPatternMatcher: fix same pref-suff issue
  hazelcast/src/main/java/com/hazelcast/config/matcher/WildcardConfigPatternMatcher.java
  hazelcast/src/test/java/com/hazelcast/config/WildcardConfigPatternMatcherTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config

#19522 Promote rebalance delay to config element
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/PersistenceConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionRebalanceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationManagerTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Persistence

#19537 Removes unused import
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config

#19529 Correct SqlService javadocs
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorClientTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/NoSuchMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Source: Internal, Team: SQL, Type: Documentation

#19526 do merge persistence configs for in-place mutations - DynamicConfigurationAwareConfig
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: Hot Restart, Module: Persistence

#19520 Update phone home statistics conditionally for SQL statements
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientExecuteCloseRaceTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/misc/SqlNoDeserializationTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecuteCodec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/resources/2.3.protocol.compatibility.binary
  hazelcast/src/test/resources/2.3.protocol.compatibility.null.binary
Labels: Type: Defect, Team: Client, Source: Internal, Team: Management Center, Team: SQL, Not Release Notes content

#19523 [FORWARD_PORT] Increase invalidation sequence instead of resetting it
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheEventHandler.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheClearOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/Invalidator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheReconciliationTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapReconciliationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapReconciliationTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: Near Cache

#19540 Create Compact schema on create mapping
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTargetDescriptor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientCompactQueryTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlCompactTest.java
Labels: Team: Client, Source: Internal, Module: Serialization, Team: SQL

#19224 NullPointerException on cluster properties #18102
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: Config

#19539 Unwrap InvocationTargetException for Hz 3 init
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Util.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/ReadMapOrCacheP.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/WriteMapP.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3EnrichmentTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SinksTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SourcesTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Jet

#19545 Allow empty values for config properties
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
Labels: Type: Defect, Team: Core, Source: Internal

#19538 Update job security design doc
  docs/design/security/02-jet-job-security.md
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Security, Module: Jet

#19535 Change wording and log level of security recommendations.
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeSecurityBanner.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/NodeSecurityBannerTest.java
  hazelcast/src/test/resources/log4j2-debug.xml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Security

#19518 Wait decoder signal
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolEncoder.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#19502 Implicitly enable MerkleTreeConfig for persistent IMap/ICache
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/MerkleTreeConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/MerkleTreeConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MulticastConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationUtilTest.java
  hazelcast/src/test/resources/2.3.protocol.compatibility.binary
  hazelcast/src/test/resources/2.3.protocol.compatibility.null.binary
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: IMap, Module: ICache, Module: Hot Restart

#19515 Increase invalidation sequence instead of resetting it
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheEventHandler.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheClearOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/Invalidator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/invalidation/ClientCacheReconciliationTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/invalidation/ClientMapReconciliationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/invalidation/MemberMapReconciliationTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: Near Cache

#19541 Remove spotbugs leftovers
  .github/workflows/docker_snapshot.yml
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content, Module: Scripts

#19553 Revert hostnames fix PR
  docs/design/cluster/03-member-identity.md
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/ClusterService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AbstractJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterHeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MemberMap.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/ClusterMismatchOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/ExplicitSuspicionOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FetchMembersViewOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FinalizeJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/JoinMastershipClaimOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MasterResponseOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MembersUpdateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/MergeClustersOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/PromoteLiteMemberOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/TriggerExplicitSuspicionOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/TriggerMemberListPublishOp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FetchPartitionStateOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionBackupReplicaAntiEntropyOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/server/Server.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerControl.java
  hazelcast/src/main/java/com/hazelcast/internal/util/AddressUtil.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/operations/SyncStateOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpHostnameJoinTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/MemberHandshakeHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpMetricValuesTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Network I/O

#19563 Fixes HttpRestEndpointGroupsTest
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/HttpRestEndpointGroupsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: REST

#19565 Fixes HttpRestEndpointGroupsTest
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/HttpRestEndpointGroupsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Forwardport, Module: REST

#19564 [FORWARD-PORT] Fixes HttpRestEndpointGroupsTest
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/HttpRestEndpointGroupsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Forwardport, Module: REST

#19568 Remove ClassLoader if InitOperation fails before ExecutionContext is added
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19582 Security Vulnerability Fixes
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, Module: Security, Add to Release Notes, security

#19585 [BACKPORT] Remove ClassLoader if InitOperation fails before ExecutionContext is …
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19584 [BACKPORT] Remove ClassLoader if InitOperation fails before ExecutionContext is …
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19610 [5.0] Use hazelcast.jar's NOTICE file as the the distribution NOTICE
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  distribution/src/root/NOTICE
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Config

#19483 Throw unsupported operation exception if perEntryStatsEnabled is false
  hazelcast/src/main/java/com/hazelcast/map/impl/ExpirationTimeSetter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
  hazelcast/src/test/java/com/hazelcast/client/map/AbstractClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/EntryStoreWriteBehindTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap

#19488 Enum serialized as string
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/example/serialization/EmployerDTO.java
  hazelcast/src/test/java/example/serialization/HiringStatus.java
Labels: Type: Enhancement, Team: Client, Source: Community, Module: Serialization

#19517 FieldKind exposed as public API [API-437]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTarget.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolverTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/FieldDescriptorCodec.java
  hazelcast/src/main/java/com/hazelcast/config/CompactSerializationConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FieldKindBasedOperations.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FieldOperations.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/GenericRecordQueryReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/AbstractGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecordCloner.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedSchemaBoundGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/FieldDescriptor.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/RabinFingerprint.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/Schema.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SchemaWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SerializingGenericRecordCloner.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DeserializedPortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/FieldTypeToFieldKind.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/AbstractGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldKind.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldType.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/FieldsUtil.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/EnumCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/RabinFingerprintTest.java
Labels: Type: Enhancement, Team: Client, Module: Serialization

#19542 Remove unneeded code
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: IMap

#19613 Adds utility method to CacheContext
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheContext.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Persistence

#18773 Add document describing changes done during the merge
  docs/design/merge/01-merge-changes.md
Labels: Type: Enhancement, Team: Core, Source: Internal, Add to Release Notes, Type: Documentation

#19567 Fix failure in SplitBrainTest (5.0.z)
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Jet

#19615 [5.0.1] Use hazelcast.jar's NOTICE file as the the distribution NOTICE
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  distribution/src/root/NOTICE
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Config, Forwardport

#19616 Use hazelcast.jar's NOTICE file as the the distribution NOTICE
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  distribution/src/root/NOTICE
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Config, Forwardport

#19521 ClientClusterService apply events only with version larger than local version
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
Labels: Type: Enhancement, Team: Client, Source: Internal

#19621 Use unique cluster name for spring tests
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/cache/HazelcastCacheReadTimeoutTestWithJavaConfig.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheClientCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/no-readtimeout-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/readtimeout-config-prop-file.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/readtimeout-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/discoveryConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Spring

#19589 Implement right join in SQL
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/JoinLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/ValidatorResource.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnsupportedFeaturesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
Labels: Type: Enhancement, Source: Internal, Module: Query, Team: SQL, Add to Release Notes

#19611 Check implementation for serializable classes only in the module with test
  extensions/avro/src/test/java/com/hazelcast/jet/avro/AvroSerializableTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/CdcDebeziumSerializableTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/CdcMysqlSerializableTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/CdcPostgresSerializableTest.java
  extensions/csv/src/test/java/com/hazelcast/jet/csv/CsvSerializableTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/Elastic5SerializableTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/Elastic6SerializableTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/Elastic7SerializableTest.java
  extensions/grpc/src/test/java/com/hazelcast/jet/grpc/GrpcSerializableTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/HadoopSerializableTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SerializableTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/test/java/com/hazelcast/internal/serialization/impl/Hz3ImplSerializableTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/KafkaSerializableTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisSerializableTest.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonSerializableTest.java
  extensions/s3/src/test/java/com/hazelcast/jet/s3/S3SerializableTest.java
  hazelcast-archunit-rules/src/main/java/com/hazelcast/test/archunit/ModuleImportOptions.java
  hazelcast/src/test/java/com/hazelcast/jet/JetSerializableTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Serialization, Not Release Notes content

#19618 Remove unneeded rolling upgrade code paths
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/PreJoinCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/tenantcontrol/CacheDestroyEventContext.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MerkleTreeConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/ProbeUnit.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/DefaultPartitionReplicaInterceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/tenantcontrol/impl/TenantControlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingMaxIdle.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/ProbeUnitTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestEnvironment.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/NodeAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/ServerAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/InternalPartitionImplConstructor.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#19623 Convert staleJoinPreventionDuration to not static field
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster

#19640 Fix JarScannerTest on Windows builds
  hazelcast/src/test/java/com/hazelcast/instance/impl/JarScannerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#19474 Optimize local map read
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/string/ConcatWSFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/JetMapScanMigrationStressTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#19612 Throw immediately in sql client service's execute()
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientResultTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Team: Client, Source: Internal, Estimation: S, Team: SQL

#19648 [backport] Fix HazelcastCommandLineTest on Windows (#19636)
  hazelcast/src/test/java/com/hazelcast/client/console/HazelcastCommandLineTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#19646 [5.0 BACKPORT] Throw immediately in sql client service's execute() (#19612)
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientResultTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Team: Client, Backport, Source: Internal, Estimation: S

#19649 Restore Versioned interface on MapReplicationStateHolder
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Rolling Upgrade

#19642 MC-1075 - fix ReliableTopic totalPublishes metric
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableMessageRunner.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AbstractRingBufferOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AddAllOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AddOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadOneOperation.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/MessageRunner.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableMessageRunner.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicService.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicStatsTest.java
  hazelcast/src/test/java/com/hazelcast/topic/impl/reliable/ReliableTopicAbstractTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Ringbuffer, Add to Release Notes

#19617 Use trimStackTrace false for all uses of surefire and failsafe
  pom.xml
Labels: Type: Enhancement, Team: Core, Source: Internal

#19657 Change the default cluster-name as it interferes with other tests
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SourcesTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Spring

#19543 Rename the hot-restart metrics prefix
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Hot Restart, Module: Metrics, Add to Release Notes, Module: Persistence

#19656 MC-1075 - fix ReliableTopic totalPublishes metric [BACKPORT to 4.2.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableMessageRunner.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AbstractRingBufferOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AddAllOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AddOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadOneOperation.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/MessageRunner.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableMessageRunner.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicService.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicStatsTest.java
  hazelcast/src/test/java/com/hazelcast/topic/impl/reliable/ReliableTopicAbstractTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Module: Ringbuffer, Add to Release Notes

#19651 MC-1075 - fix ReliableTopic totalPublishes metric [BACKPORT to 5.0.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableMessageRunner.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AbstractRingBufferOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AddAllOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/AddOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadManyOperation.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/operations/ReadOneOperation.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/MessageRunner.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableMessageRunner.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicService.java
  hazelcast/src/test/java/com/hazelcast/client/topic/ClientReliableTopicStatsTest.java
  hazelcast/src/test/java/com/hazelcast/topic/impl/reliable/ReliableTopicAbstractTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Module: Ringbuffer, Add to Release Notes

#19624 Adds utility method to CacheContext (#19613)
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheContext.java
Labels: Type: Defect, Team: Core, Source: Internal, Forwardport, Module: Persistence

#19631 Update hadoop to 3.3.1
  extensions/hadoop-dist/files-s3/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  pom.xml
Labels: Type: Enhancement, Team: Core, Source: Internal, dependencies, Module: Jet

#19664 Allow healthchecks in Docker-default member configuration
  hazelcast/src/main/config-template/hazelcast-assembly.xml
  hazelcast/src/main/config-template/hazelcast-assembly.yaml
Labels: Type: Enhancement, Team: Integration, Team: Core, Source: Internal, Module: Config, Module: REST
