Repository hazelcast/hazelcast, pull requests merged in 2021-11, with the labels that each got.

#19843 Change default value for hazelcast.logging.emoji.enabled on Windows
  hazelcast/src/main/java/com/hazelcast/internal/util/OsHelper.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/NodeSecurityBannerTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config

#19879 [BACKPORT 4.1.z] Make TcpClientConnectionTest more robust
  hazelcast/src/test/java/com/hazelcast/client/TcpClientConnectionTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Network I/O

#19878 [BACKPORT 5.0.z] Make TcpClientConnectionTest more robust
  hazelcast/src/test/java/com/hazelcast/client/TcpClientConnectionTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Network I/O

#19850 [HZ-502] Introduce EXPLAIN statement
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlExplainStatement.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/common/HazelcastSpecialOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/special/HazelcastExplainOperator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes

#19889 Fix possible NPE in NodeMulticastListener
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/NodeMulticastListener.java
Labels: Type: Defect, Team: Core, Source: Internal, Estimation: S, Module: Cluster, Not Release Notes content

#19886 Use standard SQL syntax for table arguments
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/codegen/templates/Parser.jj
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlImposeOrderFunctionTest.java
Labels: Source: Internal, Team: SQL

#19770 Increase assertion timeout in `ClientMapLockTest#testLockTTLExpires_usingIsLocked`
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapLockTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: IMap, Module: Lock

#19652 Remove support for `char` and `char[]` from Compact
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FieldOperations.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/AbstractGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SchemaWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SerializingGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SerializingGenericRecordCloner.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactReader.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactWriter.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactStreamSerializerValueReaderSpecTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactValueReaderTestStructure.java
  hazelcast/src/test/java/example/serialization/InnerDTO.java
  hazelcast/src/test/java/example/serialization/MainDTO.java
Labels: Team: Client, Type: Cleanup, Source: Internal, Module: Serialization

#19881 Implement schema extraction from Compact data/object
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/SampleMetadataResolver.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InternalSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingSerializationService.java
Labels: Source: Internal, Module: Serialization

#19831 Add elapsed time to log message
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
Labels: Team: Core, Source: Internal, Module: IMap, Forwardport

#19888 [HZ-643] toHazelcastType(SqlTypeName) -> toHazelcastType(RelDataType) refactor
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/cost/CostUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operand/TypedOperandChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/predicate/HazelcastBetweenOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/predicate/HazelcastComparisonPredicateUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/typeinference/BinaryOperatorOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/typeinference/CoalesceOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastType.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeUtilsTest.java
Labels: Type: Cleanup, Source: Internal, Team: SQL

#19890 Unify TestStream and TestBatch SQL connectors
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlImposeOrderFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestStreamSqlConnector.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#19899 MC-635 changing the default value of the queue.maxAge metric to 0
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalQueueStatsImpl.java
  hazelcast/src/test/java/com/hazelcast/client/queue/QueueResetAgeStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueStatisticsTest.java
Labels: Type: Defect, Source: Community, Team: Management Center, Module: Metrics, Not Release Notes content

#19905 Do not execute cluster ops when querying node state
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestNodeStateTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: REST

#19906 [BACKPORT] Do not execute cluster ops when querying node state
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestNodeStateTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: REST

#19900 HZ-636 Do not create map config with phone home service
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/GhostMapTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: IMap, Module: Config

#19903 HZ-636 Do not create map config with phone home service
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/GhostMapTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Module: Config

#19904 HZ-636 Do not create map config with phone home service
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/GhostMapTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: IMap, Module: Config

#19913 Fix QueueStatisticsTest#testAge
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueStatisticsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IQueue, Team: Management Center

#19895 Fail on invalid EXPLAIN-ordering statement
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/WatermarkPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/WatermarkPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#19892 Fix apidoc of Compactable
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/Compactable.java
Labels: Team: Client, Source: Internal, Module: Serialization, Not Release Notes content, Type: Documentation

#19867 Specify member-only cluster operations in Javadocs
  hazelcast/src/main/java/com/hazelcast/cluster/Cluster.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Cluster, Not Release Notes content, Type: Documentation

#19908 Allow absolute paths in HAZELCAST_CONFIG environment variable
  distribution/src/bin-filemode-755/hz-cli
  distribution/src/bin-filemode-755/hz-start
Labels: Type: Enhancement, Team: Core, Source: Internal, Estimation: S

#19810 [HZ-566] SQL: CREATE INDEX implementation
  docs/design/sql/12-create-index.md
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateIndex.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlDropIndex.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlCreateIndexTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/HazelcastSqlParserTest.java
  hazelcast/src/main/java/com/hazelcast/security/permission/SqlPermission.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/SqlParserTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes

#19918 Fail on duplicate CREATE JOB option
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#19766 [BACKPORT-4.1.z] Improved Telemetry
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatistics.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsSnapshot.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEndpointStatisticsManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/util/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/Counter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/MwCounter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/SwCounter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CPSubsystemInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CacheInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollectorHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CloudInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClusterInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/OSInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeParameterCreator.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/ProxyService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ConnectedClientOperationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/PhoneHomeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/AttributeExtractor.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/ClassPathFormattingTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/DelayMapStore.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/GhostMapTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeDifferentConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeParameterCreatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Enhancement, Backport, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19775 [BACKPORT-4.0.z] Improved telemetry
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatistics.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointStatisticsSnapshot.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEndpointStatisticsManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/util/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/Counter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/MwCounter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/SwCounter.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CPSubsystemInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CacheInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClientInfoCollectorHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CloudInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClusterInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/DistributedObjectCounterCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MetricsCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/OSInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeParameterCreator.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/ProxyService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyRegistry.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ConnectedClientOperationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/PhoneHomeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/AttributeExtractor.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/ClassPathFormattingTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/DelayMapStore.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/GhostMapTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeDifferentConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeParameterCreatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Enhancement, Backport, Source: Internal, Team: Management Center, Module: Metrics

#19893 MC-1019 REST API phonehome metrics
  hazelcast/src/main/java/com/hazelcast/internal/ascii/CommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandService.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpStatusCode.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallExecution.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/RestApiMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19919 Fix YAML schema
  hazelcast/src/main/resources/hazelcast-config-5.1.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/ringbuffer/success.json
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#19924 Fix DISTINCT SQL aggregation combine
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/DistinctSqlAggregation.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/DistinctSqlAggregationTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#19930 Set system property with instance tracking file for audit [5.0.z]
  hazelcast/src/main/java/com/hazelcast/internal/util/InstanceTrackingUtil.java
  hazelcast/src/test/java/com/hazelcast/instance/InstanceTrackingInfoTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config

#19928 Set system property with instance tracking file for audit
  hazelcast/src/main/java/com/hazelcast/internal/util/InstanceTrackingUtil.java
  hazelcast/src/test/java/com/hazelcast/instance/InstanceTrackingInfoTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config

#19916 CompactSerializer does not throw IOException
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SampleMetadataResolverTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactSerializer.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/example/serialization/EmployeeDTOSerializer.java
  hazelcast/src/test/java/example/serialization/EmployeeWithSerializerDTO.java
Labels: Module: Serialization

#19880 Make HazelcastJsonValue work with PagingPredicate
  hazelcast/src/main/java/com/hazelcast/core/HazelcastJsonValue.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: Query, Module: JSON

#19936 Remove dead code MapScanExecIterator
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecUtils.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#19940 Make unused logger method deprecated
  hazelcast/src/main/java/com/hazelcast/logging/ILogger.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Add to Release Notes

#19927 [HZ-384] Generate the attribution files during the build
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  pom.xml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Scripts

#19949 Fix CREATE INDEX parser test for Windows
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/HazelcastSqlParserTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#19939 Make logging tests JDK17 ready HZ-665 #19877
  hazelcast/src/test/java/com/hazelcast/logging/AbstractLoggerTest.java
  hazelcast/src/test/java/com/hazelcast/logging/Log4jLoggerLevelChangeTest.java
  hazelcast/src/test/java/com/hazelcast/logging/Log4jLoggerTest.java
  hazelcast/src/test/java/com/hazelcast/logging/Log4jTrackingAppender.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, JDK17

#19938 [5.0.z BACKPORT] MC-1019 REST API phonehome metrics
  hazelcast/src/main/java/com/hazelcast/internal/ascii/CommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandService.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpStatusCode.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallExecution.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/RestApiMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19945 [4.2.z BACKPORT] MC-1019 REST API phonehome metrics
  hazelcast/src/main/java/com/hazelcast/internal/ascii/CommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandService.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpStatusCode.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallExecution.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/RestApiMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19950 [4.1.z BACKPORT] MC-1019 REST API phonehome metrics
  hazelcast/src/main/java/com/hazelcast/internal/ascii/CommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandService.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/TextCommandServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpHeadCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandParser.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpStatusCode.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallExecution.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/RestApiMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Enhancement, Backport, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19955 MC-1019 fixing broken "restmapdeletefail" phonehome metric
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/RestApiMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Defect, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19956 [BACKPORT 5.0.z MC-1019] fixing broken "restmapdeletefail" phonehome metric
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/RestApiMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Defect, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19957 [BACKPORT 4.2.z MC-1019] fixing broken "restmapdeletefail" phonehome metric
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/RestApiMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Defect, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19958 [BACKPORT 4.1.z MC-1019] fixing broken "restmapdeletefail" phonehome metric
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpDeleteCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestCallCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/RestApiMetricsCollector.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Defect, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#19966 Fix possibly infinite loop in handling index splits
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetSplitBrainTestSupport.java
Labels: Type: Defect, Source: Internal, Team: SQL

#19935 Reduce re-creation of ExecutionContext after job failure
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/Networking.java
Labels: Type: Enhancement, Module: Jet

#19959 Make AbstractDiscoveryStrategy testable without reflection
  hazelcast/src/main/java/com/hazelcast/spi/discovery/AbstractDiscoveryStrategy.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/DiscoverySpiTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Discovery SPI, JDK17

#19973 Fix the final position of a fixed size compact object
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
Labels: Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#19975 Fix the final position of a fixed size compact object
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
Labels: Team: Client, Source: Internal, Module: Serialization

#19977 Remove Closable from BufferObjectDataInput
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientCompactQueryTest.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/BufferObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPool.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPoolImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPoolThreadLocal.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableContextImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobClassLoaderFactory.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ExplodeSnapshotP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPoolTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferContainerSerializationTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Team: SQL, Module: Jet

#19932 Do not try to start background task during map#destroy
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/BatchInvalidator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/nearcache/MapNearCacheManager.java
Labels: Type: Enhancement, Team: Core, Module: IMap, Module: Near Cache

#19970 Rename MappingResolver to IMapResolver
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/IMapResolver.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#19980 Remove Closable from BufferObjectDataInput (#19977)
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientCompactQueryTest.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/BufferObjectDataInput.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPool.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPoolImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPoolThreadLocal.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobClassLoaderFactory.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ExplodeSnapshotP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/bufferpool/BufferPoolTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferContainerSerializationTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Team: SQL

#19984 Fix projection handling for select-by-key
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SelectByKeyMapLogicalRules.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#19986 Fix projection handling for select-by-key (backport of #19984)
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SelectByKeyMapLogicalRules.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#19985 Better toString for arrays in peek
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/DiagnosticProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
Labels: Type: Enhancement, Source: Internal, Module: Jet

#19942 Add empty value check for hazelcast.licensekey overriding config
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ExternalConfigurationOverride.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Team: Core, Source: Internal, Module: Config, Team: Cloud Native

#19992 [BACKPORT 5.0.z] Add empty value and short license string check for hazelcast.licensekey overriding config
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/internal/config/override/ExternalConfigurationOverride.java
  hazelcast/src/test/java/com/hazelcast/internal/config/override/ExternalMemberConfigurationOverrideEnvTest.java
Labels: Team: Core, Backport, Source: Internal, Module: Config, Team: Cloud Native

#19990 [BACKPORT 5.0.z] Make tests using multicast discovery more robust
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/NodeMulticastListener.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientAutoDetectionDiscoveryTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Network I/O

#19989 Make tests using multicast discovery more robust
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientAutoDetectionDiscoveryTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#19745 Decrease test log level for com.hazelcast.cp.internal category
  hazelcast/src/test/resources/log4j2.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: CP Subsystem
