Repository hazelcast/hazelcast, pull requests merged in 2021-05, with the labels that each got.

#18552 Update README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: Source: Internal, Type: Documentation, Type: Enhancement

#18570 [PLAT-200] Implementation of SQL EXTRACT function
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/literal/LiteralUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/TypedOperandChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/datetime/HazelcastExtractFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastType.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeFactory.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/datetime/ExtractFunctionIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/DateTimeUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/ExtractField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/ExtractFunction.java
Labels: Add to Release Notes, Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18613 Support dynamic parameters in file table functions
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetDynamicTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/HazelcastMapValueConstructor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/HazelcastOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/SqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnsupportedFeaturesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/JetSqlBackendTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlCsvTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/opt/physical/index/PhysicalIndexScanTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/parse/QueryParserTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/OptimizationTask.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18562 Remove client endpoint on connection remove
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientDisconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/ReplicatedMapEntryListenerOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
Labels: Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#18507 Control temporary allocations for background expiry task
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ToBackupSender.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
Labels: Forwardport, Module: IMap, Source: Community, Team: Core, Type: Defect

#18511 Fixes a race on bluegreen
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
Labels: Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18629 Remove client endpoint on connection remove
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientDisconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/ReplicatedMapEntryListenerOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#18630 Remove client endpoint on connection remove
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/AbstractChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Connection.java
  hazelcast/src/test/java/com/hazelcast/client/ClientDisconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/ReplicatedMapEntryListenerOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/DroppingConnection.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockConnection.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#18628 Remove client endpoint on connection remove
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientDisconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/ReplicatedMapEntryListenerOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#18586 Fix rebalance() nonfunctional before fused stages
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/RebalanceBatchStageTest.java
Labels: Type: Defect

#18639 Support new Portable types for auto-discovered IMaps
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlBasicTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/FieldsUtil.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/sample/MapSampleMetadataResolverTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18637 Make the naming for timestamps consistent
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlDataType.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/type/QueryDataTypeUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/parse/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/schema/HazelcastCalciteCatalogReader.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/HazelcastCallBinding.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/misc/HazelcastCastFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/param/AbstractParameterConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlAggregateTest_TypeCoercion.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/SinkTypeCoercionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlParameterTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/calcite/validate/types/HazelcastTypeSystemTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/CastFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/ExpressionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/datetime/ExtractFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/predicate/InOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/PositionFunctionIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlColumnType.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeFamily.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18634 Fixes a race on bluegreen
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18635 Fixes a race on bluegreen
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18636 Fixes a race on bluegreen
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/nio/ClientConnectionManagerTranslateTest.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect, Type: Test-Failure

#18631 Make EXTRACT function work on multiple types
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/TypedOperandChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/datetime/HazelcastExtractFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/datetime/ExtractFunctionIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/DateTimeUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/ExtractField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/ExtractFunction.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#18641 add jmx_prometheus_javaagent jar into slim distribution zip
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/root/NOTICE
  pom.xml
Labels: Source: Internal, Team: Core, Type: Enhancement, dependencies

#18643 Remove unused TypedOperandCheckers
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operand/TypedOperandChecker.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Cleanup

#18642 [PLAT-305] Pretty print cluster connect timeout in logs
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/WaitStrategy.java
Labels: All Languages Should Check, Source: Internal, Team: Client, Type: Enhancement

#18598 Dont remove backup listeners on connection problem
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddBackupListenerMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/BackupListenerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#18648 Pretty print cluster connect timeout in logs
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/WaitStrategy.java
Labels: Backport, Source: Internal, Team: Client, Type: Enhancement

#18623 Fix handling of predicates for ReplicatedMap
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapEventPublishingService.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/AbstractReplicatedMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapListenerTest.java
Labels: Module: ReplicatedMap, Source: Internal, Team: Core, Type: Defect

#18646 Don't remove backup listeners on connection problem
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddBackupListenerMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/BackupListenerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#18647 Don't remove backup listeners on connection problem
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddBackupListenerMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/BackupListenerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#18645 Don't remove backup listeners on connection problem
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddBackupListenerMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/BackupListenerLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/ListenerLeakTest.java
Labels: Backport, Not Release Notes content, Source: Internal, Team: Client, Type: Defect

#18653 Fix bootstrappedInstance() when run directly
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetBootstrap.java
  hazelcast/src/test/java/com/hazelcast/jet/JetBootstrapTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#18654 Fix MetricsTest
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JmxMetricsChecker.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
Labels: Module: Jet, Type: Test-Failure

#18651 Fix handling of predicates for ReplicatedMap
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapEventPublishingService.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/AbstractReplicatedMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapListenerTest.java
Labels: Backport, Module: ReplicatedMap, Source: Internal, Team: Core, Type: Defect

#18650 Fix handling of predicates for ReplicatedMap
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapEventPublishingService.java
  hazelcast/src/test/java/com/hazelcast/client/replicatedmap/ClientReplicatedMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/AbstractReplicatedMapListenerTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapListenerTest.java
Labels: Backport, Module: ReplicatedMap, Source: Internal, Team: Core, Type: Defect

#18658 Wait until client receives member shutdown in ClientCacheThroughHazelcastInstanceTest
  hazelcast/src/test/java/com/hazelcast/client/cache/instance/ClientCacheThroughHazelcastInstanceTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/ClientTestSupport.java
Labels: Module: ICache, Source: Internal, Team: Client, Type: Test-Failure

#18659 Always set `dbConnectionUrl` as a first thing of the test class initialization
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ReadJdbcPTest.java
Labels: Even Jaromir can do that, Module: Jet, Source: Internal, Team: Core, Type: Cleanup

#18662 Correct SQL type sizes
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeUtils.java
Labels: Module: SQL, Source: Internal, Team: Core

#18671 Limit number of records that can be accumulated by Jet processors
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/jet/config/InstanceConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/memory/AccumulationLimitExceededException.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/GroupP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/HashJoinCollectP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/SortP.java
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/test/java/com/hazelcast/jet/impl/memory/MemoryManagementTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#18679 Add SQL grouping memory management test
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMemoryManagement.java
Labels: Module: SQL, Source: Internal, Team: Core

#18674 Replace MetaSupplierCtx.processingGuarantee with a call to JobConfig.getProcessingGuarantee()
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast/src/test/java/com/hazelcast/jet/TestContextSupport.java
Labels: Module: Jet, Source: Internal, Team: Core

#18678 Apply maxProcessorAccumulatedRecords to TransformStatefulP
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/java/com/hazelcast/jet/config/InstanceConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/test/java/com/hazelcast/jet/impl/memory/MemoryManagementTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#18677 Add support for job-level maxProcessorAccumulatedRecords
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/memory/MemoryManagementTest.java
  site/docs/sql/job-management.md
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#18682 Apply maxProcessorAccumulatedRecords to DistinctTransform
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/java/com/hazelcast/jet/config/InstanceConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/transform/DistinctTransform.java
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/test/java/com/hazelcast/jet/impl/memory/MemoryManagementTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#18683 Add reverse javadocs to memory limited operations
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/BatchStage.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/BatchStageWithKey.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Documentation

#18684 Add memory management design doc
  site/docs/design-docs/019-memory-management.md
  site/website/sidebars.json
Labels: Module: Jet, Source: Internal, Team: Core, Type: Documentation

#18267 Remove sleep statements - Reduce delays when joining a cluster
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnector.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerControl.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/FrozenPartitionTableTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockJoiner.java
Labels: Module: Cluster, Source: Community, Team: Core, Type: Enhancement

#18687 Fix default cluster name for hazelcast command
  hazelcast/src/main/java/com/hazelcast/jet/server/JetCommandLine.java
  hazelcast/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
Labels: Source: Internal, Team: Core, Type: Defect

#18689 Replace usage of hasMessageEndingWith() with hasMessageContaining() in SQL tests
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlCsvTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlJsonTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/expression/string/PositionFunctionIntegrationTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Test-Failure

#18563 Add OWASP dependency checker configuration
  owasp-check-suppressions.xml
  pom.xml
Labels: Module: Security, Source: Internal, Team: Core

#18696 Fix map reader/writer processor issues
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ReadMapOrCachePTest.java
Labels: Module: Jet, Source: Community, Type: Defect

#18606 Fix Jet related RU compatibility issue
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/JetExtension.java
Labels: Module: Rolling Upgrade, Source: Internal, Team: Core, Type: Enhancement

#18673 Fix reconnect flood when members separated by proxy
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionErrorHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerControl.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpMemberConnectionLossTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/MemberHandshakeHandlerTest.java
Labels: Module: Network I/O, Source: Internal, Team: Core, Type: Defect

#18692 [PLAT-148] Add max-processor-accumulated-records yaml & xml examples
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  site/docs/design-docs/019-memory-management.md
  site/docs/operations/configuration.md
Labels: Module: Jet, Source: Internal, Team: Core, Type: Documentation

#18712 Add max-processor-accumulated-records to the YAML schema
  hazelcast/src/main/resources/hazelcast-config-5.0.json
Labels: Module: Jet, Source: Internal, Team: Core, Type: Test-Failure

#18655 [PLAT-308] Implement OnHeapMapScan processor to read IMap directly by Jet processor
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlCoreBackendImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/OnHeapMapScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/OnHeapMapScanPTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/MapScanMetadata.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18663 [PLAT-312] Support for ORDER BY
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/ExpressionUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/FieldCollation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAccumulatePhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/ValidatorResource.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/validate/operators/misc/HazelcastDescOperator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMemoryManagement.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlSortTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: Add to Release Notes, Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18704 Fix missing javadoc imports & few more
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/calcite/opt/physical/exchange/SortMergeExchangePhysicalRel.java
  hazelcast/src/main/java/com/hazelcast/jet/JetCacheManager.java
  hazelcast/src/main/java/com/hazelcast/jet/Observable.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation1.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation2.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation3.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperationBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AllOfAggregationBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/CoAggregateOperationBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast/src/main/java/com/hazelcast/jet/core/metrics/MetricTags.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Stage.java
  site/docs/design-docs/020-light-jobs.md
Labels: Module: Jet, Source: Internal, Type: Defect, Type: Documentation

#18660 Call shutdown jobs even before setting shuttingDown to true
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/test/java/com/hazelcast/jet/core/GracefulShutdownTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: Module: Cluster, Module: Jet, Source: Internal, Team: Core, Type: Defect

#18703 Forbid renaming __key & this for KV connectors
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJavaResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJsonResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataNullResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolvers.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JetMapMetadataResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataJsonResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJavaResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataJsonResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolversTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataJsonResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataPortableResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPrimitiveTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
Labels: Module: SQL, Source: Internal, Team: Core, Type: Defect

#18665 Remove jackson-core from root pom.xml
  pom.xml
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#18731 Fix OperationLossTest & light job checker
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/test/java/com/hazelcast/jet/core/OperationLossTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect, Type: Test-Failure

#18735 Less operations, more arguments for light jobs
  hazelcast-jet-core/src/main/resources/client-protocol-definition/Jet.yaml
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientLightJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetCancelLightJobCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetSubmitJobCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetSubmitLightJobCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/codec/JetTerminateJobCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetCancelLightJobMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetSubmitJobMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetSubmitLightJobMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetTerminateJobMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/CancelLightJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SubmitJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SubmitLightJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/TerminateJobOperation.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#18728 Fix double call to Processor.close()
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Defect

#18669 Fix #18668: set interfaces must not be added when loopback mode nor loopback interface are used
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MulticastServiceTest.java
Labels: Module: Network I/O, Source: Community, Team: Core, Type: Defect

#18779 Fix SnapshotContext creation for light jobs
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
Labels: Module: Jet, Team: Core, Type: Defect

#18569 [PLAT-257] Support for DELETE from IMap
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DeletePhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DeletePhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlExtendedInsert.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/JetSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlDeleteQueriesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnsupportedFeaturesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/JetPlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestStreamSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/SqlExtendedInsertTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
Labels: Add to Release Notes, Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18664 [PLAT-212] Introduce upload-resources switch for Jet
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticClientsTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticClientsTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticClientsTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonServiceTest.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.0.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/deployment/JetClassLoader.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/deployment/JetDelegatingClassLoader.java
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/main/resources/hazelcast-config-5.0.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastBootstrapTest.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
  hazelcast/src/test/java/com/hazelcast/jet/TestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/HzSerializableProcessorSuppliersTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ClientDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/DeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/JetClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/server/JetCommandLineTest.java
Labels: Add to Release Notes, Module: Jet, Source: Internal, Team: Core, Type: Enhancement

#18796 Align Jet UnsupportedOperationVisitor with IMDG one
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
Labels: Module: SQL, Source: Internal, Team: Core

#18797 Replace usages of TestStream with GENERATE_STREAM
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
Labels: Module: SQL, Source: Internal, Team: Core

#18793 Disable Multicast setInterface calls in Solaris
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientAutoDetectionDiscoveryTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestEnvironment.java
Labels: Module: Network I/O, Not Release Notes content, Source: Internal, Team: Core, Type: Defect

#18685 [PLAT-267] Integrate OnHeapMapScanP into SQL
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlBackend.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/OnHeapMapScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlSelectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/plan/node/MapScanMetadata.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
Labels: Module: IMap, Module: SQL, Source: Internal, Team: Core, Type: Enhancement

#18621 [PLAT-78] Cooperative threads run only if tasklets are available
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
Labels: Module: Jet, Source: Internal, Team: Core, Type: Perf. Defect
