Repository hazelcast/hazelcast, pull requests merged in 2022-04, with the labels that each got.

#21117 Re-add accidentally removed return statement
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: Type: Defect, Team: Core, Priority: Low, Source: Internal, Not Release Notes content, Module: Jet

#21116 bumping json schema validator to 1.14.1
  hazelcast/pom.xml
Labels: Source: Internal, Module: Config, Not Release Notes content, dependencies

#21074 MC-1441 exactClusterSize PH metric - backport to 4.2.z
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/ClusterInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#21121 bumping json schema validator to 1.14.1
  hazelcast/pom.xml
Labels: Backport, Source: Internal, Module: Config, Not Release Notes content, dependencies, security

#21122 bumping json schema validator to 1.14.1
  hazelcast/pom.xml
Labels: Backport, Source: Internal, Module: Config, Not Release Notes content, dependencies, security

#21126 Fix double lag when dropping late events
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DropLateItemsLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/WatermarkLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/WatermarkRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DropLateItemsPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DropLateItemsPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/LateItemsDropP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlImposeOrderFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/LateItemsDropPTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#21120 Disable hadoop test on IBM JDK17 #20754 HZ-980
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlHadoopTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21115 Remove mapContainer on merging side of split-heal mechanism [HZ-956 HZ-959]
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunkContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/PartitionScanRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryPartitionOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalIndexPartitionTracker.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractSplitBrainHandlerService.java
  hazelcast/src/test/java/com/hazelcast/map/IMapAccessors.java
  hazelcast/src/test/java/com/hazelcast/map/merge/MapInternalStateSplitBrainTest.java
Labels: Type: Defect, Team: Core, Source: Internal

#21125 Nullify clients upon test finish to release associated heap
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cache/ClientCacheSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cache/ClientCacheSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cardinality/ClientCardinalityEstimatorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cardinality/ClientCardinalityEstimatorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/durableexecutor/ClientDurableExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/durableexecutor/ClientDurableExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/executor/ClientExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/executor/ClientExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientListSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientListSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientTransactionalListSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientTransactionalListSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientTransactionalMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientTransactionalMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientMultiMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientMultiMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientTransactionalMultiMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientTransactionalMultiMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/pncounter/ClientPNCounterSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/pncounter/ClientPNCounterSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientQueueSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientQueueSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientTransactionalQueueSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientTransactionalQueueSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/replicatedmap/ClientReplicatedMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/replicatedmap/ClientReplicatedMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/ringbuffer/ClientRingbufferSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/ringbuffer/ClientRingbufferSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/scheduledexecutor/ClientScheduledExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/scheduledexecutor/ClientScheduledExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientSetSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientSetSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientTransactionalSetSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientTransactionalSetSplitBrainProtectionWriteTest.java
Labels: Type: Defect, Type: Test-Failure

#21141 Removed leaking clients from OutOfMemoryErrorDispatcher in test code
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/OutOfMemoryErrorDispatcher.java
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast/src/test/java/com/hazelcast/client/TestHazelcastFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheClearTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheContextTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCachePartitionIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCachePutAllTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheReadWriteThroughTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal

#21144 Move ServiceNamespacesContext its own file
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ServiceNamespacesContext.java
Labels: Team: Core, Type: Cleanup

#21131 Use google-http-client-bom
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#21132 Use google-http-client-bom [5.1.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#20818 Don't allow empty memberlist on cluster id changes [API-1215]
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/AddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/DefaultAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/TranslateToPublicAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterServiceMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/DefaultAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/TranslateToPublicAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Type: Defect, Team: Client, Source: Internal, Add to Release Notes, All Languages Should Check

#21066 [HZ-940] Improve IO pipelines
  hazelcast/src/main/java/com/hazelcast/internal/networking/InboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/OutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolEncoder.java
Labels: Type: Defect, Type: Test-Failure, Source: Internal, Module: Network I/O

#21127 Update postgresql driver to 42.2.25 [HZ-1050]
  hazelcast/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#21145 [HZ-1013] Fix hanging cluster safe query from common pool
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning, Add to Release Notes

#21129 Update postgresql driver to 42.2.25 [HZ-1050] [5.0.z]
  hazelcast/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#21128 Update postgresql driver to 42.2.25 [HZ-1050] [5.1.z]
  hazelcast/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#21164 Lower heap memory footprint in MapIndexScanP
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/EvictableGetterCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/Extractors.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/Getter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/GetterCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/SimpleGetterCache.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/EvictableGetterCacheTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/getters/ExtractorsTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content

#20653 Enable empty yaml usage in declarative config
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomVariableReplacer.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigReplacerHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/config/DomConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlConfigSchemaValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/yaml/W3cDomUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/config/yaml/YamlDomChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/config/yaml/YamlOrderedMappingImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlDomBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/yaml/YamlMappingImpl.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientFailoverConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#21099 Add watermark support for `UNION ALL` queries
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UnionDropLateItemsTransposeRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/HazelcastRelMdWatermarkedFields.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/WatermarkedFields.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlTumbleTest.java
Labels: Source: Internal, Team: SQL

#21155 Lowering memory footprint of metrics module
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnionTest.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricDescriptorImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricDescriptorReusableData.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/PoolingMetricDescriptorSupplier.java
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Not Release Notes content

#20655 Replace Guava cache with custom CHM-based one
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonPathUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonQueryFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonValueFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/ConcurrentInitialSetCacheTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonQueryFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonValueFunctionIntegrationTest.java
Labels: Type: Enhancement, Team: Performance, Source: Internal, Team: SQL, Not Release Notes content

#21171 Fix for inefficient usage of replaceAll.
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/Util.java
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Metrics, Not Release Notes content, Module: Jet

#21178 Don't allow empty memberlist on cluster id changes [API-1215] (#20818)
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/AddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/DefaultAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/TranslateToPublicAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterServiceMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/DefaultAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/TranslateToPublicAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Type: Defect, Team: Client, Source: Internal, Add to Release Notes

#21179 Don't allow empty memberlist on cluster id changes [API-1215] (#20818)
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/AddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/DefaultAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/TranslateToPublicAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterServiceMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/DefaultAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/TranslateToPublicAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Type: Defect, Team: Client, Source: Internal, Add to Release Notes

#21181 Don't allow empty memberlist on cluster id changes [API-1215] (#20818)
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterServiceMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Add to Release Notes

#21205 Fix hanging cluster safe query from common pool
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Partitioning

#21208 Fix hanging cluster safe query from common pool
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Partitioning

#21207 Fix hanging cluster safe query from common pool
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Partitioning

#21086 Add Transactional IMap operation stats [HZ-1001]
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/CompositeRemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/RemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapOperationStatsUpdater.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/LocalTxnMapStatsTest.java
Labels: Type: Defect, Team: Core, Source: Internal

#21100 Add Transactional IMap operation stats [HZ-1001]
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/CompositeRemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/RemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapOperationStatsUpdater.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/LocalTxnMapStatsTest.java
Labels: Type: Defect, Team: Core, Source: Internal

#21143 Call lifecycleListener method in finally block for MockServerConnection#close
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServerConnection.java
Labels: Type: Defect, Team: Core, Source: Internal

#20842 Migration tool support for 5.0.3 [HZ-721]
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cache/CompatibilityCacheDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cache/CompatibilityWanCacheEntryView.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cluster/impl/CompatibilityClusterDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cluster/impl/CompatibilityExtendedBindMessage.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cluster/impl/CompatibilityWanAuthorizationOp.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/map/CompatibilityMapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/map/CompatibilityMerkleTreeNodeEntries.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/map/CompatibilityWanMapEntryView.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/nio/tcp/CompatibilitySendMemberHandshakeTask.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/serialization/impl/CompatibilityFactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/spi/impl/merge/CompatibilitySplitBrainDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/CompatibilityOSWanDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/CompatibilityReplicationEventObject.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/CompatibilityWanReplicationEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/CompatibilityWanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/NoopCompatibilityWanMapSupportingService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/CompatibilityTcpServerControl.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/AbstractMapServiceFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/DefaultMapServiceFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryViews.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/PacketDispatcher.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/MergingValueFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.CompatibilityDataSerializerHook
  hazelcast/src/test/java/com/hazelcast/client/starter/HazelcastClientStarterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/PacketTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/serviceprovider/TestServiceDescriptorProvider.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/impl/ProbabilisticSplitBrainProtectionFunctionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/impl/RecentlyActiveSplitBrainProtectionFunctionTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestEnvironment.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/CompatibilityTestUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastProxyFactory.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarterUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/ReflectionUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/ClusterServiceAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AddressConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/CacheConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/DynamicConfigurationAwareConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/HazelcastExpiryPolicyConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/WanEventCountersConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/CacheConfigConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/ConfigConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/DynamicConfigurationAwareConfigConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/HazelcastExpiryPolicyConstructorTest.java
  hazelcast/src/test/resources/META-INF/services/com.hazelcast.SerializerHook
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: WAN

#21157 Unify creation of JetException when job fails HZ-1041
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21105 Transactional IMap operations stats [HZ-1001]
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/CompositeRemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/RemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapOperationStatsUpdater.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/LocalTxnMapStatsTest.java
Labels: Type: Defect, Team: Core, Source: Internal

#21241 Make sizeAndData check assertion eventual
  hazelcast/src/test/java/com/hazelcast/internal/partition/AbstractGracefulShutdownCorrectnessTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#21195 Grammar fixes & unused method removal
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolverTest.java
  hazelcast/src/main/java/com/hazelcast/jet/JetService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/FieldsUtil.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#21257 Fix select-by-key for non-existent key
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPrimitiveTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#21232 Reduce metrics sent to MC [HZ-1056]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterClockImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsTargetExclusionTest.java
Labels: Type: Enhancement, Team: Core, Type: Perf. Defect, Source: Internal, Module: Metrics, Add to Release Notes, Type: Documentation

#21275 [Backport #21232] Reduce metrics sent to MC [HZ-1056]
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterClockImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsTargetExclusionTest.java
Labels: Type: Enhancement, Team: Core, Backport, Type: Perf. Defect, Source: Internal, Module: Metrics, Add to Release Notes, Type: Documentation

#21147 Fix possible double shutdown
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/LifecycleServiceImplTest.java
Labels: Type: Defect, Source: Internal, Module: Jet

#21270 Fix select-by-key for non-existent key (backport of #21257)
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPrimitiveTest.java
Labels: Type: Defect, Backport, Source: Internal, Team: SQL

#21269 Fix select-by-key for non-existent key (#21257)
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPrimitiveTest.java
Labels: Type: Defect, Backport, Source: Internal, Team: SQL

#21274 Improve destroy of child Hazelcast process in HzStartIT [HZ-1067]
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/HzStartIT.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#21273 Remove the extra metric sent to MC [HZ-1056]
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
Labels: Type: Enhancement, Team: Core, Type: Perf. Defect, Source: Internal, Module: Metrics

#21260 [Backport #21232] Reduce metrics sent to MC [HZ-1056]
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterClockImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsTargetExclusionTest.java
Labels: Type: Enhancement, Team: Core, Backport, Type: Perf. Defect, Source: Internal, Module: Metrics, Add to Release Notes, Type: Documentation

#21258 [Backport #21232] Reduce metrics sent to MC [HZ-1056]
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterClockImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsTargetExclusionTest.java
Labels: Type: Enhancement, Team: Core, Backport, Type: Perf. Defect, Source: Internal, Module: Metrics, Add to Release Notes, Type: Documentation

#21256 [Backport #21232] Reduce metrics sent to MC [HZ-1056]
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterClockImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsRegistryImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioInboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioNetworking.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsTargetExclusionTest.java
Labels: Type: Enhancement, Team: Core, Backport, Type: Perf. Defect, Source: Internal, Module: Metrics, Add to Release Notes, Type: Documentation

#21248 Shorten startup log line for Integrity Checker
  hazelcast/src/main/java/com/hazelcast/instance/impl/IntegrityChecker.java
Labels: Type: Enhancement, Source: Internal, Team: Platform

#21285 Remove suppressionFiles from owasp plugin
  pom.xml
Labels: Team: Core, Source: Internal

#21286 Remove suppressionFiles from owasp plugin
  pom.xml
Labels: Team: Core, Source: Internal

#21277 TDD template update for APIs team contributions
  docs/design/template.md
Labels: Team: Client, Team: Core, Team: SQL, Team: Storage, Team: Platform

#21289 Clear JMX metrics when starting tests looking at them HZ-1092 #21245 [4.1.9]
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientJmxMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTestHelper.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/MemberJmxMetricsTest.java
Labels: Type: Test-Failure, Source: Internal, Module: Metrics, Team: Platform

#21298 Ignore flaky JobSubmissionSlownessRegressionTest [HZ-1066]
  hazelcast/src/test/java/com/hazelcast/jet/job/JobSubmissionSlownessRegressionTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21299 Ignore flaky JobSubmissionSlownessRegressionTest [HZ-1066] [5.1.z]
  hazelcast/src/test/java/com/hazelcast/jet/job/JobSubmissionSlownessRegressionTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21290 Clear JMX metrics when starting tests looking at them HZ-1092 #21245 [4.1.z]
  hazelcast/src/test/java/com/hazelcast/client/internal/metrics/ClientJmxMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/JmxPublisherTestHelper.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/jmx/MemberJmxMetricsTest.java
Labels: Type: Test-Failure, Source: Internal, Module: Metrics, Team: Platform

#21300 [HZ-1094] Increase PartitionServiceSafetyCheckTest timeout and log loop time
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning, Not Release Notes content
