Repository hazelcast/hazelcast, pull requests merged in 2022-06, with the labels that each got.

#21440 [HZ-1149] make the UpdatePermissionConfigOperation retryable
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdatePermissionConfigOperation.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: CP Subsystem, Module: Security

#21507 [HZ-1149] make the UpdatePermissionConfigOperation retryable (4.1.z)
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdatePermissionConfigOperation.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: CP Subsystem, Module: Security

#21508 [HZ-1149] make the UpdatePermissionConfigOperation retryable (4.2.z)
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdatePermissionConfigOperation.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: CP Subsystem, Module: Security

#21509 [HZ-1149] make the UpdatePermissionConfigOperation retryable (5.0.z)
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdatePermissionConfigOperation.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: CP Subsystem, Module: Security

#21510 [HZ-1149] make the UpdatePermissionConfigOperation retryable (5.1.z)
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdatePermissionConfigOperation.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: CP Subsystem, Module: Security

#21502 [API-1356] Check for the minimum size of the bytes read only once per frame
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageReader.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageReaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageWriterTest.java
Labels: Type: Defect, Team: Client, Source: Internal, All Languages Should Check

#21378 Use dynamicPort for WireMockRule [HZ-1156]
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: REST, Team: Platform

#21379 Use dynamicPort for WireMockRule [5.1.z]
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/RESTClientPhoneHomeTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: REST, Team: Platform

#21531 Bump hadoop.version from 3.3.1 to 3.3.3 (#21443) [5.1.z]
  pom.xml
Labels: Type: Defect, Backport, Source: Internal, Add to Release Notes, Module: Jet, security, Team: Platform

#21530 Bump hadoop.version from 3.3.1 to 3.3.3 (#21443) [5.0.z]
  pom.xml
Labels: Type: Defect, Backport, Source: Internal, Add to Release Notes, Module: Jet, security, Team: Platform

#21524 Update jackson to 2.13.3 [HZ-1172]
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CsvFileFormatTest.java
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#21525 Update parquet-jackson to 1.12.3 [HZ-1172]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#21334 Fix the `ConcurrentModificationException` while checking Raft sessions [HZ-1097]
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/Lock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/Semaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/BlockingResource.java
Labels: Type: Defect, Team: Core, Source: Community, Module: CP Subsystem, Not Release Notes content

#21518 [5.1.z] Check for the minimum size of the bytes read only once per frame
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageReader.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageReaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageWriterTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#21521 [4.1.z] Check for the minimum size of the bytes read only once per frame
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageReader.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageReaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageWriterTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#21519 [5.0.z] Check for the minimum size of the bytes read only once per frame
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageReader.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageReaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageWriterTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#21539 Update jackson to 2.13.3 [HZ-1172] [5.1.z]
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CsvFileFormatTest.java
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#21557 Upgrade Postgres to 42.3.6 to fix detected vulnerability [5.1.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Module: Config, Team: Platform

#21572 Update ignores in owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Team: Core, Source: Internal, dependencies, security

#21555 Upgrade Postgres to 42.3.6 to fix detected vunerability [5.0.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Module: Config, Not Release Notes content, Team: Platform

#21428 Add uuid to shutdown request and response operations [HZ-1055]
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownResponseOperation.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning

#21573 Fix warn log in the address registry
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/LocalAddressRegistry.java
Labels: Team: Core, Source: Internal, Module: Network I/O, ux-defect

#21542 Update parquet-jackson to 1.12.3 [5.0.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#21540 Update jackson to 2.13.3 [HZ-1172] [5.0.z]
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CsvFileFormatTest.java
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#21583 Update ignores in owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Team: Core, Source: Internal, dependencies, security

#21553 Fix concurrency issues while checking Raft sessions [5.0.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/Lock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/Semaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/BlockingResource.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: CP Subsystem

#21551 Fix concurrency issues while checking Raft sessions [5.1.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/Lock.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/Semaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/BlockingResource.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: CP Subsystem

#21544 [CN-399] Change Kubernetes client behavior for token refresh
  hazelcast/src/main/java/com/hazelcast/kubernetes/FileReaderTokenProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesConfig.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesTokenProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/StaticTokenProvider.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesConfigTest.java
Labels: Type: Enhancement, Source: Community, Module: Discovery SPI, Not Release Notes content, Module: Kubernetes, Team: Cloud Native

#21523 Improve encryption related sections in hazelcast-full-example.xml
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Type: Cleanup, Source: Internal, Module: Config, Module: Security, Team: Platform

#21588 [HZ-1216] Improve owasp-check-suppressions.xml structure
  owasp-check-suppressions.xml
Labels: Source: Internal, dependencies, security, Team: Platform

#21604 [HZ-1216] Improve owasp-check-suppressions.xml structure
  owasp-check-suppressions.xml
Labels: Source: Internal, dependencies, security, Team: Platform

#21605 [HZ-1216] Improve owasp-check-suppressions.xml structure
  owasp-check-suppressions.xml
  pom.xml
Labels: Source: Internal, dependencies, security, Team: Platform

#21606 [HZ-1216] Improve owasp-check-suppressions.xml structure
  owasp-check-suppressions.xml
  pom.xml
Labels: Source: Internal, dependencies, security, Team: Platform

#21451 Debezium upgrade to 1.9.3.Final [HZ-1147]
  extensions/cdc-debezium/pom.xml
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/DebeziumCdcSources.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSerializerHooks.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSourceP.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/AbstractCdcIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcListenBeforeExistIntegrationTest.java
  extensions/cdc-postgres/pom.xml
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  pom.xml
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21621 Disable hadoop test on IBM JDK17 (backport of #21120)
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlHadoopTest.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content

#21631 Make TcpServerConnection.equals more robust [HZ-1202]
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractBasicTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Network I/O

#21623 Fix SHOW JOBS test
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Module: Jet

#21647 Fix for the test data in nightly tests #21630 [HZ-1251]
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcWhiteBlackListIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21656 [BACKPORT 5.1.z] Refactor DynamicConfigSlowPreJoinBouncingTest [HZ-978]
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigSlowPreJoinBouncingTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Config, Not Release Notes content

#21624 Correctly handle the buffer copies when the dst is a direct buffer in the text protocols
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/BulkGetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/ErrorCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/GetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/SetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/StatsCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: REST

#21536 CDC API Enhancements: expose new and old value of record, more strongly-typed API, less exceptions
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ChangeRecord.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/DebeziumCdcSources.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/Operation.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ParsingException.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSerializerHooks.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSourceP.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/PropertyRules.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/RecordPartImpl.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/CdcSinksTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/impl/PropertyRulesTest.java
  extensions/cdc-postgres/src/main/java/com/hazelcast/jet/cdc/postgres/PostgresCdcSources.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#21685 Remove parameter from the Rest and Memcached tests
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure, Source: Internal

#21672 Increase container startup timeout in Elastic tests
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/pipeline/CommonElasticSinksPipeline.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#21655 Don't use the remote address in the TcpServerConnection.hashCode()
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Network I/O

#21700 [5.1.z] Correctly handle the buffer copies when the dst is a direct buffer in the text protocols
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/BulkGetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/ErrorCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/GetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/SetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/StatsCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Defect, Team: Client, Team: Core, Backport, Source: Internal, Module: REST

#21701 [5.0.z] Correctly handle the buffer copies when the dst is a direct buffer in the text protocols
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/BulkGetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/ErrorCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/GetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/SetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/StatsCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Defect, Team: Client, Team: Core, Backport, Source: Internal, Module: REST

#21702 [4.2.z] Correctly handle the buffer copies when the dst is a direct buffer in the text protocols
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/BulkGetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/ErrorCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/GetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/SetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/StatsCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Defect, Team: Client, Team: Core, Backport, Source: Internal, Module: REST

#21625 Fix PickAnyAccumulator [HZ-1228]
  hazelcast/src/main/java/com/hazelcast/jet/accumulator/AccumulatorSerializerHooks.java
  hazelcast/src/main/java/com/hazelcast/jet/accumulator/PickAnyAccumulator.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
  hazelcast/src/test/java/com/hazelcast/jet/aggregate/AggregateOperationsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/serialization/SerializerHooksTest.java
Labels: Type: Defect, Source: Internal, Module: Jet, Team: Platform

#21703 [4.1.z] Correctly handle the buffer copies when the dst is a direct buffer in the text protocols
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/BulkGetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/ErrorCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/GetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/SetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/StatsCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestDirectBufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Defect, Team: Client, Team: Core, Backport, Source: Internal, Module: REST

#21711 Add run-nightly-tests trigger phrase
  README.md
Labels: Source: Internal, Type: Documentation, Team: Platform
