Repository hazelcast/hazelcast, pull requests merged in 2022-09, with the labels that each got.

#22112 [API-1503] Add missing return to the zero-config map reader writer
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/zeroconfig/ValueReaderWriters.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization

#21172 Minor JavaDoc fix in EntryOperation
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
Labels: Team: Core, Source: Internal, Type: Documentation, Even Jiri can do that

#22096 Simplify handling init of GenericMapStore [HZ-1430]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#22101 Add throwable to assertion message
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Metrics

#22040 [22034] Fixes `MetadataRaftGroupInitInProgressException` in test
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/resources/log4j2.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content, Team: Platform

#22115 Elasticsearch 7 client dependency update (5.0.z)
  distribution/pom.xml
  extensions/elasticsearch/elasticsearch-7/ELASTIC-LICENSE-README.md
  extensions/elasticsearch/elasticsearch-7/pom.xml
  hazelcast-build-utils/src/main/resources/hazelcast-thirdparty-template.ftl
  pom.xml
Labels: Backport, Source: Internal, dependencies, security, Team: Platform

#22126 Fixing avatica core CVE
  hazelcast-sql-core/pom.xml
Labels: Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet, security

#22127 Fixing avatica core CVE
  hazelcast-sql-core/pom.xml
Labels: Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet, security

#22117 MC-1601 - report persistence to PH
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MapInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Type: Enhancement, Source: Internal, Module: IMap, Team: Management Center, Not Release Notes content

#22116 [HZ-1410] columns list check for compact-based CREATE TYPE
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/CompactNestedFieldsTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Module: Jet

#22128 Wait for submitted tasks during the shutdown in the ClientConnectionProcessListenerRunner
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ClientConnectionProcessListenerRunner.java
Labels: Type: Defect, Team: Client, Source: Internal

#22012 Use random cluster names in the ClientRegressionWithRealNetworkTest API-1400 API-1391
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Integration Tests

#22142 Catch ResponseAlreadySentException as in OperationRunnerImpl#call
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepResponseUtil.java
Labels: Type: Defect, Source: Internal

#22165 Wait for disconnection in the ClientReconnectTest#testCallbackAfterServerShutdown
  hazelcast/src/test/java/com/hazelcast/client/ClientReconnectTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal

#22138 [21785] Fix negative map hits [HZ-1313]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsMultipleNodeTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap, Module: Metrics, Not Release Notes content, Team: Platform

#22146 Use assertOpenEventually in failing ClientExecutorServiceTest API-1397
  hazelcast/src/test/java/com/hazelcast/client/executor/ClientExecutorServiceTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: IExecutor, Not Release Notes content

#22106 Add GRPC configuration in Jet Python service [HZ-1359]
  extensions/grpc/src/main/java/com/hazelcast/jet/grpc/GrpcServices.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonService.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceConfig.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonTransforms.java
  extensions/python/src/test/java/com/hazelcast/jet/python/PythonServiceTest.java
Labels: Type: Enhancement, Module: Jet

#21807 Send stats after cluster id change MC-1584 API-1448
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/statistics/ClientStatisticsTest.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Metrics, Add to Release Notes

#22195 Break flow when operation timed out
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplierTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#21449 [HZ-1174] No capacity counter increment for getForUpdate
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/TxnReservedCapacityCounter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/writebehind/TxnReservedCapacityCounterImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TxnReservedCapacityCounterImplTest.java
Labels: Team: Core, Source: Community, Module: IMap, Module: Transactions

#21663 [HZ-1287] Enable Github Advanced Security (CodeQL) for the hazelcast repo
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  .github/codeql/java-custom-queries.qls
  .github/workflows/codeql-analysis.yml
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/CardinalityEstimatorContainerCollector.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/CollectionContainerCollector.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainerCollector.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ReceiverTasklet.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapContainerCollector.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferContainerCollector.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorContainerCollector.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractContainerCollector.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractContainerMerger.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/merge/AbstractContainerCollectorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/merge/AbstractNamedContainerCollectorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/merge/TestContainerCollector.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/merge/TestNamedContainerCollector.java
  pom.xml
Labels: Source: Internal, Module: Security, security, Team: Platform

#22151 Handle default package in the zero-config Compact serializers better for Java 8
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization

#22164 [API-1531] Send client state to cluster in re-connections
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientUserCodeDeploymentService.java
  hazelcast/src/test/java/com/hazelcast/client/ClientSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/ClientCompactSplitBrainTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, All Languages Should Check, Module: User Code Deployment

#22082 Fixed ClearBackupOperation [HZ-1210]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ClearOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/DeleteOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/RemoveIfSameOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/RemoveOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/EventJournalWriterMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Type: Defect, Priority: High, Source: Community, Estimation: M, Module: IMap, Team: Storage, severity:high

#22141 [HZ-1418] Add memory management for stream to stream join
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMemoryManagementTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/memory/AccumulationLimitExceededException.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/memory/MemoryManagementTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#22207 Fix possible overtaking of barriers by items [HZ-1394]
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStream.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStreamTest.java
Labels: Type: Defect, Module: Jet

#22168 Fix Throwable.initCause when exception already has cause API-1387
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Community, Module: IMap, Not Release Notes content

#22073 Backport all related fixes from 5.2 to 5.1
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/OutOfMemoryErrorDispatcher.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClusterNameTest.java
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast/src/test/java/com/hazelcast/client/TestHazelcastFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheClearTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheContextTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCachePartitionIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCachePutAllTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheReadWriteThroughTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cache/ClientCacheSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cache/ClientCacheSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cardinality/ClientCardinalityEstimatorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/cardinality/ClientCardinalityEstimatorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/durableexecutor/ClientDurableExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/durableexecutor/ClientDurableExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/executor/ClientExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/executor/ClientExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientListSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientListSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientTransactionalListSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/list/ClientTransactionalListSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientTransactionalMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/map/ClientTransactionalMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientMultiMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientMultiMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientTransactionalMultiMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/multimap/ClientTransactionalMultiMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/pncounter/ClientPNCounterSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/pncounter/ClientPNCounterSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientQueueSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientQueueSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientTransactionalQueueSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/queue/ClientTransactionalQueueSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/replicatedmap/ClientReplicatedMapSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/replicatedmap/ClientReplicatedMapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/ringbuffer/ClientRingbufferSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/ringbuffer/ClientRingbufferSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/scheduledexecutor/ClientScheduledExecutorSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/scheduledexecutor/ClientScheduledExecutorSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientSetSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientSetSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientTransactionalSetSplitBrainProtectionReadTest.java
  hazelcast/src/test/java/com/hazelcast/client/splitbrainprotection/set/ClientTransactionalSetSplitBrainProtectionWriteTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  hazelcast/src/test/java/com/hazelcast/map/IndexStatsChangingNumberOfMembersTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServerConnection.java
  hazelcast/src/test/resources/log4j2-debug-index-stats.xml
Labels: Type: Test-Failure

#22208 [HZ-1343] Fix CalcReduceExpressionsRule
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/CalcReduceExprRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/DivisionByOneTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22201 Fix SuspendExecutionOnFailureTest assertions (backport of #20286)
  hazelcast/src/test/java/com/hazelcast/jet/core/SuspendExecutionOnFailureTest.java
Labels: Type: Test-Failure, Module: Jet

#22219 Don't allow overriding default serializers with Compact
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
Labels: Team: Client, Source: Internal, Module: Serialization

#22220 [HZ-1287] Enable CodeQL for tests
  .github/workflows/codeql-analysis.yml
  hazelcast/src/test/java/com/hazelcast/internal/crdt/pncounter/AbstractPNCounterBasicIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/memory/impl/HeapMemoryManager.java
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWrongTargetForPartitionTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal

#22159 [HZ-1458] Query resubmission on RestartableException
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientSqlResubmissionMode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlErrorCode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22001 Check queue capacity limit correctly when IQueue.addAll
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/operations/AddAllOperation.java
  hazelcast/src/test/java/com/hazelcast/client/queue/ClientQueueTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueAbstractTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IQueue

#22132 Bump postgresql from 42.3.6 to 42.4.2 [5.1.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22133 Bump postgresql from 42.3.6 to 42.4.2 [5.0.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22130 Bump hadoop.version from 3.3.3 to 3.3.4 [5.1.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22131 Bump hadoop.version from 3.3.3 to 3.3.4 [5.0.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22218 [HZ-1382] Move toward Semantic versioning (X.Y.Z)
  distribution/pom.xml
  extensions/avro/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  extensions/hadoop-dist/files-azure/pom.xml
  extensions/hadoop-dist/files-gcs/pom.xml
  extensions/hadoop-dist/files-s3/pom.xml
  extensions/hadoop-dist/hadoop-all/pom.xml
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  extensions/hazelcast-3-connector/pom.xml
  extensions/kafka/pom.xml
  extensions/kinesis/pom.xml
  extensions/mapstore/pom.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-archunit-rules/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/jdk17-tests/pom.xml
  hazelcast-it/pom.xml
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast-sql/pom.xml
  hazelcast/pom.xml
  modulepath-tests/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Module: Security, Team: Platform

#22095 [HZ-1414] Merge filters in CalcIntoScanRule
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/common/CalcIntoScanRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullScanLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastRelOptTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastTable.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/common/CalcIntoScanRuleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/CalcDropLateItemsTransposeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/UnionDropLateItemsTransposeTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#21838 Add missing compact serialization tests API-1393
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/ArrayOfFixedSizeFieldsDTO.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/ArrayOfFixedSizeFieldsDTOSerializerReadingNullable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/ArrayOfFixedSizeFieldsDTOSerializerWritingNullable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactBooleanFieldTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactNullablePrimitiveInteroperabilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactOffsetReadersTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactWithSchemaStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/FixedSizeFieldsDTO.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/FixedSizeFieldsDTOSerializer.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/FixedSizeFieldsDTOSerializerReadingNullable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/FixedSizeFieldsDTOSerializerWritingNullable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/VarSizedFieldsDTO.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/VarSizedFieldsDTOSerializer.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactReaderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactStreamSerializerValueReaderQuickTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactStreamSerializerValueReaderSpecTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/BinaryCompatibilityFileGenerator.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/BinaryCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/example/serialization/AllFieldsDTO.java
  hazelcast/src/test/java/example/serialization/NamedDTO.java
  hazelcast/src/test/java/example/serialization/NamedDTOSerializer.java
  hazelcast/src/test/resources/1.serialization.compatibility.binary
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#22023 [HZ-1364] Filter replication name during sync allmaps
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanPublisher.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#22224 Add check that server and hz-cli versions match [HZ-1173]
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
  hazelcast/src/test/java/com/hazelcast/client/console/HazelcastCommandLineTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#22221 Support splittable for CSV format in file connector [HZ-1405]
  extensions/csv/src/main/java/com/hazelcast/jet/csv/impl/CsvReadFileFnProvider.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/CsvInputFormat.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CsvFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/JsonFileFormatTest.java
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv.bz2
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv.gz
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl.bz2
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl.gz
  extensions/hadoop/src/test/resources/file-empty-line.csv
  extensions/hadoop/src/test/resources/log4j2.xml
Labels: Type: Defect, Source: Community, Not Release Notes content, Module: Jet, Team: Platform

#21075 Kinesis builder executor service
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/KinesisSinks.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/KinesisSources.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/AwsConfig.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/AbstractKinesisTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
Labels: Type: Enhancement, Source: Community, Add to Release Notes, Module: Jet, Team: Platform

#22143 [HZ-1007] Follow-up Offload map-store api calls for offloaded-entry-processor
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MultipleEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MultipleEntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableBouncingNodesTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#22251 Revert "[HZ-1364] Filter replication name during sync allmaps"
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanPublisher.java
Labels: Team: Core, Source: Internal

#22237 Fix for TS sql test
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
Labels: Type: Defect, Priority: High, Source: Internal, Estimation: S, Module: Query, Team: Storage, severity:high, Flaky, Module: TStore

#22247 [HZ-1396] Fixing NPE in JoinByEquiJoinProcessorSupplier
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorSupplier.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22246 [HZ-1482] Making LikeFunction thread-safe
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/LikeFunction.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22217 MC-1687 and MC-1568 Log streaming queries and free JVM heap in Phone Home
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/SqlInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/StorageInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeDifferentConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/SqlInfoCollectorTest.java
Labels: Priority: Medium, Source: Internal, Module: Query, Team: Management Center, Type: Feature Request, Not Release Notes content

#22152 [HZ-1240] Fix incorrect conversion to select-by-key-rel
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SelectByKeyMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SelectByKeyMapPhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
Labels: Type: Defect, Source: Internal, Team: SQL

#22249 Enable REST API by default in template configuration
  hazelcast/src/main/config-template/hazelcast-assembly.xml
  hazelcast/src/main/config-template/hazelcast-assembly.yaml
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: CLI, Team: Platform

#22250 Add clientVersion to MemberState [MC-1611]
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/management/dto/ClientEndPointDTO.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/MemberStateImplTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#22213 Include hazelcast-mapstore jar in full distribution
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor.xml
  extensions/mapstore/pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform

#22167 Patch client authentication information leak API-1534
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/AuthenticationInformationLeakTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/clientside/ClientTestUtil.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/TestUtil.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Security, Not Release Notes content

#22263 Check op call-timeout only for first Step
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal

#22197 [API-1531] Check the member UUIDs that the schema is replicated in the client schema service
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientSchemaService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessage.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientSendSchemaCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/SetUUIDCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/schema/SendSchemaMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/ClientCompactSplitBrainTest.java
  hazelcast/src/test/resources/2.3.protocol.compatibility.binary
  hazelcast/src/test/resources/2.3.protocol.compatibility.null.binary
  hazelcast/src/test/resources/2.4.protocol.compatibility.binary
  hazelcast/src/test/resources/2.4.protocol.compatibility.null.binary
  hazelcast/src/test/resources/2.5.protocol.compatibility.binary
  hazelcast/src/test/resources/2.5.protocol.compatibility.null.binary
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Serialization

#22248 [API-1441] Invoke schema replication operations in parallel
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/schema/SendSchemaMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/schema/AckSchemaReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/schema/MemberSchemaService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/schema/SchemaReplicationsMerger.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/schema/SchemaReplicator.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ParallelOperationInvoker.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationSlowTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ParallelOperationInvokerTest.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Serialization

#22223 Fix join if the right input is index scan
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastPhysicalScan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinNestedLoopPhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
Labels: Type: Defect, Team: SQL

#22262 Simplify partition assignment in Join processor
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
Labels: Type: Enhancement, Team: SQL

#22238 Fix handling of Sarg.nullAs [HZ-1474]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/Sarg.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpressionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/AbstractSarg.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/SargExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/predicate/SearchPredicate.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22278 Update debezium to 1.9.5
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22236 [22155] Fix incorrect CP group leader rebalancing
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: CP Subsystem, Not Release Notes content, Team: Platform

#22266 Added beta annotations to ROW type and TO_ROW function
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlColumnType.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/RowValue.java
Labels: Type: Cleanup, Source: Internal, Team: SQL

#22272 [HZ-1482] Make LikeFunction thread-safe w/o synchronized
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonPathUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonQueryFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonValueFunction.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ConcurrentInitialSetCache.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/LikeFunction.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/ConcurrentInitialSetCacheTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22275 Do not log selected exceptions for AsyncOperations
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/LogExceptionSqlTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/LogExceptionJobTest.java
  hazelcast/src/test/java/com/hazelcast/test/ExceptionRecorder.java
Labels: Type: Defect, Source: Internal, Module: Jet, Team: Platform

#22255 Fix usage of deprecated MemorySize class in public API [HZ-1483]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.2.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/NativeMemoryConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/memory/DefaultMemoryStats.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSerDeHelper.java
  hazelcast/src/main/java/com/hazelcast/memory/MemoryUnit.java
  hazelcast/src/main/resources/hazelcast-client-config-5.2.xsd
  hazelcast/src/main/resources/hazelcast-config-5.2.json
  hazelcast/src/main/resources/hazelcast-config-5.2.xsd
  hazelcast/src/test/java/com/hazelcast/cache/impl/CacheCreateUseDestroyTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/YamlClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/NativeMemoryConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeDifferentConfigTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/common/native-memory/wrong-typing-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/common/native-memory/wrong-values-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/map/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/tiered-store/multiple-failures.json
Labels: Type: Cleanup, Source: Internal, Module: Config, Not Release Notes content, Team: Platform

#22276 Fix failing BasicNestedFieldsTest.test_mixedModeUpsert
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22292 Fix SQL query resubmission with streaming
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionStreamTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet, to-jira

#22282 Remove hazelcast-hibernate53 from main HZ distribution [HZ-1486]
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/hibernate/AnnotatedEntity.java
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/hibernate/HibernateIT.java
  hazelcast-it/distribution-it/src/test/resources/test-hibernate-client.cfg.xml
  owasp-check-suppressions.xml
Labels: Type: Defect, Source: Internal, Module: IMap, Add to Release Notes, Team: Platform

#22199 [HZ-1010] Allow EP to ignore TTL set by earlier put/set operation
  hazelcast/src/main/java/com/hazelcast/map/ExtendedMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LockAwareLazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorExpiryTimeTest.java
  hazelcast/src/test/java/com/hazelcast/test/backup/MapBackupAccessor.java
Labels: Type: Enhancement, Team: Core, Source: Community, Module: IMap, Add to Release Notes

#22303 Fix partition assignment in JoinByEquiJoinTest [HZ-1492]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorTest.java
Labels: Type: Test-Failure, Team: SQL

#22280 MC-1245 Add clusterId to MCGetClusterMetadata endpoint
  hazelcast/src/main/java/com/hazelcast/client/impl/management/MCClusterMetadata.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetClusterMetadataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetClusterMetadataMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/resources/2.5.protocol.compatibility.binary
  hazelcast/src/test/resources/2.5.protocol.compatibility.null.binary
Labels: Priority: Medium, Source: Internal, Team: Management Center, Module: Cluster, Type: Feature Request, Not Release Notes content

#22277 [CN-360] Add multiple label support for Kubernetes Plugin service and pod label filters
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesConfig.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesProperties.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesConfigTest.java
Labels: Type: Enhancement, Source: Internal, Module: Discovery SPI, Add to Release Notes, Team: Cloud Native

#22294 Add missing expiry merge for WAN
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Module: IMap, Module: WAN

#22304 [HZ-1482][HZ-1493] Make LikeFunction thread-safe w/o synchronized [backport of #22272]
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ConcurrentInitialSetCache.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/string/LikeFunction.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/ConcurrentInitialSetCacheTest.java
Labels: Type: Defect, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22295 Support splittable for CSV format in file connector [HZ-1405] [5.1.z]
  extensions/csv/src/main/java/com/hazelcast/jet/csv/impl/CsvReadFileFnProvider.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/CsvInputFormat.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CsvFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/JsonFileFormatTest.java
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv.bz2
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv.gz
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl.bz2
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl.gz
  extensions/hadoop/src/test/resources/file-empty-line.csv
  extensions/hadoop/src/test/resources/log4j2.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22296 Support splittable for CSV format in file connector [HZ-1405] [5.0.z]
  extensions/csv/src/main/java/com/hazelcast/jet/csv/impl/CsvReadFileFnProvider.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/CsvInputFormat.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/CsvFileFormatTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/JsonFileFormatTest.java
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv.bz2
  extensions/hadoop/src/test/resources/file-200-entries-with-header.csv.gz
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl.bz2
  extensions/hadoop/src/test/resources/file-200-entries-with-header.jsonl.gz
  extensions/hadoop/src/test/resources/file-empty-line.csv
  extensions/hadoop/src/test/resources/log4j2.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22312 Fix CVE-2022-34917 [#22311]
  pom.xml
Labels: Type: Defect, Type: Critical, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22323 Stream-to-stream join fixes
  docs/design/sql/15-stream-to-stream-join.md
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/SqlStreamToStreamJoinTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRuleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPInnerTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
Labels: Type: Defect, Team: SQL

#22335 Fix cooperative emission in stream-to-stream join
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPInnerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPOuterTest.java
  hazelcast/src/main/java/com/hazelcast/map/MapLoader.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ColumnExpression.java
Labels: Type: Defect, Team: SQL

#22321 Fix join if the right input is index scan (backport of #22223)
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastPhysicalScan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinNestedLoopPhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
Labels: Type: Defect, Backport, Team: SQL

#22319 Fix join if the right input is index scan (backport of #22223)
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastPhysicalScan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinNestedLoopPhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
Labels: Type: Defect, Backport, Team: SQL

#22347 Fix MapScanMigrationStressTest timeout
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/MapScanMigrationStressTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22354 Fix running Jenkins jobs for Windows
  pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content

#22318 Fix Throwable.initCause when exception already has cause [5.1.z] API-1387
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: IMap, Not Release Notes content

#22317 Fix Throwable.initCause when exception already has cause [5.0.z] API-1387
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: IMap, Not Release Notes content

#22315 Fix Throwable.initCause when exception already has cause [4.1.z] API-1387
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: IMap, Not Release Notes content

#22316 Fix Throwable.initCause when exception already has cause [4.2.z] API-1387
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: IMap, Not Release Notes content

#22370 Use BIG_ENDIAN byte order for the serializer id in toDataWithSchema
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactWithSchemaStreamSerializerTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization
