Repository hazelcast/hazelcast, pull requests merged in 2022-02, with the labels that each got.

#20540 Remove ParallelJVMTest from JobSubmissionSlownessRegressionTest
  hazelcast/src/test/java/com/hazelcast/jet/job/JobSubmissionSlownessRegressionTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#20557 Move config.dynamic to dynamicconfig
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigGeneratorUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGenerator.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/AbstractDynamicConfigGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/ConfigUpdateWithoutEnterpriseTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGeneratorTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20563 Move checkstyle plugin run from validate to process-sources phase
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal

#20502 Add SQL query information to Jet admin API
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlHopTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMetadataInJobConfigTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTumbleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestStreamSqlConnector.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetGetJobConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/Job.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfigArguments.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/SqlSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/resources/2.4.protocol.compatibility.binary
  hazelcast/src/test/resources/2.4.protocol.compatibility.null.binary
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content

#20515 Fix SqlErrorTest.testMemberLeave
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20544 Remove Beta annotation from SQL
  hazelcast/src/main/java/com/hazelcast/core/HazelcastInstance.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20543 Support jar: scheme in JCache URI config [HZ-821]
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractHazelcastCachingProvider.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/CacheConfigTest.java
  hazelcast/src/test/resources/hazelcast-client-c1.xml
Labels: Type: Enhancement, Team: Core, Source: Community, Module: Config, Add to Release Notes

#20573 Improve LocalIndexStatsTest#testMemoryCostTracking
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Source: Internal, Team: Storage

#20566 Fix thread leak that kept starting new instances
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/MapScanMigrationStressTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20525 Disallow usage of standalone IMPOSE_ORDER
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/HazelcastRelMdWatermarkedFields.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/WatermarkedFields.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlImposeOrderFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTumbleTest.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationMonitor.java
Labels: Type: Cleanup, Source: Internal, Team: SQL

#20577 Add maven central repository to root pom.xml
  hazelcast-sql/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform

#20576 Throw an unsupported exception when calling addWanReplicationConfig method on DynamicConfiguration
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config

#20582 Improve Config#getDeviceConfig
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/DefaultConfigValidationTest.java
Labels: Source: Internal, Module: Config, Team: Storage

#20592 Revert the Bump animal-sniffer-maven-plugin from 1.19 to 1.21
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, dependencies

#20583 Implement missing delegate methods
  hazelcast/src/test/java/com/hazelcast/internal/server/FirewallingServer.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Network I/O, Not Release Notes content

#20575 Avoid duplicate connection creation in MockServer
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServer.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Network I/O, Not Release Notes content

#20591 [HZ-875] Fix MembershipFailureTest#slave_receives_member_list_from_non_master
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipFailureTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content

#20546 Tiered store integration fixes
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/CountingMigrationAwareService.java
  hazelcast/src/test/java/com/hazelcast/map/MapMergePolicyQuickTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapQueryPartitionIteratorTest.java
Labels: Type: Test-Failure, Priority: High, Source: Internal, Estimation: M, Team: Storage, Module: TStore

#20580 Shrink configs used in the tests
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Module: Config, Not Release Notes content

#20565 Add test and warning for duplicate Kafka topics
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Not Release Notes content, Module: Jet

#20608 Throw IllegalArg on getFieldKind when field not exist
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization

#20601 SQL: Prevent NPE when getting indices from map container
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataResolver.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
Labels: Type: Defect, Source: Internal, Team: SQL

#20609 Fixes testSchemaEvolution_fieldAdded
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization

#20596 Move JMH benchmarks to hazelcast/internal-benchmarks repo
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactValueReaderBenchmark.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/portablereader/DefaultPortableReaderBenchmark.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/OAHashSetBenchmark.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeBenchmark.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheBenchmark.java
  hazelcast/src/test/java/com/hazelcast/projection/Query2Benchmark.java
  hazelcast/src/test/java/com/hazelcast/projection/QueryBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/CompositeIndexesBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexUpdateBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/impl/QueryPerformanceBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/impl/bitmap/BitmapIndexInsertBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/impl/bitmap/BitmapIndexQueriesBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/impl/bitmap/SparseBitSetAddBenchmark.java
  hazelcast/src/test/java/com/hazelcast/query/impl/bitmap/SparseBitSetIterateBenchmark.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/CompletableFutureBenchmark.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/merkletree/ArrayMerkleTreeBenchmark.java
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal

#20593 Export com.ibm.lang.management.internal to access metrics
  distribution/src/bin-regular/common.sh
  distribution/src/bin-regular/hz-start.bat
  distribution/src/main/java/com/hazelcast/commandline/HazelcastServerCommandLine.java
  distribution/src/test/java/com/hazelcast/commandline/HazelcastServerCommandLineTest.java
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, to-jira

#19389 API-870 Add a proxy cleanup mechanism to client to avoid memory leak
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ProxyManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ClientProxyDestroyTest.java
Labels: Type: Defect, Team: Client, Source: Internal

#20599 Removing eager deserialization of JSON in SQL/JET
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/HazelcastJsonQueryTarget.java
Labels: Team: Performance, Source: Internal, Team: SQL, Not Release Notes content

#20523 Add capacity to device config [HZ-870]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.1.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/DeviceConfig.java
  hazelcast/src/main/java/com/hazelcast/config/LocalDeviceConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MemoryTierConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGenerator.java
  hazelcast/src/main/java/com/hazelcast/memory/Capacity.java
  hazelcast/src/main/java/com/hazelcast/memory/MemorySize.java
  hazelcast/src/main/resources/hazelcast-config-5.1.json
  hazelcast/src/main/resources/hazelcast-config-5.1.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/AbstractDynamicConfigGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/memory/CapacityTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractConfigConstructor.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Source: Internal, Module: Config, Team: Storage

#20629 Override getCapacity in ConfigTest
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
Labels: Module: Config

#20611 Optimize retainAndGetNamespaces()
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Module: Cluster

#20612 Optimize retainAndGetNamespaces() (#19462)
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Module: Cluster

#20613 MC-1292 - add globalIndexes to getMapConfig
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MCGetMapConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/GetMapConfigOperation.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/internal/management/operation/GetMapConfigOperationTest.java
  hazelcast/src/test/resources/2.4.protocol.compatibility.binary
  hazelcast/src/test/resources/2.4.protocol.compatibility.null.binary
Labels: Type: Enhancement, Source: Internal, Module: Config, Team: Management Center, Not Release Notes content

#20595 Postpone address resolution on the clients [API-1204]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/cluster/Address.java
Labels: Type: Defect, Team: Client, Source: Internal, Not Release Notes content

#20456 Use correct `FieldKind`s while checking if that field exists or not
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactReader.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#20564 Send compact schemas urgently during cluster changes
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientSchemaService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/CompactFormatIntegrationTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#20634 Align HazelcastProperties#get with Properties#get
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config

#20651 Add run-lts-compilers PR trigger phrase to README
  README.md
Labels: Source: Internal, Type: Documentation

#20638 Cleanup unused Compactable Interface
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/Compactable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/example/serialization/EmployeeWithSerializerDTO.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization

#20646 Remove Java 6 debris
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/internal/PlatformSpecific.java
  hazelcast/src/main/java/com/hazelcast/internal/RequiresJdk8.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#20640 Align HazelcastProperties#get with Properties#getProperty
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config

#20641 Align HazelcastProperties#get with Properties#getProperty
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config

#20642 Align HazelcastProperties#get with Properties#getProperty
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperties.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config

#20636 Remove `getRegistries` API from the CompactSerializationConfig
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring/src/test/java/com/hazelcast/spring/config/ConfigFactoryTest.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/CompactSerializationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CompactSerializationConfigAccessor.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
Labels: Team: Client, Type: Cleanup, Source: Internal, Module: Serialization, Not Release Notes content

#20659 Revert #19389
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ProxyManager.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ClientProxyDestroyTest.java
Labels: Type: Defect, Team: Client, Source: Internal

#20623 Fix SqlResultImplTest
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlResultImplTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20632 Postpone address resolution on the clients [API-1204]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/cluster/Address.java
Labels: Type: Defect, Team: Client, Source: Internal

#20631 Postpone address resolution on the clients [API-1204]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/cluster/Address.java
Labels: Type: Defect, Team: Client, Source: Internal

#20630 Postpone address resolution on the clients [API-1204]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/cluster/Address.java
Labels: Type: Defect, Team: Client, Source: Internal

#20661 Fix covariant return types and bump animal-sniffer-maven-plugin version
  extensions/s3/src/main/java/com/hazelcast/jet/s3/S3Sinks.java
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageReader.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageWriter.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/BulkGetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/ErrorCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/SetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/StatsCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloader.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/OutboundHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DataInputNavigableJsonAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/PacketDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/PacketEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TextHandshakeDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JVMUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamSocketP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/deployment/IMapOutputStream.java
  pom.xml
Labels: Team: Core, Source: Internal, dependencies

#20663 [HZ-892] Fix type conversion for window bounds
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/WindowUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SlidingWindowAggregatePhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlExpandViewTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlImposeOrderFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlHopTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlInsertWindowBoundsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlTumbleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlKafkaAggregateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/predicate/ComparisonPredicateTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#19698 Add hazelcast-it module with integration tests to OS
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/HzStartTest.java
  hazelcast-it/jdk17-tests/pom.xml
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/record/RecordSerializationTest.java
  hazelcast-it/jdk17-tests/src/test/java/org/example/record/Person.java
  hazelcast-it/pom.xml
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  pom.xml
Labels: Type: Enhancement, Team: Core, Source: Internal, Not Release Notes content

#20579 [HZ-866] Throw exception during scan if conflict
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20690 Prerequisites for tiered store sql tests
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlBasicTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/misc/SqlNoDeserializationTest.java
Labels: Type: Enhancement, Priority: High, Source: Internal, Estimation: S, Team: Storage, severity:high, Module: TStore

#20672 Add timeout values for HTTP calls in GCP and Azure discovery
  hazelcast/src/main/java/com/hazelcast/azure/AzureDiscoveryStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/gcp/GcpDiscoveryStrategyFactory.java
Labels: Team: Cloud Native

#20658 Revert ExplicitTable to SQL standard
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/codegen/templates/Parser.jj
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastSqlOperandMetadata.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlExpandViewTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlImposeOrderFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlAggregateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlHopTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlTumbleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlKafkaAggregateTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#20662 Fix thread leak that kept starting new instances (backport of #20566)
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/MapScanMigrationStressTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20674 Improve cleanup of QueryResultRegistry
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
Labels: Type: Defect, Source: Internal, Team: SQL

#20645 Do not use hardcoded port 5000 in tests (#20644)
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestNodeStateTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: REST, Team: Platform

#20688 Remove unused EnvironmentVariables rule from CDC tests
  extensions/cdc-mysql/pom.xml
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/pom.xml
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#20684 Fix job termination on member leave
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Source: Internal, Module: Jet, Team: Platform

#20689 Prevent the thread of ConsoleTest from leaking
  hazelcast/src/main/java/com/hazelcast/console/ConsoleApp.java
  hazelcast/src/main/java/com/hazelcast/console/DefaultLineReader.java
  hazelcast/src/main/java/com/hazelcast/console/LineReader.java
  hazelcast/src/test/java/com/hazelcast/console/ConsoleAppTest.java
  hazelcast/src/test/java/com/hazelcast/console/ConsoleTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content

#20687 Remove intermediate Java process in hz script [HZ-884]
  distribution/src/bin-filemode-755/hz
  distribution/src/bin-filemode-755/hz-stop
  distribution/src/main/java/com/hazelcast/commandline/HazelcastServerCommandLine.java
  distribution/src/main/java/com/hazelcast/commandline/ProcessExecutor.java
  distribution/src/test/java/com/hazelcast/commandline/HazelcastServerCommandLineTest.java
  distribution/src/test/java/com/hazelcast/commandline/JavaOptionsConsumerTest.java
  distribution/src/test/java/com/hazelcast/commandline/ProcessExecutorTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, Module: Scripts

#20373 Fix latency distribution
  hazelcast/src/main/java/com/hazelcast/internal/util/LatencyDistribution.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/StoreLatencyPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/LatencyDistributionTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: Diagnostics

#20719 Fix the typo in the `GenericRecordBuilder` API
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTarget.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/AbstractGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SerializingGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SerializingGenericRecordCloner.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecordBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactNullablePrimitiveInteroperabilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/GenericRecordTest.java
Labels: Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#19883 [HZ-580] Fix hostname usage related issues tdd
  docs/design/networking/01-fix-hostname-usage-related-issues.md
Labels: Team: Core, Source: Internal, Module: Network I/O, Type: Documentation

#20524 Add docker note to config error messages
  distribution/src/bin-filemode-755/hz-cluster-admin
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/RestApiFilter.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/UserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Not Release Notes content

#20723 Fix JavaDoc for MultiMap.put method
  hazelcast/src/main/java/com/hazelcast/multimap/MultiMap.java
Labels: Team: Documentation, Team: Core, Not Release Notes content

#20721 [HZ-889] Prevent unnecesary warnings in LDAP login module (4.2.z)
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/security/LdapAuthenticationConfig.java
Labels: Team: Core, Backport, Source: Internal, Module: Config

#20598 Add utility method to collect service namespaces
  hazelcast/src/main/java/com/hazelcast/cache/impl/CachePartitionSegment.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/LockStoreContainer.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/NameSpaceUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapPartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
Labels: Type: Enhancement, Team: Core, Type: Perf. Defect, Source: Internal, Module: Partitioning, Not Release Notes content

#20722 Fix latency distribution
  hazelcast/src/main/java/com/hazelcast/internal/util/LatencyDistribution.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/StoreLatencyPluginTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/LatencyDistributionTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: Diagnostics

#20620 [HZ-880] [HZ-882] Check if dynamic change persisted before persisting
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20725 Remove leftover comments in CompactReader methods
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactReader.java
Labels: Team: Client, Source: Internal, Module: Serialization, Not Release Notes content, Type: Documentation

#20726 Thread-safe Map/Cache replication
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheNearCacheStateHolder.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapNearCacheStateHolder.java
  hazelcast/src/test/java/com/hazelcast/config/CacheConfigTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: ICache

#20488 Remove modulepath-tests from root project modules [HZ-691]
  pom.xml
Labels: Team: Core, Source: Internal, Not Release Notes content

#20715 Remove persistence-file dynamic config option
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.1.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/DynamicConfigurationConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-config-5.1.json
  hazelcast/src/main/resources/hazelcast-config-5.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/dynamic-configuration/success.json
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config

#20708 Fix possible NPE in JetConsoleLogHandler
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/JetConsoleLogHandler.java
Labels: Type: Defect, Source: Community, Team: SQL, Module: Jet, Team: Platform

#20734 Use URI instead of the absolute path in the *CacheConfigTest
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCacheConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/CacheConfigTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: ICache, Not Release Notes content

#20727 [HZ-847] Update licenses and fix tests
  hazelcast/src/main/java/com/hazelcast/internal/management/events/ConfigUpdateFailedEvent.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20712 Create empty javadoc jar for hazelcast-it module
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/distribution-it/src/main/javadoc/.gitkeep
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/HzStartIT.java
  hazelcast-it/pom.xml
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#20735 Set classpath to lib/* when invoking JavaVersion
  distribution/src/bin-regular/hz-start.bat
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Scripts, Team: Platform

#20707 Improve cleanup of QueryResultRegistry (backport of #20674)
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetPlanExecutor.java
Labels: Type: Defect, Backport, Source: Internal, Team: SQL

#20637 [HZ-890] Allow expression projections in HazelcastTable
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteByKeyMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DeleteLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FilterIntoScanLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/ProjectIntoScanLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/SelectByKeyMapLogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/TableModifyLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/TableModifyLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UpdateByKeyMapLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UpdateLogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/WatermarkRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinNestedLoopPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastTable.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlCreateIndexTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlImposeOrderFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlHopTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlInsertWindowBoundsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlTumbleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlUpdateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalSelectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalStreamAggTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSplitBrainTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#20738 Thread-safe Map/Cache replication
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheNearCacheStateHolder.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapNearCacheStateHolder.java
  hazelcast/src/test/java/com/hazelcast/config/CacheConfigTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: ICache

#20724 [API-1219] Add zero-config support for Java records to compact serialization
  checkstyle/suppressions.xml
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/compact/record/AllTypesRecord.java
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/compact/record/RecordSerializationIntegrationTest.java
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/compact/record/RecordSerializationTest.java
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/compact/record/RecordSerializationWithClientIntegrationTest.java
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/compact/record/RecordSerializationWithMemberIntegrationTest.java
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/record/RecordSerializationTest.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/InstanceCreationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/record/ComponentReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/record/ComponentWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/record/JavaRecordReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/record/JavaRecordSerializer.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Serialization, Add to Release Notes

#20745 Do not try to serialize unsupported field types in the reflective compact serializer
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactReflectiveSerializerUnsupportedFieldsTest.java
Labels: Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#20578 Implementing IdentifiedDataSerializable in lambdas
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/ExpressionUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/FieldCollation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAbstractPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast/src/main/java/com/hazelcast/function/FunctionEx.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast/src/main/java/com/hazelcast/jet/core/JetDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperation1Impl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperationImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/EdgeDef.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSuppliers.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/FunctionsSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
Labels: Type: Enhancement, Team: Performance, Source: Internal, Module: Serialization, Team: SQL, Module: Jet

#20744 Initialize list structures in config objects
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ReplicatedMapConfig.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20728 [HZ-907] Protect MulticastDiscoveryStrategy against Java deserialization attacks
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/MulticastDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/MulticastDiscoveryStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/MulticastProperties.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/impl/MulticastDiscoveryReceiver.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/impl/MulticastDiscoverySender.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/impl/MulticastDiscoverySerializationHelper.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientToMemberDiscoveryTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/multicast/MulticastDiscoveryStrategyDeserializationTest.java
Labels: Team: Client, Team: Core, Source: Internal, Module: Discovery SPI, Add to Release Notes, security

#20743 Add missing generator parts
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGenerator.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/AbstractDynamicConfigGeneratorTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20757 Revert backward incompatible part of #20502
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMetadataInJobConfigTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobSummary.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content

#20755 Don't use Versioned in Data going out from the client
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content

#20766 Revert "Implementing IdentifiedDataSerializable in lambdas (#20578)"
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/ExpressionUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/FieldCollation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAbstractPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast/src/main/java/com/hazelcast/function/FunctionEx.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast/src/main/java/com/hazelcast/jet/core/JetDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperation1Impl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperationImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/EdgeDef.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSuppliers.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/FunctionsSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
Labels: Type: Defect, Source: Internal, Module: Serialization, Team: SQL, Not Release Notes content

#20780 Fix NPE in CacheConfig encoding
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheNearCacheStateHolder.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: ICache

#20765 [BACKPORT] Fix SqlHopTest#test_groupByHaving
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlHopTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlTumbleTest.java
Labels: Backport, Source: Internal, Team: SQL

#20782 Warn about config overrides in Javadoc and logged messages [5.1]
  distribution/src/bin-filemode-755/hz-cluster-admin
  hazelcast/src/main/java/com/hazelcast/config/ClasspathXmlConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ClasspathYamlConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/FileSystemXmlConfig.java
  hazelcast/src/main/java/com/hazelcast/config/FileSystemYamlConfig.java
  hazelcast/src/main/java/com/hazelcast/config/InMemoryXmlConfig.java
  hazelcast/src/main/java/com/hazelcast/config/InMemoryYamlConfig.java
  hazelcast/src/main/java/com/hazelcast/config/UrlXmlConfig.java
  hazelcast/src/main/java/com/hazelcast/config/UrlYamlConfig.java
  hazelcast/src/main/java/com/hazelcast/config/XmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/YamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/RestApiFilter.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/UserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Not Release Notes content

#20792 Bump log4j version to 1.2.17.redhat-00008 (5.1)
  pom.xml
Labels: Team: Core, Backport, Source: Internal, dependencies, security

#20777 Remove compatibility paths with 5.0 and 5.1
  hazelcast-spring/src/main/resources/META-INF/spring.schemas
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueryCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/Versions.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FinalizeJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSerDeHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/schema/MemberSchemaService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobConfigOperation.java
  hazelcast/src/main/resources/hazelcast-client-failover-config-5.2.xsd
Labels: Team: Client, Team: Core, Source: Internal

#20791 Bump log4j version to 1.2.17.redhat-00008
  pom.xml
Labels: Team: Core, Source: Internal, dependencies, security

#20798 Revert "Bump nexus-staging-maven-plugin from 1.6.8 to 1.6.10 (#20701)" (5.1)
  pom.xml
Labels: Team: Core, Backport, Source: Jet, dependencies

#20799 Revert "Bump nexus-staging-maven-plugin from 1.6.8 to 1.6.10 (#20701)" (5.1.z)
  pom.xml
Labels: Team: Core, Backport, Source: Internal, dependencies

#20773 Add javadoc for uncommon types on GenericRecord
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldKind.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecordBuilder.java
Labels: Team: Client, Source: Internal, Module: Serialization, Type: Documentation

#20736 Enable the animal-snifer maven plugin for the tests too
  hazelcast-it/jdk17-tests/pom.xml
  hazelcast/src/test/java/com/hazelcast/cardinality/impl/hyperloglog/impl/HyperLogLogEncoderAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/cardinality/impl/hyperloglog/impl/HyperLogLogImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageSplitAndBuildTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataInputNavigableJsonAdapterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/PacketEncoderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
  hazelcast/src/test/java/com/hazelcast/nio/PacketIOHelperTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServerConnection.java
  modulepath-tests/pom.xml
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal

#20809 Add OWASP check false positives to the supression file (5.1.z)
  owasp-check-suppressions.xml
Labels: Team: Core, Backport, Source: Internal, security

#20808 Add OWASP check false positives to the supression file
  owasp-check-suppressions.xml
Labels: Team: Core, Source: Internal, security

#20822 Log map name when snapshot validation fails
  hazelcast/src/main/java/com/hazelcast/jet/impl/SnapshotValidator.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#20821 Log Invocation being completed without backup acks
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/BaseInvocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Invocation System, Not Release Notes content

#20834 Fix SqlHopTest#test_groupByHaving
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlHopTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlTumbleTest.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content

#20824 Fix ObjectDataInputStream tests on JDK>=11 HZ-915
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ObjectDataInputStreamFinalMethodsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ObjectDataInputStreamNonFinalMethodsTest.java
Labels: Type: Test-Failure, Source: Internal, Module: Serialization, Not Release Notes content, JDK17, Team: Platform

#20829 Enable ParallelPartitionScanExecutorTest for newer Java versions
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ParallelPartitionScanExecutorTest.java
Labels: Type: Test-Failure, Source: Internal, Module: Query, Not Release Notes content, JDK17, Team: Platform

#20776 Fix SqlExpandViewTest.test_viewWithStreamingQuery
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlExpandViewTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20783 Revert "Implementing IdentifiedDataSerializable in lambdas (#20578)"
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/ExpressionUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/FieldCollation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAbstractPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast/src/main/java/com/hazelcast/function/FunctionEx.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast/src/main/java/com/hazelcast/jet/core/JetDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperation1Impl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/aggregate/AggregateOperationImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/EdgeDef.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSuppliers.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/FunctionsSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.DataSerializerHook
Labels: Backport, Source: Internal, Module: Serialization, Team: SQL, Not Release Notes content

#20739 Add compact to generic record apidoc
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
Labels: Team: Client, Source: Internal, Estimation: S, Module: Serialization, Not Release Notes content, Type: Documentation

#20796 Fix index resolution for SqlKind.SEARCH - followup
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexComponentCandidate.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexComponentFilter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexComponentFilterResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexRexVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/RelCollationComparator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexFromSearchFilterTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexCompositeFilterIterationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexCompositeFilterTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexComponentFilterResolverTest.java
  hazelcast/src/main/java/com/hazelcast/internal/iteration/IndexIterationPointer.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexCompositeFilter.java
Labels: Type: Enhancement, Team: Performance, Source: Internal, Team: SQL, Not Release Notes content
