Repository hazelcast/hazelcast, pull requests merged in 2022-07, with the labels that each got.

#21671 Wait for events to be processed before next test
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content

#21587 MC-1536 client connection process listener
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/AddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/ExceptionCatchingConnectionProcessListener.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/WaitStrategy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/management/ClientConnectionProcessListener.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/DefaultAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProvider.java
  hazelcast/src/main/java/com/hazelcast/client/util/AddressHelper.java
  hazelcast/src/test/java/com/hazelcast/client/ClientConnectionProcessListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/DefaultAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/RemoteAddressProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Cluster, Not Release Notes content

#21558 Add processor assertions to TestSupport
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
Labels: Type: Enhancement, Source: Internal, Module: Jet

#21748 Update google-oauth-client to 1.34.0 [5.0.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#21736 Fix incompatible AddMapConfigMessageTask[HZ-1303]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
Labels: Type: Defect, Estimation: S, Not Release Notes content

#21645 Make TcpIpConnection.equals more robust [HZ-1202] (4.0.z)
  hazelcast/src/main/java/com/hazelcast/internal/nio/tcp/TcpIpConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/tcp/TcpIpConnection_AbstractBasicTest.java
Labels: Team: Core, Backport, Type: Cleanup, Source: Internal, Module: Network I/O

#21644 Make TcpServerConnection.equals more robust [HZ-1202] (4.1.z)
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractBasicTest.java
Labels: Team: Core, Backport, Type: Cleanup, Source: Internal, Module: Network I/O

#21643 Make TcpServerConnection.equals more robust [HZ-1202] (4.2.z)
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractBasicTest.java
Labels: Team: Core, Backport, Type: Cleanup, Source: Internal, Module: Network I/O

#21642 Make TcpServerConnection.equals more robust [HZ-1202] (5.0.z)
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractBasicTest.java
Labels: Team: Core, Backport, Type: Cleanup, Source: Internal, Module: Network I/O

#21641 Make TcpServerConnection.equals more robust [HZ-1202] (5.1.z)
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractBasicTest.java
Labels: Team: Core, Backport, Type: Cleanup, Source: Internal, Module: Network I/O

#21717 JavaDoc more precise about the need of defensive copy or (flat)mapStateful
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/GeneralStage.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/GeneralStageWithKey.java
Labels: Source: Internal, Not Release Notes content, Type: Documentation, Module: Jet, Team: Platform

#21543 Fix conditionally wrong information in error messages in CompactUtil
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactNullablePrimitiveInteroperabilityTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#21795 Fix localParallelism printing for light jobs
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
Labels: Type: Defect, Team: Core, Module: Jet

#21718 [API-1427] Fix race in the TestHazelcastFactory
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithRealNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/client/ClusterNameTest.java
  hazelcast/src/test/java/com/hazelcast/client/HazelcastClientUtil.java
  hazelcast/src/test/java/com/hazelcast/client/TestHazelcastFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTranslateTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestHazelcastFactory.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Not Release Notes content

#21788 Fix #21746 - flaky MultiTableCacheIntegrationTest test [HZ-1310]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/RecordPartImpl.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcAuthAndConnectionIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#21639 [HZ-1213 HZ-1252] SQL Catalog migration to IMap
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TablesStorage.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlCatalogInitTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/CreateViewStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TablesStorageTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21740 Simplify WatermarkedFields, fix Union
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DropLateItemsLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/WatermarkRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/HazelcastRelMdWatermarkedFields.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/WatermarkedFields.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateSlidingWindowPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DropLateItemsPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SlidingWindowAggregatePhysicalRel.java
Labels: Type: Defect, Type: Enhancement, Source: Internal, Team: SQL

#21811 Move checkstyle to validate phase
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Scripts, Team: Platform

#21586 Export jdk.management/com.ibm.. only for OpenJ9 VM [HZ-1302]
  distribution/src/bin-regular/common.sh
  distribution/src/bin-regular/hz-start.bat
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Scripts, Team: Platform

#21810 Set jacoco plugin version in pluginManagement
  hazelcast-build-utils/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Scripts, Team: Platform

#21806 Not initializing SqlService if Jet is disabled
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlFetchMessageTask.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21735 CP Members shouldn't be auto removed if persistence is enabled [HZ-1300]
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: CP Subsystem, Not Release Notes content, Module: Persistence, Team: Platform

#21769 Prevent unnecessary retries if the METADATA group is unaware of the requested CPGroup [HZ-1264]
  hazelcast/src/main/java/com/hazelcast/cp/exception/CPGroupDestroyedException.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/RaftReplicateOp.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/AbstractProxySessionManagerTest.java
Labels: Type: Enhancement, Type: Critical, Team: Core, Source: Community, Module: Lock, Module: ISemaphore, Module: CP Subsystem, Type: Feature Request, Team: Platform

#21821 Improve exception cause investigation in CDC
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSourceP.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcAuthIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21789 Improve "fixing" async stack traces for classes without expected constructor signature[HZ-1243]
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
Labels: Type: Defect, Team: Core, Source: Community, Not Release Notes content, Team: Platform

#21415 [HZ-976] Acknowledge WAN sync async
  hazelcast/src/main/java/com/hazelcast/internal/services/WanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/WanMapSupportingService.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#21794 Use IDS for wrapping processor supplier
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorSupplier.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Jet

#21730 [API-1250] Rename `cloneWithBuilder` to `newBuilderWithClone` for `GenericRecord`s
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DeserializedPortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecordBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/CompactFormatIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/GenericRecordBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/integration/AbstractGenericRecordIntegrationTest.java
Labels: Team: Client, Team: Documentation, Type: Cleanup, Source: Internal, Module: Serialization, Add to Release Notes

#21768 [HZ-1232] Add SQL query information to Jet admin API
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientResultTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMetadataInJobConfigTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetGetJobAndSqlSummaryListCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/SqlExecuteCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/FixedSizeTypesCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/JobAndSqlSummaryCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/SqlSummaryCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/core/JobStatus.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobAndSqlSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/SqlSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobAndSqlSummaryListMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetJobAndSqlSummaryListOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/EnumCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.5.protocol.compatibility.binary
  hazelcast/src/test/resources/2.5.protocol.compatibility.null.binary
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21858 Bump AWS Java SDK version to fix CVE-2022-31159 [5.1.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, security, Team: Platform

#21857 Bump AWS Java SDK version to fix CVE-2022-31159 [5.0.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, security, Team: Platform

#21856 Jetty Util dependencies are upgraded to version fixing CVE-2022-2047
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, security, Team: Platform

#21846 Jetty Util dependencies are upgraded to version fixing CVE-2022-2047 [5.0.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21847 Jetty Util dependencies are upgraded to version fixing CVE-2022-2047 [5.1.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, security, Team: Platform

#21731 [HZ-989] Implement JSON_ARRAYAGG function
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/OrderedJsonArrayAggAggregation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/UnorderedJsonArrayAggAggregation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/function/HazelcastJsonArrayAggFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/FieldCollation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/AggregateLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAbstractPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateBatchPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/misc/HazelcastWithinGroupOperator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/JsonSqlAggregateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/misc/NestingAndCasingExpressionTest.java
Labels: Type: Enhancement, Source: Internal, Module: Query, Team: SQL, Add to Release Notes

#21664 Add DataPersistenceConfig to CacheConfigHolder and AddCacheConfigMessageTask
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/DynamicConfigAddCacheConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/CacheConfigHolderCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/CacheConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTaskTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.5.protocol.compatibility.binary
  hazelcast/src/test/resources/2.5.protocol.compatibility.null.binary
Labels: Team: Client, Team: Core, Source: Internal, Module: Config, ux-defect

#21870 Add capacity policy field to DynamicConfigAddScheduledExecutorCodec
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/DynamicConfigAddScheduledExecutorConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddScheduledExecutorConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/ScheduledExecutorConfig.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/EnumCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/resources/2.5.protocol.compatibility.binary
  hazelcast/src/test/resources/2.5.protocol.compatibility.null.binary
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: IScheduledExecutor, Module: Config
