Repository hazelcast/hazelcast, pull requests merged in 2022-10, with the labels that each got.

#22369 [HZ-1208] Fix persistence config merge from default map
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/ConfigSearchTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigSearchOrderTest.java
Labels: Team: Core, Source: Internal, Module: Config, Not Release Notes content, Team: Platform

#22381 Set default value changeExpiryOnUpdate to true
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/test/java/com/hazelcast/map/EvictionTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/steps/engine/StateTest.java
Labels: Type: Defect, Type: Critical, Team: Core, Source: Internal, Module: IMap

#22383 Use publicly available Config class in javaDoc
  hazelcast/src/main/java/com/hazelcast/config/Config.java
Labels: Type: Enhancement, Source: Internal

#22336 [HZ-1138] [BACKPORT] Add missing expiry merge for WAN (#22294)
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect

#22403 [CN-169] do not rely on optonal Endpoint nodeName (backport)
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointResolver.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
Labels: Type: Enhancement, Module: Discovery SPI, Add to Release Notes, Module: Kubernetes, Team: Cloud Native

#22401 [CN-360] [BACKPORT] [5.1.z] Add multiple label support for Kubernetes Plugin service and pod labels
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesConfig.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesProperties.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesConfigTest.java
Labels: Type: Enhancement, Module: Discovery SPI, Add to Release Notes, Module: Kubernetes, Team: Cloud Native

#22394 [CN-399] [BACKPORT] Change Kubernetes client behavior for token refresh
  hazelcast/src/main/java/com/hazelcast/kubernetes/FileReaderTokenProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesConfig.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesTokenProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/StaticTokenProvider.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesConfigTest.java
Labels: Type: Enhancement, Module: Discovery SPI, Add to Release Notes, Module: Kubernetes, Team: Cloud Native

#22404 Update vulnerable snakeyaml dependency [5.1.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22408 Fixed ClearBackupOperation [HZ-1210][BACKPORT] (#22082)
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/EventJournalWriterMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Type: Defect, Backport, Priority: High, Source: Community, Estimation: S, Module: IMap, Team: Storage, severity:high

#22417 Revert "Close dataStores after the usage (#22372)"
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/AbstractJdbcSqlConnectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/DeleteProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpdateProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/datastore/AbstractDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/DataStoreHolder.java
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreService.java
  hazelcast/src/main/java/com/hazelcast/datastore/JdbcDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/JdbcSinkBuilder.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ExternalDataStoreTestUtil.java
Labels: Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22409 Call tryBeginSnapshot when status set RUNNING
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, Module: Jet

#22419 Bump jackson.version from 2.13.3 to 2.13.4 [5.1.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, dependencies

#22405 Update vulnerable snakeyaml dependency [5.0.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22440 Fix KeyedWatermarkCoalescer
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/KeyedWatermarkCoalescer.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/KeyedWatermarkCoalescerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescerTest.java
Labels: Type: Defect, Module: Jet

#22443 Exclude the ZipSlip CodeQL query
  .github/codeql/java-custom-queries.qls
Labels: Type: Enhancement, Source: Internal, Team: Platform

#22402 [CN-360] [BACKPORT] [5.0.z] Add multiple label support for Kubernetes Plugin service and pod labels
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesConfig.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesProperties.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesConfigTest.java
Labels: Type: Enhancement, Module: Discovery SPI, Add to Release Notes, Module: Kubernetes, Team: Cloud Native

#22449 Stabilize the ProtocolNegotiationTest
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/ProtocolNegotiationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#22461 Add Cluster version 5.3
  hazelcast-spring/src/main/resources/META-INF/spring.schemas
  hazelcast/src/main/java/com/hazelcast/internal/cluster/Versions.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform

#22450 Fix adding external data store config dynamically [HZ-1563]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
Labels: Type: Defect, Source: Internal, Module: Jet, Team: Platform

#22467 Make dynamic external data store configs thread safe
  hazelcast/src/main/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImpl.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22464 Fix adding external data store config dynamically [HZ-1563] [5.2.z]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#22469 Update Hazelcast 3 dependency [5.2.0]
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sources.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22422 Close dataStores after the usage
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/AbstractJdbcSqlConnectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast/src/main/java/com/hazelcast/datastore/CloseableDataSource.java
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreService.java
  hazelcast/src/main/java/com/hazelcast/datastore/JdbcDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/JdbcSinkBuilder.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22447 Fix NPE in ChangeRecordImpl when old or new value is null
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22442 Shade jackson-databind in SQL jar
  hazelcast-sql/pom.xml
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22479 Add minor fixes for external datastores
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/AbstractJdbcSqlConnectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/JdbcDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/CloseableDataSource.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22494 Fix NPE in ChangeRecordImpl when old or new value is null [5.2.z]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22485 Add index only on local during MapProxy init [HZ-1192]
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Module: Persistence

#22496 Fix non-finalized items in wan queue [HZ-1502] [4.2.z] (#22437)
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapAddOrUpdateEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapRemoveEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanEvent.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN

#22495 Fix non-finalized items in wan queue [HZ-1502] [5.2.z] (#22437)
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapAddOrUpdateEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapRemoveEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanEvent.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN

#22498 Fix non-finalized items in wan queue [HZ-1502] [4.1.z] (#22437)
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapAddOrUpdateEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapRemoveEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanEvent.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN

#22500 Fix non-finalized items in wan queue [HZ-1502] [5.1.z] (#22437)
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapAddOrUpdateEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapRemoveEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanEvent.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN

#22499 Fix non-finalized items in wan queue [HZ-1502] [5.0.z] (#22437)
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapAddOrUpdateEvent.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/WanMapRemoveEvent.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/InternalWanEvent.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN

#22503 Add index only on local during MapProxy init [5.2.0]
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: IMap, Module: Persistence

#22512 Improve local hostname resolution by trying different methods
  hazelcast/src/main/java/com/hazelcast/internal/util/HostnameUtil.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/test/java/com/hazelcast/client/AuthenticationInformationLeakTest.java
Labels: Source: Internal, Not Release Notes content, Module: Kubernetes, Team: Platform

#22526 Use sleepAtLeastSeconds in test
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadedExecutorStatsTest.java
Labels: Type: Test-Failure

#22530 [BACKPORT] Use sleepAtLeastSeconds in test
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadedExecutorStatsTest.java
Labels: Type: Test-Failure

#22544 Update protobuf to 3.19.6
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22545 Sort postgres error codes alphabetically [5.2.0]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertProcessorSupplier.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform

#22324 Adding RN for Platform OS 5.2.0
  hazelcast/src/main/resources/release_notes.txt
Labels: Team: Documentation, Source: Internal, Not Release Notes content, Type: Documentation

#22539 Only start k8s sts monitor when tracker enabled
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  kubernetes-rbac.yaml
Labels: Type: Defect, Team: Core, Source: Internal, Module: Kubernetes, Team: Cloud Native

#22546 Sort postgres error codes alphabetically
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertProcessorSupplier.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22279 [HZ-1052] Expire map records recovered from persistence
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystemImpl.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap, Module: Persistence

#22470 Update Hazelcast 3 dependency [5.2.z]
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sources.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22549 Start k8s sts monitor only when tracker enabled [5.2.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  kubernetes-rbac.yaml
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Kubernetes, Team: Cloud Native

#22504 Add index only on local during MapProxy init [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: IMap, Module: Persistence

#22411 [CN-62] AWS ECS/EC2 client discovery for ECS/EC2
  hazelcast/src/main/java/com/hazelcast/aws/AwsClientConfigurator.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsConfig.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsDiscoveryStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEc2Api.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEc2Client.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEcsApi.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEcsClient.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DefaultDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/integration/DiscoveryServiceSettings.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ClientTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsClientTest.java
Labels: Type: Enhancement, Source: Internal, Module: Discovery SPI, Add to Release Notes, Team: Cloud Native

#22523 Fix sql catalog init test - waiting for replication
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlCatalogInitTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22514 Fix JobTest - wait for adding to LMC
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22525 Fix timeout test - better control of failure
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/test/ClusterFailureTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22509 Remove redundant distribution trait [HZ-1600]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/Conventions.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/cost/Cost.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/distribution/DistributionTrait.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/distribution/DistributionTraitDef.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/distribution/DistributionType.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/HazelcastRelOptCluster.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/distribution/DistributionTraitTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#22562 Fix JobTest - wait for adding to LMC [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22563 Fix timeout test - better control of failure [5.2.z]
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/test/ClusterFailureTestSupport.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22472 Update Hazelcast 3 dependency [5.0.z]
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sources.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22547 Sort postgres error codes alphabetically [5.2.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertProcessorSupplier.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22445 Fix stress test - faster result compare
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/MapScanMigrationStressTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22557 Expire map records recovered from persistence
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystemImpl.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap, Module: Hot Restart, Add to Release Notes

#22558 Expire map records recovered from persistence
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystemImpl.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap, Add to Release Notes

#22439 Update design template with cloud specific content
  docs/design/template.md
Labels: Team: Core, Source: Internal, Not Release Notes content, Type: Documentation, Team: Platform

#22420 Fix stress test - mutator thread waits for progress [5.1.z]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/MapScanMigrationStressTest.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22418 Fix SARG nullAs issues
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/SearchableExpressionCompatibilityTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpressionTest.java
  hazelcast-sql/src/test/resources/dag_ids_5.1.3.base64
  hazelcast-sql/src/test/resources/exec_plan_ids_5.1.3.base64
  hazelcast/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/SearchableExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/SearchableExpressionTracker.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/SearchableWithNullAs.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/predicate/SearchPredicate.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
Labels: Type: Defect, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22337 Add missing expiry merge for WAN [HZ-1138]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Module: WAN, Add to Release Notes

#22568 Handle null in creation of KubernetesDiscoveryStrategy
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategyFactory.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategyFactoryTest.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: Kubernetes

#22585 Handle null in creation of KubernetesDiscoveryStrategy
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategyFactory.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategyFactoryTest.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: Kubernetes

#22566 Fix stress test - faster result compare [5.2.z]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/MapScanMigrationStressTest.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22584 Fix NPE [HZ-1640]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideOpSteps.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapStoreTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Team: Platform

#22583 Fix NPE [HZ-1640]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideOpSteps.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapStoreTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Team: Platform

#22586 Handle null in creation of KubernetesDiscoveryStrategy
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategyFactory.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategyFactoryTest.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: Kubernetes

#22493 Fix race condition in cancelAllExecutions
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Type: Defect, Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22517 Fix errors when schema change enabled [5.2.z]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSourceP.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSourceP.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22468 Update Hazelcast 3 dependency
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sources.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22589 Fix race condition in cancelAllExecutions [5.2.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Type: Defect, Backport, Source: Internal, Source: Jet, Team: SQL, Not Release Notes content

#22592 Fix returning "null" string instead of null value [5.2.z]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/Operation.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Defect, Backport, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22590 [CN-62] Add AWS ECS/EC2 client discovery for ECS/EC2
  hazelcast/src/main/java/com/hazelcast/aws/AwsClientConfigurator.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsConfig.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsDiscoveryStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEc2Api.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEc2Client.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEcsApi.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEcsClient.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DefaultDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/integration/DiscoveryServiceSettings.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ClientTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsClientTest.java
Labels: Type: Enhancement, Source: Internal, Module: Discovery SPI, Add to Release Notes, Team: Cloud Native

#22471 Update Hazelcast 3 dependency [5.1.z]
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sources.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22591 Fix returning "null" string instead of null value.
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/Operation.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22588 Fix assumption for skipping Hadoop tests on some IBM Java versions
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/HadoopTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlHadoopTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Module: Jet, Team: Platform

#22573 Fix spelling error in HazelcastCacheMananger Javadoc
  hazelcast-spring/src/main/java/com/hazelcast/spring/cache/HazelcastCacheManager.java
Labels: Source: Community, Type: Documentation, Module: Spring, Team: Platform

#22475 Add destroy permission to DestroyRaftObjectMessageTask [API-1639]
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: CP Subsystem, Add to Release Notes

#22556 Copy 5.2.0 release notes to 5.2.z branch.
  hazelcast/src/main/resources/release_notes.txt
Labels: Team: Documentation, Source: Internal, Not Release Notes content, Type: Documentation

#22617 Improve Jackson dependency declaration
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/kinesis/pom.xml
  hazelcast-sql/pom.xml
  hazelcast/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform, Module: Maven build

#22619 Improve Jackson dependency declaration [5.2.z]
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/kinesis/pom.xml
  hazelcast-sql/pom.xml
  hazelcast/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform, Module: Maven build

#22618 Update protobuf to 3.19.6 [5.2.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22615 Fix issues visible in test failures [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ContainsKeyOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/Step.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadedExecutorStatsTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#22603 Do not load old value for map set when map-store offload is enabled [HZ-1671]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreOffloadedOperationMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap, Add to Release Notes

#22602 Do not load old value for map set when map-store offload is enabled [HZ-1671]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreOffloadedOperationMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap

#22606 Reset write behind store on clear [HZ-1671]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ClearOpSteps.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/MapStoreWriteBehindTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap

#22607 Reset write behind store on clear [HZ-1671] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ClearOpSteps.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/MapStoreWriteBehindTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: IMap, Add to Release Notes

#22608 Fix issues visible in test failures
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ContainsKeyOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/Step.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadedExecutorStatsTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#22627 Add missing wan expiry for offload case
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ContainsKeyOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MergeOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpiryMetadata.java
Labels: Type: Defect, Team: Core, Module: IMap, Module: WAN

#22628 Add missing wan expiry for offload case [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ContainsKeyOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MergeOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpiryMetadata.java
Labels: Type: Defect, Team: Core, Module: IMap, Module: WAN

#22476 Fix member leave test - wait for job deployment
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22473 [CN-568] [CN-525] Get AZ from metadata endpoint for ECS
  hazelcast/src/main/java/com/hazelcast/aws/AwsClientConfigurator.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEcsClient.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsMetadataApi.java
  hazelcast/src/main/java/com/hazelcast/aws/Environment.java
  hazelcast/src/main/java/com/hazelcast/aws/RegionValidator.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsClientConfiguratorTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsClientTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsMetadataApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/RegionValidatorTest.java
Labels: Type: Defect, Source: Internal, Module: Discovery SPI, Team: Cloud Native

#22629 Fix member leave test - wait for job deployment [5.2.z]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22605 Columbia query optimizer application feedback
  docs/design/sql/12-create-index.md
  docs/design/sql/13-create-drop-view.md
  docs/design/sql/14-automatic-query-resubmission.md
  docs/design/sql/15-stream-to-stream-join.md
  docs/design/sql/16-columbia-optimizer-feedback.md
Labels: Source: Internal, Team: SQL, Type: Documentation

#22630 [CN-568] [CN-525] Get AZ from metadata endpoint for ECS (#22473)
  hazelcast/src/main/java/com/hazelcast/aws/AwsClientConfigurator.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEcsClient.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsMetadataApi.java
  hazelcast/src/main/java/com/hazelcast/aws/Environment.java
  hazelcast/src/main/java/com/hazelcast/aws/RegionValidator.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsClientConfiguratorTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsClientTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsMetadataApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/RegionValidatorTest.java
Labels: Type: Defect, Backport, Source: Internal, Module: Discovery SPI, Team: Cloud Native

#22488 [CN-543] Fix EC2 API DescribeNetworkInterfaces filter
  hazelcast/src/main/java/com/hazelcast/aws/AwsEc2Api.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsCredentialsProviderTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsDiscoveryStrategyTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ClientTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsApiTest.java
Labels: Type: Defect, Source: Internal, Module: Discovery SPI, Team: Cloud Native

#22622 Fix incorrect IMPOSE_ORDER usage checking [HZ-1150]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/WatermarkPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/ValidatorResource.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlImposeOrderFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/SqlStreamToStreamJoinTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#22555 Replace toUpperCase() with upperCaseInternal() [HZ-1617]
  hazelcast/src/main/java/com/hazelcast/config/LoginModuleConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MultiMapConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/client/helpers/SimpleClientInterceptor.java
  hazelcast/src/test/java/com/hazelcast/map/EmbeddedMapInterceptorTest.java
  hazelcast/src/test/java/com/hazelcast/map/InterceptorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/AbstractExtractionSpecification.java
  hazelcast/src/test/java/usercodedeployment/CapitalizingFirstNameExtractor.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform

#22621 Remove EE tests artifact from compatibility tests [HZ-1675]
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal
