Repository hazelcast/hazelcast, pull requests merged in 2022-01, with the labels that each got.

#19641 Add exponential backoff to Partition#getOwner calls of partition warmup
  hazelcast/src/test/java/com/hazelcast/instance/impl/TestUtil.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#20286 Fix SuspendExecutionOnFailureTest assertions
  hazelcast/src/test/java/com/hazelcast/jet/core/SuspendExecutionOnFailureTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal

#20246 Don't use a separate log4j2 version for slf4j bindings
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/grpc/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/kinesis/pom.xml
  extensions/python/pom.xml
  hazelcast-archunit-rules/pom.xml
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, dependencies

#20287 Decrease log level for ExecutionNotFoundException
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/exception/ExecutionNotFoundException.java
  hazelcast/src/main/java/com/hazelcast/spi/exception/SilentException.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Jet

#20263 Fix mapping of Map fields in SQL (forward-port of #20256)
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlFilterProjectTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlAggregateTest_TypeCoercion.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlJsonTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJsonTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/model/AllTypesValue.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/QueryDataTypeUtils.java
Labels: Type: Defect, Source: Internal, Team: SQL, Forwardport

#20271 doc: explain why ssl needs explicit config for public address
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/TranslateToPublicAddressProvider.java
Labels: Team: Client, Source: Internal, Not Release Notes content, Type: Documentation

#20273 Refactor exception cloning to eliminate duplicate code
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
Labels: Type: Enhancement, Team: Core, Source: Internal

#19923 [BACKPORT] Fix YAML schema
  hazelcast/src/main/resources/hazelcast-config-5.0.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/ringbuffer/success.json
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Config, Not Release Notes content

#20298 Configure Dependabot to set "Source: Internal" label
  .github/dependabot.yml
Labels: Team: Core, Source: Internal

#20305 Fix JSON in HazelcastTypeFactory.leastRestrictive
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeFactory.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlJsonTypeTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#20257 Change Compact API names with universal ones.
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTarget.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MetadataCompactResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SampleMetadataResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlCompactTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTargetDescriptorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTargetTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FieldOperations.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/GenericRecordQueryReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/InternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/AbstractGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SchemaWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SerializingGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SerializingGenericRecordCloner.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DeserializedPortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/FieldTypeToFieldKind.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableSerializer.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldKind.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactReader.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactWriter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/FieldsUtil.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/EnumCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactNullablePrimitiveInteroperabilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactWithSchemaStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/CompactFormatIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/GenericRecordBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/integration/AbstractGenericRecordIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/IntHashSetTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/LongHashSetTest.java
  hazelcast/src/test/java/example/serialization/EmployeeDTOSerializer.java
  hazelcast/src/test/java/example/serialization/EmployeeWithSerializerDTO.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Add to Release Notes

#20268 [HZ-564] JSON_ARRAY and JSON_OBJECT functions
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonArrayFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonObjectFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/json/HazelcastJsonArrayFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/json/HazelcastJsonObjectFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/json/HazelcastJsonQueryFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/json/HazelcastJsonValueFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlJsonTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonArrayFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonObjectFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/misc/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet

#20283 Simplify and rename core SqlTestSupport
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TablesStorageTest.java
  hazelcast/src/test/java/com/hazelcast/sql/SqlMetadataTest.java
  hazelcast/src/test/java/com/hazelcast/sql/SqlStatementTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/CoreSqlTestSupport.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/QueryIdTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/QueryUtilsTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/UpdateSqlResultImplTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/extract/GenericQueryTargetTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/extract/QueryPathTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/plan/node/PlanNodeSchemaTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/row/EmptyRowTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/row/HeapRowTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/MapTableFieldTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/MapTableIndexTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapPlanObjectKeyTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/QueryDataTypeTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/SqlDaySecondIntervalTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/type/SqlYearMonthIntervalTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20255 Forbid view replacement with non-equal projection
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TablesStorage.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlExpandViewTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/CreateViewStatementTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content

#20288 Don't skip the new split resulting from a MissingPartitionException
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
Labels: Type: Defect, Type: Test-Failure, Source: Internal, Team: SQL

#20308 implementing HZ_PARDOT_ID env var support
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/BuildInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#20293 Simplify ExecutionEvalContext
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SimpleExpressionEvalContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlProcessors.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByPrimitiveKeyProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinScanProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdatingEntryProcessor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/SqlHashJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/InsertProcessorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/JoinByPrimitiveKeyProcessorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/JoinScanProcessorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanPTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/predicate/ComparisonPredicateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexEqualsFilterIterationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexEqualsFilterTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexFilterValueTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexInFilterIterationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexRangeFilterIteratorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexRangeFilterTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/SqlHashJoinPTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContext.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/SimpleExpressionEvalContext.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet

#19947 [HZ-654] Configuration generation
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/dynamic/DynamicConfigGeneratorUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/config/dynamic/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/dynamic/DynamicConfigYamlGenerator.java
  hazelcast/src/main/resources/hazelcast-config-5.1.json
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/dynamic/AbstractDynamicConfigGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/dynamic/DynamicConfigYamlGeneratorTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20311 Make Processor.Context available from ThreadLocal
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/Tasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/metrics/MetricsImpl.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet

#20317 Handle CURSOR arguments
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastCallBinding.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20194 [HZ-758] Replace the json-path library with one that supports SQL standard
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonPathUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonQueryFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonValueFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/ValuesLogicalRules.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlExpandViewTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/CalciteEnumStabilityTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonQueryFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonValueFunctionIntegrationTest.java
  pom.xml
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content

#19769 Remove outdated reference to Jet client
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Even Jaromir can do that, Module: CLI

#20005 [HZ-713] Chunked migration
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheService.java
  hazelcast/src/main/java/com/hazelcast/internal/locksupport/LockSupportServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicationStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSerDeHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSuppliers.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkedMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/FragmentedMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/OffloadedReplicationPreparation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ReplicaFragmentMigrationState.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/AbstractPartitionPrimaryReplicaAntiEntropyTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPartitionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionBackupReplicaAntiEntropyOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncResponse.java
  hazelcast/src/main/java/com/hazelcast/map/MapEvictionPolicyComparator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunk.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunkContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapNearCacheStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/query/impl/MapIndexInfo.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/CountingMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/ServiceManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/servicemanager/impl/ServiceManagerImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MasterSplitTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationManagerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/service/fragment/TestFragmentedMigrationAwareService.java
  hazelcast/src/test/kotlin/com/hazelcast/map/impl/operation/MapChunkTest.java
  hazelcast/src/test/resources/log4j2.xml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Partitioning, Add to Release Notes

#20337 Update JsonSurfer/hz to 0.9
  pom.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20262 Add hz command to the default distribution package HZ-625
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor-slim.xml
  distribution/src/assembly/assembly-descriptor.xml
  distribution/src/bin-filemode-755/hz
  distribution/src/bin-filemode-755/hz-start
  distribution/src/main/java/com/hazelcast/commandline/ExceptionHandler.java
  distribution/src/main/java/com/hazelcast/commandline/HazelcastServerCommandLine.java
  distribution/src/main/java/com/hazelcast/commandline/ProcessExecutor.java
  distribution/src/main/java/com/hazelcast/commandline/VersionProvider.java
  distribution/src/main/java/com/hazelcast/commandline/package-info.java
  distribution/src/test/java/com/hazelcast/commandline/ExceptionHandlerTest.java
  distribution/src/test/java/com/hazelcast/commandline/HazelcastServerCommandLineTest.java
  distribution/src/test/java/com/hazelcast/commandline/JavaOptionsConsumerTest.java
  distribution/src/test/java/com/hazelcast/commandline/ProcessExecutorTest.java
  distribution/src/test/java/com/hazelcast/commandline/VersionProviderTest.java
  distribution/src/test/resources/test-hazelcast-user-defined.xml
  distribution/src/test/resources/test-hazelcast-user-defined.yaml
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/core/server/HazelcastMemberStarter.java
  pom.xml
Labels: Type: Enhancement, Team: Core, Source: Internal, Add to Release Notes, Module: CLI

#20170 [HZ-739] [HZ-740] Dynamic Configuration Persistence
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.1.xsd
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/DynamicConfigurationConfig.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/dynamic/DynamicConfigGeneratorUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/EmptyConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/main/resources/hazelcast-config-5.1.json
  hazelcast/src/main/resources/hazelcast-config-5.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/DynamicConfigurationConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/dynamic/DynamicConfigYamlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigVersionTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestHazelcastInstanceFactory.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/dynamic-configuration/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/dynamic-configuration/success.json
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Team: Core, Source: Internal, Module: Config, Type: Feature Request, Add to Release Notes

#20254 Provide more helpful error message when user code deployment is disabled
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/UserCodeDeploymentService.java
Labels: Type: Enhancement, Team: Core, Source: Internal

#20014 [HZ-581] Address issues with hostnames
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/cluster/Cluster.java
  hazelcast/src/main/java/com/hazelcast/instance/AddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/AdvancedNetworkAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeContext.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DelegatingAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeContext.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/ClusterService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AbstractJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/DiscoveryJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/ClusterMismatchOp.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Connection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/LinkedAddresses.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/LocalAddressRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SendMemberHandshakeTask.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerAcceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionErrorHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerBase.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnector.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerControl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/client/test/TestClientRegistry.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpHostnameJoinTest.java
  hazelcast/src/test/java/com/hazelcast/instance/FirewallingNodeContext.java
  hazelcast/src/test/java/com/hazelcast/instance/StaticMemberNodeContext.java
  hazelcast/src/test/java/com/hazelcast/instance/TestNodeContext.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/AbstractOutOfMemoryHandlerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/DroppingServerConnection.java
  hazelcast/src/test/java/com/hazelcast/internal/server/FirewallingServer.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/LocalAddressRegistryIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/LocalAddressRegistryTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpMetricValuesTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnection_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerControlTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/MapFetchIndexOperationTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ServerConnectionManagerTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockNodeContext.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServer.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServerConnection.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/StaticAddressPicker.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/TestNodeRegistry.java
  hazelcast/src/test/java/com/hazelcast/wan/WanServiceMockingNodeContext.java
  hazelcast/src/test/resources/log4j2-trace-hostname-join.xml
Labels: Type: Defect, Team: Core, Source: Internal, Module: Network I/O, Add to Release Notes

#20345 Fix NPE when projection compatibility checking on CREATE OR REPLACE VIEW query
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/CreateViewStatementTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content

#20356 [5.0.1-BETA-1] Fix mock connection management
  hazelcast/src/test/java/com/hazelcast/internal/server/FirewallingServer.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServer.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServerConnection.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O, Not Release Notes content

#20346 Add view columns to information_schema.columns
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingColumnsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingColumnsTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20365 Fix javadoc in distribution module HZ-625 [5.1-BETA-1]
  distribution/pom.xml
  distribution/src/main/java/com/hazelcast/commandline/HazelcastServerCommandLine.java
  distribution/src/main/javadoc/.gitkeep
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: CLI, Team: Platform

#20364 Fix javadoc in distribution module HZ-625
  distribution/pom.xml
  distribution/src/main/java/com/hazelcast/commandline/HazelcastServerCommandLine.java
  distribution/src/main/javadoc/.gitkeep
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: CLI, Team: Platform

#20343 Update grpc & protobuf versions
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, Module: Jet

#20367 SQL/JSON path regex syntax
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonQueryFunctionIntegrationTest.java
  pom.xml
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content

#20338 [HZ-803] date-time types support for json_* functions
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonArrayFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonCreationUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonObjectFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/json/JsonValueFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonArrayFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonObjectFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonValueFunctionIntegrationTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: JSON

#20371 Fix mock connection management
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServer.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServerConnection.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O, Not Release Notes content

#20265 [HZ-771] Align query-cache and near-cache default behavior
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.1.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/AbstractQueryCacheConfigBuilderHelper.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/QueryCacheConfigHolderCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/CacheConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/EvictionConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/NearCacheConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/QueryCacheConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/config/NearCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/QueryCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlConfigSchemaValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/dynamic/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/dynamic/DynamicConfigYamlGenerator.java
  hazelcast/src/main/java/com/hazelcast/map/QueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LazyMapEntry.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/EventPublisherHelper.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/EvictionOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheRecordHashMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/QueryCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/record/DataQueryCacheRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/record/ObjectQueryCacheRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/record/QueryCacheRecord.java
  hazelcast/src/main/java/com/hazelcast/query/impl/CachedQueryEntry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/resources/hazelcast-client-config-5.1.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-config-5.1.json
  hazelcast/src/main/resources/hazelcast-config-5.1.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/aggregation/Person.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheBenchmark.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheMethodsWithPredicateTest.java
  hazelcast/src/test/resources/2.4.protocol.compatibility.binary
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
  hazelcast/src/test/resources/hazelcast-client-querycache-xml-config-wildcard-test.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
  hazelcast/src/test/resources/hazelcast-querycache-xml-config-wildcard-test.xml
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Module: IMap, Module: Near Cache

#20394 Create SECURITY.md
  SECURITY.md
Labels: Team: Core, Source: Community, Type: Documentation

#20386 Upgrade tomcat-embed-core to 10.0.14
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
  pom.xml
Labels: Type: Enhancement, Team: Core, Source: Internal, dependencies

#20347 Add information_schema.tables table
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/TablesTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20366 Assert maxTotalChunkedDataInBytes when only chunked migration enabled
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSerDeHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ReplicaFragmentMigrationState.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncResponse.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MasterSplitTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning

#20405 Remove unused nanohttpd dependency
  hazelcast/pom.xml
Labels: Team: Core, Source: Internal, dependencies, security

#20400 Mark BITMAP options as non-required for CREATE INDEX query
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateIndex.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlCreateIndexTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#20399 Set config file if loaded from the classpath and file exists
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/config/XmlConfigLocator.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20403 Update elasticsearch 6 dependency to the latest patch release
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  pom.xml
Labels: Type: Enhancement, Team: Core, Source: Internal, dependencies

#20415 Rename ARRAY_OF_BOOLEANS to ARRAY_OF_BOOLEAN in the FieldKind
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FieldOperations.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/AbstractGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SchemaWriter.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SerializingGenericRecordCloner.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/FieldTypeToFieldKind.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldKind.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/EnumCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/RabinFingerprintTest.java
Labels: Team: Client, Type: Cleanup, Source: Internal, Module: Serialization

#20418 Rename className to typeName in SchemaWriter and GenericRecordBuilder
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SampleMetadataResolverTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/SchemaWriter.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecordBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactWithSchemaStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/RabinFingerprintTest.java
Labels: Team: Client, Type: Cleanup, Source: Internal, Module: Serialization, Not Release Notes content

#20413 Implement SHOW VIEWS support
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlShowStatement.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TablesStorage.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20407 Add helper method to XmlUtil to enable XXE protection in the SAXParserFactory
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractXmlConfigRootTagRecognizer.java
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/XmlUtilTest.java
Labels: Team: Core, Source: Community, Module: Config, security

#18815 Add includeValue support for MultiMap#addLocalEntryListener
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/multimap/MultiMap.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/client/multimap/ClientMultiMapListenersTest.java
  hazelcast/src/test/java/com/hazelcast/multimap/MultiMapListenerTest.java
Labels: Type: Enhancement, Team: Core, Source: Community, Module: MultiMap, Add to Release Notes

#20039 Adjust delay for scanJobs
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, Module: Jet

#20424 Correct typo on the `readArrayOfTimestamp*` method names
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactReader.java
Labels: Team: Client, Source: Internal, Module: Serialization

#20425 Do not collect metrics for expected exception: AssumptionViolatedException
  hazelcast/src/test/java/com/hazelcast/test/metrics/MetricsRule.java
Labels: Team: Core, Type: Test-Failure

#20398 Fix performance of SqlPage.getColumnValueForClient
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/ListMultiFrameCodec.java
Labels: Team: Client, Type: Perf. Defect, Source: Internal, Not Release Notes content

#20404 Add Version Support Windows page link to SECURITY.md
  SECURITY.md
Labels: Type: Enhancement, Team: Core, Source: Internal, Type: Documentation

#20419 Event registration should not trigger map-container creation
  hazelcast/src/main/java/com/hazelcast/map/impl/EventListenerCounter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/EventListenerCounterTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#20440 Add mising JavaDoc in the authentication configuration
  hazelcast/src/main/java/com/hazelcast/config/security/AbstractClusterLoginConfig.java
  hazelcast/src/main/java/com/hazelcast/config/security/KerberosAuthenticationConfig.java
  hazelcast/src/main/java/com/hazelcast/config/security/KerberosIdentityConfig.java
Labels: Team: Core, Source: Internal, Module: Security, Type: Documentation

#20441 Replace deprecaded use of hamcrest's assertThat with assertj
  hazelcast/src/test/kotlin/com/hazelcast/jet/impl/util/KotlinReflectionUtilsTest.kt
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet

#20445 Convert `finalPosition` to a local variable in the `CompactInternalGenericRecord`
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
Labels: Type: Cleanup, Source: Internal, Module: Serialization

#20455 Use simpler interface for downcasting
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/JetSqlRow.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20401 [HZ-805] Add fundamental Hybrid log metrics
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Type: Enhancement, Team: Storage, Module: TStore

#19982 JOIN-related fixes
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/ObjectArrayKey.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinHashPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinHashPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinNestedLoopPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinNestedLoopPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/ProjectPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/SqlHashJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlJsonTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20438 Use patched libraries from Red Hat Maven GA repo for some vulnerable dependencies
  hazelcast/pom.xml
  owasp-check-suppressions.xml
  pom.xml
Labels: Team: Core, Source: Internal, dependencies, Module: Jet, security

#20474 Fix SqlIndexResolutionTest failure
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexResolutionTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#19003 Move JetExtension into DefaultNodeExtension and JetServiceBackend
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/JetExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/PacketDispatcher.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/impl/OperationExecutorImpl_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: Type: Enhancement, Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet

#20429 [HZ-826] Rework failing IOBalancerStressTest
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerStressTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#20460 Improve RunScriptOperation exception message on missing ScriptEngine MC-1120
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/RunScriptOperation.java
  hazelcast/src/test/java/com/hazelcast/client/impl/management/MCMessageTasksTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/ScriptingProtectionTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/operation/DisabledOperationsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/operation/RunConsoleCommandOperationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/management/operation/RunScriptOperationTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Not Release Notes content, Module: Scripts, JDK17

#20477 Remove instance-tracking config from config template
  hazelcast/src/main/config-template/hazelcast-assembly.xml
  hazelcast/src/main/config-template/hazelcast-assembly.yaml
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20485 Fix type-inference compilation failure at JDK 17
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/IOBalancerStressTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#19971 [HZ-736] Add module checker step before node start
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.1.xsd
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/IntegrityCheckerConfig.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/IntegrityChecker.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/resources/hazelcast-config-5.1.json
  hazelcast/src/main/resources/hazelcast-config-5.1.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Cluster, Team: SQL

#20454 Add SqlResult's Iterator.hasNext() with wait time
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientResultTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
Labels: Source: Internal, Team: SQL, Not Release Notes content

#20487 Fix jet security tests on EE side
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#20459 Fix class caching for null ClassLoader
  hazelcast/src/main/java/com/hazelcast/internal/nio/ClassLoaderUtil.java
Labels: Source: Internal, Team: SQL, Not Release Notes content

#20476 Make HD and TS config consistent
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.1.xsd
  hazelcast/src/main/java/com/hazelcast/internal/config/AbstractDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/dynamic/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/config/dynamic/DynamicConfigYamlGenerator.java
  hazelcast/src/main/java/com/hazelcast/memory/MemorySize.java
  hazelcast/src/main/resources/hazelcast-config-5.1.json
  hazelcast/src/main/resources/hazelcast-config-5.1.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-default.yaml
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/config/dynamic/AbstractDynamicConfigGeneratorTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/common/native-memory/wrong-typing-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/common/native-memory/wrong-values-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/tiered-store/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/tiered-store/success.json
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Type: Enhancement, Source: Internal, Team: Storage, Module: TStore

#20472 Various enhancements for SqlIndexResolutionTest
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/SqlSlowIndexResolutionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20490 Put test file into right package
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/MapChunkTest.java
Labels: Team: Core, Module: IMap

#20489 Fix hanging HzStartTest
  distribution/src/bin-filemode-755/hz
  distribution/src/bin-filemode-755/hz-start
  distribution/src/main/java/com/hazelcast/commandline/ProcessExecutor.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, Module: Scripts

#20442 Use patched htrace-core4 dependency
  pom.xml
Labels: Team: Core, Source: Internal, dependencies, Module: Jet, security

#20427 Elasticsearch 7 client dependency update
  distribution/pom.xml
  extensions/elasticsearch/elasticsearch-7/ELASTIC-LICENSE-README.md
  extensions/elasticsearch/elasticsearch-7/pom.xml
  hazelcast-build-utils/src/main/resources/hazelcast-thirdparty-template.ftl
  pom.xml
Labels: Team: Core, Source: Internal, Add to Release Notes, dependencies, security

#20382 Change TaskletExecutionService Job Fail Logging Level on members
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/QueryResultProducerImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/ResultLimitReachedException.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Jet

#20473 Json-Surfer version upgrade
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonQueryFunctionIntegrationTest.java
  pom.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet

#20500 Update serialVersionUID’s of Kinesis ProcSuppliers
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/source/KinesisSourcePMetaSupplier.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/source/KinesisSourcePSupplier.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, Module: Jet

#20304 Prerequisites for tiered-store entry processor
  hazelcast/src/main/java/com/hazelcast/internal/partition/MigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/BaseMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/FinalizeMigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/MigrationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/NotifiableIterator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunk.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunkContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/CountingMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/OperationRunner.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Type: Enhancement, Priority: High, Source: Internal, Estimation: S, Team: Storage, severity:high, Module: TStore

#20499 Update getEntryView method javaDoc
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
Labels: Team: Documentation, Team: Core, Source: Internal, Module: IMap, Type: Documentation

#19493 Async action really async
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/InvocationBuilder.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationBuilderImpl.java
Labels: Type: Defect, Team: Core, Source: Community, Module: Invocation System

#20512 Prerequisite for tiered store lock support
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
Labels: Type: Enhancement, Priority: Medium, Source: Internal, Estimation: S, Team: Storage, Module: TStore

#20508 Update OWASP supressions and upgrade vulnerable dependencies
  owasp-check-suppressions.xml
  pom.xml
Labels: Team: Core, Source: Internal, Module: Security, dependencies

#20514 Fix SqlErrorTest.testTimeout failure
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorClientTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorTest.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlStatement.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20458 Remove elasticsearch-5 module [HZ-819]
  extensions/elasticsearch/elasticsearch-5/pom.xml
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticClients.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticSinkBuilder.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticSinks.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticSourceBuilder.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/ElasticSources.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticCatClient.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceConfiguration.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourceP.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePSupplier.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/RetryUtils.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/impl/Shard.java
  extensions/elasticsearch/elasticsearch-5/src/main/java/com/hazelcast/jet/elastic/package-info.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/AuthElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/AuthElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/Elastic5SerializableTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticClientsTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticSourceBuilderTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalClusterElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/impl/ElasticCatClientTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplierTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/java/com/hazelcast/jet/elastic/impl/ElasticSourcePTest.java
  extensions/elasticsearch/elasticsearch-5/src/test/resources/log4j2.xml
  extensions/elasticsearch/elasticsearch-5/src/test/resources/mock_es_responses/es2node_nodes.json
  extensions/elasticsearch/elasticsearch-5/src/test/resources/mock_es_responses/es2node_shards.json
  extensions/elasticsearch/elasticsearch-5/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  extensions/pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Add to Release Notes, Module: Jet

#20506 Fix iterator visibility
  hazelcast/src/main/java/com/hazelcast/map/impl/MapChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunk.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunkContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapNearCacheStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationOperation.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#20527 Fix the issue on deserialization of kinesis source [HZ-815]
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/KinesisSources.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content, Module: Jet

#20475 Remove code for 5.0 in SQL code
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClusterVersionCheckTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#20530 Don't run Kinesis tests when Docker is not available
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#20538 Rename expiry-system interface
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunkContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StorageSCHM.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystem.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystemIf.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystemImpl.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: IMap

#20537 [HZ-843] [HZ-855] Document run-ee-tests and run-s3-tests trigger phrases
  README.md
Labels: Team: Core, Source: Internal

#20509 Extend XmlUtil
  hazelcast/src/main/java/com/hazelcast/internal/util/XmlUtil.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#20520 Revert "Make Compact format little endian"
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InternalSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/ByteArrayInputOutputFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/UnsafeInputOutputFactory.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingSerializationService.java
Labels: Team: Client, Source: Internal, Module: Serialization

#20555 Fix SqlErrorTest.testCancel failure
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorAbstractTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL

#20556 Fix NPE in getAllConnections
  hazelcast/src/main/java/com/hazelcast/internal/nio/Connection.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content
