Repository hazelcast/hazelcast, pull requests merged in 2022-12, with the labels that each got.

#22955 Fix test timeout HazelcastProxyFactoryTest.testProxyHazelcastInstance…
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastStarterTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/PatchLevelCompatibilityTest.java
  pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Maven build

#23018 Return false instead of throwing in OperationHandler#send() [HZ-977] (#22998) [5.2.z]
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundOperationHandler.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Invocation System, Not Release Notes content

#23017 Refactor DynamicMapConfigTest [HZ-960] (#22899) [5.2.z]
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content

#22970 Prevent multiple search statement
  hazelcast/src/main/java/com/hazelcast/query/impl/TypeConverters.java
Labels: Type: Enhancement, Team: Core, Source: Community, Module: Query, Not Release Notes content

#23016 Fix port number verification in DelegatingAddressPickerTest.testPickAddress_fromNetworkConfig [HZ-1833]
  hazelcast/src/test/java/com/hazelcast/instance/impl/DelegatingAddressPickerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Config, Not Release Notes content

#23020 Fix little endian jet related issues [HZ-1783] [HZ-1793] [HZ-1800] (#22941) [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/serialization/InternalSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ExplodeSnapshotP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImpl.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingSerializationService.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, constant-test-failure

#23021 Increase error tolerance in CardinalityEstimatorStressTest [HZ-1799] (#22967) [5.2.z]
  hazelcast/src/test/java/com/hazelcast/cardinality/CardinalityEstimatorStressTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: CardinalityEstimator, Not Release Notes content, constant-test-failure

#23023 Add little endian object to CompatibilitySerializationServiceTest [HZ-1824] (#23015) [5.2.z]
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/CompatibilitySerializationServiceTest.java
  hazelcast/src/test/resources/testHz3ObjectLittleEndian
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Serialization, Not Release Notes content

#23025 Use non-default multicast port in ClientToMemberDiscoveryTest [5.2.z] [API-1660]
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/MulticastDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/impl/MulticastDiscoverySender.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientDiscoverySpiTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/ClientToMemberDiscoveryTest.java
  hazelcast/src/test/resources/hazelcast-client-multicast-plugin-non-default-port.xml
  hazelcast/src/test/resources/hazelcast-multicast-plugin-non-default-port.xml
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal

#23036 Queue priority test fix [HZ-1096]
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueuePriorityTest.java
Labels: Team: Core, Type: Test-Failure, Module: IQueue, Forwardport, Not Release Notes content

#23035 Fix port number verification in DelegatingAddressPickerTest.testPickAddress_fromNetworkConfig [HZ-1833] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/instance/impl/DelegatingAddressPickerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Config, Not Release Notes content

#23034 Fix test timeout HazelcastProxyFactoryTest.testProxyHazelcastInstance [5.2.z]
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastStarterTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/PatchLevelCompatibilityTest.java
  pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Maven build

#23019 Use correct endian in MulticastDeserializationTest [HZ-1822] (#22977) [5.2.z]
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O, Not Release Notes content, constant-test-failure

#22694 stabilize TenantControl test one more time
  hazelcast/src/test/java/com/hazelcast/spi/tenantcontrol/TenantControlTest.java
Labels: Source: Community

#22981 Mention about the possibility of TargetNotMemberException in the PN Counter documentation [5.2.z] [API-1654]
  hazelcast/src/main/java/com/hazelcast/crdt/pncounter/PNCounter.java
  hazelcast/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterTest.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal, Type: Documentation

#22982 Mention about the possibility of TargetNotMemberException in the PN Counter documentation [5.1.z] [API-1654]
  hazelcast/src/main/java/com/hazelcast/crdt/pncounter/PNCounter.java
  hazelcast/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterTest.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal, Type: Documentation

#23037 Fix timeout failure in SqlAvroTest.test_topLevelFieldExtraction [HZ-1841]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet, Team: Platform

#23007 Skip assert in TestSourcesTest when long hiccup is recorded [HZ-1832]
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
  hazelcast/src/test/java/com/hazelcast/test/jitter/JitterRule.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22996 Use TestHazelcastFactory in OrderedProcessingMultipleMemberTest [HZ-1827]
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/OrderedProcessingMultipleMemberTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22997 Use TestHazelcastFactory in OrderedProcessingMultipleMemberTest [HZ-827] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/OrderedProcessingMultipleMemberTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23004 Improve assert in ElasticSinkBuilderTest [HZ-936] [5.2.z]
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ClientHolder.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ClientHolder.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22960 Add missing txn op steps
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/BasePutOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/KeyBasedMapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetTtlOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnPrepareOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnRollbackOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnUnlockOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnPrepareOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnRollbackOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnUnlockOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreOffloadingTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal

#23008 Skip assert in TestSourcesTest when long hiccup is recorded [HZ-1832] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
  hazelcast/src/test/java/com/hazelcast/test/jitter/JitterRule.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23052 Improve test by waiting for safe state before destroy [HZ-1849]
  hazelcast/src/test/java/com/hazelcast/client/map/ClientIndexStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure, Source: Internal

#23053 Improve test by waiting for safe state before destroy [HZ-1849] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/client/map/ClientIndexStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Team: Client, Team: Core, Type: Test-Failure

#23051 Change hazelcast-mapstore pom name to hazelcast-mapstore
  extensions/mapstore/pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23028 Add wait to complete the CP discovery [HZ-1837]
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content

#23059 Add missing txn op steps (#22960) [HZ-1819] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/BasePutOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/KeyBasedMapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetTtlOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnPrepareOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnRollbackOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnUnlockOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnPrepareOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnRollbackOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnUnlockOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreOffloadingTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal

#22995 Fix thread interrupt check in SessionAwareSemaphoreReleaseAcquiredSessionsOnFailureTest.testAcquire_shouldReleaseSessionsOnRuntimeError [HZ-1829]
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreReleaseAcquiredSessionsOnFailureTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content

#23076 Fix test by resetting all counters [5.2.z]
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#23075 Return true when old value exist
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetTtlOperation.java
  hazelcast/src/test/java/com/hazelcast/client/map/AbstractClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreOffloadingTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#23050 Fix timeout failure in SqlAvroTest.test_topLevelFieldExtraction [HZ-1841] [5.2.z]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet, Team: Platform

#23074 Fix thread interrupt check in SessionAwareSemaphoreReleaseAcquiredSessionsOnFailureTest.testAcquire_shouldReleaseSessionsOnRuntimeError [HZ-1829] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreReleaseAcquiredSessionsOnFailureTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content

#23003 Improve assert in ElasticSinkBuilderTest [HZ-936]
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ClientHolder.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ClientHolder.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSinkBuilderTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSinkTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/LocalElasticSourcesTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22921 Set the cluster connect timeout to a higher value in ClientReconnectTest [API-1653]
  hazelcast/src/test/java/com/hazelcast/client/ClientReconnectTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal

#23058 Avoid race in JobLifecycleMetricsTest [HZ-1848] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23077 Return true when old value exist [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/SetTtlOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/test/java/com/hazelcast/client/map/AbstractClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreOffloadingTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#23040 Fix test by waiting for safe state [HZ-1844]
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueueAdvancedTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IQueue

#23086 Improve test config for OverloadedConnectionsPluginTest
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/OverloadedConnectionsPluginTest.java
Labels: Type: Enhancement, Team: Core, Type: Test-Failure, Source: Internal

#23087 Set the cluster connect timeout to a higher value in ClientReconnectTest [API-1653] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/client/ClientReconnectTest.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal

#23024 Fix connection number exceeding max in WriteJdbcPTest [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23056 Fix eventual consistency in WanPublisherMigrationTest.testMigration [HZ-1853]
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanPublisherMigrationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: WAN, Not Release Notes content

#23092 Make MultiTableCacheIntegrationTest less flaky
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23095 Fix synchronization in TestAwareInstanceFactory [HZ-1855]
  hazelcast/src/test/java/com/hazelcast/test/TestAwareInstanceFactory.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#23100 Remove unused method
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
Labels: Team: Core, Type: Cleanup, Module: IMap

#23101 Remove unused method [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
Labels: Team: Core, Type: Cleanup, Module: IMap

#23098 Fix eventual consistency in WanPublisherMigrationTest.testMigration [HZ-1853] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanPublisherMigrationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: WAN, Not Release Notes content

#23089 Tolerate loss of some events in RepartitioningStressTest [HZ-1868]
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/RepartitioningStressTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning, Not Release Notes content

#23104 Fix test setup by waiting cluster formation [HZ-1870] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
Labels: Type: Test-Failure

#23105 Fix test setup by waiting cluster formation [HZ-1870] [5.1.z]
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
Labels: Type: Test-Failure

#23111 Fix negative map hits [HZ-1313] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsMultipleNodeTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Module: Metrics, Not Release Notes content

#23112 Fix negative map hits [HZ-1313] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsMultipleNodeTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Module: Metrics, Not Release Notes content

#23113 Add debug logging for migrations & indexes
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryIndexMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/LoggingIndexes.java
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Query, Not Release Notes content

#23110 Update condition for running clear expired task
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Not Release Notes content

#23107 Fix http timeout in RestLogLevelTest.testDisabledRest [HZ-1865] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: REST

#23094 Fix javadoc for setStoreMetricsAfterJobCompletion
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_MiscTest.java
Labels: Source: Internal, Team: SQL, Add to Release Notes, Type: Documentation, Module: Jet

#23120 Increase cluster merge timeout in TcpIpSplitBrainDiscoveryTest [HZ-1866]
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpSplitBrainDiscoveryTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content

#23121 Increase cluster merge timeout in TcpIpSplitBrainDiscoveryTest [HZ-1866] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpSplitBrainDiscoveryTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content

#23122 Fix misleading exception message when reading JDBC table column metadata fails
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Add to Release Notes

#23123 Fix misleading exception message when reading JDBC table column metadata fails
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Add to Release Notes

#23125 Fix migration failure in MigrationCommitTest.shouldCommitMigrationWhenSourceFailsDuringCommit [HZ-1881]
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#22884 Fix some hz-cli quirks on Windows
  distribution/src/bin-filemode-755/hz
  distribution/src/bin-filemode-755/hz-cli
  distribution/src/bin-regular/common.bat
  distribution/src/bin-regular/common.sh
  distribution/src/bin-regular/hz-cli.bat
  distribution/src/bin-regular/hz-start.bat
Labels: Type: Enhancement, Team: Client, Source: Internal, Add to Release Notes, Module: Scripts

#23134 Check node and cluster health before running each Step [HZ-1857] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/map/BackupTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#23136 Add notes about SQL-only builder to README [HZ-1874]
  README.md
Labels: Source: Internal

#23135 Fix migration failure in MigrationCommitTest.shouldCommitMigrationWhenSourceFailsDuringCommit [HZ-1881] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning, Not Release Notes content

#23147 Moving queue statistic updates to run method [5.1.z]
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/operations/OfferOperation.java
Labels: Type: Defect, Type: Test-Failure, Backport, Source: Internal, Module: IQueue, Team: SQL, Not Release Notes content

#23005 Monitor left member invocations periodically [HZ-977]
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationMonitor.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Invocation System, Not Release Notes content

#23081 Stub schema service methods before the members start in the replication tests [API-1655]
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationSlowTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationTestBase.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: Serialization

#23114 Make AbstractListenersOnReconnectTest resilient to concurrent events [API-1656]
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal

#22565 Import old MongoDB connector [HZ-1621]
  distribution/pom.xml
  extensions/mongodb/README.md
  extensions/mongodb/pom.xml
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoDBSinkBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoDBSinks.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoDBSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoDBSources.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/package-info.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/AbstractMongoDBTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoDBSinkTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoDBSourceTest.java
  extensions/pom.xml
  pom.xml
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23126 Allow retries in downloading artifacts
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
  pom.xml
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#23149 Stub schema service methods before the members start in the replication tests [API-1655] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationSlowTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationTestBase.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal, Module: Serialization

#23167 Eliminate ProxyService and rely on EventService [HZ-1920]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapPartitionAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceSegment.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapPartitionLostListenerTest.java
Labels: Type: Enhancement, Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content, Team: Platform

#22942 Send PreJoin ops from joining to master in JoinRequest [HZ-1733]
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/JoinRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/JoinRequestOp.java
  hazelcast/src/main/java/com/hazelcast/internal/services/PreJoinAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/EventService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content, Team: Platform

#23164 Include suspensionCause for JobAndSqlSummary [HZ-1350]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/JobAndSqlSummaryCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobAndSqlSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobAndSqlSummaryListMessageTaskExceptionTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
Labels: Type: Enhancement, Team: SQL, Module: Jet

#23187 Eliminate ProxyService and rely on EventService [HZ-1920] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapPartitionAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceSegment.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapPartitionLostListenerTest.java
Labels: Type: Enhancement, Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: IMap, Not Release Notes content, Team: Platform

#23188 Eliminate ProxyService and rely on EventService [HZ-1920] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapPartitionAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceSegment.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapPartitionLostListenerTest.java
Labels: Type: Enhancement, Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: IMap, Not Release Notes content, Team: Platform

#23190 Eliminate ProxyService and rely on EventService [HZ-1920] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapPartitionAwareService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceSegment.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapPartitionLostListenerTest.java
Labels: Type: Enhancement, Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: IMap, Team: Platform

#23093 ClientRegressionWithMockNetworkTest instances checks [HZ-1836]
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#23148 Block communication between instances before closing connections in CompactFormatSplitBrainTest [API-1760]
  hazelcast/src/test/java/com/hazelcast/client/ClientSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/ClientCompactSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/CompactFormatSplitBrainTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: Serialization

#23165 Relax the ClientHazelcastRunningInForkJoinPoolTest [API-1667]
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ClientHazelcastRunningInForkJoinPoolTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal

#23205 Fix issue with checking instances on parallel tests
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#22413 Minor JdbcSqlConnector improvements
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
Labels: Type: Enhancement, Team: SQL

#23204 Block communication between instances before closing connections in CompactFormatSplitBrainTest [API-1760] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/client/ClientSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/ClientCompactSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/CompactFormatSplitBrainTest.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal, Module: Serialization

#23178 Use suspend-on-failure for streaming jobs by default [HZ-1648]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMetadataInJobConfigTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, SQL-only

#23174 Add more tests for updating member-list by REST call [HZ-1440]
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpSplitBrainDiscoveryTest.java
Labels: Team: Core, Source: Internal, Not Release Notes content

#23176 Monitor left member invocations periodically [HZ-977] (#23005) [5.2.z]
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationMonitor.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Invocation System, Not Release Notes content

#23220 Add assumeDockerEnabled in AbstractMongoDBTest to ignore tests on Windows [HZ-1926]
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/AbstractMongoDBTest.java
Labels: Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23195 Fix auto force start [HZ-1768]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: Hot Restart, Not Release Notes content, Team: Platform

#23224 Fix auto force start [HZ-1768] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Hot Restart, Not Release Notes content, Team: Platform

#23225 Fix auto force start [HZ-1768] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Hot Restart, Team: Platform

#23221 Fix cancel-with-snapshot with suspend-on-failure
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: Type: Defect, Team: SQL, Module: Jet

#23218 Fix building maven command for Windows OS [HZ-1925]
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#23215 Fix test by waiting size eventually correct [5.2.z]
  hazelcast/src/test/java/com/hazelcast/map/merge/MapSplitBrainStressTest.java
Labels: Team: Core, Type: Test-Failure, Module: IMap

#23216 Fix test by waiting size eventually correct
  hazelcast/src/test/java/com/hazelcast/map/merge/MapSplitBrainStressTest.java
Labels: Team: Core, Type: Test-Failure, Module: IMap

#23115 Initial `tpc` directory cleanup
  hazelcast/src/main/java/com/hazelcast/internal/bootstrap/AltoEventloopThread.java
  hazelcast/src/main/java/com/hazelcast/internal/bootstrap/ClientNioAsyncReadHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/bootstrap/TpcServerBootstrap.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/AsyncServerSocket.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/AsyncSocket.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/Eventloop.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/Fut.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/FutAllocator.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/TpcEngine.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/nio/IOVector.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/nio/NioAsyncServerSocket.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/nio/NioAsyncSocket.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/util/Util.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/AsyncSocketTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/EventloopTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/Eventloop_Configuration_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/Eventloop_Unsafe_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/PromiseTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/TpcEngineTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/TpcEngine_ConfigurationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/nio/NioAsyncSocketTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/nio/NioAsyncSocket_IntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/nio/NioAsyncSocket_LargePayloadTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/nio/NioEventloopTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/nio/NioEventloop_Configuration_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/nio/NioEventloop_Unsafe_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/util/UtilTest.java
Labels: Type: Enhancement, Source: Internal

#23138 Reduce code duplication in ExpressionUtil
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/ExpressionUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/RowProjector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SingleIntRow.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SingleLongRow.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/JetSqlRow.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content

#23223 Backport: Stabilize TenantControl test (#22694) - 5.2.z branch
  hazelcast/src/test/java/com/hazelcast/spi/tenantcontrol/TenantControlTest.java
Labels: Source: Community

#23233 Fix SQL catalog default async backup count [5.2.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
Labels: Type: Defect, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#23232 Fix SQL catalog default async backup count
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#23241 Use Elasticsearch docker images from their official repository
  extensions/elasticsearch/elasticsearch-6/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
Labels: Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23102 Add registration on the recordStore
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
Labels: Type: Test-Failure, Priority: High, Source: Internal, Estimation: S, Team: Storage, severity:high, to-jira, Module: TStore

#23259 TPC: Introduce various fixes for the TPC branch
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderTest.java
Labels: Type: Defect, Source: Internal

#23264 Grammar fixes
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/EventPublishingService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventProcessor.java
Labels: Team: Core

#22360 Use Lazy deserialization for queries with nested compact & portable API-1553
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/RowProjector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvRowProjector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/CompactNestedFieldsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/PortableNestedFieldsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/SqlLazyDeserializationTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/GenericRecordQueryReader.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/CompactGetter.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/Extractors.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/PortableGetter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanRow.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ColumnExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/Expression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/FieldAccessExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/GenericFieldExtractor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/extract/QueryExtractor.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/Row.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Serialization, Team: SQL, Not Release Notes content
