Repository hazelcast/hazelcast, pull requests merged in 2022-11, with the labels that each got.

#22636 [CN-568] [CN-525] Get AZ from metadata endpoint for ECS
  hazelcast/src/main/java/com/hazelcast/aws/AwsClientConfigurator.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsEcsClient.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsMetadataApi.java
  hazelcast/src/main/java/com/hazelcast/aws/Environment.java
  hazelcast/src/main/java/com/hazelcast/aws/RegionValidator.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsClientConfiguratorTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsClientTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsMetadataApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/RegionValidatorTest.java
Labels: Type: Defect, Backport, Source: Internal, Module: Discovery SPI, Team: Cloud Native

#22637 Wait for RUNNING jobs to finish before next test [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22660 [CN-543] Fix EC2 API DescribeNetworkInterfaces filter (#22488)
  hazelcast/src/main/java/com/hazelcast/aws/AwsEc2Api.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsCredentialsProviderTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsDiscoveryStrategyTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ApiTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ClientTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsApiTest.java
Labels: Type: Defect, Backport, Source: Internal, Module: Discovery SPI, Team: Cloud Native

#22658 Java 19 test fixes
  hazelcast-archunit-rules/src/main/java/com/hazelcast/test/archunit/ArchUnitRules.java
  hazelcast-archunit-rules/src/test/java/com/hazelcast/test/archunit/ArchUnitRulesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/HazelcastJsonUpsertTargetTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/JsonUpsertTargetTest.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationIssueTest.java
  pom.xml
Labels: Type: Test-Failure, Source: Internal, Team: Platform

#22685 Force higher version of JNA for M1 compatibility
  hazelcast/pom.xml
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#22689 Fix serialization of MemberInfo
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
Labels: Team: Core, Source: Internal, Module: CP Subsystem, Team: SQL, Not Release Notes content, Team: Platform

#22680 Update maven wrapper
  .gitignore
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: Source: Community

#22684 Handle RejectedExecutionException for StepRunner
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/Step.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplierTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#22700 Update protobuf to 3.19.6 [5.1.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22701 Update woodstox-core to 6.4.0
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22698 Avoid logging errors for metricsJournal reads with a wrong sequence [MC-1177]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ConcurrentArrayRingbuffer.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ConcurrentArrayRingbufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#22699 Avoid logging errors for metricsJournal reads with a wrong sequence [MC-1177][5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ConcurrentArrayRingbuffer.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ConcurrentArrayRingbufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#22705 Update woodstox-core to 6.4.0 [5.2.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22692 Improve isTechnicalCancellationException check [HZ-1698]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/LogExceptionSqlTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22708 Update woodstox-core to 6.4.0 [5.0.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22707 Avoid logging errors for metricsJournal reads with a wrong sequence [MC-1177][5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/managementcenter/ConcurrentArrayRingbuffer.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ConcurrentArrayRingbufferTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Module: Metrics, Not Release Notes content

#22646 No offload for WB store ops
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ClearOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ContainsKeyOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/DeleteOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/GetAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/GetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapOpStep.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MergeOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MultipleEntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/RemoveIfSameOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/RemoveOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnDeleteOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnLockAndGetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnSetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/Step.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Module: IMap

#22676 Add sleep to give nodes time to finish joining operations [HZ-1685]
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NioChannelMemoryLeakTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O, Team: Platform

#22693 Improve isTechnicalCancellationException check [HZ-1698] [5.2.z]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/LogExceptionSqlTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22702 Handle RejectedExecutionException for StepRunner
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/Step.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplierTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#21268 Queue priority test fix [HZ-1096]
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/QueuePriorityTest.java
Labels: Type: Test-Failure

#22715 No offload for WB store ops (#22646)
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ClearOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ContainsKeyOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/DeleteOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/GetAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/GetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapOpStep.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MergeOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MultipleEntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/RemoveIfSameOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/RemoveOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnDeleteOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnLockAndGetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnSetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/Step.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Module: IMap

#22305 Fixed ClearBackupOperation [HZ-1210], BACKPORT
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/EventJournalWriterMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Type: Defect, Backport, Priority: High, Estimation: M, Module: IMap, Team: Storage, severity:high

#22423 Backport5.0.z/clearbackup operation [BACKPORT] [HZ-1210]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/EventJournalWriterMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Type: Defect, Backport, Priority: High, Source: Community, Estimation: S, Module: IMap, Team: Storage, severity:high

#22406 Fixed ClearBackupOperation [HZ-1210] [BACKPORT] (#22082)
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/CompositeMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/EventJournalWriterMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/JsonMetadataMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MutationObserver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Type: Defect, Backport, Priority: High, Source: Community, Estimation: S, Module: IMap, Team: Storage, severity:high

#22703 Improve Jackson dependency declaration [5.1.z]
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/kinesis/pom.xml
  hazelcast-sql/pom.xml
  hazelcast/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22706 Update woodstox-core to 6.4.0 [5.1.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22690 Add eventually waiting for the 'MemberLeftException' exception [HZ-1708]
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/BasicClusterStateTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Team: Platform

#22691 Move JNA version change to dependency management, instead of providing normal dependency
  hazelcast/pom.xml
  pom.xml
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#22735 Fix LogExceptionSqlTest prints exception
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/LogExceptionSqlTest.java
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22745 Fix LogExceptionSqlTest prints exception [5.2.z]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/LogExceptionSqlTest.java
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22711 Fix closing datastores [5.2.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/AbstractJdbcSqlConnectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreService.java
  hazelcast/src/main/java/com/hazelcast/datastore/JdbcDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/CloseableDataSource.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/JdbcSinkBuilder.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22727 Correct Javadoc on CacheConfiguration.setManagementEnabled(boolean) [HZ-1716]
  hazelcast/src/main/java/com/hazelcast/config/AbstractCacheConfig.java
  hazelcast/src/main/java/com/hazelcast/config/CacheConfiguration.java
Labels: Team: Core, Type: Cleanup, Source: Community, Module: ICache, Not Release Notes content

#22734 Adding 5.1.z release notes including 5.1.5
  hazelcast/src/main/resources/release_notes.txt
Labels: Team: Documentation, Type: Documentation

#22737 Convert HotRestartTriggerBackupMessageTask and ShutdownClusterMessageTask to async message tasks
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Invocation System, Team: Management Center, Team: Cloud Native

#22749 Convert HotRestartTriggerBackupMessageTask and ShutdownClusterMessageTask to async message tasks [5.2.1]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
Labels: Team: Client, Backport, Source: Internal, Module: Invocation System, Team: Management Center, Team: Cloud Native

#22718 Make cluster tests less flaky [HZ-1714]
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/test/AfterClassesStatement.java
Labels: Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content, Team: Platform

#22761 Convert HotRestartTriggerBackupMessageTask and ShutdownClusterMessageTask to async message tasks [5.1.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Module: Invocation System, Team: Management Center, Team: Cloud Native

#22762 Convert HotRestartTriggerBackupMessageTask and ShutdownClusterMessageTask to async message tasks [5.0.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Module: Invocation System, Team: Management Center, Team: Cloud Native

#22750 Convert HotRestartTriggerBackupMessageTask and ShutdownClusterMessageTask to async message tasks [5.2.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
Labels: Team: Client, Backport, Source: Internal, Module: Invocation System, Team: Management Center, Team: Cloud Native

#22756 Send response to remove offload state
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateCheckerTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning

#22709 Fix ClientScheduledExecutorServiceSlowTest.schedule_withLongSleepingCallable_blockingOnGet [API-1658]
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceSlowTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: IScheduledExecutor

#22764 Proper data structure to store DbField for JDBC
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
Labels: Type: Cleanup, Team: SQL

#22704 Update comments with closeIsCooperative method
  hazelcast/src/main/java/com/hazelcast/jet/core/Processor.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22768 Send response to remove offload state (#22756) [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateCheckerTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning

#22769 Send response to remove offload state (#22756)
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateCheckerTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning

#22766 Send response to remove offload state (#22756)
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateCheckerTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning

#22767 Send response to remove offload state (#22756) [5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/PartitionReplicaStateCheckerTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceAccessor.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning

#22751 Nice exception for stream-to-batch JOIN with JDBC batch source [HZ-1560]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/JoinLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcJoinTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, ux-defect

#22687 Fix JobTimeoutTest.when_jobIsResumedAndExceedsTimeout_jobIsCancelled [HZ-1707]
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTimeoutTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22792 Avoid state sharing for test methods and sub-classes of SqlOrderByTest
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
Labels: Type: Test-Failure, Source: Internal, Team: Storage, Module: TStore

#22775 Fix tstore tests failing with low native memory [HZ-1729]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
Labels: Type: Test-Failure, Source: Internal, Team: Storage, Module: TStore

#22776 Fix tstore tests failing with low native memory [HZ-1729] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
Labels: Type: Test-Failure, Source: Internal, Team: Storage, Module: TStore

#22790 Fix comment in test code
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22798 Delete flaky test, better approach in EE repo [HZ-1749]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/SearchableExpressionCompatibilityTest.java
  hazelcast-sql/src/test/resources/dag_ids_5.1.3.base64
  hazelcast-sql/src/test/resources/exec_plan_ids_5.1.3.base64
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22725 Init cached partitions [HZ-1715]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultSizeLimiter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregationMemberBounceTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/RecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryResultSizeLimiterTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/JsonIndexIntegrationTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: IMap

#22783 Make external datastore tests stable [HZ-1746]
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImplTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22784 Make external datastore tests stable [HZ-1746] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImplTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22799 Avoid state sharing for test methods and sub-classes of SqlOrderByTest
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: Storage, Module: TStore

#22801 Refresh cached partitions [HZ-1715] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultSizeLimiter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregationMemberBounceTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/RecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryResultSizeLimiterTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/JsonIndexIntegrationTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal

#20635 Update surefire and failsafe plugins to 3.0.0-M7
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content

#22804 Update Elastic to 7.17.7
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticCatClient.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22393 Upgrade jackson to 2.14.0 [4.1.z]
  hazelcast-sql-core/pom.xml
  pom.xml
Labels: Type: Defect

#22808 Convert HotRestartTriggerBackupMessageTask and ShutdownClusterMessageTask to async message tasks [4.1.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Module: Invocation System, Team: Management Center, Team: Cloud Native

#22802 Refresh cached partitions [HZ-1715] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultSizeLimiter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregationMemberBounceTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/RecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryResultSizeLimiterTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/JsonIndexIntegrationTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal

#22491 Shade jackson-databind in SQL jar [5.0.z]
  hazelcast-sql/pom.xml
Labels: Type: Defect, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22810 Handle null values of AddMapConfigMessageTask's nullable fields [5.0.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/MapStoreConfigHolder.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTaskTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#22807 Convert HotRestartTriggerBackupMessageTask and ShutdownClusterMessageTask to async message tasks [4.2.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/HotRestartTriggerBackupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/ShutdownClusterMessageTask.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Module: Invocation System, Team: Management Center, Team: Cloud Native

#22811 Handle null values of AddMapConfigMessageTask's nullable fields [4.2.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/MapStoreConfigHolder.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTaskTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#22821 Handle null values of AddMapConfigMessageTask's nullable fields
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/MapStoreConfigHolder.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTaskTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#22657 Fix MemberReconnectionStressTest [HZ-1617]
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/MemberReconnectionStressTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22814 Download Hazelcast 3 jar in build [HZ-1753] [5.2.z]
  pom.xml
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22710 Fix race in NonSmartClientTest
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22793 Make 'MetadataRaftGroupSnapshot' class immutable since it is stored in the RaftLog snapshot [HZ-1398]
  hazelcast/src/main/java/com/hazelcast/cp/internal/MembershipChangeSchedule.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupSnapshot.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/resources/log4j2.xml
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content, Team: Platform

#22781 Fix execute rollback in WriteJdbcP if SQLException is thrown [HZ-1744]
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
Labels: Source: Internal, Team: Platform

#22827 Fix race in NonSmartClientTest [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
Labels: Type: Test-Failure, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22836 Fix com.hazelcast.multimap.LocalMultiMapStatsTest.testPutAllAndHitsGeneratedKey [HZ-1760]
  hazelcast/src/test/java/com/hazelcast/multimap/LocalMultiMapStatsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: MultiMap

#22391 Upgrade jackson-databind to 2.14.0 [4.2.z]
  pom.xml
Labels: Type: Defect

#22826 Update protobuf to 21.9
  extensions/grpc/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/python/src/main/resources/jet_to_python_init.sh
  extensions/python/src/main/resources/jet_to_python_pb2.py
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22840 Update protobuf to 3.19.6 [5.0.z]
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#22837 Fix @Category annotations on tests
  hazelcast/src/test/java/com/hazelcast/cache/CacheListenerTest.java
  hazelcast/src/test/java/com/hazelcast/cache/CachingProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/CacheClientListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCachingProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapPartitionIteratorBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/config/replacer/AbstractPbeReplacerTest.java
  hazelcast/src/test/java/com/hazelcast/config/replacer/EncryptionReplacerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedMultiendpointTest.java
Labels: Team: Core, Type: Test-Failure, Type: Cleanup, Source: Internal, Not Release Notes content

#22780 Define close as cooperative for eligible Processors #18730
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/WriteMapP.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/sink/KinesisSinkP.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/source/KinesisSourceP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/LateItemsDropP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/SqlHashJoinP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ExplodeSnapshotP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/AsyncHazelcastWriterP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/test/AssertionP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ExpectNothingP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/GroupP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/HashJoinCollectP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/HashJoinP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/InsertWatermarksP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/SortP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/TransformBatchedP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/TransformStatefulP.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content

#22806 Await MapStore initialization before tests [HZ-1695]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content

#22835 Optimizer buffers for single watermark S2S JOIN [HZ-1755]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinBuffer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinHeapBuffer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinListBuffer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPInnerTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet

#22846 Make 'MetadataRaftGroupSnapshot' class immutable since it is stored in the RaftLog snapshot [HZ-1398] [4.2.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/MembershipChangeSchedule.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupSnapshot.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content, Team: Platform

#22844 Defensive changes in DeferredValue
  hazelcast/src/main/java/com/hazelcast/cache/impl/DeferredValue.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: ICache, Not Release Notes content

#22859 Fix com.hazelcast.multimap.LocalMultiMapStatsTest.testPutAllAndHitsGeneratedKey [HZ-1760]
  hazelcast/src/test/java/com/hazelcast/multimap/LocalMultiMapStatsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: MultiMap

#22739 Provide error message for non-watermarked streams join [HZ-1735]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/SqlStreamToStreamJoinTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#22712 Separate SQL design documents and documentation
  docs/design/sql/02-operator-interface.md
  docs/design/sql/03-network-protocol.md
  docs/design/sql/04-parallel-execution.md
  docs/design/sql/09-optimizer.md
  docs/design/sql/10-distributed-scan.md
  docs/sql/01-query-optimizer.md
  docs/sql/02-type-system.md
  docs/sql/03-plan-caching.md
  docs/sql/04-expressions.md
Labels: Source: Internal, Team: SQL, Type: Documentation

#22843 Make 'MetadataRaftGroupSnapshot' class immutable since it is stored in the RaftLog snapshot [HZ-1398] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/MembershipChangeSchedule.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupSnapshot.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content, Team: Platform

#22842 Make 'MetadataRaftGroupSnapshot' class immutable since it is stored in the RaftLog snapshot [HZ-1398] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/MembershipChangeSchedule.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupSnapshot.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
  hazelcast/src/test/resources/log4j2.xml
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content, Team: Platform

#22845 Make 'MetadataRaftGroupSnapshot' class immutable since it is stored in the RaftLog snapshot [HZ-1398] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/MembershipChangeSchedule.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupSnapshot.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAddRemoveTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content, Team: Platform

#22861 Fix com.hazelcast.durableexecutor.DurableExecutorServiceTest.durable_executor_collects_statistics_when_stats_enabled [HZ-1765]
  hazelcast/src/test/java/com/hazelcast/durableexecutor/DurableExecutorServiceTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IExecutor

#22746 Fix JSON/VARCHAR comparison in SQL [HZ-1706] #22671
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeCoercion.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlJsonTypeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/validate/RowAssignmentTypeCoercionTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes

#22870 Make cluster tests less flaky [HZ-1714] (#22718) [5.1.z]
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/test/AfterClassesStatement.java
Labels: Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content, Team: Platform

#22880 Downgrade version back to 4.2.6-SNAPSHOT
  distribution/pom.xml
  hazelcast-all/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast-sql-core/pom.xml
  hazelcast-sql/pom.xml
  hazelcast/pom.xml
  modulepath-tests/pom.xml
  pom.xml
Labels: Source: Internal

#22869 Make cluster tests less flaky [HZ-1714] (#22718) [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/test/AfterClassesStatement.java
Labels: Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content, Team: Platform

#22519 Extract limit/offset aspect from SortPhysicalRel [HZ-1601]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AssignDiscriminatorToScansRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CalcLimitTransposeRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/LimitPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlLimitTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/WatermarkKeysAssignerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexFromSearchFilterTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/LimitOffsetScanOptimizerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#22872 fixed a very small typo in CompactUtil.java:207
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactUtil.java
Labels: Team: Client, Source: Community, Module: Serialization

#22813 Download Hazelcast 3 jar in build [HZ-1753]
  pom.xml
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22871 Make cluster tests less flaky [HZ-1714] (#22718) [5.0.z]
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/test/AfterClassesStatement.java
Labels: Type: Test-Failure, Source: Internal, Module: Cluster, Add to Release Notes, Team: Platform

#22890 Use custom Hikari pool names to improve testability [HZ-1746]
  hazelcast/src/main/java/com/hazelcast/datastore/JdbcDataStoreFactory.java
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/HikariTestUtil.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22895 Fix setReuseAddress should be called before bind in MulticastDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/multicast/MulticastDiscoveryStrategy.java
Labels: Type: Defect, Source: Internal, Module: Discovery SPI, Team: Platform

#22898 Adding 4.2.6 release notes along with all 4.2.z series.
  hazelcast/src/main/resources/release_notes.txt
Labels: Team: Documentation, Type: Documentation

#22899 Refactor DynamicMapConfigTest [HZ-960]
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content

#22897 Use custom Hikari pool names to improve testability [HZ-1746] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/datastore/JdbcDataStoreFactory.java
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/HikariTestUtil.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22908 Revert "Update protobuf to 21.9 (#22826) [5.0.z] (#22881)" [5.0.4]
  extensions/grpc/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/python/src/main/resources/jet_to_python_init.sh
  extensions/python/src/main/resources/jet_to_python_pb2.py
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22865 Print exception in MulticastDiscoveryStrategyDeserializationTest
  hazelcast/src/test/java/com/hazelcast/spi/discovery/multicast/MulticastDiscoveryStrategyDeserializationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O, Not Release Notes content

#22900 Add unintentionally removed line back
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#22909 Revert "Update protobuf to 21.9 (#22826) [5.0.z] (#22881)" [5.0.z]
  extensions/grpc/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/python/src/main/resources/jet_to_python_init.sh
  extensions/python/src/main/resources/jet_to_python_pb2.py
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Module: Jet, Team: Platform

#22765 Fix GenericMapStore showing UndefinedErrorCodeException on the client-side [HZ-1737]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/HazelcastSqlException.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryException.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Team: Platform

#22912 Add longer expiry timeout [HZ-1772]
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
Labels: Type: Test-Failure

#22914 Isolate `*SqlOrderByTest` from `SimpleTestInClusterSupport` [HZ-1697]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Storage, Module: TStore

#22868 Wait for database to be up before returning URL
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/H2DatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MySQLDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/PostgresDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/TestDatabaseProvider.java
Labels: Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content, Team: Platform

#22915 Fix MemberReconnectionStressTest.test [HZ-1617] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/MemberReconnectionStressTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#22913 Fix StreamKafkaPTest.when_eventsInAllPartitions_then_watermarkOutputImmediately [HZ-1773]
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Type: Test-Failure, Source: Internal, Module: Jet, Team: Platform

#22867 Use client drivers in ClientQueryCacheBounceTest [API-1661]
  hazelcast/src/test/java/com/hazelcast/client/map/ClientQueryBounceTest.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: Query

#22782 Fix MultiTableCacheIntegrationTest
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22919 Fix StreamKafkaPTest.when_eventsInAllPartitions_then_watermarkOutputImmediately [HZ-1773] [5.2.z]
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Type: Test-Failure, Source: Internal, Module: Jet, Team: Platform

#22901 Make ClientXATest use mock network API-1657
  hazelcast/src/test/java/com/hazelcast/client/txn/ClientXATest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Estimation: S, Module: Transactions, Not Release Notes content

#22857 Use assertTrueEventually in AuthenticationInformationLeakTest API-1652
  hazelcast/src/test/java/com/hazelcast/client/AuthenticationInformationLeakTest.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: Invocation System, Module: Security, Not Release Notes content

#22728 Disallow paging predicate in some IMap methods API-1304
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/DefaultQueryCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PagingPredicateImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PredicateUtils.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientPagingPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheTest.java
Labels: Type: Enhancement, Team: Client, Team: Core, Source: Internal, Module: IMap, Not Release Notes content

#22829 Guard pip install with flock [HZ-1756]
  extensions/python/src/main/resources/jet_to_python_init.sh
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22934 Guard pip install with flock [HZ-1756] [5.2.z]
  extensions/python/src/main/resources/jet_to_python_init.sh
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22938 Remove left over unlock line from TxnLockAndGetOpSteps [HZ-1797]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnLockAndGetOpSteps.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreWithTransactionsTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Source: Community

#22939 Remove left over unlock line from TxnLockAndGetOpSteps [HZ-1797] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnLockAndGetOpSteps.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreWithTransactionsTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Defect, Team: Core, Source: Internal, Source: Community, Add to Release Notes

#22930 Fix assert in LocalIndexStatsTest.testInsertsTracking [HZ-1792]
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Module: Query, Not Release Notes content

#22641 Fix throttling interval calculation for SQL [HZ-1413]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/FullScan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/WatermarkThrottlingFrameSizeCalculator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/common/CalcIntoScanRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullScanLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/WatermarkLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/WatermarkRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AssignDiscriminatorToScansRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlImposeOrderFunctionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/WatermarkThrottlingFrameSizeCalculatorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRuleTest.java
Labels: Source: Internal, Team: SQL

#22936 Fix assert in TcpServerConnectionManagerMetricsTest.testUnifiedEndpontManagerMetricsCollectedOnce [HZ-1795]
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerMetricsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Metrics, Not Release Notes content

#22951 Fix assert in LocalIndexStatsTest.testInsertsTracking [HZ-1792] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Module: Query, Not Release Notes content

#22947 Fix flaky HibernateIT tests [HZ-1791]
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/hibernate/HibernateIT.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#22964 Fix flaky HibernateIT tests [HZ-1791] (#22947) [5.2.z]
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/hibernate/HibernateIT.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#22935 Use client drivers in ClientQueryCacheBounceTest [5.2.z] [API-1661]
  hazelcast/src/test/java/com/hazelcast/client/map/ClientQueryBounceTest.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal, Module: Query

#22841 Fix com.hazelcast.xa.HazelcastXATest.testParallel [HZ-1763]
  hazelcast/src/test/java/com/hazelcast/xa/HazelcastXATest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Transactions, Not Release Notes content

#22809 Handle null values of AddMapConfigMessageTask's nullable fields [5.1.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/MapStoreConfigHolder.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTaskTest.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal

#22969 Wait for database to be up before returning URL [5.2.z]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/H2DatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MySQLDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/PostgresDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/TestDatabaseProvider.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22849 Upgrade Calcite to 1.32.0
  distribution/pom.xml
  extensions/hadoop-dist/pom.xml
  hazelcast-sql/pom.xml
  pom.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes

#22959 Fix assert in TcpServerConnectionManagerMetricsTest.testUnifiedEndpoinManagerMetricsCollectedOnce [HZ-1795] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManagerMetricsTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Metrics, Not Release Notes content

#22962 Wait for mapping creation where possible and avoid doubled init invocation
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
Labels: Type: Defect, Source: Internal, Module: IMap, Not Release Notes content, Team: Platform

#22963 Mention about the possibility of TargetNotMemberException in the PN Counter documentation [API-1654]
  hazelcast/src/main/java/com/hazelcast/crdt/pncounter/PNCounter.java
  hazelcast/src/test/java/com/hazelcast/client/pncounter/ClientPNCounterTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Type: Documentation

#22945 Increase Kafka timeouts in WriteKafkaPTest
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/DockerizedKafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/WriteKafkaPTest.java
  hazelcast/src/main/java/com/hazelcast/internal/util/OsHelper.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22952 Reset migration listener counters on migration start [HZ-1771]
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure

#22953 Reset migration listener counters on migration start [HZ-1771] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure

#22983 Enhance assertion message and rewrite equation with parenthesis [HZ-1825]
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArrayBase.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Hot Restart

#22988 Fix @Category annotations on tests [5.2.z]
  hazelcast/src/test/java/com/hazelcast/cache/CacheListenerTest.java
  hazelcast/src/test/java/com/hazelcast/cache/CachingProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/CacheClientListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/ClientCachingProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapPartitionIteratorBouncingTest.java
  hazelcast/src/test/java/com/hazelcast/config/replacer/AbstractPbeReplacerTest.java
  hazelcast/src/test/java/com/hazelcast/config/replacer/EncryptionReplacerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/MemcachedMultiendpointTest.java
Labels: Team: Core, Type: Test-Failure, Type: Cleanup, Source: Internal, Not Release Notes content

#22994 Enhance assertion message and rewrite equation with parenthesis [HZ-1825][5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/util/hashslot/impl/HashSlotArrayBase.java
Labels: Type: Test-Failure

#22999 Fix assertion in HibernateIT [HZ-1791]
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/hibernate/HibernateIT.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#22998 Return false instead of throwing in OperationHandler#send() [HZ-977]
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundOperationHandler.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Invocation System, Not Release Notes content

#22956 Extend invokeOnStableClusterParallel [HZ-1416]
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/schema/SchemaReplicator.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ParallelOperationInvoker.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/OperationService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ParallelOperationInvokerTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Invocation System, Not Release Notes content

#23001 Init cache partitions [HZ-1715][4.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryResultSizeLimiter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/MapScanExecIterator.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast/src/test/java/com/hazelcast/aggregation/AggregationMemberBounceTest.java
  hazelcast/src/test/java/com/hazelcast/json/MapIndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/RecordStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryResultSizeLimiterTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryRunnerTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/JsonIndexIntegrationTest.java
Labels: Type: Defect
