Repository hazelcast/hazelcast, pull requests merged in 2022-05, with the labels that each got.

#21335 [HZ-1094] Increase PartitionServiceSafetyCheckTest timeout and log loop time (#21300)
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#21336 [HZ-1094] Increase PartitionServiceSafetyCheckTest timeout and log loop time (#21300)
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#21337 [HZ-1094] Increase PartitionServiceSafetyCheckTest timeout and log loop time (#21300)
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#21338 [HZ-1094] Increase PartitionServiceSafetyCheckTest timeout and log loop time (#21300)
  hazelcast/src/test/java/com/hazelcast/internal/partition/PartitionServiceSafetyCheckTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#21347 Fix javadoc in AggOperations.groupingBy
  hazelcast/src/main/java/com/hazelcast/jet/aggregate/AggregateOperations.java
Labels: Type: Defect, Source: Internal, Type: Documentation, Module: Jet

#21254 Add more logging to DynamicMapConfigTest
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
  hazelcast/src/test/resources/log4j2-trace-dynamic-map-config-update.xml
Labels: Type: Test-Failure, Source: Internal, Module: IMap, Forwardport, Not Release Notes content

#21253 [5.1.z] Add more logging to DynamicMapConfigTest
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
  hazelcast/src/test/resources/log4j2-trace-dynamic-map-config-update.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Forwardport, Not Release Notes content

#21357 Update schemaLocation to current version
  distribution/src/test/resources/test-hazelcast-user-defined.xml
  docs/design/instance-tracking/instance-tracking.md
  hazelcast/src/main/config-template/hazelcast-assembly.xml
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-security-hardened.xml
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapStoreTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractYamlSchemaTest.java
  hazelcast/src/test/java/com/hazelcast/spi/discovery/DiscoverySpiTest.java
  hazelcast/src/test/resources/aws/test-aws-config.xml
  hazelcast/src/test/resources/azure/test-azure-config-invalid.xml
  hazelcast/src/test/resources/azure/test-azure-config.xml
  hazelcast/src/test/resources/com/hazelcast/config/hazelcast-mapstore-config.xml
  hazelcast/src/test/resources/com/hazelcast/config/jet/jet-config-and-instance-config.xml
  hazelcast/src/test/resources/com/hazelcast/config/jet/just-instance-config.xml
  hazelcast/src/test/resources/gcp/test-gcp-config-invalid.xml
  hazelcast/src/test/resources/gcp/test-gcp-config.xml
  hazelcast/src/test/resources/hazelcast-cache-entrylistener-test.xml
  hazelcast/src/test/resources/hazelcast-composite-index-xml-config-test.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-advanced-network-config.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
  hazelcast/src/test/resources/hazelcast-instance-tracking-test.xml
  hazelcast/src/test/resources/hazelcast-multicast-plugin-invalid-port.xml
  hazelcast/src/test/resources/hazelcast-multicast-plugin.xml
  hazelcast/src/test/resources/hazelcast-querycache-xml-config-wildcard-test.xml
  hazelcast/src/test/resources/hazelcast-test-executor.xml
  hazelcast/src/test/resources/test-hazelcast-discovery-spi-metadata.xml
  hazelcast/src/test/resources/test-hazelcast-discovery-spi.xml
  hazelcast/src/test/resources/test-hazelcast-invalid-cache.xml
  hazelcast/src/test/resources/test-hazelcast-jcache-partition-lost-listener.xml
  hazelcast/src/test/resources/test-hazelcast-jcache-with-split-brain-protection.xml
  hazelcast/src/test/resources/test-hazelcast-jcache.xml
  hazelcast/src/test/resources/test-hazelcast-jcache2.xml
  hazelcast/src/test/resources/test-hazelcast-real-jcache.xml
  hazelcast/src/test/resources/test-hazelcast-variable.xml
  hazelcast/src/test/resources/test-hazelcast.foobar
  hazelcast/src/test/resources/test-hazelcast.xml
  src/test/resources/test-hazelcast-discovery-spi-metadata.xml
Labels: Type: Cleanup, Source: Internal, Module: Config, Not Release Notes content, Team: Platform

#21367 Upgrade Protobuf version to make the branch compilable on M1
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21368 Remove unused MapIndexScanExecIterator
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexConverterMismatchTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/exec/scan/index/MapIndexScanExecIterator.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#21353 Extract pipelines to separate methods in common Elastic tests
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/pipeline/CommonElasticSinksPipeline.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/pipeline/CommonElasticSourcesPipeline.java
Labels: Team: Core, Source: Internal

#21376 Use ConcurrentReferenceHashMap instead of CHM to cache serializers
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Serialization, Not Release Notes content

#21323 Revert of commit responsible for perf regression HZ-1120
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/string/ConcatWSFunctionIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
Labels: Type: Perf. Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21191 Faster sum in ProcessorTasklet
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/FixedCapacityArrayList.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/OutboundCollector.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/CircularListCursor.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/FixedCapacityArrayListTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21385 Fixing latency of tasklet execution HZ-1122
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
Labels: Type: Perf. Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21389 Disable hadoop tests on IBM JDK17 #20754 HZ-980 [5.1.z]
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/HadoopTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21387 Fix typos in IcmpFailureDetectorConfig
  hazelcast/src/main/java/com/hazelcast/config/IcmpFailureDetectorConfig.java
Labels: Type: Defect, Source: Internal, Type: Documentation

#21402 Update TestContainers, so that they work fine on Mac M1 CPUs
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  pom.xml
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#21403 Fix cluster cleanup in Kinesis IT [HZ-1185]
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/AbstractKinesisTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests

#20231 Remove unneeded offload
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPartitionOperation.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Invocation System

#21219 [HZ-1074] Fix WAN address registration issue
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/LocalAddressRegistry.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerControl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OutboundOperationHandler.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/TcpServerControlTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Network I/O, Add to Release Notes

#21391 Wait for the decoder's protocol confirmation before sending the member data [HZ-1163]
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolEncoder.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/ProtocolNegotiationTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Module: Network I/O

#21417 [HZ-1171] Handle null values of AddMapConfigMessageTask's nullable fields
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/MapStoreConfigHolder.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTaskTest.java
Labels: Type: Defect, Team: Core, Module: Config, Not Release Notes content

#21106 Transactional IMap operations stats [HZ-1001]
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/CompositeRemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/RemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapOperationStatsUpdater.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/LocalTxnMapStatsTest.java
Labels: Type: Defect, Team: Core, Source: Internal

#21107 Transactional IMap operations stats [HZ-1001]
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/CompositeRemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/RemoteCallHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapOperationStatsUpdater.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/MapTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/LocalTxnMapStatsTest.java
Labels: Type: Defect, Team: Core, Source: Internal

#21450 Upgrade calcite to 1.30.0
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastCallBinding.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operand/AbstractOperandChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/common/HazelcastOperandTypeCheckerAware.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/misc/HazelcastCaseOperator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/predicate/HazelcastIsTrueFalseNullPredicate.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/typeinference/BinaryOperatorOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/typeinference/CoalesceOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/typeinference/ComparisonOperatorOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/typeinference/JsonFunctionOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/typeinference/ReplaceUnknownOperandTypeInference.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeCoercion.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/ExpressionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/math/ArithmeticOperatorIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/predicate/ComparisonPredicateIntegrationTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#19685 Fix minor typos in docs
  docs/design/jet/021-sql-rolling-upgrade.md
  docs/design/merge/01-merge-changes.md
  docs/design/security/01_dynamic_security_scanning.md
  docs/design/sql/04-parallel-execution.md
  docs/design/sql/07-concurrent-hd-datastructure.md
Labels: Team: Core, Type: Cleanup, Source: Community, Type: Documentation

#21454 Don't print the JAVA/JAVA_OPTS/CLASSPATH details when "hz -V"
  distribution/src/bin-filemode-755/hz
Labels: Source: Community

#21460 Fix NPE when querying non-existent topic
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
Labels: Type: Defect, Source: Internal, Module: Jet

#21255 Refactor DynamicConfigSlowPreJoinBouncingTest [HZ-978]
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigSlowPreJoinBouncingTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content

#21497 Add null check to SingleProtocolEncoder protocol verification signals
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolEncoder.java
Labels: Team: Core, Type: Test-Failure, Module: Network I/O, Not Release Notes content

#21439 Fix persistence when xml has whitespace
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#21409 Handle max integer expiry configuration [HZ-1170]
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/NearCacheRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/record/AbstractNearCacheRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/util/TimeStripUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/ExpirationTimeSetter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/AbstractRecord.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/CachedSimpleRecordWithLRUEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/Record.java
  hazelcast/src/main/java/com/hazelcast/map/impl/record/SimpleRecordWithLRUEviction.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpiryMetadata.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpiryMetadataImpl.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationTimeTest.java
Labels: Type: Defect, Team: Core, Module: IMap
