Repository hazelcast/hazelcast, pull requests merged in 2022-08, with the labels that each got.

#21884 Update kotlin version
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content

#21170 [HZ-1126] Stream to stream JOIN processor
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetJoinInfo.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPInnerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPOuterTest.java
  hazelcast/src/main/java/com/hazelcast/internal/util/CollectionUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Processor.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestOutbox.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/OutboxImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/OutboxInternal.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ConstantExpression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContext.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/row/JetSqlRow.java
Labels: Type: Enhancement, Team: SQL, Module: Jet

#21885 [HZ-1202] Make TcpIpConnection.equals more robust (3.12.z)
  hazelcast/src/main/java/com/hazelcast/nio/tcp/TcpIpConnection.java
  hazelcast/src/test/java/com/hazelcast/nio/tcp/TcpIpConnection_AbstractBasicTest.java
Labels: Team: Core, Backport, Type: Cleanup, Source: Internal, Module: Network I/O

#21869 Remove LOG_LEVEL_PATTERN variable from LOGGING_PATTERN [5.0.z]
  distribution/src/bin-filemode-755/hz
  distribution/src/bin-regular/hz-start.bat
Labels: Type: Defect, Source: Internal, Module: Config, Not Release Notes content, Team: Platform

#21826 Integrate tstore-base B+tree into HZ indexes infrastructure [HZ-1271] [HZ-1273] [HZ-1274]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/HDGlobalIndexesStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/HDGlobalPerIndexStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/AbstractInternalQueryCache.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/DefaultIndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/test/java/com/hazelcast/query/impl/ConverterResolutionTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexFirstComponentDecoratorTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexImplTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexJsonTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/IndexesTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/AttributeCanonicalizationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/LikePredicateTest.java
Labels: Type: Enhancement, Priority: High, Source: Internal, Estimation: M, Team: Storage, Module: TStore

#21705 [API-1425] Do not try to connect cluster members when the client is not connected to cluster
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/client/cluster/ClientClusterReconnectionRetryTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Cluster, Add to Release Notes

#21868 Remove LOG_LEVEL_PATTERN variable from LOGGING_PATTERN [5.1.z]
  distribution/src/bin-filemode-755/hz
  distribution/src/bin-regular/hz-start.bat
Labels: Type: Defect, Source: Internal, Module: Config, Not Release Notes content, Team: Platform

#21867 Remove LOG_LEVEL_PATTERN variable from LOGGING_PATTERN
  distribution/src/bin-filemode-755/hz
  distribution/src/bin-regular/hz-start.bat
Labels: Type: Defect, Source: Internal, Module: Config, Not Release Notes content, Team: Platform

#21873 Make SqlMetadataInJobConfigTest not rely on timing
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMetadataInJobConfigTest.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21820 B Tree index configuration [HZ-1272]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.2.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/BTreeIndexConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/IndexConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/config/BTreeIndexConfig.java
  hazelcast/src/main/java/com/hazelcast/config/IndexConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/BTreeIndexConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/config/IndexConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGenerator.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexUtils.java
  hazelcast/src/main/resources/hazelcast-client-config-5.2.xsd
  hazelcast/src/main/resources/hazelcast-config-5.2.json
  hazelcast/src/main/resources/hazelcast-config-5.2.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/AbstractDynamicConfigGeneratorTest.java
  hazelcast/src/test/resources/2.5.protocol.compatibility.binary
  hazelcast/src/test/resources/2.5.protocol.compatibility.null.binary
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/map/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/map/success.json
  hazelcast/src/test/resources/hazelcast-client-test.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Team: Storage, Team: Platform, Module: TStore

#21917 Metrics : Introduce fallback mechanism when no watermark was coalesced
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
Labels: Type: Defect, Source: Internal, Team: SQL, Module: Jet

#21871 [HZ-989] Implement JSON_OBJECTAGG aggregation for SQL
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/JsonObjectAggAggregation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/aggregate/function/HazelcastJsonObjectAggFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAbstractPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/JsonSqlAggregateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/misc/NestingAndCasingExpressionTest.java
  hazelcast/src/main/java/com/hazelcast/internal/json/JsonObject.java
Labels: Type: Enhancement, Source: Internal, Module: Query, Team: SQL, Add to Release Notes

#21517 [HZ-1206] Cleanup map partition container on migration
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
Labels: Type: Test-Failure, Source: Internal, Team: Storage, Module: TStore

#21635 Query resubmission [HZ-1167]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.2.xsd
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/SqlResubmissionTimeoutTest.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientSqlConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientSqlResubmissionMode.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientConfigSections.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/Invocation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlErrorCode.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlResubmissionResult.java
  hazelcast/src/main/resources/hazelcast-client-config-5.2.xsd
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-config-5.2.json
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/test/ClusterFailureTestSupport.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/client/sql/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/client/sql/success.json
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, All Languages Should Check, Module: Jet

#21924 Bump gRPC version so that it's fully compatible with M1 (aarch64) and Python 3.10
  extensions/python/src/main/java/com/hazelcast/jet/python/JetToPythonServer.java
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21863 Minor Clarification and Grammar Changes to README.md
  README.md
Labels: Source: Community

#21921 Fix WM handling in AggregateSlidingWindowRule
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateSlidingWindowPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamAggregateCannotExecuteRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlExpandViewTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlAggregateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlHopTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlTumbleTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#21369 TDD for query resubmission after member failure [HZ-1167] [API-1451]
  docs/design/sql/13-create-drop-view.md
  docs/design/sql/14-automatic-query-resubmission.md
Labels: Type: Enhancement, Source: Internal, Team: SQL

#21552 Update dynamically TCP-IP member list [HZ-1154 HZ-1031]
  checkstyle/suppressions.xml
  docs/design/cluster/03-split-brain-recovery-improvements.md
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/TcpIpConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/AbstractJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigNamespace.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigGeneratorUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/EmptyConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/management/ManagementDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/UpdateTcpIpMemberListOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/RestApiFilter.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpHostnameJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpJoinTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpSplitBrainDiscoveryTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/TcpIpConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/AbstractDynamicConfigGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Module: Cluster, Add to Release Notes

#21912 Support keyed WMs in async-transform-p-unordered
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet

#21044 Stream to stream JOIN design document
  docs/design/sql/14-keyed-watermark-support.md
  docs/design/sql/15-stream-to-stream-join.md
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
Labels: Source: Internal, Team: SQL

#21876 [API-1250] Remove read default value methods from the CompactReader
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/serialization/DummyCompactSerializer.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SampleMetadataResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlCompactTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/FieldOperations.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/InternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/record/JavaRecordSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DeserializedPortableGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/FieldKind.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/GenericRecord.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactReader.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactSerializer.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/EnumCompatibilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactNullablePrimitiveInteroperabilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/RabinFingerprintTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/SchemaWriterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactReaderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/integration/AbstractGenericRecordIntegrationTest.java
  hazelcast/src/test/java/example/serialization/EmployeeDTOSerializer.java
  hazelcast/src/test/java/example/serialization/InnerDTOSerializer.java
  hazelcast/src/test/java/example/serialization/MainDTOSerializer.java
Labels: Team: Client, Type: Cleanup, Source: Internal, Module: Serialization, Add to Release Notes, All Languages Should Check

#21918 [API-1250] Do not serialize JDK classes with zero-config Compact serialization
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/compact/record/RecordSerializationTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/record/JavaRecordSerializer.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
Labels: Team: Client, Source: Internal, Module: Serialization

#21665 [HZ-1140] Added a CPMember UUID check to distinguish a rejoined node and a restarted one
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/BlockingResource.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/Node.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/JoinRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembersView.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberAutoRemoveTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: CP Subsystem, Not Release Notes content, Team: Platform

#21835 [HZ-1221] Assign WM keys, support keyed WMs in more processors
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/FullScan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/WatermarkKeysAssigner.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/FullScanLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/WatermarkLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/WatermarkRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/HazelcastRelMdWatermarkedFields.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateSlidingWindowPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SlidingWindowAggregatePhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/WatermarkKeysAssignerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/LateItemsDropPTest.java
  hazelcast/src/main/java/com/hazelcast/internal/util/MutableByte.java
  hazelcast/src/main/java/com/hazelcast/jet/core/AbstractProcessor.java
  hazelcast/src/main/java/com/hazelcast/jet/core/EventTimeMapper.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/SessionWindowP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServicePTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/SessionWindowPTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/SessionWindowP_failoverTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowPTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowP_changeWindowSizeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowP_failoverTest.java
Labels: Type: Enhancement, Team: SQL

#21931 Improve handling of SQLNonTransientException in WriteJdbcP
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21911 [HZ-1323] Tiered Store usage metrics
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Type: Enhancement, Team: Core, Not Release Notes content, Team: Storage, Module: TStore

#21930 Make external data store config dynamic [HZ-1258]
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/DynamicConfigAddExternalDataStoreConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddExternalDataStoreConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ExternalDataStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigGeneratorUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/EmptyConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/search/ConfigSearch.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/config/ExternalDataStoreConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/AbstractDynamicConfigGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigVersionTest.java
  hazelcast/src/test/resources/2.5.protocol.compatibility.binary
  hazelcast/src/test/resources/2.5.protocol.compatibility.null.binary
Labels: Source: Internal, Module: Config, Type: Feature Request, Not Release Notes content, Team: Platform

#21956 Add spring support for external data stores [HZ-1259]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/hazelcast-default.properties
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.2.xsd
  hazelcast/src/main/resources/hazelcast-config-5.2.xsd
Labels: Source: Internal, Type: Feature Request, Not Release Notes content, Module: Spring, Team: Platform

#21939 [API-1250] Improve documentation for primitive-nullable primitive field interoperability
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactReader.java
Labels: Team: Client, Source: Internal, Module: Serialization, Type: Documentation

#21965 Update the GenericRecord package in JdbcIMapTest
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcIMapTest.java
Labels: Team: Client, Source: Internal, Module: Serialization

#21957 Create new module with GenericMapStore based on SQL [HZ-1261]
  extensions/mapstore/pom.xml
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/MappingClosingIterator.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/Queries.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/package-info.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/AllTypesGenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mysql/MySQLGenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/postgres/PostgresGenericMapStoreTest.java
  extensions/mapstore/src/test/java/org/example/Person.java
  extensions/mapstore/src/test/resources/log4j2.xml
  extensions/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
Labels: Type: Enhancement, Source: Internal, Module: IMap, Add to Release Notes, Team: Platform

#21958 [API-1250] Do not allow different item types in Compact array fields
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DefaultCompactWriter.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/compact/CompactWriter.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/genericrecord/GenericRecordBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
Labels: Team: Client, Source: Internal, Module: Serialization, Add to Release Notes, All Languages Should Check

#21971 Add/Backport OWASP dependency-check-maven plugin configuration (3.12.z)
  owasp-check-suppressions.xml
  pom.xml
Labels: Team: Core, Backport, Source: Internal, dependencies, security

#21977 Fix CaseOperatorIntegrationTest for Windows
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/misc/CaseOperatorIntegrationTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#21973 Propagation of BTree config parameters into an actual implementation [HZ-1370]
  hazelcast/src/main/java/com/hazelcast/config/BTreeIndexConfig.java
  hazelcast/src/main/java/com/hazelcast/config/IndexConfig.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexUtils.java
Labels: Type: Enhancement, Priority: High, Source: Internal, Estimation: M, Team: Storage, severity:high, Module: TStore

#21595 Offload non-cooperative ProcessorSupplier.init and ProcessorMetaSupplier.init [HZ-1204]
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobClassLoaderService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/VertexDef.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/InitExecutionOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/TerminateExecutionOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/MetaSupplierFromProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorSupplierFromSimpleSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/ExecutionService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ClusterStateChangeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/JetClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/VertexDef_HigherPrioritySourceTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SourceBuilder_TopologyChangeTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Add to Release Notes, Module: Jet

#21978 Fixing memory leak in metrics [HZ-1346]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/PoolingMetricDescriptorSupplier.java
Labels: Type: Defect, Source: Internal, Team: SQL, Module: Metrics, Not Release Notes content

#21976 Use serial runner for tests using TestProcessors
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_NonSharedClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21985 Fixing failing DynamicConfigYamlGeneratorTest
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGenerator.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGeneratorTest.java
Labels: Type: Test-Failure, Source: Internal, Module: Config, Team: SQL, Not Release Notes content

#21995 Add support for Spring property placeholders in aliased discovery strategies [HZ-1226]
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/hazelcast-default.properties
  hazelcast-spring/src/main/java/com/hazelcast/spring/AbstractHazelcastBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/config/ConfigFactory.java
Labels: Type: Enhancement, Source: Community, Add to Release Notes, Module: Spring, Team: Platform

#21972 Improve IO pipelines (5.1.z)
  hazelcast/src/main/java/com/hazelcast/internal/networking/InboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/OutboundPipeline.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolEncoder.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/ProtocolNegotiationTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Network I/O

#21729 Priority-based leadership rebalancing for CP subsystem [HZ-1062]
  hazelcast/src/main/java/com/hazelcast/config/cp/CPSubsystemConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/GetLeadedGroupsOp.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPGroupRebalanceTest.java
Labels: Team: Core, Source: Community, Module: CP Subsystem, Type: Feature Request, Add to Release Notes, Team: Platform

#21843 Avoiding adding listener to old SQL catalog [HZ-1336]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TablesStorage.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TablesStorageTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21448 [HZ-1127] SQL engine support for stream to stream JOIN
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/WatermarkKeysAssigner.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/CalcDropLateItemsTransposeRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/CalcIntoScanLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/DropLateItemsLogicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/LogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/UnionDropLateItemsTransposeRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/HazelcastRelMdWatermarkedFields.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DropLateItemsPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinValidationRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinDropLateItemsEliminateRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/LateItemsDropP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/volcano/HazelcastRelSubsetUtil.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlTumbleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/SqlStreamToStreamJoinTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlJoinTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/WatermarkKeysAssignerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/CalcDropLateItemsTransposeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/UnionDropLateItemsTransposeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalJoinTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRuleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/LateItemsDropPTest.java
Labels: Source: Internal, Team: SQL

#21959 Wrapping cause of cancellation
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionCancellationException.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22006 Check nested fields of the Compact serializable objects are not serializable by other mechanisms in zero-config serialization
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/ReflectiveCompactSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/record/JavaRecordSerializer.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/zeroconfig/ValueReaderWriters.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization

#22009 MC-1505 - return null member UUID for offline member
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetCPMembersMessageTask.java
Labels: Type: Defect, Source: Internal, Team: Management Center, Module: CP Subsystem, Not Release Notes content

#22010 Use job level serializer when initializing DelegatingSerializationService
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22016 Use job level serializer when initializing DelegatingSerializationService [5.2-BETA-1]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22032 Change json-surfer version after 0.11 release
  pom.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22033 Change json-surfer version after 0.11 release
  pom.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22045 Make the LocalAddressRegistryIntegrationTest more robust
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/LocalAddressRegistryIntegrationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#22046 Make the LocalAddressRegistryIntegrationTest more robust (5.1.z)
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/LocalAddressRegistryIntegrationTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Network I/O

#21872 [HZ-1316] Fix premature usage of SQL catalog
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlCatalogInitTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlFetchMessageTask.java
Labels: Type: Defect, Backport, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21319 Introduce multi partition predicate [HZ-1347]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/PagingPredicateHolderCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/PagingPredicateHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapQueryMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapExecuteWithPredicateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemoveAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/IPartitionService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/query/PartitionPredicate.java
  hazelcast/src/main/java/com/hazelcast/query/Predicates.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/MultiPartitionPredicateImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PagingPredicateImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/PredicateDataSerializerHook.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/StreamSocketP_integrationTest.java
  hazelcast/src/test/java/com/hazelcast/map/MultiPartitionPredicateClientTest.java
  hazelcast/src/test/java/com/hazelcast/map/MultiPartitionPredicateLocalTest.java
  hazelcast/src/test/java/com/hazelcast/map/MultiPartitionPredicateTestSupport.java
  hazelcast/src/test/java/com/hazelcast/map/PartitionPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/map/PartitionsPredicatePerformanceTest.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/1.serialization.compatibility.binary
Labels: Type: Enhancement, Team: Core, Source: Community, Module: Query, All Languages Should Check

#22020 Drop mapping idempotently within all members when destroying GenericMapStore
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
Labels: Type: Defect, Source: Internal, Module: Query, Not Release Notes content, Team: Platform

#22007 [HZ-1384] Fix problems related to LEFT and RIGHT stream-to-stream JOIN
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/JoinLogicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/SqlStreamToStreamJoinTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPOuterTest.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/PeekWrappedP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/ProcessorWrapper.java
  hazelcast/src/test/java/com/hazelcast/jet/core/PeekingWrapperTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#22048 Fix possible spinning in MapIndexScanP
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
Labels: Type: Defect, Team: SQL

#21953 Checking for wrapped TargetNotMemberException
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/CheckLightJobsOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/exception/RetryableException.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/ExceptionUtilTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#21929 [HZ-1332] Preconfiguration of IMap SQL catalog
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TablesStorage.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TablesStorageTest.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22061 Handle null return [HZ-1404]
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Type: Test-Failure

#22021 Improve split-brain healing process by adding temporary candidates for cluster joins
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/TcpIpJoiner.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/SplitBrainMergeValidationOp.java
  hazelcast/src/test/java/com/hazelcast/cluster/TcpIpSplitBrainAutoDiscoveryTest.java
Labels: Type: Enhancement, Source: Internal, Module: Network I/O

#22060 Changed HashMap to ConcurrentHashMap in PS leakage test
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/JetClassLoaderTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22069 [HZ-1400] Avoiding ClassCastException in summary tasks
  hazelcast/src/main/java/com/hazelcast/internal/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobAndSqlSummaryListMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTask.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ExceptionUtilTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/client/protocol/task/AbstractJetMultiTargetMessageTaskTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobAndSqlSummaryListMessageTaskExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobSummaryListMessageTaskExceptionTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22038 [HZ-1007] Offload map-store api calls for offloaded-entry-processor
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/Step.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StaticParams.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, to-jira

#22081 Fix ServerSocket handling in the ProtocolNegotiationTest
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/ProtocolNegotiationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O

#22085 Use serial runner for tests using MockP
  hazelcast/src/test/java/com/hazelcast/jet/core/AbstractProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/test/TestSupportTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/ExceptionUtilTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#22083 Use 5.2 instead 5.1 in all xml files [HZ-1318]
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/beans-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/cacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheCacheManager-applicationContext-DI.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/jCacheClientCacheManager-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/no-readtimeout-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/readtimeout-config-prop-file.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/readtimeout-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/cache/simple-config.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/client-network-defaults-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/clientNetworkConfig-applicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/managedContext-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-issue-2676-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-jcache-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/context/test-lite-member-application-context.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/customLoadBalancer-applicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/customLoadBalancer-invalidApplicationContext.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/discoveryConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/hibernate/hibernate-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/hotrestart/persistence-encryption-keystore-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/hotrestart/persistence-encryption-vault-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/jet/application-context-jet-service.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/jet/instance-config-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/jet/instance-config-ignored-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-failover-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/replicatedmap/replicatedMap-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/security/secure-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/springaware/springAware-disabled-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/springaware/springAware-enabled-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/transaction/transaction-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/withoutconfig-applicationContext-hazelcast.xml
  hazelcast/src/main/resources/hazelcast-client-default-assembly.xml
  hazelcast/src/main/resources/hazelcast-client-default.xml
  hazelcast/src/main/resources/hazelcast-client-failover-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/test/resources/hazelcast-client-c1.xml
  hazelcast/src/test/resources/hazelcast-client-c2.xml
  hazelcast/src/test/resources/hazelcast-client-connection-strategy-asyncReconnect.xml
  hazelcast/src/test/resources/hazelcast-client-connection-strategy-asyncStart-true.xml
  hazelcast/src/test/resources/hazelcast-client-discovery-spi-test.xml
  hazelcast/src/test/resources/hazelcast-client-dummy-multicast-discovery-test.xml
  hazelcast/src/test/resources/hazelcast-client-failover-sample-with-variable.xml
  hazelcast/src/test/resources/hazelcast-client-failover-sample.xml
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-multicast-plugin.xml
  hazelcast/src/test/resources/hazelcast-client-querycache-xml-config-wildcard-test.xml
  hazelcast/src/test/resources/hazelcast-client-test-executor.xml
  hazelcast/src/test/resources/test-hazelcast-client-jcache.xml
  hazelcast/src/test/resources/test-hazelcast-client.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform

#22080 Fix #21746 - flaky MultiTableCacheIntegrationTest test [HZ-1310] [5.1]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/RecordPartImpl.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/MultiTableCacheIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcAuthAndConnectionIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcNetworkIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#21948 [HZ-1388] Fix keyed idle message handling
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  hazelcast/src/main/java/com/hazelcast/jet/core/EventTimeMapper.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/KeyedWatermarkCoalescer.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer.java
  hazelcast/src/test/java/com/hazelcast/jet/core/EventTimeMapperTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/StreamEventJournalP_WmCoalescingTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/ConcurrentInboundEdgeStreamTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/KeyedWatermarkCoalescerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Watermarks.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/WatermarkCoalescer_IntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksPTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet

#22091 [HZ-1262] Invalidating plan cache after view replace
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/virtual/ViewTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateDagVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlViewPlanInvalidationTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#22039 [HZ-783] Make SQL CLI to print full width of the explain query result
  hazelcast/src/main/java/com/hazelcast/client/console/SqlConsole.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Query, Team: SQL, Not Release Notes content, Module: CLI

#21250 Implement spliterator() on List and Set proxies (#21017)[API-1392]
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientListProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientSetProxy.java
  hazelcast/src/test/java/com/hazelcast/client/collections/ClientListTest.java
  hazelcast/src/test/java/com/hazelcast/client/collections/ClientSetTest.java
Labels: Team: Client, Source: Community, Module: ISet, Module: IList

#22093 Moving queue statistic updates to run method
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/operations/OfferOperation.java
Labels: Type: Defect, Source: Internal, Module: IQueue, Team: SQL, Not Release Notes content

#22102 [API-1526] Increase test timeout in the CompactSchemaReplicationStressTest
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/schema/CompactSchemaReplicationStressTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: Serialization

#20714 Enhance error message when multiple discovery strategies are enabled
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/JoinConfig.java
Labels: Type: Enhancement, Team: Core, Source: Internal

#22086 Use generic Kafka (de)serializer in tests
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/model/JavaDeserializer.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/model/JavaSerializer.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/model/PersonDeserializer.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/model/PersonSerializer.java
Labels: Type: Enhancement, Team: SQL

#22084 Remove unused HazelcastViewExpander
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/QueryConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastViewExpander.java
Labels: Type: Enhancement, Team: SQL
