Repository hazelcast/hazelcast, pull requests merged in 2023-11, with the labels that each got.

#25866 Centralise `os.name` calls
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/EmbeddedKafkaTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/util/OS.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/TpcTestSupport.java
  hazelcast/src/main/java/com/hazelcast/config/NetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ServerSocketEndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MulticastService.java
  hazelcast/src/main/java/com/hazelcast/internal/memory/impl/AlignmentUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ICMPHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/util/OsHelper.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/cluster/MulticastDeserializationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MulticastServiceTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25892 Bump org.owasp:dependency-check-maven from 8.3.1 to 8.4.2
  pom.xml
Labels: Team: Core, Source: Internal, Not Release Notes content, security

#25753 Ensure Avro schema key and value are present as options in mapping [HZ-2757]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
Labels: Source: Internal, Team: SQL, Not Release Notes content, SQL-only, Module: SQL

#25894 Bump avro from 1.11.1 to 1.11.3 [HZ-3416] [5.2.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Integration

#25865 Migrate Java 8 dependencies to Java 11
  hazelcast-it/distribution-it/pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, dependencies

#25908 Add typecheck to ServerConnectionManager package filtering
  hazelcast/src/test/java/com/hazelcast/test/PacketFiltersUtil.java
Labels: Type: Defect, Source: Internal, Module: Network I/O, Not Release Notes content, Team: Integration

#25910 Update CPSubsystem Metrics documentation [HZ-2081]
  docs/design/cpsubsystem/03-metrics.md
Labels: Team: Core, Source: Internal, Module: CP Subsystem, Not Release Notes content, Type: Documentation, docs-only

#25845 Kubernetes Discovery Plugin skips Endpoints that don't have targetRef [CN-559] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiProvider.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesFakeUtils.java
Labels: Backport, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25899 Compare raw values when merging expiration in WAN [HZ-3661]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Critical, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#25900 Compare raw values when merging expiration in WAN [HZ-3661] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Critical, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25901 Compare raw values when merging expiration in WAN [HZ-3661] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Critical, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#25903 [TPC] Enable TLS socket implementation [HZ-3658]
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketOptions.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_LargePayloadTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_RpcTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilderTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket_RpcTest_Nightly.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/TpcServerBootstrap.java
  hazelcast/src/main/java/com/hazelcast/nio/ssl/SSLEngineFactory.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: Type: Enhancement, Source: Internal, Module: TPC, Team: Alto

#25916 Eclipse Formatter - Don't add space after generic type
  ide-configurations/eclipse/Hazelcast-Eclipse.pref.epf
Labels: Team: Core, Source: Internal

#24716 Add "status" and "userCancelled" to job metrics [HZ-2061] [HZ-3610]
  hazelcast/src/main/java/com/hazelcast/jet/core/metrics/JobMetrics.java
  hazelcast/src/main/java/com/hazelcast/jet/core/metrics/MetricNames.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/GetLocalExecutionMetricsOperation.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JmxMetricsChecker.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobExecutionMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_MiscTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_NonSharedClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobMetrics_StreamTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobSnapshotMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/MetricsTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#25911 Manually create release 5.3.6 branch from v5.3.5 [HZ-3673][5.3.6]
  distribution/pom.xml
  extensions/avro/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  extensions/hadoop-dist/files-azure/pom.xml
  extensions/hadoop-dist/files-gcs/pom.xml
  extensions/hadoop-dist/files-s3/pom.xml
  extensions/hadoop-dist/hadoop-all/pom.xml
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  extensions/hazelcast-3-connector/pom.xml
  extensions/kafka-connect/pom.xml
  extensions/kafka/pom.xml
  extensions/kinesis/pom.xml
  extensions/mapstore/pom.xml
  extensions/mongodb/pom.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-archunit-rules/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-coverage-report/pom.xml
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/jdk17-tests/pom.xml
  hazelcast-it/pom.xml
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast-sql/pom.xml
  hazelcast-tpc-engine/pom.xml
  hazelcast/pom.xml
  hazelcast/src/main/resources/release_notes.txt
  modulepath-tests/pom.xml
  pom.xml
Labels: Type: Defect, Backport, Source: Internal, severity:high

#25915 Fix step supplier throwing exception in offload threads
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
Labels: Type: Defect, Module: IMap, Team: Storage, Module: TStore

#25932 Compare raw values when merging expiration in WAN [HZ-3661] [5.3.6]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Critical, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25917 Fix TieredStoreMapSplitBrainStressTest [HZ-3551]
  hazelcast/src/test/java/com/hazelcast/map/merge/MapSplitBrainStressTest.java
Labels: Type: Test-Failure, Team: Storage, Module: TStore

#25906 Introduce normal Jet job options for ANALYZE statement [HZ-3668]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParseUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlAlterJob.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlAnalyzeStatement.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/AnalyzeStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, SQL-only, Module: SQL

#25933 Update version to 5.3.7-SNAPSHOT
  distribution/pom.xml
  extensions/avro/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  extensions/hadoop-dist/files-azure/pom.xml
  extensions/hadoop-dist/files-gcs/pom.xml
  extensions/hadoop-dist/files-s3/pom.xml
  extensions/hadoop-dist/hadoop-all/pom.xml
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  extensions/hazelcast-3-connector/pom.xml
  extensions/kafka-connect/pom.xml
  extensions/kafka/pom.xml
  extensions/kinesis/pom.xml
  extensions/mapstore/pom.xml
  extensions/mongodb/pom.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-archunit-rules/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-coverage-report/pom.xml
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/jdk17-tests/pom.xml
  hazelcast-it/pom.xml
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast-sql/pom.xml
  hazelcast-tpc-engine/pom.xml
  hazelcast/pom.xml
  modulepath-tests/pom.xml
  pom.xml
Labels: Team: Core, Source: Internal, Not Release Notes content

#25949 Adding RN for Platform OS 5.3.6
  hazelcast/src/main/resources/release_notes.txt
Labels: docs-only

#25941 Refactor `InstancePermission.actions` String manipulation
  hazelcast/src/main/java/com/hazelcast/security/permission/InstancePermission.java
  hazelcast/src/test/java/com/hazelcast/security/permission/InstancePermissionTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Security

#25913 Fix members list persistence race [HZ-2894]
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Hot Restart, Not Release Notes content

#25936 Fix partitioned indexes id [HZ-3694]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
Labels: Type: Defect, Team: Storage

#25918 Remove invalid Kafka tests [HZ-3675] [HZ-2779]
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25935 Support field resolution from Avro schema in Kafka mappings [HZ-2754]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/AvroResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/AvroUpsertTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TypeUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolverTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, SQL-only, Module: SQL

#25937 [TPC] Tpc setTpcTokenToEndpoint fix
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/tpc/ClientTpcBasicTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Not Release Notes content

#25844 Move parameterized logging from `LoggingUtil` to `ILogger`
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/LoggingUtil.java
  hazelcast/src/main/java/com/hazelcast/logging/ILogger.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25942 Introduce MergingValue#getDeserializedValue [HZ-3701]
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractCollectionMergingValueImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergingEntryImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergingValueImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/CacheMergingEntryImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/MapMergingEntryImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/MultiMapMergingEntryImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/ReplicatedMapMergingEntryImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/RingbufferMergingValueImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingValue.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/SplitBrainMergePolicy.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Public API/SPI breaking change, Add to Release Notes

#25905 Batch partition replica updates [HZ-3652]
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/DefaultPartitionReplicaInterceptor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/BatchReplicaUpdateTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/InternalPartitionImplTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Partitioning

#25893 Share ConfigMessageTaskTest fixtures
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTaskTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddMapConfigMessageTaskTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/ConfigMessageTaskTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Config

#25958 Slightly expand LocalMapStatsProviderTest coverage [HZ-2072]
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsProviderTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Metrics, Not Release Notes content

#25960 OWASP suppression for elastic6
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, Team: Integration

#25961 OWASP suppression for elastic6
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, Team: Integration

#25568 Improve error log in k8s discovery
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Source: Community, Module: Kubernetes, Team: Cloud Native

#25868 De-duplicate `.class` file utilities
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientUserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassDataProvider.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ReflectionUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationIssueTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/FilteringClassLoader.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/config/ResourceConfigTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/ReflectionUtilsTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: User Code Deployment

#25965 `ReplicatedMap.addEntryListener` checks wrong permissions [HZ-3731]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/AbstractReplicatedMapAddEntryListenerMessageTask.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Security, Add to Release Notes, security

#25864 Remove redundant JRE8 test
  hazelcast/src/test/java/com/hazelcast/osgi/HazelcastOSGiIT.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: OSGi, Type: Test Coverage

#25245 Updated SwCounter javadoc
  hazelcast/src/main/java/com/hazelcast/internal/util/counters/SwCounter.java
Labels: Type: Documentation

#25871 [TPC] default to 1 connection
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientTpcConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/resources/hazelcast-client-config-5.4.xsd
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientTpcConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTest.java
  hazelcast/src/test/java/com/hazelcast/client/tpc/ClientTpcBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/tpc/ClientTpcTest.java
Labels: Team: Client, All Languages Should Check, Module: TPC

#25881 Adds CPMap Configuration [HZ-3580]
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/cp/CPMapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/cp/CPSubsystemConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicCPSubsystemConfig.java
  hazelcast/src/main/resources/hazelcast-config-5.4.json
  hazelcast/src/main/resources/hazelcast-config-5.4.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/CPSubsystemConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlOnlyConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlOnlyConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/cp/CPMapConfigTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: CP Subsystem, Add to Release Notes

#25970 `ReplicatedMap.addEntryListener` checks wrong permissions [5.3.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/AbstractReplicatedMapAddEntryListenerMessageTask.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Security, Add to Release Notes, security

#25972 `ReplicatedMap.addEntryListener` checks wrong permissions [5.1.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/AbstractReplicatedMapAddEntryListenerMessageTask.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Security, Add to Release Notes, security

#25971 `ReplicatedMap.addEntryListener` checks wrong permissions [5.2.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/replicatedmap/AbstractReplicatedMapAddEntryListenerMessageTask.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Security, Add to Release Notes, security

#25979 Resolve `java.xml` module accessibility in `hazelcast-spring-tests`
  hazelcast-spring-tests/pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content, Module: Maven build

#25939 Forbid job suspension for `ANALYZE`-d queries [HZ-3667]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlAnalyzeStatement.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/AnalyzeStatementTest.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfigArguments.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
Labels: Source: Internal, Team: SQL, Module: SQL

#25996 Introduce afterMapContainerDestroyed method
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
Labels: Type: Defect, Team: Storage, Module: TStore

#25977 Replace UDT feature flag with cyclic UDT feature flag [HZ-3496]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/ScanCyclicTypeMustNotExecuteRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/QueryConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/BasicNestedFieldsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/CompactNestedFieldsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/CyclicUDTAreNotAllowedByDefaultTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/NestedTypesDDLTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/PortableNestedFieldsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/RecurrentStructuresNestedFieldsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/SqlLazyDeserializationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/UdtObjectToJsonFunctionTest.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#25954 Add serialization support for Avro records [HZ-3690]
  extensions/avro/src/main/java/com/hazelcast/jet/avro/AvroSerializerHooks.java
  extensions/avro/src/main/java/com/hazelcast/jet/avro/impl/AvroSerializerHooks.java
  extensions/avro/src/main/resources/META-INF/services/com.hazelcast.SerializerHook
  extensions/avro/src/test/java/com/hazelcast/jet/avro/AvroSourceTest.java
  extensions/avro/src/test/java/com/hazelcast/jet/avro/model/User.java
  extensions/kafka/pom.xml
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/HazelcastKafkaAvroDeserializer.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/HazelcastKafkaAvroSerializer.java
  hazelcast-sql/pom.xml
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/FileUtil.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/client/ReadOptimizedLruCacheTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientExceptionFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ClassLoaderUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DefaultSerializationServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationServiceV1.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/JavaDefaultSerializers.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/ReadOptimizedLruCache.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/serialization/SerializerHookConstants.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ReflectionUtils.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/SerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/ByteBufferSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/ReadOptimizedLruCacheTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#25943 Remove references to `JSON License`
  hazelcast-build-utils/src/main/resources/hazelcast-thirdparty-template.ftl
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, Module: Maven build

#26001 Adds Missing CPMap Config Tests [HZ-3848]
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Team: Core, Source: Internal, Module: CP Subsystem, Type: Test Coverage

#26000 Remove @Beta from DataConnection APIs [HZ-3504]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/DataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/DataConnectionBase.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/DataConnectionRegistration.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/DataConnectionResource.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/HazelcastDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/package-info.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
Labels: Type: Cleanup, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#26002 Forbid optimized plans to be analyzed [HZ-3838]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/AnalyzeStatementTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, SQL-only, Module: SQL

#25896 Make MongoDB extension default artifact a shaded one [HZ-3660, HZ-3635]
  extensions/mapstore/pom.xml
  extensions/mongodb/pom.xml
  extensions/pom.xml
Labels: Type: Defect, Type: Enhancement, Source: Internal, Not Release Notes content, Team: Integration, module: MongoDB

#26010 Fix the `ReliableTopicConfig.setName` method to allow empty names [HZ-2274] [API-2172]
  hazelcast/src/main/java/com/hazelcast/config/ReliableTopicConfig.java
  hazelcast/src/test/java/com/hazelcast/config/ReliableTopicConfigTest.java
Labels: Type: Defect

#25998 Add serial version field to Jet anonymous classes [HZ-3846]
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/AbstractHazelcastConnectorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
Labels: Type: Defect, Source: Internal, Module: Jet, Team: Integration

#26021 Cleanup warnings for deprecated readUTF() and writeUTF() calls [HZ-2381]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSerializerHooks.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/WritableSerializerHooks.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/source/KinesisSourceP.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/SnapshotPhase1Operation.java
  hazelcast/src/main/java/com/hazelcast/jet/json/JsonSerializerHooks.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/AbstractDataStreamIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationV1DataSerializable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/TestObject.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/APortable.java
  hazelcast/src/test/java/com/hazelcast/nio/serialization/compatibility/AnIdentifiedDataSerializable.java
Labels: Type: Cleanup, Source: Internal, Team: Integration

#26024 Convert returned columns to mapping column types [HZ-2259]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/GettersProvider.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectQueryBuilder.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectJdbcSqlConnectorTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Integration, SQL-only, Module: SQL, Module: Jet JDBC Connector

#26022 Check permissions during the validation for dynamic functions [HZ-3554] (Forward port to 5.4)
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastDynamicTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
Labels: Type: Defect, Source: Internal, Team: SQL, SQL-only, Module: SQL

#25997 No entry caching for TS AddIndexOperation
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
Labels: Type: Enhancement, Priority: High, Source: Internal, Estimation: S, Team: Storage, severity:high, Module: TStore

#25992 Support compaction while running queries [HZ-3711]
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
Labels: Source: Internal, Team: Storage, Module: TStore

#26026 Do not log whole config in CDC [HZ-3861]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/CdcSourceP.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, security, Team: Integration

#25994 Show stack trace of exception when member starts from hz command [HZ-2066]
  distribution/src/main/java/com/hazelcast/commandline/ExceptionHandler.java
  distribution/src/main/java/com/hazelcast/commandline/HazelcastServerCommandLine.java
  distribution/src/test/java/com/hazelcast/commandline/ExceptionHandlerTest.java
  distribution/src/test/java/com/hazelcast/commandline/HazelcastServerCommandLineTest.java
  distribution/src/test/resources/faulty-log.properties
Labels: Type: Defect, Source: Community, Module: CLI, Team: Integration

#26035 Remove duplicate `mockito-junit-jupiter` dependency declaration
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content, Module: Maven build

#25731 Add data connection to remote map source [HZ-3470]
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/RemoteMapSourceConfiguration.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/RemoteMapSourceBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/test/java/com/hazelcast/jet/core/processor/RemoteMapSourceBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/RemoteMapSourcesTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#26043 DataSerializableConventionsTest Fix
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
Labels: Type: Test-Failure, Source: Internal

#26030 Fix the `ReliableTopicConfig.setName` method to allow empty names [API-2172]
  hazelcast/src/main/java/com/hazelcast/config/ReliableTopicConfig.java
  hazelcast/src/test/java/com/hazelcast/config/ReliableTopicConfigTest.java
Labels: Type: Defect

#26031 [BACKPORT] Fix the `ReliableTopicConfig.setName` method to allow empty names [HZ-2274] [API-2172] (#26010)
  hazelcast/src/main/java/com/hazelcast/config/ReliableTopicConfig.java
  hazelcast/src/test/java/com/hazelcast/config/ReliableTopicConfigTest.java
Labels: Type: Defect

#26057 [TPC] Removed assumeNotIbmJDK8
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/TpcTestSupport.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketBuilderTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketMetricsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketBuilderTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketMetricsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_LargePayloadTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_ReadableTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_RpcTest.java
Labels: Type: Cleanup, Module: TPC

#26028 Adds CPMap Limit Configuration [HZ-3865]
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/cp/CPSubsystemConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-config-5.4.json
  hazelcast/src/main/resources/hazelcast-config-5.4.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/CPSubsystemConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Module: CP Subsystem

#26041 Updates CPMap UnsupportedOperationException Message [HZ-3833]
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPSubsystemImpl.java
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/CPSubsystemImplTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPSubsystemImplTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/AbstractAtomicRegisterSnapshotTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: CP Subsystem

#26032 Move early-rewriting `HepProgram` initialization to static context
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/QueryConverter.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#26007 Fix Jet cleanup in tests [HZ-3667]
  hazelcast-sql/src/test/java/com/hazelcast/dataconnection/impl/DataConnectionConsistencyCheckerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/AnalyzeStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/cost/CostTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupportTest.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#25878 Support single column as value in GenericMapStore [HZ-1568]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStoreProperties.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/JdbcParameters.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/AllTypesGenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapLoaderTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/JdbcParametersTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/SingleColumnGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/oracle/OracleGenericMapStoreTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Team: Integration, Module: GenericMapStore

#26012 Increase query timeout for SqlIndexAbstractTest [HZ-3716]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/SqlSlowIndexTest.java
Labels: Source: Internal, Team: SQL, Not Release Notes content, SQL-only, Module: SQL

#26023 Unify serialization of Subject [HZ-3388]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdatingEntryProcessor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtilTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorTest.java
Labels: Type: Cleanup, Priority: Medium, Source: Internal, Team: SQL, Not Release Notes content, SQL-only, Module: SQL

#26060 Revert "Bump com.googlecode.maven-download-plugin:download-maven-plugin from 1.6.8 to 1.7.1"
  extensions/kafka-connect/pom.xml
Labels: Team: Core, Source: Internal, dependencies

#26025 Move files to *IT as IntegrationTest is not a standard failsafe suffix
  extensions/mapstore/pom.xml
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mariadb/MariaDBGenericMapStoreIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mssql/MSSQLGenericMapStoreIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mysql/MySQLGenericMapStoreIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/postgres/PostgreGenericMapStoreIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/postgres/PostgresGenericMapStoreSimpleIT.java
  extensions/mongodb/pom.xml
  pom.xml
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration, Module: GenericMapStore

#26037 Implement correct job cancellation flow for non-suspendable Jet jobs [HZ-3679] [HZ-3882]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlResultImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/RootResultConsumerSink.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/AnalyzeStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: Type: Defect, Type: Enhancement, Source: Internal, Team: SQL, Module: SQL

#26067 Remove usages JVMUtil.upcast(Buffer).
  extensions/s3/src/main/java/com/hazelcast/jet/s3/S3Sinks.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageReader.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageWriter.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageDecoder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/BulkGetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/ErrorCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/SetCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/StatsCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloader.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/OutboundHandler.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DataInputNavigableJsonAdapter.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/MemberProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/PacketDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/PacketEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TextHandshakeDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolEncoder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamSocketP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/deployment/IMapOutputStream.java
  hazelcast/src/test/java/com/hazelcast/cardinality/impl/hyperloglog/impl/HyperLogLogEncoderAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/cardinality/impl/hyperloglog/impl/HyperLogLogImplTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageReaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageSplitAndBuildTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/operations/JoinShutdownTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataInputNavigableJsonAdapterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/PacketEncoderTest.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
  hazelcast/src/test/java/com/hazelcast/nio/PacketIOHelperTest.java
  hazelcast/src/test/java/com/hazelcast/test/mocknetwork/MockServerConnection.java
Labels: Team: Core, Module: Network I/O

#26068 Make `JVMUtil#getPid` use `ProcessHandle`
  hazelcast/src/main/java/com/hazelcast/internal/util/JVMUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JVMUtilTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#26058 Check IMap permissions before suggesting schema [HZ-3274]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
Labels: Priority: Medium, Source: Internal, Team: SQL, Add to Release Notes, security, SQL-only, Module: SQL, Type: Vulnerability

#26011 Remove redundant `Projection` test implementations
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapProjectSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/map/AbstractMapQueryIterableTest.java
  hazelcast/src/test/java/com/hazelcast/map/AbstractMapQueryPartitionIterableTest.java
  hazelcast/src/test/java/com/hazelcast/map/AbstractMapQueryPartitionIteratorTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: IMap

#26080 Update data-migration-5.3 to 5.3.6
  distribution/pom.xml
  extensions/avro/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  extensions/hadoop-dist/files-azure/pom.xml
  extensions/hadoop-dist/files-gcs/pom.xml
  extensions/hadoop-dist/files-s3/pom.xml
  extensions/hadoop-dist/hadoop-all/pom.xml
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  extensions/hazelcast-3-connector/pom.xml
  extensions/kafka-connect/pom.xml
  extensions/kafka/pom.xml
  extensions/kinesis/pom.xml
  extensions/mapstore/pom.xml
  extensions/mongodb/pom.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-archunit-rules/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-coverage-report/pom.xml
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/jdk17-tests/pom.xml
  hazelcast-it/pom.xml
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast-sql/pom.xml
  hazelcast-tpc-engine/pom.xml
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/resources/release_notes.txt
  modulepath-tests/pom.xml
  pom.xml
Labels: Type: Enhancement, Not Release Notes content, Team: Integration, Module: Data Migration

#26086 Minimise the chance of using unavailable member during leaderships transfer [HZ-3913] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Internal, Module: CP Subsystem, Not Release Notes content

#26075 Remove map directory on destroy [HZ-3659]
  hazelcast/src/test/java/com/hazelcast/map/MapDestroyTest.java
Labels: Type: Test-Failure, Source: Internal, Team: Storage, Module: TStore

#25754 Add data connection to remote map sink [HZ-3479]
  checkstyle/suppressions.xml
  extensions/mongodb/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/AbstractHazelcastConnectorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/AsyncHazelcastWriterP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/MapSinkConfiguration.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/MapSinkEntryProcessorConfiguration.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ProcessorFunctionConnectorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/RemoteMapSourceConfiguration.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteObservableP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/DataConnectionRef.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/MapSinkBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/MapSinkEntryProcessorBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/RemoteMapSourceBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/jet/core/processor/RemoteMapSourceBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/HazelcastRemoteConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/UpdateMapPTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/ImdgUtilTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/RemoteMapSourcesTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksRemoteMapEntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksRemoteMapTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksRemoteMapWithMergingTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksRemoteMapWithUpdatingTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#26084 Improve stream-to-stream JOIN stress test [Backport 5.3] [HZ-3917]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSTSInnerEquiJoinFaultToleranceStressTest.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#26027 Avoid parsing internal Debezium messages [HZ-3863]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSourceP.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#26077 Avoid extra garbage on IMap#lock(key) [HZ-3593]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
Labels: Type: Defect, Priority: High, Source: Internal, Estimation: S, Team: Storage, severity:high, Module: TStore

#26105 Fix SecuredFunctionTest.test_updateWithEntryProcessorFn [HZ-3946]
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/AbstractHazelcastConnectorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteMapP.java
  hazelcast/src/main/java/com/hazelcast/security/PermissionsUtil.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#26106 [CN-296] Increase Kubernetes auto-discovery test timeout
  .github/workflows/k8s-terraform-integration-tests.yml
Labels: Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native
