Repository hazelcast/hazelcast, pull requests merged in 2023-01, with the labels that each got.

#23290 Change default cloud coordinator url to viridian API-1796
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/HazelcastCloudConfigTest.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Discovery SPI, Public API/SPI breaking change, Add to Release Notes

#23279 Replicate lastUpdateTime from expiryMetadata [HZ-1138] [HZ-1669]
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryViews.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#23304 Change default cloud coordinator url to viridian API-1796
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/discovery/HazelcastCloudDiscovery.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/discovery/HazelcastCloudConfigTest.java
Labels: Type: Enhancement, Team: Client, Backport, Source: Internal, Module: Discovery SPI, Public API/SPI breaking change, Add to Release Notes

#23280 Add run-sonar trigger to README [HZ-1912]
  README.md
Labels: Source: Internal, Not Release Notes content

#23267 [HZ-1411] User Defined Types information_schema tables
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/UDTAttributesTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/UserDefinedTypesTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
Labels: Type: Enhancement, Source: Internal, Module: Jet

#23352 Bump netty to 4.1.86.Final [5.1.z]
  pom.xml
Labels: Type: Defect, Module: Security, Not Release Notes content, Team: Platform

#23353 Bump netty to 4.1.86.Final [5.2.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Module: Security, security, Team: Platform

#23307 TDD - allow TLS key material reload [HZ-1557]
  docs/design/security/01-dynamic-security-scanning.md
  docs/design/security/03-tls-key-material-reload.md
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Security, Add to Release Notes

#23350 Bump netty to 4.1.86.Final
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform

#23357 Add missing expiry merge for WAN (#22294) [HZ-1138] [4.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Module: IMap, Module: WAN

#23321 Fix calculating coverage for cross-module tests [HZ-1910]
  hazelcast-coverage-report/dependencies-list.sh
  hazelcast-coverage-report/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, Team: Platform, Module: Maven build

#23349 Prefix dependabot's PRs and do not include the scope
  .github/dependabot.yml
Labels: Type: Cleanup, Not Release Notes content, Team: Platform

#23371 Fix calculating coverage for cross-module tests [HZ-1910] [5.2.z]
  hazelcast-coverage-report/dependencies-list.sh
  hazelcast-coverage-report/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, Team: Platform, Module: Maven build

#23383 Set SteppedOpResponseHandler before running a Step [HZ-1797] (#23213)
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MultipleEntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideEntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnPrepareOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnRollbackOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnUnlockOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/test/java/com/hazelcast/map/IMapAccessors.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/offload/MapStoreForceOffloadAllOperationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/offload/MapStoreOffloadedOperationMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/offload/MapStoreOffloadingBouncingNodeTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/offload/MapStoreOffloadingTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/TransactionsWithWriteBehind_whenNoCoalescingQueueIsFullTest.java
Labels: Type: Defect, Team: Core, Module: IMap

#23271 Fix broken watermark counters in unordered mapUsingServiceAsync [HZ-1928]
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServicePTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#22529 Add TO_CHAR function [HZ-199]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/datetime/HazelcastToCharFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/datetime/ToCharIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/misc/NestingAndCasingExpressionTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/Formatter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/ToCharFunction.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/datetime/FormatterTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes

#23386 Upgrade copyright year to 2023
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/datetime/HazelcastToCharFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/datetime/ToCharIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/Formatter.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/datetime/ToCharFunction.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/datetime/FormatterTest.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content

#23385 Make internal RaftInvocationManager.invokeCreateRaftGroup public
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
Labels: Team: Core, Source: Internal, Module: CP Subsystem, Not Release Notes content

#23390 Move describedAs method before assertion [HZ-1911]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLAllTypesInsertJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLAllTypesSelectJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresAllTypesInsertJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresAllTypesSelectJdbcSqlConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/test/TestSourcesTest.java
Labels: Type: Cleanup, Not Release Notes content, Module: Jet, Team: Platform

#23360 Do not try to send statistics on cluster changes if it is disabled
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Metrics

#23361 Do not try to send statistics on cluster changes if it is disabled [5.2.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
Labels: Type: Defect, Team: Client, Backport, Source: Internal, Module: Metrics

#23387 Add a tag with client name to the CP session metric [HZ-1942]
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Team: Core, Source: Community, Team: Management Center, Module: CP Subsystem, Type: Feature Request, Module: Metrics, Team: Platform

#23400 Check dependencies use byte code version 52 (Java 8)
  extensions/kafka/pom.xml
  hazelcast-sql/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform, Module: Maven build

#23141 Update stream-to-stream join TDD for fault-tolerance
  docs/design/sql/15-stream-to-stream-join.md
Labels: Team: SQL, Type: Documentation

#23409 Add a tag with client name to the CP session metric [HZ-1942] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Community, Team: Management Center, Module: CP Subsystem, Module: Metrics, Not Release Notes content

#23408 Add a tag with client name to the CP session metric [HZ-1942] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Community, Team: Management Center, Module: CP Subsystem, Module: Metrics, Not Release Notes content

#23410 Add a tag with client name to the CP session metric [HZ-1942] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Community, Team: Management Center, Module: CP Subsystem, Module: Metrics, Not Release Notes content

#23406 Add WM throttling calculation for DML [HZ-1958]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlAggregationWithDmlTest.java
Labels: Type: Defect, Team: SQL, SQL-only

#23419 Make sure the HazelcastTestSupport.assertTrueEventually runs the task
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Enhancement, Type: Test-Failure, Source: Internal

#23421 Fix JSON parsing in predicate query [HZ-1959]
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Query

#23439 Handle null entry
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MergeOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#23448 Use JavaVersion in FormatterTest [HZ-1961]
  hazelcast/src/test/java/com/hazelcast/sql/impl/expression/datetime/FormatterTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content

#23450 Handle null entry (#23439)[5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MergeOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#23179 Use assertTrueEventually in PartitionIndexingTest API-1666
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryIndexMigrationTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/LoggingIndexes.java
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content

#23445 Fix stream-to-stream outer join fault tolerance [HZ-1966]
  docs/design/sql/15-stream-to-stream-join.md
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPOuterTest.java
Labels: Type: Defect, Team: SQL, SQL-only

#23454 Fix JSON parsing in predicate query [HZ-1959] [4.2.z]
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Query, Add to Release Notes

#23451 Fix JSON parsing in predicate query [HZ-1959] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Query, Add to Release Notes

#23452 Fix JSON parsing in predicate query [HZ-1959] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/test/java/com/hazelcast/json/MapPredicateJsonTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Query, Add to Release Notes

#23399 Skip address resolution in a case of exception for CPMemberInfo [HZ-1943]
  hazelcast/src/main/java/com/hazelcast/cp/internal/CPMemberInfo.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/CPMemberInfoTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Network I/O, Module: CP Subsystem, Not Release Notes content

#23303 Add TDD: Support for Kafka Connect Source Connectors [HZ-1804]
  docs/design/jet/023-kafka-connect-source-connectors.md
Labels: Source: Internal, Not Release Notes content, Type: Documentation, Module: Jet, Team: Platform

#23456 Use assertTrueEventually in PartitionIndexingTest API-1666 [5.1.z]
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: IMap, Not Release Notes content

#23457 Use assertTrueEventually in PartitionIndexingTest API-1666 [5.0.z]
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: IMap, Not Release Notes content

#23458 Use assertTrueEventually in PartitionIndexingTest API-1666 [4.2.z]
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: IMap, Not Release Notes content

#22744 Remove GenericMapStore SQL mapping when IMap is destroyed [HZ-1604]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/MapServiceContextImplTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreTest.java
Labels: Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23469 Cleanup static mock in OnJoinCacheOperationTest [HZ-1980]
  hazelcast/src/test/java/com/hazelcast/cache/impl/operation/OnJoinCacheOperationTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content

#22518 Add Partition-Aware Client TDD [HZ-1927]
  docs/design/sql/16-partition-aware-client.md
Labels: Type: Documentation

#22924 Return information if the job was cancelled by the user [HZ-1220]
  checkstyle/suppressions.xml
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetIsJobUserCancelledCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/builtin/CustomTypeFactory.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/JobAndSqlSummaryCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/Job.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobAndSqlSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobResult.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobSummary.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetIsJobUserCancelledMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/exception/CancellationByUserException.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/IsJobUserCancelledOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/TerminateJobOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/jet/JetTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/CancellationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTimeoutClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ObservableResultsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/client/protocol/task/JetGetJobAndSqlSummaryListMessageTaskExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/NonSmartClientTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
Labels: Source: Internal, Type: Feature Request, Team: SQL, Add to Release Notes

#23405 Add testConnection method to ExternalDataStoreService [MC-1883]
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/ExternalDataStoreService.java
  hazelcast/src/main/java/com/hazelcast/datastore/JdbcDataStoreFactory.java
  hazelcast/src/main/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/datastore/JdbcDataStoreFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/datastore/impl/ExternalDataStoreServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ExternalDataStoreTestUtil.java
Labels: Source: Internal, Module: Config, Team: Management Center, Type: Feature Request, Add to Release Notes, Team: Platform

#23479 Do not mock classloaders [HZ-1975]
  hazelcast/src/test/java/com/hazelcast/cache/CacheUtilTest.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/operation/OnJoinCacheOperationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform

#23281 Do not process JoinMessages from left members [HZ-1713]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content, Team: Platform

#23464 Ignore retries in QueryCacheTest.testQueryCache_withLocalListener [HZ-1861] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content

#23319 [ALTO] Extend server side configuration changes [ALTO-16]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestAdvancedNetworkApplicationContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.3.xsd
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/EndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/config/NetworkConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RestServerEndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ServerSocketEndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/config/alto/AltoConfig.java
  hazelcast/src/main/java/com/hazelcast/config/alto/AltoSocketConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/bootstrap/ClientMain.java
  hazelcast/src/main/java/com/hazelcast/internal/bootstrap/TpcServerBootstrap.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigSections.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/resources/hazelcast-config-5.3.json
  hazelcast/src/main/resources/hazelcast-config-5.3.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/AbstractYamlSchemaTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/alto/AltoConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/alto/AltoSocketConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkIntegrationTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/advanced-network/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/advanced-network/success.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/alto/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/alto/success.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/network/basic-type-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/network/success.json
  hazelcast/src/test/resources/hazelcast-fullconfig-advanced-network-config.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-advanced-network-config.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
  hazelcast/src/test/resources/hazelcast-fullconfig.xml
  hazelcast/src/test/resources/hazelcast-fullconfig.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#23505 Do not process JoinMessages from left members [HZ-1713] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Cluster, Not Release Notes content, Team: Platform

#23502 Do not process JoinMessages from left members [HZ-1713] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Cluster, Not Release Notes content, Team: Platform

#23320 Make sure that the spare threads are not terminated in ClientHazelcastRunningInForkJoinPoolTest [API-1667]
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ClientHazelcastRunningInForkJoinPoolTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal

#23501 Upgrade surefire to 3.0.0-M8
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  hazelcast-it/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23516 Revert "Bump jaxb-core from 2.3.0.1 to 4.0.1 (#22298)"
  hazelcast-it/distribution-it/pom.xml
Labels: dependencies, Team: Platform

#23475 Fix sending non-root-cause when serialization problem happens
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23212 Submit Jet job from non-java client [HZ-1455]
  docs/design/jet/023-jobupload.md
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetUploadJobMetaDataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetUploadJobMultipartCodec.java
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/internal/util/Sha256Util.java
  hazelcast/src/main/java/com/hazelcast/jet/JetService.java
  hazelcast/src/main/java/com/hazelcast/jet/SubmitJobParameters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUploadJobMetaDataTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUploadJobMultipartTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobMetaDataParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobMultiPartParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobUploadStatus.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobUploadStore.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UploadJobMetaDataOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UploadJobMultiPartOperation.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastBootstrapTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/Sha256UtilTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JetClientInstanceImplTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/jobupload/JobUploadStatusTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/jobupload/JobUploadStoreTest.java
  hazelcast/src/test/resources/simplejob-1.0.0.jar
Labels: Source: Internal, Type: Feature Request, Add to Release Notes, Module: Jet, Team: Platform

#23443 Refactor SqlConnector API
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastPhysicalScan.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpdateQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdatingEntryProcessor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CalcPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DagBuildContextImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinNestedLoopPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/UpdateByKeyMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/UpdatePhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpressionVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
Labels: Type: Enhancement, Team: SQL, SQL-only

#23246 Allow overriding of failOnIndeterminateOperationState using IMap private API [HZ-1230]
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientIndeterminateOperationStateExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/map/FailOnIndeterminateOperationStateOverrideTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: IMap, Team: SQL, Add to Release Notes
