Repository hazelcast/hazelcast, pull requests merged in 2023-09, with the labels that each got.

#25252 Upgrade to jupiter and run HazelcastOSGiIT only on Java 8 [HZ-829]
  hazelcast-sql/pom.xml
  hazelcast-tpc-engine/pom.xml
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsCredentialsProviderTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsDiscoveryStrategyTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEc2ClientTest.java
  hazelcast/src/test/java/com/hazelcast/aws/AwsEcsClientTest.java
  hazelcast/src/test/java/com/hazelcast/gcp/GcpClientTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JavaVersionTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/HazelcastOSGiIT.java
  hazelcast/src/test/java/com/hazelcast/osgi/PaxExamTestRunner.java
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration, Module: OSGi

#25206 Improved tests for scan partition prune-able PMS [HZ-2854]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PreJobInvocationObserver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/SpecificPartitionsImapReaderPms.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContext.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlEndToEndTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlPartitionPruningE2ETest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SpecificPartitionsImapReaderPmsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/misc/Pojo.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorSupplierContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: SQL

#25354 GitHub New Description [TPM-307]
  README.md
Labels: Team: Documentation, Source: Internal, Not Release Notes content, Type: Documentation

#25329 Allow searching PermissionType constant by Permission class name [HZ-2116]
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Security

#25361 Remove IAtomicLongMocks and dead code [HZ-3053]
  hazelcast/src/test/java/com/hazelcast/mock/IAtomicLongMocks.java
  hazelcast/src/test/java/com/hazelcast/mock/MockUtil.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25366 Make PermissionConfig a Versioned type
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Config

#25365 Disable tests using MS SQL on Arm64 [HZ-3056]
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MSSQLDatabaseProvider.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration, Module: Jet JDBC Connector

#25197 Add Data Serializable serialization to Mongo Connector
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/WriteMode.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/DeleteProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoTableField.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/SelectProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/UpdateProcessorSupplier.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Team: Integration, module: MongoDB

#25263 `ScheduledExecutor` rolling upgrade / serialization issues
  hazelcast/src/main/java/com/hazelcast/nio/VersionAware.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/IdentifiedDataSerializable.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/impl/Versioned.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/NamedTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/TaskDefinition.java
  hazelcast/src/main/java/com/hazelcast/version/Version.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Rolling Upgrade

#25374 Change a logging level to info when a CP members list is updated [HZ-3046] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocationContext.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Internal, Module: CP Subsystem, Not Release Notes content

#25373 Change a logging level to info when a CP members list is updated [HZ-3046] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/RaftInvocationContext.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Internal, Module: CP Subsystem, Not Release Notes content

#25207 Support inline Avro schema in Kafka mappings [HZ-2752]
  extensions/kafka/pom.xml
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/HazelcastKafkaAvroDeserializer.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/HazelcastKafkaAvroSerializer.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/AbstractHazelcastAvroSerde.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/AvroResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/AvroUpsertTarget.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/PropertiesResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroSchemaEvolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/AvroUpsertTargetTest.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/DefaultedMap.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#25353 Fix(Memory Leak): Remove FencedLockProxy upon FencedLock#destroy [HZ-3039]
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/LockService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockProxyRemovalTest.java
Labels: Type: Defect, Team: Core, Type: Perf. Defect, Source: Internal, Module: Lock, Module: CP Subsystem, Add to Release Notes

#25278 Fix assertion and update javadoc for putAllAsync with batching
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWithBatchingTest.java
Labels: Type: Defect, Source: Internal, Module: IMap, Team: SQL, Add to Release Notes

#25355 Remove ObjectTestUtils and use Java 11 instead [HZ-3044]
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/predicates/CollectionDataStructure.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/predicates/SingleValueDataStructure.java
  hazelcast/src/test/java/com/hazelcast/query/impl/extractor/specification/ComplexTestDataStructure.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/CompositeEqualPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/CompositeRangePredicateTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/predicates/VisitorTestSupport.java
  hazelcast/src/test/java/com/hazelcast/test/ObjectTestUtils.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25380 Remove dead test code [HZ-3066]
  hazelcast/src/test/java/com/hazelcast/executor/ScriptCallable.java
  hazelcast/src/test/java/com/hazelcast/executor/ScriptRunnable.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25378 Don't set SO_REUSEPORT on Windows (#23947) [HZ-2213]
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketOptions.java
Labels: Type: Defect, Source: Internal, Team: Integration, Module: TPC

#25396 Change javadoc of BufferingInputStream [HZ-3050]
  hazelcast/src/main/java/com/hazelcast/internal/util/BufferingInputStream.java
Labels: Type: Enhancement, Source: Internal, Module: Jet, Team: Integration

#25382 Fix test_singleStaged_hop test for little endianness [HZ-2418]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlStreamingJoinAndAggregationTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, SQL-only, Module: SQL

#25397 Don't set SO_REUSEPORT on Windows (#23947) [5.3.z]
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketOptions.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Integration, Module: TPC

#25251 Replace `NullOutputStream` with Java implementation
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Serialization, Module: Jet

#25326 Upgrade Calcite to version 1.35 [HZ-2823]
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  pom.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: SQL

#25399 Add multiple head step appending functionality
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/AppendAsHeadStep.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/Step.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplierTest.java
Labels: Type: Enhancement, Team: Core, Team: Storage, Module: TStore

#22371 Decrease log levels on member-side when client authentication fails
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Security

#25345 Remove test utils unnecessary variables
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonArray_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonLiteral_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonNumber_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonObject_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonString_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/test/JarUtil.java
  hazelcast/src/test/java/com/hazelcast/test/TestCollectionUtils.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25377 Create Archunit rule to detect if JUnit annotations are mixed within tests [HZ-3048]
  extensions/avro/src/test/java/com/hazelcast/jet/avro/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/csv/src/test/java/com/hazelcast/jet/csv/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/grpc/src/test/java/com/hazelcast/jet/grpc/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/protobuf/src/test/java/com/hazelcast/jet/protobuf/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/python/src/test/java/com/hazelcast/jet/python/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  extensions/s3/src/test/java/com/hazelcast/jet/s3/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  hazelcast-archunit-rules/pom.xml
  hazelcast-archunit-rules/src/main/java/com/hazelcast/test/archunit/ArchUnitRules.java
  hazelcast-archunit-rules/src/main/java/com/hazelcast/test/archunit/MixTestAnnotationsCondition.java
  hazelcast-archunit-rules/src/test/java/com/example/broken/MixedTestAnnotationsTest.java
  hazelcast-archunit-rules/src/test/java/com/example/valid/ExampleJunit4Test.java
  hazelcast-archunit-rules/src/test/java/com/example/valid/ExampleJunit5Test.java
  hazelcast-archunit-rules/src/test/java/com/hazelcast/test/archunit/ArchUnitRulesTest.java
  hazelcast/src/test/java/com/hazelcast/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25402 Remove TestCollectionUtils.setOf and use Java 11 Set.of() instead [HZ-3080]
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/LatencyTrackingQueueStoreTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigSchemaLocationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/LoadMigrationStrategyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/iobalancer/MonkeyMigrationStrategyTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/LocalKeySetTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/LocalValuesTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/MapKeySetTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestCollectionUtils.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25407 Add archunit tests to detect JUnit annotation mixing [HZ-3048]
  hazelcast-spring/pom.xml
  hazelcast-spring/src/test/java/com/hazelcast/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  hazelcast-sql/pom.xml
  hazelcast-sql/src/test/java/com/hazelcast/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
  hazelcast-tpc-engine/pom.xml
  hazelcast-tpc-engine/src/test/java/com/hazelcast/NoMixedJUnitAnnotationsInOurTestSourcesTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25346 Refactor JSON Test assertions
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonArray_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonEscape_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonLiteral_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonNumber_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonObject_Test.java
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonString_Test.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25208 Local indexes support for TS [HZ-2699]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/GlobalPerIndexStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/HDGlobalPerIndexStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/PartitionPerIndexStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/PerIndexStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StepAwareStorage.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/main/java/com/hazelcast/query/impl/DefaultIndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexProvider.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/main/java/com/hazelcast/query/impl/InternalIndex.java
  hazelcast/src/test/java/com/hazelcast/map/LocalIndexStatsTest.java
  hazelcast/src/test/java/com/hazelcast/query/impl/PartitionIndexingTest.java
Labels: Type: Enhancement, Priority: High, Source: Internal, Estimation: M, Team: Storage, Module: TStore

#25416 Fix test_singleStaged_hop test for little endianness [HZ-2418]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlStreamingJoinAndAggregationTest.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#25352 Add tests for IMap destruction with index [HZ-3034]
  hazelcast/src/test/java/com/hazelcast/map/MapDestroyTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: HD, Team: Storage, Module: TStore

#25412 Substitute Apache Http client with Java 11 Http client [HZ-3087]
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigSchemaLocationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/InvalidEndpointTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25418 Substitute Apache Http client with Java 11 Http client [HZ-3087]
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestClusterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkingCommunicationIntegrationTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25421 Fix(Memory Leak): Remove FencedLockProxy upon FencedLock#destroy [HZ-3039] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/LockService.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockProxyRemovalTest.java
Labels: Type: Defect, Team: Core, Backport, Type: Perf. Defect, Source: Internal, Module: Lock, Module: CP Subsystem, Add to Release Notes

#25410 Update `PartitionMigrationListenerTest` expectations to handle failed migrations
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Diagnostics, Module: Partitioning

#25381 Add disposeOnSplitBrainHeal to record-store [HZ-2917]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMergeRunnable.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractMergeRunnable.java
Labels: Type: Defect, Team: Storage, Module: TStore

#25294 Replace deprecated `java.lang.Class.newInstance()`
  hazelcast/src/main/java/com/hazelcast/config/AbstractXmlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractYamlConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ClassLoaderUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/DataSerializableSerializer.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/ExtractorHelper.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/SqlPredicate.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DefaultDiscoveryService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableSerializationTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25425 Update PartitionMigrationListenerTest expectations to handle failed migrations [5.0.z]
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Diagnostics, Module: Partitioning

#25426 Update PartitionMigrationListenerTest expectations to handle failed migrations [5.1.z]
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Diagnostics, Module: Partitioning

#25428 Update PartitionMigrationListenerTest expectations to handle failed m…
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Diagnostics, Module: Partitioning

#25427 Update PartitionMigrationListenerTest expectations to handle failed migrations [5.2.z]
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Diagnostics, Module: Partitioning

#25178 Improve `HazelcastVersionLocator` (test utility)
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal

#25413 Catch test failures in `LocalStatsDelegateTest`
  hazelcast/src/test/java/com/hazelcast/internal/jmx/LocalStatsDelegateTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Diagnostics, to-jira

#25434 `HttpsRestTest` test failure - `java.net.http.HttpClient` misconfiguration
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: REST

#25431 Handle force offload param for tiered store ops [HZ-3088]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
Labels: Type: Defect, Type: Test-Failure, Team: Storage, Module: TStore

#25433 Fix before and after operation calls for tiered store
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
Labels: Type: Defect, Type: Test-Failure, Team: Storage, Module: TStore

#25322 Get tables for only for the current catalog and schema [HZ-2814]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/DatabaseDialect.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/ResourceReader.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/ListResourcesTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25383 Throw user cancellation exception if the job was cancelled before it was initialized
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#25452 Throw user cancellation exception if the job was cancelled before it was initialized [5.3.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#25376 Add tests for redundant index scan sort removal on DAG level [HZ-2791]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlEndToEndTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexSortTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, SQL-only, Module: SQL

#25454 Close InputStream in JetClassLoader and some tests [HZ-3146]
  hazelcast/src/main/java/com/hazelcast/jet/impl/deployment/JetClassLoader.java
  hazelcast/src/test/java/com/hazelcast/client/config/XmlYamlClientConfigBuilderEqualsTest.java
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ServiceLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/nio/ClassLoaderUtilTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25430 Upgrade gRPC [5.3.z]
  pom.xml
Labels: Source: Internal, Add to Release Notes, dependencies, Team: Integration

#25422 General cleanup in classloader-related tests
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/childfirstclassloader/TestProcessor.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/SourceWithClassLoader.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
  hazelcast/src/test/java/org/example/jet/impl/deployment/ResourceCollector.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25254 Reproduce duplicated index scan results with conjunction of overlapping criteria [HZ-3012], [HZ-3013], [HZ-3014]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexCompositeFilter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexEqualsFilter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexFilter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexRangeFilter.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexSmallFetchSizeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexCompositeFilterIterationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexEqualsFilterIterationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexRangeFilterIteratorTest.java
  hazelcast/src/main/java/com/hazelcast/internal/iteration/IndexIterationPointer.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Index.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: SQL

#25379 Fix deadlock with Jet classloader and Compact GenericRecord [HZ-3065]
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/JetClassloaderCompactGenericRecordTest.java
Labels: Type: Defect, Source: Internal, Module: Serialization, Team: SQL, Add to Release Notes, Module: Jet

#25458 Add "SHOW RESOURCES" support for H2 [HZ-2814]
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/DatabaseDialect.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/ResourceReader.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/ListResourcesTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25453 Replace IOUtil.readFully() with InputStream.readAllBytes [HZ-3145]
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/file/impl/LocalFileSourceFactory.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25463 Replace IOUtil.getPath with JDK Paths.get [HZ-3151]
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/preloader/NearCachePreloader.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25320 Update configuration to use version previously in confluence
  ide-configurations/intellij/Project.xml
  ide-configurations/intellij/README.md
Labels: Team: Core, Source: Internal

#25457 Ask for replica sync if offloaded backup fails [HZ-3147]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
  hazelcast/src/test/java/com/hazelcast/map/MapRemoveFailingBackupTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Module: IMap, Team: Storage, Module: TStore

#25467 Use tmpfs for MySQL database provider [HZ-2430]
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MySQLDatabaseProvider.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Storage, Team: Integration, Module: Jet JDBC Connector

#25301 Mongo SQL TLS support [HZ-2498]
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnection.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/dataconnection/SslConf.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/AbstractMongoTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnectionAuthTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnectionMutualSslTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnectionSslTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnectionSslTestBase.java
  extensions/mongodb/src/test/resources/certs/README.md
  extensions/mongodb/src/test/resources/certs/ca-cert.pem
  extensions/mongodb/src/test/resources/certs/ca-key.pem
  extensions/mongodb/src/test/resources/certs/ca.p12
  extensions/mongodb/src/test/resources/certs/localhost-cert.pem
  extensions/mongodb/src/test/resources/certs/localhost-key.pem
  extensions/mongodb/src/test/resources/certs/localhost.p12
  extensions/mongodb/src/test/resources/certs/localhost.pem
  extensions/mongodb/src/test/resources/tlsMongo.yaml
  extensions/mongodb/src/test/resources/tlsMongoMutual.yaml
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Team: Integration, module: MongoDB

#25423 Ensure intermediate `EntryProcessor` modification isn't visible to `EntryUpdatedListener`
  hazelcast/src/main/java/com/hazelcast/core/EntryEvent.java
  hazelcast/src/main/java/com/hazelcast/core/ReadOnly.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/PagingPredicateTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/querycache/QueryCacheTest.java
  hazelcast/src/test/java/com/hazelcast/map/listener/EntryUpdatedListenerTest.java
  hazelcast/src/test/java/com/hazelcast/map/listener/NoopMapListener.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#25468 Use tmpfs for MySQL database provider [HZ-2430] [5.3.z]
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MySQLDatabaseProvider.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration, Module: Jet JDBC Connector

#25364 Add connection health checking to static discovery strategy for WAN [HZ-2888]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/DiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DefaultDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/PredefinedDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/spi/discovery/integration/DiscoveryService.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25471 Replace IOUtil.toByteArray with JDK readAllBytes [HZ-3145]
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientUserCodeDeploymentService.java
  hazelcast/src/main/java/com/hazelcast/config/replacer/EncryptionReplacer.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/usercodedeployment/impl/ClassDataProvider.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25475 Update `README.md` badges
  README.md
Labels: Team: Core, Source: Internal, Type: Documentation

#25460 Print a warning when British spelling of "License" is used
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperty.java
  hazelcast/src/test/java/com/hazelcast/spi/properties/HazelcastPropertiesTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, to-jira

#25478 Fix TStore EP test failures [HZ-3186]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Module: IMap, Team: Storage, Module: TStore

#25479 Remove redundant Java <9 reflection compatibility in Jet python module
  extensions/python/src/main/java/com/hazelcast/jet/python/PythonServiceContext.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Jet

#25474 Refactor head step addition
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/AppendAsNewHeadStep.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/StepAwareStorage.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplierTest.java
Labels: Type: Enhancement, Team: Storage, Module: TStore

#25455 Fix HazelcastVersionLocator Maven repository lookup test failure
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal

#25480 Test the emptiness of the list before assertion
  hazelcast/src/test/java/com/hazelcast/cp/internal/MetadataRaftGroupTest.java
Labels: Module: CP Subsystem, Not Release Notes content

#25470 Ack when offloaded backup is finished [HZ-3152]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepResponseUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/OperationRunner.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/operations/Backup.java
Labels: Type: Defect, Type: Test-Failure, Team: Storage

#25483 Upgrade gRPC to 1.58 [5.2.z]
  pom.xml
Labels: Source: Internal, Add to Release Notes, security, Team: Integration

#25485 Upgrade gRPC to 1.58 [5.0.z]
  pom.xml
Labels: Source: Internal, Add to Release Notes, security, Team: Integration

#25484 Upgrade gRPC to 1.58 [5.1.z]
  pom.xml
Labels: Source: Internal, Add to Release Notes, security, Team: Integration

#25481 Correctly WAN replicate IMap metadata when updating existing records [HZ-3078]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25408 Implement proper SQL security context propagation to functions [HZ-2386]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/UDTAttributesTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/UserDefinedTypesTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/ExpressionValues.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/OptUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/logical/ValuesLogicalRules.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DagBuildContextImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpressionVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateType.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/RelationsStorage.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TypesUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContextImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/MockExpressionEvalContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/service/GetDdlFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/optimizer/OptimizationTask.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/optimizer/SqlPlan.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/Mapping.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/SqlCatalogObject.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/dataconnection/DataConnectionCatalogEntry.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/type/Type.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/view/View.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/HazelcastRelOptCluster.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlEndToEndTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/cache/PlanCacheTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/misc/SqlSecurityCallbackTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/BootstrappedJetProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/security/NoOpSqlSecurityContext.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/security/SqlSecurityContext.java
Labels: Type: Defect, Type: Enhancement, Source: Internal, Team: SQL, Module: SQL

#25424 Fix KafkaConnectIntegrationTest.test_reading_and_writing_to_map test [HZ-3116]
  extensions/kafka-connect/pom.xml
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#24956 Make filtering the first aggregate, so we can utilize indexes better [HZ-2674]
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoP.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoParams.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/ConversionsFromBson.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/SelectProcessorSupplier.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25511 Remove ParallelJVM category from EventRegistrationTest
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/EventRegistrationTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Cluster, Not Release Notes content

#25514 Update `pull_request_template` job ad link
  .github/pull_request_template.md
Labels: docs-only

#25515 Fix test classes recognition in HazelcastAPIDelegatingClassloader [HZ-3206]
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastAPIDelegatingClassloader.java
Labels: Type: Test-Failure, Source: Internal, Module: Cluster, Team: SQL, Not Release Notes content

#25505 Correctly WAN replicate IMap metadata when updating existing records (#25481) [5.3.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25507 Correctly WAN replicate IMap metadata when updating existing records (#25481) [5.1.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25506 Correctly WAN replicate IMap metadata when updating existing records (#25481) [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25328 Return all results and do not hang or crash when query with index returns null and not-null values [HZ-3012] [HZ-1842]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexRangeFilter.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/MapIndexScanPTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/index/IndexRangeFilterTest.java
  hazelcast/src/main/java/com/hazelcast/internal/iteration/IndexIterationPointer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AbstractIndex.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/BitmapIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/Index.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/MapFetchIndexOperationTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#25509 Extend permission checks in MessageTasks and add a test coverage [HZ-2090]
  .github/CODEOWNERS
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddNearCacheInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheDestroyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheIterateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheListenerRegistrationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheLoadAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheManagementConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemoveInvalidationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDestroyCacheMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchEntriesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetReadCursorMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/GetSemaphoreTypeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlMappingDdlTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/MessageTaskSecurityTest.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Security

#25461 `SystemPropertiesPluginTest` - add `Java.vm.args` test case (HZ-3157)
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/SystemPropertiesPlugin.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/SystemPropertiesPluginTest.java
Labels: Team: Core, Source: Internal, Module: Diagnostics, Type: Test Coverage

#25512 Make `StringUtil.isNullOrEmptyAfterTrim` use `String.isBlank`
  hazelcast-spring/src/main/java/com/hazelcast/spring/cache/HazelcastCacheManager.java
  hazelcast/src/main/java/com/hazelcast/client/HazelcastClient.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueStoreWrapper.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastInstanceFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/IndexCreateTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25510 Update IntelliJ icon with new branding
  .gitignore
  .idea/icon.png
  .idea/icon.svg
Labels: Type: Enhancement, Source: Internal

#25516 Do not run MapDestroyTest.destroyRepeatedly in code coverage measurements [HZ-3220] [HZ-3219]
  hazelcast/src/test/java/com/hazelcast/map/MapDestroyTest.java
Labels: Type: Test-Failure, Source: Internal, Module: IMap, Team: SQL, Not Release Notes content

#25529 Update permission checks in CacheCreateConfig and GetSemaphoreType tasks [HZ-2090]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/GetSemaphoreTypeMessageTask.java
Labels: Type: Test-Failure, Source: Internal, Module: Security, Add to Release Notes

#25530 Call interceptor with old-value-clone[HZ-3186]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/test/java/com/hazelcast/map/listener/EntryUpdatedListenerTest.java
Labels: Type: Defect, Module: IMap

#25488 Change method visibility for TStore bulk remove fix [HZ-2845] [HZ-2626]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
Labels: Type: Defect, Type: Test-Failure, Team: Storage, Module: TStore

#25504 [BACKPORT] Do not try to connect to the old member list after the cluster changes [API-2038] (#24745)
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
Labels: Type: Defect

#25538 Stop `com.hazelcast.internal.diagnostics.MetricsPluginTest` from leaving `diagnostics-xxx.log` artifacts behind
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/MetricsPluginTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Diagnostics

#25524 Add Java 21 constant to `com.hazelcast.internal.util.JavaVersion` enum
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
Labels: Type: Enhancement, Team: Core, Source: Internal

#25551 Reverted the incorrectly changed method names back to the original name
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemoveAllKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/set/SetGetAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/security/SecurityInterceptorConstants.java
Labels: Type: Test-Failure

#25561 Remove dead code IOUtil#closeResources [HZ-3263]
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25562 `CompactSerializationTest.testSerializerRegistration_withDuplicateClasses()` missing `@Test` annotation
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
Labels: Team: Core, Source: Internal, Module: Serialization, Type: Test Coverage

#25564 Correct multi-expression cooperativeness check [HZ-3267] (Backport to 5.3)
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/BiExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/TriExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/VariExpression.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, SQL-only, Module: SQL

#25563 Correct multi-expression cooperativeness check [HZ-3267]
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/BiExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/TriExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/VariExpression.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
Labels: Type: Defect, Team: SQL, SQL-only, Module: SQL

#25521 Resolve Sonarlint `S4276 - Functional Interfaces should be as specialised as possible`
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/NoOpClientEngine.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AddBackupListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ToBackupSender.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsConfigHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/BatchInvalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/InvalidationUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/Invalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/NonStopInvalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/DefaultPortableReader.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableInternalGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/UpdateMapP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/HashJoinCollectP.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointResolver.java
  hazelcast/src/main/java/com/hazelcast/map/impl/nearcache/MapNearCacheManager.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/leak/BackupListenerLeakTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25537 Stop `com.hazelcast.config.XmlYamlConfigBuilderEqualsTest` from leaving `password.txt` artifact behind
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Config

#25565 Add Javadoc to `ConcurrencyUtil.getOrPutIfAbsent`
  hazelcast/src/main/java/com/hazelcast/internal/util/ConcurrencyUtil.java
Labels: Team: Core, Source: Internal, Type: Documentation

#25566 Add mockito jupiter extension dependency and use it in a few tests as example [HZ-3268]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/h2/H2UpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mssql/MSSQLUpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLUpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresUpsertQueryBuilderTest.java
  pom.xml
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Integration
