Repository hazelcast/hazelcast, pull requests merged in 2023-05, with the labels that each got.

#24390 Fix IMapResolverTest [HZ-2349]
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/schema/IMapResolverTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content

#24425 Ser/de props determines automatically for Kafka data connection and mapping [HZ-2302]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaDataConnectionIntegrationTest.java
Labels: Source: Internal, SQL-only, Type: Test Coverage, Module: SQL

#24427 Workaround a race-condition in testcontainers kafka module [HZ-2344]
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/DockerizedKafkaTestSupport.java
Labels: Team: Integration, Type: Test-Failure, Source: Internal, Module: Jet

#24406 Fix some issues with ObjectType change [HZ-2312]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/virtual/ViewTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/BadTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/view/View.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/DataConnectionResource.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/HazelcastDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/HazelcastDataConnectionTest.java
Labels: Type: Defect, Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content, Module: SQL

#24405 Ignore ConfigMismatchOp shutdown requests if already in a cluster [HZ-2355]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/ConfigMismatchOp.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Discovery SPI, Not Release Notes content

#24430 Relax Kafka producer creation check [HZ-2392]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaDataConnection.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/KafkaDataConnectionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaDataConnectionIntegrationTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#24446 Ask 'view-dataconnection' permission for CREATE MAPPING with DC [HZ-2359]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#24418 Bump snakeyaml from 1.33 to 2.0 [5.1.z]
  pom.xml
Labels: Source: Community, Not Release Notes content, Team: Platform

#24455 Bump snakeyaml from 1.33 to 2.0 [5.1.6]
  pom.xml
Labels: Type: Defect, Source: Community, Not Release Notes content, Team: Platform

#24457 Unhide the exception with leaked threads [HZ-2401]
  hazelcast/src/test/java/classloading/ThreadLeakTestUtils.java
Labels: Type: Enhancement, Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content

#24454 Fewer iterations in EntryProcessorBouncingNodesTest [HZ-2226]
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorBouncingNodesTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content

#23963 Start client async when there's state to send
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/client/connectionstrategy/ConfiguredBehaviourTest.java
  hazelcast/src/test/java/com/hazelcast/client/usercodedeployment/ClientUserCodeDeploymentExceptionTest.java
Labels: Type: Defect, Team: Client, Source: Community, Module: Cluster

#24450 Assert non-negative value for listener count in CacheContext [HZ-2371]
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheContext.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: ICache, Not Release Notes content

#24469 Bump parquet-avro from 1.12.3 to 1.13.0 (#24210) [5.1.6]
  pom.xml
Labels: Source: Internal, dependencies, Module: Jet, Team: Platform

#24459 Create config lazily for bouncing member rule
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWithBouncingMemberTest.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceMemberRule.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/BounceTestConfiguration.java
  hazelcast/src/test/java/com/hazelcast/test/bounce/MemberDriverFactory.java
Labels: Type: Enhancement, Type: Test-Failure

#24456 Enhance cp leader rebalance target selection
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content

#24458 Add support methods needed for EE Data Connection tests [HZ-2280]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
Labels: Source: Internal, SQL-only, Module: SQL

#24472 Disable tests on Windows [HZ-2407]
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/ListResourcesTest.java
  hazelcast/src/test/java/com/hazelcast/test/DockerTestUtil.java
Labels: Team: Integration, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, constant-test-failure

#24468 Expose SQL permissions actions to declarative config schema [HZ-2390]
  hazelcast/src/main/resources/hazelcast-config-5.3.json
  hazelcast/src/main/resources/hazelcast-config-5.3.xsd
Labels: Type: Enhancement

#24482 Bump parquet-avro from 1.12.3 to 1.13.0 (#24210) [5.2.z]
  pom.xml
Labels: Source: Internal, dependencies, Module: Jet, Team: Platform

#24464 Fix wrong results for select count(distinct column) on IMap [HZ-2403]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAbstractPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlCountDistinctTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#24480 Forbid shared data connections for reading from kafka [HZ-2396]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaDataConnection.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/KafkaDataConnectionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaDataConnectionIntegrationTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24416 Translate HZ connection properties [HZ-2378]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/CreateDataConnectionJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLCreateDataConnectionJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresCreateDataConnectionJdbcSqlConnectorTest.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/jdbcproperties/DataConnectionProperties.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/jdbcproperties/DriverManagerTranslator.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/jdbcproperties/HikariTranslator.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/DataConnectionTestUtil.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/jdbcproperties/DriverManagerTranslatorTest.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/jdbcproperties/HikariTranslatorTest.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MySQLDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/PostgresDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/TestDatabaseProvider.java
Labels: Type: Defect, Team: Integration, Source: Internal, Module: Jet, Module: SQL

#24490 Fix wrong results for select count(distinct column) on IMap [HZ-2403] [5.2.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateAbstractPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlCountDistinctTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#24493 Bump parquet-avro to 2.13.0 [5.1.z]
  pom.xml
Labels: Module: Security, security, Team: Platform

#24497 Bump parquet-avro to 2.13.0 [5.0.z]
  pom.xml
Labels: Module: Security, security, Team: Platform

#24433 Fix 'types' column in SHOW DATA CONNECTIONS [HZ-2384]
  docs/design/sql/18-data-connections.md
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataConnectionsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlJsonTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowDataConnectionsSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySqlDownTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: SQL

#24499 Bump Woodstox to fix CVE-2022-40152 [5.0.z]
  pom.xml
Labels: Source: Internal, Module: Security, security, Team: Platform

#24498 Bump Woodstox to fix CVE-2022-40152 [5.1.z]
  pom.xml
Labels: Source: Internal, Module: Security, Not Release Notes content, security, Team: Platform

#24486 Upgrade Kafka Client to 3.4.0 [5.2.z]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/ResumeTransactionUtil.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/DockerizedKafkaTestSupport.java
  hazelcast-sql/pom.xml
  pom.xml
Labels: Source: Internal, Module: Security, Not Release Notes content, security, Team: Platform

#24466 Handle implicit casts in bounds extraction for stream to stream JOIN [HZ-2405]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRuleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/s2sjoin/SqlStreamToStreamJoinTest.java
Labels: Type: Defect, Type: Critical, Team: SQL, SQL-only, Module: SQL

#24485 Upgrade Kafka Client to 3.4.0
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/NonClosingKafkaProducer.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/ResumeTransactionUtil.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/DockerizedKafkaTestSupport.java
  hazelcast-sql/pom.xml
  pom.xml
Labels: Source: Internal, Module: Security, Not Release Notes content, security, Team: Platform

#24479 Fix JsonValue_Test.writeTo_doesNotCloseWriter [HZ-2411]
  hazelcast/src/test/java/com/hazelcast/internal/json/JsonValue_Test.java
Labels: Team: Integration, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#24295 Fix ClientRegressionWithMockNetworkTest [5.1.z]
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal

#24306 Fix ClientSessionManagerTest [API-2018]
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/session/ClientSessionManagerTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/session/AbstractProxySessionManagerTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: CP Subsystem

#24453 Improve permission control of executor service proxies [API-2008] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveAndDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/DurableExecutorServicePermission.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ExecutorServicePermission.java
Labels: Team: Client, Backport, Source: Internal, Module: Security, Not Release Notes content

#24452 Improve permission control of executor service proxies [API-2008] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveAndDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/DurableExecutorServicePermission.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ExecutorServicePermission.java
Labels: Team: Client, Backport, Source: Internal, Module: Security, Not Release Notes content

#24451 Improve permission control of executor service proxies [API-2008] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveAndDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/DurableExecutorServicePermission.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ExecutorServicePermission.java
Labels: Team: Client, Backport, Source: Internal, Module: Security, Not Release Notes content

#24475 Avoid too verbose exception logging [HZ-2391]
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertJdbcSqlConnectorTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionException.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24387 Hazelcast security overview
  docs/design/security/README.adoc
Labels: Team: Core, Source: Internal, Module: Security, Type: Documentation

#24523 Hide options column if security is enabled for `information_schema.dataconnections`
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataConnectionsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataConnectionsTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolverTest.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#24501 Hide options column if security is enabled for `information_schema.mappings`
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTableTest.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#24522 Fix test by returning new config object for each access
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorBouncingNodesTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableBouncingNodesTest.java
  hazelcast/src/test/java/com/hazelcast/map/InterceptorTest.java
  hazelcast/src/test/java/com/hazelcast/map/QueryBounceTest.java
Labels: Type: Test-Failure, Team: Storage

#21546 Kafka - Partitions initial offsets
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/TopicsConfig.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Type: Enhancement, Source: Community, Module: Jet, Team: Platform

#24489 Do not delete Jet job snapshots prematurely with LosslessRestart enabled [HZ-2415]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#24536 Cleanup few code style issues in JdbcSqlConnector
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SupportedDatabases.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform, Module: SQL

#24534 Decrease local parallelism of processors in JdbcSqlConnector [HZ-1637]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
Labels: Type: Defect, Team: Integration, Source: Internal, Add to Release Notes, Module: SQL

#24539 Fix test failure in MySQLGenericMapStoreTest [HZ-2426]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapLoaderTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: SQL

#24503 Change order of operations in AbstractCacheService#deleteCache [HZ-2412]
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: ICache, Not Release Notes content

#24543 Fix test compatibility issue
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
Labels: Type: Defect, Team: SQL, Not Release Notes content, Module: SQL

#24529 Fix test failures caused by weak consistency of Job API [HZ-2402]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMemoryManagementTest.java
  hazelcast/src/test/java/com/hazelcast/jet/JobStatusListenerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/SuspendExecutionOnFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/memory/MemoryManagementTest.java
Labels: Source: Internal, Team: SQL, Not Release Notes content, Module: Jet, Type: Test Coverage

#24535 Fix TINY/SMALL INT type handling in JdbcSqlConnector
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/FromSqlRowConverter.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/AllTypesGenericMapStoreTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectProcessorSupplier.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/AllTypesSelectJdbcSqlConnectorTest.java
Labels: Type: Defect, Team: Integration, Source: Internal, Not Release Notes content, Module: SQL

#24545 Add missing client side setup for TaskletExecutionException
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionException.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24546 Fix plan invalidation when data connection is changed/dropped
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolver.java
Labels: Type: Defect, Team: Integration, Source: Internal, Not Release Notes content, Module: SQL

#23723 Serialize DAG for non-reusable processor meta-suppliers [HZ-1934]
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopNewApiP.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopOldApiP.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/source/KinesisSourcePMetaSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorSupplier.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlStatefulDagTest.java
  hazelcast/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/MetaSupplierFromProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorMetaSupplier.java
  hazelcast/src/test/java/com/hazelcast/jet/TestContextSupport.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#24500 Prevent data connection creation with a wrong type
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowDataConnectionsSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataConnectionStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaDataConnectionSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoCreateDataConnectionSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/DataConnectionServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/DataConnectionServiceImplTest.java
Labels: Source: Internal, Team: SQL, Module: SQL

#24548 Tweak stream-to-stream fault tolerance stress test timeout and events count
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSTSInnerEquiJoinFaultToleranceStressTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSTSInnerNonEquiJoinFaultToleranceStressTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, SQL-only, Module: SQL

#24551 Increase timeout in GenericMapStoreIntegrationTest#testClear [HZ-2430]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: GenericMapStore

#24556 Fix nightly MySql data connection test
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySqlDownTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, SQL-only

#24197 Disallow adding listener to completed jobs [HZ-2254]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetAddJobStatusListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/Job.java
  hazelcast/src/main/java/com/hazelcast/jet/JobStatusListener.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobEventService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetAddJobStatusListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AddJobStatusListenerOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/Registration.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/AbstractRegistrationOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/DeregistrationOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/RegistrationOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/RegistrationOperationSupplier.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/jet/JobStatusListenerTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#24555 Update GitHub actions to ones using Node.js 16
  .github/workflows/aws-terraform-integration-tests.yml
  .github/workflows/azure-terraform-integration-tests.yml
  .github/workflows/gcp-terraform-integration-tests.yml
Labels: Team: Integration, Source: Internal, dependencies

#24463 Add UT for context Injection for predicate and projection
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/journal/AbstractEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/journal/MapEventJournalBasicTest.java
  hazelcast/src/test/java/com/hazelcast/projection/MapProjectionTest.java
Labels: Source: Community

#24554 Add lifecycle listener before client starts in ConfiguredBehaviorTest
  hazelcast/src/test/java/com/hazelcast/client/connectionstrategy/ConfiguredBehaviourTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal

#24566 Add lifecycle listener before client starts in ConfiguredBehaviorTest [5.3.z]
  hazelcast/src/test/java/com/hazelcast/client/connectionstrategy/ConfiguredBehaviourTest.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal

#24528 Forcing shutdown executors after node shutdown to prevent thread leak [HZ-2414]
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/AbstractPartitionOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PartitionReplicaSyncRequestOffloadable.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/impl/ExecutionServiceImpl.java
  hazelcast/src/test/java/classloading/ThreadLeakTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Invocation System, Not Release Notes content

#24576 Do not delete Jet job snapshots prematurely with LosslessRestart enabled [HZ-2415] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobRepositoryTest.java
Labels: Type: Defect, Backport, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#24483 [TPC] Fix AsyncServerSocket tests failing on MacOS
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: TPC, Team: Alto

#24547 Ensure coherent state in DataConnectionConfig
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/java/com/hazelcast/config/DataConnectionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/DataConnectionConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/DataConnectionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/config/DataConnectionConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
Labels: Type: Defect, Team: Integration, Source: Internal, Not Release Notes content

#24580 Downgrade JavaDoc plugin
  modulepath-tests/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, Team: Platform

#24467 MongoDB Connector Permissions [HZ-2328]
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinkBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoParams.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoParams.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/SelectProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/UpdateProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ConnectorPermission.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/DataConnectionTestUtil.java
Labels: Type: Enhancement, Source: Internal, Module: Security, Not Release Notes content, Team: Platform

#24589 Remove package-info for empty package
  hazelcast/src/main/java/com/hazelcast/json/package-info.java
Labels: Type: Cleanup, Not Release Notes content, Team: Platform

#24382 Explicitly obtaining map proxy to ensure of ListenerAdapter registration [HZ-2219]
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content

#24597 Explicitly obtaining map proxy to ensure of ListenerAdapter registration [HZ-2219] [5.3.z]
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: IMap, Not Release Notes content

#24579 Do not use the same sink name in all tests in StreamKafkaPTest
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24602 Fix .mvn/maven.config [5.1.z]
  .mvn/maven.config
Labels: Team: Core, Source: Internal, Not Release Notes content, Module: Maven build

#24601 Fix .mvn/maven.config [5.2.z]
  .mvn/maven.config
Labels: Team: Core, Source: Internal, Not Release Notes content, Module: Maven build

#24603 Fix .mvn/maven.config [5.0.z]
  .mvn/maven.config
Labels: Team: Core, Source: Internal, Not Release Notes content, Module: Maven build

#24571 Use actual config filename in DefaultAddressPicker error message [HZ-2420]
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultAddressPicker.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/DefaultAddressPickerTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Network I/O, Not Release Notes content

#24590 Add HazelcastProperty constructor for long default values
  hazelcast/src/main/java/com/hazelcast/spi/properties/HazelcastProperty.java
Labels: Team: Storage, Module: TStore

#24599 Add option to run Kafka tests against Redpanda [HZ-2454]
  extensions/kafka/pom.xml
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/DockerizedRedPandaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Type: Enhancement, Team: Integration, Source: Internal, Not Release Notes content, Module: Jet

#24615 [TPC] Drop ifSupported methods in AsyncSocketOptions
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketOptions.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptionsTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: TPC, Team: Alto

#24616 Fix TLS 1.3 support in RestClient
  hazelcast/src/main/java/com/hazelcast/spi/utils/RestClient.java
  hazelcast/src/test/java/com/hazelcast/spi/utils/RestClientTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Kubernetes

#24622 Add option to run Kafka SQL tests against Redpanda
  hazelcast-sql/pom.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: SQL

#24618 Fix HealthMonitor related issues
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/HealthMonitor.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvocationRegistry.java
  hazelcast/src/test/java/com/hazelcast/internal/diagnostics/HealthMonitorTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Diagnostics, Not Release Notes content

#24625 Fix TLS 1.3 support in RestClient [5.1.z]
  hazelcast/src/main/java/com/hazelcast/spi/utils/RestClient.java
  hazelcast/src/test/java/com/hazelcast/spi/utils/RestClientTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Kubernetes

#24624 Fix TLS 1.3 support in RestClient [5.2.z]
  hazelcast/src/main/java/com/hazelcast/spi/utils/RestClient.java
  hazelcast/src/test/java/com/hazelcast/spi/utils/RestClientTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Kubernetes

#24623 Fix TLS 1.3 support in RestClient [5.3.z]
  hazelcast/src/main/java/com/hazelcast/spi/utils/RestClient.java
  hazelcast/src/test/java/com/hazelcast/spi/utils/RestClientTest.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Kubernetes

#24567 [TPC] Upgrade to Java 11
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/iobuffer/IOBuffer.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketMetrics.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketMetrics.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/util/BufferUtil.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_LargePayloadTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_RpcTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/DevNullAsyncSocketReader.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/util/BufferUtilTest.java
  hazelcast/src/test/java/com/hazelcast/osgi/CheckDependenciesIT.java
Labels: Module: TPC

#24627 [TPC] Remove SO_TIMEOUT option
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketOptions.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptionsTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: TPC, Team: Alto

#24593 Serialize DAG for non-reusable processor meta-suppliers [HZ-1934] [5.2.z]
  extensions/elasticsearch/elasticsearch-6/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/ElasticSourcePMetaSupplier.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopNewApiP.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopOldApiP.java
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/source/KinesisSourcePMetaSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/JoinByEquiJoinProcessorSupplier.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlStatefulDagTest.java
  hazelcast/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastWriters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/MetaSupplierFromProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/WrappingProcessorMetaSupplier.java
  hazelcast/src/test/java/com/hazelcast/jet/TestContextSupport.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#24619 Updated Mockito version to 5.3.1 after JDK update
  pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content

#24621 Make aggregate JavaDoc working when having unnamed and named modules
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform

#24595 Cleanup code for rolling upgrade compatibility
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/view/View.java
  hazelcast/src/main/java/com/hazelcast/config/IndexConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapStoreConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/MemberInfo.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/JoinRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/FinalizeJoinOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/HeartbeatOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/LockClusterStateOp.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/ClusterWideConfigurationService.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalRecordStoreStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/PromotionCommitOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/ShutdownResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllPartitionAwareOperationFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Query.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/NamedTaskDecorator.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/TaskDefinition.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Rolling Upgrade, Not Release Notes content

#24638 Update jackson-core to 2.15.1
  hazelcast/pom.xml
  pom.xml
Labels: Source: Internal, Add to Release Notes, dependencies, Team: Platform, Module: Maven build

#24648 Remove duplicated json-smart entry in pom and bump it to 2.4.11 [5.0.z]
  pom.xml
Labels: Type: Defect, Team: Integration, Source: Internal, Module: JSON, Not Release Notes content, dependencies

#24647 Bump snakeyaml from 1.33 to 2.0 [5.0.z]
  pom.xml
Labels: Source: Internal, Source: Community, dependencies

#24629 Cleanup TLS usage after switch to Java 11
  hazelcast/src/test/java/com/hazelcast/config/XmlConfigSchemaLocationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/HTTPCommunicator.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Security

#24652 Use actual config filename in DefaultAddressPicker error message [HZ-…
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultAddressPicker.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/DefaultAddressPickerTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Network I/O, Not Release Notes content

#24655 Bump dependency-check-maven to 8.2.1 [5.0.z]
  pom.xml
Labels: Team: Integration, Type: Cleanup, Source: Internal, Not Release Notes content, Module: Maven build

#24653 Bump dependency-check-maven to 8.2.1 [5.2.z]
  pom.xml
Labels: Team: Integration, Type: Cleanup, Source: Internal, Not Release Notes content, Module: Maven build

#24658 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Platform

#24657 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Platform

#24639 Prevent sending empty map interceptors information to new members
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PostJoinMapOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/PostJoinMapOperationTest.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap

#24660 Allow resetting joinBefore if hot restart didn't complete
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/instance/TestNodeContext.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, constant-test-failure
