Repository hazelcast/hazelcast, pull requests merged in 2023-08, with the labels that each got.

#25098 Use safe connector options to display via querying info_schema mappings [HZ-2758]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTableTest.java
  hazelcast/src/main/java/com/hazelcast/jet/function/PentaFunction.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: SQL

#25095 Implement putAllWithMetadata [HZ-2583]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MapPutAllWithMetadataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutAllWithMetadataMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.7.protocol.compatibility.binary
  hazelcast/src/test/resources/2.7.protocol.compatibility.null.binary
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Integration, Module: Data Migration

#25064 Make MigrationListener timers use wall-clock not CPU time [5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationTimer.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/FieldProbeTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning, Add to Release Notes

#25066 Make MigrationListener timers use wall-clock not CPU time [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationTimer.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/FieldProbeTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning, Add to Release Notes

#25063 Make MigrationListener timers use wall-clock not CPU time [5.0.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationTimer.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/FieldProbeTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning, Add to Release Notes

#25006 Use new `SpecificPartitionsImapReaderPms` for SQL IMap scan [HZ-2729]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/SpecificPartitionsImapReaderPms.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DagBuildContextImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContext.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SpecificPartitionsImapReaderPmsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/prunability/PartitionPruningIT.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet, Module: SQL

#24992 Add Cluster.isEnterprise [data migration tool] [HZ-2588]
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/main/java/com/hazelcast/cluster/Cluster.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/ClientClusterProxyTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterInfoTest.java
Labels: Team: Client, Team: Core, Estimation: S, Module: Cluster

#25119 Implement secure print of data connection options [HZ-2758]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataConnectionsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataConnectionsTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolverTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: SQL

#25023 [TPC] Allow TLS sockets in TPC Bootstrapping [HZ-2764]
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketOptions.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_LargePayloadTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_RpcTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilderTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/NodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/TpcServerBootstrap.java
  hazelcast/src/main/java/com/hazelcast/nio/ssl/SSLEngineFactory.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/SamplingNodeExtension.java
Labels: All Languages Should Check

#25108 Use default Step from IMapStepAwareOperation
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AddIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AwaitMapFlushOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EvictAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EvictOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/KeyLoadStatusOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/LoadAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchEntriesOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapPartitionDestroyOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapSizeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/NotifyMapFlushOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutFromLoadAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/RemoveFromLoadAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/TriggerLoadIfNeededOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapStepAwareOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
Labels: Type: Enhancement, Team: Storage, Module: TStore

#25136 Add suppressions for CVE-2023-37475 false-positive [HZ-2832]
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security

#25138 Use getHazelcastInstanceImpl in JetTestSupport
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: Type: Enhancement

#24997 Add ReplicatedMap source and sink [data migration tool] [HZ-2585]
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinksTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
Labels: Type: Enhancement, Estimation: M, Module: Jet

#25021 Add remoteMapKeys source [data migration tool] [HZ-2582]
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/jet/core/JetDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/HazelcastReaders.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SourcesTest.java
Labels: Team: Core

#25140 Add suppressions for CVE-2023-37475 false-positive [5.2.z] [HZ-2832]
  owasp-check-suppressions.xml
Labels: Backport, Source: Internal, Not Release Notes content, security

#25141 Add suppressions for CVE-2023-37475 false-positive [5.1.z] [HZ-2832]
  owasp-check-suppressions.xml
Labels: Backport, Source: Internal, Not Release Notes content, security

#25142 Add suppressions for CVE-2023-37475 false-positive [5.0.z] [HZ-2832]
  owasp-check-suppressions.xml
Labels: Backport, Source: Internal, Not Release Notes content, security

#25062 Jet partition pruning: support of partitioned edges [HZ-2719]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/LazyDefiningPMSTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SpecificPartitionsImapReaderPmsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast/src/main/java/com/hazelcast/internal/util/Preconditions.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfigArguments.java
  hazelcast/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Edge.java
  hazelcast/src/main/java/com/hazelcast/jet/core/Partitioner.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/JetJobPrunabilityTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/JetPartitionAssignmentTest.java
Labels: Source: Internal, Source: Jet, Team: SQL, Module: SQL

#25114 Fix OnJoinOp handling during batched cluster joining [HZ-2797]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/EventRegistrationTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Cluster, Add to Release Notes

#25153 Fix OnJoinOp handling during batched cluster joining (#25114) [5.3.z]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/OnJoinOp.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/EventRegistrationTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Cluster

#25031 Clarification of prunable IMap scan PMS specifics in Jet TDD [HZ-2729]
  docs/design/jet/025-jet-job-partition-pruning.md
Labels: Source: Internal, Team: SQL, Module: Jet, Module: SQL

#25148 Fix isEnterprise() by setting isFailoverSupported for initial connection as well HZ-2588
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/proxy/ClientClusterProxyTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
Labels: Type: Defect

#25083 Update Maven wrapper versions
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25067 Partition Pruning info for EXPLAIN PLAN [HZ-2530]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, SQL-only, Module: SQL

#25167 Resolve THIRD-PARTY license issues [HZ-2159, HZ-2774] (#25150)
  hazelcast-build-utils/src/main/resources/hazelcast-thirdparty-template.ftl
  pom.xml
Labels: Type: Cleanup, Source: Internal, Team: Integration, Module: Maven build

#25105 Partition Pruning support for __key filters [HZ-2525]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/SpecificPartitionsImapReaderPms.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/HazelcastRelMdPrunability.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/FullScanPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/map/PartitionedMapTable.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SpecificPartitionsImapReaderPmsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/prunability/PSConditionExtractorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/prunability/PartitionPruningIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/prunability/RelPrunabilityTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/schema/map/PartitionedMapPlanObjectKeyTest.java
  hazelcast/src/main/java/com/hazelcast/internal/util/PartitioningStrategyUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadMapOrCacheP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/FixedCapacityIntArrayList.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/init/JetJobPrunabilityTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/FixedCapacityIntArrayListTest.java
Labels: Source: Internal, Team: SQL, Module: SQL

#23509 Add IMap.deleteAsync
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MapDeleteCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDeleteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/map/impl/nearcache/NearCachedClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapBasicTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/MapPreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/core/standalone/AllTest.java
  hazelcast/src/test/java/com/hazelcast/map/AsyncTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/LocalMapStatsTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/AbstractMapNearCacheLocalInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/map/MapSplitBrainProtectionWriteTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
Labels: Type: Enhancement, Team: Client, Team: Core, Source: Community, Module: IMap, Add to Release Notes, All Languages Should Check

#25172 Add missing license-maven-plugin configuration [HZ-2159, HZ-2774]
  pom.xml
Labels: Type: Cleanup, Source: Internal, Team: Integration, Module: Maven build

#25147 Update AWS Terraform workflow[CN-954]
  .github/workflows/aws-terraform-integration-tests.yml
  .github/workflows/build-artifact.yml
Labels: Source: Internal, Not Release Notes content, Team: Cloud Native

#25144 Implement putAllWithMetadata [HZ-2583] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/MapPutAllWithMetadataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPutAllWithMetadataMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/map/impl/nearcache/NearCachedClientMapProxy.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientMapTest.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.7.protocol.compatibility.binary
  hazelcast/src/test/resources/2.7.protocol.compatibility.null.binary
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: IMap, Not Release Notes content, Team: Integration

#25162 Fix incorrect PartitioningStrategy lookup on Clients [HZ-2738]
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/DefaultClientExtension.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config, Add to Release Notes

#24928 Fix WAN events fired after split-brain merges where values don't change [HZ-2620]
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheMergeResponse.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/ICacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheLoadAllOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheMergeOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CachePutAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CachePutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllBackupOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/MapMergeResponse.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/spi/merge/MergingCreationTime.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25159 Set noop for tenant
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapPartitionDestroyOperation.java
Labels: Type: Defect

#25194 Close the ResultSet in JdbcSqlTestSupport.java [HZ-2882]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
Labels: Type: Cleanup, Source: Internal, Module: Jet, Team: Integration

#25173 Use netty-tcnative version from netty-bom
  pom.xml
Labels: Type: Cleanup, Source: Internal, Module: Security, dependencies, Team: Integration

#25175 Upgrade netty version and use netty-tcnative version from netty-bom (5.2.z)
  pom.xml
Labels: Backport, dependencies

#25176 Upgrade netty version and use netty-tcnative version from netty-bom (5.1.z)
  pom.xml
Labels: Backport, dependencies

#25177 Upgrade netty version (5.0.z)
  pom.xml
Labels: Backport, dependencies

#25155 Add missing `hazelcast-cloud` to the client xml config generator [API-2098]
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/resources/hazelcast-client-config-5.4.xsd
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
Labels: Type: Defect

#25146 Cache performance improvements [HZ-2821]
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheStatisticsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/NearCacheStatsImpl.java
Labels: Type: Enhancement, Team: Core, Source: Community, Module: Near Cache

#25203 Close the ResultSet in PostgresCdcIntegrationTest.java [HZ-2893]
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcIntegrationTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25199 Close the ResultSet in WriteJdbcPTest.java [HZ-2892]
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25137 Support YAML client configurations for cache [HZ-2834]
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractHazelcastCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/HazelcastServerCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/HazelcastClientCachingProvider.java
  hazelcast/src/test/java/com/hazelcast/cache/HazelcastServerCachingProviderTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/HazelcastClientCachingProviderTest.java
  hazelcast/src/test/resources/test-hazelcast-client-simple.xml
  hazelcast/src/test/resources/test-hazelcast-client-simple.yaml
Labels: Type: Defect, Team: Core, Source: Community

#25198 [BACKPORT] Try to load the class for the type name of the Compact GenericRecord once [API-2120] [API-2070] (#24449)
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializableRegistration.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/CompactFormatIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactStreamSerializerValueReaderQuickTest.java
Labels: Type: Enhancement

#25151 Update Hazelcast documentation link version
  docs/design/cluster/03-split-brain-recovery-improvements.md
  docs/design/jet/023-kafka-connect-source-connectors.md
  docs/design/jet/024-non-corruptible-snapshots.md
  docs/design/security/03-tls-key-material-reload.md
  docs/design/sql/18-data-connections.md
  docs/design/template.md
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/PredicatePushDownJdbcSqlConnectorTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25209 Close the ResultSet in JdbcDataConnection.java, PostgresCdcListenBeforeExistsIntegrationTest.java [HZ-2903]
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/PostgresCdcListenBeforeExistsIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
Labels: Type: Cleanup, Not Release Notes content, Team: Integration

#25145 Replace NearCacheStatsImpl with interface
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/ClientStatisticsService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/statistics/NearCacheMetricsProvider.java
  hazelcast/src/main/java/com/hazelcast/instance/LocalInstanceStats.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalReplicatedMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/NearCacheStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/nearcache/NearCacheStats.java
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/impl/AbstractNearCacheBasicTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Near Cache

#25179 [CN-930] Add K8s auto discovery test workflow
  .github/workflows/k8s-terraform-integration-tests.yml
Labels: Source: Internal, Not Release Notes content, Module: Kubernetes, Team: Cloud Native, Type: Test Coverage

#25193 Create ClientProperty for PARTITIONING_STRATEGY_CLASS and use on clients [HZ-2879]
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/DefaultClientExtension.java
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Config, Not Release Notes content

#25201 [BACKPORT] Try to load the class for the type name of the Compact GenericRecord once [API-2120] [API-2070] (#24449)
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializableRegistration.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializer.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/integration/CompactFormatIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/reader/CompactStreamSerializerValueReaderQuickTest.java
Labels: Type: Enhancement

#25218 Remove redundant backported Java 8 code in `com.hazelcast.query.impl.bitmap.BitmapUtils`
  hazelcast/src/main/java/com/hazelcast/query/impl/bitmap/BitmapUtils.java
  hazelcast/src/test/java/com/hazelcast/query/impl/bitmap/BitmapUtilsTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25223 Add client protocol binary compatibility tests for v2.7
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/DiscoveryConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/DiscoveryStrategyConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/WanBatchPublisherConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/WanConsumerConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/WanCustomPublisherConfigHolder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/holder/WanSyncConfigHolder.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/resources/2.7.protocol.compatibility.binary
  hazelcast/src/test/resources/2.7.protocol.compatibility.null.binary
Labels: Type: Defect, Team: Core, Source: Internal, Module: Config

#16890 ServiceLoader should accept "duplicate" resource URLs but enforce uniqueness for their content instead
  hazelcast/src/main/java/com/hazelcast/internal/util/ServiceLoader.java
Labels: Type: Enhancement, Team: Core, Source: Internal

#24673 IMap local values
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/query/LocalValuesTest.java
Labels: Source: Community, Module: IMap

#25220 Fix Diagnostics performance log hint from HealthMonitor
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/HealthMonitor.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Diagnostics, Add to Release Notes

#25225 Removed GroupPropertyTest
  hazelcast/src/test/java/com/hazelcast/spi/properties/GroupPropertyTest.java
Labels: Type: Cleanup

#25210 Add IBM profile to set javaModuleArgs correctly
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration, Module: Maven build

#25226 Added @since 5.4 to IMap.localValues
  hazelcast/src/main/java/com/hazelcast/map/IMap.java
Labels: Module: IMap, Type: Documentation

#25228 Fix K8s service port [CN-894] [5.3.2]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiProvider.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
Labels: Type: Defect, Source: Internal, Module: Discovery SPI, Add to Release Notes, Module: Kubernetes, Team: Cloud Native

#25205 Centralise IDE configurations
  CONTRIBUTING.md
  ide-configurations/README.md
  ide-configurations/eclipse/Hazelcast-Eclipse.pref.epf
  ide-configurations/eclipse/README.md
  ide-configurations/eclipse/import-preferences-button.png
  ide-configurations/eclipse/import-preferences-wizard.png
  ide-configurations/intellij/Project.xml
  ide-configurations/intellij/README.md
  ide-configurations/intellij/screenshot.png
Labels: Type: Cleanup, Source: Internal

#25215 Close the ResultSet in WriteJdbcPTest#test_transactional_withRestarts() method [HZ-2914]
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25232 Access HD value in partition thread [HZ-2912] (#25217)[5.3.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapOpStep.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
Labels: Type: Defect, Team: Core, Module: IMap

#25233 Access HD value in partition thread [HZ-2912] (#25217)[5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapOpStep.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
Labels: Type: Defect, Team: Core, Module: IMap

#25027 Give the possibility to control pool size of Mongo Data Connection
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnection.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnectionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoCreateDataConnectionSqlTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25231 Introduce supportsSteppedRun method [HZ-2895]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapStepAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
Labels: Type: Enhancement, Team: Storage, Module: TStore

#25246 Cancel read from Ringbuffer reliable topic listener is removed [hz-2930]
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/MessageRunner.java
  hazelcast/src/test/java/com/hazelcast/topic/impl/reliable/ReliableTopicAbstractTest.java
Labels: Type: Defect, Source: Community, Module: ITopic, Not Release Notes content, Team: Integration

#25219 Annotate build properties as generated
  hazelcast/src/main/template/com/hazelcast/instance/GeneratedBuildProperties.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Rolling Upgrade

#25253 Upgrade checkstyle to 10.12.1
  checkstyle/checkstyle.xml
  checkstyle/checkstyle_jet.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operand/MultiTypeOperandChecker.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlJsonTypeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/json/JsonArrayFunctionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/string/PositionFunctionIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InstantiationUtils.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ReflectionUtils.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/ClassPathFormattingTest.java
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Module: Scripts

#25101 bugfix: Discovery SPI Group partitioning - master now shuts down cleanly
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/SPIAwareMemberGroupFactory.java
Labels: Type: Defect, Source: Community, Module: Discovery SPI, Team: Cloud Native

#25258 Remove Java 8 references from `README.md`
  README.md
Labels: Type: Defect, Team: Core, Source: Internal

#25202 Do not throw and log NPE and finish operation logic when clearing empty IMap
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/ClearOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EvictAllOperation.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Add to Release Notes

#25264 Eclipse IDE Configuration - Remove trailing white spaces
  ide-configurations/eclipse/Hazelcast-Eclipse.pref.epf
Labels: Team: Core, Source: Internal

#25266 Restore implements Versioned where required
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterStateTransactionLogRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/HeartbeatOp.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/LockClusterStateOp.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllPartitionAwareOperationFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/Query.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Rolling Upgrade

#25265 Escape PK column in MSSQLUpsertQueryBuilder [HZ-2963]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/mssql/MSSQLUpsertQueryBuilder.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mssql/MSSQLUpsertQueryBuilderTest.java
Labels: Type: Defect, Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration

#25196 Use vectorizable byte array comparison in DataComparator [HZ-2885]
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#25234 Do not check order of indexes when MapConfig is added via dynamic configuration
  hazelcast/src/main/java/com/hazelcast/config/IndexConfig.java
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
Labels: Type: Enhancement, Source: Internal, Module: IMap, Team: SQL, Add to Release Notes

#25271 Include missing cloud config in generated client XML
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
Labels: Type: Defect, Module: Config, Not Release Notes content, Team: Integration

#25259 Refactor split brain test config access [HZ-2917]
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigSplitBrain_whenConfigExistsInSmallerBrainLiteMemberOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/test/SplitBrainTestSupport.java
Labels: Team: Storage, Module: TStore

#25273 Create docs-only PR builder [HZ-2933]
  README.md
Labels: Team: Core, Source: Internal, Not Release Notes content, docs-only

#25200 Clear some of the warnings we have during builds
  checkstyle/checkstyle.xml
  extensions/hadoop-dist/hadoop-all/pom.xml
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/s3/pom.xml
  hazelcast-it/distribution-it/pom.xml
  hazelcast-sql/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25276 Make record-factory creation per record-store [HZ-2917]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractEvictableRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Team: Core, Module: IMap, Team: Storage, Module: TStore

#25221 Forbid usage of processing guarantees for batch CREATE JOB [HZ-2727]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaIntegrationSqlTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, SQL-only, Module: SQL

#25277 Null indices removal [HZ-2921]
  hazelcast/src/test/java/com/hazelcast/map/impl/query/QueryNullHandlingTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Storage, Module: TStore

#25267 Print warning log when NodePorts are used as public IPs in Kubernetes plugin [CN-207]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25298 Print warning log when NodePorts are used as public IPs in Kubernetes plugin [CN-207] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Backport, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25299 Print warning log when NodePorts are used as public IPs in Kubernetes plugin [CN-207] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Backport, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25300 Print warning log when NodePorts are used as public IPs in Kubernetes plugin [CN-207] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Backport, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25116 End-to-end partition prunability tests [HZ-2787]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/QueryPlanListener.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlJobInvocationObserver.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlEndToEndTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlPartitionPruningE2ETest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/module/Pojo.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/prunability/PartitionPruningIntegrationTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobInvocationObserver.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: SQL

#25302 Add icon to IntelliJ
  .gitignore
  .idea/icon.png
Labels: Type: Enhancement, Source: Internal, Not Release Notes content

#25295 Handle possibility that `MetricsRegistryImpl#gauges` values can be null
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Diagnostics, to-jira

#25309 Handle possibility that `MetricsRegistryImpl#gauges` values can be null [5.0.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Diagnostics

#25308 Handle possibility that `MetricsRegistryImpl#gauges` values can be null [5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Diagnostics

#25307 Handle possibility that `MetricsRegistryImpl#gauges` values can be null [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Diagnostics

#25306 Handle possibility that `MetricsRegistryImpl#gauges` values can be null [5.3.z]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MetricsCollectionCycle.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Diagnostics

#25152 Assign to test failure GH Action
  .github/workflows/assign-to-test-failure.yml
Labels: Source: Internal, Not Release Notes content, github_actions

#25274 Update MSSQL Jdbc driver and testcontainers version
  extensions/mapstore/pom.xml
  hazelcast-sql/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Team: Integration

#25303 Fix UdpSourceTest by using automatically allocated port [HZ-3001]
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/StreamSocketPIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25317 Fix UdpSourceTest by using automatically allocated port [HZ-3001] [5.3.z]
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/StreamSocketPIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25293 `HazelcastProxyFactory` - replace `ConcurrentReferenceHashMap` with `ConcurrentHashMap`
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastProxyFactory.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25275 Upgrade checkstyle to 10.12.2
  checkstyle/checkstyle.xml
  checkstyle/checkstyle_jet.xml
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/query/impl/Indexes.java
  pom.xml
Labels: Team: Core, Type: Cleanup, Not Release Notes content, dependencies, Module: Scripts

#25310 Remove duplicate methods between `ExceptionUtil` in `com.hazelcast.jet.impl.util` & `com.hazelcast.internal.util`
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/RetryUtils.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHadoopNewApiP.java
  extensions/hadoop/src/main/java/com/hazelcast/jet/hadoop/impl/ReadHdfsMetaSupplierBase.java
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/impl/ReadHadoopPTest.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoP.java
  extensions/protobuf/src/main/java/com/hazelcast/jet/protobuf/ProtobufSerializer.java
  extensions/protobuf/src/test/java/com/hazelcast/jet/protobuf/ProtobufSerializerTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/QueryResultProducerImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/MetadataResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/extract/JsonQueryTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/JsonUpsertTarget.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/FileUtil.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/model/AllCanonicalTypesValueDeserializer.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/model/AllCanonicalTypesValueSerializer.java
  hazelcast/src/main/java/com/hazelcast/jet/core/function/ObjLongBiFunction.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestSupport.java
  hazelcast/src/main/java/com/hazelcast/jet/function/PentaFunction.java
  hazelcast/src/main/java/com/hazelcast/jet/function/QuadFunction.java
  hazelcast/src/main/java/com/hazelcast/jet/function/TriFunction.java
  hazelcast/src/main/java/com/hazelcast/jet/function/TriPredicate.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterSnapshotContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/AsyncHazelcastWriterP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamFilesP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamSocketP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteFileP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ProcessorTasklet.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/TaskletExecutionService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlanBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/AsyncOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/AsyncTransformUsingServiceUnorderedP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/TwoPhaseSnapshotCommitUtility.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/UnboundedTransactionsProcessorUtility.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/MigrationCommitTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycle_RestartableExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TestUtil.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTestBase.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsTestUtil.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/StreamFilesP_integrationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/TaskletExecutionServiceTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25154 Allow permissions subtraction - using deny rules [HZ-2780]
  docs/design/security/04-deny-permissions.adoc
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.4.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/PermissionConfig.java
  hazelcast/src/main/java/com/hazelcast/config/SecurityConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicSecurityConfig.java
  hazelcast/src/main/resources/hazelcast-config-5.4.json
  hazelcast/src/main/resources/hazelcast-config-5.4.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Security, Add to Release Notes

#25289 Change the test to send second batch of messages synchronously [HZ-2779]
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25323 Describe partitioned edge and allToOne support in Jet TDD [HZ-2855]
  docs/design/jet/025-jet-job-partition-pruning.md
Labels: Team: Documentation, Source: Internal, Type: Documentation, docs-only

#25342 Remove TestStringUtils and use Java 11 instead [HZ-3026]
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  hazelcast/src/test/java/com/hazelcast/collection/impl/queue/StoreLatencyPlugin_QueueIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/StoreLatencyPlugin_MapIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/StoreLatencyPluginRingbufferIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestStringUtils.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25180 Do not generate redundant sort/merge operations for sorted index scans [HZ-2791]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/FieldCollation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/cost/CostUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/IndexScanMapPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/SortPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, SQL-only, Module: SQL
