Repository hazelcast/hazelcast, pull requests merged in 2023-12, with the labels that each got.

#26064 Tests if pruned member left the cluster, query doesn't interrupt [HZ-2992]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlEndToEndTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlPartitionPruningE2ETest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlPrunedMemberLeftTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobInvocationObserver.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
Labels: Source: Internal, Team: SQL, Module: SQL

#26124 Fix: com.hazelcast.jet.sql.impl.schema.SqlMappingTest.when_mapExistsButMappingIsNotCreated_then_suggestDdl [HZ-3941]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, SQL-only, Module: SQL

#26087 Add tests for member pruning [HZ-1917]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/MemberPruningTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlEndToEndTestSupport.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/test/java/com/hazelcast/partition/strategy/AttributePartitioningStrategyIntegrationTest.java
Labels: Source: Internal, Team: SQL, Module: SQL

#26069 Replace `CollectionUtil#hasNonEmptyIntersection` with `Collections.disjoint`
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast/src/main/java/com/hazelcast/internal/util/CollectionUtil.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#26129 Litter reduction in CompositeMessageTaskFactory.create
  hazelcast/src/main/java/com/hazelcast/client/impl/CompositeMessageTaskFactory.java
Labels: Team: Client, Team: Performance

#26130 Litter reduction in TcpServerConnection.hashCode.
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnection.java
Labels: Team: Client, Team: Performance

#26134 [TPC] Added BufferUtil.allocate.
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/iobuffer/ConcurrentIOBufferAllocator.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/iobuffer/NonConcurrentIOBufferAllocator.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/util/BufferUtil.java
Labels: Type: Cleanup

#26128 [CN-296] Fix Kubernetes auto-discovery workflow
  .github/workflows/k8s-terraform-integration-tests.yml
Labels: Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#26136 More GMS tests marked as ITs
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreBasicIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mssql/MSSQLGenericMapStoreBasicIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mysql/MySQLGenericMapStoreBasicIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/oracle/OracleGenericMapStoreBasicIT.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/postgres/PostgresGenericMapStoreSimpleIT.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration
