Repository hazelcast/hazelcast, pull requests merged in 2023-04, with the labels that each got.

#24156 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Platform

#24157 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Platform

#24158 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Platform

#24161 Fix DefaultAddressPickerTest.testPublicAddress_withDefaultPortAndLocalhost [HZ-2236]
  hazelcast/src/test/java/com/hazelcast/instance/impl/DefaultAddressPickerTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/DelegatingAddressPickerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O, Not Release Notes content

#23473 Stream to stream JOIN stress test [HZ-1944]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSTSInnerEquiJoinFaultToleranceStressTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSTSInnerNonEquiJoinFaultToleranceStressTest.java
Labels: Type: Enhancement, Team: SQL

#24172 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Team: Core, Source: Internal, security

#24173 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Team: Core, Source: Internal, security

#24174 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Team: Core, Source: Internal, security

#24180 Bump json-smart from to 2.4.10 to fix CVE-2023-1370 [5.1.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Module: JSON, Not Release Notes content, dependencies, Team: Platform

#24181 Bump json-smart from to 2.4.10 to fix CVE-2023-1370 [5.0.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Module: JSON, Not Release Notes content, dependencies, Team: Platform

#24169 Fix storing couchbase logs in KafkaConnectCouchbaseIntegrationTest [#24159]
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectCouchbaseIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24176 Fix anyOf test [HZ-2244]
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_ArbitraryArityConstructionTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Invocation System, Not Release Notes content

#24186 Log progress in EntryProcessorBouncingNodesTest [HZ-2226]
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorBouncingNodesTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content

#24185 Cleanup executor in ParallelPartitionScanExecutorTest [HZ-2249]
  hazelcast/src/test/java/com/hazelcast/map/impl/query/ParallelPartitionScanExecutorTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Query, Not Release Notes content

#24192 Allow retries in downloading artifacts [5.2.z] [API-1997]
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastVersionLocator.java
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3Proxy.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
  pom.xml
Labels: Type: Test-Failure, Backport, Source: Internal, Team: Platform

#24178 Mongo improvements [HZ-2237]
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinkBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinks.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSources.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/Mappers.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoConnection.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoUtilities.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoP.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoParams.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoP.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoParams.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/AbstractMongoTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSinkResilienceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSinkTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceResilienceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceVariousIdTypesTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourcesWindowedTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24194 Override true common methods
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Enhancement, Team: Core, Team: Storage

#23772 Allow compound identifier for external name [HZ-2035]
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpdateQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/h2/H2UpsertQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLUpsertQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresUpsertQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateMapping.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/Mapping.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/h2/H2UpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLUpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresUpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlMappingTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlMappingTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/SqlMappingTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/HazelcastSqlParserTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/SqlCreateMappingTest.java
Labels: Type: Enhancement, Source: Internal, Module: Query, Team: SQL, Add to Release Notes, Team: Platform

#24129 Fix hardcoded watermark key assignment for SQL windowing aggregation [HZ-2189]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/WatermarkKeysAssigner.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/AggregateSlidingWindowPhysicalRule.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/WatermarkKeysAssignerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/STSJoinSlidingWindowAggregationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/SqlStreamingJoinAndAggregationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/aggregate/UnionSlidingWindowAggregationTest.java
  hazelcast/src/main/java/com/hazelcast/jet/core/AbstractProcessor.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/Processors.java
Labels: Type: Defect, Source: Internal, Team: SQL

#24207 Exclude log4j dependency [HZ-2241]
  hazelcast-sql/pom.xml
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, security, severity:critical

#24054 Generate suggested DDL for HD IMaps without indexes and TS IMaps [HZ-2190] [HZ-2191]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/IMapResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/MCMessageTasksTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#24154 Use shared state for tasks from a single connector [#24018] [HZ-2232]
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/ConnectorWrapper.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/ReadKafkaConnectP.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/SourceOffsetStorageReader.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/State.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/TaskRunner.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/ReadKafkaConnectPTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/SourceOffsetStorageReaderTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/TaskRunnerTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24202 Use data link from mapping and remove data-link-name option
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStoreProperties.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/MappingHelper.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/Options.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/AllTypesInsertJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/AllTypesSelectJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/DeleteJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcIMapTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcJoinTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnectorBounceTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnectorStabilityTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/SchemaJdbcConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/SinkJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpdateJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/datalink/impl/DataLinkServiceImplTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Team: Platform

#24222 [TPC] Renamed ReadHandler to AsyncSocketReader.
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketReader.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilder.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/ReactorTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketBuilderTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketBuilderTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_LargePayloadTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_ReadableTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocket_RpcTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/DevNullAsyncSocketReader.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilderTest.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/ClientAsyncSocketReader.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/TpcServerBootstrap.java
Labels: Module: TPC

#24226 Make sure JDBC tests are not run on Windows
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23949 Fix a NPE when calling array getters on a DeserializedGenericRecord
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#24035 Various fixes for job status listeners [HZ-2162] [HZ-2182] [HZ-2195]
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/test/java/com/hazelcast/jet/JobStatusListenerTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#24206 Exclude log4j dependency [HZ-2241] [5.2.z]
  hazelcast-sql/pom.xml
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, security, severity:critical

#24205 Exclude log4j dependency [HZ-2241] [5.1.z]
  hazelcast-sql/pom.xml
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, security, severity:critical

#24204 Fix WriteJdbcPTest.test_supplied_closeable_datasource_is_closed [GH#23859] [HZ-2263]
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24193 Fix `GET_DDL` windows-specific line separator [HZ-2283]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
Labels: Type: Test-Failure, SQL-only

#24105 Support xml/yaml files in the HazelcastDataLink [HZ-2202]
  hazelcast/src/main/java/com/hazelcast/dataconnection/HazelcastDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/hazelcastdataconnection/HazelcastDataConnectionClientConfigBuilder.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/hazelcastdataconnection/HazelcastDataConnectionConfigLoader.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/hazelcastdataconnection/HazelcastDataConnectionConfigValidator.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/HazelcastDataConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/hazelcastdataconnection/HazelcastDataConnectionConfigLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/hazelcastdataconnection/HazelcastDataConnectionConfigValidatorTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Platform

#22089 SQL nested fields access TDD
  docs/design/sql/19-user-defined-types.md
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/CompactUpsertTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTarget.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPortableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/PortableUpsertTargetTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/NestedTypesDDLTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/PortableNestedFieldsTest.java
Labels: Team: SQL, Type: Documentation

#24203 Add projection function to Kafka Connect sources [HZ-2261]
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/KafkaConnectSources.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/ReadKafkaConnectP.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectCouchbaseIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectJdbcIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectNeo4jIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectSourcesTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/SourceRecordUtil.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/ReadKafkaConnectPTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24177 Improve ClientConnectionProcessListenerTest [API-1998]
  hazelcast/src/test/java/com/hazelcast/client/impl/management/ClientConnectionProcessListenerTest.java
Labels: Team: Client, Type: Test-Failure, Type: Cleanup, Source: Internal

#24247 Rename connector from MongoDB to Mongo
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mongodb/MongoGenericMapStoreTest.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/dataconnection/impl/MongoDataConnectionRegistration.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/AbstractMongoTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesInsertMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesSelectInsertedMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesSelectMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoCreateDataConnectionSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnectorTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24270 Fix test issue with dashes in 'DATA CONNECTION' name [HZ-2292]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnectorBounceTest.java
Labels: Source: Internal, Team: SQL, SQL-only

#24265 Make actions return ACTION_SUBMIT and ACTION_ADD_RESOURCES [HZ-1686]
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUploadJobMetaDataTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUploadJobMultipartTask.java
Labels: Type: Defect, Team: Integration, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24281 Fix MySQL related tests after removing ansi mode [HZ-2298][HZ-2299]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mysql/MySQLGenericMapStoreTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/HazelcastMySqlDialect.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/DeleteJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpdateJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLAllTypesInsertJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLAllTypesSelectJdbcSqlConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MySQLDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/TestDatabaseProvider.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: SQL

#24228 Compound external name handling in Mongo SQL Connector [HZ-2260]
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinks.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSources.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/Options.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesInsertMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesSelectInsertedMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesSelectMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnectorTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24237 Fix the tests JdbcSqlConnectorStabilityTest [HZ-1686]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnectorStabilityTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/SchemaJdbcConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLJdbcSqlConnectorStabilityTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLSchemaJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresJdbcSqlConnectorStabilityTest.java
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MySQLDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/PostgresDatabaseProvider.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24259 Validate table exists in JdbcSqlConnector [HZ-2286]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform, Module: SQL

#24296 Add explanation to javadoc to check for the state of the job startup [HZ-2062]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
Labels: Type: Enhancement, Team: Integration, Source: Internal, Not Release Notes content, Module: Jet

#24291 Fix byte[] to hexadecimal string conversion [HZ-2310]
  hazelcast/src/main/java/com/hazelcast/internal/util/Sha256Util.java
  hazelcast/src/test/java/com/hazelcast/internal/util/Sha256UtilTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24284 Increase timeout in GenericMapStoreIntegrationTest [HZ-2308]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: GenericMapStore

#23825 Log all exceptions thrown from MapStore/Loader
  hazelcast/src/main/java/com/hazelcast/internal/util/FutureUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/ProxyServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/util/ClientStateListenerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/FutureUtilTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreExceptionsLoggedTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: IMap, Not Release Notes content, Team: Platform

#24266 Extend set of masked fields in ConfigXmlGenerator [HZ-2289]
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config

#24261 Removed without backup flag variant of getRecordOrNull method [HZ-2287]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/GetEntryViewOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ContainsKeyOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/DeleteOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/GetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnSetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/RecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/expiry/ExpirySystemImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnLockAndGetOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TxnSetOperation.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/ExpirationListenerTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
Labels: Type: Defect, Team: Core, Module: IMap, Module: Lock

#24299 Add prefix for table mappings [HZ-2305]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mariadb/MariaDBGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mssql/MSSQLGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mysql/MySQLGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/postgres/PostgreSQLGenericMapStoreIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
Labels: Team: Integration, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#24297 Fix remoteMapJournal_withExternalConfigYaml test [HZ-2303]
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
Labels: Team: Integration, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#24269 Data Connection TDD Cleanup
  docs/design/sql/18-data-connections.md
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content, Type: Documentation

#24316 Removing two tests that are now part of EE suite [HZ-2306]
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSinkResilienceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceResilienceTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23749 Decrement owned entry count with proper condition [HZ-1182]
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/NearCacheRecordMap.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/AbstractNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/BaseHeapNearCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/store/HeapNearCacheRecordMap.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/NearCacheStatsStressTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Near Cache, Not Release Notes content

#24311 Validate mapStoreConfig has data-connection-ref property [HZ-2314]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/AllTypesGenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapLoaderTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
Labels: Type: Defect, Team: Integration, Source: Internal, Not Release Notes content, Module: Jet

#24208 Various fixes for updating job configuration [HZ-2253] [HZ-2264] [HZ-2271]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlAlterJob.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlJobManagementTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionRecord.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetSplitBrainTestSupport.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTimeoutTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet, ux-defect

#24307 Extend set of masked fields in ConfigXmlGenerator [HZ-2289] (5.0.z)
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Internal, Module: Config

#24308 Extend set of masked fields in ConfigXmlGenerator [HZ-2289] (5.1.z)
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Internal, Module: Config

#24280 Partition compactor
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/EmptyMapDataStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/mapstore/MapDataStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOffloadableSetUnlockOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ClearOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/ContainsKeyOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/DeleteOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/EntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/GetAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/GetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapOpStep.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapStepAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MergeOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MultipleEntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideEntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/RemoveIfSameOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/RemoveOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnPrepareOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnRollbackOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/TxnUnlockOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/Storage.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/executionservice/ExecutionService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationexecutor/OperationRunner.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/operations/Backup.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorOffloadableTest.java
Labels: Type: Enhancement, Team: Storage, Module: TStore

#24309 Extend set of masked fields in ConfigXmlGenerator [HZ-2289] (5.2.z)
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
Labels: Type: Enhancement, Team: Core, Backport, Source: Internal, Module: Config

#24184 Fix ClientMessageProtectionTest [API-1995]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/ClientMessageReader.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/ClientMessageProtectionTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal

#24320 Mark attempt as failed before checking next retry time
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoConnection.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform

#24300 Support nullable primitives in CREATE MAPPING for compact serialization [HZ-2239]
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/FieldsUtil.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/schema/IMapResolverTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes

#24313 Less flaky MongoStreamSqlConnectorTest [HZ-2304]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnectorTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24329 Fix windowing pipelines in Kafka Connect source [HZ-2321]
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/ReadKafkaConnectP.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectJdbcIntegrationTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24282 Disallow creating mapping for internal IMaps [HZ-2293]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlMappingTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#24324 Validate keep-alive related socket options [HZ-2166]
  hazelcast-spring/src/main/resources/hazelcast-spring-5.3.xsd
  hazelcast/src/main/java/com/hazelcast/config/EndpointConfig.java
  hazelcast/src/main/resources/hazelcast-config-5.3.json
  hazelcast/src/main/resources/hazelcast-config-5.3.xsd
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/EndpointConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/UnifiedNetworkIntegrationTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config

#24263 Fix metrics NPE if Raft session endpointName is null [HZ-2277]
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Type: Defect, Team: Core, Source: Community, Team: Management Center, Module: CP Subsystem, Module: Metrics, Not Release Notes content, Team: Platform

#24267 [TPC] Implement contains method for SelectionKeysSet [HZ-2265]
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/SelectorOptimizer.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/nio/SelectionKeysSetTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/nio/SelectorOptimizerTest.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioThread.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/SelectorOptimizer.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Network I/O, Not Release Notes content

#24272 Fix metrics NPE if Raft session endpointName is null [HZ-2277] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Team: Management Center, Module: CP Subsystem, Team: Platform

#24153 Backport sync fixes
  hazelcast/src/main/java/com/hazelcast/internal/services/WanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/WanMapSupportingService.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#24346 Fix test by using slow EP [HZ-2331]
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/offload/MapStoreForceOffloadAllOperationTest.java
Labels: Type: Test-Failure

#23948 [API-1863] Disallow modifying generic records after they are built
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecordCloner.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedSchemaBoundGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/genericrecord/GenericRecordBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Add to Release Notes

#24348 Refactor op time-out check logic for first step [HZ-2333]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
Labels: Type: Test-Failure

#24349 Restore nested EP offload behavor for map-store enabled maps [HZ-2334]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationexecutor/slowoperationdetector/SlowOperationDetectorAbstractTest.java
Labels: Type: Test-Failure

#24321 Check cause of exception for retry in Elastic sink [HZ-2335]
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/elasticsearch/elasticsearch-7/src/main/java/com/hazelcast/jet/elastic/impl/RetryUtils.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/BaseElasticTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/CommonElasticSinksTest.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/ElasticSupport.java
  extensions/elasticsearch/elasticsearch-7/src/test/java/com/hazelcast/jet/elastic/RetryElasticSinkTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24331 Add GenericMapLoader.LOAD_ALL_KEYS_PROPERTY to disable loading all keys [HZ-2285]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStoreProperties.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapLoaderTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
Labels: Type: Enhancement, Team: Integration, Module: IMap, Source: Jet

#24353 Revert logging stack traces on connection errors for client
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
Labels: Team: Client, Type: Cleanup, Source: Internal

#24339 Support catalog and schema in listResources [HZ-2325]
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/KafkaDataConnectionTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowStatementTest.java
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/dataconnection/DataConnectionResource.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/DataConnectionTestUtil.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/JdbcDataConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/ListResourcesTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform

#24332 Add support for table names with schemas to GenericMapLoader [HZ-2291]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStoreProperties.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/MappingHelper.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapLoaderTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/MappingHelperTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mysql/MySQLGenericMapStoreTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform, Module: SQL

#24354 Run injected Step as first step of step-sequence
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/GetOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
Labels: Type: Defect, Type: Test-Failure, Team: Storage

#24380 Fix test by only checking running instances [HZ-2343]
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/offload/MapStoreOffloadingBouncingNodeTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceAccessor.java
Labels: Team: Core, Type: Test-Failure

#24352 Create pool in JdbcDataConnection lazily [HZ-2317]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/DbUnreachableJdbcSqlConnectorTest.java
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/dataconnection/DataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/ReferenceCounter.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/JdbcDataConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MSSQLDatabaseProvider.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform, Module: SQL

#24377 Add support for column type text [HZ-2340]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLMappingJdbcSqlConnectorTest.java
Labels: Type: Defect, Team: Integration, Source: Internal, Module: Jet

#24355 Mongo client connection won't cause CREATE DATA CONNECTION to fail [HZ-2317]
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnection.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoCreateDataConnectionSqlTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24384 Fix SplitBrainTest.when_splitBrainProtectionEnabledLater_then_jobDoesNotRestartOnMinority [HZ-2347]
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#24310 Create new property for member to set the temporary directory to be used for storing jar uploads [HZ-2315]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UploadJobMetaDataOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/JobMetaDataParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStatus.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/validator/JarOnClientValidator.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/validator/JarOnMemberValidator.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStatusTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/validator/JarOnClientValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/validator/JarOnMemberValidatorTest.java
Labels: Type: Enhancement, Team: Integration, Source: Internal, Not Release Notes content, Module: Jet

#24351 Tighten up DynamicMapConfigTest and add more verbose failure messages [HZ-2337]
  hazelcast/src/test/java/com/hazelcast/map/DynamicMapConfigTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content

#24333 Merge data connection properties with mapping properties for Kafka [HZ-2301]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaDataConnection.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSinks.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/KafkaDataConnectionTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/RowProjectorProcessorSupplier.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaCreateDataConnectionSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaDataConnectionIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaDataConnectionSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlKafkaAggregateTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlPrimitiveTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/UtilTest.java
Labels: Type: Enhancement, Source: Internal, Module: SQL

#24401 Change MariaDBDatabaseProvider to use testcontainer instance [HZ-2252]
  hazelcast/pom.xml
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MSSQLDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MariaDBDatabaseProvider.java
  hazelcast/src/test/resources/container-license-acceptance.txt
Labels: Team: Integration, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet

#24356 Introduce Object Type handling in SQL [HZ-2312]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaDataConnection.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/KafkaDataConnectionTest.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnection.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnectionTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/virtual/ViewTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/HazelcastRelMdBoundedness.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/JetTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/BadTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/Table.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/map/AbstractMapTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/view/View.java
  hazelcast-sql/src/main/resources/META-INF/services/com.hazelcast.sql.Connectors
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMetadataInJobConfigTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowDataConnectionsSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/SqlMappingTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestBatchSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestStreamSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/schema/SqlCatalogTest.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/DataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/HazelcastDataConnection.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/JdbcDataConnection.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/HazelcastDataConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/DataConnectionTestUtil.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/impl/JdbcDataConnectionTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Team: Platform, Module: SQL

#24383 Add SQL Catalog persistence configuration [HZ-2150][HZ-1743]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/resources/hazelcast-spring-5.3.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/SqlConfig.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/resources/hazelcast-config-5.3.json
  hazelcast/src/main/resources/hazelcast-config-5.3.xsd
  hazelcast/src/main/resources/hazelcast-default.xml
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/SqlConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/sql/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/sql/success.json
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL

#24236 Use TPC tokens for TPC channel authentication in client
  checkstyle/suppressions.xml
  docs/design/alto/client-interaction.md
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpoint.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEndpointImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/TpcToken.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/AuthenticationResponse.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/HeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TpcChannelConnector.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ExperimentalAuthenticationCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ExperimentalAuthenticationCustomCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ExperimentalTpcAuthenticationCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationBaseMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ExperimentalAuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ExperimentalAuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ExperimentalTpcAuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/ClientAsyncSocketReader.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/TpcServerBootstrap.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/tpc/ClientAsyncSocketReaderTest.java
  hazelcast/src/test/java/com/hazelcast/client/tpc/TpcChannelConnectorTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
Labels: Team: Client, Source: Internal, Module: TPC, Team: Alto

#24298 Convert ClientHazelcastRunningInForkJoinPoolTest to serial test [API-1667]
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/ClientHazelcastRunningInForkJoinPoolTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal

#24292 Simplify ClientRegressionWithMockNetworkTest
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Team: Client, Type: Cleanup, Source: Internal

#24317 Add convenience SqlService.executeUpdate method
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataConnectionStatementTest.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlService.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content

#24386 Check table exists in another db [HZ-2327]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLMappingJdbcSqlConnectorTest.java
Labels: Type: Defect, Team: Integration, Source: Internal, Module: Jet

#24388 Fix handling of MAPPING which refers to a nonexistent/dropped data connection. Return mapping_type for mappings using data connections. [HZ-2324] [HZ-2313]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/plan/cache/PlanCacheChecker.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/BadTable.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/state/QueryStateRegistryUpdater.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/sql/impl/schema/IMapResolverTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#24372 Don't resolve dialect in JdbcSqlConnecor#createTable [HZ-2326]
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/AbstractQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/DeleteQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SupportedDatabases.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpdateQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpsertBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/h2/H2UpsertQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLUpsertQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresUpsertQueryBuilder.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DagBuildContextImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/SupportedDatabasesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/h2/H2UpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLUpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySqlDownTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresUpsertQueryBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MySQLDatabaseProvider.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform, Module: SQL

#24409 Relocate usage of calcite in hazelcast-mapstore module [HZ-2352]
  extensions/mapstore/pom.xml
  hazelcast-sql/pom.xml
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform, Module: GenericMapStore

#24407 Move tests of GenericMapStore with non-embedded DBs to nightly
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mariadb/MariaDBGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mssql/MSSQLGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mysql/MySQLGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/postgres/PostgreGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/postgres/PostgresGenericMapStoreTest.java
  hazelcast-it/distribution-it/src/test/java/com/hazelcast/it/GenericMapStoreIT.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Platform, Module: GenericMapStore

#24403 Fix PipeliningTest.test [HZ-2361]
  hazelcast/src/test/java/com/hazelcast/core/PipeliningTest.java
Labels: Team: Integration, Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content

#24271 Improve permission control of executor service proxies [API-2008]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveAndDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/DurableExecutorServicePermission.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ExecutorServicePermission.java
Labels: Team: Client, Source: Internal, Module: Security, Add to Release Notes

#24293 Fix ClientRegressionWithMockNetworkTest [5.2.z]
  hazelcast/src/test/java/com/hazelcast/client/ClientRegressionWithMockNetworkTest.java
Labels: Team: Client, Type: Test-Failure, Backport, Source: Internal

#24417 Shutdown executors in tests to prevent thread/memory leaks
  hazelcast/src/test/java/com/hazelcast/internal/nearcache/impl/AbstractNearCacheBasicTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/FutureUtilTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ParallelStressTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/execute/JobExecuteClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/job/JobSubmissionSlownessRegressionTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTestSupport.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/DelegatingScheduledFutureStripperTest.java
  hazelcast/src/test/java/com/hazelcast/scheduledexecutor/impl/ScheduledExecutorServiceSlowTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/AbstractInvocationFuture_AbstractTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/executionservice/impl/DelegateAndSkipOnConcurrentExecutionDecoratorTest.java
  hazelcast/src/test/java/com/hazelcast/topic/TopicTest.java
  hazelcast/src/test/java/com/hazelcast/xa/HazelcastXATest.java
Labels: Type: Test-Failure

#24392 Introduce CountdownLatch in SerialOperationInvokerTest restarting tests [HZ-2341]
  hazelcast/src/test/java/com/hazelcast/internal/util/SerialOperationInvokerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Invocation System, Not Release Notes content

#24419 Ignore test [HZ-2252]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mssql/MSSQLGenericMapStoreIntegrationTest.java
Labels: Team: Integration, Type: Test-Failure, Source: Internal, Module: Jet
