Repository hazelcast/hazelcast, pull requests merged in 2023-10, with the labels that each got.

#25569 Fix race in GenericMapStoreIntegrationTest [HZ-3158]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration, Module: GenericMapStore

#25571 Fix race in GenericMapStoreIntegrationTest [HZ-3158] [5.3.z]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration, Module: GenericMapStore

#25572 Handle no backup op case for UtilSteps [HZ-3152]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
Labels: Type: Defect, Team: Core, Module: IMap, Team: Storage, Module: TStore

#25579 Print not available replica as finest level
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
Labels: Type: Enhancement, Team: Core, Module: IMap

#25577 Use junit-bom in dependencymanagement section of pom.xml [HZ-3277]
  pom.xml
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Integration

#25494 Fix class name returned by custom StaticLoggerBinder
  hazelcast-sql/src/main/java/org/slf4j/impl/StaticLoggerBinder.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content, Module: SQL

#25550 Convert string to byte array using utf-8 [HZ-3261]
  hazelcast/src/test/java/com/hazelcast/client/config/XmlYamlClientConfigBuilderEqualsTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration

#25589 Make Docker shield link to Docker hub page
  README.md
Labels: Team: Core, Source: Internal, Type: Documentation, docs-only

#25533 Return back StaticLoggerBinder to shade warning [HZ-2533] (Backport to 5.3)
  hazelcast-sql/src/main/java/org/slf4j/impl/StaticLoggerBinder.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#25586 Remove wiremock-jre8-standalone dependency and upgrade wiremock [HZ-3113]
  hazelcast/pom.xml
  hazelcast/src/test/java/childfirstclassloader/TestProcessor.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/CompatibilitySerializationServiceTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ChildFirstClassLoaderTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Integration

#25477 Support GET_DDL security in ByKey plans [HZ-3128]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdatingEntryProcessor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContextImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlEndToEndTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/PlaceholderReplacerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#25525 Relax stream-to-stream stress tests [HZ-3183, HZ-3260]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSTSInnerEquiJoinFaultToleranceStressTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSTSInnerNonEquiJoinFaultToleranceStressTest.java
Labels: Source: Internal, Team: SQL, SQL-only, Module: SQL

#25279 Make `MethodProbe`s use `MethodHandle`s over reflection (HZ-3024)
  hazelcast/src/main/java/com/hazelcast/internal/metrics/DoubleProbeFunction.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/LongProbeFunction.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/FieldProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/MethodProbe.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeType.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/SourceMetadata.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MethodProbeTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/ProbeUtilsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/RegisterAnnotatedMethodsTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Diagnostics

#25593 Close leaking streams using try-with-resources in tests [HZ-3351]
  hazelcast/src/test/java/com/hazelcast/config/XmlYamlConfigBuilderEqualsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/AbstractDeploymentTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/IOUtilTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/SinkBuilderTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25584 Add missing partitioned index support for GetMapConfigOperation [HZ-3299]
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/GetMapConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/test/java/com/hazelcast/internal/management/operation/GetMapConfigOperationTest.java
Labels: Type: Defect, Team: Core, Module: IMap, Team: Storage, Module: TStore

#25539 Extend permission checks in MessageTasks and add a test coverage [HZ-2090] [5.3.z]
  .github/CODEOWNERS
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddNearCacheInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheDestroyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheIterateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheListenerRegistrationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheLoadAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheManagementConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemoveInvalidationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDestroyCacheMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchEntriesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetReadCursorMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/GetSemaphoreTypeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlMappingDdlTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/MessageTaskSecurityTest.java
Labels: Type: Enhancement, Team: Client, Backport, Source: Internal, Module: Security

#25348 Improve permission checks in File connector [HZ-2991]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25604 Substitute CollectionUtil#addToValueList with Map#computeIfAbsent [HZ-3379]
  hazelcast/src/main/java/com/hazelcast/internal/util/CollectionUtil.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapKeyLoaderUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/CollectionUtilTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25606 Remove dead code CollectionUtil#toLongArray [HZ-3384]
  hazelcast/src/main/java/com/hazelcast/internal/util/CollectionUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/CollectionUtilTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25570 Use JDK Files.copy(InputStream,Path) instead of IOUtil.copy [HZ-3257]
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ICMPHelper.java
  hazelcast/src/test/java/com/hazelcast/client/console/HazelcastCommandLineTest.java
  hazelcast/src/test/java/com/hazelcast/nio/IOUtilTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Integration

#25429 Fix JobTimeoutTest.java [HZ-3120]
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTimeoutTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25607 Bump snappy-java to 1.1.10.5
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, to-jira, Team: Integration

#25618 Bump snappy-java to 1.1.10.5 [5.3.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, to-jira, Team: Integration

#25623 Download datagen jar file to test-classes [HZ-3396]
  extensions/kafka-connect/pom.xml
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25619 Bump snappy-java to 1.1.10.5 [HZ-3398] [5.2.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, to-jira, Team: Integration

#25620 Bump snappy-java to 1.1.10.5 [HZ-3398] [5.1.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, to-jira, Team: Integration

#25621 Bump snappy-java to 1.1.10.5 [HZ-3398] [5.0.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, to-jira, Team: Integration

#25567 Resolve Sonarlint `S1612 - Lambdas should be replaced with method references`
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/Networking.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/GetterFactory.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25627 Best-effort fix for merging metadata over WAN after merge rejection [HZ-3392]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#25508 Support secure EXPLAIN plan [HZ-3119]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, SQL-only, Module: SQL

#25631 Use consistent serialization service for ByKey plans and simplify assertions [HZ-3128]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/UpdatingEntryProcessor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContext.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/ExpressionEvalContextImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/MockExpressionEvalContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/serialization/DelegatingSerializationService.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#25628 Best-effort fix for merging metadata over WAN after merge rejection [5.3.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#25629 Best-effort fix for merging metadata over WAN after merge rejection [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#25630 Best-effort fix for merging metadata over WAN after merge rejection [5.1.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#25642 Increse the timeout for assertTrueEventually [HZ-3404]
  hazelcast/src/test/java/com/hazelcast/test/starter/hz3/Hazelcast3StarterTest.java
Labels: Type: Test-Failure, Source: Internal, Module: Jet, Team: Integration

#25602 Get-map-config refactoring[HZ-3320]
  docs/design/jet/025-jet-job-partition-pruning.md
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast/src/main/java/com/hazelcast/internal/management/operation/GetMapConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/monitor/impl/PartitionedIndexStatsImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapSplitBrainHandlerService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunk.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunkContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideEntryOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryPartitionOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryRunner.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/main/java/com/hazelcast/query/impl/IndexRegistry.java
  hazelcast/src/test/java/com/hazelcast/client/map/ClientIndexStatsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/LocalMapStatsImplTest.java
  hazelcast/src/test/java/com/hazelcast/internal/monitor/impl/PartitionedIndexStatsImplTest.java
Labels: Type: Enhancement, Team: Core, Module: IMap, Team: Storage

#25611 Add negative guard to `ArrayUtils#getItemAtPositionOrNull`
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/ArrayUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/ArrayUtilsTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content

#25648 Delete AllTest.java and LongRunningTest.java
  hazelcast/src/test/java/com/hazelcast/core/standalone/AllTest.java
  hazelcast/src/test/java/com/hazelcast/core/standalone/LongRunningTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25660 Fix #25596 [5.3.z]
  extensions/elasticsearch/elasticsearch-7/pom.xml
Labels: Type: Defect, Add to Release Notes, security, Team: Integration, Module: ElasticSearch

#25659 Bump avro from 1.11.1 to 1.11.3 [HZ-3416] [5.3.3]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Integration

#25658 Bump avro from 1.11.1 to 1.11.3 [HZ-3416] [5.3.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Integration

#25580 Increase timeout in GenericMapStoreIntegrationTest.testClear [HZ-2430]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Integration, Module: GenericMapStore

#25603 Improve permission checks in File connector [HZ-2991] [5.3.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/optimizer/SqlPlan.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/cache/PlanCacheTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
Labels: Type: Defect, Backport, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25661 Improve permission checks in File connector [HZ-2991] [5.3.3]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/optimizer/SqlPlan.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/cache/PlanCacheTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25626 Increase timeout for SqlSlowIndexTest [HZ-3401]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_slow/SqlSlowIndexTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: SQL

#25663 Remove evaluation tool and Hazelcast 3 jars [5.3.3]
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor.xml
Labels: Type: Cleanup, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25664 Remove evaluation tool and Hazelcast 3 jars [5.3.z]
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor.xml
Labels: Type: Cleanup, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25665 Delete ArrayUtils#copyWithoutNulls that is only used in tests [HZ-3419]
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/ArrayUtils.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/ArrayUtilsTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25655 Resolve Sonarlint `S1155 - Collection.isEmpty() should be used to test for emptiness`
  hazelcast/src/main/java/com/hazelcast/aws/Filter.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheIterator.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CachePartitionIterator.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/eviction/CacheClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCachePartitionIterator.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClusterDiscoveryServiceBuilder.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/AbstractMapQueryMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/util/AddressHelper.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueContainer.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/operations/QueueOperation.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryConfig.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/MetadataRaftGroupManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/log/RaftLog.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/JoinRequest.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/crdt/CRDTReplicationTask.java
  hazelcast/src/main/java/com/hazelcast/internal/diagnostics/SlowOperationPlugin.java
  hazelcast/src/main/java/com/hazelcast/internal/nearcache/impl/invalidation/BatchInvalidator.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/iobalancer/MonkeyMigrationStrategy.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/schema/MemberSchemaService.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/LinkedAddresses.java
  hazelcast/src/main/java/com/hazelcast/jet/core/DAG.java
  hazelcast/src/main/java/com/hazelcast/logging/impl/LoggingServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapEntries.java
  hazelcast/src/main/java/com/hazelcast/map/impl/iterator/AbstractMapPartitionIterator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PutAllOpSteps.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/query/impl/PredicateBuilderImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/FlatteningVisitor.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/MultiPartitionPredicateImpl.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/SqlParser.java
  hazelcast/src/main/java/com/hazelcast/query/impl/predicates/SqlPredicate.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/OnJoinRegistrationOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/proxyservice/impl/operations/PostJoinProxyOperation.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25670 Bump netty to 4.1.100.Final [HZ-3424] [5.3.3]
  pom.xml
Labels: Source: Internal, Add to Release Notes, dependencies, Team: Integration, Module: Maven build, Type: Vulnerability

#25652 Workaround Eclipse erroneous `Cannot infer type arguments for` error
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestOutbox.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Jet

#25491 Show stack trace for sql error in verbose mode for hz-cli [HZ-2383]
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
  hazelcast/src/main/java/com/hazelcast/client/console/SqlConsole.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/custom/SqlErrorCodec.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlError.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ReferenceObjects.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/ExceptionUtilTest.java
  hazelcast/src/test/resources/2.7.protocol.compatibility.binary
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: CLI, Team: Integration

#25527 Fix duplicate results and failures of queries with indexes and query parameters and improve index scan generation [HZ-3014] [HZ-3013]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/QueryUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexComponentFilterResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/index/IndexResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/exec/scan/index/IndexRangeFilter.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast/src/main/java/com/hazelcast/internal/iteration/IndexIterationPointer.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/test/java/com/hazelcast/internal/iteration/IndexIterationPointerTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#25646 Implement security Subject propagation for CREATE JOB [HZ-3137]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/GetDdlTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJetInstance.java
Labels: Source: Internal, Team: SQL, Module: SQL

#25667 Handle unreliable getDistributedObjects in ObservableImpl#configureCapacity [HZ-3420]
  hazelcast/src/main/java/com/hazelcast/jet/impl/observer/ObservableImpl.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ObservableResultsTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#17582 Cluster join flow: remove delays via async repartition strategy
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterJoinManagerSyncJoinStrategy.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/ClusterJoinDelayTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/EventRegistrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/MigrationCorrectnessTest.java
Labels: Type: Enhancement, Team: Core, Source: Community, Module: Cluster

#25691 Handle unreliable getDistributedObjects in ObservableImpl#configureCapacity [HZ-3420] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/observer/ObservableImpl.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ObservableResultsTest.java
Labels: Type: Defect, Backport, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25674 Improve permission checks in File connector [HZ-2991] [5.2.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/cache/PlanCacheTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/SqlPlan.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25257 Throw exception from join() call from submitted jar [HZ-2946]
  hazelcast/src/main/java/com/hazelcast/instance/impl/BootstrappedJetProxy.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/CommandLineJetProxy.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/MemberJetProxy.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/jetservicedecorator/memberside/BootstrapJobDecorator.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/execute/JobExecuteClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/execute/JobExecuteClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/commandline/upload/JobExecuteCommandLineSuccessTest.java
  hazelcast/src/test/resources/joiningjob-1.0.0.jar
Labels: Type: Enhancement, Source: Internal, Module: Jet, Team: Integration

#25688 Use JUnit5 `@ParameterizedTest`
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/test/HazelcastVersionLocatorTest.java
  pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal

#25676 Improve permission checks in File connector [HZ-2991] [5.1.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/cache/PlanCacheTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadFilesP.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/SqlPlan.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25699 Adjust Eclipse code formatter import ordering
  ide-configurations/eclipse/Hazelcast-Eclipse.pref.epf
Labels: Team: Core, Source: Internal

#25692 Return MissingSqlService if Jet is disabled [HZ-3438]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlServiceIsMissingIfJetIsNotEnabledTest.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/MissingSqlService.java
Labels: Type: Defect, Source: Internal, Team: SQL, Module: SQL

#25671 Remove JDBC Connector permissions [HZ-3427]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/DmlProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SelectProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpsertProcessorSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/main/java/com/hazelcast/security/impl/function/SecuredFunctions.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ConnectorPermission.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25662 Implement 'view-mapping' permission [HZ-3190]
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/expression/service/GetDdlFunction.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/SqlPermission.java
Labels: Source: Internal, Team: SQL, Module: SQL

#25697 Remove evaluation tool and Hazelcast 3 jars [5.2.z]
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor.xml
Labels: Backport, Type: Cleanup, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25703 Don't fail proxies creation if any of permissions is missing in CreateProxiesMessageTask [HZ-3464]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
Labels: Type: Defect, Team: Client, Team: Core, Source: Internal, Module: Security

#25656 Resolve Sonarlint `S1319 - Declarations should use Java collection interfaces {...} rather than specific implementation classes`
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecord.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/DeserializedGenericRecordCloner.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/ExecutionPlan.java
  hazelcast/src/main/java/com/hazelcast/map/impl/ExecutorStats.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/State.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/wan/WanEventCounters.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25690 Remove JMS Connector permissions [HZ-3442]
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ConnectorPermission.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25711 Don't fail proxies creation if any of permissions is missing in CreateProxiesMessageTask [HZ-3464] [5.3.3]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
Labels: Type: Defect, Team: Client, Team: Core, Backport, Source: Internal, Module: Security

#25710 Don't fail proxies creation if any of permissions is missing in CreateProxiesMessageTask [HZ-3464] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
Labels: Type: Defect, Team: Client, Team: Core, Backport, Source: Internal, Module: Security

#25696 Remove JUnit4 dependency management - inherit from `junit-bom`
  hazelcast-archunit-rules/pom.xml
  pom.xml
Labels: Team: Core, Source: Internal, Module: Maven build

#25705 Remove evaluation tool and Hazelcast 3 jars [5.1.z]
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor.xml
Labels: Backport, Type: Cleanup, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25714 Add note about txt for docs-only PR builder
  README.md
Labels: Source: Internal, Not Release Notes content, docs-only

#25717 Inline and delete deprecated stringutil#xmlformat [HZ-3469]
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25486 Promote alto auth codecs to stable [API-2134]
  docs/design/alto/client-interaction.md
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/AuthenticationResponse.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TpcChannelConnector.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/DefaultMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAuthenticationCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientAuthenticationCustomCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ClientTpcAuthenticationCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ExperimentalAuthenticationCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/ExperimentalAuthenticationCustomCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ClientTpcAuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ExperimentalAuthenticationCustomCredentialsMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/ExperimentalAuthenticationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/internal/tpc/ClientAsyncSocketReader.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/util/ClientMessageEncoderDecoderTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/MessageTaskSecurityTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_0_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/tpc/ClientAsyncSocketReaderTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
  hazelcast/src/test/resources/2.7.protocol.compatibility.binary
  hazelcast/src/test/resources/2.7.protocol.compatibility.null.binary
Labels: Type: Enhancement, Team: Client, Source: Internal, Not Release Notes content, Module: TPC

#25540 Extend permission checks in MessageTasks and add a test coverage [HZ-2090] [5.2.z]
  .github/CODEOWNERS
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddNearCacheInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheDestroyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheIterateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheListenerRegistrationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheLoadAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheManagementConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemoveInvalidationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDestroyCacheMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchEntriesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetReadCursorMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/GetSemaphoreTypeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlMappingDdlTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/MessageTaskSecurityTest.java
Labels: Type: Enhancement, Team: Client, Backport, Source: Internal, Module: Security

#25541 Extend permission checks in MessageTasks and add a test coverage [HZ-2090] [5.1.z]
  .github/CODEOWNERS
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddNearCacheInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheDestroyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheIterateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheListenerRegistrationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheLoadAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheManagementConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemoveInvalidationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDestroyCacheMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchEntriesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetReadCursorMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/GetSemaphoreTypeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlMappingDdlTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/MessageTaskSecurityTest.java
Labels: Type: Enhancement, Team: Client, Backport, Source: Internal, Module: Security

#25542 Extend permission checks in MessageTasks and add a test coverage [HZ-2090] [5.0.z]
  .github/CODEOWNERS
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddNearCacheInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheDestroyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheIterateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheListenerRegistrationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheLoadAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheManagementConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemoveInvalidationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDestroyCacheMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchEntriesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetReadCursorMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/GetSemaphoreTypeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlMappingDdlTask.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/MessageTaskSecurityTest.java
Labels: Type: Enhancement, Team: Client, Backport, Source: Internal, Module: Security

#25673 Fix usage of deprecated Junit4 asserts and minor compiler warnings [HZ-3434]
  hazelcast/src/test/java/com/hazelcast/cache/BasicCacheLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/cache/CachePartitionIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/cache/eviction/AbstractCacheEvictionPolicyComparatorTest.java
  hazelcast/src/test/java/com/hazelcast/client/cache/AbstractClientCachePartitionIteratorTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/ClusterServiceMemberListTest.java
  hazelcast/src/test/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceLiteMemberTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/ResultSetTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/OperationServiceImpl_invokeOnPartitionLiteMemberTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25543 Extend permission checks in MessageTasks and add a test coverage [HZ-2090] [4.2.z]
  .github/CODEOWNERS
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/CreateProxiesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddNearCacheInvalidationListenerTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheAddPartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheDestroyMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheGetConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheIterateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheListenerRegistrationMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheLoadAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheManagementConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemoveInvalidationListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceCancelOnPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToAddressMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/ExecutorServiceSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorIsShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveAndDisposeResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorRetrieveResultMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorShutdownMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/executorservice/durable/DurableExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapDestroyCacheMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchEntriesMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapFetchKeysMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapPublisherCreateWithValueMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemovePartitionLostListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapSetReadCursorMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToPartitionMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/scheduledexecutor/ScheduledExecutorSubmitToTargetMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/client/GetSemaphoreTypeMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/DestroyRaftObjectMessageTask.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/DurableExecutorServicePermission.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ExecutorServicePermission.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/MessageTaskSecurityTest.java
Labels: Type: Enhancement, Team: Client, Backport, Source: Internal, Module: Security

#25695 Replace `${log4j2.version}` with `log4j-bom`
  distribution/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/grpc/pom.xml
  extensions/hadoop/pom.xml
  extensions/kafka-connect/pom.xml
  extensions/kafka/pom.xml
  extensions/kinesis/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-archunit-rules/pom.xml
  hazelcast-sql/pom.xml
  hazelcast/pom.xml
  pom.xml
Labels: Team: Core, Source: Internal, Module: Maven build

#25720 Increase k8s test suite timeout
  .github/workflows/k8s-terraform-integration-tests.yml
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Kubernetes, Team: Cloud Native

#25490 Adds Publication of CPGroupAvailabilityEvent upon Graceful Shutdown [HZ-3118]
  hazelcast/src/main/java/com/hazelcast/client/cp/internal/CPSubsystemImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/CPSubsystemAddGroupAvailabilityListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/cp/event/impl/CPGroupAvailabilityEventImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/AddCPGroupAvailabilityListenerMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/cp/ClientCPGroupAvailabilityListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_1.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_2.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_3.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_4.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_5.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_7.java
  hazelcast/src/test/java/com/hazelcast/cp/CPGroupAvailabilityListenerTest.java
  hazelcast/src/test/resources/2.7.protocol.compatibility.binary
  hazelcast/src/test/resources/2.7.protocol.compatibility.null.binary
  src/test/resources/2.7.protocol.compatibility.binary
Labels: Team: Core, Source: Internal, Module: CP Subsystem, Type: Feature Request

#25721 Inline and delete StringUtil#bytesToString [HZ-3484]
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/ascii/TextDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25719 Remove duplicated map serialization code
  hazelcast/src/main/java/com/hazelcast/cardinality/impl/operations/ReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/config/AbstractWanPublisherConfig.java
  hazelcast/src/main/java/com/hazelcast/config/DiscoveryStrategyConfig.java
  hazelcast/src/main/java/com/hazelcast/config/WanConsumerConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ConfigCheck.java
  hazelcast/src/main/java/com/hazelcast/internal/crdt/AbstractCRDTReplicationOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/defaultserializers/AbstractMapStreamSerializer.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Serialization

#25651 Resolve `javax.transaction.xa` module accessibility
  hazelcast/pom.xml
Labels: Type: Defect, Team: Core, Source: Internal

#25747 Delete dead code StringUtil#getterIntoProperty [HZ-3502]
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/StringUtilTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25677 `wiremock` artifact relocation
  hazelcast/pom.xml
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Maven build

#25715 Add changes for data migration phone home [HZ-3127]
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHome.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/PhoneHomeMetrics.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Estimation: S, Not Release Notes content, Team: Integration, Module: Data Migration

#25654 Implement Java 11's HttpClient within RestClient [HZ-2460]
  hazelcast/src/main/java/com/hazelcast/aws/AwsDiscoveryStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/aws/AwsRequestUtils.java
  hazelcast/src/main/java/com/hazelcast/azure/AzureDiscoveryStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/gcp/GcpDiscoveryStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/spi/utils/RestClient.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/StsMonitorTest.java
  hazelcast/src/test/java/com/hazelcast/spi/utils/RestClientTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Not Release Notes content, Module: REST, Module: Kubernetes, Team: Cloud Native, run-discovery-tests

#25732 Fix typo in metric
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Type: Enhancement, Team: Storage, Module: TStore

#25756 Use Files.readString to read the whole file [HZ-3506]
  extensions/hadoop/src/test/java/com/hazelcast/jet/hadoop/file/TextFileFormatTest.java
  hazelcast/src/main/java/com/hazelcast/dataconnection/impl/hazelcastdataconnection/HazelcastDataConnectionConfigLoader.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesConfig.java
  hazelcast/src/test/java/com/hazelcast/dataconnection/HazelcastDataConnectionTest.java
  hazelcast/src/test/java/com/hazelcast/instance/InstanceTrackingInfoTest.java
  hazelcast/src/test/java/com/hazelcast/instance/InstanceTrackingServerModeTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteFilePTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast/src/test/java/com/hazelcast/spi/utils/RestClientTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25700 Lazy init of WAN user code on map container creation
  hazelcast/src/main/java/com/hazelcast/map/impl/EventListenerCounter.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/event/MapEventPublisherImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MergeOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PutAllOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/MergeOpSteps.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/AbstractRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapWanContext.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationService.java
  hazelcast/src/main/java/com/hazelcast/wan/impl/WanReplicationServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/map/impl/EventListenerCounterTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/wan/WANContextInitializationTest.java
  hazelcast/src/test/java/com/hazelcast/wan/impl/WanReplicationConfigurationTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Module: WAN, Not Release Notes content

#25745 Remove redundant type parameters
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/internal/util/IterableUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/StageWithWindowImpl.java
  hazelcast/src/main/java/com/hazelcast/scheduledexecutor/impl/operations/ResultReadyNotifyOperation.java
  hazelcast/src/test/java/com/hazelcast/internal/util/collection/WeightedEvictableListTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/HashJoinPTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/SlidingWindowP_stage1Test.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorExpiryTimeTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25759 Revert MongoDB Driver version, due to a bug with field nullability
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Integration, module: MongoDB

#25729 Bump elasticsearch version to 7.17.13 [5.2.z]
  extensions/elasticsearch/elasticsearch-7/pom.xml
Labels: Type: Defect, Backport, Add to Release Notes, security, Team: Integration, Module: ElasticSearch

#25728 Bump elasticsearch version to 7.17.13 [5.1.z]
  extensions/elasticsearch/elasticsearch-7/pom.xml
Labels: Type: Defect, Backport, Add to Release Notes, security, Team: Integration, Module: ElasticSearch

#25707 Bump netty to 4.1.100.Final [HZ-3424] [5.3.z]
  pom.xml
Labels: Backport, Source: Internal, Add to Release Notes, dependencies, Team: Integration, Module: Maven build, Type: Vulnerability

#25708 Bump netty to 4.1.100.Final [HZ-3424] [5.2.z]
  pom.xml
Labels: Backport, Source: Internal, Add to Release Notes, dependencies, Team: Integration, Module: Maven build, Type: Vulnerability

#25742 Fix global index destruction [HZ-3218]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
  hazelcast/src/test/java/com/hazelcast/map/MapIndexLifecycleTest.java
Labels: Type: Defect, Module: IMap

#25763 Ensure Eclipse formatter wraps assignment operations
  ide-configurations/eclipse/Hazelcast-Eclipse.pref.epf
Labels: Team: Core, Source: Internal

#25743 Remove Beta annotations from MongoDB extension
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinkBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinks.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSources.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/WriteMode.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/dataconnection/MongoDataConnection.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Team: Integration, module: MongoDB

#25770 Inline and delete StringUtil.bytesToString [HZ-3507]
  hazelcast/src/main/java/com/hazelcast/internal/ascii/NoOpCommand.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/IncrementCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/memcache/MemcacheEntry.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/RestValue.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/SingleProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedProtocolDecoder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/RestTest.java
  hazelcast/src/test/java/com/hazelcast/internal/ascii/rest/RestValueTest.java
  hazelcast/src/test/java/com/hazelcast/internal/nio/ascii/TextProtocolClient.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration

#25760 Mongo operationType NPE prevention
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/SelectProcessorSupplier.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Team: Integration, module: MongoDB

#25522 Resolve Sonarlint `S3824 - Map.get and value test should be replaced with single method call`
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractHazelcastCachingProvider.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/semaphore/Semaphore.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/atomic/RaftAtomicValueService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/AbstractBlockingService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/blocking/ResourceRegistry.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/jmx/MetricsMBean.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionReplicaVersions.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/NodeAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/PlacementAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/membergroup/ZoneAwareMemberGroupFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/util/CollectionUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/ContextMutexFactory.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/ComposedKeyMap.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/InternalListMultiMap.java
  hazelcast/src/main/java/com/hazelcast/internal/util/collection/InternalSetMultimap.java
  hazelcast/src/main/java/com/hazelcast/internal/util/scheduler/SecondsBasedEntryTaskScheduler.java
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/accumulator/AccumulatorScannerTask.java
  hazelcast/src/main/java/com/hazelcast/query/impl/AttributeIndexRegistry.java
  hazelcast/src/main/java/com/hazelcast/query/impl/GlobalQueryContextWithStats.java
  hazelcast/src/main/java/com/hazelcast/query/impl/OrderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/UnorderedIndexStore.java
  hazelcast/src/main/java/com/hazelcast/query/impl/bitmap/Bitmap.java
  hazelcast/src/main/java/com/hazelcast/replicatedmap/impl/ReplicatedMapEventPublishingService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/CallsPerMember.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/xa/XAService.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25709 Bump netty to 4.1.100.Final [HZ-3424] [5.1.z]
  pom.xml
Labels: Backport, Source: Internal, Add to Release Notes, dependencies, Team: Integration, Type: Vulnerability

#25773 Bump everit-json-schema to mitigate CVE-2023-5072 [HZ-3518] [5.3.3]
  hazelcast/pom.xml
Labels: Type: Defect, Source: Internal, Add to Release Notes, dependencies

#24617 Demote local data member
  hazelcast/src/main/java/com/hazelcast/auditlog/AuditlogTypeIds.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientClusterProxy.java
  hazelcast/src/main/java/com/hazelcast/cluster/Cluster.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/ClusterService.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/ClusterServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembersViewResponse.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/MembershipManager.java
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/operations/DemoteDataMemberOp.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/InternalPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/PartitionStateManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/DemoteRequestOperation.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/operation/DemoteResponseOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/DemoteDataMemberTest.java
Labels: Type: Enhancement, Team: Core, Source: Community, Module: Cluster, Add to Release Notes

#25776 Bump everit-json-schema to mitigate CVE-2023-5072 [HZ-3518] [5.1.z]
  hazelcast/pom.xml
Labels: Source: Internal, Module: Config, dependencies, security

#25775 Bump everit-json-schema to mitigate CVE-2023-5072 [HZ-3518] [5.2.z]
  hazelcast/pom.xml
Labels: Source: Internal, Module: Config, dependencies, security

#25774 Bump everit-json-schema to mitigate CVE-2023-5072 [HZ-3518] [5.3.z]
  hazelcast/pom.xml
Labels: Source: Internal, Module: Config, dependencies, security

#25771 Clone PN operation on retry
  hazelcast/src/main/java/com/hazelcast/internal/crdt/pncounter/PNCounterProxy.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/Operation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/OperationAccessor.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/OperationAccessorTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Not Release Notes content

#25784 Check permissions during the validation for dynamic functions [HZ-3516] [5.3.3]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastDynamicTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/optimizer/OptimizationTask.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/HazelcastRelOptCluster.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
Labels: Type: Defect, Team: SQL, SQL-only, Module: SQL

#25653 Replace `Preconditions.checkNotNull` implementation with `Objects.requireNonNull`
  hazelcast/src/main/java/com/hazelcast/internal/util/Preconditions.java
  hazelcast/src/test/java/com/hazelcast/internal/util/PreconditionsTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal

#25799 Ensure `Config.loadFromFile(Properties)` closes stream
  hazelcast/src/main/java/com/hazelcast/config/Config.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Module: Config

#25781 Remove code duplication between remoteReplicatedMap source and sink
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/HazelcastClientBaseContext.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration, Module: Data Migration

#25800 Fix 5.3.4 deployment by pushing 5.3.5
  distribution/pom.xml
  extensions/avro/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  extensions/hadoop-dist/files-azure/pom.xml
  extensions/hadoop-dist/files-gcs/pom.xml
  extensions/hadoop-dist/files-s3/pom.xml
  extensions/hadoop-dist/hadoop-all/pom.xml
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  extensions/hazelcast-3-connector/pom.xml
  extensions/kafka-connect/pom.xml
  extensions/kafka/pom.xml
  extensions/kinesis/pom.xml
  extensions/mapstore/pom.xml
  extensions/mongodb/pom.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-archunit-rules/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-coverage-report/pom.xml
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/jdk17-tests/pom.xml
  hazelcast-it/pom.xml
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast-sql/pom.xml
  hazelcast-tpc-engine/pom.xml
  hazelcast/pom.xml
  hazelcast/src/main/resources/release_notes.txt
  modulepath-tests/pom.xml
  pom.xml
Labels: Type: Defect, Priority: High, Source: Internal

#25816 Update version of dependency-check-maven to 8.4.2
  pom.xml
Labels: Team: Core, Source: Internal, Not Release Notes content, security

#25801 Check permissions during the validation for dynamic functions [HZ-3516] [5.2.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastDynamicTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/HazelcastRelOptCluster.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/OptimizationTask.java
Labels: Source: Internal, Team: SQL, Module: SQL

#25825 Kubernetes Plugin throws NullPointerException when LoadBalancer address is empty [CN-1040]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25827 Update Eclipse wildcard import threshold
  ide-configurations/eclipse/Hazelcast-Eclipse.pref.epf
Labels: Team: Core, Source: Internal

#25803 Check permissions during the validation for dynamic functions [HZ-3516] [5.1.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastDynamicTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastViewExpander.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/HazelcastRelOptCluster.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/optimizer/OptimizationTask.java
Labels: Source: Internal, Team: SQL, Module: SQL

#25829 Adding note to 5.3.5 OS RN.
  hazelcast/src/main/resources/release_notes.txt
Labels: docs-only

#25826 Reset delegate supplier in case of config change [HZ-3070]
  hazelcast/src/main/java/com/hazelcast/map/impl/wan/MapWanContext.java
  hazelcast/src/test/java/com/hazelcast/map/impl/wan/MapWanContextTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#25818 Bump jetty to mitigate CVE-2023-44487 [5.3.z]
  pom.xml
Labels: Source: Internal, dependencies

#25820 Bump grpc to mitigate CVE-2023-44487 [5.2.z]
  pom.xml
Labels: Source: Internal, dependencies

#25821 Bump jetty to mitigate CVE-2023-44487 [5.2.z]
  pom.xml
Labels: Source: Internal, dependencies

#25823 Bump jetty to mitigate CVE-2023-44487 [5.1.z]
  pom.xml
Labels: Source: Internal, dependencies

#25824 Bump grpc to mitigate CVE-2023-44487 [5.1.z]
  pom.xml
Labels: Source: Internal, dependencies

#25819 Bump grpc to mitigate CVE-2023-44487 [5.3.z]
  pom.xml
Labels: Source: Internal, dependencies

#25831 Update 5.3.z SNAPSHOT version to 5.3.6 [5.3.z]
  distribution/pom.xml
  extensions/avro/pom.xml
  extensions/cdc-debezium/pom.xml
  extensions/cdc-mysql/pom.xml
  extensions/cdc-postgres/pom.xml
  extensions/csv/pom.xml
  extensions/elasticsearch/elasticsearch-6/pom.xml
  extensions/elasticsearch/elasticsearch-7/pom.xml
  extensions/grpc/pom.xml
  extensions/hadoop-dist/files-azure/pom.xml
  extensions/hadoop-dist/files-gcs/pom.xml
  extensions/hadoop-dist/files-s3/pom.xml
  extensions/hadoop-dist/hadoop-all/pom.xml
  extensions/hadoop-dist/hadoop/pom.xml
  extensions/hadoop-dist/pom.xml
  extensions/hadoop/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  extensions/hazelcast-3-connector/pom.xml
  extensions/kafka-connect/pom.xml
  extensions/kafka/pom.xml
  extensions/kinesis/pom.xml
  extensions/mapstore/pom.xml
  extensions/mongodb/pom.xml
  extensions/pom.xml
  extensions/protobuf/pom.xml
  extensions/python/pom.xml
  extensions/s3/pom.xml
  hazelcast-archunit-rules/pom.xml
  hazelcast-build-utils/pom.xml
  hazelcast-coverage-report/pom.xml
  hazelcast-it/distribution-it/pom.xml
  hazelcast-it/jdk17-tests/pom.xml
  hazelcast-it/pom.xml
  hazelcast-spring-tests/pom.xml
  hazelcast-spring/pom.xml
  hazelcast-sql/pom.xml
  hazelcast-tpc-engine/pom.xml
  hazelcast/pom.xml
  modulepath-tests/pom.xml
  pom.xml
Labels: Type: Defect, Backport, Priority: Medium, Source: Internal, Not Release Notes content

#25718 Formally define `SlowTest` / `QuickTest`
  hazelcast/src/test/java/com/hazelcast/client/cache/CacheClientListenerTest.java
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionlessSemaphoreClientBasicTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/operationservice/impl/Invocation_BlockingTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastParallelClassRunner.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastSerialClassRunner.java
  hazelcast/src/test/java/com/hazelcast/test/annotation/QuickTest.java
  hazelcast/src/test/java/com/hazelcast/test/annotation/SlowTest.java
Labels: Team: Core, Source: Internal, Module: Maven build

#25828 Fix flaky test failure in PartitionMigrationListenerTest [HZ-3556]
  hazelcast/src/test/java/com/hazelcast/client/partitionservice/ClientMigrationListenerTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationComputeIntensiveTest.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning, Not Release Notes content

#25835 Revert change to method references in `CacheDataSerializerHook`
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheDataSerializerHook.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Serialization

#25833 Rework snapshotting tests to test that snapshotting happened [HZ-3560]
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/AbstractAtomicRegisterSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomiclong/AtomicLongSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/atomicref/AtomicRefSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/countdownlatch/CountDownLatchSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/lock/FencedLockSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/datastructures/semaphore/SemaphoreSnapshotTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem, Not Release Notes content

#25783 Check permissions during the validation for dynamic functions [HZ-3516] [5.3.z]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/OptimizerContext.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/QueryParser.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastDynamicTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/SqlServiceImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/optimizer/OptimizationTask.java
  hazelcast-sql/src/main/java/org/apache/calcite/plan/HazelcastRelOptCluster.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserNameResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/UnparseTest.java
Labels: Type: Defect, Team: SQL, SQL-only, Module: SQL

#25758 Check unsupported config when ts is enabled [HZ-3503]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientDynamicClusterConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigValidator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigurationAwareConfig.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapRemoteService.java
  hazelcast/src/test/java/com/hazelcast/internal/config/ConfigValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/DynamicConfigTest.java
Labels: Type: Enhancement, Team: Storage, Module: TStore

#25798 Kubernetes Discovery Plugin skips Endpoints that don't have targetRef [CN-559]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiProvider.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesFakeUtils.java
Labels: Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native, run-discovery-tests

#25848 Add missing custom-lib directory [HZ-3591]
  distribution/src/assembly/assembly-descriptor.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25850 Add missing custom-lib directory [5.3.z]
  distribution/src/assembly/assembly-descriptor.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25624 Revised global vs. partitioned index configuration [HZ-3079]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/schema/map/MapTableUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunk.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunkContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapFetchIndexOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapReplicationStateHolder.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/IndexingMutationObserver.java
Labels: Type: Enhancement, Priority: High, Source: Internal, Estimation: M, Team: Storage, Module: TStore

#25870 Remove unused activemq.version property from the root POM
  pom.xml
Labels: Type: Cleanup, Source: Internal, Team: Integration, Module: Maven build
