Repository hazelcast/hazelcast, pull requests merged in 2023-02, with the labels that each got.

#23522 Disallow different types of generic records in GenericRecordBuilder.setGenericRecord API-1773
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/AbstractGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/portable/PortableGenericRecordBuilder.java
  hazelcast/src/main/java/com/hazelcast/nio/serialization/genericrecord/GenericRecordBuilder.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/GenericRecordTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/portable/GenericRecordTest.java
Labels: Type: Defect, Team: Client, Source: Internal, Module: Serialization, Add to Release Notes, All Languages Should Check

#23449 Allow serializing an unsupported type with reflective serializer if there's an explicit serializer for it API-1829
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/compact/record/RecordSerializationTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/zeroconfig/ValueReaderWriters.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
Labels: Type: Enhancement, Team: Client, Source: Community, Module: Serialization, Add to Release Notes

#23531 Ensure that global logger is configured when using HazelcastParametrizedRunner
  hazelcast/src/test/java/com/hazelcast/test/HazelcastParametrizedRunner.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content, Module: Integration Tests

#23538 Enhance error handling in KubernetesClient
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/spi/utils/RestClient.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/StsMonitorTest.java
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, Add to Release Notes, Module: Kubernetes

#23569 [5.2.z] Allow serializing an unsupported type with reflective serializer if there's an explicit serializer for it API-1829
  hazelcast-it/jdk17-tests/src/test/java/com/hazelcast/serialization/compact/record/RecordSerializationTest.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/CompactUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/compact/zeroconfig/ValueReaderWriters.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
Labels: Type: Enhancement, Team: Client, Source: Community, Module: Serialization, Add to Release Notes

#23038 [ALTO] IO buffers [ALTO-33]
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/Eventloop.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/NopScheduler.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/Reactor.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/Scheduler.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/buffer/Buffer.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/buffer/BufferAllocator.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/buffer/BufferAllocatorFactory.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/buffer/ConcurrentBufferAllocator.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/buffer/ThreadLocalBuffer.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/buffer/ThreadLocalBufferAllocator.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/buffer/package-info.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/iobuffer/ConcurrentIOBufferAllocator.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/iobuffer/IOBuffer.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/iobuffer/NonConcurrentIOBufferAllocator.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/iobuffer/UnpooledIOBufferAllocator.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/nio/Bits.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/nio/IOVector.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/nio/NioAsyncSocket.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/AsyncSocket_LargePayloadTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/AsyncSocket_RpcTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/NopSchedulerTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/buffer/ThreadLocalBufferAllocatorTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/buffer/ThreadLocalBufferTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientEngineImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/AbstractMessageTask.java
Labels: Type: Enhancement, Team: Performance, Source: Internal, Module: Network I/O, Not Release Notes content

#23455 Extract major Java version from java.version property [HZ-1995]
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaMajorVersion.java
  hazelcast/src/main/java/com/hazelcast/internal/util/JavaVersion.java
  hazelcast/src/test/java/com/hazelcast/internal/util/JavaVersionTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Not Release Notes content

#23566 Run step if met with preconditions
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplierTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Invocation System, Not Release Notes content

#23576 Enhance error handling in KubernetesClient [5.2.z]
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/main/java/com/hazelcast/spi/utils/RestClient.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/StsMonitorTest.java
  pom.xml
Labels: Type: Defect, Team: Core, Source: Internal, Add to Release Notes, Module: Kubernetes

#23583 Run step if met with preconditions (#23566) [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplier.java
  hazelcast/src/test/java/com/hazelcast/map/impl/operation/steps/engine/StepSupplierTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Invocation System, Not Release Notes content

#23490 Remove unused SQL catalog migration code
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TablesStorage.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TablesStorageTest.java
Labels: Type: Enhancement, Team: SQL

#23518 Remove unused isStream method
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesGeneratorTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamGeneratorTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastDynamicTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastSpecificTableFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/HazelcastTableSourceFunction.java
Labels: Type: Enhancement, Team: SQL, SQL-only

#23544 Add some tests for compact serialization coverage API-1790
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/ArrayOfFixedSizeFieldsDTOSerializerReadingNullable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/ArrayOfFixedSizeFieldsDTOSerializerWritingNullable.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactNullablePrimitiveInteroperabilityTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactSerializationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactTestUtil.java
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Serialization, Not Release Notes content

#23593 Downgrade GCS Connector back to 1.32.2
  pom.xml
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23312 Add kafka-connect extension from Jet contrib repo [HZ-1805 HZ-1808]
  distribution/pom.xml
  extensions/kafka-connect/README.md
  extensions/kafka-connect/pom.xml
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/KafkaConnectSources.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/KafkaConnectSource.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/SourceOffsetStorageReader.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/package-info.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectDatagenIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectJdbcIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectSourcesTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/DummySourceConnector.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/KafkaConnectSourceTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/SourceOffsetStorageReaderTest.java
  extensions/pom.xml
  hazelcast/src/main/java/com/hazelcast/internal/util/Preconditions.java
  hazelcast/src/test/java/com/hazelcast/internal/util/PreconditionsTest.java
Labels: Source: Internal, Type: Feature Request, Add to Release Notes, Team: Platform

#23511 Use SINK INTO for GenericMapStore store operations [HZ-1639]
  extensions/mapstore/pom.xml
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericRecordUtils.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/JDBCParameters.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/Queries.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericRecordUtilsTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/JDBCParametersTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/QueriesTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mariadb/MariaDBGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mssql/MSSQLGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/mysql/MySQLGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/postgres/PostgreSQLGenericMapStoreIntegrationTest.java
  extensions/mapstore/src/test/resources/container-license-acceptance.txt
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MSSQLDatabaseProvider.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MariaDBDatabaseProvider.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23132 Remove incorrect getName override in AbstractParameterizedHazelcastClassRunner
  hazelcast/src/test/java/com/hazelcast/test/AbstractParameterizedHazelcastClassRunner.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform, Module: Maven build

#23600 Change UploadJobMultiPartOperation not to use ForkJoinPool [HZ-2037]
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UploadJobMultiPartOperation.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23258 [ALTO] Introduce ClientAltoConfig [ALTO-8]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestClientApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/node-client-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastClientBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.3.xsd
  hazelcast/src/main/java/com/hazelcast/client/config/ClientAltoConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfig.java
  hazelcast/src/main/java/com/hazelcast/client/config/ClientConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientConfigSections.java
  hazelcast/src/main/java/com/hazelcast/client/config/impl/ClientDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/FailoverClientConfigSupport.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocationServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientTransactionManagerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/internal/bootstrap/ClientMain.java
  hazelcast/src/main/resources/hazelcast-client-config-5.3.xsd
  hazelcast/src/main/resources/hazelcast-client-default.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.xml
  hazelcast/src/main/resources/hazelcast-client-full-example.yaml
  hazelcast/src/main/resources/hazelcast-config-5.3.json
  hazelcast/src/test/java/com/hazelcast/client/bluegreen/FailoverConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/AbstractClientConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigTest.java
  hazelcast/src/test/java/com/hazelcast/client/config/ClientConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManagerTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/client/alto/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/client/alto/success.json
  hazelcast/src/test/resources/hazelcast-client-full.xml
  hazelcast/src/test/resources/hazelcast-client-full.yaml
Labels: Type: Enhancement, Team: Client, Source: Internal, Module: Config

#23462 Stream to stream non-equi JOIN snapshotting support [HZ-1897]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinBuffer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPInnerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/processors/StreamToStreamJoinPOuterTest.java
Labels: Type: Enhancement, Team: SQL, SQL-only

#23636 [CN-714] Add AWS IMDSv2 cluster to phonehome [5.2.2]
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/CloudInfoCollector.java
  hazelcast/src/main/java/com/hazelcast/internal/util/phonehome/MetricsCollector.java
Labels: Type: Enhancement, Source: Internal, Module: Discovery SPI, Team: Cloud Native

#23647 Update modules list in hazelcast-coverage-report module
  hazelcast-coverage-report/pom.xml
Labels: Team: Platform, Module: Maven build

#23639 Update Jackson to 2.14.2 [5.1.z]
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23641 Update Jackson to 2.14.2 [5.2.z]
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23651 Update condition for running clear expired task [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Not Release Notes content

#23571 Fix issues found during testing of job upload
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/MainClassFinder.java
  hazelcast/src/main/java/com/hazelcast/jet/JetService.java
  hazelcast/src/main/java/com/hazelcast/jet/SubmitJobParameters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobMetaDataParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobMultiPartParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobUploadStatus.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobUploadStore.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UploadJobMetaDataOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UploadJobMultiPartOperation.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/MainClassFinderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/SubmitJobParametersTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadMemberFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadMemberSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JetClientInstanceImplTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/jobupload/JobUploadStoreTest.java
  hazelcast/src/test/resources/nomanifestsimplejob-1.0.0.jar
  hazelcast/src/test/resources/simplejob-1.0.0.jar
Labels: Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23348 Add MongoDB read and write processors [HZ-1622]
  README.md
  distribution/src/assembly/assembly-descriptor.xml
  extensions/mongodb/pom.xml
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoDBSinkBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoDBSinks.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoDBSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoDBSources.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/Mappers.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoDbConnection.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoUtilities.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoP.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoParams.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoP.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoParams.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/AbstractMongoDBTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoDBSinkResilienceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoDBSinkTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoDBSourceResilienceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoDBSourceTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23652 Update condition for running clear expired task [5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Not Release Notes content

#23658 Remove excessive logging for not supported DB [HZ-1546]
  extensions/mapstore/src/test/resources/container-license-acceptance.txt
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/SupportedDatabases.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/UpsertBuilder.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/SupportedDatabasesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mssql/MSSQLSinkIntoJdbcSqlConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/test/jdbc/MSSQLDatabaseProvider.java
  hazelcast/src/test/resources/container-license-acceptance.txt
Labels: Type: Enhancement, Source: Internal, Module: Jet, Team: Platform

#23642 Update gcp,azure and aws workflows
  .github/workflows/aws-terraform-integration-tests.yml
  .github/workflows/azure-terraform-integration-tests.yml
  .github/workflows/gcp-terraform-integration-tests.yml
Labels: Not Release Notes content

#23601 Remove debug prints in JobMetricsCollector
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobExecutionService.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#23488 Update debezium/example-mysql docker image and ignore some tests for arm64 [HZ-1641]
  README.md
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23690 Fix the issue in which the lack of before field cause exceptions [5.2.z]
  extensions/cdc-debezium/pom.xml
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSourceP.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23529 Explicitly specify executor for CF calls in the 'cp' package [HZ-2005]
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftGroupMembershipManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftInvocationManager.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/RaftService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/atomiclong/proxy/AtomicLongProxy.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/operation/TransferLeadershipOp.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/LeadershipTransferState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Type: Defect, Team: Core, Source: Community, Module: CP Subsystem, Not Release Notes content, Team: Platform

#23539 Explicitly specify executor for CF calls in general classes [HZ-2006]
  hazelcast/src/main/java/com/hazelcast/executor/impl/ExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/futures/ChainingFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/DelegatingCompletableFuture.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/AbstractContainerMerger.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/InvokeOnPartitions.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/tenantcontrol/impl/TenantControlServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/transaction/impl/TransactionLog.java
  hazelcast/src/test/java/com/hazelcast/internal/util/futures/ChainingFutureTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Source: Community, Not Release Notes content, Team: Platform

#23689 Fix the issue in which the lack of before field cause exceptions
  extensions/cdc-debezium/pom.xml
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordCdcSourceP.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23696 Revert "Bump maven-shade-plugin from 3.2.4 to 3.4.1 (#22634)"
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Team: Platform

#23631 Mark RAND() as non-deterministic [HZ-2047]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/math/HazelcastRandFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/math/RandFunctionIntegrationTest.java
Labels: Type: Defect, Team: SQL, SQL-only

#23530 Avoid Calcite classes in SQL api
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/HazelcastRexNode.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/FileSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/SeriesSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/InfoSchemaConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/IMapSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/CreateTopLevelDagVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/DagBuildContextImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAbstractSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestAllTypesSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/test/TestFailingSqlConnector.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet, Team: Platform

#23541 Explicitly specify executor for CF calls in the 'map' package [HZ-2007]
  hazelcast/src/main/java/com/hazelcast/cache/impl/CacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/cache/impl/operation/CacheGetConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapKeyLoader.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/query/QueryOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractDistributedObject.java
  hazelcast/src/test/java/com/hazelcast/flakeidgen/impl/FlakeIdGeneratorProxyTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Source: Community, Module: IMap, Not Release Notes content, Team: Platform

#23643 Provide metrics from the compactor to the metrics subsystem [HZ-1761]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Team: Storage, Module: TStore

#23644 [CN-733] Run the terraform-integration-tests by PR label event
  .github/workflows/aws-terraform-integration-tests.yml
  .github/workflows/azure-terraform-integration-tests.yml
  .github/workflows/gcp-terraform-integration-tests.yml
Labels: Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#23602 Add TDD for data links [HZ-2019]
  docs/design/sql/18-data-links.md
Labels: Team: SQL, SQL-only

#23630 Null check for Row Value upserts
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/UpsertTargetUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/BasicNestedFieldsTest.java
Labels: Type: Defect, Team: SQL, SQL-only

#23653 Update condition for running clear expired task [5.0.z]
  hazelcast/src/main/java/com/hazelcast/internal/eviction/ClearExpiredRecordsTask.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngineImpl.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap, Not Release Notes content

#23741 [CN-733] Remove checkout path parameter from discovery plugin workflows
  .github/workflows/aws-terraform-integration-tests.yml
  .github/workflows/azure-terraform-integration-tests.yml
  .github/workflows/gcp-terraform-integration-tests.yml
Labels: Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#23580 Enhance sync consumer logic [HZ-2011]
  hazelcast/src/main/java/com/hazelcast/internal/services/WanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/WanMapSupportingService.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#23742 Fix SessionAwareSemaphoreReleaseAcquiredSessionsOnFailureTest.testTryAcquire_shouldReleaseSessionsOnRuntimeError [HZ-1829]
  hazelcast/src/test/java/com/hazelcast/client/cp/internal/datastructures/semaphore/SessionAwareSemaphoreReleaseAcquiredSessionsOnFailureTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: CP Subsystem

#23746 Make logging less noisy for JdbcSqlConnectorBounceTest [HZ-2077]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnectorBounceTest.java
  hazelcast/src/test/resources/log4j2-jdbc-sql-connector-bounce.xml
Labels: Source: Internal

#23744 Add "jobName" tag to job metrics [HZ-1956]
  hazelcast/src/main/java/com/hazelcast/jet/core/metrics/MetricTags.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/ExecutionContext.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JmxMetricsChecker.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#22497 Test ProcessorSupplier#init throwing non-serializable exception [HZ-1566]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientResultTest.java
  hazelcast/src/test/java/com/hazelcast/aws/RegionValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/AbstractProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycleTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/ExecutionLifecycle_RestartableExceptionTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/SuspendExecutionOnFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/TestProcessors.java
  hazelcast/src/test/java/com/hazelcast/jet/core/metrics/JobLifecycleMetricsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/ExceptionUtilTest.java
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23662 Submit job to any node
  hazelcast/src/main/java/com/hazelcast/client/properties/ClientProperty.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/MainClassNameFinder.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/MainMethodFinder.java
  hazelcast/src/main/java/com/hazelcast/internal/util/Sha256Util.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobUploadCall.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/SubmitJobParametersValidator.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/SubmitJobPartCalculator.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/SubmitJobTargetMemberFinder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUploadJobMetaDataTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUploadJobMultipartTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobMetaDataParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobMultiPartParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobUploadStatus.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/jobupload/JobUploadStore.java
  hazelcast/src/test/java/com/hazelcast/client/console/HazelcastCommandLineTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastBootstrapTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/MainClassNameFinderTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/MainMethodFinderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadMemberFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadMemberSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JetClientInstanceImplTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobUploadCallTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/SubmitJobParametersValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/SubmitJobPartCalculatorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/SubmitJobPartCalculatorTotalPartsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/SubmitJobTargetMemberFinderTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23695 Implement dynamic task reconfiguration of Kafka Source Connectors [HZ-1972]
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/KafkaConnectSource.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/TaskRunner.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectJdbcIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/DummySourceConnector.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/TaskRunnerTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23765 Use older JDK8-compatible Neo4j kafka connector in integration tests
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectNeo4jIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Module: Integration Tests, jdk8-not-supported

#23770 Add run-ee-nightly-tests trigger phrase
  README.md
Labels: Team: Core, Source: Internal, Not Release Notes content

#23472 Add a HzClientDataLinkFactory to avoid excessive Hz client creation [HZ-1433]
  hazelcast/src/main/java/com/hazelcast/datalink/HzClientDataLinkFactory.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ClusterMetaSupplierParams.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast/src/test/resources/hazelcast-client-test-external.xml
  hazelcast/src/test/resources/hazelcast-client-test-external.yaml
Labels: Source: Community, Type: Feature Request, Add to Release Notes, Module: Jet, Team: Platform

#23180 Fixed NPE in MulticastConfig#hashcode due to loopbackModeEnabled as null
  hazelcast/src/main/java/com/hazelcast/config/MulticastConfig.java
Labels: Type: Defect, Team: Core, Source: Community, Module: Config
