Repository hazelcast/hazelcast, pull requests merged in 2023-03, with the labels that each got.

#23777 Revert "Add a HzClientDataLinkFactory to avoid excessive Hz client creation [HZ-1433]"
  hazelcast/src/main/java/com/hazelcast/datalink/HzClientDataLinkFactory.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ClusterMetaSupplierParams.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast/src/test/resources/hazelcast-client-test-external.xml
  hazelcast/src/test/resources/hazelcast-client-test-external.yaml
Labels: Source: Internal, Type: Feature Request, Not Release Notes content, Module: Jet, Team: Platform

#23767 Manually start the container after assumeDockerEnabled() [HZ-2091]
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/AbstractMongoDBTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23722 Invoke flatMapIdle() when no records come from MongoCursor
  extensions/mongodb/pom.xml
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoUtilities.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoP.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoDBSourceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoDBSourcesWindowedTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23768 No error on null key [HZ-2086]
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/ChangeRecord.java
  extensions/cdc-debezium/src/main/java/com/hazelcast/jet/cdc/impl/ChangeRecordImpl.java
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23753 Do not cache outputstream [HZ-2085]
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSerDeHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSuppliers.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunk.java
Labels: Type: Defect, Team: Core, Source: Internal

#22163 [HZ-1379] Add CAST(<customType> AS JSON) conversion
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/HazelcastSqlToRelConverter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/UdtObjectToJsonFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/special/HazelcastUdtObjectToJsonFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/types/HazelcastTypeUtils.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlJsonTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/ParserOperationsTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/UdtObjectToJsonFunctionTest.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/EvictableGetterCache.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/FieldAccessExpression.java
Labels: Source: Internal, Team: SQL, Module: Jet

#23755 Enhance sync consumer logic [HZ-2011] (#23580) [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/services/WanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/WanMapSupportingService.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#23688 Correctly report missing stream-to-stream bound
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/s2sjoin/SqlStreamToStreamJoinTest.java
Labels: Type: Enhancement, Team: SQL, SQL-only

#23789 Move isUUID method to UUIDUtil [HZ-2095]
  hazelcast/src/main/java/com/hazelcast/internal/util/UuidUtil.java
Labels: Source: Internal, Type: Feature Request, Not Release Notes content, Team: Storage, Module: TStore

#23532 Explicitly specify executor for CF calls in the 'client' package [HZ-2004]
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/ClientCacheProxySupport.java
  hazelcast/src/main/java/com/hazelcast/client/cache/impl/nearcache/NearCachedClientCacheProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/ClientDelegatingFuture.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/cache/CacheCreateConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AbstractAddConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/management/GetCPMembersMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/map/MapRemoveAllMessageTask.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientExecutorServiceProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMultiMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientClusterViewListenerService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/client/AbstractCPMessageTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/spi/client/CreateRaftGroupMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
Labels: Type: Defect, Team: Core, Source: Internal, Source: Community, Not Release Notes content, All Languages Should Check, Team: Platform

#23807 [CN-751] Add null checks for fields in AddCacheConfigMessageTask [5.1.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTaskTest.java
Labels: Type: Defect, Source: Internal, Module: Config, Not Release Notes content, Team: Cloud Native

#23809 [CN-751] Add null checks for fields in AddCacheConfigMessageTask [5.0.z]
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTask.java
  hazelcast/src/test/java/com/hazelcast/client/impl/protocol/task/dynamicconfig/AddCacheConfigMessageTaskTest.java
Labels: Type: Defect, Source: Internal, Module: Config, Not Release Notes content, Team: Cloud Native

#23745 Created tests for serial operation invoker [HZ-2075]
  hazelcast/src/main/java/com/hazelcast/internal/util/InvocationUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/util/SerialOperationInvokerTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Cluster, Not Release Notes content

#23769 Fix SuspendResumeTest [HZ-1220]
  hazelcast/src/test/java/com/hazelcast/jet/core/SuspendResumeTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#23783 Custom traverser instead of reading in chunks
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/CursorTraverser.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoUtilities.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoP.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23712 Code against the ClientConnection interface in client related services
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientExecuteCloseRaceTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlErrorClientTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/ClientICMPManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/HeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/txn/ClientTransactionUtil.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientInvocation.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerRegistration.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientResult.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlClientService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlResubmissionResult.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/client/test/ClientTestSupport.java
Labels: Team: Client, Type: Cleanup, Source: Internal, Not Release Notes content

#23806 Add thread onSpinWait to BackoffIdleStrategy for java 9 or greater [HZ-2002]
  hazelcast/src/main/java/com/hazelcast/internal/util/ThreadUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/util/concurrent/BackoffIdleStrategy.java
Labels: Type: Enhancement, Team: Core

#23805 Do not cache outputstream [HZ-2085] (#23753)[5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSerDeHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSuppliers.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunk.java
Labels: Type: Defect, Team: Core

#23804 Do not cache outputstream [HZ-2085] (#23753)[5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSerDeHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/ChunkSuppliers.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapChunkSupplier.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapChunk.java
Labels: Type: Defect, Team: Core

#23754 Let existing map/cache see added wan config [HZ-1456]
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/internal/services/WanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/WanMapSupportingService.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#23701 Extract GenericMapLoader from GenericMapStore [HZ-1459]
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/ExistingMappingValidator.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/FromSqlRowConverter.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStore.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapStoreProperties.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/JDBCParameters.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/JdbcParameters.java
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/MappingHelper.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapLoaderTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/JDBCParametersTest.java
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/JdbcParametersTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23814 Explicitly specify executor for CF calls in general classes [HZ-2006]
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientReliableTopicProxy.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpPostCommandProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/AbstractInvocationFuture.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/reliable/ReliableTopicProxy.java
Labels: Type: Enhancement, Team: Client, Team: Core, Type: Perf. Defect, Source: Internal, Source: Community, Module: Cluster, Not Release Notes content, Team: Platform

#23828 Ensure deterministic serialized length for tsTzCalendarVal in SQL tests
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlBasicTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: HD, Team: Storage

#23766 Fix support of NodePort for Advanced Network setup [CN-752]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
Labels: Type: Defect, Source: Internal, Module: Discovery SPI, Add to Release Notes, Team: Cloud Native

#23816 Adds options for per-socket keep-alive configuration [HZ-1672]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestAdvancedNetworkApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/advancedNetworkConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.3.xsd
  hazelcast/src/main/java/com/hazelcast/config/ConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/config/EndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/config/RestServerEndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/config/ServerSocketEndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/ServerSocketHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/ChannelOption.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannel.java
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioChannelOptions.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServer.java
  hazelcast/src/main/resources/hazelcast-config-5.3.json
  hazelcast/src/main/resources/hazelcast-config-5.3.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigXmlGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/AdvancedNetworkIntegrationTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/advanced-network/success.json
  hazelcast/src/test/resources/hazelcast-fullconfig-advanced-network-config.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-advanced-network-config.yaml
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Add to Release Notes

#23604 ArchUnit rules for CompletableFuture methods usage [HZ-2003]
  hazelcast-archunit-rules/src/main/java/com/hazelcast/test/archunit/ArchUnitRules.java
  hazelcast-archunit-rules/src/main/java/com/hazelcast/test/archunit/CompletableFutureUsageCondition.java
  hazelcast-archunit-rules/src/main/java/com/hazelcast/test/archunit/SerialVersionUidFieldCondition.java
  hazelcast/src/test/java/com/hazelcast/HazelcastCompletableFutureAsyncUsageTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IExecutor, Not Release Notes content, Team: Platform

#23842 Bump classgraph to 4.8.156 to avoid race condition
  pom.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23840 Renaming: MongoDB prefix to Mongo
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinkBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinks.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSources.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoConnection.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoP.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoP.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/AbstractMongoTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSinkResilienceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSinkTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceResilienceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceVariousIdTypesTest.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourcesWindowedTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23852 'put' changed to 'putIfAbsent', little optimization.
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/ClientSchemaService.java
Labels: Type: Enhancement, Team: Client, Priority: Low, Source: Internal, Estimation: S, Not Release Notes content

#23854 [ALTO] Moved ThreadAffinityTest into hazelcast-tpc-engine module.
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/util/ThreadAffinityTest.java
Labels: Type: Test-Failure

#23855 Fix .mvn/maven.config
  .mvn/maven.config
Labels: Team: Core, Source: Internal, Not Release Notes content, Module: Maven build

#23858 Update testcontainers to 1.17.6
  pom.xml
Labels: Not Release Notes content, dependencies, Team: Platform

#23567 CREATE & DROP DATA LINK SQL support [HZ-1955]
  checkstyle/suppressions.xml
  docs/design/sql/18-data-links.md
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataLinksTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolvers.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateDataLink.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlDropDataLink.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/AbstractSchemaStorage.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataLinkStorage.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataLinksResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/RelationsStorage.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TypesUtils.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/ValidationUtil.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/special/HazelcastCreateDataLinkOperator.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/CreateViewStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/WatermarkKeysAssignerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolversTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/UpdateProcessorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexResolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/OptimizerTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/common/CalcIntoScanRuleTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/CalcDropLateItemsTransposeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/logical/UnionDropLateItemsTransposeTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/opt/physical/PhysicalJoinTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataLinkStorageTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataLinksResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/RelationsStorageTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/NestedTypesDDLTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/InternalDataLinkService.java
  hazelcast/src/main/java/com/hazelcast/security/permission/ActionConstants.java
  hazelcast/src/main/java/com/hazelcast/security/permission/SqlPermission.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/datalink/DataLink.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#23860 Relax port tests [ALTO]
  hazelcast/src/test/java/com/hazelcast/config/alto/AltoSocketConfigTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: TPC

#23808 TO_ROW function removal [HZ-1379]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/expression/ToRowFunction.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/visitor/RexToExpression.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlOperatorTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/operators/special/HazelcastToRowFunction.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/expression/misc/NestingAndCasingExpressionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/type/BasicNestedFieldsTest.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Module: Jet

#23847 refactor Kubernetes tests
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointResolver.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesFakeUtils.java
Labels: Type: Cleanup, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#23872 [ALTO] Added test for TpcEngineBuilder
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/TpcEngineBuilderTest.java
Labels: Module: TPC, Team: Alto

#23871 [ALTO] Cleaned up AsyncSocket metrics
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncServerSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncServerSocketMetrics.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncSocketMetrics.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/nio/NioAsyncServerSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/nio/NioAsyncSocket.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/AsyncServerSocketMetricsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/AsyncServerSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/AsyncSocketMetricsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/AsyncSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpc/AsyncSocket_ReadableTest.java
Labels: Module: TPC, Team: Alto

#23848 Make Jet not overwrite default wildcard IMap config [HZ-2130]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JetServiceBackendTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#23193 Add job status listener [HZ-1646]
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetAddJobStatusListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetRemoveJobStatusListenerCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/listener/ClientListenerServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/collection/CollectionService.java
  hazelcast/src/main/java/com/hazelcast/collection/impl/queue/QueueService.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultNodeExtension.java
  hazelcast/src/main/java/com/hazelcast/jet/Job.java
  hazelcast/src/main/java/com/hazelcast/jet/JobStatusEvent.java
  hazelcast/src/main/java/com/hazelcast/jet/JobStatusListener.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobEventService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/LightMasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterJobContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/TerminationMode.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetAddJobStatusListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetRemoveJobStatusListenerMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/NodeQueryCacheEventService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/querycache/subscriber/operation/DestroyQueryCacheOperation.java
  hazelcast/src/main/java/com/hazelcast/multimap/impl/MultiMapService.java
  hazelcast/src/main/java/com/hazelcast/ringbuffer/impl/RingbufferService.java
  hazelcast/src/main/java/com/hazelcast/security/permission/JobPermission.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/EventService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceSegment.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/DeregistrationOperation.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/eventservice/impl/operations/DeregistrationOperationSupplier.java
  hazelcast/src/main/java/com/hazelcast/topic/impl/TopicService.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/jet/JobStatusListenerTest.java
  hazelcast/src/test/java/com/hazelcast/spi/impl/eventservice/impl/EventServiceTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#23810 Submit job from jar already present on member [HZ-1974]
  docs/design/jet/023-jobupload.md
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetUploadJobMetaDataCodec.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetUploadJobMultipartCodec.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/jet/JetService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/SubmitJobParameters.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUploadJobMetaDataTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUploadJobMultipartTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UploadJobMetaDataOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UploadJobMultiPartOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/clientside/SubmitJobTargetMemberFinder.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/clientside/execute/JobExecuteCall.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadCall.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/clientside/upload/SubmitJobPartCalculator.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/clientside/validator/SubmitJobParametersValidator.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/JobMetaDataParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/JobMultiPartParameterObject.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStatus.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStore.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/validator/JobMetaDataParameterObjectValidator.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/jet/SubmitJobParametersTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadMemberFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobUploadMemberSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JetServiceBackendTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/SubmitJobParametersValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/SubmitJobTargetMemberFinderTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/execute/JobExecuteClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/execute/JobExecuteClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadCallTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/SubmitJobPartCalculatorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/SubmitJobPartCalculatorTotalPartsTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/validator/SubmitJobParametersValidatorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStatusTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStoreTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/validator/JobMetaDataParameterObjectValidatorTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
Labels: Type: Enhancement, Source: Internal, Module: Jet, Team: Platform

#23869 [ALTO] Wait for connections to properly established in ClientAltoTests
  hazelcast/src/test/java/com/hazelcast/client/alto/ClientAltoTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: TPC, Team: Alto

#23862 Add support for changing JobConfig of a suspended job [HZ-1650]
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/generator/StreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlAlterJob.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateJob.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlMemoryManagementTest.java
  hazelcast/src/main/java/com/hazelcast/client/impl/protocol/codec/JetUpdateJobConfigCodec.java
  hazelcast/src/main/java/com/hazelcast/jet/Job.java
  hazelcast/src/main/java/com/hazelcast/jet/config/DeltaJobConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JetConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JetConfigDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JobConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/Processors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/AbstractJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/ClientJobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobCoordinationService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobProxy.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRecord.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JobRepository.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/MasterContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetMessageTaskFactoryProvider.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/client/protocol/task/JetUpdateJobConfigMessageTask.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/JetInitDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/operation/UpdateJobConfigOperation.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/InsertWatermarksP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/SlidingWindowP.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/ClientCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityNullTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/client/protocol/compatibility/MemberCompatibilityTest_2_6.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JobTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/memory/MemoryManagementTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/processor/InsertWatermarksPTest.java
  hazelcast/src/test/resources/2.6.protocol.compatibility.binary
  hazelcast/src/test/resources/2.6.protocol.compatibility.null.binary
Labels: Type: Enhancement, Team: SQL

#23508 Add MongoDB SQL Connector [HZ-1512]
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSinkBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSources.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/WriteMode.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/Mappers.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoConnection.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoUtilities.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoParams.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoP.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/WriteMongoParams.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSinkTest.java
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/BsonTypes.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/DocumentQueryTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/DynamicParameter.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoTableField.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/Options.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/ParameterReplacer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/RexToMongo.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/RexToMongoVisitor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/SelectProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/TypeMapping.md
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/UpdateProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/package-info.java
  hazelcast-sql/src/main/resources/META-INF/services/com.hazelcast.sql.Connectors
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesInsertMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesSelectMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnectorTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/TwoPhaseSnapshotCommitUtility.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/expression/Expression.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/MappingField.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23849 Add HazelcastDataLink and support it in remoteMapJournal [HZ-1433]
  hazelcast/src/main/java/com/hazelcast/datalink/HazelcastDataLink.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/HazelcastDataLinkRegistration.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamEventJournalP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ImdgUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.datalink.DataLinkRegistration
  hazelcast/src/test/java/com/hazelcast/datalink/HazelcastDataLinkTest.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
  hazelcast/src/test/resources/hazelcast-client-test-external.xml
  hazelcast/src/test/resources/hazelcast-client-test-external.yaml
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23904 Exclude new CompletionStage Async methods from checker for Java 8 compatibility
  hazelcast-archunit-rules/src/main/java/com/hazelcast/test/archunit/CompletableFutureUsageCondition.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Not Release Notes content

#23877 Make Jet not overwrite default wildcard IMap config [HZ-2130] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JetServiceBackendTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#23886 Create DataLink for Kafka [HZ-1985]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaDataLink.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaProcessors.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSinks.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaSources.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/KafkaDataLinkRegistration.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/NonClosingKafkaProducer.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
  extensions/kafka/src/main/resources/META-INF/services/com.hazelcast.datalink.DataLinkRegistration
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/KafkaDataLinkTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaDataLinkStressTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/WriteKafkaPTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/RowProjectorProcessorSupplier.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Platform

#23899 [ALTO] Minor Reactor.wakeup doc improvement
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/Reactor.java
Labels: Module: TPC, Team: Alto

#23910 [ALTO] Improved Socket metrics javadoc
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncServerSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncServerSocketMetrics.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpc/AsyncSocketMetrics.java
Labels: Module: TPC

#23882 Add tests for partition-aware client [HZ-1916]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlClientTest.java
Labels: Source: Internal, SQL-only

#23929 Fix EnterpriseDataSerializableConventionsTest on EE side
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/StreamKafkaP.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/kafka/RowProjectorProcessorSupplier.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23931 Fix support of NodePort for Advanced Network setup [CN-752] [backport]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointResolver.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiProvider.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
Labels: Type: Defect, Source: Internal, Module: Discovery SPI, Add to Release Notes, Team: Cloud Native

#23936 Bump snakeyaml from 1.33 to 2.0 [5.2.z]
  pom.xml
Labels: Type: Enhancement, Source: Internal, Module: Config, Not Release Notes content, dependencies, Team: Platform

#23935 Bump everit-json-schema to mitigate CVE-2022-45688 [5.2.z]
  hazelcast/pom.xml
Labels: Type: Enhancement, Source: Internal, Module: Config, Not Release Notes content, dependencies, Team: Platform

#23951 [TPC] Removes SO_REUSEPORT in AltoServerBootstrap.
  hazelcast/src/main/java/com/hazelcast/internal/bootstrap/AltoServerBootstrap.java
Labels: Type: Defect, Module: TPC

#23952 [TPC] Remove SO_REUSEPORT from tpcengine tests where not needed.
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncServerSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/ReactorTest.java
Labels: Module: TPC

#23771 [ALTO] Send heartbeats to Alto channels [ALTO-46]
  hazelcast/src/main/java/com/hazelcast/client/impl/clientside/HazelcastClientInstanceImpl.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/ClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/AltoChannelClientConnectionAdapter.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/AltoChannelCloseListener.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/ClientICMPManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/HeartbeatManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnection.java
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/test/java/com/hazelcast/client/alto/ClientAltoTest.java
Labels: Type: Enhancement, Team: Client, Source: Internal

#23535 Add attribute-based partitioning strategy [HZ-1658]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/TestFullApplicationContext.java
  hazelcast-spring-tests/src/test/resources/com/hazelcast/spring/fullConfig-applicationContext-hazelcast.xml
  hazelcast-spring/src/main/java/com/hazelcast/spring/HazelcastConfigBeanDefinitionParser.java
  hazelcast-spring/src/main/resources/hazelcast-spring-5.3.xsd
  hazelcast/src/main/java/com/hazelcast/config/MapConfig.java
  hazelcast/src/main/java/com/hazelcast/config/PartitioningAttributeConfig.java
  hazelcast/src/main/java/com/hazelcast/internal/config/ConfigDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MapConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/MemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/config/PartitioningAttributeConfigReadOnly.java
  hazelcast/src/main/java/com/hazelcast/internal/config/YamlMemberDomConfigProcessor.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigXmlGenerator.java
  hazelcast/src/main/java/com/hazelcast/internal/dynamicconfig/DynamicConfigYamlGenerator.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapContainer.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitioningStrategyFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/map/impl/tx/TransactionalMapProxySupport.java
  hazelcast/src/main/java/com/hazelcast/partition/strategy/AttributePartitioningStrategy.java
  hazelcast/src/main/java/com/hazelcast/query/impl/getters/AbstractJsonGetter.java
  hazelcast/src/main/resources/hazelcast-config-5.3.json
  hazelcast/src/main/resources/hazelcast-config-5.3.xsd
  hazelcast/src/main/resources/hazelcast-full-example.xml
  hazelcast/src/main/resources/hazelcast-full-example.yaml
  hazelcast/src/test/java/com/hazelcast/config/AbstractConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/ConfigCompatibilityChecker.java
  hazelcast/src/test/java/com/hazelcast/config/MapConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/PartitioningAttributeConfigReadOnlyTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/internal/dynamicconfig/AbstractDynamicConfigGeneratorTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/PartitioningStrategyFactoryTest.java
  hazelcast/src/test/java/com/hazelcast/partition/strategy/AttributePartitioningStrategyIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/partition/strategy/AttributePartitioningStrategyTest.java
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/map/multiple-failures.json
  hazelcast/src/test/resources/com/hazelcast/config/yaml/testcases/member/map/success.json
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.xml
  hazelcast/src/test/resources/hazelcast-fullconfig-without-network.yaml
Labels: Type: Enhancement, Team: SQL

#23955 Migrate from log4j to reload4j [5.3.0-BETA-1]
  hazelcast/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23920 Use discovered public address to enrich client [HZ-2067] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/DiscoveryJoiner.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/DiscoveryJoinerTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Discovery SPI, Team: Cloud Native

#23921 Use discovered public address to enrich client [HZ-2067] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/internal/cluster/impl/DiscoveryJoiner.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/DiscoveryJoinerTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Discovery SPI, Team: Cloud Native

#23953 Migrate from log4j to reload4j
  hazelcast/pom.xml
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23971 Bump everit-json-schema to mitigate CVE-2022-45688 [5.1.z]
  hazelcast/pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23972 Bump everit-json-schema to mitigate CVE-2022-45688 [5.0.z]
  hazelcast/pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23970 Bump everit-json-schema to mitigate CVE-2022-45688
  hazelcast/pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23966 Migrate from log4j to reload4j (#23953) [5.2.z]
  hazelcast/pom.xml
  pom.xml
Labels: Type: Cleanup, Not Release Notes content, dependencies, Team: Platform

#23969 Migrate from log4j to reload4j (#23953) [4.2.z]
  hazelcast/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23967 Migrate from log4j to reload4j (#23953) [5.1.z]
  hazelcast/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#23995 [TPC] Removed some unused methods NioAsyncSocket
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket.java
Labels: Module: TPC

#23941 Fix issues in CREATE DATA LINK implementation
  docs/design/sql/18-data-links.md
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/JetSqlSerializerHook.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataLinksTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataLinkStorage.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataLinksResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/HazelcastSqlValidator.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UpdateDataLinkOperation.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/ValidationUtil.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/CreateViewStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataLinkStorageTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataLinksResolverTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/InternalDataLinkService.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/Util.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/QueryUtils.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/SqlDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/datalink/DataLinkCatalogEntry.java
  hazelcast/src/test/java/com/hazelcast/datalink/impl/DataLinkServiceImplTest.java
  hazelcast/src/test/java/com/hazelcast/datalink/impl/DataLinkTestUtil.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/WriteJdbcPTest.java
Labels: Type: Enhancement, Team: SQL

#23960 Fix the Windows scripts in the distribution
  distribution/src/bin-regular/common.bat
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Scripts

#23924 [TPC] OS utility + socketbuilders improvements and build failure fixes
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/AsyncServerSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/AsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/AsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/util/OS.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncServerSocketBuilderTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncServerSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncSocketBuilderTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/util/OSTest.java
Labels: Module: TPC

#23980 Add suppressions to owasp checks
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Platform

#23998 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Platform

#23999 Revert Bump nexus-staging-maven-plugin from 1.6.8 to 1.6.10 (#20817)
  pom.xml
Labels: Team: Core, Source: Internal, dependencies

#23747 Disable disk tier by default for TStore [HZ-2094]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlBasicTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/index/SqlIndexAbstractTest.java
  hazelcast/src/test/java/com/hazelcast/map/BasicMapTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorBouncingNodesTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorLockTest.java
  hazelcast/src/test/java/com/hazelcast/map/EntryProcessorTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPreconditionsTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWithBatchingTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWithBouncingMemberTest.java
  hazelcast/src/test/java/com/hazelcast/map/MapPutAllWithCustomInitialSizeTest.java
Labels: Type: Cleanup, Source: Internal, Add to Release Notes, Team: Storage, Module: TStore

#24000 Revert Bump nexus-staging-maven-plugin from 1.6.8 to 1.6.10 (#20817)
  pom.xml
Labels: Team: Core, Source: Internal, dependencies

#23959 Multiple Mongo SQL connector fixes
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSourceBuilder.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/MongoSources.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/Mappers.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoUtilities.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoP.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoParams.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourceResilienceTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/BsonTypes.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/Options.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/RexToMongo.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/SelectProcessorSupplier.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnectorTest.java
  hazelcast/src/test/java/com/hazelcast/jet/SimpleTestInClusterSupport.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23919 Invoke wan events with allOf and remove serial retry [HZ-2132]
  hazelcast/src/main/java/com/hazelcast/internal/services/WanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/WanMapSupportingService.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: WAN, Not Release Notes content

#23917 Split jar execution strategy for command line interface and member and use thread local storage [HZ-2097 HZ-2058]
  hazelcast/src/main/java/com/hazelcast/client/console/HazelcastCommandLine.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/BootstrappedInstanceProxy.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/BootstrappedJetProxy.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/HazelcastBootstrap.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/CommandLineExecuteJar.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/ExecuteJarHelper.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/ExecuteJobParameters.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/JarScanner.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/MainClassNameFinder.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/MainMethodFinder.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/MemberExecuteJar.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/executejar/ResettableSingleton.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/JetServiceBackend.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStore.java
  hazelcast/src/test/java/com/hazelcast/client/console/HazelcastCommandLineTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/BootstrappedInstanceProxyTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/HazelcastBootstrapTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/executejar/JarScannerTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/executejar/MainClassNameFinderTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/executejar/MainMethodFinderTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/executejar/MemberExecuteJarTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/execute/JobExecuteClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/execute/JobExecuteClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientFailureTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/clientside/upload/JobUploadClientSuccessTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStatusTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStoreTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23873 JetConfig#toString() impl
  hazelcast/src/main/java/com/hazelcast/jet/config/EdgeConfig.java
  hazelcast/src/main/java/com/hazelcast/jet/config/JetConfig.java
Labels: Source: Community

#23926 Update lastAccessTime and expirationTime in executeOnEntries for HD IMap [HZ-2149]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: HD, Team: Storage

#23153 Adding checks for readOnly entry processor
  hazelcast/src/main/java/com/hazelcast/client/impl/proxy/ClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/client/map/impl/nearcache/NearCachedClientMapProxy.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/NearCachedMapProxyImpl.java
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/TestReadOnlyProcessor.java
Labels: Type: Enhancement, Team: Core, Type: Perf. Defect, Source: Community, Module: IMap, Module: Near Cache

#24023 Defensive changes in DeferredValue [HZ-1187] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/cache/impl/DeferredValue.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: ICache, Forwardport, Not Release Notes content

#24021 Defensive changes in DeferredValue [HZ-1187] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/cache/impl/DeferredValue.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: ICache, Forwardport, Not Release Notes content

#24022 Defensive changes in DeferredValue [HZ-1187] [5.3.0]
  hazelcast/src/main/java/com/hazelcast/cache/impl/DeferredValue.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: ICache, Forwardport, Not Release Notes content

#24003 Fix SQL failures when there exists mapping referencing unknown class [HZ-2167]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/BadTable.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#24012 Update lastAccessTime and expirationTime in executeOnEntries for HD IMap [HZ-2149] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: HD, Team: Storage

#24011 Update lastAccessTime and expirationTime in executeOnEntries for HD IMap [HZ-2149] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: HD, Team: Storage

#24010 Update lastAccessTime and expirationTime in executeOnEntries for HD IMap [HZ-2149] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: HD, Team: Storage

#23844 SHOW RESOURCES implementation [HZ-2039]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/KafkaDataLink.java
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlShowStatement.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowStatementTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/HazelcastDataLink.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#24025 Fix KafkaDataLinkTest on Confluent Platform
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/KafkaDataLinkTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24029 Defensive changes in DeferredValue [HZ-1187] [5.2.3]
  hazelcast/src/main/java/com/hazelcast/cache/impl/DeferredValue.java
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/SerializationUtil.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: ICache, Forwardport, Not Release Notes content

#23997 Remove unused WaitTimeoutSetterMapOperationProvider
  hazelcast/src/test/java/com/hazelcast/map/impl/tx/MapTransactionTest.java
Labels: Type: Enhancement, Team: Core

#23826 CREATE MAPPING with DATA LINK support [HZ-2040]
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/MetadataResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/ParserResource.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateDataLink.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateMapping.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/TableResolverImpl.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingColumnsTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/MappingsTableTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/SqlPojoTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/HazelcastSqlParserTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/SqlCreateMappingTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/RelationsStorageTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/DataLinkService.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/Mapping.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/MappingTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#24038 [TPC] AcceptRequest closing.
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/AcceptRequest.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAcceptRequest.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocket.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncServerSocketTest.java
Labels: Module: TPC

#23716 Add additional permission checks to JDBC/Data links (HZ-1355)
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
  hazelcast/src/main/java/com/hazelcast/jet/core/test/TestProcessorMetaSupplierContext.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/execution/init/Contexts.java
  hazelcast/src/test/java/com/hazelcast/datalink/impl/DataLinkServiceImplTest.java
Labels: Type: Enhancement, Source: Internal, Module: Security, Add to Release Notes, Team: Platform

#24028 Implement SHOW DATA LINKS [HZ-1976]
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlShowStatement.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UnsupportedOperationVisitor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowDataLinksSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowStatementTest.java
Labels: Source: Internal, Team: SQL, SQL-only

#24030 [TPC] Increase timeout to take nightly tests into account
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncSocket_LargePayloadTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform, Team: Alto

#24031 Add delete support for MongoDB SQL Connector
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/DeleteProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnector.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnectorTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24013 Fix Mongo SQL type conversion asymmetry
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoUtilities.java
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/ReadMongoP.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/MongoSourcesWindowedTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/BsonTypes.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/ConversionsFromBson.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/ConversionsToBson.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/InsertProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlConnectorBase.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoTableField.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/SelectProcessorSupplier.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/UpdateProcessorSupplier.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesInsertMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesSelectInsertedMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesSelectMongoSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/FieldResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoBatchSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoStreamSqlConnectorTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/DateUtil.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/MappingField.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/type/converter/Converters.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/MappingFieldTest.java
  hazelcast/src/test/java/com/hazelcast/sql/impl/schema/MappingTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23757 Update SerializationUtilTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/SerializationUtilTest.java
Labels: Team: Client, Source: Community, Module: Serialization, Not Release Notes content

#24048 [TPC] Fixes the TpcIntegrationTest by reducing nr-operations.
  hazelcast/src/test/java/com/hazelcast/internal/tpc/TpcIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/tpc/TpcIntegrationTest_Nightly.java
Labels: Module: TPC

#23471 Fixing HazelcastTransactionManager timeout
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/transaction/ServiceBeanWithTransactionalContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/transaction/TestSpringManagedHazelcastTransaction.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/transaction/HazelcastTransactionManager.java
Labels: Type: Defect, Team: Core, Source: Community, Module: Transactions

#24058 Bump json-smart from to 2.4.10 to fix CVE-2023-1370 [5.2.3]
  pom.xml
Labels: Type: Defect, Source: Internal, Module: JSON, Not Release Notes content, dependencies, Team: Platform

#24052 Improve near-cache read-only entry processor tests
  hazelcast/src/test/java/com/hazelcast/client/map/impl/nearcache/ClientMapNearCacheInvalidationTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/nearcache/NearCacheTest.java
Labels: Team: Client, Type: Test-Failure, Source: Internal, Module: Near Cache

#24032 MC-1965 Alert if member time drift is greater than 1 minute
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberState.java
  hazelcast/src/main/java/com/hazelcast/internal/management/TimedMemberStateFactory.java
Labels: Type: Enhancement, Source: Internal, Team: Management Center, Not Release Notes content

#24060 Bump json-smart from to 2.4.10 to fix CVE-2023-1370
  pom.xml
Labels: Source: Internal, Module: JSON, Not Release Notes content, dependencies, Team: Platform

#24059 Bump json-smart from to 2.4.10 to fix CVE-2023-1370 [5.2.z]
  pom.xml
Labels: Type: Defect, Source: Internal, Module: JSON, Not Release Notes content, dependencies, Team: Platform

#24078 Fix test failure for SqlDataLinkStatementTest.when_createDataLinkWithoutType_then_throws [HZ-2197]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content

#24050 Add keep-alive socket options for unified network [HZ-1672]
  hazelcast/src/main/java/com/hazelcast/config/EndpointConfig.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DefaultAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/DelegatingAddressPicker.java
  hazelcast/src/main/java/com/hazelcast/instance/impl/ServerSocketHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/UnifiedChannelInitializer.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
  hazelcast/src/test/java/com/hazelcast/config/AdvancedNetworkConfigTest.java
  hazelcast/src/test/java/com/hazelcast/instance/impl/DefaultAddressPickerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/NetworkTestUtil.java
  hazelcast/src/test/java/com/hazelcast/internal/networking/nio/UnifiedNetworkIntegrationTest.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Module: Network I/O, Add to Release Notes

#24084 null argument checks in MapProxyImpl [#24083]
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxyImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/proxy/MapProxySupport.java
Labels: Type: Defect, Team: Core, Source: Community, Module: IMap

#24055 Fixes in dealing with Mongo time
  extensions/mongodb/src/main/java/com/hazelcast/jet/mongodb/impl/MongoUtilities.java
  extensions/mongodb/src/test/java/com/hazelcast/jet/mongodb/impl/MongoUtilitiesTest.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/Options.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/AllTypesSelectInsertedMongoSqlConnectorTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24092 Fix HazelcastTransactionManager timeout [5.1.z]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/transaction/ServiceBeanWithTransactionalContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/transaction/TestSpringManagedHazelcastTransaction.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/transaction/HazelcastTransactionManager.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: Transactions

#24091 Fix HazelcastTransactionManager timeout [5.0.z]
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/transaction/ServiceBeanWithTransactionalContext.java
  hazelcast-spring-tests/src/test/java/com/hazelcast/spring/transaction/TestSpringManagedHazelcastTransaction.java
  hazelcast-spring/src/main/java/com/hazelcast/spring/transaction/HazelcastTransactionManager.java
Labels: Type: Defect, Team: Core, Backport, Source: Community, Module: Transactions

#24088 [TPC] NioAsyncSocket connect improvements.
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket.java
Labels: Module: TPC

#24093 Fix test use System.lineSeparator because \n was failing on Windows JDK [HZ-2197]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Module: Jet

#24053 Add Kafka connect metrics [HZ-1812]
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/KafkaConnectSources.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/ConnectorWrapper.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/LocalKafkaConnectStats.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/LocalKafkaConnectStatsImpl.java
  extensions/kafka-connect/src/main/java/com/hazelcast/jet/kafka/connect/impl/ReadKafkaConnectP.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectSourcesTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/ConnectorWrapperTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/ReadKafkaConnectPTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/SourceOffsetStorageReaderTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/TaskRunnerTest.java
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24095 startAt validation
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/mongodb/Options.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/OptionsTest.java
Labels: Type: Enhancement, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#23640 Update Jackson to 2.14.2 [5.0.z]
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, dependencies, Team: Platform

#24039 [SQL] Various improvements for Data Links
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataLinksTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateDataLink.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataLinkStorage.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataLinksResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UpdateDataLinkOperation.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataLinkStorageTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataLinksResolverTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkConsistencyChecker.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/datalink/DataLinkCatalogEntry.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/state/QueryStateRegistryUpdater.java
  hazelcast/src/test/java/com/hazelcast/datalink/impl/DataLinkConsistencyCheckerTest.java
Labels: Type: Defect, Source: Internal, Team: SQL

#24041 Change 'type' in `CREATE DATA LINK` from full class path to shortened name [HZ-2179]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowDataLinksSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/InternalDataLinkService.java
Labels: Type: Defect, Source: Internal, Team: SQL

#24057 Include watermarked columns in S2S join error message [HZ-2194]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRule.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/s2sjoin/SqlStreamToStreamJoinTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#24102 Support `SHARED` syntax for CREATE DATA LINK [HZ-2209]
  docs/design/sql/18-data-links.md
  hazelcast-sql/src/main/codegen/config.fmpp
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/SqlPlanImpl.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateDataLink.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/validate/UpdateDataLinkOperation.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowDataLinksSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataLinkStorageTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/SqlMappingTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkConsistencyChecker.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/InternalDataLinkService.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/datalink/DataLinkCatalogEntry.java
  hazelcast/src/test/java/com/hazelcast/datalink/impl/DataLinkConsistencyCheckerTest.java
  hazelcast/src/test/java/com/hazelcast/datalink/impl/DataLinkServiceImplTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#24108 Add waiting for the cluster size [HZ-2219]
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/MembershipUpdateTest.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Module: Cluster, Team: Platform

#24106 Add tests of CREATE DATA LINK for MongoDB and Kafka
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaCreateDataLinkSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoCreateDataLinkSqlTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, SQL-only

#24096 [TPC] Various improvements NioAsyncSocket scheduling
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/AsyncSocket.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocket.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncSocketTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncSocket_LargePayloadTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/AsyncSocket_RpcTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/PrintAtomicLongThread.java
Labels: Module: TPC

#24111 Simplify type name in `information_schema.datalinks`
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/PlanExecutor.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/schema/DataLinksResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ShowStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaCreateDataLinkSqlTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/mongodb/MongoCreateDataLinkSqlTest.java
  hazelcast/src/main/java/com/hazelcast/datalink/impl/DataLinkServiceImpl.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/datalink/DataLinkCatalogEntry.java
  hazelcast/src/test/java/com/hazelcast/datalink/impl/DataLinkTestUtil.java
Labels: Type: Enhancement, Type: Cleanup, Source: Internal, Team: SQL

#24109 Fixes to DataLink SHARED option
  docs/design/sql/18-data-links.md
  hazelcast-sql/src/main/codegen/includes/parserImpls.ftl
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/infoschema/DataLinksTable.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/jdbc/JdbcSqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/parse/SqlCreateDataLink.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/infoschema/SqlInfoSchemaTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/MappingJdbcSqlConnectorTest.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/schema/datalink/DataLinkCatalogEntry.java
Labels: Team: SQL

#24119 Fix SqlDataLinkStatementTest failure
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/SqlDataLinkStatementTest.java
Labels: Type: Test-Failure, Team: SQL, SQL-only

#24117 Add Kafka Connect module to distribution package
  distribution/src/assembly/assembly-descriptor.xml
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24114 Remove import org.jetbrains.annotations.NotNull usages
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/impl/ReadKafkaConnectPTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/JobSummaryTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/offload/MapStoreOffloadingBouncingNodeTest.java
  hazelcast/src/test/java/com/hazelcast/map/merge/MapInternalStateSplitBrainTest.java
Labels: Type: Enhancement

#24118 Include stack trace in SQL client exceptions
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlExecuteMessageTask.java
  hazelcast/src/main/java/com/hazelcast/sql/impl/client/SqlFetchMessageTask.java
  hazelcast/src/test/resources/log4j2.xml
Labels: Type: Enhancement, Team: SQL

#24128 Add internal property for ClusterViewListenerService [HZ-2168]
  hazelcast/src/main/java/com/hazelcast/client/impl/ClusterViewListenerService.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Not Release Notes content, Module: CLI

#24125 Remove slow corrupted snapshot tests from PR builder runs
  hazelcast/src/test/java/com/hazelcast/jet/core/IndeterminateSnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/map/FailOnIndeterminateOperationStateOverrideTest.java
Labels: Type: Cleanup, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#24126 Reformat warning message for TCP keep alive socket options [HZ-1672]
  hazelcast/src/main/java/com/hazelcast/internal/nio/IOUtil.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: Config, Not Release Notes content

#24122 Fix GenericMapStoreIntegrationTest.testInstanceShutdown [HZ-2224]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
Labels: Source: Internal, Module: IMap, Not Release Notes content, Team: Platform

#24142 Fix GenericMapStoreIntegrationTest.testExceptionIsConstructable [HZ-2225]
  extensions/mapstore/src/test/java/com/hazelcast/mapstore/GenericMapStoreIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content, Team: Platform

#24044 Create Kubernetes Client only for API discovery mode [5.1.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/DnsEndpointResolver.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiEndpointResolver.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/DnsEndpointResolverTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointResolverTest.java
Labels: Type: Defect, Source: Community, Add to Release Notes, Module: Kubernetes, Team: Cloud Native

#24150 Remove duplicate annotation in KafkaConnectIntegrationTest
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectIntegrationTest.java
Labels: Type: Defect, Source: Internal, Not Release Notes content, Module: Jet, Team: Platform

#24113 Add test for shared HZ datalink in Pipeline.mapJournal
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/Sources_withEventJournalTest.java
Labels: Source: Internal, Team: Platform

#24148 Create assertSizeEventually method with collection supplier [HZ-2230]
  hazelcast/src/test/java/com/hazelcast/test/HazelcastTestSupport.java
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Team: Platform
