Repository hazelcast/hazelcast, pull requests merged in 2023-07, with the labels that each got.

#24835 Create new overload to allow passing parameters to Source.jdbc that takes the query string
  checkstyle/checkstyle.xml
  checkstyle/checkstyle_jet.xml
  extensions/mapstore/src/main/java/com/hazelcast/mapstore/GenericMapLoader.java
  hazelcast/src/main/java/com/hazelcast/internal/util/StringUtil.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/ReadJdbcP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/JdbcPropertyKeys.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/MySQLReadJdbcPPropertiesTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/PostgreReadJdbcPPropertiesTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ReadJdbcPPropertiesTest.java
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#24841 Fix K8s service port [CN-894] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesApiProvider.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesApiEndpointSlicesProviderTest.java
  hazelcast/src/test/java/com/hazelcast/kubernetes/KubernetesClientTest.java
Labels: Type: Defect, Source: Internal, Module: Discovery SPI, Module: Kubernetes, Team: Cloud Native

#24938 Bump Guava version from 32.0.0-jre to 32.0.1-jre [5.1.z]
  pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: OSGi

#24939 Bump Guava version from 32.0.0-jre to 32.0.1-jre [5.0.z]
  pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: OSGi

#24937 Bump Guava version from 32.0.0-jre to 32.0.1-jre [5.2.z]
  pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: OSGi

#24936 Bump Guava version from 32.0.0-jre to 32.0.1-jre [5.3.z]
  pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: OSGi

#24859 Honor local parallelism of fused vertices [HZ-2493]
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/transform/HashJoinTransform.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PeekTransform.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#24934 Set TCP idleTimeMillis and writeQueueSize metrics log level to INFO [MC-2151] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/internal/networking/nio/NioOutboundPipeline.java
Labels: Type: Enhancement, Backport, Source: Internal, Team: Management Center, Module: Metrics

#24930 Remove redundant broadcastAppendRequest during Raft heartbeat [HZ-2600]
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Team: Core, Type: Perf. Defect, Source: Internal, Module: CP Subsystem, Not Release Notes content

#24942 Honor local parallelism of fused vertices [HZ-2493] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/Planner.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/transform/HashJoinTransform.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/pipeline/transform/PeekTransform.java
  hazelcast/src/test/java/com/hazelcast/jet/pipeline/StreamStageTest.java
Labels: Type: Defect, Source: Internal, Team: SQL, Add to Release Notes, Module: Jet

#24940 Bump Guava version from 32.0.0-jre to 32.0.1-jre [4.2.z]
  hazelcast-sql-core/pom.xml
Labels: Team: Core, Type: Test-Failure, Source: Internal, Not Release Notes content, Module: OSGi

#24949 Bump maven-dependency-plugin from 8.2.1 to 8.3.1
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies

#24952 Bump maven-dependency-plugin from 8.2.1 to 8.3.1
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies

#24951 Bump maven-dependency-plugin from 8.2.1 to 8.3.1
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies

#24950 Bump maven-dependency-plugin from 6.5.3 to 8.3.1
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies

#24525 Add stream() method for convenient result traversal
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlQueryResultTest.java
  hazelcast/src/main/java/com/hazelcast/sql/SqlResult.java
Labels: Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#24948 Bump maven-dependency-plugin from 6.1.5 to 8.3.1
  pom.xml
Labels: Source: Internal, Not Release Notes content, dependencies

#24955 Ignore ReadJdbcPPropertiesTest tests on windows [HZ-2672]
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ReadJdbcPPropertiesTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#24910 Migration tool for 5.3.1 [HZ-2472]
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cache/CompatibilityCacheDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cache/CompatibilityWanCacheEntryView.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cluster/impl/CompatibilityClusterDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cluster/impl/CompatibilityExtendedBindMessage.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/cluster/impl/CompatibilityWanAuthorizationOp.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/map/CompatibilityMapDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/map/CompatibilityMerkleTreeNodeEntries.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/map/CompatibilityWanMapEntryView.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/nio/tcp/CompatibilitySendMemberHandshakeTask.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/serialization/impl/CompatibilityFactoryIdHelper.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/spi/impl/merge/CompatibilitySplitBrainDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/CompatibilityOSWanDataSerializerHook.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/CompatibilityReplicationEventObject.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/CompatibilityWanReplicationEvent.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/CompatibilityWanSupportingService.java
  hazelcast/src/main/java/com/hazelcast/internal/compatibility/wan/NoopCompatibilityWanMapSupportingService.java
  hazelcast/src/main/java/com/hazelcast/internal/nio/Packet.java
  hazelcast/src/main/java/com/hazelcast/internal/server/ServerContext.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/CompatibilityTcpServerControl.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/internal/server/tcp/TcpServerContext.java
  hazelcast/src/main/java/com/hazelcast/map/impl/AbstractMapServiceFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/DefaultMapServiceFactory.java
  hazelcast/src/main/java/com/hazelcast/map/impl/EntryViews.java
  hazelcast/src/main/java/com/hazelcast/map/impl/MapService.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/NodeEngine.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/PacketDispatcher.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/merge/MergingValueFactory.java
  hazelcast/src/main/java/com/hazelcast/spi/impl/operationservice/impl/OperationRunnerImpl.java
  hazelcast/src/main/resources/META-INF/services/com.hazelcast.CompatibilityDataSerializerHook
  hazelcast/src/test/java/com/hazelcast/client/starter/HazelcastClientStarterTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/DataSerializableConventionsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/PacketTest.java
  hazelcast/src/test/java/com/hazelcast/internal/server/MockServerContext.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/deployment/ProcessorClassLoaderTest.java
  hazelcast/src/test/java/com/hazelcast/serviceprovider/TestServiceDescriptorProvider.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/impl/ProbabilisticSplitBrainProtectionFunctionTest.java
  hazelcast/src/test/java/com/hazelcast/splitbrainprotection/impl/RecentlyActiveSplitBrainProtectionFunctionTest.java
  hazelcast/src/test/java/com/hazelcast/test/compatibility/CompatibilityTestUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastProxyFactory.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarter.java
  hazelcast/src/test/java/com/hazelcast/test/starter/HazelcastStarterUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/ReflectionUtils.java
  hazelcast/src/test/java/com/hazelcast/test/starter/answer/ClusterServiceAnswer.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AbstractConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/AddressConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/CacheConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/DynamicConfigurationAwareConfigConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/HazelcastExpiryPolicyConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/WanEventCountersConstructor.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/CacheConfigConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/ConfigConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/DynamicConfigurationAwareConfigConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/test/starter/constructor/test/HazelcastExpiryPolicyConstructorTest.java
  hazelcast/src/test/java/com/hazelcast/wan/map/DeleteMapMergePolicy.java
  hazelcast/src/test/resources/META-INF/services/com.hazelcast.SerializerHook
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: WAN

#24944 [BACKPORT] Do not try to connect to the old member list after the cluster changes [API-2086]
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
Labels: Type: Defect

#24945 [BACKPORT] Do not try to connect to the old member list after the cluster changes [API-2086]
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
Labels: Type: Defect

#24957 [BACKPORT] Do not try to connect to the old member list after the cluster changes [API-2086]
  hazelcast/src/main/java/com/hazelcast/client/impl/connection/tcp/TcpClientConnectionManager.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/ClientClusterService.java
  hazelcast/src/main/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImpl.java
  hazelcast/src/test/java/com/hazelcast/client/impl/spi/impl/ClientClusterServiceImplTest.java
Labels: Type: Defect

#24973 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Integration

#24975 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Integration

#24972 Fix backup op offloading for tstore maps
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapStepAwareOperation.java
Labels: Type: Defect, Team: Storage, Module: TStore

#24979 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Integration

#24977 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Integration

#24976 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Integration

#24974 Update owasp-check-suppressions.xml
  owasp-check-suppressions.xml
Labels: Source: Internal, Not Release Notes content, security, Team: Integration

#24908 Adjust LazyDefiningSpecificMemberPms implementation [HZ-1660]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/map/LazyDefiningSpecificMemberPms.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/LazyDefiningPMSTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, SQL-only

#24989 Run on partitioned index only if tstore is not enabled and map is HD [HZ-2624]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideEntryOpSteps.java
Labels: Type: Defect, Team: Storage

#24985 Disable the `RepairingTask` reconciliation in the test [API-2028]
  hazelcast/src/test/java/com/hazelcast/client/cache/impl/nearcache/ClientCacheNearCacheCacheOnUpdateTest.java
Labels: Type: Enhancement, Type: Test-Failure

#24978 Update initIsCooperative javadoc to include also get method
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
Labels: Source: Internal, Team: SQL, Not Release Notes content, Type: Documentation, Module: Jet

#24843 Update metrics for CPSession and Lock in CP Subsystem [HZ-2081]
  hazelcast/src/main/java/com/hazelcast/cp/internal/datastructures/lock/LockService.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/session/RaftSessionService.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: CP Subsystem, Add to Release Notes

#24836 Update persistence metric naming convention to use discriminators
  hazelcast/src/main/java/com/hazelcast/internal/metrics/MetricDescriptorConstants.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Metrics, Add to Release Notes

#24996 Add try-catch block to shutdown loop in the TestAwareInstanceFactory
  hazelcast/src/test/java/com/hazelcast/test/TestAwareInstanceFactory.java
Labels: Type: Defect, Team: Core, Source: Internal

#24899 Add join conditionType to EXPLAIN PLAN [HZ-2495]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinHashPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinNestedLoopPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/JoinPhysicalRel.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/physical/StreamToStreamJoinPhysicalRel.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/ExplainStatementTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, SQL-only, Module: SQL

#24987 Update docker images and ignore not supported tests for arm64 architecture [HZ-1641]
  extensions/cdc-debezium/src/test/java/com/hazelcast/jet/cdc/DebeziumCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/AbstractMySqlCdcIntegrationTest.java
  extensions/cdc-mysql/src/test/java/com/hazelcast/jet/cdc/mysql/MySqlCdcNetworkIntegrationTest.java
  extensions/cdc-postgres/src/test/java/com/hazelcast/jet/cdc/postgres/AbstractPostgresCdcIntegrationTest.java
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectJdbcIntegrationTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mssql/MSSQLSchemaJdbcSqlConnectorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mssql/MSSQLSinkIntoJdbcSqlConnectorTest.java
Labels: Source: Internal, Not Release Notes content, Team: Integration

#24954 Remove MD5Util class and related tests. [HZ-1417] [MC-1679]
  hazelcast/src/main/java/com/hazelcast/internal/util/MD5Util.java
  hazelcast/src/test/java/com/hazelcast/internal/util/MD5UtilTest.java
Labels: Type: Cleanup, Source: Internal, Team: Management Center, Module: Security

#24779 Retry in KinesisSinkP#saveToSnapshot [HZ-2545]
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/sink/KinesisSinkP.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/AbstractKinesisTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisLimitExceededIntegrationTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisTestHelper.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Team: Integration, Module: Kinesis Connector

#25001 Revert the versions of jira-tool-action
  .github/workflows/jira.yml
Labels: Source: Internal

#24999 Retry in KinesisSinkP#saveToSnapshot [HZ-2545] [5.3.z]
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/sink/KinesisSinkP.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/AbstractKinesisTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisLimitExceededIntegrationTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisTestHelper.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Team: Integration, Module: Kinesis Connector

#24574 Add Hazelcast Security Architecture image to Security overview
  docs/design/security/README.adoc
  docs/design/security/images/hazelcast_security_architecture.png
Labels: Team: Core, Source: Internal, Module: Security, Type: Documentation

#25000 Fix typo in DurationConfig.toString()
  hazelcast/src/main/java/com/hazelcast/config/CacheSimpleConfig.java
Labels: Type: Cleanup, Source: Community, Module: Config, Not Release Notes content

#25004 Fix backup operation offloading for tstore maps (#24972) [5.3.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/EntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/IMapStepAwareOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/UtilSteps.java
Labels: Type: Defect, Team: Storage, Module: TStore

#24994 Update initIsCooperative javadoc to include also get method
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
Labels: Team: Documentation, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#24891 Run on partitioned index only if tstore is not enabled and map is HD [HZ-2624] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/PartitionWideEntryOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/steps/PartitionWideEntryOpSteps.java
Labels: Type: Defect, Team: Storage, Module: TStore

#25005 Register record store in epoch on split brain scenarious [HZ-2701]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMergeRunnable.java
  hazelcast/src/test/java/com/hazelcast/test/backup/MapBackupAccessor.java
Labels: Type: Defect, Priority: High, Source: Internal, Estimation: S, Team: Storage, severity:high, Module: TStore

#24596 Jet member pruning TDD [HZ-2456]
  docs/design/jet/025-jet-job-partition-pruning.md
Labels: Type: Enhancement, Source: Internal, Team: SQL, Module: Jet

#25019 Stabilize the ProtocolNegotiationTest (5.0.z)
  hazelcast/src/test/java/com/hazelcast/internal/server/tcp/ProtocolNegotiationTest.java
Labels: Team: Core, Type: Test-Failure, Backport, Source: Internal, Module: Network I/O

#24995 Update initIsCooperative javadoc to include also get method [5.2.z]
  hazelcast/src/main/java/com/hazelcast/jet/core/ProcessorMetaSupplier.java
Labels: Source: Internal, Team: SQL, Not Release Notes content, Type: Documentation, Module: Jet

#24902 Use MapContainer to filter maps to be cleaned up when migrating off a partition [HZ-2643] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/test/java/com/hazelcast/map/MapMigrationRecordStoreExistenceTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#24901 Use MapContainer to filter maps to be cleaned up when migrating off a partition [HZ-2643] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapMigrationAwareService.java
  hazelcast/src/main/java/com/hazelcast/map/impl/PartitionContainer.java
  hazelcast/src/test/java/com/hazelcast/map/MapMigrationRecordStoreExistenceTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: IMap

#24990 Drop ifSupported methods in AsyncSocketOptions [5.3.z]
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncServerSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketBuilder.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketOptions.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncServerSocketOptionsTest.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptionsTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: TPC, Team: Alto

#24941 Add support for WAN replication of IMap/ICache evictions [HZ-2619]
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25002 Retry in KinesisSinkP#saveToSnapshot [HZ-2545] [5.2.z]
  extensions/kinesis/src/main/java/com/hazelcast/jet/kinesis/impl/sink/KinesisSinkP.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/AbstractKinesisTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisFailureTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisIntegrationTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisLimitExceededIntegrationTest.java
  extensions/kinesis/src/test/java/com/hazelcast/jet/kinesis/KinesisTestHelper.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetTestSupport.java
Labels: Type: Defect, Source: Internal, Team: Integration, Module: Kinesis Connector

#24988 Fixed tstore configuration bugs [HZ-2042]
  hazelcast/src/main/java/com/hazelcast/config/Config.java
  hazelcast/src/main/resources/hazelcast-config-5.4.xsd
  hazelcast/src/test/java/com/hazelcast/config/ConfigTest.java
  hazelcast/src/test/java/com/hazelcast/config/XMLConfigBuilderTest.java
  hazelcast/src/test/java/com/hazelcast/config/YamlConfigBuilderTest.java
Labels: Module: Config, Not Release Notes content, Team: Storage, Module: TStore

#25024 Commit Kafka transaction in Kafka Sink when running with the processing guarantee [HZ-2726]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaIntegrationSqlTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/TransactionPoolSnapshotUtility.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25026 Add assumeDockerEnabled to ReadJdbcPPropertiesTest
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/ReadJdbcPPropertiesTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25030 Set version for maven-deploy-plugin to remove warning in build [HZ-2381]
  pom.xml
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Team: Integration, Module: Maven build

#24991 Remove SO_TIMEOUT option [5.3.z]
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptions.java
  hazelcast-tpc-engine/src/main/java/com/hazelcast/internal/tpcengine/nio/NioAsyncSocketOptions.java
  hazelcast-tpc-engine/src/test/java/com/hazelcast/internal/tpcengine/net/AsyncSocketOptionsTest.java
Labels: Type: Cleanup, Source: Internal, Not Release Notes content, Module: TPC, Team: Alto

#25025 Sets connection and read timeout values of RestClient used in Kubernetes Discovery [CN-908]
  hazelcast/src/main/java/com/hazelcast/aws/AwsProperties.java
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25034 Improve assertion in SplitBrainTest [HZ-1826]
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25035 Improve assertion in SplitBrainTest [HZ-1826] [5.3.z]
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25036 Improve assertion in SplitBrainTest [HZ-1826] [5.2.z]
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25037 Improve assertion in SplitBrainTest [HZ-1826] [5.1.z]
  hazelcast/src/test/java/com/hazelcast/jet/core/SplitBrainTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25040 Sets connection and read timeout values of RestClient used in Kubernetes Discovery [CN-908] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Backport, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25041 Sets connection and read timeout values of RestClient used in Kubernetes Discovery [CN-908] [5.2.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Backport, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25042 Sets connection and read timeout values of RestClient used in Kubernetes Discovery [CN-908] [5.1.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Backport, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#25043 Sets connection and read timeout values of RestClient used in Kubernetes Discovery [CN-908] [5.0.z]
  hazelcast/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java
Labels: Backport, Source: Internal, Module: Discovery SPI, Not Release Notes content, Team: Cloud Native

#24827 MapStore support for tiered store [HZ-1680]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlOrderByTest.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AwaitMapFlushOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/NotifyMapFlushOperation.java
  hazelcast/src/test/java/com/hazelcast/client/listeners/AbstractListenersOnReconnectTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/AbstractMapStoreTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderDistributedTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryLoaderSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/EntryStoreSimpleTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderFailoverTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapLoaderMultiNodeTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreDataLoadingContinuesWhenNodeJoins.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/EntryStoreWriteBehindDistributedTest.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/writebehind/EntryStoreWriteBehindTest.java
  hazelcast/src/test/java/com/hazelcast/replicatedmap/ReplicatedMapTtlTest.java
  hazelcast/src/test/java/com/hazelcast/test/TestHazelcastInstanceFactory.java
Labels: Type: Enhancement, Team: Storage, Module: TStore

#24804 Upgrade to jakarta.jms [HZ-2572]
  hazelcast/pom.xml
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SinkProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/core/processor/SourceProcessors.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/StreamJmsP.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/connector/WriteJmsP.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/JmsSinkBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/JmsSourceBuilder.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sinks.java
  hazelcast/src/main/java/com/hazelcast/jet/pipeline/Sources.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/operations/JoinShutdownTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsSinkIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTestBase.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTest_ActiveMqArtemis.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegrationTest_RabbitMQ.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsSourceIntegration_NonSharedClusterTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/JmsTestUtil.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/connector/StreamJmsPTest.java
  pom.xml
Labels: Type: Enhancement, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25039 Add support for WAN replication of IMap/ICache evictions (#24941) [5.3.z]
  hazelcast/src/main/java/com/hazelcast/cache/impl/AbstractCacheRecordStore.java
  hazelcast/src/main/java/com/hazelcast/map/impl/recordstore/DefaultRecordStore.java
  hazelcast/src/main/java/com/hazelcast/spi/properties/ClusterProperty.java
Labels: Type: Enhancement, Team: Core, Source: Internal, Module: WAN, Add to Release Notes

#25051 Remove Hazelcast 3 connector [HZ-2744]
  distribution/pom.xml
  distribution/src/assembly/assembly-descriptor.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/ArrayMap.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Enrichment.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sinks.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Sources.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/Hz3Util.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/ReadMapOrCacheP.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/WriteMapP.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/main/java/com/hazelcast/connector/package-info.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/BaseHz3Test.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3EnrichmentTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SerializableTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SinksTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-common/src/test/java/com/hazelcast/connector/Hz3SourcesTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/AsyncMapImpl.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/Hz3ImplUtil.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/MapAdapterImpl.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/MapReader.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/java/com/hazelcast/connector/map/impl/MigrationWatcher.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/main/javadoc/.gitkeep
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/test/java/com/hazelcast/TestSerialization.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/test/java/com/hazelcast/internal/serialization/impl/Hz3ImplSerializableTest.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-impl/src/test/java/com/hazelcast/internal/serialization/impl/TestObject.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/pom.xml
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/src/main/java/com/hazelcast/connector/map/AsyncMap.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/src/main/java/com/hazelcast/connector/map/Hz3MapAdapter.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/src/main/java/com/hazelcast/connector/map/Reader.java
  extensions/hazelcast-3-connector/hazelcast-3-connector-interface/src/main/java/com/hazelcast/connector/map/package-info.java
  extensions/hazelcast-3-connector/pom.xml
  extensions/pom.xml
  hazelcast-coverage-report/pom.xml
  pom.xml
Labels: Type: Cleanup, Source: Internal, Add to Release Notes, Team: Integration

#25053 Avoid re-creating MapContainer when collecting statistics [HZ-2745]
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
Labels: Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content, Team: Integration

#25050 Don't require ManagementPermission in the hz-cli sql command [HZ-2577] (5.3.z)
  hazelcast/src/main/java/com/hazelcast/client/console/SqlConsole.java
Labels: Type: Defect, Team: Core, Backport, Source: Internal, Module: Security

#24809 Fix incorrect info in README.md
  README.md
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content

#24782 Ignore flaky KafkaConnectIntegrationTest.test_scaling test
  extensions/kafka-connect/src/test/java/com/hazelcast/jet/kafka/connect/KafkaConnectIntegrationTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25028 Make MigrationListener timers use wall-clock not CPU time [HZ-2651]
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationManager.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationStats.java
  hazelcast/src/test/java/com/hazelcast/partition/PartitionMigrationListenerTest.java
Labels: Type: Defect, Team: Core, Source: Internal, Module: Partitioning, Add to Release Notes

#25018 Improve stuck threads reporting in SqlSplitBrainTest. Test repeated split brains [HZ-2714]
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql_nightly/SqlSplitBrainTest.java
  hazelcast/src/test/java/com/hazelcast/jet/core/JetSplitBrainTestSupport.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#25056 Avoid re-creating MapContainer when collecting statistics [HZ-2745] [5.3.z]
  hazelcast/src/main/java/com/hazelcast/map/impl/LocalMapStatsProvider.java
Labels: Type: Test-Failure, Source: Internal, Module: IMap, Not Release Notes content, Team: Integration

#25055 Introduce a flow control to fix exponential backoff behaviour for CP subsystem [HZ-2702]
  NOTICE
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/AppendFailureResponse.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/AppendRequest.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/AppendSuccessResponse.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/InstallSnapshot.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendFailureResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendRequestHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendSuccessResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/InstallSnapshotHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/FollowerState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/LeadershipTransferTask.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SlowFollowerBackoffTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/state/FollowerStateTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftGroup.java
Labels: Type: Defect, Type: Enhancement, Team: Core, Type: Perf. Defect, Source: Internal, Module: CP Subsystem, Internal breaking change, Add to Release Notes

#25070 Remove redundant broadcastAppendRequest during Raft heartbeat [HZ-2600] [5.3.z] (#24930)
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
Labels: Team: Core, Backport, Type: Perf. Defect, Source: Internal, Module: CP Subsystem, Not Release Notes content

#25074 Introduce a flow control to fix exponential backoff behaviour for CP subsystem [HZ-2702] [5.3.z] (#25055)
  NOTICE
  checkstyle/suppressions.xml
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/RaftNodeImpl.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/AppendFailureResponse.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/AppendRequest.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/AppendSuccessResponse.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/dto/InstallSnapshot.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendFailureResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendRequestHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/AppendSuccessResponseHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/handler/InstallSnapshotHandlerTask.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/state/FollowerState.java
  hazelcast/src/main/java/com/hazelcast/cp/internal/raft/impl/task/LeadershipTransferTask.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SlowFollowerBackoffTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/SnapshotTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/state/FollowerStateTest.java
  hazelcast/src/test/java/com/hazelcast/cp/internal/raft/impl/testing/LocalRaftGroup.java
Labels: Type: Defect, Type: Enhancement, Team: Core, Backport, Type: Perf. Defect, Source: Internal, Module: CP Subsystem, Add to Release Notes

#25076 Don't fail consistency check when partitions not inited [HZ-2716]
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/DataConnectionConsistencyChecker.java
  hazelcast-sql/src/test/java/com/hazelcast/dataconnection/impl/DataConnectionConsistencyCheckerTest.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/IPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
Labels: Type: Defect, Team: Core, Source: Internal, Team: SQL, Not Release Notes content, Module: SQL

#25080 Commit Kafka transaction in Kafka Sink when running with the processing guarantee [HZ-2726] [5.3.z]
  extensions/kafka/src/main/java/com/hazelcast/jet/kafka/impl/WriteKafkaP.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaIntegrationSqlTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/processor/TransactionPoolSnapshotUtility.java
Labels: Type: Defect, Source: Internal, Add to Release Notes, Module: Jet, Team: Integration

#25003 Test SQL/Avro schema evolution [HZ-2507] [HZ-2508]
  extensions/kafka/pom.xml
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/DockerizedKafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/DockerizedRedPandaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/EmbeddedKafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
  extensions/mongodb/pom.xml
  hazelcast-sql/pom.xml
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/SqlConnector.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/AvroUpsertTarget.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/inject/AvroUpsertTargetDescriptor.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroSchemaEvolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/AvroUpsertTargetDescriptorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/inject/AvroUpsertTargetTest.java
  pom.xml
Labels: Type: Enhancement, Source: Internal, Team: SQL, Not Release Notes content, Module: SQL

#25081 Don't fail consistency check when partitions not inited [HZ-2716] [5.3.z]
  hazelcast-sql/src/main/java/com/hazelcast/sql/impl/DataConnectionConsistencyChecker.java
  hazelcast-sql/src/test/java/com/hazelcast/dataconnection/impl/DataConnectionConsistencyCheckerTest.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/IPartitionService.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/InternalPartitionServiceImpl.java
Labels: Type: Defect, Team: Core, Source: Internal, Team: SQL, Module: SQL

#24659 Catch STARTING -> RUNNING transition in JobStatusListenerTest [HZ-2447]
  hazelcast/src/test/java/com/hazelcast/jet/JobStatusListenerTest.java
Labels: Type: Test-Failure, Source: Internal, Team: SQL, Not Release Notes content, Module: Jet

#25072 Make MigrationListener timers use wall-clock not CPU time [HZ-2651]
  hazelcast/src/main/java/com/hazelcast/internal/metrics/impl/ProbeUtils.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationStats.java
  hazelcast/src/main/java/com/hazelcast/internal/partition/impl/MigrationTimer.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/FieldProbeTest.java
Labels: Type: Defect, Team: Core, Type: Test-Failure, Source: Internal, Module: Partitioning

#24840 Support nullable types when reading Avro files [HZ-2507]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/file/AvroResolver.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataAvroResolver.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/AvroResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/FileUtil.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/file/SqlAvroTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/KafkaSqlTestSupport.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroSchemaEvolutionTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/kafka/SqlAvroTest.java
  hazelcast/src/main/java/com/hazelcast/jet/impl/util/ExceptionUtil.java
Labels: Type: Enhancement, Source: Internal, Team: SQL, Add to Release Notes, Module: SQL

#25061 Stop partition compactor before migrating compactor [HZ-2697]
  hazelcast/src/main/java/com/hazelcast/map/impl/MapServiceContextImpl.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/AbstractMapLocalOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/MapPartitionDestroyOperation.java
Labels: Type: Defect, Team: Storage, Module: TStore

#25094 Update janino to 3.1.10 [5.3.z]
  pom.xml
Labels: Source: Internal, Add to Release Notes, dependencies, Team: Integration, Module: Maven build

#25078 Cleanup incorrect usage of Mockito
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/PlanExecutorTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/SupportedDatabasesTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/h2/H2UpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/mysql/MySQLUpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/jdbc/postgres/PostgresUpsertQueryBuilderTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/keyvalue/KvMetadataResolversTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/connector/map/JoinerTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/parse/QueryParserTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/DataConnectionResolverTest.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/impl/schema/TableResolverImplTest.java
  hazelcast/src/test/java/com/hazelcast/cache/impl/operation/OnJoinCacheOperationTest.java
  hazelcast/src/test/java/com/hazelcast/cluster/memberselector/MemberSelectorsTest.java
  hazelcast/src/test/java/com/hazelcast/internal/cluster/impl/DiscoveryJoinerTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/CompositeMetricsCollectorTest.java
  hazelcast/src/test/java/com/hazelcast/internal/metrics/impl/MetricsServiceTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/phonehome/PhoneHomeIntegrationTest.java
  hazelcast/src/test/java/com/hazelcast/internal/util/scheduler/SecondsBasedEntryTaskSchedulerTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/MockSnapshotContext.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/execution/ProcessorTaskletTest_Blocking.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStatusTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/submitjob/memberside/JobUploadStoreTest.java
  hazelcast/src/test/java/com/hazelcast/jet/impl/util/AsyncSnapshotWriterImplTest.java
  hazelcast/src/test/java/com/hazelcast/mock/MockUtil.java
  hazelcast/src/test/java/com/hazelcast/osgi/HazelcastOSGiInstanceTest.java
  hazelcast/src/test/java/com/hazelcast/ringbuffer/impl/RingbufferStoreFailureConsistencyTest.java
  hazelcast/src/test/java/com/hazelcast/test/OverridePropertyRuleMockTest.java
Labels: Team: Core, Type: Cleanup, Source: Internal, Not Release Notes content

#25099 Stop partition compactor before migrating compactor[HZ-2697]
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/KeyLoadStatusOperation.java
  hazelcast/src/main/java/com/hazelcast/map/impl/operation/TriggerLoadIfNeededOperation.java
  hazelcast/src/test/java/com/hazelcast/map/impl/mapstore/MapStoreTest.java
Labels: Team: Storage, Module: TStore

#25096 Make StreamKafkaPTest less flaky [HZ-2779]
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/KafkaTestSupport.java
  extensions/kafka/src/test/java/com/hazelcast/jet/kafka/impl/StreamKafkaPTest.java
Labels: Type: Test-Failure, Source: Internal, Not Release Notes content, Module: Jet, Team: Integration

#25077 Prunable `UNION` verification tests [HZ-2693]
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/CalciteSqlOptimizer.java
  hazelcast-sql/src/main/java/com/hazelcast/jet/sql/impl/opt/metadata/HazelcastRelMdPrunability.java
  hazelcast-sql/src/test/java/com/hazelcast/jet/sql/SqlUnionTest.java
Labels: Type: Enhancement, Source: Internal, Team: SQL

#25073 Allow overriding default serializer for compact inner fields [API-2088]
  hazelcast/src/main/java/com/hazelcast/internal/serialization/impl/AbstractSerializationService.java
  hazelcast/src/test/java/com/hazelcast/internal/serialization/impl/compact/CompactStreamSerializerTest.java
  hazelcast/src/test/java/example/serialization/CompactWithInnerFieldAsUuid.java
  hazelcast/src/test/java/example/serialization/CustomUUIDSerializer.java
Labels: Type: Enhancement
